[2014-11-05 21:15] theVKC opened #53 "Training case creator"
Task list:

- [x] Add most panels to script
- [x] Add BILS to script
- [x] Add COEX to script
- [x] Add DFLN to script
- [x] Add WKEX to script
- [x] Add FMED to script
- [x] Add data validation features to spreadsheet
- [x] Approves HC
- [x] Approves cash
- [x] Allows birthdates other than 1/1
- [x] Shift DOA to a CM/01/CY type of approach
- [x] Merge custom functions into main library
- [x] Test

[2014-11-06 19:55] theVKC opened #59 "Replace excel functionality on CSES"
The CSES scrubber was one of the first scripts I wrote, and I didn't really "get" VBScript arrays back then. As such, I did a crappy workaround and used a hidden Excel sheet. This had an advantage of being easy to triage/debug, but it's now causing some problems in a county where they do not have Excel access. As such, I want to consider (possibly for a January release target and not the upcoming)

[2014-11-11 00:04] theVKC opened #73 "Script for updating REVW for exempt HC IRs"
A script could be deployed which would check income panels for EI, and then auto-update the codes on STAT/REVW for each case that is exempt from providing one for HC.

@CDPotter, @RobertKalb, and @ramonalisa1, this is the script formerly known as "paperless". Need to move it from Anoka's "County Specific" to DHS' "state supported" list. But, want to do some tweaking around the whole "adult cases o

[2014-11-11 00:08] theVKC opened #76 "DHS-5181"
We would like to be able to fill out Maxis Stat panels and case note 5181 information.

The requester sent me a sample, and I've begun working on it. Hoping for release in time for the beta testing this month.

[2014-11-11 00:09] theVKC opened #77 "Sponsor Income UI FIAT"
For the purpose of MA when sponsor have provided income to be deemed to Sponsored LPR'S and need to be fiated as unearned income for sponsored LPR'S when applicable.

If a worker create a spreadsheet like the one attached, the income in the column Total income to be deemed could be fiated into unearned income for applicable sponsored LPR'S.
as stated in the HC FIAT workaround list 0712.doc

[2014-11-11 00:11] theVKC opened #78 "RETRO HC FIATer"
@lpshanley, I know you were working on it, and I know that Hennepin has been playing with it. Is SLC using it already? Any known issues? Think we could release to the beta counties for more testing?

[2014-11-11 00:11] theVKC opened #79 "Add a program"
Add a new Program Script : when we add QMB or or other HC program we dont need a new applications. When MFIP closes and SNAP opens we do not require a CAF are just some examples.

[2014-11-11 00:12] theVKC opened #80 "Medical Opinion Form received"
MEDICAL OPINION FORM
MEDICAL OPINION FORM RECEIVED (Date)
DIAGNOSIS...................................
THE CONDITION WILL LAST..................... (<30 days,30-45 days,>45 days)
CLIENT IS ON A PRESCRIBED TREATMENT PLAN.... Y or N
IS CLIENT FOLLOWING TREATMENT PLAN.......... Y or N
CAN THE CLIENT WORK OVER 4HRS PER DAY....... Y or N
THE CONDITION IS............................ (Temporary/Permanent

[2014-11-11 00:14] theVKC opened #81 "MTAF Case Note Script"
A family cash worker asked if there was a possibilty of getting a script for case noting when they receive a MTAF (MN Transition Application Form).
*Note- I have no idea about this because I personally don't work with DWP*

---

I asked the requester, who suggested this:

Date MTAF recd:
First month of MFIP/WB:
Household Composition:
Earned Income:
Unearned Income:
Referral to Employment services

[2014-11-11 00:19] theVKC opened #84 "Dynamic "agency customized" script selector"
This would dynamically create a dialog for all scripts in a directory, such as a "agency customized" directory, using filesystemobject to scan the folder, similar to the existing HH member checker. This could help agencies not have to create Power Pads for certain specialty scripts they create.

[2014-11-11 00:20] theVKC opened #85 "WCOM for duplicate assistance notice text"
MAXIS does not generate correct notice text in some instances involving duplicate assistance. The idea has been floated to create a script to do this. We're doing more research on the WCOM specifics now, and will create a new script when this info comes in.

Any takers?

[2014-11-11 00:20] theVKC opened #86 "NOTES - Approved Programs, add features for SNAP opening"
Script for SNAP including h/h comp, utility deduction used, rent amount pd, income, ID verifs, etc. to populate the opening case note.
Maybe it could include the amount issued too?

thanks!

[2014-11-11 00:21] theVKC opened #87 "SNAP E&T appointment letter"
What do you think, @courtrightd? Feel like it's ready to release?

[2014-11-11 00:22] theVKC opened #88 "MA-EPD FMED updater"
Idea: make a script that updates FMED with the MA-EPD premium, to automate the beginning of the deduction. Evaluate adding reminders to the CAF and CSR scripts as well.

[2014-11-11 00:23] theVKC opened #89 "Addendum Script"
A script to case note when you get an Addendum. Like when a new born is added to the case or father of children move into HH, just for a couple examples.
The script could include a lot of the same things that the new CAF script has, as the addendum basically asked the same thing as the CAF, but just about the person being added.

[2014-11-11 00:28] theVKC opened #91 "ACTIONS - Paystubs Received: Allow worker to enter more than 5 pay stubs"
Could this script be updated to allow the worker to enter more than 5 paystubs?  (Ex: you can enter up to 10 pay stubs on the PIC if you shift+PF7/8.)
This would be really helpful if you have people that are paid weekly and/or have widely varying income.

Originally suggested by X164414

[2014-11-11 00:40] theVKC opened #96 "MEMOS - Appointment letter: recertification wording"
Originally submitted by X121450:

If the appointment is in the office, they don’t need to send their forms in before the appointment.
The memo says “Remember to send in your forms before the interview” regardless if you select phone or in office.

Also for recertifications it should say "If we do not hear from you by 10/31/2014 your case will close" rather than the current wording which says we wi

[2014-11-11 01:00] theVKC opened #106 "FUNCTIONS FILE: INSA showing coverage for all HH membs as MEMB 01?"
This was reported by X164414. I'm guessing we just need to build in a fix for showing who has what INSA. Looking for takers on this one.

[2014-11-14 21:01] theVKC opened #136 "Add BILS to script"

[2014-11-14 21:01] theVKC opened #137 "Add COEX to script"

[2014-11-14 21:01] theVKC opened #138 "Add DFLN to script"

[2014-11-14 21:03] theVKC opened #139 "Add WKEX to script"

[2014-11-14 21:03] theVKC opened #141 "Add FMED to script"

[2014-11-16 02:48] theVKC opened #148 "Add data validation features to spreadsheet"
Unfortunately, we didn't have time for this yesterday. I'm adding bits and pieces of data validation here and there, but it won't be comprehensive. Anyone interested in taking it on?

[2014-11-17 02:39] theVKC opened #150 "URGENT: needs to approve Health Care"
I have some old (ancient) code which may help, but I've totally run out of time to do it:

https://github.com/theVKC/Anoka-Historical-Scripts/tree/master/Training%20case%20creators

If someone wants to steal my code (this worked on family HC as well as adult), or start fresh, we don't have a training case creator without this.

My advice: use Krabappel to make the fake case, then use a separate sc

[2014-11-17 02:40] theVKC opened #151 "URGENT: needs to approve cash"
I have some old (ancient) code which may help, but I've totally run out of time to do it:

https://github.com/theVKC/Anoka-Historical-Scripts/tree/master/Training%20case%20creators

If someone wants to steal my code (this worked on family cash but not GA/MSA), or start fresh, we don't have a training case creator without this.

My advice: use Krabappel to make the fake case, then use a separate sc

[2014-11-18 17:46] theVKC opened #159 "FIAT GRH budget with income"
Suggested by x109578:
Requesting a script to FIAT GRH budget with income, as MAXIS does not pull it.
---
Any takers?

[2014-11-22 22:03] theVKC opened #180 "Idea: script to create a multidimensional array for pulling active case worker info"
Script can create an array in functions file (or used by functions file) which displays all users, x1s, and units. Could replace REPT/USER for looking up agency contacts. Imagining transfer case might be helped by this.

[2014-11-23 20:04] theVKC opened #181 "Bring CAF1 scripts from Anoka to state, and bulkify them"
These could be useful elsewhere.

[2014-11-24 14:16] theVKC opened #184 "ACTIONS - Send SVES: add option for case note when it's sent"
Submitted by X170594

---

When the Send SVES script is used could we add that it does a case/note staying that one was sent? Example case/note could be: SVES Qury sent for memb 01 Thanks!

---

This would have to be an option (not every time, as lots of folks would be annoyed with a few dozen case notes around COLA), and we have to be careful about the wording due to FTI issues. Any takers?

[2014-11-24 14:21] theVKC opened #185 "BULK - Pull data into Excel: LTC recipient amount"
Submitted by X171601

---

Would like for the recipient amount to be included in the information in the excel spreadsheet.

---

I'm presuming she means the LTC-GRH list generator script, but it isn't clear from the request. Will follow up and update this ticket.

[2014-11-24 14:30] theVKC opened #186 ""Income explanation" case note template"
This one would please everyone, it seems. A comprehensive case note template providing a lot of detail when income of any type is received. Points that need to be part of this include:

* How did you decide on the amount budgeted? (Last 30 days, last 60 days, client said it stopped, etc)
* Do you have any expectations that it'll change?
* Did you discuss this budget idea with the client prior to b

[2014-11-24 18:33] theVKC opened #188 "Allow birth dates other than 01/01"
This came from Stearns County. It's not considered core functionality, but it would allow training scenarios to more closely match production conditions, and I see that as useful. My thought is adding a "MM/DD" cell to each HH memb, right above the "age" cell (so that it's dynamically updated each year).

[2014-11-24 22:56] theVKC opened #193 "JOBS: not entering hours worked"
It's erroring out because it isn't entering the hours worked in pro and retro.

[2014-11-24 23:00] theVKC opened #194 "ELIG FS: "banging head against wall" not always working"
It isn't always getting to the approval. I think that if it catches at "just the right time", it'll bounce back to SELF and this tricks the script into thinking it approved. My solution would be to replace the attempt to get to ELIG/FS with an attempt to get to STAT/SUMM (using `MAXIS_background_check`). @CDPotter  or @RobertFewins-Kalb, I think this function belonged to one of you. Care to take i

[2014-11-26 23:03] theVKC opened #202 "ACTIONS - Transfer case issues"
I got an opportunity to test this a bit today, based on an issue reported by Olmsted. Basically, the transfer dates for county-to-county were being split, then reconstituted on the window. This was causing issues with some folks using 4 digit years.

That's an easy fix (I put the `create_MAXIS_friendly_date` function to good use), but there's some instances of the "within the county" version being

[2014-11-28 04:18] theVKC opened #207 "Make a PND1 list generator script"

[2014-12-04 02:42] theVKC opened #219 "Panels which need an "actual date" need to set that date as the APPL date"
I have it programmed to do the current date. Unfortunately, if the current date is one month (12, in our case), and the APPL month is a different month (11, in our case), it errors out. We should change it to the APPL date.

[2014-12-04 03:18] theVKC opened #220 "Postponed verification case note template"
A place to pop info about postponed verifs for expedited, such as SHEL unverified, income/stwk unverified, and etc. It should TIKL for return after the first of the month (so that the worker can remember to approve the lower results, or look for the new document).

I'm going to try and take this on Thursday during scriptwriter training.

[2014-12-04 17:33] courtrightd opened #222 "Enhancements to MEMO - Appointment Letter"
In SLC, I have modified this script in the following ways:
1. added checkbox for reschedule which changes the case note only to say client requested reschedule instead of "new app received"
2. changed last contact day to be interview date if interview is scheduled beyond 30 days
3. added logic to the memo that looks to see if notices are sent to AREP and SWKR, and sends them copies if appropriate.

[2014-12-05 14:57] courtrightd opened #223 "BULK - Rept / actv cola income bug - missing cases"
The script was missing cola income types that were listed on the first unea panel for member 01, due to the entering of member number and transmit line skipping the panel.  Added a fix, I will pull request.

[2014-12-08 19:16] theVKC opened #233 "PDTE: PND2 should break down stats by worker"
Nothing too terribly controversial, but a worker_array combined with some comparative Excel formulas could really kick up the data collection power here. I'll try to bang it out tonight since there's a meeting on the subject tomorrow afternoon. :)

[2014-12-11 21:48] ramonalisa1 opened #241 "Request for New Hire and Paystubs received"
Received a request to add something about checking for CEI Insurance when a New Hire and/or Paystubs received script is run.  Possibly just another check box as a reminder to send out CEI forms for new hires?  I would try to tackle this, but I am pretty swamped this month at the county.....

[2014-12-15 16:38] theVKC opened #243 "Add LTC recipient amount to LTC/GRH List Generator"
From Sherburne:

It should be under the member obligation in MOBL, which then pulls into SPDN or LTCS or EWWO, depending on eligibility.

Yes, we are requesting the recipient amount to be an additional item to be pulled with the “LTC/GRH list generator” when pulling the information into Excel.  In an effort to make COLA processing a little more efficient on the LTC workers they would like to have

[2014-12-16 03:19] theVKC opened #246 "Idea: a dynamic dialog which can list all files in a directory"
This could be used by, oh I don't know, the CASE/NOTE from Excel list script. My thought is it could look for a directory (C:\X\Y\Z), and there'll be a "back" button (which would go from C:\X\Y\Z to C:\X\Y), and radiobuttons displaying a list of all of the files (or the first 20 with a "next/prev"). It could facilitate navigation to specific files.

@RobertFewins-Kalb, I've seen you do something s

[2014-12-16 13:44] theVKC opened #247 "Idea: if we can't create more than x dialogs, just keep recreating the same dialog"
So, there's a dialog max, right? Something like 6 or 7, and less in cases of scripts loading other scripts, right?

What if the elements of the dialog are pumped into a function, where we can change them dynamically? I.e. `If x = y then Dialog_function_omega(CAF_dialog)`? Then, our dialogs could contain the elements of the dialog itself, but always be referred to programmatically by the same dialo

[2014-12-19 04:51] theVKC opened #251 "NOTES - burial assets: Replace "are you sure" dialogs with MsgBoxes"
...because it could get messy, what with there being SO MANY DIALOGS.

[2014-12-22 14:36] theVKC opened #260 "ACTIONS - Update Worker Signature: needs dialog and not InputBox"
Minor bug, but... the InputBox gets cut off when opened in BlueZone (as opposed to opened as a wscript script). Anyone want to take a stab at fixing this?

[2014-12-22 20:03] theVKC opened #261 "ACTIONS - Copy screens to Word: add INFC screens?"
Seems logical. Any takers?

[2014-12-23 04:25] theVKC opened #262 "the list_of_addresses should be a multi-dimensional array"
Just makes more sense that way, and is probably less error prone.

[2014-12-29 15:26] theVKC opened #271 "eDRS script"
Basically, follows the new rules of the eDRS process. I need to do a bit more research (need to get comfortable with the process) before I can take it on, but if anyone else wants to tackle it, let's do it.

[2014-12-29 18:22] theVKC opened #272 "MFIP sanction/DWP disqualification (EASY new script idea)"
This one will be a simple one if anyone wants to create it. Submitted by X171683:

The following items could be included in the script:

* Type of sanction (Employment Services or Child Support)
* Effective date of sanction/disqualification
* Number of occurrences
* Vendor information - if we are vendoring due to the sanction, vendor number, etc.
* Status Update information (documenting that we se

[2014-12-30 22:32] theVKC opened #273 "ACTIONS - View INFC didn't make it to the new Power Pad"
It was renamed "NAV - View INFC", and because of that it got lost. I'll look at it.

[2014-12-31 19:43] theVKC opened #279 "Can NEW HIRE send a MEMO requesting proof?"
Good news, everyone!

We'll be discussing the NEW HIRE script at the next error review committee meeting. Something we're considering is whether-or-not to allow sending a VERY SPECIFIC SPEC/MEMO for requesting proofs, as opposed to the current Verif B & EV forms. Certainly not decided yet, but this could be a real time saver for workers. More to come on this for sure.

Putting an issue in here so

[2015-01-01 21:33] ramonalisa1 commented on #241
Sorry I have been off the radar for a while.  Trying to fit in Scripts and Supervisisio is getting tough.  Here is the policy from the HCPM.  We are to review to see if other insurance is cost effective at application, renwal or when a change is reported where CEI may be involved.  I know my workers forget to address then when checking New Hires and paystubs.  This may be pretty low on this list s

[2015-01-01 21:38] ramonalisa1 opened #282 "Change in Self-Employment Policy"
Scripts puloing data from STAT/BUSI may need to be updated for 2/1/15 as there is a change in which self-employment will be calculated.  New fields are being added to STAT/BUSI.  See policy:

Self-Employment Handout for 2/1/15
The purpose of this handout is to give further guidance in implementing the new simplified self-employment policy effective 2/1/15.

The new simplified self-employment polic

[2015-01-01 21:39] ramonalisa1 commented on #282
System Change:
Effective for benefit month 2/1/15, two new fields, “Self Employment Method” and “Date”,  have been added to STAT/BUSI to record the counted self-employment method and option date for tracking and reporting purposes.  These fields should only be completed if the applicant or recipients meets the conditions as stated above.

Workarounds for self-employment rental and roomer/boarder i

[2015-01-02 00:10] ramonalisa1 commented on #207
I did work on this and commited the file, but now sure I did it right.  It might be on my fork.  Did you get it?  Also having somes issues with it I outlined in the comments.

[2015-01-02 15:30] theVKC commented on #241
Admittedly, it’s been a while for me since I’ve done this. But, here’s how I remember the procedure (and please, correct me if you think I’m thinking it through incorrectly):

1. You get the new HIRE.
2. You send out the verif request and EV.
3. EV comes back, indicates Other Health Insurance (OHI) is available.
4. You update MAXIS for income info (basically all the other programs), then you send

[2015-01-02 15:31] theVKC commented on #282
This may require a change to the shared functions, as the parts that read BUSI would be stored there. I’m thinking we get a small team to work the functions library and get this working…

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecu

[2015-01-02 15:50] RobertFewins-Kalb opened #285 "NOTE - DENIED PROGRAMS -- procedural question about EGA-only applications"
We have a concern about how the DENIED PROGRAMS case note should deal with EGA-only applications. Currently, the case note writes that the case becomes new intake 30 days after the date of initial application BUT the concern arose from a case that was denied during the intake as the client was over 200% FPG. We didn't see anything in the Combined Manual that says the case shouldn't have been a new

[2015-01-02 16:40] theVKC commented on #285
As an idea, it makes sense. I think that the logical choice (considering EGA is largely county-driven with lots of conflicting policies) would be something in the installer which sets a global (county-wide) variable. I'm a bit concerned about adding these right now (as we're currently going live with Operation Frink) but will definitely be keen on changes in the coming months...

[2015-01-02 19:54] theVKC opened #288 "We need to overhaul how income is case noted"
Basically, right now it case notes a single amount, without respect to the program selected. It targets SNAP first, followed by cash, then HC. I think it's time we split the amounts. So, the new code would look something like this:

[code]

Then the case note would read something like: _“works at McDonalds, $100/wk budgeted for SNAP, $150/wk budgeted for MFIP and HC”._

I'm hoping to do this, but

[2015-01-02 20:08] RobertFewins-Kalb commented on #288
I'll take a crack at this one

[2015-01-02 20:09] theVKC commented on #288
Should we team up on it Wednesday? Perhaps I work all day from Anoka Wednesday and we knock this one out, as well as the BUSI updates?

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS

[2015-01-02 20:10] RobertFewins-Kalb commented on #288
I prefer that idea although I'm going to start poking at our copy of the functions file and run some obsolete scripts through it

[2015-01-02 20:13] theVKC commented on #288
Can you book us a space all day for Wednesday then? And, do you need me to talk to anyone about getting you and @CDPotter off of appointments? Or are you good?

I have a DHS laptop, but if we need another one I can bring my county laptop as well.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or pro

[2015-01-02 20:18] RobertFewins-Kalb commented on #288
What time are you thinking? Both of the computer labs appear to be open

[2015-01-02 20:18] theVKC commented on #288
All day? This is a pretty heavy update. If we end early, we end early.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly ne

[2015-01-02 20:34] CDPotter commented on #288
We shouldn’t be on any rotations for Wednesday and can just schedule ourselves in a meeting.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, January 02, 2015 2:19 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Charles D. Potter
Subject: Re: [DHS-MAXIS-Scripts] We need to overhaul how income is case noted (#288)

All day? This is a pretty heavy update. If we end early, we end

[2015-01-03 14:03] ramonalisa1 commented on #241
That sounds just like what I am looking for.  Easy peasy.

[2015-01-03 20:17] ramonalisa1 opened #290 "February 2015 Policy Changes - 30 Day Reinstatement"
Effective February 1, 2015, a 30-day reinstatement period will be allowed.  If a cae closed due to not completing the recertification process, the case may be reinstated if recertification requirements are met within 30 days of the termination of benefits.  Benefit are retroative for the full month benefit.

I am sure a IB will be coming out soon.  This may affect the way some of our case noting s

[2015-01-05 02:09] theVKC commented on #290
What program does this refer to?

[2015-01-05 13:57] ramonalisa1 commented on #290
14 Legislative Session (See Bulletin 14-69-05).  It is to provide unity among GA, MSA, GRH, DWP and MFIP.  So basically the cash programs.

[2015-01-05 14:12] theVKC commented on #290
Thank you (that's what I thought). I'm thinking closed programs for sure needs some touch-up work. Any takers?

[2015-01-05 15:13] theVKC commented on #288
@CDPotter, @RobertFewins-Kalb, and I will be handling this issue on Wednesday.

[2015-01-06 03:17] theVKC opened #292 "BUSI panel autofill is broken"
We know it's because they moved that one line. Here's the issue for tracking purposes. We'll examine this on Wednesday when we evaluate all of the other income pieces too.

[2015-01-06 15:58] ramonalisa1 opened #293 "BULK - MA-EPD Cases Pulled to EXCEL"
I work with Medicare Part B premium reimbursements for our County and it would be nice to be able to find out which cases are MA-EPD.  Should be fairly simple script to write.  I can give it a try.

[2015-01-06 16:58] theVKC commented on #293
You got it!

[2015-01-06 19:18] theVKC opened #294 "DAIL - CSES processing: should be able to tell if only one month is represented on the PIC"
Right now, if there's just the one month on the PIC (let's say the person is paid multiple times per month for the same ABPS, and the panel shows just one month worth instead of a 3 month average), it thinks it's out of range. It'd be nice if it _at least_ stopped and told you, or better yet, calculated the range based on that data. Sound reasonable?

I'll take this one since I'm working on moving

[2015-01-06 20:37] theVKC opened #297 "No button on the Power Pad for ACCT nav, which there's totally a script for?"
Don't know quite how I missed that. Oh well. I'll add it when I bring back View INFC.

[2015-01-07 00:03] ramonalisa1 commented on #293
Well, didn't get to far.  I am trying to write this one completly from scratch instead of stealing.  So I put this into the script:

'LOADING ROUTINE FUNCTIONS
url = "https://raw.githubusercontent.com/MN-Script-Team/BZS-FuncLib/master/Master Functions Library.vbs"
Set req = CreateObject("Msxm12.XMLHttp.6.0")
req.open "GET", url, False
req.send
If req.Status = 200 Then
	Set fso = CreateObject("Scri

[2015-01-07 00:52] theVKC commented on #293
Capitalize “MASTER FUNCTIONS LIBRARY.vbs”, just like that. We changed it a couple of weeks ago to standardize the caps across all scripts.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to

[2015-01-07 04:54] theVKC commented on #84
@lpshanley sent something in commit #296. This will be resolved soon.

[2015-01-07 05:05] #297 closed

[2015-01-07 05:06] #273 closed

[2015-01-07 05:56] theVKC commented on #84
Tested, functional, closing issue. Redirects made, this will go out with the January updates. Thanks @lpshanley!

[2015-01-07 05:56] #84 closed

[2015-01-07 14:39] Farleight opened #304 "Bulk - Pull Data to Excel EOMC Issue"
The Excel equations for the percentage autoclosing calculations in the EOMC section of this script seem to include an unnecessary -1, causing the program to count the Header fields when it should not, rendering the calculation inaccurate. Seems like a fairly simple fix for someone who knows what they're doing (i.e., not me)

Example equation: =(COUNTIFS(D:D, "*FS*",E:E, "<>" & "") - 1)/(COUNTA(E:E

[2015-01-07 14:46] theVKC commented on #304
I will look into this, I had some changes I was going to make. I seem to remember the `-1` was set up to remove the header, but let me dig in a bit next week. Thanks for the report!

[2015-01-07 15:00] Farleight commented on #304
From what I can surmise, I'd say the second -1(denominator) was set up to remove the header, since that portion is just looking for any entry and would otherwise count it. The first -1 (numerator) is looking for the specific language of "FS" or whatever the program may be, so the header is not counted by default, and adding the -1 only serves to nullify the -1 in the denominator. On the other hand

[2015-01-07 16:20] GayS commented on #272
ok - so I have this "finished" and saved in my github.  Not sure how to push it to you from there?

[2015-01-07 21:16] theVKC commented on #292
Fixed just now.

[2015-01-07 21:16] #292 closed

[2015-01-08 15:22] theVKC commented on #202
I believe @RobertFewins-Kalb updated this.

[2015-01-08 15:22] #202 closed

[2015-01-08 15:24] theVKC commented on #288
Resolved with commits yesterday both here and on FuncLib. Closing issue. Nice work @RobertFewins-Kalb and @CDPotter!

[2015-01-08 15:24] #288 closed

[2015-01-08 15:25] theVKC commented on #260
@RobertFewins-Kalb fixed this with #291.

[2015-01-08 15:25] #260 closed

[2015-01-08 15:26] theVKC commented on #251
@RobertFewins-Kalb fixed this with #291.

[2015-01-08 15:26] #251 closed

[2015-01-08 15:27] theVKC commented on #246
@lpshanley took care of this, and it's wonderful. Thank you!

[2015-01-08 15:27] #246 closed

[2015-01-08 15:51] courtrightd opened #308 "NOTES - APPROVED PROGS not case noting MFIP cash correctly"
The script is truncating or incorrectly converting the cash portion of MFIP when pulling the amounts for you.  I.E. $250 cash gets case noted as $25.00.

[2015-01-08 15:51] #308 closed

[2015-01-08 15:52] theVKC commented on #308
@RobertFewins-Kalb? Did you happen to address this in your current Pull Request?

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a s

[2015-01-08 15:54] RobertFewins-Kalb commented on #308
I did indeed!

[2015-01-08 15:55] courtrightd commented on #308
I thought that was the case –  I meant to cancel my issue, not close it.  Oops.

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Thursday, January 08, 2015 9:54 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] NOTES - APPROVED PROGS not case noting MFIP cash correctly (#308)

I did indeed!

—
Reply to this email directly or view it on Git

[2015-01-12 15:02] ramonalisa1 opened #315 "EDRS Case Note Needed"
I see a need for a new NOTE - EDRS based on the below:

The Electronic Disqualified Recipient System (eDRS) is an exchange of Federal Supplemental Nutrition Assistance Program (SNAP) clients who have been charged with a fraud disqualification.  Since the SNAP program is a federal program, offenses charged in one state are in effect in all other states as well.

Effective 01/13/15, for all new SNAP

[2015-01-12 16:16] CDPotter commented on #315
Robert and I were planning to take a look at it but the screen isn't available to us yet so we can't start anything quite yet.

[2015-01-12 18:04] theVKC commented on #315
Closing issue as duplicate of #271. @ramonalisa1, before submitting a new issue, you should probably do a quick search to see if it's already been reported. :)

[2015-01-12 18:04] #315 closed

[2015-01-12 22:45] theVKC opened #316 "Need instructions for a few Anoka scripts"
I'm looking at you, @CDPotter and @RobertFewins-Kalb. :)

Here's what I think I need based on my initial scanning:

* ACTIONS - Copy panels to Word
* ACTIONS - Transfer case
* ACTIONS - Update worker signature
* BULK - Case note from Excel list
* DAIL - BNDX scrubber
* NAV - REPT search
* NOTES - Approved programs
* NOTES - LTC - COLA Summary 2015 (although technically I think I built that one way

[2015-01-12 22:50] CDPotter commented on #316
Can do, we have a lot of screenshots/instructions in our one note. Some need some more details though. We can take a crack at it!

[2015-01-12 22:52] theVKC opened #317 "Need instructions for a few Wabasha scripts"
Basically, I need instructions provided for any scripts you've sent me. I'm guessing you came out with something when you emailed staff about your scripts. I just need a copy of it, along with screenshots if you can provide them. :)

Here's what I think I need:

* BULK - REPT PND1 list
* BULK - SWKR list generator
* NOTES - GRH - HRF

If you can write up instructions and provide some screenshots (

[2015-01-12 22:56] theVKC opened #318 "Need instructions for a few SLC scripts"
Basically, I need instructions provided for any scripts you've sent me. I'm guessing you came out with something when you emailed staff about your scripts. I just need a copy of it, along with screenshots if you can provide them. Assigning to @courtrightd since you did most of the Githubbing on these scripts. :)

Here's what I think I need:

* ACTIONS - PA verif request
* MEMOS - MFIP orientation

[2015-01-13 14:13] courtrightd commented on #318
I will get the PA verif and MFIP orientation done by Thursday, the other one I will leave to my esteemed colleague.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Monday, January 12, 2015 4:57 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: [DHS-MAXIS-Scripts] Need instructions for a few SLC scripts (#318)

Basically, I need instructions provided for any sc

[2015-01-13 19:12] tdahl21 opened #320 "Casenote scripts not utilizing page 4 of casenote."
We’ve been having some problems with scripts not using page 4 of a case-note.  In one instance, a worker was using the asset assessment script and it stopped case-noting after the 3rd page.  In another case, the worker was using a CAF script and the script stopped writing on the 3rd page of the casenote and then created a second casenote to finish.  Thanks, guys!

[2015-01-13 19:13] RobertFewins-Kalb commented on #320
I'll take a look

[2015-01-13 19:48] RobertFewins-Kalb commented on #320
I think I found the problem in the Functions Library, but it is excessively difficult to be sure. I think there's duplicate logic that causes the script to generate a 2nd case note when a line ends on row 17. I have removed the duplicate logic and initial testing looks good, but I'm not 100% certain.

[2015-01-13 22:57] ramonalisa1 commented on #317
I will try to do what I can this week, but husband just had surgery on his shoulder today so will be between work and the office as a caregiver.  If I can't get to it this week, could next week work?

[2015-01-13 23:04] theVKC commented on #317
Of course! Whenever you can send it to me, let me know. There'll be a "coming soon" page until it's done. :) :)

[2015-01-14 15:28] CDPotter commented on #271
Hello all,

If anyone finds a case that actually has a result for the EDRS screen please let me know via email Charles.potter@co.anoka.mn.us We have no idea what it looks like if the search does turn up someone. It would be nice to expand what we are building but at this time it looks like we will just be able to determine if the message is "Nothing found" or not.

[2015-01-14 16:00] theVKC opened #321 "Main menu scripts asking for proxy in MULTICOUNTY agencies"
It shouldn't do that. Reported by SWHHS. I'm on it.

[2015-01-14 22:19] CDPotter commented on #271
Thanks for the responses! I've got what I need for now and submitted a working version!

[2015-01-15 00:05] #321 closed

[2015-01-15 00:06] theVKC commented on #320
@RobertFewins-Kalb, when you get in tomorrow, can you update me on how this has gone in Anoka? I received a bug report or two on this today, and I'd love to get it pushed out statewide. Thanks!

[2015-01-15 11:47] theVKC commented on #316
Just thought of this: need instructions for your new eDRS script too! @cdpotter, want to email me a blip for the wiki?

[2015-01-15 14:13] RobertFewins-Kalb commented on #320
We haven't received any complaints. But Theresa was out and we don't know any other workers that write novels for case notes :)

[2015-01-15 15:22] theVKC commented on #320
OK, I'll merge your pull request and remove the Anoka specific logic. Go team!

[2015-01-15 15:31] RobertFewins-Kalb commented on #320
![image](https://cloud.githubusercontent.com/assets/7842016/5760301/331aa15e-9c99-11e4-92eb-d7cf86a44c30.png)

[2015-01-15 16:07] #222 closed

[2015-01-15 16:18] theVKC commented on #320
Fixed in funclib. Reverted Anoka-specific menu changes for testing. Closing issue. Woohoo!

[2015-01-15 16:18] #320 closed

[2015-01-15 16:31] theVKC opened #330 "Overpayment script: bring from Anoka to DHS"
Someone from Anoka want to consider modifying this to remove Anoka specific lingo (or including it using `If worker_county_code = "x102" then...`), and getting this to me soon? @CDPotter, @RobertFewins-Kalb, @mldietz? Could be an easy win!

[2015-01-15 16:35] CDPotter commented on #330
Actually we set it up like that a long time ago back when DHS showed interest in it. I'll make a branch and throw it up.

[2015-01-15 16:36] theVKC commented on #330
Good luck!

[2015-01-15 16:45] #271 closed

[2015-01-15 16:46] #282 closed

[2015-01-15 16:46] #207 closed

[2015-01-15 17:33] theVKC commented on #223
This pull was requested some time ago, and accepted per David. Closing issue.

[2015-01-15 17:33] #223 closed

[2015-01-15 18:59] theVKC opened #333 "Add "EDRS sent?" checkbox to CAF and CSR case notes."
Reported on SIR from X143530. Who wants it?

[2015-01-15 22:28] theVKC commented on #316
We should also add the new Overpayment script to the list. :)

[2015-01-15 22:28] theVKC commented on #330
#334 resolves this!

[2015-01-15 22:28] #330 closed

[2015-01-15 22:37] theVKC opened #335 "Add new scripts to main menus"
Take all the new scripts, and make sure they're accessible!!

[2015-01-15 23:04] theVKC opened #336 "All navigate_to_screen should check for ERRR screen on STAT and get past it"
Something like an "If function = "STAT" and ERRR_check= "ERRR" then transmit" aught to do it. Who wants it?

[2015-01-16 05:07] ALJ10 opened #337 "STAT/AREP navigation script error message (January release)"
Since installing the new version earlier this month I've been getting the following message while attempting to navigate to STAT/AREP:
Script Playback Error
Unable to open script file
F:\CommServ\Files\Shared\Scripts\Scripts\Script Files\REDIRECT - NAV - STAT-AREP.vbs

I did a search on github to see if it was previously reported, but did not see anything. Anyone else having this issue?

[2015-01-16 13:26] CDPotter commented on #337
Hm looks like the file didn't download during the install. It is missing from our Q drive as well.

You could download a copy and throw it in the directory where scripts are stored in your agency if there is a demand for the script.

[2015-01-16 17:35] theVKC commented on #337
Shoot. I believe I've fixed this now. A text file containing a list of file redirects never got updated. My bad. Go ahead and run the installer again, and it should work.

[2015-01-16 17:35] #337 closed

[2015-01-18 01:47] RobertFewins-Kalb commented on #247
Here's the raw git. I have put it in my personal repo

https://raw.githubusercontent.com/RobertFewins-Kalb/GitSome-at-Home/master/NOTE%20-%20CAF.vbs

[2015-01-20 21:05] theVKC commented on #336
Fixed in funclib.

[2015-01-20 21:05] #336 closed

[2015-01-21 02:26] theVKC commented on #185
This is a duplicate of another issue (#243). Removing.

[2015-01-21 02:26] #185 closed

[2015-01-21 03:23] #233 closed

[2015-01-21 03:23] theVKC commented on #333
#339 fixes this for CAF. Will do CSR tomorrow if all goes as planned.

[2015-01-21 15:49] theVKC opened #341 "NOTES - Burial Assets: add a few checkboxes"
This comes from X164414 via SIR:

Could there be a check box added to the burial agreement section for an IFB that asks:

Beneficiary: Any funeral home as it's interest may appear     Yes/No

Contingent Beneficiary: The estate of the insured         Yes/No

Beneficiaries Irrevocably Assigned:  Yes/No

---

Any takers?

[2015-01-21 15:57] theVKC opened #342 "Foster care case note"
I'm not going to be able to work on this one since it's pretty far outside my SNAP mandate. But, if anyone is interested, here it is. It was originally requested by X105629. That user provided a template, which I can't upload here since it's a PDF (but I would be happy to provide to a potential scriptwriter). Seems logical and easy, I just don't have time at the moment to work too much on non SNAP

[2015-01-21 16:30] #184 closed

[2015-01-21 16:43] theVKC opened #344 "Chain load a list of supervisors into an array using fancy new functions from over in CS land"
In my PRISM scripts (that I'm working on as an Anoka County employee, not a DHS employee) I made up this cool function, which you can review here: https://github.com/Anoka-Script-Team/Anoka-PRISM-Scripts/commit/e6ee7d715c9db10d9a5a4eea914f9bbfcb5cbbce

What if... we used that function, combined with issue #180 (program it to pull supervisors), to create a dropdown list on various BULK scripts for

[2015-01-21 16:51] RobertFewins-Kalb commented on #344
OMG -- related idea

What if the report generating scripts had an additional function that knows when the user is a supervisor (could add their x number to the global variables) and added a checkbox giving the supervisors the option of running the report generator for only their unit (rather than one worker at a time or for the entire agency)

Example:
 IF user_id_for_validation = <supervisor id>

[2015-01-21 16:58] theVKC commented on #344
I think my idea automates that, doesn't it? Instead of needing a global variable, it would dynamically check REPT/USER for all active users, and return a list of supervisors based on that logic... Think of how often a new supervisor is promoted/retired/etc. in the counties... I wouldn't want counties to have to reinstall scripts every time. Dynamic = very yes

[2015-01-21 17:19] RobertFewins-Kalb commented on #344
That pretty much is the same...I just got all excited because (a) that = awesome, and (2) the training region is not allowing me to test the page 4 fix in the functions library (painfully slow).

Going through REPT/USER, it doesn't look like there's anything to indicate automatically who the supervisors are.
@CDPotter and I were wondering why we cannot get a list of supervisors from somewhere...da

[2015-01-21 17:38] theVKC commented on #344
Data Warehouse isn't such a good idea, because computers.

I was planning on using the above SUPR ID. It's reasonably stable. Does that not constitute "automatic indication of supervisor"?

[2015-01-21 18:35] #333 closed

[2015-01-21 18:36] theVKC opened #346 "NOTES - CSR: should replace "are you sure" dialog with vbYesNo option"
@RobertFewins-Kalb, any interest in taking this one on someday? No rush.

[2015-01-21 18:37] RobertFewins-Kalb commented on #346
Yes

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, January 21, 2015 12:37 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Robert Kalb
Subject: [DHS-MAXIS-Scripts] NOTES - CSR: should replace "are you sure" dialog with vbYesNo option (#346)

@RobertFewins-Kalb<https://github.com/RobertFewins-Kalb>, any interest in taking this one on someday? No rush.

—
Reply to this email

[2015-01-21 18:39] theVKC commented on #272
@GayS pushed this one out a few days ago, and I've received it and will add to NOTES main menu. Nice work!

[2015-01-21 18:39] #272 closed

[2015-01-21 18:41] GayS commented on #272
Thanks - I'm on the board now!!

[2015-01-21 18:57] #304 closed

[2015-01-21 19:28] #241 closed

[2015-01-21 23:43] #335 closed

[2015-01-22 16:08] CDPotter commented on #316
They are all updated on the Wiki. If someone could take a look at them and let me know if there's any broken links that would be great.

https://www.dhssir.cty.dhs.state.mn.us/MAXIS/blzn/scriptwiki/Wiki%20Pages/Copy%20panels%20to%20Word.aspx

https://www.dhssir.cty.dhs.state.mn.us/MAXIS/blzn/scriptwiki/Wiki%20Pages/PA%20verif%20request.aspx

https://www.dhssir.cty.dhs.state.mn.us/MAXIS/blzn/script

[2015-01-22 16:32] theVKC commented on #316
No broken links! Looks really good, @CDPotter!! Woohoo!

[2015-01-22 16:32] #316 closed

[2015-01-22 22:32] ramonalisa1 commented on #317
Here is my first stab at writing the Wiki for the BULK- REPT PND1 script.  I was so disappointed in myself.  I tried to go to the Wiki page in SIR and write a new one.  I copied and pasted this into a new page, but I can’t get the .jpeg images to come over ,and I can’t see an import function for Wiki pages.  So, it is attached.  If you need me to change something, let me know.  Two more instructio

[2015-01-23 17:29] CDPotter opened #352 "MAGI 4 month renewal extension (REVW/MONT closures)"
Following the SIR announcement published 12/26/14 https://www.dhssir.cty.dhs.state.mn.us/MAXIS/Lists/MAXIS%20Announcements/DispForm.aspx?ID=1074&RootFolder=%2FMAXIS%2FLists%2FMAXIS%20Announcements

We are supposed to allow MAGI HC enrollees 4 months to turn in their late paperwork. Currently the BULK Revw/mont closure script gives every HC enrollee the month of renewal to turn in their paperwork.

[2015-01-25 16:39] theVKC opened #355 "Idea: can you create a dynamic list of buttons with an array?"
I'm wondering if a dialog can use a for...next to build a variable amount of buttons. This could be used for the agency custom script, among many other uses. Something like if buttonpressed = array(3) then do something.

[2015-01-25 18:03] lpshanley commented on #355
Yes and No. My agency custom script already uses this. Would you like me to pull the raw code out so it can be added elsewhere?

[2015-01-25 18:12] lpshanley commented on #355
Add this to me ill do it!

[2015-01-25 18:14] lpshanley commented on #318
I'll try to get the write up for mine done soon!

[2015-01-25 18:23] lpshanley commented on #78
@courtrightd Any word on the testing? This should be ready for launch I haven't heard anything back on this yet... I can only fix it if i know its broken!!

[2015-01-26 16:44] CDPotter opened #357 "LEP Sponsor income, income limits incorrect"
A worker brought it to our attention last week that the income limits in the script were incorrect. Used combined manual 0019.06 to update income limits.

[2015-01-26 16:56] theVKC commented on #357
Resolved with #359

[2015-01-26 16:56] #357 closed

[2015-01-26 19:32] CDPotter opened #360 "Mnsure memo only reading first line of WCOM"
Had a worker report an issue with the WCOM side of the Mnsure memo. She had a waiting WCOM but it was on 10, 13 line rather than 7, 13. Robert and I have build a WCOM finder/generator for the large variety of memos and WCOMS that need to go out with MA (Though some may be a bit out of date with the constantly fluctuating rules.) So we could either try to incorporate our code to have the current Mn

[2015-01-26 19:37] theVKC commented on #360
I like your "large variety" option, but could we flatten it to integrate into the MEMOS main menu? If the MEMOS main menu can simply be expanded to include your scripts, that might simplify the administration (vs a menu calling a menu). I'm not sure how you constructed it though, so I'd be eager to learn more...

[2015-01-26 19:42] CDPotter commented on #360
Robert will be throwing it up on his Github along with the Section 8 bulk memo-er.

[2015-01-27 13:31] theVKC opened #361 "Transfer case: can't transfer cases to counties 20 or 81"
Basically, they merged into county 74 (I believe). We should modify the script to not allow these two counties. There's now an inhibiting error on XFER, apparently.

[2015-01-28 15:33] theVKC opened #363 "Find a way to block the "@" symbol in case noting functions"
It isn't really a bug, as people shouldn't do it. But people think it's a bug, so let's brainstorm.

[2015-01-28 16:28] lpshanley commented on #363
What do you mean by block the @ symbol? Is it causing errors or do people just not like it?

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 9:33 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] Find a way to block the "@" symbol in case noting functions (#363)

It isn't really a bug, as

[2015-01-28 16:29] CDPotter opened #364 "Inac scrubber 4 mo reinstate"
So with this new 4 month reinstate for MAGI clients our supervisors here have asked us to redo the inac scrubber to avoid these cases so they can sit in the worker's case load for the 4 month reinstate period.

We wanted to know what other agencies are doing or if anyone else was looking at solutions for this.

[2015-01-28 16:35] theVKC commented on #363
The @ along with certain characters triggers an EMSendKey keystroke event. Apparently “@gmail.com” destroys case notes.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This

[2015-01-28 16:38] theVKC commented on #364
Most agencies that I know of wouldn’t be going that route. Feedback is good, and I’ll consider it, but this could get me a lot of flack. If we wanted to go that route, we should make it a global variable setting which defaults to False. Personally, I’m not a fan (that’s a LONG time to let something sit, and there’s no policy that I know of saying it has to stay with the “original worker of record”

[2015-01-28 16:46] lpshanley commented on #363
Prior to sending it to the console save it as a string and use replace to the @ symbol with chr(64). This should solve the problem.

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 10:36 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Lucas Shanley
Subject: Re: [DHS-MAXIS-Scripts] Find a way to block the "@" sym

[2015-01-28 16:48] theVKC commented on #363
That’s what I was thinking. I just need someone to do it. :)

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly need-to-know

[2015-01-28 16:57] lpshanley commented on #363
It doesn’t actually allow it... ill look at it over lunch

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 10:48 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Lucas Shanley
Subject: Re: [DHS-MAXIS-Scripts] Find a way to block the "@" symbol in case noting functions (#363)

That’s what I was thinking. I just ne

[2015-01-28 16:58] RobertFewins-Kalb commented on #364
Then here's a question to the group:

Is there a definitive way to check that a case closed for no or incomplete review rather than being closed in the middle of a renewal period? Should there ALWAYS be a T for HC status in STAT/REVW?

[2015-01-28 16:58] theVKC commented on #363
Awesome. Let me know how it turns out! I'd accept replacing the @ symbol with the word "at" if needed.

[2015-01-28 17:24] lpshanley commented on #363
I’ll write a function to clean the strings so we can use it over and over... any other chars we need to clean?

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 10:59 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Lucas Shanley
Subject: Re: [DHS-MAXIS-Scripts] Find a way to block the "@" symbol in case noting fu

[2015-01-28 17:25] theVKC commented on #363
That’s all I can think of for now.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly need-to-know basis. If you are not the

[2015-01-28 17:28] lpshanley commented on #363
If I can I will make it into an array so it will be super easy to add to in the future. This way someone can just use

case_note_string = magic_escape_string(case_note_string)

EMSendKey(case_note_string)

☺ will that be ok?

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 11:26 AM
To: MN-Script-Team/DHS-MAX

[2015-01-28 17:30] theVKC commented on #363
Should work, although I want to incorporate this into the add_variables_to_case_note functions, so don’t make it too complex just yet. :P

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to D

[2015-01-28 17:50] lpshanley commented on #363
[cid:image001.jpg@01D03AF0.917A0740]

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 11:31 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Lucas Shanley
Subject: Re: [DHS-MAXIS-Scripts] Find a way to block the "@" symbol in case noting functions (#363)

Should work, although I want to incorporate this into the

[2015-01-28 19:13] lpshanley commented on #363
I have like 15 Case note scripts left to add this to then ill give it a push on over to you. ☺ should be done today

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, January 28, 2015 11:31 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Lucas Shanley
Subject: Re: [DHS-MAXIS-Scripts] Find a way to block the "@" symbol in case noti

[2015-01-28 21:36] lpshanley commented on #363
Should be good to merge at this point. Let me know if you have any issues!

[2015-01-29 18:21] theVKC opened #365 "DISA autofill: break down DISA status by program"
Right now it only does HC. I'm thinking a similar look to the recent income changes. Any takers?

[2015-01-29 19:06] theVKC opened #366 "DAIL scrubber: include the DAIL message in the MsgBox when it doesn't work"
This could be helpful for a couple of reasons.
1. A user might have accidentally had their cursor on the wrong message. This will help them figure it out.
2. An agency might be running stats, and they can view who is clicking on which DAIL messages, and infer what the next DAIL scrubber ideas should be. *THIS IS AWESOME*

Only limitation is we'll need to scrub it clean of client data. At least SSN

[2015-01-30 20:58] courtrightd opened #367 "ACTIONS - PA VERIF enhancements"
Add checkbox for including last 3 months INQX readout, and add 3rd line to address.

[2015-01-30 21:25] ALJ10 opened #368 "CAF (NOTES #-G) footer month default to month viewing"

[2015-01-30 21:28] ALJ10 commented on #368
I accidentally submitted this without an explanation. Oops! Anyways, workers in Crow Wing County are wondering if it's possible to have the CAF script default to the footer month they are viewing instead of having it default to the next month.

[2015-01-30 21:43] ALJ10 commented on #368
Afterthought: Either have it set to the month they are viewing or the current footer month. Hope that makes sense!

[2015-01-30 21:55] ALJ10 opened #369 "CAF (NOTES #-G) ~ Add field to explain what EI was used/how EI was calculated"
Per worker/supervisor suggestion: It would be helpful if there was a box right below EI to list how we calculated EI. Since for food they want us to case/note what income was used/how it was calculated. I don't see that people are case/noting this at all. Workers are just using what the script says "PIC is 300/biweekly" but nothing on what income was used to get to the $300. Suggestion is to have

[2015-01-30 21:58] CDPotter commented on #369
There is already a field below EI called "notes on income and budget" where we at Anoka instruct workers to be more detailed about how things are budgeted.

[2015-02-01 19:57] theVKC commented on #369
It might be worthwhile to consider splitting that out, though. Mainly because our reviewers are being so explicit with wanting this information. I'm even contemplating making it mandatory if there's any income entered into the case note at all.

[2015-02-02 14:06] courtrightd commented on #369
I think making it a mandatory field (if income) would be an excellent idea.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Sunday, February 01, 2015 1:58 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] CAF (NOTES #-G) ~ Add field to explain what EI was used/how EI was calculated (#369)

It might be worthwhile to consider splitting that out, though. Mainl

[2015-02-02 23:15] theVKC opened #370 "New function for income noting"
This could be a follow-on to #369.

I've been getting a lot of feedback from folks saying they wish income could be case noted in a cleaner, single line way. Of course, when @RobertFewins-Kalb, @CDPotter, and I tried it, we couldn't get it to look pretty on one line. I think I have an idea to fix that...

A new function, called something like income_noting that would:

1. Contain an array-style di

[2015-02-03 21:14] IlseFerris opened #371 "Shelter form script"
Say, I'm going to be working on a shelter form script.  Is that okay with the group?

[2015-02-03 21:15] theVKC commented on #371
Have at it! Good luck! :)

[2015-02-04 01:06] theVKC opened #372 "CSES Processing - Map out EXACTLY what the CS DAIL scrubber does"
This is for a few reasons.

1. I wrote it a long time ago. Three years ago, I believe. It's been tweaked here and there, but it could use some fleshing out.
2. Folks ALWAYS ask me about it. I get a bit tired of telling everyone exactly what it does.
3. Mapping it out will make it easier to make changes (including possibly auto-updating the PIC and including single-member-households).

I'll start b

[2015-02-05 02:48] theVKC commented on #368
It does. And this is actually the design, it's a known bug that it doesn't do it. However, even though it's known, I never added it to GitHub for some reason! Anyway, now it's there. :)

[2015-02-05 15:32] theVKC opened #374 "CSES processing: remove HC references entirely"
Here's the deal. According to my HC policy contact, if the client is apparently MAGI, HC shouldn't be budgeted for Child Support recipients. Right now, the script checks to see if you're at your renewal, and if you are, it updates the HC-pop-up. It shouldn't do that for Apparently MAGI folks. I will be programming the script (hopefully) to check apparently MAGI status using ELIG/HC for HC folks at

[2015-02-05 15:34] theVKC opened #375 "CSES processing: warn you if you're using anticipated income for SNAP"
...because for SNAP you aren't supposed to do that beyond new recipients. Budget the actual income.

Right now, it breaks down here saying it "can't find it". That's programmatically OK, but I'll get more buy-in if it explains it better.

[2015-02-05 21:14] theVKC opened #377 "Mileage Reimbursement enhancements"
I've heard a few requests for enhancement of this script, so here they go:

1. Lodging?
2. Meals?
3. Parking?

Anyone want to take this on? @ramonalisa1, I believe this started as your baby. :) No pressure if you don't have time, we can see if anyone else wants to tackle it...

[2015-02-05 21:25] CDPotter opened #378 "Burial asset bug"
Burial asset case note script is writing over itself due to old code. Submitted a fix.

[2015-02-05 21:30] #378 closed

[2015-02-05 22:00] theVKC opened #379 "New HIRE: add "other notes" area"
Makes sense. Who's on it? Anyone?

[2015-02-05 22:09] theVKC opened #380 "Income case noting: HC should pull from the future month, or not pull at all"
It has the potential to be error prone, being done the way it is now. This would necessitate a change in the autofill functions. Anyone game? @CDPotter or @RobertFewins-Kalb, we were just working on this not too long ago...

[2015-02-05 22:13] theVKC opened #381 "FMED is not pulling into autofill correctly"
If there's an end date, apparently it's not pulling in, even if the end date is in the future. Someone should take a look at this.

[2015-02-05 22:37] CDPotter commented on #380
I can take a crack at this one.

[2015-02-05 22:38] theVKC commented on #380
Done. And thank you. It is appreciated.

[2015-02-05 22:39] theVKC commented on #380
I'm imagining "if footer_month <> CM+1 then <don't do it>", but more correct than that.

[2015-02-05 22:41] RobertFewins-Kalb commented on #361
I'm on this...I'll try to resolve what issues I can from home but doing 2 jobs at once has me running in circles while I'm in Anoka...

[2015-02-05 22:43] theVKC commented on #361
Been there, my friend. Good luck!

[2015-02-05 22:49] RobertFewins-Kalb commented on #381
I can take this as well

[2015-02-05 22:51] theVKC commented on #381
#RockStar

[2015-02-06 01:11] lpshanley commented on #368
Im going to start working on this one!

[2015-02-06 02:15] lpshanley commented on #368
Done and commited

[2015-02-06 02:16] lpshanley commented on #106
Im looking into this now

[2015-02-06 02:21] lpshanley commented on #106
Holy banannas
I see the problem
#isthisreallife

[2015-02-06 03:01] theVKC commented on #368
I think I see what's going on here... you didn't do this on a separate branch. When you work on two separate script ideas (like AGENCY CUSTOMIZED and CAF), you need to make two branches from master, one for each change. That way, if something ever goes wrong, I can revert the one without affecting the other. Does that make sense?

Here's how I think you solve this dillema:

1. Copy your changed co

[2015-02-06 04:07] lpshanley commented on #106
Should be done. Just Committed it!

[2015-02-06 04:07] lpshanley commented on #368
Now its done AND in its own repo!!!

[2015-02-06 04:13] lpshanley commented on #363
This is now its own commit by the by

[2015-02-06 18:03] jasont35 opened #386 "LTC-Spousal Allocation FIATer script error/issue"
One of our long term care workers used this script and noticed an error on the ELIG screen. On STAT/UNEA for MEMB 02 - page 2 of 2 the worker has the income type of 17 - Other Retirement.
On the Spousal Allocation screen for MEMB 01 in ELIG/HC for the month of 01/15, the Gross Unearned Income came across as income type 17 - FC Child Requesting FS. This does not match STAT/UNEA's income type 17 - O

[2015-02-06 21:30] ramonalisa1 opened #387 "Power Pad Button Not Working"
Workers are reporting the Power Pad button for Notes H - Z is not working.  All other buttons are working.

[2015-02-06 21:34] CDPotter commented on #387
Seems to be working here at Anoka. Might the workers have another script open elsewhere? I've noticed every now and then a menu won't open and it remains "playing" for a while. I've just been hitting stop script to get around it.

[2015-02-06 21:41] ramonalisa1 commented on #387
Nope, that's not the issue.  It is all of us and I tried mine twice.  I have checked and all the others work fine, just not that one.  Hmmmmmm....

[2015-02-06 21:45] ramonalisa1 commented on #387
Ran the installer again and everyone is working again.  Weird!!

[2015-02-06 22:07] lpshanley commented on #387
Problem solved, crisis averted!

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Lisa McNally [mailto:notifications@github.com]
Sent: Friday, February 06, 2015 3:46 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] Power Pad Button Not Working (#387)

Ran the installer again and everyone is working again. Weird!!

—
Reply to this email directly or view it on GitHub<https

[2015-02-07 14:07] RobertFewins-Kalb opened #389 "MA-EPD clients eligible for Medicare Part B Reimbursement"
Recently @ramonalisa1 requested a modification to a report script that can identify all MA-EPD clients that are eligible for Medicare Part B premium reimbursement. It has occurred to me that mayhaps the state could also benefit from a script that Anoka County is currently using. It's a BULK script that checks for Medicare Part B premium reimbursement eligibility for MA-EPD clients. The script file

[2015-02-07 19:43] ramonalisa1 commented on #389
I agree!!  We found three cases we were missing when we ran this script.  Better for the clients and better for the workers.  A win-win.

[cid:image002.jpg@01D042DC.027A4430]

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private or protected

[2015-02-08 01:25] theVKC commented on #387
In the weird event that a Power Pad button doesn't work, you can sort-of tell what the issue is by the circumstances surrounding it.

* If it "doesn't work" for just one user, and no buttons work, it's likely they're running another script somewhere. Close that script and it'll work (or just restart BlueZone, that usually does it).
* If it throws a "something is wrong" error, or an error with a re

[2015-02-08 01:25] #387 closed

[2015-02-08 01:27] theVKC commented on #386
Well @jasont35, do you feel up to doing it? I can help guide you through questions, if you're interested in doing it yourself!

[2015-02-08 01:30] #368 closed

[2015-02-08 02:00] theVKC opened #390 "Stats database: perhaps bulk scripts should log each caseload it scans? Maybe even each case?"
Think about this: if it logged an entry per-caseload or per-case, we could very accurately collect time savings. Either it could enter a record for each caseload (or case), or it could log a "case multiplier" as part of what it enters on the database. In that case, it'd know a BULK script ran 50 cases, then multiply the "manual process" time estimation by 50 to get the actual estimated time saving

[2015-02-08 02:06] theVKC opened #391 "Log the county name"

[2015-02-09 03:58] theVKC commented on #389
This might be a good opportunity for incorporating my issue #390 in. Basically, if we could figure out how long it takes to do a single case, we can estimate the time savings very accurately. Let's turn your prospective "Time Savings: Massive" into a measurable "Time Savings: Massive"...

[2015-02-09 03:58] theVKC commented on #389
Oh, do you want to take the next steps @RobertFewins-Kalb?

[2015-02-09 04:01] theVKC commented on #186
@LaLarson pulled in a part of this in #373. Go LaLa!

[2015-02-09 20:08] ALJ10 commented on #368
Now that this has been fixed, do I need to run the config tool again? We are a beta county so I was thinking our scripts would automatically update. But when I went to use the CAF (just to test), it still shows next month as the footer month.

Let me know when you get a chance. Pls & ty!

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Saturday, February 07, 2015 7:30 PM
To: MN-Sc

[2015-02-09 21:12] theVKC commented on #368
Actually, I haven’t pushed it out yet. All I’ve done is bring it into our working branch (the ones the scriptwriters use). Assuming that works well, I’m hoping for a beta release in the coming days.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a pub

[2015-02-09 22:13] ALJ10 commented on #368
Sounds good! Just wanted to make sure I wasn’t missing a step.

Thank you for letting me know! ☺

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Monday, February 09, 2015 3:12 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Amanda Jensen
Subject: Re: [DHS-MAXIS-Scripts] CAF (NOTES #-G) footer month default to month viewing (#368)

Actually, I haven’t pushed it out yet. All I’ve done

[2015-02-09 22:42] theVKC opened #393 "GA/RCA Fiater onto SNAP budget"
I have this cross listed as ACTIONS and DAIL scrubber, as I don't know which one makes the most sense, as I've never worked this particular issue from the DAIL (but apparently, DAIL messages are made for it).

Basically, a simple script which will:

1. Look up the GA/RCA grant.
2. Navigate to SNAP budget.
3. FIAT that income in there.
4. Notify the worker that they should now review the results an

[2015-02-09 22:43] theVKC commented on #393
TEMP cite: TE02.10.23 "GA Program".

[2015-02-09 22:47] theVKC opened #394 "BULK script to check all of the SNAP + GA/RCA cases to see if the income is in there"
This is a follow-on to #393. We should make a script that'll check the entire county caseload for this, and return cases that don't have it. #PaymentAccuracy

[2015-02-09 23:20] ramonalisa1 commented on #394
Love this one!

[cid:image002.jpg@01D0448C.BDB94410]

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private or protected information should not be sent over a public (non-secure) Internet unless it is encrypted pursuant to DHS standards.  This

[2015-02-10 19:36] RobertFewins-Kalb opened #395 "Script Idea -- Unapproved Results Scrubber"
The idea is a BULK script that runs on your DAIL, goes through all eligibility results, checks the current results against the previous. approved results (using multi-dimensional arrays, y'all) to determine if anything needs to be approved on the case OR if the results are no different from the previous version and can be deleted.

#Becausecomputers, the script should get functionality that allows

[2015-02-10 21:49] theVKC commented on #395
How would you propose to check for address change? Or perhaps you’d rather show me?

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on

[2015-02-10 22:03] RobertFewins-Kalb commented on #395
I'm still working the logic out but something that uses the ADDR change date on STAT/ADDR and then CASE/ADHI...
But for now, it's #BecauseComputers

[2015-02-11 22:22] ramonalisa1 commented on #377
Boy, my schedule is getting filled up fast.  Preparing for an FSME review.  Can anyone else take this on?

Lisa M.
Financial Assistance Supervisor

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private or protected information should not be se

[2015-02-12 00:15] theVKC opened #396 "Overpayment script: add option to add a claims note"
Because it only makes sense. Any takers?

[2015-02-12 00:16] theVKC commented on #394
@RobertFewins-Kalb is working this one.

[2015-02-12 00:28] theVKC opened #397 "Returned mail with forwarding address script"
You know the drill. Updates panel, case notes, TIKLs for 10-day return of proofs. Here's some citations for policy courtesy of the original poster in SIR:

Cash & SNAP – TE02.08.012
Healthcare- couldn’t find anything real definitive, HCPM 13.05, 13.20

Who wants to take it/be the hero?

[2015-02-17 15:14] courtrightd opened #398 "DFLN notes enhancement to CAF scripts"
The idea is a new field on CAF / RECERT note scripts to pull info from STAT/DFLN.  This would serve as a reminder to look at DFLN status to the worker (and check to see if there is sanction needed, current release on file for testing if that is county policy, etc.)  We have been seeing a high number of errors at recert / change reported with SNAP DFLN sanctions not being carried to new results.

[2015-02-17 15:38] theVKC commented on #398
Just thinking it through, and I don’t have BlueZone up at the moment… is this for cash only?

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded

[2015-02-17 15:50] courtrightd commented on #398
No the issues we are seeing are with SNAP, but I can't come up with a good solution for SNAP drug felon sanctions since they are done in FIAT and maxis doesn't seem to pull anything for them.  My thought is a DFLN notes field that would populate with a conviction date off the DFLN panel and the worker could add any notes pertaining to all programs.  Other ideas would certainly be welcome.

[2015-02-17 16:52] Farleight commented on #398
One could theoretorically create a script that pulls into Excel or even mass TIKLs for this. It could search for review dates and be run monthly for a bank or a full county. It wouldn't be perfect, as transferred cases could still escape the watchful eyes, and the added reminder on a Notes script could certainly help alleviate that. I don't know how many people (here) actually do their notes with

[2015-02-17 23:51] theVKC commented on #398
Jeeze, I'm disappointed in myself for not realizing this was for SNAP. That panel is new to me and as a worker I didn't have to use it. @courtrightD, do you want to take it on?

[2015-02-18 22:26] tdahl21 opened #401 "Asset Assessment Note Script"
Hey All,

There seems to be an issue with the second page of the Marital Asset portion of the asset assessment script.  A coworker ran into an issue where the second page of the marital asset portion was not being written into the person note nor the Maxis casenote.   Thank you for checking into it!

[2015-02-19 03:01] theVKC commented on #401
Hmmm. I don't know of any issues with it. Of course, we have a case note function issue right now, which is being tested with Anoka and Goodhue (other beta counties should get the fix in the next day or two).

Any chance I can ask you to ask your coworker to try it again, and if it happens again, email me a case number to look at? I can dig into it and see what we can uncover, possibly tomorrow.

[2015-02-19 20:04] theVKC opened #407 "REPT-INAC list"
Just like the ACTV and similar, but for INAC. Who wants it?

[2015-02-20 20:37] tdahl21 opened #408 "Burial Asset Script Bug"
Hey All,

We are running into an issue where the burial asset script will overwrite just the first page of the casenote.   The script will fill the first page, then rewrite over the top.  Then, it will start F8'ing for new pages.  So, we are only ending up with pages 2,3, and 4 in the casenote.

[2015-02-20 20:43] tdahl21 commented on #401
Hey Veronica,

I'll send you the case # through SIR.

[2015-02-20 21:19] theVKC commented on #408
This is already a known bug.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly need-to-know basis. If you are not the inten

[2015-02-23 17:11] theVKC commented on #397
Thanks for taking it on, @mldietz! Let me know when you either have it mapped out, or even better, if you feel up to building any of it! I can answer any questions you may have while building it, if you choose to attempt it. I'm sure @RobertFewins-Kalb and @CDPotter would love to help too. :)

[2015-02-23 23:19] #317 closed

[2015-02-23 23:19] #318 closed

[2015-02-24 14:49] ramonalisa1 opened #412 "Error on Agency Custom Button"
When using the new script to navigate betweenf olders, I am getting the following error:  "Dialog ID 212 is Out of Range".

[2015-02-24 14:57] lpshanley commented on #412
It seems that only certain people are getting these errors. Is everyone having this error?

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Lisa McNally [mailto:notifications@github.com]
Sent: Tuesday, February 24, 2015 8:49 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] Error on Agency Custom Button (#412)

When using the new script to navigate betweenf olders, I am gett

[2015-02-24 15:04] lpshanley commented on #412
I pushed a fix to help me debug the problem to git. When V merges this then I will be able to know more.

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Lisa McNally [mailto:notifications@github.com]
Sent: Tuesday, February 24, 2015 8:49 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] Error on Agency Custom Button (#412)

When using the new script to navigate betweenf old

[2015-02-24 15:05] theVKC commented on #412
Could it be possible that the issue has to do with the script itself and not the new feature? Was it working before in Agency Custom? That error typically means that a dialog named a certain thing (such as “CEI_dialog”) doesn’t exist.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected infor

[2015-02-24 15:24] courtrightd opened #416 "ACTIONS - PA VERIF errors on GA cases"
Trying to read number of members off GAB2 instead of GASM, now fixed.

[2015-02-24 15:28] lpshanley commented on #412
The issue is odd because its working without any issue for some people and its getting the out of range for some people.

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, February 24, 2015 9:05 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Lucas Shanley
Subject: Re: [DHS-MAXIS-Scripts] Error on Agency Custom Button (#412)

Could

[2015-02-24 16:16] #416 closed

[2015-02-24 16:18] theVKC commented on #412
@ramonalisa1, can you tell us if the issue is happening with multiple users, and, was this script used in the old version of the Agency Custom script?

[2015-02-24 17:39] lpshanley commented on #412
I am submitting the changes and updates from my own repo just as a heads up. I just sent another commit with a pretty significant update. Essentially I am forcing to script to ReDim every array every time it reuses it. Technically speaking this means the array now should not be possible to be out of range as every time its used the range is redefined. This change seems to have corrected all of our

[2015-02-24 20:07] lpshanley commented on #412
Are you still getting the same error now?

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Lisa McNally [mailto:notifications@github.com]
Sent: Tuesday, February 24, 2015 8:49 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] Error on Agency Custom Button (#412)

When using the new script to navigate betweenf olders, I am getting the following error: "Dialog ID 212 is Out of

[2015-02-24 20:15] ramonalisa1 commented on #412
Yep.  Still getting the same error.

Lisa M.
Financial Assistance Supervisor

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private or protected information should not be sent over a public (non-secure) Internet unless it is encrypted pursuant

[2015-02-24 20:19] lpshanley commented on #412
Is it everyone or only select people?

-Luke
“Valar dohaeris”
#DecimateTheErrorRate

From: Lisa McNally [mailto:notifications@github.com]
Sent: Tuesday, February 24, 2015 2:15 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Lucas Shanley
Subject: Re: [DHS-MAXIS-Scripts] Error on Agency Custom Button (#412)

Yep. Still getting the same error.

Lisa M.
Financial Assistance Supervisor

P
Please consider

[2015-02-24 20:31] ramonalisa1 commented on #412
Select.  Some people get the error, some get a blank message box, and some can use it fine.

Lisa M.
Financial Assistance Supervisor

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private or protected information should not be sent over a publ

[2015-02-24 20:39] theVKC commented on #412
I just pull requested @lpshanley’s newest fix into beta. @ramonalisa1, can you tell us if it’s better now?

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail shoul

[2015-02-24 21:00] ramonalisa1 commented on #412
Nope, still getting error:

[cid:image001.png@01D05042.95F06E10]

Lisa M.
Financial Assistance Supervisor

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private or protected information should not be sent over a public (non-secure) Internet un

[2015-02-24 21:02] theVKC commented on #412
OK, I might have missed this earlier, but can you confirm for me that you had this script in the Agency Custom folder before yesterday’s update, and it worked then, but doesn’t now?

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) I

[2015-02-24 21:10] ramonalisa1 commented on #412
Correct.  I have used it before, but when I tried it after yesterday’s update, the error message started.

Lisa M.
Financial Assistance Supervisor

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private or protected information should not be se

[2015-02-24 21:44] theVKC commented on #412
Do other users experience it too? Or is it just you? Trying to isolate whether-or-not we merely have a branch identity/URL issue.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS stand

[2015-02-24 21:47] courtrightd commented on #412
In SLC it occurs with some users, 50% of the ones I checked.  It occurred only after the Beta update and is definitely related to that change.  It occurs when I change the redirect to point to Lucas’s repository or the beta repository.  There is no issue if I replace the redirect with the actual script file in the local directory.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: T

[2015-02-24 21:49] ramonalisa1 commented on #412
Some users get the error, others have no problems, and some get a blank screen when clicking the button.

Lisa M.
Financial Assistance Supervisor

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private or protected information should not be sen

[2015-02-24 21:51] theVKC commented on #412
OK, good to know. Sorry @lpshanley, I’m going to regress the version back to the original. Feel free to resubmit after working the kinks out. Let me know if you have any questions. I usually find it helpful to test these by building a new redirect that points to my fork, and getting it perfect there before pull requesting.

Caution: This e-mail and attached documents, if any, may contain informati

[2015-02-24 22:03] #412 closed

[2015-02-24 23:35] theVKC opened #422 "BULK script to pull raw DAILS into Excel for measuring DAIL status"
I should have thought of this. Submitted by X155569. Who wants it?

[2015-02-24 23:45] theVKC opened #423 "Add title and timer to MAIN MENU scripts"
Just in case anyone needs to know how long they ran.

[2015-02-24 23:46] theVKC opened #424 "Add links to SIR instructions within the MAIN MENU scripts"
Because it only makes sense, right?

[2015-02-25 15:15] RobertFewins-Kalb commented on #389
Next week, I will get time a health care worker doing this process manually to determine time savings.

[2015-02-25 17:56] theVKC commented on #389
[code]

[2015-02-26 16:11] CDPotter commented on #352
Forgot to alter the HC_intake_date. Currently adding new logic to replace HC_intake_date with the 4_mo_date + 1 day. Will submit shortly.

[2015-02-26 18:02] #352 closed

[2015-02-26 18:12] theVKC opened #428 "Evaluate efficiency of autofill functions for case notes"
I programmed this a long time ago, as a county financial worker with limited understanding of the power of scripting. Now, thinking on what I've learned in the last couple of years, I think we should re-evaluate the efficiency for autofill case noting, particularly how it relates to grabbing the information from MAXIS. I believe it effectively sends twice as many transmits as it needs to, as the d

[2015-02-27 13:06] theVKC opened #429 "Need instructions for MFIP orientation MEMO script"
I believe @courtrightd built this one. Do you feel up to making these? Perhaps you did and I forgot to add to the Wiki? Or, does anyone else feel up to doing it?

[2015-02-27 13:41] ramonalisa1 opened #432 "Add Guardianship Fees to Bulk Pull to Excel"
I would like to modify the pull to Excel to include an Excel report for guardianship fees.  We have one for PDED Rep Payee so it should be  simple one.  Anyone working on this?

[2015-02-27 13:42] theVKC commented on #432
Not that I know of. You want to go for it?

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly need-to-know basis. If you are

[2015-02-27 13:42] ramonalisa1 opened #433 "Agency Custom Button"
Just an FYI. I needed to run the Med B report so ran the script through the MAXIS menu instead of the Power Pad Button.  Worked fine.  When I tried to use the button, got the error.  May help resolve the issue.

[2015-02-27 13:43] ramonalisa1 commented on #432
I will give it a try!

Lisa M.
Financial Assistance Supervisor

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private or protected information should not be sent over a public (non-secure) Internet unless it is encrypted pursuant to DHS standa

[2015-02-27 13:43] theVKC commented on #433
Today, just now? We resolved that issue by regressing. Does your script not contain the new Master Functions Library block?

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards.

[2015-02-27 13:45] ramonalisa1 commented on #433
Oh wait.  I could have been using the saved one I had gotten from Anoka.  Sorry about that.

Lisa M.
Financial Assistance Supervisor

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private or protected information should not be sent over a publ

[2015-02-27 13:46] #433 closed

[2015-02-27 14:10] courtrightd commented on #429
That was my fault – I think I did PA verif and forgot this one.  I’ll knock it out ASAP.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, February 27, 2015 7:07 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: [DHS-MAXIS-Scripts] Need instructions for MFIP orientation MEMO script (#429)

I believe @courtrightd<https://github.com/courtrightd> built this

[2015-02-27 19:12] RobertFewins-Kalb opened #434 "Enhancement Request -- Updating NOTES - COMBINED AR"
A request has been made to include the following fields to the Combined AR case noter...
(1) Include a field to case note Interview Date
(2) Include a field to case note SHEL/HEST information

[2015-03-01 18:51] #408 closed

[2015-03-01 18:51] #423 closed

[2015-03-01 18:51] #424 closed

[2015-03-01 18:53] theVKC commented on #364
@CDPotter, since you brought this one out in here... would you mind asking on the discussion forum (and I'll bump it via email to all counties). I think we should get some opinions on this one before I decide to incorporate it, or close the issue. Make sense?

[2015-03-01 18:55] #247 closed

[2015-03-01 18:55] #363 closed

[2015-03-01 18:56] theVKC commented on #106
Closing, as this is also an issue reported on the FuncLib repo.

[2015-03-01 18:56] #106 closed

[2015-03-01 18:58] theVKC commented on #76
My very talented Hennepin counterpart @IlseFerris has volunteered to take this on (pending supervisor approval). Woot woot!

[2015-03-01 20:39] theVKC commented on #434
Do you want this one?

[2015-03-01 22:13] theVKC opened #436 "REVW/MONT closures: cash date may be wrong, re-evaluate"

[2015-03-01 22:18] theVKC commented on #428
Idea: replace the straight up `call navigate_to_screen` with an If...then statement to see if we're currently on that screen. That might increase the efficiency dramatically.

[2015-03-01 22:46] theVKC commented on #428
OK, I need to claim this one immediately. I'm too pumped about it.

[2015-03-01 22:57] theVKC commented on #428
Success! Preliminary tests show that a HH of 4 can reduce the time taken to evaluate each panel by a half second.

[2015-03-01 23:19] theVKC commented on #428
OK, I think I have something. I'm tagging @CDPotter, @RobertFewins-Kalb, @courtrightd, and @lpshanley, as you've helped contribute to FuncLib in the past. Care to evaluate my work at https://github.com/MN-Script-Team/BZS-FuncLib/blob/March-autofill-fixes/MASTER%20FUNCTIONS%20LIBRARY.vbs? Check out my last two commits on this new branch. Maybe we temporarily set Anoka and SLC up to point to this re

[2015-03-02 03:40] theVKC opened #439 "Idea: case noting functions should include blank handling by default"
Let's face it, there's no reason to case note a blank string, right? My proposal is to change the case_note functions to that functionality exists similar to `IF variable <> "" then <do all the writing>`.

All in favor?

[2015-03-02 03:53] theVKC opened #440 "Idea: write a function that would automatically case note all variables from a dialog"
Totally and utterly experimental. But would be amazing if it could. Would dynamically pull all variables off of the dialog and if they aren't blank, run `write_variable...` and case note that stuff. Writing case note templates would then be incredibly easy for beginners.

Looking for anyone who is interested? Opportunity for glory with this one. I'm also listening to 1812 Overture as I type this,

[2015-03-02 14:23] courtrightd opened #441 "NOTES - CLOSED PROGS notes the <backspace> as a text string"
case note headers appearing as follows: ---Closed SNAP/<backspace> 3/31/2015---

[2015-03-02 14:34] theVKC commented on #441
I'll take it. Critical bug.

[2015-03-02 14:50] theVKC commented on #441
Resolved.

[2015-03-02 14:50] #441 closed

[2015-03-02 15:37] CDPotter opened #445 "Checkbox for sending verif requests to AREP"
So I had a suggestion and wanted to get some feedback on it. Someone brought up that we should likely be case noting when we send verification requests to AREPs as well as clients. In my short brainstorming I thought of two solutions

1. Add a new checkbox for "Mailed verif request form to AREP"
2. Change verbiage for already existing verif request form boxes to be something like "Send verificatio

[2015-03-02 16:02] theVKC commented on #445
Personally, I like option 1 just fine. An explicit checkbox will do a far better job of reminding (and documenting) this issue than a passive message. But that’s just my opinion…

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Inte

[2015-03-02 20:12] jasont35 opened #446 "CAF Script enhancement for Certain Populations Application/Renewal"
Could the CAF script be modified to include the DHS-3876 (MHCP Application for Certain Populations) and the DHS-3727 (Combined Annual Renewal for Certain Populations) as a selection for Health Care document received. Also, clients who are renewing SNAP and/or HC that fall into the Certain Populations category receive the DHS-3727 as a renewal form. Is there a way to change the CAF script to show t

[2015-03-02 20:16] CDPotter commented on #446
The Combined AR (combined annual renewal) script is for 3727, and I've personally just been using the HCAPP script for 3876.

As for adding it to the dropdown box for the CAF I've had it requested a few times at our county but we decided against pursuing it since the dropdown box is editable and workers could specify any other form rec'd.

[2015-03-02 20:21] IlseFerris commented on #76
I got the a-ok from Ann to work on this whenever we get around to it ☺

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Sunday, March 01, 2015 12:58 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Ilse G Ferris
Subject: Re: [DHS-MAXIS-Scripts] DHS-5181 (#76)

My very talented Hennepin counterpart @IlseFerris<https://github.com/IlseFerris> has volunteered to take this on (pending super

[2015-03-02 20:39] jasont35 commented on #446
@CDPotter Thank you for the information. I relayed the information to the worker asking about this and they said that will work.

[2015-03-03 14:36] #446 closed

[2015-03-03 14:37] theVKC commented on #445
Do you want to do this, @CDPotter? It wouldn't be controversial at all from my end. If you do, let me know and I'll assign you.

[2015-03-03 14:43] theVKC commented on #76
What what? :)

I may have started a dialog for this. I'll see if I can send you what I have.

[2015-03-03 14:51] RobertFewins-Kalb opened #447 "NOTES - DOCS RECEIVED no longer puts the type of document in the header"
Instead, it's pushing the document received to the second line of the case note. I have received some complaints about this. If it's not a data privacy issue, I would like to commit a change to move it back to the header

[2015-03-03 14:54] theVKC commented on #447
How/when did that happen? In any case, I can't imagine it's a problem to set it back the way it was. I might do a beta push today for a few new features to test, so by all means proceed. While you're in there, can you update the case noting functions and copy the new FuncLib URL logic from the CAF script in there? We need to make those changes incrementally as we work...

[2015-03-03 14:59] IlseFerris commented on #76
Awesome!

Say, are you working at Anoka on Friday?  I have the 2 Lectora training workbooks with me.  They were in my training materials, and I forgot to grab them out and leave them at Anoka.  I was hoping you could take them with you on Thursday.  Ehhh?

Also remember how we get to work together a bunch starting Thursday?!  I’m super excited!

From: Veronica Kahl Cary [mailto:notifications@githu

[2015-03-03 16:07] theVKC opened #449 "Pull data from document direct/Excel into CCOL screens en masse"
This is an idea I'll be working on internally next week. Just getting it out here. It has to do with claims, and may indirectly assist counties. It might also provide a good template for county scripts related to claims. More to come for sure.

[2015-03-03 16:13] theVKC opened #450 "Shift date of application to a CM/01/CY type of approach"

[2015-03-03 16:29] theVKC commented on #429
Nice work!

[2015-03-03 16:29] #429 closed

[2015-03-03 16:30] #447 closed

[2015-03-03 16:36] theVKC commented on #436
Someone sent me a bulletin citation #14-69-05, IV - Program Uniformity Section B., 30-day reinstatements.

Anyone feel up to taking this?

[2015-03-03 16:46] RobertFewins-Kalb opened #452 "Can we use a HC ER for a CSR?"
There has been concern in Anoka County that we cannot use a HC ER for a CSR (ex. a client is open on SNAP and MA and turns in their HC ER but fail to turn in their CSR for SNAP). What is the current policy? This matters because we may or may not need to remove the checkbox in the HC Renewal case note script that the ER was used for a CSR.

--Glossing over the fact that the SNAP and HC renewal date

[2015-03-03 16:48] theVKC commented on #452
I have a policy inquiry in to get this resolved. ETA is the end of the week.

[2015-03-03 17:06] courtrightd commented on #398
Go ahead assign this to me, I'll take it on when I can.

[2015-03-03 17:09] theVKC commented on #398
Done!

[2015-03-03 17:10] #367 closed

[2015-03-03 17:39] RobertFewins-Kalb commented on #436
I'll take a looky-loo.

[2015-03-03 17:48] theVKC commented on #436
As I said elsewhere: killing. it. Assigned.

[2015-03-03 17:52] RobertFewins-Kalb commented on #436
The policy appears to give a reinstatement period to GA, MSA, MFIP, DWP, and GRH, but not to RCA.

[2015-03-03 19:35] RobertFewins-Kalb commented on #436
Question...
Policy allows for a 30-day reinstatement period. How literal is that 30-day period? Combined Manual gives a 30-day period as well for SNAP (From CM009.06.03, "If the unit takes the required action within 30 days after the end of the certification period, reopen the case and PRORATE benefits from the date the unit took the required action.", Source: http://www.dhs.state.mn.us/main/idcpl

[2015-03-03 19:48] ramonalisa1 commented on #436
Here is a PI I found.  Hope this helps..
Completed

Submitted By:

Nedra Van Dam from Rice County
Phone: 507-332-6203 - Fax: 507-332-6247

Answered By:

Lea Glad

Approver:

Becky Payzant

Rush:

No

Attachment Sent:

No

Attachment Received:

--

Late?:

No

Extra Time Email Sent?:

Yes, on 1/29/2015 at 2:56 PM

Program Name:

MFIP

Manual Reference:

09.06

Question:

We have questions on the 30

[2015-03-03 21:32] RobertFewins-Kalb commented on #434
yes

[2015-03-03 22:07] tdahl21 opened #455 "Burial Asset Casenote Issue"
Hey Everyone,

A co-worker ran into an issue where she was running the burial asset casenote to note the breakdown of goods for a specific insurance funded burial agreement.  She left everything blank, except for what she checked off on screen 3 of the dialog box, the different components of the agreement and their costs and whether or not it was excluded.  It ended up casenoting the total of the

[2015-03-03 22:52] RobertFewins-Kalb commented on #361
This has been resolved.

[2015-03-03 23:46] LaLarson opened #458 "DWP Budget CN"
A CN script that has all the information in it for when someone is referred to ES.

[2015-03-03 23:48] theVKC commented on #458
Nice job @LaLarson!!

[2015-03-03 23:48] #458 closed

[2015-03-04 11:41] #361 closed

[2015-03-04 13:33] CDPotter commented on #445
Sure! I'll take a crack at it.

[2015-03-04 13:34] theVKC commented on #445
Good luck!

[2015-03-04 16:08] theVKC commented on #455
This is kind of hard to diagnose from the description. Is the case note still in MAXIS? If so, @tdahl21, can you email me the case number, and I'll check it out tonight (I have a site visit planned for central MN, so it'll be some time before I get to it).

[2015-03-04 21:05] IlseFerris commented on #445
I think that's a great idea!  Espeically for workers that primarily communicate with the AREP's instead of the clients (your LTC/Wavier/GRH folks in particular).

[2015-03-05 14:51] RobertFewins-Kalb commented on #150
I think this is done. I think the file PROJ KRABAPPEL HC APPROVAL.vbs (https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/blob/master/Project%20Krabappel/PROJ%20KRABAPPEL%20HC%20Approval.vbs) does just that.

[2015-03-05 15:28] theVKC commented on #150
Has it been merged into the main code though? Can we do that assembly?

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly ne

[2015-03-05 15:31] RobertFewins-Kalb commented on #150
I think it should be made a custom function and then added to the Krabappel FunkyLib. IF OK = True, THEN make it so I shall.

[2015-03-05 16:01] CDPotter commented on #445
So it's been a bit crazy here so this may be delayed a bit but I wanted to make sure we hit every script that may need this added check box. Currently Megan and I came up with CAF, CAR, client contact, CSR, Emergency,  GRH HRF, HCAPP, HC Renewal,  HRF, LTC 1503, LTC Renewal, Verifs requested.

Can anyone think of any others we might have missed?

[2015-03-05 21:08] IlseFerris opened #460 "PIC copier"
Say, wouldn't it be nice if we had a an option in the CAF script or ER scripts to select copying the SNAP PIC and/or the HC income estimater in to the script for each HH member?  What do you all think?

[2015-03-05 22:26] theVKC opened #461 "HCAPP script: add option to HCAPP status dropdown for "denied""
From Olmsted County... it really does make sense if you think about it. Any takers?

[2015-03-05 22:27] theVKC commented on #460
I think this is a wonderful idea. Any takers?

[2015-03-05 22:36] theVKC commented on #379
@IlseFerris is on it, that's who.

[2015-03-05 22:37] theVKC commented on #341
Go @IlseFerris!

[2015-03-05 22:38] theVKC commented on #407
@IlseFerris's got our backs on this one.

[2015-03-06 16:10] CDPotter commented on #445
Also, Veronica,  since this would be editing a lot of scripts would you like it submitted in separate pulls for each script of one big branch with check boxes for all.

[2015-03-06 16:29] RobertFewins-Kalb opened #462 "Transfer Penalty Case Note Template"
We have received a request from an Anoka LTC Worker to build a Transfer Penalty case note template.

All of the information can be found here...
http://www.dhs.state.mn.us/main/idcplg?IdcService=GET_FILE&RevisionSelectionMethod=LatestReleased&Rendition=Primary&allowInterrupt=1&noSaveAs=1&dDocName=dhs16_150210

[2015-03-06 16:30] RobertFewins-Kalb commented on #462
Shout out to @IlseFerris @RoyStearns , yo.

[2015-03-06 18:56] theVKC commented on #462
Any takers?

[2015-03-10 18:12] asunderman opened #464 "change to verification request script"
Can a pulldown be added to this script to say who the 2919A & B were sent to?  Right now it just says "client".  Can AREP and maybe SWKR be added as choices there too?  thanks!

[2015-03-10 18:14] #464 closed

[2015-03-12 13:09] CDPotter commented on #380
This was fixed with pull #18 on Funclib. This can be closed.

[2015-03-12 13:16] theVKC opened #465 "NOTES - GRH HRF: Add Obligation Amount to case note"
Came from X143626. Any takers?

[2015-03-12 13:22] CDPotter commented on #465
I could probably do that. I'm not super familiar with GRH but is it just a edit box for Obligation amount? Should I be pulling that from somewhere or just letting people fill it in themselves?

[2015-03-12 13:23] theVKC commented on #465
I’m betting @ramonalisa1 or @IlseFerris may be able to shed some light on that. :)

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a

[2015-03-12 13:27] asunderman commented on #465
Can it be pulled from the GRH elig after approval?

From: Charles P [mailto:notifications@github.com]
Sent: Thursday, March 12, 2015 8:23 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] NOTES - GRH HRF: Add Obligation Amount to case note (#465)

I could probably do that. I'm not super familiar with GRH but is it just a edit box for Obligation amount? Should I be pulling th

[2015-03-12 13:28] ramonalisa1 commented on #465
If you go to ELIG/GRH on the GRSM panel, the Client Obligation is at 18, 032.  If you could do this, that would be great!  You can view case 100630 if you need an example.

Lisa M.
Financial Assistance Supervisor

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E

[2015-03-12 13:29] CDPotter commented on #465
Fantastic! Thanks you!

[2015-03-12 13:57] courtrightd commented on #447
Any update on merging this into BETA?

[2015-03-12 14:02] theVKC commented on #447
We have a fix but it isn’t enough of a priority for me to push it out before the rest of the beta stuff. Planning a beta release in a week or so.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursu

[2015-03-12 14:05] courtrightd commented on #447
Thanks!

[2015-03-12 14:27] theVKC commented on #380
Good deal!

[2015-03-12 14:27] #380 closed

[2015-03-12 14:33] theVKC commented on #465
@ramonalisa1, I deleted your comment because it contained a case number. I need to be extra sensitive about case data in GitHub. Even though it was just the case number info, I still needed to remove it.

[2015-03-12 16:47] IlseFerris opened #466 "CAF enhancement: ID/USC field"
QI team from Hennepin Co. is requsting that this field "ID/USC verified?  What is on file to verify? " be added to CAF script.  Check box for ID/USC verified, script would autofill the verif on file if verif is anything besides OT.  If OT, worker must manually enter what was used to verify.
Purpose would be to document ID veriification for SNAP reviews/audits.
It's my understanding that the CAF is

[2015-03-12 18:19] theVKC commented on #466
The state's recommendation remains that a separate case note for CIT/ID info be added, and there's already a script for that. At this time, amending the CAF script for such a request would be too progammatically cumbersome to be undertaken.

[2015-03-12 18:19] #466 closed

[2015-03-12 19:46] theVKC commented on #462
@IlseFerris has our back on this one.

[2015-03-12 20:22] theVKC commented on #285
@RobertFewins-Kalb, any movement on this idea? Want I should close it?

[2015-03-12 20:24] RobertFewins-Kalb commented on #285
Shut it down.

[2015-03-12 20:41] theVKC commented on #439
Just pushed to beta over in FuncLib.

[2015-03-12 20:41] #439 closed

[2015-03-12 20:41] #285 closed

[2015-03-12 20:41] theVKC commented on #285
Donezo.

[2015-03-12 21:14] theVKC commented on #465
@CDPotter, I just merged this via #467.

[2015-03-12 21:14] #465 closed

[2015-03-13 15:39] theVKC opened #468 "Announcing Project Cerberus: RELEASE/BETA/master branches for FuncLib"
It only makes sense, especially in light of this week's FuncLib navigate_to_MAXIS_screen debacle. This would involve amending the FuncLib call to include all three branches as follows:

* Scriptwriters would use master (i.e. `beta_agency = ""`)
* Beta agencies would use BETA (i.e. `beta_agency = True`)
* Everyone else would use RELEASE(i.e. `beta_agency = False`)

For now this will be a single iss

[2015-03-13 16:54] theVKC commented on #371
Resolved with pull request #469. Nice work @IlseFerris!!

[2015-03-13 16:54] #371 closed

[2015-03-13 17:27] IlseFerris commented on #371
Thank you!

[2015-03-16 13:50] CDPotter commented on #364
Sorry for the delay this got buried in my email. I added a discussion to the SIR forum.

[2015-03-16 20:38] LaLarson opened #471 "New Script - PDED"
Wondering if there is a way to modify an existing BULK script so that it will create a list of all cases that have a PDED panel from the work around last year?

We were thinking it could work similar to one of the existing list generator scripts.

[2015-03-16 20:44] lpshanley commented on #471
What screen/Source are you going to gather the case numbers to search through?

-Lucas
“Valar dohaeris”
#DecimateTheErrorRate

From: Laura Larson [mailto:notifications@github.com]
Sent: Monday, March 16, 2015 3:38 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] New Script - PDED (#471)

Wondering if there is a way to modify an existing BULK script so that it will create a list

[2015-03-16 20:45] LaLarson commented on #471
I’m super new to all this stuff, so I’m sorry if I sound really dumb/unsure… But I’m thinking, probably, REPT/ACTV???

Laura Larson
IMU – Family Unit

Goodhue County HHS
426 West Avenue
Red Wing, MN 55066

Phone: 651-385-3200
Fax Numbers:

  *   Child Support Fax: 651-267-4880
  *   Income Maintenance Fax: 651-267-4879
  *   Social Services Fax: 651-267-4877

Email: laura.larson@co.goodhue.mn.us<m

[2015-03-16 20:53] CDPotter commented on #471
No need to apologize! We could modify current scripts that use rept/actv however that would miss any cases that had the PDED fix that are now currently inactive. Of course we could also modify it to search CLS or wherever closed scripts are held (though sifting through that data will take a LONG time per run.)

What are you looking to do with the data if you don't mind me asking?

[2015-03-16 20:58] LaLarson commented on #471
We would go into the cases identified as having a PDED panel, (for most of them) remove all of the PDED panels, and approve correct HC budgets.

I think it wouldn’t be a huge deal if it didn’t look at the closed cases? Those people, for the most part, are reapplying via MNSure? Also, we could just make it a point to run it periodically to check for new ones that somehow became active again?

Laura

[2015-03-16 21:03] CDPotter commented on #471
Makes sense to me! We could totally alter the rept/actv bulk script we have (we do it all the time here at Anoka) to create a spreadsheet with active PDED panels.

Would you want it to gather any and all pded panel active cases or only the ones with other earned/unearned income portions completed?

[2015-03-16 21:07] LaLarson commented on #471
Saweeeet!!!

I really think either way would be fine… But I lean towards the first thought? Just all of them? I’m pretty sure that pretty much all of the PDED panels should get cleaned up (removed).

Laura Larson
IMU – Family Unit

Goodhue County HHS
426 West Avenue
Red Wing, MN 55066

Phone: 651-385-3200
Fax Numbers:

  *   Child Support Fax: 651-267-4880
  *   Income Maintenance Fax: 651-267-487

[2015-03-17 12:40] RobertFewins-Kalb commented on #471
This report generator already has two options to pull information from PDED (https://raw.githubusercontent.com/RobertFewins-Kalb/Anoka-Specific-Scripts/master/BULK%20-%20Pull%20Cases%20into%20Excel.vbs). It would be a simple modification to just have it check for a PDED panel instead of the information on the PDED panel.

[2015-03-17 13:03] LaLarson commented on #471
I just tried it… So cool!!!

I’m thinking we would either need it to pull cases w/ PDED panels in general, or the ones that have “Other Unearned income Deduction” and/or  “Other Earned Income Deduction” entered on them. Whatever is easiest?

Also… Is there a way to get it to run on the bank caseload (a caseload other than my own/the person running it)??

Laura Larson
IMU – Family Unit

Goodhue Cou

[2015-03-17 13:09] RobertFewins-Kalb commented on #471
You know what...that script has a section of code that checks for certain Anoka users. The point of the user validation was to give supervisors, program coordinators, and script developers access to more reports than the rest of the floor. It's also a way of preventing an FAS running a report on anyone else's caseload.

Two options: (1) Modify the variable "user_id_for_validation" to make it relev

[2015-03-17 13:21] LaLarson commented on #471
I’m really really sorry… I just read that last part about ten times, and I feel like I’m so close to understanding what those two options are, but not close enough to actually discuss them. Any chance you could dumb those down a little? (Probably a really sad request… I know.) Or maybe just elaborate a little more on what the two options would actually do, and what would be easiest?

Thank you so

[2015-03-17 13:54] RobertFewins-Kalb commented on #471
No problem! Here's a quick breakdown of the user_id_for_validation logic...

The short version of what that variable is is the user's network log-in ID. So what we have set up in the script is an access block for most workers. We have allowed select supervisors, program coordinators, and script developers to run all of the available reports AND to allow them to run the reports on users other than

[2015-03-17 15:37] lpshanley commented on #471
The ONLY dumb questions are the ones that go unasked ☺.

Rob will need to correct me if in incorrect here but:

(1)   Modify the variable "user_id_for_validation" to make it relevant to Goodhue County
-Essentially this variable in the script is to check if the user running the script is a user that is “Authorized” to be running the script. You could replace all the users in the variable with users

[2015-03-17 16:08] RobertFewins-Kalb commented on #471
There is no need for correction. That is all 100% accurate.

[2015-03-17 16:16] theVKC commented on #471
You folks are amazing. All of you.

@RobertFewins-Kalb, I think this should be an official script... We can add an array for supervisor_script_users to GlobVar or FuncLib and make it happen... Care to take it?

[2015-03-17 16:48] IlseFerris commented on #76
Can I get the dialog you started on this one?  It doesn't need to be today.  Thanks!

[2015-03-17 18:00] GayS opened #472 "NOTE - Documents Received"
the documents received script isn’t putting in title.  For example:

This is how it is currently creating case note:

Docs rec'd:
hra award letter
* Document datestamp: 02/27/15
* Notes: slight increase in subsidy
* Actions

This is how it should be creating case note (I believe):

Docs rec'd: hra award letter
* Document datestamp: 02/27/15
* Notes: slight increase in subsidy
* Actions

[2015-03-17 19:31] theVKC commented on #472
We actually fixed this already, and it'll be released after hackathon tomorrow. :)

[2015-03-17 19:32] #472 closed

[2015-03-17 20:09] GayS commented on #472
Great – thanks; I didn’t see it on the list. ☺

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, March 17, 2015 2:32 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Sikkink, Gay
Subject: Re: [DHS-MAXIS-Scripts] NOTE - Documents Received (#472)

We actually fixed this already, and it'll be released after hackathon tomorrow. :)

—
Reply to this email directly or view it on GitHu

[2015-03-18 19:58] IlseFerris opened #483 "LTC intake approval script--Lookback period is based on incorrect data"
HCPM  19.40.15 - Lookback Period
Determining the MA Lookback Period
 The lookback period is a specific period of time prior to a baseline date. A new lookback period is established each time a person requests MA payment of LTC services following a break in long-term care (LTC) services. The baseline date is the date in which both of the following conditions are met:
1. a person is residing in an L

[2015-03-18 20:27] IlseFerris commented on #386
I can take a look at this if @jasont35 isn't able to.

[2015-03-18 20:35] devonne01 commented on #461
Kelly and I will work on this issue right now.

[2015-03-18 20:37] devonne01 commented on #461
Kelly and I will try and take this one.

[2015-03-18 20:44] devonne01 commented on #461
Devonne will take this one

[2015-03-18 20:46] theVKC commented on #461
Thanks @devonne01!

[2015-03-19 00:28] theVKC commented on #80
@CDPotter took and committed this one today. Already pull requested it, I'm making changes and will close issue shortly.

[2015-03-19 00:28] #80 closed

[2015-03-19 12:25] #461 closed

[2015-03-19 13:05] jasont35 commented on #386
Go ahead and take this one @IlseFerris I am not able to at this time.

[2015-03-19 13:28] theVKC opened #491 "Find footer month is bugging out if started on HEST panel"
It's NBD but it sees the "Month: " at 8, 52 and gets all confused and enters a dollar sign. I don't recall if we have a custom function for this, we should if we don't, and we should work some error handling in to fix this issue. Any takers?

[2015-03-19 14:22] theVKC opened #492 "Update all the main menu scripts with new script info and beta FuncLib reference"
I got this.

[2015-03-19 21:17] theVKC commented on #379
#479 closed this issue.

[2015-03-19 21:17] #379 closed

[2015-03-19 21:19] theVKC commented on #341
Closed with #473.

[2015-03-19 21:19] #341 closed

[2015-03-19 21:50] RobertFewins-Kalb opened #496 "Proposed modification to ACTIONS - PAYSTUBS RECEIVED"
I have received a request for a modification to ACTIONS – PAYSTUBS RECEIVED. First, I will run through the issue, and then I will present a possible solution.

A worker admitted his mistake, saying that he entered the wrong household member on the opening dialog. However, he also said he then wasted a good amount of time entering pay stub information into the second dialog only to run into the pro

[2015-03-20 02:26] theVKC opened #497 "Merge client contact with call center version"
Perhaps as simple as "are you part of a call center?" and it starts the more focused dialog... In any case, it'd be better to have just one version to support! Any takers?

[2015-03-20 02:30] theVKC opened #498 ""Documents received" button merge?"
We need to pick a "project name" for this, and then set up a meeting to figure out what we want to do about the inevitable "______ document received" glut with new scriptwriters contributing info about specific docs (info that counties and DHS both want to case note). Basically, I don't want to create too many buttons.

My considerations off the top of my head:

* Do we spin off "verifs received"

[2015-03-20 13:42] IlseFerris commented on #498
Consolidating would most likely be the best way to save what I will call “button fatigue”.  Too many buttons could make less time savings if they are having to spend more time searching for them.  Plus the options within the buttons IE:  either of the ‘NOTES’ buttons , are getting heavy with options.

It’s a great problem to have with so many new scripts, but I am anticipating workers less enthusi

[2015-03-20 14:24] CDPotter commented on #498
@RobertFewins-Kalb and I had a similar set up for this with our HC WCOM menu. You would click the WCOM button then check the type of WCOM you wanted and the specific WCOM script would load after that. Of course we have had issues with our ability to chainload scripts after moving to github so it would possibly all have to be part of one script or it's own button.

[2015-03-20 14:27] tdahl21 opened #504 "CRF case-note Script Bug - No outcome"
Hey Everyone,

We tried to run the new CRF script, but we are running into an error that says that the script does not have an outcome.

[2015-03-20 14:49] RobertFewins-Kalb commented on #504
There appears to be an issue with how the script is handling case_number

[2015-03-20 23:56] theVKC commented on #504
On it.

[2015-03-23 00:09] theVKC commented on #504
I believe this should be resolved with Pull Request #507.

[2015-03-23 00:09] #504 closed

[2015-03-23 13:15] theVKC commented on #436
Resolved with #454, among others. :)

[2015-03-23 13:15] #436 closed

[2015-03-23 14:05] RobertFewins-Kalb commented on #137
I'm on it.

[2015-03-23 15:23] RobertFewins-Kalb opened #513 "ENHANCEMENT REQUEST -- ACTIONS - TRANSFER CASE"
Currently when using TRANSFER CASE to transfer a case out of county, the script determines CFR change date based on the month of XFER when it should be based on the month of move. That is an oversight on my part.

[2015-03-23 15:35] CDPotter commented on #513
I can take a crack at this.

[2015-03-23 18:41] theVKC commented on #462
I believe #500 brought @IlseFerris's work into the fold. Closing issue! Woot woot!

[2015-03-23 18:41] #462 closed

[2015-03-23 18:42] IlseFerris commented on #455
Tim, this sounds similar to the issue you're having today (am I correct?).  I ran this several times, with several different variable, and was successful every time.  You're right in that if you do not fill in the HH member, you should get a message box with an error.  Might be a dumb question, but are you using an old power pad?

[2015-03-23 18:51] IlseFerris commented on #401
I'm pretty sure that the AA case note does not copy more than one page.  I can take this one

[2015-03-23 18:52] IlseFerris commented on #455
Boom, issue resolved.  OK to close Notorious VKC!

[2015-03-23 18:55] #513 closed

[2015-03-23 18:55] #455 closed

[2015-03-23 20:11] IlseFerris commented on #386
Sounds good. VKC, I'm a go!

[2015-03-23 22:11] theVKC commented on #386
It's yours @IlseFerris! Good luck!

[2015-03-24 13:48] RobertFewins-Kalb commented on #139
Done

[2015-03-24 13:48] RobertFewins-Kalb commented on #137
Done

[2015-03-24 13:48] RobertFewins-Kalb commented on #136
Done

[2015-03-24 13:49] RobertFewins-Kalb commented on #148
I'm adding it as I go along.

[2015-03-24 13:49] RobertFewins-Kalb commented on #150
Done

[2015-03-24 13:49] RobertFewins-Kalb commented on #193
I will get to this today

[2015-03-24 14:54] tdahl21 commented on #455
Thanks peeps!  You're too good!

[2015-03-24 15:44] RobertFewins-Kalb commented on #193
Fixed

[2015-03-24 15:45] RobertFewins-Kalb commented on #141
Done

[2015-03-24 20:19] RobertFewins-Kalb commented on #148
On my data validation, here are examples of what I'm doing...
For WREG, ABAWD Status:
10 - ABAWD Counted Month
Then, when the script is reading the Excel file, I'm making it read only the left 2 characters. My rationale is that while I'm already in here, why not make it a little more user friendly...

[2015-03-24 20:50] theVKC commented on #148
Love it!

[2015-03-25 15:02] theVKC opened #515 "LTC/GRH list gen - cutting off last few names on the list"
That's the rumor. I have specific worker numbers. @IlseFerris has offered to take this on.

[2015-03-25 15:02] theVKC commented on #243
Do you want this one @IlseFerris? I could guide you through it if you'd like.

[2015-03-26 14:21] RobertFewins-Kalb opened #517 "REIN/REAPP for CASH/SNAP"
I recently put something on the SIR DIscussion board regarding automating a TIKL for incomplete CASH/SNAP reinstates. Figured I would put it on here too. The basic idea is automating a TIKL if the following conditions are met:

(1) CAF_type = "Recertification"
(2) DatePart("M", CAF_datestamp) = recert_month (may need to define recert_month)
(3) CAF_status <> "Approved"
(4) CASH_check = checked OR

[2015-03-26 16:14] CDPotter opened #518 "Krabappel BUSI panel"
While working on the month +1 issue we remembered BUSI got an overhaul this spring. This will need to be tackled in regards to Krabappel.

[2015-03-26 19:31] theVKC commented on #518
Do you have this one?

[2015-03-26 19:31] theVKC commented on #517
Is this a new script? Enhancement? Huh?

[2015-03-26 19:32] RobertFewins-Kalb commented on #518
We are the Intercontinental Tag Team Champions!!

[2015-03-26 19:32] RobertFewins-Kalb commented on #518
Which is to say, "yes."

[2015-03-26 20:19] RobertFewins-Kalb commented on #518
#Donezo

[2015-03-26 21:01] RobertFewins-Kalb commented on #517
Enhancement request. sorry...

Sent from my iPhone

On Mar 26, 2015, at 2:31 PM, Veronica Kahl Cary <notifications@github.com<mailto:notifications@github.com>> wrote:

Is this a new script? Enhancement? Huh?

-
Reply to this email directly or view it on GitHub<https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/issues/517#issuecomment-86683971>.

Click here<https://www.mailcontrol.com/sr/60D3Kw+PE

[2015-03-27 11:50] theVKC commented on #518
So are you going to pull request all this wonderful stuff in? Because it's in a project folder you aren't exactly bound by code freeze...

[2015-03-27 12:08] RobertFewins-Kalb commented on #518
Pulled. I don't deserve all the commit info on this one. @CDPotter and I tag-teamed this.

[2015-03-27 13:33] RobertFewins-Kalb commented on #518
We just timed Krabappel creating and approving FS and HC on one Pressley case...

1 BUSI (updated for 03/15 and 04/15)
1 CASH
1 COEX (updated for 03/15 and 04/15)
1 DCEX (updated for 03/15 and 04/15)
1 HEST
2 JOBS (updated for 03/15 and 04/15)
2 PARE
1 SHEL
2 UNEA (updated for 03/15 and 04/15)
1 WKEX (updated for 03/15 and 04/15)
(and obviously, TYPE, PROG, REVW, ADDR, 3 MEMB, 3 MEMI, 3 WREG, 1 EA

[2015-03-28 02:14] RobertFewins-Kalb commented on #471
This sounds juicy. Absolutely!

[2015-03-30 23:16] #483 closed

[2015-03-31 14:02] IlseFerris opened #523 "ABAWD script"
So Henn Co. QI team is interested in an ABAWD script that can detail information about the ABAWD's including the follow up (EX: “Orientation scheduled for _(month)____- 2015 and exemption sheet given/mailed to client”)
Thoughts?

[2015-03-31 14:23] courtrightd commented on #523
I have a SNAP orientation letter script that sends the WF1 referral and case notes, (soon to be released), perhaps adding a checkbox for exemption sheet given / mailed to client would work.  However if there is info that needs to be noted without sending a referral it wouldn’t make sense to do it this way.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Tuesday, March 31, 2015 9:02 AM
T

[2015-03-31 15:25] theVKC commented on #523
We could have the one script call the other where appropriate, right? Use the `CALL run_from_GitHub(url)` function, and make it easy for all of us? :)

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted

[2015-03-31 15:28] IlseFerris commented on #523
I would love to do both!  David, are you going to April's hackathon/going to be around the Hennepin County area anytime soon?

[2015-03-31 15:31] courtrightd commented on #523
Staffing shortages and other issues are keeping me stuck in Duluth for the time being, but I can easily add stuff to the SNAP orientation script if you let me know what you are thinking.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Tuesday, March 31, 2015 10:29 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] ABAWD script (#523)

I would l

[2015-03-31 16:35] GayS opened #524 "NOTE - Emergency"
The script notes "Prospective" income that is pulled from the JOBS panel.

Issue: client had three pay stubs entered for one month in JOBS and the case note script entered the total for the month vs. prospective income which case noted the client as over the 200% FPG.

Question:  should the "Prospective" income be pulled from teh FS PROSP INC screen instead?

[2015-03-31 16:43] theVKC commented on #524
It is. Both areas are technically “prospective income”. MAXIS refers to it as “prospective income” in both places. If there is information on the PIC and the prospective income side of the panel, it pulls both per the request of our cash and SNAP folks.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private

[2015-03-31 17:35] GayS commented on #524
Thanks for the clarification.

[2015-03-31 18:26] IlseFerris commented on #523
Sounds like a plan!  I'd love to be able to roll this out for 05/01/15

[2015-03-31 18:52] IlseFerris opened #526 "Enhancement of "follow up needed" button to NOTE - CLIENT CONTACT"
Title pretty much says it all.  Would like to add check box for follow up needed on the client contact NOTE script.  I can take this one.

[2015-03-31 19:29] #524 closed

[2015-03-31 19:29] theVKC commented on #526
It's yours!

[2015-03-31 19:31] theVKC commented on #523
Woohoo! @IlseFerris, could you tell @courtrightd what you think might make sense to add to his script in the way of a checkbox?

[2015-03-31 22:03] theVKC opened #527 "Need instructions for a few scripts"
No biggie, just need some instructions thrown up on the Wiki. I'll tag the folks who I believe worked on these scripts, correct me if I'm wrong (edited to show what's complete after the original post):

* MEMOS - Overdue Baby - @LaLarson - COMPLETE
* NOTES - Baby Born - @LaLarson - COMPLETE
* NOTES - Drug Felon - @devonne01
* NOTES - DWP budget - @LaLarson - COMPLETE
* NOTES - MFIP sanction/DWP di

[2015-03-31 22:04] theVKC commented on #527
I should have mentioned, please try and use the format that's already on the Wiki. Again, email me if you have questions! :)

[2015-03-31 22:12] theVKC commented on #527
@GayS, I forgot one of yours. I've added it to the list.

[2015-03-31 22:16] theVKC commented on #527
OK. I've just added the links to the MEMOS and NOTES sections of the Wiki. All you folks have to do is click the link, fill out your info, and send it in to me. Easy as pie.

[2015-04-01 13:35] LaLarson commented on #527
Okay… I think I did it.

Laura Larson
IMU – Family Unit

Goodhue County HHS
426 West Avenue
Red Wing, MN 55066

Phone: 651-385-3200
Fax Numbers:

  *   Child Support Fax: 651-267-4880
  *   Income Maintenance Fax: 651-267-4879
  *   Social Services Fax: 651-267-4877

Email: laura.larson@co.goodhue.mn.us<mailto:laura.larson@co.goodhue.mn.us>

HHS Temporary Relocation Update

Effective Tuesday, Febr

[2015-04-01 15:22] GayS commented on #527
hmmm - I'm not seeing the NOTE - MFIP Sanctions/DWP Disqualification listed in WiKi.  I do  have a description ready.

[2015-04-01 16:05] CDPotter commented on #527
If it's a brand new script you will have to add a page for it on the note wiki page. If you edit the menu page you can copy the formatting for the other links to make a new page. Let me know if you have any troubles with it and I can take a look/make instructions for it.

[2015-04-01 17:00] GayS commented on #527
Thanks - I think I have added the note name & a description to the wiki page.  ??

[2015-04-01 17:30] theVKC opened #529 "The CAF dialog stuff needs to be commented"
This is ridiculously complex. It should definitely be commented thoroughly so that future scriptwriters do not get confused when trying to make multi-dialog case note templates.

"That thing is straight up complicated." - @IlseFerris

[2015-04-01 17:30] CDPotter commented on #527
I don't see it but I also don't have editing access so maybe it still need to be approved. @theVKC are you able to see the new NOTE - MFIP link on the notes scripts page?

[2015-04-02 15:14] theVKC commented on #527
You did well, @GayS and @CDPotter. I am currently taking stock of all of the changes you all submitted and will update the initial issue with what I know. :)

[2015-04-02 15:16] theVKC commented on #527
OK, looks like we still need NOTES - Drug felon (@devonne01) and NOTES - MNsure - Documents req'd. I really don't remember who built that one, but I know it was done at Anoka. If @CDPotter and @RobertFewins-Kalb call "not it", I'll take care of it myself. :)

[2015-04-02 15:19] CDPotter commented on #527
Sorry it's been a really crazy week for me personally and I haven't had any time to take a crack at it. I should think by the end of the week I should be able to get it done.

[2015-04-02 15:22] theVKC commented on #527
No worries @CDPotter, in fact, if you didn't write the script don't worry about it (unless you really want to). I just don't remember who wrote the dang thing!

[2015-04-02 15:24] devonne01 commented on #527
I’m sorry I was busy I will try and get to the drug felon in the next little bit..

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Thursday, April 02, 2015 10:17 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Devonne R. Kent
Subject: Re: [DHS-MAXIS-Scripts] Need instructions for a few scripts (#527)

OK, looks like we still need NOTES - Drug felon (@devonne01<https://github.com/devo

[2015-04-02 15:28] theVKC commented on #527
Thanks @devonne01! No rush, just happy to have it done! Let me know if you have any questions! :)

[2015-04-02 16:51] courtrightd opened #530 "MFIP orientation updated for multiple household members"
Added issue for tracking only.  Is complete.  MFIP orientation letter now allows specifying multiple household members that need to attend, they are then listed on the letter and the case note.

[2015-04-02 18:54] theVKC commented on #530
Thank you for adding this before pull requesting, @courtrightd! Rock star move right there. :)

[2015-04-02 18:55] #530 closed

[2015-04-02 20:13] CDPotter commented on #527
Got it added!

[2015-04-02 21:46] #87 closed

[2015-04-02 21:46] #523 closed

[2015-04-02 21:47] #518 closed

[2015-04-02 21:48] theVKC commented on #194
Is this resolved @RobertFewins-Kalb?

[2015-04-02 21:48] #193 closed

[2015-04-02 21:48] RobertFewins-Kalb commented on #194
I don't think I changed anything but it seems to be working just fine. Yes...?

[2015-04-02 21:48] #150 closed

[2015-04-02 21:49] #136 closed

[2015-04-02 21:49] #139 closed

[2015-04-02 21:49] #141 closed

[2015-04-02 21:49] #137 closed

[2015-04-02 21:49] #194 closed

[2015-04-02 21:50] #151 closed

[2015-04-02 21:52] theVKC commented on #138
I'm bumping this. Anyone want it? @CDPotter, @RobertFewins-Kalb, @courtrightd, or @lpshanley?

[2015-04-02 21:53] theVKC commented on #148
I'll take the rest.

[2015-04-03 13:35] courtrightd opened #533 "Fix Krabappel Date issues"
I think write_panel_to_maxis_DISA has an issue with using create_maxis_friendly_date, since DISA uses 4 digit years.

[2015-04-03 13:39] theVKC commented on #533
Who wants it?

[2015-04-03 13:39] RobertFewins-Kalb commented on #533
On the topic...

One thing we need to do is insert an:
IF date_variable <> "" THEN CALL create_MAXIS_friendly_date(date_variable)

Otherwise, the function is dumping "12 30 99" in the date field.

[2015-04-03 13:41] theVKC commented on #533
Are you volunteering, @RobertFewins-Kalb? :)

[2015-04-03 13:41] RobertFewins-Kalb commented on #533
And I feel bad b/c I thought that I fixed that in my pull request. I know I was thinking about it. I can take it.

[2015-04-03 13:45] theVKC commented on #533
Done. Good luck!

[2015-04-03 13:46] RobertFewins-Kalb commented on #533
Rad. I will actually go through the Krabappel FuncLib, while I'm on it, and add the IF date_variable <> "" to make sure we aren't creating 12/30/99 all up in this.

[2015-04-03 13:47] courtrightd commented on #533
Good thinking, I forgot that problem was occurring on DISA as well.

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Friday, April 03, 2015 8:46 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Krabappel DISA panel / functions file (#533)

Rad. I will actually go through the Krabappel FuncLib, while I'm on it, and add the IF date_variable

[2015-04-03 13:50] RobertFewins-Kalb commented on #533
FACI is going to need 4-digit years as well. Tell y'all what. This let's rename this issue "Make sure Krabappel is writing dates correctly."

[2015-04-03 14:10] theVKC commented on #533
#LetsWriteANewFunction called create_MAXIS_friendly_date_with_YYYY

[2015-04-03 15:38] IlseFerris commented on #533
Yes please! I can't speak for anyone else, but I need this.
IF len(baseline_date) < 6 THEN MsgBox "You must enter a date in format MM/DD/YYYY"
	LOOP until len(baseline_date) >= 6
This code appears in much of my work.

[2015-04-03 15:56] theVKC commented on #529
Done in my branch. Will pull soon. :)

[2015-04-03 15:56] #529 closed

[2015-04-03 16:20] theVKC commented on #533
I can do that, folks. I'm currently updating FuncLib with all kinds of new fun.

[2015-04-03 16:31] theVKC opened #534 "Replace navigation functions with the new MAXIS_dialog_navigation function in all scripts"
This will entail a find/replace globally. But basically, we need to replace these older navigation functions with new stuff:
* stat_navigation
* navigation_buttons
* memb_navigation_next
* memb_navigation_prev
* panel_navigation_next
* panel_navigation_prev

These are obsoleted by the new MAXIS_dialog_navigation function I'm about to push in FuncLib.

[2015-04-03 17:20] RobertFewins-Kalb commented on #533
#FutureProofing ... why not mod "create_MAXIS_friendly_date()" and have the function determine whether the year needs 2 or 4 digits?

[2015-04-03 17:28] RobertFewins-Kalb commented on #533
The thought being that maxis screens can change, it reduces the potential for script writer error, and I'm going to be 30 in 5 weeks and age and memory are negatively correlated :)

[2015-04-03 17:49] theVKC commented on #533
Because that requires going through over 130 scripts to update the references. :p

Separate functions might be easier for our end users, in my opinion. Besides, I just pushed it. [smirks]

[2015-04-03 19:11] IlseFerris opened #536 "SNAP E&T letter enhancements"
Have script make the WF1M referral and have check box for exemption sheet given/mailed to client.  I can work on this.  Hennepin wants to roll this out for May 1.

[2015-04-03 20:17] IlseFerris commented on #536
Yeah, I'm going to rethink a couple things here. @theVKC we'll talk next week

[2015-04-04 16:13] RobertFewins-Kalb commented on #533
Well...smirk, indeed!

[2015-04-04 17:55] RobertFewins-Kalb commented on #533
OK...I have updated the date field filling on DISA and then added IF date_variable <> "" THEN ... for non-mandatory fields on the following panels...
* ABPS
* ACCT
* DISA
* DSTT
* EMMA
* IMIG
* RBIC
* STWK

committing and pulling...

[2015-04-06 14:14] LaLarson commented on #393
This is needed for DWP as well! Pick me!

[2015-04-06 19:47] LaLarson opened #539 "Transfer Case Script"
At the end of this script, when the message box pops up, it says "SPEX/XFER" instead of "SPEC/XFER". I find it very offensive... Just sayin'... :) (Veronica told me to heckle you!)

@CDPotter
@RobertFewins-Kalb

[2015-04-06 19:51] CDPotter commented on #539
Oops, spelling fix has been submitted!

[2015-04-07 13:38] IlseFerris opened #541 "LTC 1503 script enhancements/fix"
x102631 reports that 'needs asset assessment' button does not case note.  I can update that.
Additionally thinking that check boxes for forms needed/sent (IE: 3531, certain pops, etc) could be helpful.  I can take this one.

[2015-04-07 14:00] RobertFewins-Kalb commented on #138
Oh, hey...I'm working on this

[2015-04-07 14:38] RobertFewins-Kalb commented on #138
Also, I'm going to close my earlier pull request and resubmit with my updates

[2015-04-07 15:02] theVKC commented on #541
Good luck!

[2015-04-07 19:04] IlseFerris commented on #541
Thanks, I'm on it!

[2015-04-08 14:29] theVKC commented on #452
Well that took a while. But... decision is that we should remove the checkbox at least temporarily. @RobertFewins-Kalb, care to do the honors? We should replace the checkbox with text explaining that it can't be done.

[2015-04-08 14:40] theVKC commented on #452
PQ reference for the script should read "Per PQ 15338, a HC ER cannot be used as a SNAP CSR."

[2015-04-08 14:41] theVKC commented on #536
"rethink a couple things"... @IlseFerris, want me to close the issue?

[2015-04-08 14:42] theVKC commented on #517
Can you explain this idea in plain language for me to share with folks at DHS?

[2015-04-08 14:44] theVKC commented on #496
Why am I thinking it does exactly this? It asks which job is which and you have to say "yes, this is the job" if there are multiple jobs?

[2015-04-08 15:54] theVKC opened #542 "GlobVar: add "disable update worker signature" option"
Some counties/agencies use drives other than C:\, or non-standard My Documents locations. Furthermore, some have disabled access via script to files such as this. The call in GlobVar which looks for this can cause problems (I've seen this on Citrix). End users are bypassing manually using comments (commenting out the affected code) but I'd like to make it easier by adding a simple True/False.

I g

[2015-04-08 16:24] IlseFerris commented on #536
Yes, I think we can.  We should be A-OK POLI-wise with the SPEC/LETR.

[2015-04-08 16:24] #536 closed

[2015-04-08 17:25] suzchik19 opened #543 "Enhancement Request for Bulk REPT Script - ACTV"
Hello,
Please add the following to the REPT/ACTV script. These features were all present on the Dakota County REPT/ACTV script, let me know if you need a copy.
1. Add child care status column
2. Provide a total of the Programs per case, as follows:
Total MAXIS Cases = 87
Active cash cases = 65
Pending cash cases = 2
Active FS cases = 38
Pending FS cases = 0
Active CC cases = 22
Pending CC cases =

[2015-04-08 18:37] theVKC commented on #543
Can you email me a copy to my state email?

[2015-04-08 18:39] theVKC opened #544 "Approved progs: for SNAP cases, grab change reporter status for case note, and note it"
Easy win. Who wants it?

[2015-04-08 18:43] suzchik19 commented on #543
Yep! I will have to get it from IT, and I’ll send it. ☺

Thanks,
Susie

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, April 08, 2015 1:38 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Allen, Susie
Subject: Re: [DHS-MAXIS-Scripts] Enhancement Request for Bulk REPT Script - ACTV (#543)

Can you email me a copy to my state email?

—
Reply to this email directly or view it

[2015-04-08 18:49] theVKC commented on #543
If email is difficult, it isn't hard to come down there from the state. I can bring a jump drive. :)

[2015-04-08 18:50] suzchik19 commented on #543
I think I sent a text file? Otherwise - come visit any time!

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, April 08, 2015 1:50 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Allen, Susie
Subject: Re: [DHS-MAXIS-Scripts] Enhancement Request for Bulk REPT Script - ACTV (#543)

If email is difficult, it isn't hard to come down there from the state. I can bring a jump drive

[2015-04-08 18:52] theVKC commented on #543
I got it, but I'd still love to come visit. Just say when! :) :)

[2015-04-08 20:23] theVKC commented on #366
I'm going to take care of this while I do my Cerberus updates.

[2015-04-08 20:26] theVKC opened #545 "Eliminate navigate_to_screen function from existence"
Replacing with `navigate_to_MAXIS_screen`. On it.

[2015-04-08 20:28] theVKC opened #546 "Eliminate ERRR_screen_check from existence"
It's been added to the navigate_to_MAXIS_screen function. On it.

[2015-04-08 20:29] theVKC opened #547 "Eliminate MAXIS_check_function from existence"
It's now `check_for_MAXIS(True)`. On it.

[2015-04-08 20:30] theVKC opened #548 "Eliminate the old editbox and new_line functions from existence"
They have been usurped by better functions. On it.

[2015-04-08 20:32] theVKC commented on #468
On it

[2015-04-08 20:34] theVKC opened #549 "Eliminate write_new_line_in_SPEC_MEMO from existence"
It's been replaced with the far superior write_variable naming scheme. On it.

[2015-04-08 20:35] theVKC opened #550 "Eliminate write_TIKL_function from existence"
It's been replaced with the `write_variable_in_TIKL` naming. On it.

[2015-04-09 02:02] #468 closed

[2015-04-09 02:06] theVKC commented on #366
Resolved with pull request #551.

[2015-04-09 02:06] #366 closed

[2015-04-09 14:54] IlseFerris commented on #536
David @courtrightd was this running OK for you when you tested it?  I cannot test it without Dialog ID errors.

[2015-04-09 14:56] courtrightd commented on #536
It was running fine, I’ll test it again and see if I can find what’s up.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Thursday, April 09, 2015 9:55 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] SNAP E&T letter enhancements (#536)

David @courtrightd<https://github.com/courtrightd> was this running OK for you when you tested it? I cannot

[2015-04-09 15:05] #539 closed

[2015-04-09 15:08] IlseFerris commented on #536
Awesome, thank you!  Let me know either way if you could.

[2015-04-09 15:10] courtrightd commented on #536
Should be resolved with most recent pull.  Apparently the dialog name can’t have an &?

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Thursday, April 09, 2015 10:09 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] SNAP E&T letter enhancements (#536)

Awesome, thank you! Let me know either way if you could.

—
Reply to this email directly or

[2015-04-09 16:14] RobertFewins-Kalb commented on #517
Yes...

When a client submits a CAF for late CASH recertification (as in, in the recertification month) and fails to complete the recertification, the CAF needs to be treated as a new application. Logic can be added to the CAF script (the worker does not have the option of turning it off) to TIKL to the first of the next month (so a CAF received April 9 for a 04/15 recertification and the client f

[2015-04-09 16:48] suzchik19 opened #555 "Enhancement Request for Actions - Transfer Case (ICT)"
Request to add to the transfer case script for Inter-county transfer cases.
- Add Inter-county transfer to transfer type selection
- Check if there is an active child care worker and offer option to change worker number at that point
- Check the County of financial responsibility dates and list in a message box
- Option for TIKLs -
1. notification for worker receiving case:
SEND OUT GAIN SETTLEMEN

[2015-04-09 17:50] CDPotter commented on #555
Maybe I'm misunderstanding the request but

- The script does already have a inter-county transfer function. When you run the script you check the radio button next to "Within the county/agency"
-Could you elaborate more on this? I'm not familiar with this process.
-The script does have sections to edit financial responsibility. it also allows uses to navigate to spec/xfer to see what is currently

[2015-04-09 18:15] suzchik19 commented on #555
Hi -

I’m talking about an incoming transfer case. The w/in county transfer only has the following, and there are no check boxes other than program. There is no TIKL created.

[cid:image001.png@01D072C6.FCA1AF10]

From: Charles P [mailto:notifications@github.com]
Sent: Thursday, April 09, 2015 12:51 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Allen, Susie
Subject: Re: [DHS-MAXIS-Scripts] Enhanceme

[2015-04-09 18:43] CDPotter commented on #555
Ah ok that makes sense!

I'm thinking we add a edit box for "Verifs requested" so workers can write what verification they requested, then a check box to tikl out for 10 days "Have requested verifications been returned? If not take appropriate action", and changing the dropdown menu to be an editable combo box to allow for more transfer to options other than adult/family.

[2015-04-09 18:44] suzchik19 commented on #555
Yes - that sounds great! Can you work the Child Care info in, too? This is nice to have since it helps to identify where a cash case should go.

From: Charles P [mailto:notifications@github.com]
Sent: Thursday, April 09, 2015 1:43 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Allen, Susie
Subject: Re: [DHS-MAXIS-Scripts] Enhancement Request for Actions - Transfer Case (ICT) (#555)

Ah ok that makes

[2015-04-09 18:46] CDPotter commented on #555
I'm not really sure what you mean by child care info. I've only worked in the Adult Unit. Could you elaborate more on the process in detail?

[2015-04-09 18:57] suzchik19 commented on #555
Yes -

I am attaching a text copy of the Dakota Cty ICT script. I think it’s in the third section… Dialog for if CC active. Also in the case note section, pg 3.

The script looks to see whether there is a child care worker in MAXIS. Then it states who the CC worker is and asks the user if they want to change who they are transferring the case to. If child care is active that is also included in th

[2015-04-09 20:52] CDPotter commented on #555
Oh you guys already build something to do it? Would you want to try your hand to incorporate it into the active script? (side note I don't think the posting here on github allows for attachments.)

[2015-04-09 20:53] suzchik19 commented on #555
I do not know how to get it into an active script… yesterday I sent one to Veronica’s state email. Can I do that?

From: Charles P [mailto:notifications@github.com]
Sent: Thursday, April 09, 2015 3:52 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Allen, Susie
Subject: Re: [DHS-MAXIS-Scripts] Enhancement Request for Actions - Transfer Case (ICT) (#555)

Oh you guys already build something to do it? W

[2015-04-09 21:01] CDPotter commented on #555
We prefer to use the push/pull methods in github for editing code. @theVKC would probably be able to get you the documentation or walk you through it.

[2015-04-09 21:02] courtrightd opened #556 "New script: Status Update / Employment Plan"
Putting this out there as in development so someone else doesn't start it.  Will case note when an employment plan is received from employment services or status update sent or received.
Coming soon.

[2015-04-10 00:44] theVKC commented on #555
@suzchik19, Charles is referring to the document in SIR under the "Scriptwriter Resources" folder of the document library called something like "GitHub Collaboration Instructions". This document contains instructions for the proper way to share scripts your county has written. We try really hard not to email files because they can be filtered out by firewalls, and it puts additional work on your s

[2015-04-10 00:45] theVKC commented on #556
Coolio!

[2015-04-10 00:46] #492 closed

[2015-04-10 12:44] #555 closed

[2015-04-10 16:35] CDPotter opened #557 "New Job reported / dail new hire message"
I had a request from a worker to ask about an enhancement to these two scripts that would update the SNAP PIC and HC pic(in month +1) to be budgeting 0 in both cases. Before I dove in I just wanted to make sure that it was a state supported practice to put a 0 in a jobs panel SNAP and HC PIC until the job is verified. If this is good to go please assign this to me and I can get crack on it.

[2015-04-10 18:39] CDPotter opened #558 "BUG MEMO APPT letter"
The checkbox for the sent copy to AREP is not currently on the dialog. It is automatically putting it on all APPT letter case notes.

[2015-04-10 18:46] CDPotter commented on #558
Nevermind! Dug through the code and it figured out if there's an AREP or not by itself. Really nifty feature!

[2015-04-10 18:46] #558 closed

[2015-04-10 19:49] CDPotter commented on #557
Ran into a few issues while pondering about this one(new jobs reported script first):

1. sometimes when you enter a panel into maxis it does not get carried over to the next month meaning if a new jobs panel was created in 04 and you told the script to update the 05 pic it wouldn't find the jobs panel and possibly edit another jobs panel.

2. My first gut solution was to emread on the name of the

[2015-04-13 19:23] RoyStearns opened #561 "Bug- Case note dialog does not change footer month forward"
These are the scripts that I know of that do this (there may be others)- CAF, CSR, HC renewal, HCAPP.
If you are trying to use the Case/NOTE scripts above and are in the footer month of 5 and change it to 4 from inside the script
![capture footer](https://cloud.githubusercontent.com/assets/10159949/7123493/05971d72-e1e8-11e4-80c4-396b305bfe99.PNG)
- the script will f3 out and start reading Maxis s

[2015-04-13 19:26] RobertFewins-Kalb opened #562 "BNDX Scrubber"
Enhancement Request: Clean-up the logic of the BNDX Scrubber so it isn't a gigantic mess. Seriously, @RobertFewins-Kalb , what were you thinking?

Use arrays to compare multiple RSDI claims instead of that messing smushing.

[2015-04-13 19:26] RobertFewins-Kalb commented on #562
I'm on it, @RobertFewins-Kalb . Please do not be so condescending.

[2015-04-13 20:26] RoyStearns commented on #557
Been meaning to put this out there for this script for a while...I had some of the same issues where the job does not carry over to the new month. My thought was for the script to look at the lower left corner of Maxis for the "This data will expire xx-xx-date" to then do a warning to the worker so that you know it is not there. The worker can then create the panel by hand or alternatively put in

[2015-04-13 21:14] GayS commented on #497
I can give this a try -

[2015-04-13 22:12] theVKC opened #563 "Krabappel: Doe scenario generating random FACI panel?"
I don't know if someone can explain this one to me or not, but I'm adding it. @RobertFewins-Kalb or @CDPotter, I know you recently added some functionality... Care to look at it?

[2015-04-13 22:16] RobertFewins-Kalb commented on #563
We wouldn't be able to recreate it. We have added panels that read before the script gets to FACI (DFLN and BILS, for example).

[2015-04-13 22:17] RobertFewins-Kalb commented on #563
Basically, the work @CDPotter and I have completed render Doe, Inelig, Kia, Swiss, and Lab obsolete. The Presley template needs to be expanded for other scenarios because it is the most complete.

[2015-04-13 22:25] theVKC commented on #563
We need to make sure those scenarios work, as I have internal folks planning to use them. Can you fix the scenario to work with them? Also, why would FACI be part of this at all? I'm confused. It never used to go to FACI...

[2015-04-14 00:50] RobertFewins-Kalb commented on #563
Will do. In the meantime, can you accept the pull request 559? That has all the updates @CDPotter  and I have been working on.

As for the problems with FACI, I have no idea. I can only guess that the Excel row that the script starts reading FACI from is, on the Doe scenario, populated with some information that is associated with a different panel. So maybe the row that the script starts reading

[2015-04-14 00:55] RobertFewins-Kalb commented on #563
OK. SO. The script thinks FACI starts at row 287. On the Doe scenario, line 287 is "Child 1 Relationship Code" for PARE and there is information in that row. That's why it's creating a FACI panel.

[2015-04-14 02:42] RobertFewins-Kalb commented on #563
Further OKs... I have updated Doe, and created a new case, and XFER'd to PWVKC45 (see case 219800). I will work on updating the remaining cases -- as in, getting the template pulled to Kia, Swiss, Lab, and Cash.

[2015-04-14 16:47] IlseFerris opened #564 "NOTES - CAF: add "Senior SNAP App (5223-F)" to the list of CAF types dropdown"
Jennifer Beek at X142573 has requested on SIR: Could someone create a script to case/note for 5223F?

I can take this one

[2015-04-14 19:16] theVKC commented on #564
It's yours. Good luck!

[2015-04-14 19:17] theVKC commented on #562
Settle down you two.

[2015-04-14 19:18] theVKC commented on #561
Hmmm. The logic for footer month entry is ancient. As in it was a very early development in my scriptwriter career at Anoka. Do you have ideas for fixing it, @RoyStearns?

[2015-04-14 19:24] theVKC commented on #557
:+1: to the "This data will expire xx-xx-date" idea.

I'm not sure we update the current month for overpayments every time right away. One of the dilemmas with this is that the "first paydate" is not always accurate in the report (it frequently is, but I digress). I believe as it currently stands, you CAN do this with New Job Reported (just put it in to the month the income came in, and it should

[2015-04-14 19:25] theVKC opened #565 "Documentation: create "style guide" for best practices in dialogs"
I think this is a long time coming. Some of us do it one way, some another. I want everyone doing it the same way. :)

Anyone interested in assembling this?

[2015-04-14 19:28] theVKC opened #566 "Documentation: functions library breakdown"
The always amazing @IlseFerris has begun creating a document explaining every single function in FuncLib. I'm putting this issue in for tracking purposes.

@IlseFerris, shall we upload this to SIR so we both can work on it?

[2015-04-14 19:58] IlseFerris commented on #565
I can take a crack at it

[2015-04-14 20:11] theVKC commented on #565
Good luck Ilse!!

[2015-04-14 20:41] TMBohm opened #567 "Create an Excel file with client names and addresses"
It would be nice to be able to run a script that would pull the names and addresses from the Rept/ACTV list and put into an Excel file.

[2015-04-14 20:48] theVKC commented on #567
Hey @RobertFewins-Kalb and @CDPotter... am I right in thinking you built something like this after I left Anoka?

[2015-04-15 13:34] RobertFewins-Kalb commented on #567
We built something similar. We were asked to build something to identify cases for the Lexington Office based on the zip code. This would be a really easy build.

[2015-04-15 13:46] TMBohm commented on #567
Thanks.  What is the next step to get this script built?  Of course, it’s something we would like ASAP.  ☺

Treva Bohm
Eligibility Worker
218.470.8452

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 8:35 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Treva Bohm
Subject: Re: [DHS-MAXIS-Scripts] Create an Excel file with client names and addresses (#567)

We bu

[2015-04-15 14:46] RobertFewins-Kalb commented on #567
How comfortable are you building the script yourself? We have a solid foundation in Anoka (thanks @theVKC ) that we like to modify for quick reports. I can send you the link if you feel capable of building.

[2015-04-15 14:50] TMBohm commented on #567
Not comfortable at all.  I went to training several months ago and haven’t been able to continue working on anything.  Also, that was my first dive into any type of programming/script writing other than writing simple macro in Work and WP a few years ago.

On the other hand, if you want to send me the link, I wouldn’t mind taking a look at it to see if some of the training comes back to me.  There

[2015-04-15 14:56] RobertFewins-Kalb commented on #567
Here's the link...

https://raw.githubusercontent.com/RobertFewins-Kalb/Anoka-Specific-Scripts/master/BULK%20-%20Pull%20Cases%20into%20Excel.vbs

[2015-04-15 15:35] TMBohm commented on #567
Thanks!

Treva Bohm
Eligibility Worker
218.470.8452

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 9:57 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Treva Bohm
Subject: Re: [DHS-MAXIS-Scripts] Create an Excel file with client names and addresses (#567)

Here's the link...

https://raw.githubusercontent.com/RobertFewins-Kalb/Anoka-Specific-Scripts/master/BU

[2015-04-15 16:19] ALJ10 opened #568 "CSES processing - CS arrears/current support for 18 yr old child in school"
Here's an issue/policy clarification request from a supervisor:

There has been a question raised regarding the dail scrubber script. Policy for 18yr olds still in school receiving child support states to budget the income under them as their income. The dail scrubber puts the arrears under the appropriate children but not current support.

Example: Two children in the hhld, one under 18 one over

[2015-04-15 16:48] lpshanley commented on #568
Make the script scan for school status on 18yr olds and place the information accordingly ☺.

-Lucas
“Valar dohaeris”
#DecimateTheErrorRate
P Please consider the environment before printing this email. P

From: Amanda Jensen [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 11:20 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] DAIL Scrubber ~ CS arrears/current

[2015-04-15 18:08] theVKC commented on #568
Correct me if I’m wrong (because it’s been a LONG time since I looked into this), but for HC do we even care about updating it at all except for renewal? And… at renewal isn’t the instruction to evaluate several months’ worth to determine an amount, and not to insert last 30 days. I could be way off base, I haven’t worked in HC in a couple of years, and was an adult HC worker at that, so this rare

[2015-04-15 18:17] courtrightd opened #570 "MEMO - APPOINTMENT LETTER update last contact day"
Changing last contact day for new applications to 30 days after application to align with maxis change to NOMI.

[2015-04-15 18:23] theVKC commented on #570
This has already been pulled but will remain here until I accept the request Friday (changes being made to the NOMI then). Good job team.

[2015-04-16 12:01] Farleight commented on #568
HC rules changed with the ACA. Since we're primarily using tax income for determinations now, CS doesn't count at all for any "MAGI" applicant. The non-MAGI cases (elderly/disabled) still use the old income rules. Though one can safely assume a 92 year old man probably isn't receiving Child Support, the same cannot necessarily be said for a disabled person. Regardless, any CS income placed in the

[2015-04-16 14:43] theVKC commented on #568
That makes sense. If I'm remembering correctly, it only adds it in for cash recipients. Does that sound right? That it isn't updating for HC?

[2015-04-16 14:50] TMBohm commented on #567
Thanks, Robert

I’m including Linda on this email as she also attended the Script Writing training in Polk County.

We’ve looked at the script you sent and see that it does a lot more than what we had in mind.  However, it’s possible we would want to use more of the script in the future.    I see you have a list of people allowed to use the script. Would it be possible to get added to the list to

[2015-04-16 14:55] lpshanley commented on #568
HCPM Source is on the way ☺

-Lucas
“Valar dohaeris”
#DecimateTheErrorRate
P Please consider the environment before printing this email. P

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Thursday, April 16, 2015 9:43 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Lucas Shanley
Subject: Re: [DHS-MAXIS-Scripts] DAIL Scrubber ~ CS arrears/current support for 18 yr old child in school (

[2015-04-16 15:11] RobertFewins-Kalb commented on #567
Feel free to take that script and run with it. We have that set up for Anoka County users. You can remove those people if you like or just add specific Polk County users to the list. Run wild with it.

[2015-04-16 15:35] TMBohm commented on #567
Thanks, Robert.

Treva Bohm
Eligibility Worker
218.470.8452

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Thursday, April 16, 2015 10:12 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Treva Bohm
Subject: Re: [DHS-MAXIS-Scripts] Create an Excel file with client names and addresses (#567)

Feel free to take that script and run with it. We have that set up for Anoka County users. You c

[2015-04-16 19:41] theVKC opened #572 "Paystubs Received: should yell at you if you have a future pay date"
Let's just toss this one on the pile for me to look at.

[2015-04-17 12:52] RobertFewins-Kalb opened #573 "KRABAPPEL -- DWP to MFIP"
Do we need to worry about a scenario in which DWP transitions to MFIP during the automated approval?

[2015-04-17 13:01] courtrightd commented on #573
I can’t see that being a need, but who knows.  Are you talking DWP 1st month of package, MFIP second month?  I think being able to approve either one should be sufficient, changing the scenario between footer months seems like a lot of new functionality.

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Friday, April 17, 2015 7:53 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS

[2015-04-17 13:05] RobertFewins-Kalb commented on #573
We were thinking about what happens if you APPL a case 5 months in the past, it generates DWP, and after 4 DWP months, the client is switched to MFIP. But @CDPotter  and I have never handled family case programs so we're not sure if it's going to be an issue.

[2015-04-17 13:09] RobertFewins-Kalb commented on #573
Also, @CDPotter  and I put in a bunch of time this week wrapping up Krabappel. We have GA and MSA working. I am finishing up GA with SNAP this morning.

There are only four panels to test: EMPS, IMIG, RBIC, and SPON.

Data validation is almost done.

[2015-04-17 13:16] courtrightd commented on #573
EMPS is tested and working here, aside from it can’t be coded with child under 1 exemption, as the popup window needs to be manually entered with months for the exemption, and that has not been coded.   I will try the 5 months past DWP scenario before I pull request a couple of slight tweaks to the approval for family cash.

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Friday, Ap

[2015-04-17 13:18] RobertFewins-Kalb commented on #573
RAD!! I will erase EMPS from our window!

[2015-04-17 15:39] theVKC commented on #573
"popup window needs to be manually  coded with months for exception"... can we not work logic into this based on application date?

[2015-04-17 15:41] theVKC commented on #568
OK, I'm adding this to my to-do for this script. Based on the length of this to-do I might pound it out this weekend when I'm making up time from other non-work-related things. Yay flexible scheduling!

[2015-04-17 15:41] courtrightd commented on #573
Yes – I’m working on wrapping my head around the logic, it just won’t be quick and easy.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, April 17, 2015 10:40 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] KRABAPPEL -- DWP to MFIP (#573)

"popup window needs to be manually coded with months for exception"... can we not work lo

[2015-04-17 16:01] #570 closed

[2015-04-17 19:41] theVKC commented on #452
I'm taking this one. Too big of a deal not to do.

[2015-04-17 20:26] theVKC opened #576 "Check to see if "new_page_check" is being used by any scripts"
If it is, we should replace it with better functionality. That looks really old. Really, really, really old.

[2015-04-20 16:23] RobertFewins-Kalb commented on #138
Done. This issue can be closed.

[2015-04-20 16:24] RobertFewins-Kalb commented on #434
This issue can be closed.

[2015-04-20 16:28] IlseFerris opened #577 "CAF addendum"
With all this talk about possible CAF script upating, how about a CAF addendum option.  Or just a new script all together?

[2015-04-20 16:38] #138 closed

[2015-04-20 16:39] #434 closed

[2015-04-20 16:40] theVKC commented on #577
This is a duplicate of #89... if you want it, comment on that particular issue, @IlseFerris! :8ball:

[2015-04-20 16:40] #577 closed

[2015-04-20 16:41] theVKC commented on #89
@IlseFerris, this is the original issue for the one you just referenced. Do you want it?

[2015-04-20 16:50] theVKC opened #578 "NOTES - MOF: add reminder for SNAP clients to evaluate ABAWD status"
Something simple like a MsgBox if SNAP = true. Any takers?

[2015-04-20 16:58] IlseFerris commented on #577
Well then, that will teach me to search before posting.  I'm totally failing at Mondays today.

[2015-04-20 16:59] IlseFerris commented on #89
I could do that.  Thanks as always @theVKC

[2015-04-20 20:38] RobertFewins-Kalb commented on #496
The idea would be that it asks BEFORE the financial workers spends the time filling in the second dialog.

[2015-04-20 20:44] RobertFewins-Kalb commented on #563
This has been resolved.

[2015-04-20 20:48] RobertFewins-Kalb commented on #389
Have I mentioned that the manual time of this process is 56.87 seconds/case?

[2015-04-21 17:12] GayS commented on #497
I have this mostly completed.

[2015-04-21 18:06] #563 closed

[2015-04-21 18:06] theVKC commented on #497
Go Gay!

[2015-04-21 18:47] RobertFewins-Kalb commented on #422
I can knock this out.

[2015-04-22 14:19] GayS commented on #497
I just submitted a pull request for this one!!

[2015-04-23 19:09] RobertFewins-Kalb commented on #562
Resolved with Pull Request #580

[2015-04-23 20:06] #562 closed

[2015-04-23 23:31] theVKC commented on #393
Hey hey @LaLarson, I believe I saw that you were mostly done with this script. Have you finished it by chance?

[2015-04-24 01:55] RobertFewins-Kalb commented on #422
The script is about 95% finished. I just have a question about the format of the Excel file...

 The Excel spreadsheet is formatted thusly:
Column 1 has the case numbers.
Column 2 has the applicant name.
Column 3 has the DAIL type (PEPR, INFO, FS, HC, MSA, TIKL, etc).
Column 4 has the DAIL date (MM YY, or MM/DD/YY in the case of TIKLs).
Column 5 has the DAIL message.

The script only dumps informa

[2015-04-24 02:06] theVKC commented on #422
I think the case numbers and names should be in each message. It allows better sorting.

[2015-04-24 03:22] RobertFewins-Kalb commented on #422
Will do

[2015-04-24 17:44] CDPotter commented on #578
I can do it.

[2015-04-24 18:37] CDPotter commented on #544
I can knock this one out too

[2015-04-24 19:20] CDPotter commented on #544
I think I've got it working, took a bit of scripting gymnastics because of how we built the original arrays.

Just to be clear we want to grab the reporting status section from the FSSM screen?

for example I've got it writing "* SNAP for 04/15: $109.00 NON-HRF"

[2015-04-24 20:52] theVKC commented on #544
Looks good. I'd add the word "reporter" onto that.

[2015-04-24 22:13] LaLarson commented on #393
I was close! I haven’t finished it though! I’ll try to get on that! ☺

Laura Larson
IMU – Family Unit

Goodhue County HHS
426 West Avenue
Red Wing, MN 55066

Phone: 651-385-3200
Fax Numbers:

  *   Child Support Fax: 651-267-4880
  *   Income Maintenance Fax: 651-267-4879
  *   Social Services Fax: 651-267-4877

Email: laura.larson@co.goodhue.mn.us<mailto:laura.larson@co.goodhue.mn.us>

HHS Tempor

[2015-04-27 16:37] CDPotter opened #586 "Phone number searcher"
It would be great if we could enter a phone number and search a rept list such as actv, pnd1, pnd2, inac, and revw.

[2015-04-27 16:37] CDPotter commented on #586
What luck! I just finished such a script!

[2015-04-27 18:06] theVKC commented on #578
Resolved with pull request #584.

[2015-04-27 18:06] #578 closed

[2015-04-27 19:40] CDPotter commented on #85
Any news on the verbiage for this?

[2015-04-27 21:11] theVKC commented on #85
Not as far as I can see. Would you like to be "the taker" and I can ask about it?

[2015-04-27 21:21] CDPotter commented on #85
Can do, we've built a few WCOM scripts here so we can use them as a base. A bit more background info into the when would this be used (I'm assuming it is for closures when we learn someone is receiving duplicate assistance?) and some verbiage would be fantastic!

[2015-04-28 23:40] theVKC commented on #76
@IlseFerris committed this earlier, and I tweaked the logic for the dialog. Go team!

[2015-04-28 23:40] #76 closed

[2015-04-29 19:41] CDPotter commented on #364
Alright since we got 0 replies on the discussion forum, and Robert and I have been patching our version every month because of new errors it might be best to just close this one.

[2015-04-29 20:07] theVKC commented on #586
Looking good!

[2015-04-29 20:07] #586 closed

[2015-04-29 20:21] theVKC commented on #556
Killed it!

[2015-04-29 20:21] #556 closed

[2015-04-29 20:48] #452 closed

[2015-04-29 20:49] #428 closed

[2015-04-29 20:50] #355 closed

[2015-04-30 13:46] IlseFerris commented on #386
This has been fixed

[2015-04-30 15:32] theVKC commented on #386
Thanks @IlseFerris! When abouts did you pull this?

[2015-04-30 15:32] #386 closed

[2015-04-30 15:54] IlseFerris commented on #386
Looks like about 22 days ago.  I think we just didn't close this.  Oooh, you could add this change to the May release notes (woot woot!)

[2015-04-30 21:29] CDPotter opened #597 "Revw/mont closure issue"
it looks like the portion of code that determines if the worker number entered is the same as the active user doesn't Ucase the worker number entered by the worker. As such workers with letters as their worker numbers have been missing their 1st page if they have multiple pages. Shout out to @mldietz for catching this one. I'll be submitting a fix shortly.

[2015-05-05 19:32] IlseFerris opened #599 "Method B budget breakdown on SPEC/WCOM"
I know back in the day (Anoka circa 2014) we talked about this idea at one point.  Basically would breakdown the deductions and difference between the spenddown amount and the recipient amount.  Didn't see this issue out there, so thought I'd throw it out there.

[2015-05-08 16:25] CDPotter commented on #396
Is a claims note just adding an edit box for "Claims Note:" ? or is there more to a claims note?

[2015-05-08 16:26] CDPotter commented on #365
I'll get started on this one.

[2015-05-08 20:55] lpshanley opened #601 "New Script - TYMA"
A coworker approached me with the idea of making a script that would essentially create all the TIKL's related to the TYMA cases and then throw a case note on the case. I believe the essential idea is that it would scan the case to see if it is TYMA eligible and do the above actions accordingly. This should be a decently easy task to accomplish however my team is pretty far behind on documents at

[2015-05-11 11:59] Farleight commented on #601
Yes... get caught up on documents. Seriously though, if anyone does this, keep in mind that the state has opted to allow anyone who potentially could be eligible for TYMA, to get it regardless of whether or not MAXIS views them as eligible. This was due to all the crazy workarounds we did last year screwing up the accuracy of MAXIS's detective skills in the matter. So at least for the time being,

[2015-05-14 15:38] GayS opened #603 "Note - HH Comp Change - Power Pad option"
The case note HH Comp Change isn't listed in the Power Pad Notes H-Z.

[2015-05-14 22:29] theVKC commented on #603
That’s because it hasn’t been released yet. I didn’t do a May release because of other projects, and two mid-April bug fixes which through off the routine.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encry

[2015-05-15 13:10] GayS commented on #603
Ok - thanks

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Thursday, May 14, 2015 5:30 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Sikkink, Gay
Subject: Re: [DHS-MAXIS-Scripts] Note - HH Comp Change - Power Pad option (#603)

That’s because it hasn’t been released yet. I didn’t do a May release because of other projects, and two mid-April bug fixes which through off the routine.

[2015-05-15 17:20] #603 closed

[2015-05-15 18:21] ALJ10 opened #604 "Closed Prog: enhancement to specify monthly/six monthy vs annual"
Here is an enhancement request rec'd via a supervisor:

I am wondering what your thoughts are on an enhancement request to the Closed Progs Script that would separate out the following:

Current Box: Case is at renewal (monthly, six-month, annual. Client gets entire next month after closure for REIN)

Requested Enhancement:

One box: Case is at renewal (monthly, six-month) Client gets entire next

[2015-05-15 20:32] Farleight commented on #604
As someone who has no Script-writing experience, I only come on here to comment on policy which is ever-changing, so ignore me if I'm wrong here... but can't the CAF be used as a CSR without an interview? I've heard many other people say the interview is required too, but according to the random PQ I wrote down, from 2012, it doesn't seem to be. (PQ 11874)  I like random PQs... they let me get awa

[2015-05-18 13:57] #597 closed

[2015-05-18 13:58] theVKC commented on #597
#598 resolved this. Thanks @CDPotter!

[2015-05-18 14:05] theVKC commented on #601
I'm marking this as "question" for now, because we probably want to resolve this sort of thing. @lpshanley, do you happen to already have a script made up for this?

[2015-05-18 14:08] theVKC commented on #604
I believe we just did something like this. @CDPotter, can you jump in on this convo?

[2015-05-18 17:56] IlseFerris commented on #601
@LaLarson  or @ramonalisa1 Can you weigh in on this one?  I have limited family experience.

[2015-05-18 19:19] CDPotter commented on #604
I believe @Farleight is right about not needing to do an interview if you get a CAF for a 6 mo renewal.

I'd worry about adding more check boxes to the closed progs script as there are many who are unsure what check box causes what to populate in the case note.

[2015-05-18 19:25] LaLarson commented on #601
Okay... So in order to do the scanny type option, MAXIS/the script would need to be able to determine the following, and I'm not sure if MAXIS can do that at that at this point? Maybe a script could? Or maybe it could work like the expedited script, where you enter a bunch of criteria, and it determines if they are eligible or not, and then does all the TIKLing/CNing??

Here's the criteria:
1) Has

[2015-05-18 19:31] LaLarson commented on #601
I gotta say... Assuming that the case is clean/up to date in terms of income and deductions and all that... I kinda like the idea of a script that works like the expedited script! Answer the questions, and if it's the right answers it tells you that they appear eligible, and then does a CN and TIKL's!

[2015-05-18 19:42] theVKC commented on #604
Agreed on the more checkboxes concern. And I can also confirm that a CAF is acceptable in place of a CSR for a six-month renewal. We may not like it, but we have to take it.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet

[2015-05-18 19:46] theVKC commented on #601
Thank you @LaLarson, for bringing the logic to my level. :)

I worry about a script's ability to figure out criteria 2 as laid out above. The others are easily coded but this one seems error prone for a script to figure out (to me, at least). I worry that a script to automatically do them all would be so full of "exceptions" that couldn't be determined, that it isn't worth the time in doing. But t

[2015-05-20 22:41] theVKC opened #608 "APPL case note template which contains option to send info to database"
Following various county meetings I've attended, I feel this would be helpful: a script which case notes that an APPL was done, and who was assigned the case. That part is pretty boring, but the cool part will be the option to send this info to an Access database. I'm betting counties would love a database of all of the APPLs, the date APPL'd, the time, the program applied for, the case number, an

[2015-05-20 23:45] IlseFerris opened #609 "GRH OP CL LEFT FACI enhancement request"
Add verbiage into SPEC/MEMO and the case note to include information about the amount that the client is responsible for.  I can take this one.

[2015-05-21 12:56] CDPotter opened #611 "2nd MAXIS check on CAF"
I had a worker report and issue where she wrote a long detailed CAF note and after clicking ok on the dialog she had been passworded out and lost all her work. I've submitted a fix for this using the new check_for_maxis function with a FALSE variable allowing for looping to preserve the worker's note. (It has been tested)

[2015-05-21 16:57] theVKC commented on #611
Resolved with #610.

[2015-05-21 16:57] #611 closed

[2015-05-22 23:28] theVKC opened #612 "CSES Processing: clean up comments and remove awkward sub handling"
This script was written long ago, and this awkward sub handling should be fixed. And I'm just the gal to fix it.

[2015-05-25 02:48] theVKC opened #613 "Update dialogs this month, but also document how to do it"
This would be helpful in case someone else ever has to do it. :)

Post in SIR when all is done.

[2015-05-26 14:17] theVKC commented on #498
This needs to get done today for the release. We've hit that point: too many buttons, the notes script menus are no longer viable to update.

[2015-05-26 22:51] theVKC commented on #526
Taking this one to get it done under the wire for June release.

[2015-05-26 23:46] theVKC opened #619 "Add asterisk to main menu scripts explaining what has autofill functionality"
Could be helpful. On it.

[2015-05-27 00:21] #498 closed

[2015-05-27 00:29] theVKC commented on #544
Resolved a bit ago. Thanks @CDPotter!

[2015-05-27 00:29] #544 closed

[2015-05-27 00:29] #445 closed

[2015-05-27 00:32] theVKC commented on #619
Resolved with #621.

[2015-05-27 00:32] #619 closed

[2015-05-27 00:33] theVKC commented on #613
Dialogs are all done. I'll make this look a bit prettier before I upload it.

[2015-05-27 00:41] #497 closed

[2015-05-27 01:08] #526 closed

[2015-05-27 15:42] theVKC commented on #613
Done, and added to a new section in SIR for admin docs.

[2015-05-27 15:42] #613 closed

[2015-05-27 15:55] CDPotter opened #625 "FACI autofilling dates in/out (Enhancement)"
A worker suggested that it would be handy to have the autofill function for FACI grab the most recent date in/date out on a faci panel. Thoughts/anyone interested?

[2015-05-27 16:19] lpshanley commented on #601
I spoke with the worker who asked about the script and they said that all they would want it to is set all the TIKL's and place in a CASE/NOTE. She said it would be lovely if it could scan the case however that would be a request in the future if ever as scanning the case isn't time consuming its the time and repetition of the TIKL's and the CASE/NOTE that they would like to be sped up. So given m

[2015-05-27 16:24] lpshanley commented on #601
@theVKC no i currently have nothing written on this at the moment. Unfortunately this is the first time that I have been able to check this thread on git since I posted it. I keep tracking updates through my email however and I think, now that i have posted, these should go to my main inbox. I'll keep checking periodically to see any new posts. Thank you everyone!

[2015-05-27 16:31] Farleight commented on #601
You have my support... cherish it.

[2015-05-27 19:11] theVKC commented on #625
I like it, but this should probably go in the FuncLib list and not this one. Can you please move it over there, @CDPotter?

[2015-05-27 19:11] #625 closed

[2015-05-28 16:26] theVKC opened #632 "Dialog documentation for creating dynamic dialogs"
Training, documentation, whatevs. @RobertFewins-Kalb volunteered. Boo-yah.

[2015-05-29 13:32] IlseFerris opened #642 "LTC application rec'd enhancement request"
Can we get the LTC application script to code rept/pnd2 for client delay just like the HCAPP script? Request from Hennepin Co worker.

I can take this one.

[2015-05-29 15:17] courtrightd commented on #608
It would be a nice future enhancement to add expedited tracking to this database, that is written to by the expedited screening tool.

[2015-05-29 15:19] courtrightd opened #643 "LTC - 5181 Bug"
When clicking next on the 1st dialog, it pops up the "Are you sure you want to exit" msgbox, if you select no it jumps into stat and starts trying to update panels?

[2015-05-29 15:23] CDPotter commented on #643
I can confirm that this issue is happening in Anoka as well. I'm trying to take a look at it today but it's slow going since it's the last day of the month/my intake day.

If someone wants to take a crack at it, it looks to be something with the logic on the do loops, for something with a working structure someone might be able to use the CAF as an example for a complicated dialog loop like this.

[2015-05-29 16:25] theVKC commented on #643
Resolved with #644

[2015-05-29 16:28] CDPotter commented on #643
Well... that's bizarre when I run it locally the next button worked but when I run the newly uploaded one it doesn't work (but at least it doesn't nav into panels anymore if you hit no on the cancel dialog.)

[2015-05-29 19:17] courtrightd opened #646 "BULK - REVW/MONT closures can't handle PRIV cases in banks"
When the script is run on a case bank, it errors out and stops when it hits a priv case that the worker doesn't have access to.  Major problem when it is case number 156 of 640. I'm thinking add logic to read screen on each case for the PRIV error message, if yes then dump case number to a file and skip to the next one.

[2015-05-29 19:51] theVKC commented on #646
You want it?

[2015-05-29 19:59] courtrightd commented on #646
I knew that was coming, so sure, I’ll take it.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, May 29, 2015 2:52 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] BULK - REVW/MONT closures can't handle PRIV cases in banks (#646)

You want it?

—
Reply to this email directly or view it on GitHub<https://github.com/MN-Script-Team/

[2015-05-31 15:48] theVKC commented on #643
Not resolved. @IlseFerris and I are sitting in Dunn Bros. and we're going to take this out.

[2015-05-31 15:55] #643 closed

[2015-05-31 16:22] theVKC commented on #643
Nice catch on the DIM'd variables, @IlseFerris. I would not have looked at this as an issue right away.

[2015-05-31 16:24] theVKC opened #650 "5181 is writing "Select one..." into the case note"
@IlseFerris is already on it.

[2015-05-31 16:27] theVKC commented on #565
As requested while we sit next to each other: can you add "create comments in the CASE NOTE section to break down case noting dialog info by dialog, as you had in 5181?"

[2015-05-31 16:29] #650 closed

[2015-05-31 16:55] IlseFerris opened #653 "approved programs update for MFIP housing grant and child support disregard"

[2015-05-31 16:55] IlseFerris commented on #653
I've got this

[2015-05-31 16:55] theVKC commented on #653
Tagged this as policy because the process is specifically indicated by DHS.

[2015-05-31 16:57] IlseFerris opened #655 "MFIP/DWP FIATer for child support disregard"
@theVKC  and @CDPotter

approved programs update done (workers should be using the FIATer and the approved programs together just as an FYI)

[2015-05-31 17:02] theVKC commented on #655
So, we need a lead on this. @CDPotter, are you in? @IlseFerris is out this week.

[2015-06-01 14:31] courtrightd commented on #653
Not sure if you are aware, but currently when autofilling MFIP approvals, the script is case noting the housing grant in both the MFIP- food line and the housing grant line.

[2015-06-01 14:56] CDPotter commented on #655
I could give it a shot, we need to case note any MFIP grants and that child support was FIAT'ed? Also is there any way to get the Bluth cases from Ilse so I have an MFIP training case to work with?

[2015-06-01 15:22] theVKC commented on #655
Well @IlseFerris took care of Approved Progs, we just need the MFIP/DWP FIATer built and committed. I believe this is what you two were working on at Hackathon Thursday, right? It's FIAT and note as I recall, but I wasn't involved with that script.

[2015-06-01 15:24] theVKC commented on #653
@IlseFerris is out for the week. Is it not supposed to be? This was her script and I had little to do with it.

[2015-06-01 15:26] CDPotter commented on #655
Ah ok, title threw me for a loop. Yeah we had hit a bit of a stall with it trying to figure out the best way to use the 3d array to find the specific person and deduct the correct amount. Depending on case work this week I'll try to take a crack at it.

[2015-06-01 16:55] CDPotter commented on #655
So we ran into an issue with DWP.

The instructions suggest that you FIAT for each child rec'ing CS. However the only way to determine which member you're editing is to convert their name into a 15 character string with a possible ", " thus a 13-15 character last name makes it so you can't find any HH members, and a 12 character last name will only leave the first letter of the first name(making i

[2015-06-01 17:01] courtrightd commented on #655
Although it may achieve the same results, it may not generate a correct notice or be technically correct.   Could you do something with assigning a number to the household members based on their place in the household member list / array, then transmit that many times on the unearned income popup?

From: Charles P [mailto:notifications@github.com]
Sent: Monday, June 01, 2015 11:55 AM
To: MN-Script

[2015-06-01 17:44] theVKC commented on #655
@CourtrightD, I had the same thought.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly need-to-know basis. If you are not

[2015-06-01 17:46] theVKC commented on #655
Not to put pressure on you, but we're going to need this in the next couple of days. If you aren't available to take it, I'd like to consider reassigning it. There's a lot of pressure to get this one done!

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent ove

[2015-06-01 17:54] CDPotter commented on #655
Well Robert and I were going to take a swing at it this afternoon case load allowing and I'm off on Tuesdays. We'll see what the two of us can cook up this afternoon then post it?

[2015-06-01 23:38] ALJ10 opened #657 "EOMC enhancement or variation ~ Compare initial EOMC data to actual closed cases on or after 1st of the month"
We use the EOMC script for our HC and cash auto-close cases to help prevent the cases tied to a SWKR from closing. We want to be able to run a report  on or after the first of the month to determine what cases of those above mentioned, if any, actually closed. I know there is INAC, but that doesn't verify program(s). Copy of our latest EOMC spreadsheet was emailed to Veronica via SIR mail, per her

[2015-06-02 01:02] theVKC commented on #657
I'm on this one. This ties into another idea I had so this is nice. Hoping to pound it out after this week sometime, and then I'll try to make sure @ALJ10 and Crow Wing gets their hands on it to test. :)

[2015-06-02 01:07] theVKC opened #658 "Add to DAIL scrubber: update last grade completed"
So, the way I see it, it should probably send something to the client, right? Or perhaps if it's not needed it should delete the message? Could this be bulked (meaning it sends a MEMO to all clients affected)? Thoughts gang? My family experience is lacking so I'm going to tag a few folks on this:

@courtrightd
@LaLarson
@ramonalisa1

[2015-06-02 13:17] LaLarson commented on #658
Sheila and I were just discussing this, and we think that maybe the most helpful thing it could do is just identify if they potentially graduated from high school, and then tell the worker to be sure and assess the case for changes in ABAWD, MFIP/DWP eligibility, and counting of income. For all the other grades it can probably just delete them, or case note and delete them. :)

[2015-06-02 13:43] courtrightd commented on #658
Our MFIP team concurs, a case note to update the info at recert and delete the dail, and the potential grad check sounds about right.

From: Laura Larson [mailto:notifications@github.com]
Sent: Tuesday, June 02, 2015 8:17 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Add to DAIL scrubber: update last grade completed (#658)

Sheila and I were just dis

[2015-06-02 16:49] theVKC commented on #658
Sounds great! Anyone want to take a crack at it? Perhaps at hackathon in Rochester this month?

[2015-06-03 21:27] theVKC commented on #653
So @RobertFewins-Kalb fixed the housing grant issue, I believe. Can we confirm that this is resolved? Is it doing anything new with the Child Support Disregard?

[2015-06-03 22:25] theVKC opened #664 "ACTIONS - CS DISREGARD FIAT: needs comments in code. Lots of them."
There's a serious lack of comments in this code. So serious that I wouldn't be releasing it if not for the urgency of this new process.

I believe this was built by:

* @IlseFerris
* @CDPotter
* @GayS
* @RobertFewins-Kalb

One of you should comment this thoroughly. Who wants it?

[2015-06-03 22:29] #655 closed

[2015-06-03 23:14] RobertFewins-Kalb commented on #664
I can do that tonight and build the instructions tomorrow.

We omitted the documentation onaccounta the time frame.

[2015-06-03 23:31] theVKC commented on #664
@CDPotter already called the instructions. But the comments are very helpful.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a stri

[2015-06-03 23:32] RobertFewins-Kalb commented on #664
Deal.

[2015-06-04 00:02] theVKC opened #666 "MEMOS - Appointment letter: should have logic for the county addresses independent of GlobVar"
I think that makes a lot more sense with scriptwriters working in counties that aren't Anoka. I'd like them to be able to simply enter their county and voila. Address logic.

Plus, it's far less error prone for our end users, many of whom struggle with the installer.

On it. Already asked counties to start sending me their stuff.

[2015-06-04 00:06] RobertFewins-Kalb commented on #666
THE ISSUE OF THE BEAST

[2015-06-04 00:08] theVKC commented on #666
WHY DID I HAVE TO ALREADY NAME A PROJECT CERBERUS?????

Operation Hades?

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly

[2015-06-04 12:31] Farleight commented on #666
Operation Robby Benson.

[2015-06-04 14:39] theVKC commented on #666
The dude who played the Beast in Beauty and the Beast? Who auditioned for Luke Skywalker? No, I didn’t just look him up on Wikipedia.

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS s

[2015-06-04 14:43] Farleight commented on #666
Ha. That's the one... I didn't know he auditioned for Skywalker though.

[2015-06-04 18:55] RobertFewins-Kalb commented on #81
What is the status of this script idea? In the interest of cleaning up our mess, I would say that we can close this unless we hear from the script writer in question.

Alternatively, how urgent is this? It sounds like a basic C/N template that would only require utilizing existing custom functions.

[2015-06-04 18:56] RobertFewins-Kalb commented on #78
Going through for the sake of house cleaning. What is the status of this script?

[2015-06-04 19:01] RobertFewins-Kalb commented on #261
Procedural question -- are we even allowed to send INFC panels? As I understand it, those are not our verifications to send out.

I recommend closing this issue.

[2015-06-04 19:02] RobertFewins-Kalb commented on #290
This has been completed. Please close.

[2015-06-04 19:05] courtrightd commented on #78
I don’t see myself working on it anytime soon, I barely touch HC cases anymore and don’t trust myself to judge its accuracy / usability.  There is a mostly done old version here if someone else wanted to take it on, or just close it for now and we can throw up a new issue if we revisit it in the future.

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Thursday, June 04, 2015 1:57 PM

[2015-06-04 19:06] RobertFewins-Kalb commented on #293
@ramonalisa1  -- are we done with this issue?

[2015-06-04 19:28] theVKC commented on #261
I believe you can give it to the client. But, if nobody responds to your bump today I'll close it.

[2015-06-05 02:36] #261 closed

[2015-06-05 02:37] theVKC commented on #78
Closing for now. We can reopen it if needed.

[2015-06-05 02:37] #78 closed

[2015-06-05 02:37] #290 closed

[2015-06-05 02:38] theVKC commented on #81
I get asked for this on a weekly basis. I think someone should take it.

[2015-06-05 12:09] RobertFewins-Kalb opened #668 "Approved Programs -- Need date check for case noting MFIP housing grant"
IF a worker runs the Approved Programs script in a month PRIOR to 07/15 the script is still case noting that there is a housing grant...when there isn't one. I can take a crack at fixing it.

[2015-06-05 13:09] IlseFerris commented on #81
I've got this

[2015-06-05 14:42] theVKC opened #671 "GlobVar: add "updated date" variable"
That way, FuncLib or other scripts could include a check of that variable to determine if the scripts were updated. This could be helpful for alerting staff to new changes which require re-installation. Not that that happens a lot, but this would be good to incorporate.

[2015-06-05 14:58] theVKC commented on #668
Did you fix this in most recent pull req?

[2015-06-05 14:59] RobertFewins-Kalb commented on #668
I did not. I just noticed it now

[2015-06-05 15:00] theVKC commented on #653
@RobertFewins-Kalb bump. Was this resolved in your latest pull request?

[2015-06-05 15:02] theVKC commented on #653
So I'm thrown off because I'm thinking about two different scripts. @RobertFewins-Kalb, did you fix this one yet?

[2015-06-05 15:12] RobertFewins-Kalb commented on #653
The approved programs issue has not been resolved -- there needs to be a DateDiff comparison like we did for our BUSI custom function mod

[2015-06-05 15:38] theVKC commented on #653
We need this ASAP. Do you have time @RobertFewins-Kalb?

[2015-06-05 16:40] RobertFewins-Kalb commented on #653
On it

[2015-06-05 17:19] IlseFerris commented on #653
Whoops, sorry about that.  @RobertFewins-Kalb if you need help let me know (although you are much more skilled than I).  Most likely working tomorrow in addtion to today.  # vacationisover

[2015-06-05 17:33] RobertFewins-Kalb commented on #653
No worries. I'm just going to borrow something we did for BUSI. Because the MFIP ELIG screens for 06/15 and 07/15, there needs to be a If DateDiff("D", benefit_month, date) > 0 THEN ...

[2015-06-05 17:34] IlseFerris commented on #653
Perfect!  Thanks for cleaning up my mess :?

[2015-06-05 17:41] RobertFewins-Kalb commented on #653
#CollaborationForLife

[2015-06-05 17:56] RobertFewins-Kalb commented on #653
Resolved with Pull Request #672

[2015-06-05 17:59] IlseFerris commented on #653
Seriously looks awesome!

[2015-06-05 18:03] RobertFewins-Kalb commented on #653
#RFKComeBack

[2015-06-05 18:04] RobertFewins-Kalb commented on #653
#100thCommit

[2015-06-05 18:18] theVKC opened #673 "NOTES - Approved programs: need to comment out the WCOM check for CS disregard"
@IlseFerris, can you do this? Maybe you're already on it. I know you built this and it needs to be done ASAP. What a day.

[2015-06-05 18:19] RobertFewins-Kalb commented on #673
I can do it from the version that I am pull requesting

[2015-06-05 18:21] RobertFewins-Kalb commented on #673
Done. Anybody want to get a beer...like right now?

[2015-06-05 18:21] IlseFerris commented on #673
Thank you!  I'm in meetings all day.  # inameetingnow

[2015-06-05 18:22] IlseFerris commented on #673
OMG I wish!