[2015-06-05 18:24] theVKC commented on #673
@RobertFewins-Kalb, already updated? I don't see it.

[2015-06-05 18:27] theVKC commented on #673
Found it.

[2015-06-05 18:27] #673 closed

[2015-06-05 18:27] #664 closed

[2015-06-05 18:28] theVKC commented on #653
Closing because OMG. Thank you @RobertFewins-Kalb. Isn't this fun?

[2015-06-05 18:28] #653 closed

[2015-06-05 18:30] RobertFewins-Kalb commented on #653
Fucking kill me

[2015-06-05 18:33] IlseFerris commented on #653
I'll second that!

[2015-06-05 19:44] IlseFerris opened #675 "SNAP sanction script request"
Hennepin county SNAP mentors are requesting a sanction script.  Here's the verbiage that they use now.
***ABAWD Sanction -  Ist/2nd 3rdOccurence***
Memb __ has not cooperated with E & T Services.  Client is ineligible for
SNAP for one month or until date of compliance, whichever is longer.
WREG updated.
SNAP closed eff __/__.
Name/Region

Any thoughts?  link to CM
http://www.dhs.state.mn.us/main/i

[2015-06-05 19:50] theVKC commented on #675
Hey @ruthmaloney, any thoughts on this?

[2015-06-05 20:04] theVKC commented on #675
Also @IlseFerris, are you thinking a NOTE or ACTION script? And also also, do you want to do this one, or have it marked as "help wanted"?

[2015-06-08 12:26] ruthmaloney commented on #675
Can you add in a spot for the date? Not sure if it would be better to have the date the client was found to be in sanction or the date the worker received the notice from E&T provider. Counties that are behind in processing tend to give extra months of benefits without looking at overpayments when they do this.

[2015-06-08 18:27] theVKC commented on #96
Hey @ruthmaloney! This issue was brought up. Do you think it would be problematic if we said "If we do not hear from you before _____ _your case will close_" (instead of _we will deny your application_ as it currently says in SPEC/MEMO). This seems logical.

The other part ("remember to send in your forms before the interview" seems prescribed by POLI/TEMP (the NOMI section) if I'm not mistaken. I

[2015-06-08 18:28] theVKC commented on #79
Removing this idea, no scriptwriters were interested since November.

[2015-06-08 18:28] #79 closed

[2015-06-08 18:29] theVKC commented on #81
@LaLarson and @IlseFerris are tag-teaming this.

[2015-06-08 18:35] theVKC commented on #89
Assigned to @RobertFewins-Kalb because he's going to be working on another CAF addition. Go Robert! :)

[2015-06-08 18:35] theVKC commented on #89
Also, @RobertFewins-Kalb: this is now just a drop-down addition in the first dialog which alters the header to say "CAF addendum received" instead of whatever it currently says.

[2015-06-08 18:36] theVKC commented on #159
Closed for no takers. Will re-evaluate if the request comes in again.

[2015-06-08 18:36] #159 closed

[2015-06-08 18:39] ruthmaloney commented on #96
Are you rewording the new app NOMI or the Recert NOMI?

Recerts should say "your case will auto-close".

New apps should say "we will deny your application", because they don't have an open case, so shouldn't say your case will close.

[2015-06-08 18:42] theVKC commented on #220
So, this has been modified to be an enhancement to verifs needed, which will case note "postponed verifs". @courtrightd has volunteered to do it. :)

[2015-06-08 18:43] theVKC commented on #243
Closing for lack of interest from scriptwriters.

[2015-06-08 18:43] #243 closed

[2015-06-08 18:45] theVKC commented on #398
Closing for lack of interest from scriptwriters. Will re-evaluate if requested from counties.

[2015-06-08 18:45] #398 closed

[2015-06-08 18:46] theVKC commented on #396
Closing for lack of interest.

[2015-06-08 18:46] #396 closed

[2015-06-08 18:51] theVKC commented on #381
@RobertFewins-Kalb, status update?

[2015-06-08 18:51] RobertFewins-Kalb commented on #381
@theVKC ... not sure. I'll put it on my list.

[2015-06-08 18:53] theVKC commented on #377
Closed for lack of interest.

[2015-06-08 18:53] #377 closed

[2015-06-08 18:55] theVKC commented on #369
Closed for lack of interest, it's also somewhat a duplicate of #370.

[2015-06-08 18:55] #369 closed

[2015-06-08 19:04] theVKC commented on #360
Closing for lack of interest.

[2015-06-08 19:04] #360 closed

[2015-06-08 19:05] theVKC commented on #346
Hey @RobertFewins-Kalb, here's a thing for you to do

[2015-06-08 19:15] theVKC commented on #342
@LaLarson has graciously volunteered to take this on. Yay!

[2015-06-08 19:18] theVKC commented on #542
This hasn't been a reported issue since implementation. Closing.

[2015-06-08 19:18] #542 closed

[2015-06-08 19:32] #220 closed

[2015-06-08 19:35] #527 closed

[2015-06-08 19:38] #460 closed

[2015-06-08 20:21] theVKC commented on #668
Resolved by #672.

[2015-06-08 20:21] #668 closed

[2015-06-08 20:56] theVKC commented on #567
So, @CDPotter has volunteered to build this script! Go Charles!

[2015-06-08 20:57] theVKC commented on #85
Assigned to @CDPotter. :)

[2015-06-08 21:09] theVKC commented on #86
Closing for lack of interest, much of this is done with the CAF script and current Approved Programs script.

[2015-06-08 21:09] #86 closed

[2015-06-08 21:13] theVKC commented on #77
Closed due to lack of interest.

[2015-06-08 21:13] #77 closed

[2015-06-09 02:55] RobertFewins-Kalb commented on #77
#radioshack

[2015-06-09 04:18] #346 closed

[2015-06-09 13:24] IlseFerris commented on #675
We could add any number of things to the script.  Does DHS have a template that is avaialble for workers, or that they would like workers to use? @ruthmaloney, I'd love to work with you on this one!

[2015-06-09 21:17] IlseFerris opened #684 "LTC intake approval script issue with 'application date'"
Looks like the edit box is not descriptive enough.  Needs to refer users to update the baseline date instead of the application date.  Also has some updating to do.

Oh, and I got this.

[2015-06-10 12:54] ruthmaloney commented on #675
I'm not aware of any template available. That would be nice though.

Is this script strictly for ABAWDS? Not sure if it matters or not...

It would be nice to have a couple of things added:
- Is the sanctioned member the PWE?
- Date the agency received the sanction notice from E&T provider
- A way to choose if it's the first, second, or third (+) sanction, along with the correct corresponding sanc

[2015-06-10 14:33] CDPotter opened #685 "Bug HC renewal"
If you hit cancel on the HC renewal script it doesn't actually cancel. It re-reads all the panels and opened the dialog again.

[2015-06-10 16:10] theVKC commented on #685
Is it using my cancel_confirmation function?

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly need-to-know basis. If you a

[2015-06-10 19:02] CDPotter commented on #685
It looks like it is commented out.

[2015-06-10 21:09] theVKC commented on #422
So @RobertFewins-Kalb, you said this was done "somewhere", no? Can you pull request it?

[2015-06-10 21:10] theVKC commented on #389
Can you pull request this one @RobertFewins-Kalb?

[2015-06-10 21:11] theVKC commented on #293
I am closing this issue for now due to lack of activity, but it can be reopened if/when a scriptwriter wants to take it on.

[2015-06-10 21:11] #293 closed

[2015-06-10 21:11] #148 closed

[2015-06-10 21:12] theVKC commented on #685
Wonder how that happened?

[2015-06-10 22:05] theVKC commented on #684
Good luck @IlseFerris!

[2015-06-10 22:08] theVKC commented on #685
Resolved with #686.

[2015-06-10 22:08] #685 closed

[2015-06-10 22:10] theVKC commented on #646
Oops re: closure

[2015-06-10 22:11] #491 closed

[2015-06-10 22:14] theVKC commented on #561
I'm going to try and pound this out before vacation this month!

[2015-06-11 12:12] IlseFerris commented on #401
I can work on this tomorrow if that works for you

[2015-06-11 12:13] IlseFerris commented on #515
I can work on this tomorrow if that works for you

[2015-06-11 13:30] RobertFewins-Kalb commented on #389
This is the one that case notes Medicare Part B CEI. Are you looking for that one as well?

The one we had talked about at the last hackathon was the one that checks your entire case load for clients that are MA-EPD and eligible for Part B reimbursement.

I can pull request both, if'n you like.

[2015-06-11 13:36] RobertFewins-Kalb commented on #422
I will test this and pull request. I haven't touched it for 56 days.

[2015-06-11 15:57] CDPotter commented on #365
So it looks like I already did this. pull request 70 on func lib.

https://github.com/MN-Script-Team/BZS-FuncLib/pull/70

[2015-06-11 17:50] IlseFerris opened #690 "LTC 5181 bug"
script_end_procedure missing.  Added and pull requested

[2015-06-11 17:50] IlseFerris opened #691 "MFIP sanction bug"
script_end_procedure commented out.  fixed and pull requested

[2015-06-11 17:55] IlseFerris opened #692 "EXP SNAP defaults to 0 if dialog fields left blank"
Do you think we should update the script to make a worker enter 0 if there is no $0 income/$0 assets/$0 shelter costs? I was thinking that maybe this would be less error prone.  Thoughts?  Also I would be willing to update this.

[2015-06-11 18:46] theVKC commented on #692
This was by design, actually, suggested by some state folks a while ago. What might be helpful would be text that explains that blanks will be considered zeros.

[2015-06-11 18:48] #365 closed

[2015-06-11 18:58] theVKC commented on #401
Sounds great! :)

[2015-06-11 18:58] theVKC commented on #515
Again, sounds great! :)

[2015-06-11 19:00] #89 closed

[2015-06-11 19:06] theVKC commented on #691
Closed already because @IlseFerris already pulled it. Go team!

[2015-06-11 19:06] #691 closed

[2015-06-11 19:07] theVKC commented on #692
@IlseFerris, would you be interested in updating the dialog to explain that blank will equal zero? We can't really change it, because that's how we wanted it a while ago (and I think it might be best to "lean toward expedited" to avoid incorrectly saying something _isn't_ expedited).

[2015-06-11 19:19] IlseFerris commented on #692
You know it!  Also I updated the instructions on this one already https://www.dhssir.cty.dhs.state.mn.us/MAXIS/blzn/scriptwiki/Wiki%20Pages/Expedited%20screening.aspx

[2015-06-11 19:21] IlseFerris opened #694 "appeal case note template"
requested by Hennepin County.  Any feedback on this?

[2015-06-11 19:36] theVKC commented on #692
#woot!

[2015-06-11 19:37] theVKC commented on #694
Love it. Do you want this one? Might be good to get some feedback from some folks who do appeals. A few of our Anoka friends do that, and I'm sure folks in other counties know folks too...

[2015-06-11 19:46] IlseFerris commented on #694
Of course I'll take it!  And yes, I was thinking that same thing

[2015-06-11 20:02] CDPotter commented on #694
Per PCs here at Anoka they like it but maybe have a drop down box so people can select between taken to, faxed, mailed? We here at Anoka fax in our docs.

[2015-06-11 20:05] theVKC commented on #694
I like that idea, myself.

[2015-06-12 13:10] IlseFerris commented on #694
I like that too. @ruthmaloney anything you'd like to see on an appeal case note template?

[2015-06-12 14:06] IlseFerris commented on #564
Do you think we should just add this as a drop down option much like the addendum?

[2015-06-12 15:57] CDPotter commented on #96
@ruthmaloney this would be for editing the initial appointment letter that is sent to a client for both new app and recert.

[2015-06-12 16:06] CDPotter commented on #557
@theVKC Since the scripts are working fine and the enhancement isn't really being clamored for maybe we just close this one for the time being?

[2015-06-12 16:07] CDPotter commented on #564
I think that would make sense. I'm not super familiar with the seniors app but it probably requires that the same info be case noted.

[2015-06-12 16:28] CDPotter opened #698 "ABAWD section added to CSR"
Per X105629 on SIR discussion forms, can we add an ABAWD section to the CSR case note (similar to the one on the CAF)

Seems to make sense to me and I could do it since i recently reworked the ABAWD function

[2015-06-12 17:59] theVKC commented on #698
Sounds great! Good luck!

[2015-06-12 18:00] IlseFerris opened #700 "MFIP sanction bug fix"
script_end_procedure needed to be updated.

hey look, it's updated!

[2015-06-12 18:03] theVKC commented on #700
Resolved with #699.

[2015-06-12 18:03] #700 closed

[2015-06-12 18:03] theVKC commented on #690
Updated with #689, I believe.

[2015-06-12 18:03] #690 closed

[2015-06-12 18:30] CDPotter opened #701 "Interest gauging: BULK BGTX-er"
Hello all, one of our GRH workers asked me for a fairly simple script last week. Something that allows her to run a bulk batch of cases(given to her by a GRH facility) through background. Would anyone be interested in this script? Basically works like returned mail but STAT BGTX's a bunch of cases entered into the dialog.

[2015-06-12 18:55] theVKC commented on #646
I forgot that this hasn't been imported. Closed too soon.

[2015-06-12 18:57] theVKC commented on #684
Marking as critical because there was some functional problems with it...

[2015-06-12 18:57] #567 closed

[2015-06-12 19:41] #684 closed

[2015-06-12 20:32] CDPotter commented on #701
For clarification the reason being she gets a long GRH post pay list for a specific facility and the cases with no income no assets really only need to be sent through background before review and possibly approval.

[2015-06-12 20:43] IlseFerris commented on #701
Does she get this as an Excel document?

[2015-06-12 21:02] CDPotter commented on #701
Yes but it also contains people who may need a bit of work before BGTXing.

[2015-06-12 21:17] CDPotter opened #705 "CAF Script/func file DCEX read"
Currently the autofill editbox for DCEX only looks at the first panel. This would mean that any case with multiple DCEX panels have not been getting the 2nd (or more) panels case noted when using this function. I can update the logic in the functions file.

[2015-06-15 14:07] ruthmaloney commented on #694
To add what program/s they are appealing.

[2015-06-15 14:14] ruthmaloney commented on #96
Can it be different depending whether the worker selects new app or recert? I hate to say this, but if it has to be the same, I think someone from policy should probably look at it because there is so much scrutiny over our notices right now.

[2015-06-15 15:00] theVKC commented on #96
This is the appointment letter, not the NOMI. The NOMI is system generated for non-recerts, and a SPEC/MEMO for recerts, but again this is the appointment letter.

I say we go with "your case will auto-close" for recert appointment letters and the existing "we will deny your application" for new apps. Thoughts?

[2015-06-15 15:01] #646 closed

[2015-06-15 15:03] #698 closed

[2015-06-15 15:04] theVKC commented on #705
Can you move this issue over to the FuncLib repo, if you haven't already? Thanks @CDPotter!

[2015-06-15 15:04] #705 closed

[2015-06-15 15:17] #85 closed

[2015-06-15 15:27] theVKC commented on #564
So, should we modify the title and tags for this issue to reflect that it's now an option on the CAF?

[2015-06-15 15:34] theVKC opened #707 "NOTES - LTC - ASSET ASSESSMENT needs functional update"
Just need to clean up the functions, add comments, general prettiness. It's not a great script to work on because I haven't touched it in years. This should be on me, because I built the thing. #IWasSuchANoob

[2015-06-15 15:37] theVKC commented on #573
Say @courtrightd, do we have any news on this? Just curious for an update.

[2015-06-15 15:38] theVKC commented on #180
Someday I will do this, but not soon.

[2015-06-15 15:38] #180 closed

[2015-06-15 15:39] theVKC commented on #262
This is being superceded by the work on #666. It's been a beastly process.

[2015-06-15 15:39] #262 closed

[2015-06-15 15:41] theVKC commented on #344
Removed due to lack of interest/time/necessity. Will re-open if this becomes urgent.

[2015-06-15 15:41] #344 closed

[2015-06-15 15:59] courtrightd commented on #573
Umm, no news is bad news, I’ll try and look at it tomorrow on my scripting day.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Monday, June 15, 2015 10:37 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] KRABAPPEL -- DWP to MFIP (#573)

Say @courtrightd<https://github.com/courtrightd>, do we have any news on this? Just curious for an

[2015-06-15 16:04] ruthmaloney commented on #96
Agreed

Ruth Maloney

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Monday, June 15, 2015 10:00 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Maloney, Ruth S (DHS)
Subject: Re: [DHS-MAXIS-Scripts] MEMOS - Appointment letter: recertification wording (#96)

This is the appointment letter, not the NOMI. The NOMI is system generated for non-recerts, and a SPEC/MEMO for recerts, but ag

[2015-06-15 18:25] IlseFerris commented on #564
Yep

[2015-06-15 18:40] #401 closed

[2015-06-15 18:46] theVKC commented on #96
I'll take care of this one myself. @IlseFerris, care to update the language of the SPEC/MEMO for REVS scrubber to say "your case will auto-close" instead of "we will deny your application"?

[2015-06-15 19:07] IlseFerris opened #710 "project mic drop"
A plan to build a comprehensive eligibility review interview scheduler for SNAP and MFIP.

Task list:
- [x] Asks for dates on dialog (save the first 8 days of the month)
- [x] Goes into each case on REVS and logs the ones with a review requiring an interview
- [x] Adds day/time of interview based on earlier dialog
- [x] Shows an Excel list of all of the cases
- [x] Case notes each case
- [x] Sends

[2015-06-15 19:09] IlseFerris opened #711 "DAIL scrubber for Project Mic drop"
Dail scrubber function to check case note to see if CAF script has been run, and if not, send NOMI.

[2015-06-15 19:10] IlseFerris commented on #711
And I will take this

[2015-06-15 19:13] IlseFerris commented on #711
DAIL - Send NOMI

[2015-06-15 20:04] theVKC opened #712 "REVS scrubber needs comments, people"
I'm looking at @RobertFewins-Kalb, @CDPotter, and maybe @courtrightd for help here.

[2015-06-15 20:14] theVKC commented on #96
Nevermind, @IlseFerris, I've got this one for REVS scrubber.

[2015-06-15 20:25] theVKC opened #713 "Mic drop: enable developer mode with Konami Code"
"Developer mode" will allow you to enter an array of case numbers manually for testing purposes, bypassing the logic to actually check REVS. Did either @CDPotter or @RobertFewins-Kalb do similar functionality already?

[2015-06-15 20:28] CDPotter commented on #713
We did not add any developer mode to it. We've just been manually editing the code that does things.

[2015-06-15 20:48] CDPotter commented on #712
I can work on commenting this evening.

[2015-06-15 23:56] theVKC opened #714 "Mic drop: DIM variables"
Here's what I'd like to see: DIM'd variables which are commented to explain what they are and why. This is a big script and that would be helpful.

[2015-06-16 00:02] theVKC commented on #713
Added: https://github.com/theVKC/VKC-Script-Changes/commit/3ecc29c10aecb0fd51bcdf38cf905a8a46086360

[2015-06-16 00:02] #713 closed

[2015-06-16 15:02] RobertFewins-Kalb commented on #712
I can continue this today

[2015-06-16 15:02] RobertFewins-Kalb commented on #712
Also, a Comment: I think the structure needs revision. When I tested this for @mldietz  for 08/15, I noticed that there are holes in the calendar. Let me esplain...

Currently, the REVS Scrubber...
(1) grabs all cases with FS = "N" in REPT/REVS for CM + 02 and dumps those cases in Excel.
(2) Then the REVS Scrubber creates appointment times/dates for those cases.
(3) Then the REVS Scrubber goes in

[2015-06-16 15:32] IlseFerris commented on #712
Yikes, great catch Robert!  I agree, it should take out the non-recert cases prior to scheduling, otherwise we are not providing the service that the REVS scrubber is supposed to provide.

[2015-06-16 15:56] RobertFewins-Kalb commented on #712
I'm working on the mod while I add documentation.

[2015-06-16 16:02] RobertFewins-Kalb commented on #712
Actually...there's not much documentation that needs to be added. @CDPotter  did a great job yesterday

[2015-06-16 16:35] RoyStearns opened #715 "DAIL scrubber- New hire Last 4 SSN request verified"
We had issues come up where we get a new hire for a person but since the SSN gets cleared in case notes we have no way of knowing if the match was actually for that person or if it was an SSN typo.
I see in the script that it is matching the SSN but the worker does not know that without being able to read "script".
Supervisor asked me to request that the last 4 be added back into case notes.
I am

[2015-06-16 18:18] theVKC commented on #715
Instruct the workers to trust it. You can’t address it in case notes. FTI.

From: Roy [mailto:notifications@github.com]
Sent: Tuesday, June 16, 2015 11:35 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] DAIL scrubber- New hire Last 4 SSN request verified (#715)

We had issues come up where we get a new hire for a person but since the SSN gets cleared in case notes we have no w

[2015-06-16 18:18] #715 closed

[2015-06-16 18:19] theVKC commented on #712
Please create a new issue for the above discussion.

[2015-06-16 18:49] IlseFerris commented on #675
@ruthmaloney Are there any more sanction reasons for SNAP besides the following:
Failed to attend SNAP overview
Failed to accept suitable employment w/o good cause
Voluntarily quit suitable employment w/o good cause
Voluntarily reduced work hours w/o good cause

[2015-06-16 19:02] lpshanley commented on #715
Could a message box be added at the end that would simply show the SSN that was used so the worker can compare it? This would make it show the worker the SSN and it would leave the SSN in the case note as is. Could be a win-win ☺

-Lucas
“Valar dohaeris”
#DecimateTheErrorRate
P Please consider the environment before printing this email. P

From: Veronica Kahl Cary [mailto:notifications@github.com]

[2015-06-16 19:21] theVKC commented on #715
This area is a very sensitive subject with data security. When it comes to that, we're better off steering clear of the controversy. Especially right now, for reasons I shouldn't share at the moment.

[2015-06-16 19:35] RobertFewins-Kalb opened #716 "Reconsider the structure of the REVS Scrubber"
I think the structure needs revision. When I tested this for @mldietz for 08/15, I noticed that there are holes in the calendar. Let me esplain...

Currently, the REVS Scrubber...
(1) grabs all cases with FS = "N" in REPT/REVS for CM + 02 and dumps those cases in Excel.
(2) Then the REVS Scrubber creates appointment times/dates for those cases.
(3) Then the REVS Scrubber goes in to STAT/REVW for e

[2015-06-17 12:01] ruthmaloney commented on #675
Here’s what the CM says:
The following provisions apply to non-PA mandatory SNAP E&T participants who fail to participate, cooperate, accept employment, voluntarily quit suitable employment, or voluntarily reduce work hours while participating in SNAP E&T. When a mandatory participant fails, without good cause, to comply with SNAP E&T requirements, determine if you must sanction only the client or

[2015-06-17 13:46] CDPotter opened #717 "BOLO agreeing to SSA information (BNDX scrubber)"
(Be on the look out)

So this morning we had an issue with the scrubber where a worker hadn't renewed their INFC access. We resolved it by having her renew it but we didn't think to grab a screenshot until we finished troubleshooting.

 If anyone has a screenshot for what the screen looks like we would love to incorporate some safe guards into the bndx scrubber.

[2015-06-17 14:04] courtrightd opened #719 "Critical bug - LTC Intake approval error on case noting"
Script is getting a wrong number of arguments error on writing the case note, I've got the fix, will pull.

[2015-06-17 14:05] RobertFewins-Kalb commented on #719
i already submitted a pull request for this

Sent from my iPhone

On Jun 17, 2015, at 9:05 AM, David Courtright <notifications@github.com<mailto:notifications@github.com>> wrote:

Script is getting a wrong number of arguments error on writing the case note, I've got the fix, will pull.

-
Reply to this email directly or view it on GitHub<https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/issues/7

[2015-06-17 14:09] courtrightd commented on #719
Oops - trying to work fast between intakes, I didn't check for an issue.  Please close this, I'll cancel my pull.

[2015-06-17 14:18] RobertFewins-Kalb commented on #719
Sorry, I didn't create an issue. I was emailed directly

[2015-06-17 19:10] theVKC commented on #719
Opening this issue to reflect @RobertFewins-Kalb closed it.

[2015-06-17 19:13] #719 closed

[2015-06-17 19:14] theVKC commented on #515
@RobertFewins-Kalb actually found a fix for this and is pulling it.

[2015-06-18 13:28] CDPotter opened #722 "Critical: Bulk cola scrubber GRH issue"
So apparently the GRH autoapproved message is INFO type and not COLA. @RoyStearns  or @RobertFewins-Kalb  Would either of you be able to look at it and account for this change since you're both more familiar with the code? (I know Robert is out today). I can email a image of the message or there are some examples in x102524

[2015-06-18 13:57] CDPotter commented on #722
Also it seems to be reading the COLA message for the wrong case. This script is very much down.

[2015-06-18 14:15] CDPotter commented on #722
Also MSA autoapproved is also a INFO message.

[2015-06-18 14:15] IlseFerris commented on #722
Thanks Charles.  I will let users here know.

[2015-06-18 14:37] CDPotter opened #723 "Critical COLA 2015 summary still using 01/15"
LTC COLA 2015 is still pulling from 01/15. @IlseFerris Should it be changed to grab from 07/15 now?

[2015-06-18 14:37] IlseFerris commented on #722
Does anyone have this?  I'd say this is critical

[2015-06-18 14:38] CDPotter commented on #722
I'm trying to work through it but it's not going smoothly or quickly.

[2015-06-18 14:39] IlseFerris commented on #722
Thanks Charles.  You are my current hero ;D

[2015-06-18 15:52] CDPotter commented on #723
Update: I have submitted fixes for these and they will be reviewed tomorrow. Please inform workers to not use them for the time being.

[2015-06-18 15:53] CDPotter commented on #722
Update: I have submitted fixes for these and they will be reviewed tomorrow. Please inform workers to not use them for the time being.

[2015-06-18 18:31] CDPotter commented on #700
@IlseFerris Was this the bug that causes a "no outcome in the script" message?

[2015-06-18 18:37] IlseFerris commented on #700
I believe so.  I was looking for the exact Msgbox message.  I'll post it when I find it.

[2015-06-18 18:39] CDPotter commented on #700
Ok, I just wanted to check since someone asked on SIR and it looks like it was fixed in MASTER/BETA but hasn't been released to RELEASE yet. I just wanted to make sure I let them know the correct info.

[2015-06-18 20:43] IlseFerris opened #733 "PA verifs requested enhancement"
PA Verif Requested.  The request I get in these cases is for a date range.  Most clts need to verify a year’s worth of benefits.  It would be great if you could modify this so that we could capture the clt’s benefits for a range, rather than just one month.
Submitted by Hennepin County

[2015-06-18 20:44] IlseFerris opened #734 "GA/SNAP FIATER"
Also from Neil Trembley at Hennepin County
FIAT GA/SNAP.  My most repetitive task that I do is FIATing GA/SNAP.  Time consuming rote work.  Almost always the same; is always the same when I am changing (like updating DISA with an extension of the DISA end date—something we do all the time) and then producing DAIL action items to approve new GA/SNAP results.  It would be a great boon to humankind i

[2015-06-18 20:48] IlseFerris opened #735 "SPEC/WCOM for used ABAWD months"
Great idea from Kyle A (formerly of Anoka Co, currently of Hennepin Co., that's right)
Workers send a abawd letter to clients that state about using their months:  This is an example.
This what I add to the SPEC/WCOM if client has used their ABAWD months and comes in to apply with an exemption:

Jimmy Walker has used their 3 entitled months of SNAP
benefits as an Able Bodied Adult Without Dependen

[2015-06-18 20:55] CDPotter commented on #734
So something to grab the GA results and put them into the SNAP budget? or FIATING both GA and SNAP?

[2015-06-18 20:59] IlseFerris commented on #734
For now just FIAT the GA into the SNAP budget

[2015-06-18 21:05] LaLarson commented on #734
I do have something of this nature that I was working on... I'm away right now, but I'll be in tomorrow... Let me check, and get back to you tomorrow morning? I know it was like 80% done?

Sent from my iPhone

On Jun 18, 2015, at 3:44 PM, Ilse Ferris <notifications@github.com<mailto:notifications@github.com>> wrote:

Also from Neil Trembley at Hennepin County
FIAT GA/SNAP. My most repetitive task

[2015-06-19 12:38] tdahl21 opened #736 "New Script Idea: Cost Effective Reimbursement"
We've had a request for a CE reimbursement script.  Something we can run to note that verification was received and what was reimbursed and for whom.

[2015-06-19 12:47] tdahl21 opened #737 "Enhancement request: CSR Script - exempt renewals"
Instead of having a note just indicating the case is exempt, could we have it still develop a full casenote?

[2015-06-19 12:52] tdahl21 opened #738 "Enhancement Request: Bulk: REVW/MONT closures - Ability to skip privileged cases."
We try and remember to run the REVW/MONT closures script when people are gone, etc.  Sometimes we run into cases that are privileged, which causes the script to stop where it was and not continue on to other cases that need to be noted.  Is it possible to have the script skip the case it finds to be privileged  and continue on?

[2015-06-19 13:00] courtrightd commented on #738
I added this fix to REVW/MONT, it should be in the next release.

From: tdahl21 [mailto:notifications@github.com]
Sent: Friday, June 19, 2015 7:52 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] Enhancement Request: Bulk: REVW/MONT closures - Ability to skip privileged cases. (#738)

We try and remember to run the REVW/MONT closures script when people are gone, etc. Sometimes

[2015-06-19 13:16] IlseFerris commented on #734
Awesome!  I thought that was the case.

[2015-06-19 13:54] theVKC commented on #723
This has now been approved and integrated into BETA and RELEASE as well as master. Thank you @CDPotter! Feel free to close branches created to solve this issue.

[2015-06-19 13:54] #723 closed

[2015-06-19 13:54] theVKC commented on #722
@CDPotter, any update on pull requesting this to BETA and RELEASE? If I don't hear from you soon, I'll just plan on shutting it down.

[2015-06-19 13:55] theVKC commented on #716
Agreed! I presume you're on it, @RobertFewins-Kalb?

[2015-06-19 13:57] theVKC commented on #717
I'm going to see if I can get access to this screen in a lab environment when I get back from vacation.

[2015-06-19 13:58] theVKC commented on #733
Any thoughts? I believe @courtrightd built this one.

[2015-06-19 13:59] theVKC commented on #734
This is a duplicate of #393. Yo @IlseFerris... remember to search for existing issues before creating new ones.

[2015-06-19 13:59] #734 closed

[2015-06-19 14:01] theVKC commented on #735
I like the idea, but I'd like to hear thoughts from @ruthmaloney about it if you don't mind. Ruth, why am I thinking there's a suggested template out there for this?

[2015-06-19 14:02] courtrightd commented on #733
I’m sure it can be done, likely just rework the code that provides the last 3 months INQX to provide the last 12 and add a checkbox.  I don’t know when I will get to working on it though.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, June 19, 2015 8:58 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] PA verifs requested enhan

[2015-06-19 14:02] theVKC commented on #736
I believe there is already a script for this. It's a BULK script which case notes reimbursements.

[2015-06-19 14:03] #736 closed

[2015-06-19 14:04] theVKC commented on #737
You know, there's already an issue out there around this topic (#73). However, yours references a specific alternative request. Any thoughts from the group on this? I'll leave this up for a bit to get feedback, but then whatever we decide will be tacked onto the previous issue and this will close.

[2015-06-19 14:05] #738 closed

[2015-06-19 14:21] IlseFerris commented on #734
Oh shoot, didn't think this one was on there.  Sorry about that one (wah wah)

[2015-06-19 14:22] CDPotter commented on #722
I've tried to fork BETA and make the changes but I keep getting unable to merge automatically. I could have sworn I submitted another RELEASE one. I've deleted my current forks for BETA and RELEASE and am planning to submit pulls shortly.

[2015-06-19 15:04] #722 closed

[2015-06-19 16:16] CDPotter commented on #717
One has been found at Anoka. We will work on a fix in July after freeze.

[2015-06-19 18:21] IlseFerris opened #746 "SNAP quality review case note---Call for input"
Hennepin County is going to start using this.  Just want to get everyone's input about it to see if this could be used at other agencies.

A basic case note template for SNAP reviewers to use that will case note whether a SNAP quality review was correct or incorrect, and if correct, will also note the issuance amount.
What the script will do for you:
1. If in ‘STAT’ or ‘CASE’, the case number will

[2015-06-19 19:17] theVKC commented on #746
Any ideas, @ruthmaloney? So far, I have none from the SNAP side.

[2015-06-19 19:20] #573 closed

[2015-06-19 19:43] theVKC commented on #717
Great!

[2015-06-19 19:44] theVKC commented on #717
I suppose this also affects SVES/QURY?

[2015-06-19 19:44] #449 closed

[2015-06-22 12:10] ruthmaloney commented on #746
It would be good to add the month and/or action reviewed along with the approval version number. Will the reviewer be entering a description of the error found or just that a review was done on the case?

[2015-06-22 12:37] ruthmaloney commented on #735
TE 02.05.70.01 has a worker comment for postponed verifications:
(Name) has used their 3 entitled months of SNAP benefits as an Able Bodied Adult Without Dependents. Verification of (specify verification/s needed) has been postponed. You must turn in verification of (specify verification/s needed) by (verification due date) to continue to be eligible for SNAP benefits. If you do not turn in the re

[2015-06-22 14:03] CDPotter commented on #717
It most definitely would. We had a PC here find the screen and got a shot and coordinates so it's just a matter of programming it now.

[2015-06-22 20:01] RoyStearns opened #747 "Report Active- last review completed-- idea"
Idea for a new script to find cases that have not had a review lately completed in Maxis.  I am just talking about HC only cases but this may apply to other cases also- not sure.

Background info- We have found a number of cases where the case has not had a revw in the last 12 months or longer (the one on my desk right now applied 6/3/13 and has never had a revw). I believe this to be an issue bec

[2015-06-22 21:34] CDPotter opened #748 "GRH Overpayment Memo"
Few questions on this one.

1. Could we have the reason for overpayment put into the spec memo?
2. In one instance the script seems to dump the FACI_name partially into the blank line near the end of the spec memo.
3. There is code to write into MEMO in the case note section that needs to be swapped (likely causing issue above).

[2015-06-23 14:53] IlseFerris commented on #748
I could update that.  Consider it assigned!

[2015-06-24 14:24] IlseFerris commented on #675
I changed the wording to “Failed to comply with SNAP E&T requirements” in the droplist.  Ruth, I have a version almost ready to test if you want to see it.  And yes, @theVKC assign it to me if it hasn't been assigned already

[2015-06-24 18:10] courtrightd commented on #733
Update - I had to look into some other minor errors in this script, so I added this functionality.  It now has an editbox to enter the number of months you want from MONY/INQX added to the word doc.  Does that sound like a workable solution?

[2015-06-24 18:39] courtrightd opened #749 "Dail Scrubber - New Hire change footer month enhancement"
Modify the script to build the new JOBS panel in the footer month of the job start date, as currently they are going back and adding this manually for MFIP cases.  Also add checkbox for MFIP cases that would note closed for next month, rather than TIKL 10 days out.  (MFIP doesn't require 10 days for verif before sending closure notice.)  If there are no objections, I can work on this.

[2015-06-26 13:29] ALJ10 opened #751 "ERROR: LTC Intake Approval script ~ Wrong # arguments or invalid property assignment"
Rec'd this report from a LTC worker:
We are getting this error when we use LTC Intake Approval script
“ Script Error at Line 1, Column 1:
Wrong number of arguments or invalid property assignment:
‘write_variable_in_CASE_NOTE’

[2015-06-26 14:29] IlseFerris commented on #751
Good morning, do you know if your worker ran the script more than once, and got this error multiple times? It looks like a fix went out of this about 9 days ago.

[2015-06-26 14:32] ALJ10 commented on #751
I just verified with the worker that she did try it multiple times and rec’d the error each time. She also mentioned one of the other LTC workers rec’d the same error last week, but they thought maybe it was how the worker was using the script. So they didn’t report it to me.

Let me know if you need further details.

Thank you!

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Friday, Ju

[2015-06-26 14:33] CDPotter commented on #751
It isn't updated in release yet.

[2015-06-26 15:24] IlseFerris commented on #751
Thanks for the update @CDPotter!

[2015-06-26 17:34] CDPotter opened #753 "Check your notice warning (enhancement)"
Had a suggestion from a supervisor that maybe we could consider adding a reminder at the end of the CAF that would tell people to check their notices make sure they read correctly, and add WCOM if needed.

My gut says to do it on Approved/denied/closed progs, if we were to add anything. I wanted to pitch it to the crowd and see what other people thought.

[2015-06-26 17:51] courtrightd commented on #753
I agree with Approved/denied/closed as the route with this if one is going to add it somewhere.

From: Charles P [mailto:notifications@github.com]
Sent: Friday, June 26, 2015 12:34 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] Check your notice warning (enhancement) (#753)

Had a suggestion from a supervisor that maybe we could consider adding a reminder at the end of the CA

[2015-06-26 17:55] courtrightd opened #754 "Denied progs ehancement - add worker comments to notice"
The thought here is to add a check box that would modify the notice when denying for verifications.  Basically have it edit the notice with something like "The following verifications were not provided:" and then it lists the contents of the "verifs needed" editbox.

[2015-06-29 00:37] theVKC opened #755 "CSES Processing - when reading PMI on MEMB, replace _ with blank"
Ramsey County's system is unique, and it shows an underscore instead of blank space when looking for the PMIs. Confirmed with multiple cases. I'll add this to the list to update tomorrow or tonight.

[2015-06-29 20:14] IlseFerris opened #758 "Work reg matrix"
Here's the thought...

1.	 The script will read the HH members information (name, age, member number)
2.	Compares the ‘eating group(s)’ from the EATS panel
3.	Creates a dialog for the worker with all household members listed and ‘suggested household members’ (which will be identified by a check in the HH member’s checkbox) that appear to need a WREG panel. The worker will still be able to choose w

[2015-06-29 22:21] #733 closed

[2015-06-30 14:47] theVKC commented on #751
@CDPotter, was this your pull request from just now? I pulled it in, but you pulled into BETA. Can you also pull to master and RELEASE please?

[2015-06-30 14:49] theVKC commented on #749
How sure are we that this is policy? I can ask my MFIP contact, but I was under the impression that this depends on when the new job started, but was not typical (could be wrong).

[2015-06-30 14:50] theVKC commented on #747
Only thing I worry about with something like this is that Data Warehouse queries would be much easier and less resource intensive. Do you have anyone in Stearns who can just ask the Data Warehouse? I believe you can request a query using SIR (could be wrong).

[2015-06-30 14:52] theVKC commented on #753
Agreed. Frankly, if we are to put ANYTHING into the CAF script, I think it should be a warning to use approved/denied/closed programs after running the CAF. #UseTheRightToolForTheJob

[2015-06-30 14:52] theVKC commented on #754
I love it. Do you want it?

[2015-06-30 14:54] theVKC commented on #758
Like the mic at the end of that idea. It's yours.

[2015-06-30 15:11] theVKC opened #762 "Appointment letter: warn users of the new address for two months"
Set a datediff to give a visual warning of what the new address looks like, and instructions to email me right away if there's a problem. I can do it.

[2015-06-30 15:21] CDPotter opened #763 "Transfer case script (within county"
Had a few comments to add an EMER type to the program selection and generalize the units to transfer from just Adult and Family as that distinction is pretty localized to Anoka. Will be working on this one.

[2015-06-30 15:41] courtrightd commented on #754
Yes, I will take it for sure.  Is there any official input on what the wording should be for the comments?

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, June 30, 2015 9:53 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Denied progs ehancement - add worker comments to notice (#754)

I love it. Do you want it?

—
Reply to th

[2015-06-30 16:20] CDPotter commented on #753
So we're thinking add a reminder message box at the end of the CAF to tell people to use Approve/Closed/Denied progs as necessary, and a message box at the end of those scripts reminding people to check their notices read correctly?

[2015-06-30 16:22] theVKC commented on #763
Can you expand on "generalize the units"? I'm just a bit confused about what that means.

[2015-06-30 16:27] theVKC opened #768 "Appointment letter: update functions to use less code"
A lot has changed when I first wrote this. On it.

[2015-06-30 16:30] CDPotter commented on #763
Right now it only says Adult and Family as options to transfer the case to. Since other agencies may have different units or locations they want to transfer cases to adding a combo box will allow them to pick from Adult, family, grh, cash, LTC, or enter whatever unit title they want. It'll allow more flexibility for structure changes in the future if needed.

[2015-06-30 19:11] theVKC opened #769 "All scripts: need to update FuncLib block again..."
so this is minor, but affects EVERYTHING.

This part of the FuncLib block...
`IF default_directory = "C:\DHS-MAXIS-Scripts\Script Files\" THEN`

...should look like this...
`IF default_directory = "C:\DHS-MAXIS-Scripts\Script Files\" OR default_directory = "" THEN`

...because that way, if you are a scriptwriter, it will use the master branch. Scriptwriters tend not to have a default_directory var

[2015-06-30 19:12] theVKC commented on #763
I see. That sounds much better!

[2015-06-30 20:06] theVKC opened #770 "Appointment letter: add "select one..." handling for dialog"
On it

[2015-06-30 22:24] #96 closed

[2015-06-30 22:24] #666 closed

[2015-06-30 22:24] #762 closed

[2015-06-30 22:24] #768 closed

[2015-06-30 22:24] #770 closed

[2015-06-30 22:26] theVKC commented on #763
Resolved by #767.

[2015-06-30 22:26] #763 closed

[2015-06-30 22:57] #755 closed

[2015-07-01 13:15] IlseFerris commented on #769
I should be able to work on Doubtfire a bit tomorrow, and next week.  I still got this!

[2015-07-01 13:18] IlseFerris opened #772 "MFIP sanction cured case note"
Hennepin family worker suggested a MFIP sanction cured case note template.  Sounds like this would be pretty helpful.  Any takers?

[2015-07-01 13:19] IlseFerris opened #773 "MFIP transitioning to SNAP case note"
Hennepin county family worker suggested this. Is this an area that is error prone/used enough to warrant this?  Thanks team!

[2015-07-01 13:21] IlseFerris opened #774 "EMA mnsure app processing case note"
Hennepin county HC worker has requested this.
"We do a lot of EMA mnsure app processing and would love a case note script for this – probably would just be a spin off of the HCAPP case note."

Sounds pretty legit, any takers?

[2015-07-01 13:55] courtrightd commented on #773
The reply I got from MFIP folks is this:
Currently, when I do this I use a Closed Program case note and a Approved Program Case Note, which works fine. Having one case note that says both things might be convenient, but I don’t think it would improve performance. It IS a very error prone area, but not in a way that I think can be fixed w a case note script. ((Basically people do it too often, when

[2015-07-01 15:15] theVKC opened #776 "CSES processing: create objects for the pmi with the cs"
Should be less error prone. On it.

[2015-07-01 17:52] IlseFerris commented on #773
Good deal.  Do you want this one?

[2015-07-01 17:53] courtrightd commented on #773
I can take it, but it would be quite a while before I can work on it, I have other people making decisions on my priorities now.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Wednesday, July 01, 2015 12:52 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] MFIP transitioning to SNAP--call for input (#773)

Good deal. Do you want this one?

—

[2015-07-01 17:59] IlseFerris commented on #773
Gross!  Well let's keep it out there, and maybe someone can take this one for the team.  If not, maybe we can tackle it together at a later date, SNAP E & T leter style.

[2015-07-01 19:07] CDPotter commented on #751
Yes. This can be closed now.

[2015-07-01 19:25] CDPotter opened #779 "PA verif request being built wrong?"
From SIR discussion board:

"We've found that script is pulling over the housing allowance $110 into the Food Portion of verification form and the SNAP portion into the Cash area. Perhaps with the new housing grant identified as grant amount - it is pulling the 1st identified items from MAXIS. Creates incorrect PA Verification amounts"

I'm not too familiar with MFIP but does anyone with MFIP case

[2015-07-01 19:27] courtrightd commented on #779
I’ll take it, it’s my script and I probably should have noticed it when I was making other fixes to it recently.

From: Charles P [mailto:notifications@github.com]
Sent: Wednesday, July 01, 2015 2:26 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] PA verif request being built wrong? (#779)

From SIR discussion board:

"We've found that script is pulling over the housing allowa

[2015-07-01 19:30] RobertFewins-Kalb commented on #576
NOTES - BURIAL ASSET

[2015-07-01 19:30] CDPotter commented on #779
Thanks David! I'll let them know on SIR.

[2015-07-02 14:35] IlseFerris commented on #774
Add the following:
-	Have the heading read something to the effect of ***EMA mnsure app received 6/26/2015: approved***
-	EMMA panel (put it in the case note near the imig stuff – like right under *Cit/ID:

***EMA mnsure app received 6/26/2015: approved***
* HH comp: 1a - 48 y/o single undocumented female
* Cit/ID: Member 01- non-citizen, no verifs provided
* EMMA: Begin Date – 06/26/2015

* Notes

[2015-07-06 16:36] CDPotter opened #792 "LTC burial asset script"
Had a worker here at Anoka suggest that we add some check and balance system to prevent people from accidentally not leaving the burial agreement type as NONE when they don't notice that it is a field. Worker had completed everything except that box and lost a lot of data because he missed the box.

Thoughts?

[2015-07-06 17:11] #746 closed

[2015-07-06 17:34] #751 closed

[2015-07-06 17:43] IlseFerris commented on #792
Thanks Charles!  Do you want to clean up some of the old functions too while you're in there.  Cancel_confirmation is one that stands out from the get go.

[2015-07-06 17:51] IlseFerris commented on #53
MFIP to DWP transition.  @courtrightd were you working on this?

[2015-07-06 17:55] IlseFerris commented on #81
@LaLarson can you commit what she has so that you get credit for you work.  I should be able to take over this at some point.

[2015-07-06 17:55] theVKC commented on #88
Removing this due to lack of interest. Will pursue if a scriptwriter has dedicated time for it.

[2015-07-06 17:55] #88 closed

[2015-07-06 17:57] courtrightd commented on #53
I believe I pulled it into the current version of Krabbpel a week or so ago, should be working.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Monday, July 06, 2015 12:52 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Training case creator (#53)

MFIP to DWP transition. @courtrightd<https://github.com/courtrightd> were you working on this?

[2015-07-06 17:59] #181 closed

[2015-07-06 18:02] theVKC commented on #219
@RobertFewins-Kalb believes it's closed. I WANT TO BELIEVE

[2015-07-06 18:02] #219 closed

[2015-07-06 18:03] CDPotter commented on #792
Sure I can close my current pull and fix some of them.

[2015-07-06 18:03] #279 closed

[2015-07-06 18:07] IlseFerris commented on #53
Awesomeness, thanks David!

[2015-07-06 18:09] RobertFewins-Kalb commented on #517
This has been resolved. Closing.

[2015-07-06 18:09] #517 closed

[2015-07-06 18:11] IlseFerris commented on #342
@LaLarson did you get anywhere on this one?  We can reassign it if not, if so, we want credit where credit is due :)

[2015-07-06 18:12] #389 closed

[2015-07-06 18:14] #381 closed

[2015-07-06 18:15] IlseFerris commented on #393
@LaLarson, me again.  What's the status of this one too?

[2015-07-06 18:15] #395 closed

[2015-07-06 18:15] theVKC commented on #395
Closing due to lack of interest/time.

[2015-07-06 18:23] theVKC commented on #397
Closed due to lack of interest, and unfortunately the scriptwriter assigned does not have a lot of time to go over it right now.

[2015-07-06 18:23] #397 closed

[2015-07-06 18:23] #422 closed

[2015-07-06 18:25] #440 closed

[2015-07-06 18:26] theVKC commented on #440
Closing due to lack of interest.

[2015-07-06 18:28] #515 closed

[2015-07-06 18:29] #557 closed

[2015-07-06 18:41] theVKC commented on #561
@IlseFerris just built a new function for this stuff. Perhaps after it's been tested we can evaluate again. Maybe in a couple of weeks we can close this issue.

[2015-07-06 18:53] #564 closed

[2015-07-06 18:56] theVKC commented on #565
Hey @CDPotter, are you interested in building this statewide documentation?

[2015-07-06 19:05] theVKC commented on #601
Closing due to lack of interest. I'm happy to reopen this if someone feels like working on it though.

[2015-07-06 19:05] #601 closed

[2015-07-06 19:07] theVKC commented on #604
Closing due to lack of interest.

[2015-07-06 19:07] #604 closed

[2015-07-06 19:15] theVKC commented on #658
@courtrightd, are you interested in doing this one at all?

[2015-07-06 19:16] #675 closed

[2015-07-06 19:16] courtrightd commented on #658
Sure, I’ll take it.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Monday, July 06, 2015 2:16 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Add to DAIL scrubber: update last grade completed (#658)

@courtrightd<https://github.com/courtrightd>, are you interested in doing this one at all?

—
Reply to this email directly or view it o

[2015-07-06 19:18] #717 closed

[2015-07-06 19:23] theVKC commented on #737
Closing due to lack of interest. Can pursue if this is desired from a scriptwriter or policy person.

[2015-07-06 19:23] #737 closed

[2015-07-06 19:24] theVKC commented on #747
Closing because this is better suited for a data warehouse query.

[2015-07-06 19:24] #747 closed

[2015-07-06 19:27] theVKC commented on #753
I concur.

[2015-07-06 19:27] IlseFerris commented on #753
Agreed.  You got this!

[2015-07-06 19:27] theVKC commented on #753
Do you want this, @CDPotter?

[2015-07-06 19:48] LaLarson commented on #342
You’re awesome… We assigned it as a good future project for me, but I have not touched it. Feel free to reassign if you need it done sooner rather than later! ☺

Laura Larson
IMU – Family Unit

Goodhue County HHS
426 West Avenue
Red Wing, MN 55066

Phone: 651-385-3200
Fax Numbers:

  *   Child Support Fax: 651-267-4880
  *   Income Maintenance Fax: 651-267-4879
  *   Social Services Fax: 651-267-4

[2015-07-06 19:49] #792 closed

[2015-07-06 20:26] CDPotter commented on #753
Can do.

[2015-07-06 20:28] CDPotter commented on #565
I could give it a go this week. What medium would you like me to use? Powerpoint, script wiki, word?

[2015-07-06 20:37] IlseFerris commented on #576
@CDPotter are you willing to take this one since you're working on the Burial assets scripts?  It's in the Burial assets script 52 times now.

[2015-07-06 20:53] CDPotter commented on #576
Well the changes I did today already got accepted but I can add this to my to-do list.

[2015-07-06 21:16] theVKC commented on #374
I made the call to just remove HC from this until further notice.

[2015-07-06 21:17] #372 closed

[2015-07-06 21:17] #612 closed

[2015-07-06 21:18] theVKC commented on #59
I'm just going to rebuild the script with the newer functionality as this will be much easier.

[2015-07-06 21:18] #59 closed

[2015-07-06 21:22] theVKC commented on #374
I'm removing this issue as my current version does NO HC processing.

[2015-07-06 21:22] #374 closed

[2015-07-06 21:27] #712 closed

[2015-07-06 21:28] #394 closed

[2015-07-06 21:29] #776 closed

[2015-07-06 21:38] theVKC opened #798 "Merge Krabappel functions into main library"
Because it's about to blow up.

[2015-07-06 21:53] RobertFewins-Kalb opened #799 "ENHANCEMENT REQUEST -- Consolidate NOTES Main Menu"
Instead of having 3 main menus, let's merge all the NOTES scripts into one main menu with alpha-split tabs.

I'll do it!! Pick me!!

[2015-07-06 21:55] theVKC commented on #565
I like Word myself.

[2015-07-06 21:55] theVKC commented on #565
And thank you!

[2015-07-06 21:57] RobertFewins-Kalb commented on #799
Resolved with pull #800

[2015-07-07 18:31] courtrightd commented on #779
I just pull requested the fix into master, @theVKC how do you want this handled for beta / release, as I built onto the previous enhanced version that is currently in Beta?

[2015-07-07 19:39] RobertFewins-Kalb opened #802 "CRITICAL BUG -- Syntax Error with SSA Agreement Handling"
A financial worker reported that the SEND SVES script is not working. When I looked at the code, the closing message for the script end procedure inserted to get around the SSA Agreement does not have the closing text in quotes, causing a syntax error.

[2015-07-07 19:54] IlseFerris opened #804 "CRITICAL BUG for NOTES - SNAP CASE REVIEW"
CRITICAL BUG FIX #803 (pull request)

"call" was missing from check_for_MAXIS function.  Fixed and tested.

[2015-07-07 20:31] RobertFewins-Kalb commented on #802
Resolved with #805

[2015-07-08 03:43] #753 closed

[2015-07-08 03:48] theVKC commented on #804
Fixed on master and release. I created a second pull request for the release branch. Not fixing on beta, because it's on master and I'm going to do a beta push tonight (didn't do it yesterday as I was anticipating possible changes thanks to our other scriptwriters who couldn't attend hackathon).

[2015-07-08 03:49] #804 closed

[2015-07-08 03:50] #802 closed

[2015-07-08 04:01] theVKC commented on #779
Well, release was yesterday, so anything that was in BETA last week is already released, so... yay!

I have it in master now. If you feel this bug warrants immediate attention, create a separate pull request into release. The BETA branch will be updated tomorrow once I get an update to NOTES - MAIN MENU from @RobertFewins-Kalb.

[2015-07-08 12:58] courtrightd commented on #779
I’ll create a pull into release this morning when I get a chance, pardon my lack of brain function.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, July 07, 2015 11:01 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] PA verif request being built wrong? (#779)

Well, release was yesterday, so anything that was in BETA last week

[2015-07-08 15:49] IlseFerris opened #809 "CRITICAL BUG for NOTES #-G button"
2nd verse, same as the 1st...

Because I believe in magic I did not give the button a path.

Fixed with pull request: Critical bug for FSET sanction #808

[2015-07-09 00:40] #799 closed

[2015-07-09 14:18] RobertFewins-Kalb commented on #798
I have a pull request in the BZS-Func-Lib for this. Put a fork in this issue, because it's done.

[2015-07-09 14:18] RobertFewins-Kalb commented on #716
I'm going to close this issue. We have already done that.

[2015-07-09 14:18] #716 closed

[2015-07-09 14:21] RobertFewins-Kalb commented on #91
So I think the script is done and ready for testing. There is a problem with using more than 5 pay dates when you go enter the pay dates into the retrospective side of JOBS. I think a message box should pop up informing the worker they will need to clean up the case.

If you go to case 212915 (training region), the retrospective side for MEMB 01's job with Mom's Friendly Robot Factory is missing t

[2015-07-09 14:22] RobertFewins-Kalb commented on #572
Ooo...I didn't do that yet. I will at it to the script. Shouldn't be an issue.

[2015-07-09 14:22] RobertFewins-Kalb commented on #496
I'm going to close this. I have a restructured PAYSTUBS RECEIVED on my compador 64. This issue is going to be resolved with a pull request.

[2015-07-09 14:22] #496 closed

[2015-07-09 16:25] IlseFerris opened #818 "EXP screening updates"
OOH look, it's already done!

Updated dialog, old functions and cleaned her up a bit.  Also added verbiage to dialog informing the user that the income, assets, and shel costs edit boxes will default to $0 if left blank

several updates for OP DOUBTFIRE and more #817

[2015-07-09 17:07] IlseFerris opened #819 "SNAP E&T letter defaulting to MEMB 01 when 2-digit MEMB number not used"
I can take this.

I will also update the case note to include which MEMB name and # is being referred to orientation.  Any other enhancements that anyone can think of? @courtrightd @ruthmaloney @CDPotter

[2015-07-09 18:22] CDPotter commented on #576
What are we replacing new_page_check with?

[2015-07-09 18:30] CDPotter commented on #576
Ah I think I found it, case_note_page_four and new_page_check have been incorporated into the write_variable/write_bullet_and_variable functions?

[2015-07-10 16:10] CDPotter commented on #576
So I wanna get input from others.

I noticed the write_three_columns_in_case_note function doesn't account for page 4. Should I try to update that function as well? Otherwise I can just leave the case_note_page_four bit in since it's an internal function exclusive to this script.

[2015-07-10 18:27] RobertFewins-Kalb opened #821 "Consolidated NOTES MAIN MENU -- Stupid Robert forgot some buttons."
I forgot to add all the NOTES buttons to the consolidated MAIN MENU.

#-C is missing:
*     Change Report Form Received

D - G is missing:
*     Docs Received

H - Z is missing:
*     Medical Opinion Form Received
*     Shelter Form Received

I will generate a pull request to update the script

[2015-07-10 20:01] IlseFerris opened #824 "update LTC verifs requested to include verteran info"
Oooh, it's done. #823 pull request.

Also updated old functions, and cleaned up a bit.

[2015-07-11 22:03] RobertFewins-Kalb commented on #572
I'm close to submitting a pull request for ACTIONS - PAYSTUBS RECEIVED.

[2015-07-13 14:30] #821 closed

[2015-07-13 18:30] IlseFerris opened #826 "Call for input: updating Documents rec'd to mirror verifications requested"
I was thinking that this might make workers want to use it more, and it would be easier to read in a case note if it was formatted.  Thoughts?

[2015-07-13 18:45] IlseFerris opened #828 "Call for input: updating Documents rec'd to mirror verifications requested"
I was thinking that this might make workers want to use it more, and it would be easier to read in a case note if it was formatted.  Thoughts?

[2015-07-13 18:57] IlseFerris opened #830 "BILS updater enhancement--add create_panel_if_nonexistent()"
basically if you don't have a BILS panel out there, it creates one for you so you can use the BILS updater.
Also doesn't it seem like a good time to change its' name to the BILS buddy?

Function updated Added Call create_panel_if_nonexistent() function #829

[2015-07-13 19:00] IlseFerris opened #831 "Update FAQ on SIR: workers do not need to update power pads at script release"
It's a common misconception that workers need to update their power pad whenever new scripts are added or an enhancement is made.  Could this be added to the FAQ's on SIR when the SIR issues get resolved?  Thanks @theVKC!

[2015-07-13 19:04] IlseFerris opened #832 "MFIP sanction/DWP disqualification enhancement"
1. Hennepin worker has requested a field for the ES worker name and contact info.

2. Another worker has requested that the type of sanction be added into header.

Thoughts from family workers? @LaLarson @courtrightd @lpshanley

[2015-07-13 19:47] IlseFerris opened #833 "MFIP sanction/DWP disqualification enhancement--call for input"
1. Hennepin worker has requested a field for the ES worker name and contact info.

2. Another worker has requested that the type of sanction be added into header.

Thoughts from family workers? @LaLarson @courtrightd @lpshanley

[2015-07-13 19:48] IlseFerris opened #834 "LTC- MA approval enhancement idea"
Add checkbox "is this for a paperless IR", and if so, add this verbiage to the case note header.

I can take this one.

[2015-07-13 20:05] IlseFerris opened #835 "LTC- MA approval enhancement idea"
Add checkbox "is this for a paperless IR", and if so, add this verbiage to the case note header.

I can take this one.

[2015-07-13 20:06] IlseFerris opened #837 "LTC intake approval script bug"
Updated old functions, deleted repeated info in case note #836 --pull request resolves this

Lookback period was case noting twice.  Also cleaned up dialog and functions.

[2015-07-13 20:37] #833 closed

[2015-07-13 20:37] #834 closed

[2015-07-13 20:38] #826 closed

[2015-07-14 13:09] courtrightd commented on #833
Both of these make sense and are easy enough.  This can be assigned to me if wanted, as I will be updating this script eventually anyway.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Monday, July 13, 2015 2:48 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: [DHS-MAXIS-Scripts] MFIP sanction/DWP disqualification enhancement--call for input (#833)

1.      Hennepi

[2015-07-14 16:17] IlseFerris commented on #832
@courtrightd thanks for offering to take this one!

[2015-07-14 18:46] #91 closed

[2015-07-14 18:46] #572 closed

[2015-07-15 13:23] IlseFerris opened #844 "TPQY to case note RSDI/SSI info & redacting IRS data"
Looking through old instructions I found that a version was in the works at some point.  Have we abandoned this enhancement?

“TPQY RESPONSE RECEIVED FROM SSA”
This navigates to INFC/SVES/TPQY when a TPQY response has been received. It doesn’t take any further action at this time, it simply navigates you to the TPQY response.

Note: in the past this script also case noted the information from the

[2015-07-15 14:08] courtrightd opened #845 "PAYSTUBS RECEIVED not quite working"
It hangs up after updating the retro side of the panel and seems to get stuck in a loop, no error message.  I saved the new version locally and it works perfectly when run directly or through "Agency Custom."
This may be specific to Saint Louis County, but I haven't modified the actions redirect, so not sure where issue would come from.

[2015-07-15 14:31] IlseFerris commented on #845
I tested it too, same issue updating the retro side

[2015-07-15 14:37] RobertFewins-Kalb commented on #845
Ugh! I did not have these problems in testing.

Can somebody email me the case number that was being used when this was discovered?

robert.kalb@co.anoka.mn.us

[2015-07-15 14:52] RobertFewins-Kalb commented on #845
Looking into it

[2015-07-15 15:00] RobertFewins-Kalb commented on #845
I are confused. When I copy the script and run it locally, it works just fine. When I run the script through GitHub, the script seems to be hung up on EMWriteScreen 'ing on the retro side.

[2015-07-15 15:43] theVKC commented on #845
So, I reverted the beta version to match release, meaning it no longer contains these changes. Now, only the master version has the issue.

@RobertFewins-Kalb was working on this, and I'm hoping to take a crack at it later today.

[2015-07-15 16:42] theVKC commented on #844
This was actually nixed by policy folks a bit ago, @IlseFerris... we should probably just update the reference to remove this text entirely...

[2015-07-15 16:42] #844 closed

[2015-07-15 16:45] #818 closed

[2015-07-15 16:45] IlseFerris commented on #844
Sounds like a plan to me.  Also love the "wontfix" label.  I haven't noticed it until now.

[2015-07-15 18:16] #824 closed

[2015-07-15 18:23] theVKC commented on #828
Can you define "mirror" for me, @IlseFerris?

[2015-07-15 18:32] #830 closed

[2015-07-15 18:34] theVKC commented on #831
I'm closing this because it isn't a SCRIPTS issue, per se, but a SIR issue (and is on my SIR to-do list already, but superseded by other issues).

[2015-07-15 18:34] #831 closed

[2015-07-15 18:35] theVKC commented on #832
@IlseFerris, is this no longer a call for input? If @courtrightd is doing it, I'd like to update the header and add tags.

[2015-07-15 18:35] theVKC commented on #835
Did you do this one already, @IlseFerris?

[2015-07-15 18:38] IlseFerris commented on #831
Works for me, as long I don't have to remember it any more.

[2015-07-15 18:39] theVKC commented on #831
:)

Caution: This e-mail and attached documents, if any, may contain information that is protected by state or federal law. E-mail containing private or protected information should not be sent over a public (nonsecure) Internet unless it is encrypted pursuant to DHS standards. This e-mail should be forwarded only on a strictly need-to-know basis. If you are not the intended recipient, please: (1)

[2015-07-15 18:40] IlseFerris commented on #832
Updated the header

[2015-07-15 18:41] IlseFerris commented on #835
Yep, pull requested it this morning (#843)

[2015-07-15 18:42] #835 closed

[2015-07-15 18:44] IlseFerris commented on #837
This one is pulled in, and can be closed (woot woot!)

[2015-07-15 18:48] IlseFerris commented on #828
My thought is to set up edit boxes for the categories of verificaitons (just like the verifications requested script).  That way the case note will be formatted in an easy-to-read format.  Also it might encourage workers to use the script more.  Who knows, it would be nice if they would.  In any case, I'm on it!

[2015-07-15 19:33] GayS opened #851 "New script - NOTE Good Cause New & Redetermination"
MAXIS child support good cause claim for new or redetermination case note.

[2015-07-15 19:41] theVKC opened #852 "New script idea: REIN PROGS"
A simple script that case notes details of a REIN. @devonne01 already finished it, just adding the issue for completeness' sake.

[2015-07-15 19:43] theVKC commented on #852
Pulled in with #848.

[2015-07-15 19:43] #852 closed

[2015-07-15 19:46] theVKC commented on #851
Resolved with #853. Nice work!

[2015-07-15 19:46] #851 closed

[2015-07-15 21:17] #772 closed

[2015-07-15 21:18] #774 closed

[2015-07-15 21:19] #809 closed

[2015-07-15 22:23] IlseFerris commented on #692
this one can be closed (yay!)

[2015-07-15 22:23] IlseFerris commented on #642
this one can be closed too, woo hoo!

[2015-07-15 22:25] IlseFerris commented on #541
this one can be closed too, we're on a roll!

[2015-07-16 00:58] #692 closed

[2015-07-16 00:59] #642 closed

[2015-07-16 00:59] #541 closed

[2015-07-16 14:16] Jmallen9 opened #860 "CSR Note script dialog box fields not showing unless you tab through them or hover over them with your mouse."

[2015-07-16 16:05] courtrightd commented on #779
This has been resolved and can be closed.

[2015-07-16 16:24] IlseFerris commented on #845
2 issues were reported on SIR yesterday.  @RobertFewins-Kalb, what's the status?

[2015-07-16 16:37] IlseFerris opened #862 "CRITICAL BUG---BULK ADDR script"
issue reported on SIR...
I was trying to use the BULK SCRIPT: ADDR, the instruction is to enter the X1 number of the case load, I entered my number X177201, it bring a blank spreadsheet with Titles of
Worker Number- case Number- applicant name- Address Line 1- Address Line 2 - City- State- Zip Code, but there is no information of my caseload, and the BlueZone Script Host: MSgBox show sucess!!.
Cou

[2015-07-16 17:31] IlseFerris commented on #862
Also I'm working on this

[2015-07-16 18:18] GayS opened #866 "Enhancement to NOTES - Good Cause Claimed"
I am working on adding the panel updates that are needed.

[2015-07-16 20:24] courtrightd commented on #754
This is working, wondering if there is any input on functionality before I pull request it in
If the worker checks the appropriate box, it goes to SPEC/WCOM and looks for any waiting cash/snap notices in each month from application month to CM+1.  If it finds a waiting notice for SNAP / CASH with the word "proofs" on it, it adds worker comment saying "The following verifications were not provided:

[2015-07-16 23:25] theVKC commented on #860
Hi! I'm guessing you are using the beta scripts? I am not sure which county you're with (you look like you're new here, so welcome and thank you!)

We just installed some new functionality to the notes button that could be causing this. @RobertFewins-Kalb, any ideas? Or maybe @IlseFerris, did you say you added a second dialog to it? Perhaps we've hit the six dialog limit for the CSR script? We may

[2015-07-16 23:26] theVKC commented on #832
Are you working this one, @IlseFerris? Or are you, @courtrightd?

[2015-07-17 00:44] theVKC commented on #866
Can you sum up what updates you made?

[2015-07-17 00:44] theVKC commented on #866
*or are making

[2015-07-17 00:47] #828 closed

[2015-07-17 00:50] theVKC commented on #862
Resolved by #863.

[2015-07-17 00:50] #862 closed

[2015-07-17 02:23] theVKC opened #867 "Appt letter: Houston County's address reads "Houston" instead of "Caledonia", they are curious about it"
On it

[2015-07-17 02:29] theVKC commented on #867
Update: I'm waiting on this a bit, because it might not be incorrect, as they only have one location and it is the location at Houston County (Houston location). Waiting on clarification before proceeding.

[2015-07-17 02:48] theVKC opened #868 "BULK - MA-EPD/MEDI list errors in navigating to MMIS."
navigating to MMIS... error prone because it's looking for C402, et. al, and not using the better EMSearch functionality that I believe I put into FuncLib some time ago. @RobertFewins-Kalb, can you look into this for me? If you can't find my functionality in FuncLib or possibly in my "MAXIS to MMIS" script, try looking for RECIPIENT FILE APPLICATION and using that as your function.

[2015-07-17 10:56] RobertFewins-Kalb commented on #860
I'll take this

[2015-07-17 12:54] RobertFewins-Kalb commented on #860
@Jmallen9 , could you provide more details -- case number, screenshots? NOTES - CSR only includes 2 dialogs and the NOTES MAIN MENU only builds 1...

I did find an issue with the new NOTES MAIN MENU (creating issue and submitting pull request)

[2015-07-17 12:57] RobertFewins-Kalb opened #869 "NOTES MAIN MENU -- DO/LOOP not accounting for new alpha split"
The DO/LOOP was not accounting for the new alpha split, oversight in development...

[2015-07-17 12:57] RobertFewins-Kalb commented on #869
Submitting pull request into MASTER and BETA to fix

[2015-07-17 13:16] IlseFerris commented on #860
Sorry, this wasn't me this time.  I haven't been near the CSR lately.  Good on you, @RobertFewins-Kalb, get that bug!  (Can you tell I made really strong coffee this morning?)

[2015-07-17 13:18] IlseFerris commented on #832
@courtrightd has got our back on this one.  For some reason when I posted this issue (and a few others), it duplicated the issue.  David agreed to take it on the duplicate issue I closed.  Although good time to say thanks again David!

[2015-07-17 13:19] IlseFerris commented on #832
Whoops, almost closed that one too.  Calm down Ferris!

[2015-07-17 14:17] Jmallen9 commented on #860
Attached is a screenshot of what we are seeing when using the CSR script.  The screenshot is taken of the CSR dialog box.

This is happening for all cases when accessing this Script.   Let me  know if you need any more details.

Jeremy Allen
Interim Financial Assistance Supervisor
Minnesota Prairie County Alliance
22 6 ST EAST,DEPT 401
Mantorville, MN 55955
Phone: 507-923-2937
Fax: 507-635-6186

T

[2015-07-17 14:50] RobertFewins-Kalb commented on #860
Sorry, I am not seeing a screen shot. You can email me directly...sometimes the forum is difficult.

robert.kalb@co.anoka.mn.us

[2015-07-17 16:07] GayS commented on #866
I will work on adding in the STAT ABPS updates so that the script is more than "just a" case note. :)

[2015-07-17 16:18] #869 closed

[2015-07-17 16:54] RobertFewins-Kalb commented on #845
The error still does not make sense. I will copy the script to run it from my personal repo to test.

[2015-07-17 21:22] #819 closed

[2015-07-17 21:23] #748 closed

[2015-07-17 21:23] #609 closed

[2015-07-17 21:24] #837 closed

[2015-07-20 13:38] theVKC commented on #599
Reassigned to @CJOHNS356 as he is at our hackathon and willing to take this on. Thanks Chris!

[2015-07-20 13:55] IlseFerris opened #874 "MA approved script enhancement"
Adding a 'HRF' option to the MA approval script

I will take this one.

[2015-07-20 13:58] IlseFerris opened #875 "MnSure retro case note template"
Mnsure retro processing in MAXIS.  Case note templates are in OneSource.

[2015-07-20 14:00] theVKC commented on #860
Removed critical tag. I sent a followup email with different ideas. Because the script still appears to be functioning, I think I added "critical" too quickly.

[2015-07-20 14:03] theVKC commented on #860
Also, removing help wanted tag for now, as I'm waiting on an email from @Jmallen9 before deciding next steps.

[2015-07-20 14:10] IlseFerris commented on #599
Suggested verbiage:

Although your spenddown is $xxx, your recipient (or the amount that you are responsible to pay each month) is $xxx.
This was determined using the following calculation:
Income: $xxx - MA income standard $xxx = $xxx spenddown
$xxx spenddown - $xxx variable one, - $xxx variable two, - $xxx variable three, - $xxx variable four = $xxx recipient amount.
*
You will also be responsib

[2015-07-20 17:58] RobertFewins-Kalb commented on #188
I have a working solution. #HoorayForMe

[2015-07-21 12:53] RobertFewins-Kalb opened #877 "SYNTAX ERROR FOUND ON BNDX SCRUBBER"
SSA Agreement check has syntax error on BNDX scrubber. I'm on it.

[2015-07-21 15:13] IlseFerris opened #881 "EDRS enhancement or new script -- "match found, what next?!""
Requested from SIR.  Can EDRS case note when action was performed

TE02.08.127 does NOT give information if this is something that should be case noted or not, only if there is a DISQ from another state.

@theVKC do you have any input?  Or @ruthmaloney?

[2015-07-21 15:42] asunderman commented on #881
I can tell you that currently our Office Support person does a simple case note like “EDRS checked, no match” or if there is a match, she just casenotes that there was a match and that she printed off the info and gave it to the worker.  Pretty simple.

Ann

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Tuesday, July 21, 2015 10:13 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-

[2015-07-21 16:01] ruthmaloney commented on #881
We review for this, but only call an error if there was an indication that the customer was open in another state (such as the CAF is marked, or information was given during the interview). If there was an indicator, we expect that the worker case notes the status in the other state and if there is an ABAWD that they check whether the customer has used an ABAWD months in the other state. If there

[2015-07-21 16:04] asunderman commented on #881
An action script would be GREAT!

From: ruthmaloney [mailto:notifications@github.com]
Sent: Tuesday, July 21, 2015 11:02 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Sunderman, Ann
Subject: Re: [DHS-MAXIS-Scripts] EDRS enhancement--case note that action was performed (#881)

We review for this, but only call an error if there was an indication that the customer was open in another state (such as th

[2015-07-21 19:26] #877 closed

[2015-07-21 19:37] CDPotter commented on #881
When we originally made the ACTIONS - Check EDRS script the case noting side of things was left out because it was simply too difficult to program the script to determine if any hits found were still active or if they were even related.

So for example you run the script on John Johnson and it comes up with countless hits from EDRS a script couldn't feasibly determine which of the many results act

[2015-07-22 12:54] RobertFewins-Kalb commented on #881
I agree. If there is a continued disqualification, the worker should be using NOTES - DENIED PROGRAMS for new applications and explain that the client has an eDRS match preventing them from SNAP eligibility.

[2015-07-22 13:16] RobertFewins-Kalb commented on #868
I think I just need to update the logic in the custom function to navigate to MMIS...

Instead of writing C302 or C402, it should be writing ("C3" & worker_county_code) or ("C4"  & worker_county_code) but I'm not entirely sure how to test before pulling a change...

[2015-07-22 15:03] RobertFewins-Kalb commented on #397
Just spoke with @mldietz and it looks like she has a good plan in place. We can keep the issue closed, but she is working on modifying the existing returned mail script to adjust the outcome. Details to come...

[2015-07-22 16:37] IlseFerris opened #883 "update verifs requested script to call_for_MAXIS(False)"
Currently set to true.  Maybe this should also be a larger project to replace this in other scripts, or just to simply update the function, and then update the scripts.  Thoughts @theVKC ?

[2015-07-22 18:58] RobertFewins-Kalb opened #884 "PND2 report not adding correctly...?"
An Anoka supervisor sent this screen shot asking why the BULK PND2 list gen script is not adding case counts... I can investigate...

![image](https://cloud.githubusercontent.com/assets/7842016/8832904/3c2c38a4-3071-11e5-8675-a6d38be42537.png)

[2015-07-23 14:00] IlseFerris commented on #884
I also got this from a Hennepin County supervisor:
The PND2 Bulk report is missing the totals of the cases over the 30/45 days, Colum “K” this is super helpful.  How do I get that back?

[2015-07-23 14:42] theVKC opened #885 "CRITICAL: Appointment letter address for SWMHHS is wrong"
The suite 200 should read 100. On it.

[2015-07-23 15:00] #885 closed

[2015-07-23 20:22] IlseFerris opened #895 "1503 overwriting current FACI"
I'm on this

[2015-07-23 20:28] #188 closed

[2015-07-23 20:28] #450 closed

[2015-07-24 14:08] CDPotter opened #899 "Denied programs"
A worker reported and I was able to replicate an error at 1, 1 for wrong number of arguments in "write_bullet_and_variable_in_case_note" it seems like it has something to do with the write_editbox_in_case_note redirect in funclib. Has anyone been working on this recently?

[2015-07-24 14:20] CDPotter commented on #899
@IlseFerris I know you were working on Doubtfire but have you done anything with Denied programs that's been tested but not submitted?

[2015-07-24 14:23] RobertFewins-Kalb commented on #899
It's right here...

![image](https://cloud.githubusercontent.com/assets/7842016/8876482/a377037a-31e5-11e5-91e0-9b459be511f8.png)

[2015-07-24 14:23] courtrightd commented on #899
I just pulled in an update to denied progs, and I replaced all the write_editbox_in_case_notes while I was in there, but it is just in MASTER at this point.

From: Charles P [mailto:notifications@github.com]
Sent: Friday, July 24, 2015 9:20 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] Denied programs (#899)

@IlseFerris<https://github.com/IlseFerris> I know you were wor

[2015-07-24 14:25] CDPotter commented on #899
@courtrightd I did see that, are you able to run it fine without errors? Both @mldietz and I have been unable to. If it's only on master branch that's good since it won't be widespread.

[2015-07-24 14:26] courtrightd commented on #899
I must have just missed it when testing, I’ll fix those two lines quick and submit a pull

From: Charles P [mailto:notifications@github.com]
Sent: Friday, July 24, 2015 9:26 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Denied programs (#899)

@courtrightd<https://github.com/courtrightd> I did see that, are you able to run it fine without errors? Bot

[2015-07-24 14:59] IlseFerris commented on #881
I will close this issue since there is nothing in policy that shows specifically that workers should be case noting the eDRS check when there is not a match, and denied programs should be used when closing a case for any reason. We can revisit this issue again if the policy changes.  Thanks everyone!

[2015-07-24 15:35] IlseFerris commented on #899
Nothing has been pulled yet from Operation Doubtfire.  Legit question though.

[2015-07-24 16:30] RoyStearns opened #904 "Bug-HH comp change"
When using the Household comp change script- you have to manually enter the case number and worker signature, then after you have entered all your info and press OK- it will take you back to self, put in CASE and NOTE but for some reason blanks out the case number and does not go into case notes.

[2015-07-24 16:35] khiestand commented on #875
@IlseFerris if this is just pretty much a simple case noting template script, I think I can probably tackle it!  I was on OneSource looking for the case note templates, could you point me in the right direction?

[2015-07-24 16:41] RoyStearns opened #905 "Enhancement - Fraud Info"
Had a request to make some changes to Fraud script. They asked for 2 things
1) Add "TBD" to the Overpayment line where YES and NO currently are. Sometimes they case note the fraud findings but have yet to determine an OP.
2) Move the "Findings" spot to the bottom of the case note. They copy/paste in lengthy fraud findings and since the script text box does not support "carriage returns" they are u

[2015-07-24 16:42] IlseFerris commented on #875
@Y-Lor-Y started working on this, but he had said that anyone can go and enhance it.  I will email you the information that I think is useful.  Thanks @khiestand!

[2015-07-25 00:50] theVKC commented on #899
Resolved with #900.

[2015-07-25 00:50] #899 closed

[2015-07-25 00:51] theVKC commented on #883
Well, I like the idea in some scripts, but in others I want it set to True because I want it to cancel out. A good example of this is navigation, or other scripts before the user has entered info. You can feel free to update it now if you so desire, though. :)

[2015-07-25 00:52] theVKC commented on #884
@RobertFewins-Kalb, good luck with your investigation.

[2015-07-25 01:00] theVKC commented on #904
Have you looked at the `case_number` variable? Is it called `case_number` or maybe `MAXIS_case_number`?

[2015-07-25 01:01] theVKC commented on #905
Well... the script does actually support carriage returns when entered with a semicolon. Perhaps a note explaining that would help?

In any case, any interest in doing this one @RoyStearns?

[2015-07-27 15:07] CDPotter commented on #701
Gonna close due to lack of interest for the time being.

[2015-07-27 15:07] #701 closed

[2015-07-27 15:57] CDPotter opened #908 "LTC asset assessment note"
Had a report of an error with this script. Seemed pretty minor. Worker had a section of his case note print like this(assets have been generalized):

        Assets Total:     22,575.01
*  Asset Description    Value     Owner  Cnt/Exc  Ver
* --------------------  --------- -----  -------  ---
* BANK CHECK   _____0.01   1       C      Y
* HOUSE  _13200.00   1       E      Y
*CAR  __9375.00   1

[2015-07-27 19:33] theVKC commented on #908
I believe @IlseFerris made some changes to this recently. She may have some insights. Is it happening on every case, or just occasionally?

[2015-07-27 19:34] theVKC commented on #895
@IlseFerris, did you test this issue? I'm a bit unclear of exactly what instances the problem is occurring. Any insight?

[2015-07-27 19:38] CDPotter opened #909 "BULK addr report"
Worker number is being entered incorrectly

[2015-07-27 19:39] CDPotter commented on #908
Just the once so far that's why it seems low priority to me.

[2015-07-27 20:11] IlseFerris commented on #895
Yes, I tested it, and it should be working. From what was reported, script was writing over the current FACI panel.  I updated the logic to not overwrite the current FACI panel, and also added logic in case there are already 5 FACI panels.  It msgbox's the worker instructing them to delete the appropriate FACI panel, and stops the script.

[2015-07-28 13:59] #754 closed

[2015-07-28 17:31] theVKC commented on #895
Good deal. :)

[2015-07-28 17:31] #895 closed

[2015-07-28 17:32] #909 closed

[2015-07-28 17:35] theVKC opened #911 "MFIP sanction cured: needs rename"
@khiestand: when you pulled this, you didn't include "NOTES - " at the beginning of the file name. My bad: I should have caught that. Can you rename the file for me (I want you to get the credit for the new script, if I rename it, it'll look like I wrote it)?

[2015-07-28 17:40] khiestand opened #912 "NOTE - Pregnancy Reported"
Hi,

I have written a new script this morning called "Pregnancy Reported."  This script will case note the following details:
HH Member Pregnant, Due Date, Conception Date, How the Pregnancy was reported, other comments/notes, Program/s pregnancy reported for, if MMIS was updated, and if verification request for cash was sent.
The script will also update the stat/preg panel for the member that is

[2015-07-28 17:42] theVKC commented on #912
Say, I haven't wrapped the BETA release yet! If you want this included, can you pull it in? Or will you need a bit more time? Either way, way to go @khiestand! :)

[2015-07-28 17:43] khiestand commented on #911
So you want me to re-pull it in right with the updated name?

[2015-07-28 17:45] khiestand commented on #912
@theVKC I am working on it with Robert, have a couple of things to clean up on it.  When would you need it by?

[2015-07-28 17:49] khiestand commented on #911
@theVKC I don't have the script saved locally, it is only on GitHub or on the training PC in Stearns Co.  I thought I did have the "NOTES -" on there when I look at my pull request?

[2015-07-28 17:53] RobertFewins-Kalb commented on #912
If you intend to have it ready today, please let me know so I can update the NOTES main menu

[2015-07-28 18:09] khiestand commented on #912
@RobertFewins-Kalb @theVKC
I think I have done all that I can do on it.  Might need more experienced scriptwriters to take a peek just to be sure.  If either of you think you will have time today, then great, if not, I can definitely go on the next release.  Thoughts?

[2015-07-28 18:11] RobertFewins-Kalb commented on #912
email me

I will update the main menu

[2015-07-28 18:58] RobertFewins-Kalb commented on #845
Fixed

[2015-07-28 18:59] RobertFewins-Kalb opened #914 "Error reported with CAF"
Going to look into it. Not exactly sure what happened. Something derailed on ABPS

![image](https://cloud.githubusercontent.com/assets/7842016/8940687/d45e860e-3530-11e5-9e0a-6d2eed1d62ab.png)

[2015-07-28 19:01] RobertFewins-Kalb commented on #914
Going to close this issue and reopen it in FuncLib

[2015-07-28 19:01] #914 closed

[2015-07-28 20:09] theVKC commented on #911
Doesn't look like it. All you have to do is navigate to the file in GitHub (https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/blob/master/Script%20Files/NOTES/MFIP%20SANCTION%20CURED.vbs), click the pencil icon, change the name in the name field, and submit a pull request at the bottom. That should do the trick.

[2015-07-28 20:15] theVKC commented on #911
Resolved by #916. Thanks @khiestand! #rockstar

[2015-07-28 20:15] #911 closed

[2015-07-28 20:23] IlseFerris opened #917 "LTC transfer penalty bug"
Because I was a noobs....
The cancel button doesn't actually cancel anything.  Sooo, I'm updating that, and adding some other stuff too.
This was reported on SIR.

[2015-07-28 21:35] theVKC commented on #917
When do you think it'll be finished, @IlseFerris?

[2015-07-28 21:53] IlseFerris commented on #917
I have one more thing to do.  I should have it out by tonight.

[2015-07-29 01:32] #912 closed

[2015-07-29 16:29] TRISOR commented on #884
The is_not_blank_excel_string is not being correctly evaluated and put in the formula on the Excel spreadsheet.  For example, on SNAP the formula is =COUNTIFS(E:E, ">30",F:F, ).  There is nothing after the 2nd criteria which is column F:F)

[2015-07-29 17:43] TRISOR commented on #884
I couldn't find where the "is_not_blank_excel_string" is defined but I think it should be replaced with ""<>"" or "<>".  I can't test to know which would work.  because the formula should be  =COUNTIFS(E:E, ">30",F:F,"<>" ).

[2015-07-29 17:48] CDPotter opened #921 "Notes main menu"
Notes main menu buttons do not work. After opening the notes main menu I cannot navigate between letter sections nor can I open scripts that are already displayed on #-C

[2015-07-29 17:53] RobertFewins-Kalb commented on #921
There's currently no NOTES - MAIN MENU in the BETA branch

[2015-07-29 17:59] theVKC commented on #921
It is coming

[2015-07-29 18:12] IlseFerris commented on #917
resolved with #922 pull request

[2015-07-29 18:12] #917 closed

[2015-07-29 18:13] theVKC commented on #921
Resolved when I pulled changes to BETA. I believe (at least I hope) this was only affecting scriptwriters, and only for a few minutes.

[2015-07-29 18:13] #921 closed

[2015-07-29 18:13] theVKC commented on #565
Resolved, and added to SIR. Good job, @CDPotter!

[2015-07-29 18:13] #565 closed

[2015-07-30 13:23] CDPotter opened #927 "Critical bug LTC renewal"
worker_sig variable is still in do/loop rather than newly change worker_signature

[2015-07-30 13:32] IlseFerris opened #928 "Check all cases for script_end_procedure, name_of_script & start_timer"
Found at least one case missing name and start timer.

script_end_procedure needs to be checked for all cases as well.

@theVKC, I think I said I would do the latter already.  I will take this one.

[2015-07-30 13:38] IlseFerris commented on #927
Pretty sure that was me, sorry gang!

[2015-07-30 13:51] CDPotter opened #929 "Bug LTC MA Approval"
From a worker here at Anoka:

I’ve also seen that the “LTC-MA approval” script is having issues as well.  After completing the case note I only get the following lines:

                **Approved EX-S for 07/15, $0 SISEW waiver obl**
* Income: $583.00
* Deductions: Maintenance needs allowance ($988.00). Health insurance premium
                                             ($63.30).

It doesn’t ca

[2015-07-30 14:53] #845 closed

[2015-07-30 14:55] courtrightd opened #931 "Paystubs received - not updating PIC"
Appears it is updating the date of calculation but not entering the paystub info in the PIC.

[2015-07-30 15:33] RobertFewins-Kalb commented on #931
I wonder if there's an issue with writing the PIC info using a function?

[2015-07-30 15:43] RobertFewins-Kalb commented on #931
It works just fine when I run it independent of GitHub. We were having a similar problem with the dynamic dialog building. I want to try replacing the call for PIC_paystubs_info_adder(pay_date, gross_amt, hours) with the 11 lines of code.

[2015-07-30 15:53] theVKC commented on #927
@IlseFerris, hold the phone... can you confirm this is happening in release as well? If so, @CDPotter, can you pull this fix into release? I'll pull it into beta right now after I pull the other bug fixes.

[2015-07-30 15:55] theVKC commented on #929
Nice fix, @CDPotter!

[2015-07-30 15:55] #929 closed

[2015-07-30 15:56] CDPotter commented on #927
Release still has worker_sig so it isn't an issue yet.

[2015-07-30 15:56] theVKC commented on #931
@RobertFewins-Kalb, will you have time to do this today? Otherwise, I need to pull the plug on your update again...

[2015-07-30 15:57] RobertFewins-Kalb commented on #931
I'm working on it.

[2015-07-30 15:57] theVKC commented on #931
Alternatively: want to add your function to FuncLib?

[2015-07-30 15:59] RobertFewins-Kalb commented on #931
There's no reason. It's 10 lines of code that is called once. The function made more sense before the multi-dimensional array when it was called 5 times.

[2015-07-30 16:01] theVKC commented on #931
Gotcha. Proceed boldly and with stealth.

[2015-07-30 16:02] RobertFewins-Kalb commented on #931
:)

[2015-07-30 16:02] RobertFewins-Kalb commented on #931
I have it set up to run through my personal repo. Run locally? Nope. Simulating the GitHub experience in a controlled environment.

[2015-07-30 16:14] RobertFewins-Kalb commented on #931
pull requests #935 and #936

[2015-07-30 16:58] RobertFewins-Kalb opened #940 "CRITICAL BUG -- Typo when calling LEP - EMA and Employment Verif Received scripts"
There were typos in the NOTES - MAIN MENU that were preventing the LEP - EMA and Employment Verif Received scripts from running.

I have submitted a fix to MASTER and BETA

[2015-07-30 17:01] theVKC commented on #940
Resolved with #939 and #938.

[2015-07-30 17:01] #940 closed

[2015-07-30 17:02] #931 closed

[2015-07-30 17:02] theVKC commented on #927
Bingo.

[2015-07-30 17:02] #927 closed

[2015-07-30 17:04] RobertFewins-Kalb opened #942 "Employment Verif Received has no field in the dialog for case number"

[2015-07-30 17:05] theVKC commented on #942
Are you on this? Or should I take it?

[2015-07-30 17:06] RobertFewins-Kalb commented on #942
I'll take it

[2015-07-30 17:07] theVKC commented on #942
Gotcha. Also: downgrading from critical because it's got the finder in it (you just need to start in a case). Can you pull this one into both master and BETA, because I already pulled the master change up.

[2015-07-30 17:08] RobertFewins-Kalb commented on #942
yep

[2015-07-30 17:09] theVKC commented on #942
Also, @StormageddonDLOA... this was your script, so just a friendly FYI in the future: we need a case_number editbox somewhere on the script so that way if you aren't in a MAXIS case (i.e. the SELF screen), it asks you to enter one. Still a great job for a first script, and my bad for not catching it during our training. :)

[2015-07-30 17:52] CDPotter opened #943 "Enhancment BULK ADDR report"
It was suggested that we add a field for mailing addresses as well. I'm on it.

[2015-07-30 19:49] theVKC commented on #942
Resolved with #946. @RobertFewins-Kalb, can you pull into BETA as well for testing?

[2015-07-30 19:51] RobertFewins-Kalb commented on #942
Yes'um

[2015-07-30 19:52] StormageddonDLOA commented on #942
Thanks for the heads up!
On Jul 30, 2015 12:09 PM, "Veronica Kahl Cary" <notifications@github.com>
wrote:

[2015-07-30 21:18] theVKC commented on #942
Resolved with #946 and #947.

[2015-07-30 21:18] #942 closed

[2015-07-30 21:19] theVKC commented on #943
This is complete, but I'm waiting until after Monday's script release to send this through to beta/master.

[2015-07-30 21:42] theVKC commented on #390
@CDPotter has resolved this one, and saved it in a public gist (https://gist.github.com/CDPotter/48bd69e099e20ed5bfcb). Nice work!

[2015-07-30 21:42] #390 closed

[2015-07-30 21:43] theVKC commented on #391
@CDPotter has resolved this one as well, and saved it in a public gist (https://gist.github.com/CDPotter/48bd69e099e20ed5bfcb). Nice work!

[2015-07-31 13:31] CDPotter opened #948 "Bills updater bug"
We had a worker using the bills updater and reported to us that a few times she used it recently and has gotten a message box error stating "Enter a valid command or pf key". It looks like recently a function got added to the script. Robert and I are thinking that this function might not work the best. It calls for a variable named reference which isn't getting used in the script therefore would b

[2015-07-31 13:33] RobertFewins-Kalb commented on #948
I took the function out of Krabappel whenever I could. It doesn't work well. Here's an example of the error message box...

![image](https://cloud.githubusercontent.com/assets/7842016/9008296/d7e1f6e6-375e-11e5-8fee-597404c376c1.png)

[2015-07-31 13:36] RobertFewins-Kalb commented on #948
My recommendation is that we strike create_panel_if_nonexistent from the record. I apologize for merging it from Krabappel.

[2015-07-31 13:43] RobertFewins-Kalb commented on #948
Example of the problem...

![image](https://cloud.githubusercontent.com/assets/7842016/9008474/3ce57ab2-3760-11e5-8476-537442fe6755.png)

[2015-07-31 14:29] CDPotter commented on #904
I'll look into it.

[2015-07-31 14:31] CDPotter commented on #905
I will take this. To sum up we want an combo box on the overpayment line so people can add what they need, and then something to inform people how to format carriage returns on a editbox?

[2015-07-31 14:59] IlseFerris commented on #948
I can take this, I should be free this afternoon to work on it.

[2015-07-31 14:59] theVKC commented on #948
@IlseFerris, I believe you chose to add this function to BILS buddy...

[2015-07-31 15:00] IlseFerris commented on #948
Did you not see my response 7 seconds before your comment?  Sheesh....
LOL!

[2015-07-31 15:00] theVKC commented on #948
Look at us GitHub-ing at the same time. :)

[2015-07-31 15:01] RobertFewins-Kalb commented on #948
Kids, you need to stop fighting or I will stop this car!

[2015-07-31 15:06] IlseFerris commented on #948
GitHub as a verb...I can get behind that!  GitHub also should be like a social media site so I can like comments.  @RobertFewins-Kalb and @theVKC, consider you comments 'liked' by me.

Back to business...should we update this function then?

[2015-07-31 15:07] RobertFewins-Kalb commented on #948
@IlseFerris  don't you mean, The Github?

[2015-07-31 15:09] IlseFerris commented on #948
LIKE!!!!

[2015-07-31 15:18] CDPotter commented on #948
We think the easiest thing would be to remove it from this script and maybe scour others for it? It would be a big huge if/else mess to try to program for basically each panel.

[2015-07-31 15:44] theVKC commented on #948
My vote: remove it from existence.

[2015-07-31 15:56] RobertFewins-Kalb commented on #948
I second that

[2015-07-31 16:02] theVKC commented on #905
Agreed. And thank you!

[2015-07-31 16:04] #904 closed

[2015-07-31 16:13] IlseFerris commented on #948
I have added it to my list of functions to remove.  Thanks all!

[2015-07-31 18:22] CDPotter opened #952 "GRH DOC amount Enhancement"
It was requested that we include the GRH DOC amount off of the FACI panel in the GRH/LTC List Gen. I am on it.

[2015-07-31 19:56] CDPotter opened #953 "Expedited screening enhancement"
It was suggested that maybe instead of failing if the worker runs the script on an out of county case(since you can't case note) or invalid case number that the expedited results appear in a message box sort of like a calculator.

The new start_a_blank_case_note function will infinitely loop is someone is unable to edit a case.

Thoughts?

[2015-07-31 20:39] GayS opened #954 "New function idea: change numeric date into text date for letters"
idea for letters to clients - create function that will convert numeric date to text date.  ie:  7/30/15 would read "July 30, 2015", or 7/15 = "July 2015"

[2015-07-31 21:12] IlseFerris opened #955 "SNAP CASE REVIEW enhancement"
asked to add MFIP information such as;

MFIP case review complete & app'd for 08/15 of $804 MFIP grant
MFIP Cash - $108, MFIP Food - $596, Housing Grant - $110
MFIP case has been reviewed, and the budget and issuance is correct.

[2015-07-31 21:20] IlseFerris opened #956 "BULK case transfer in MAXIS"
I was approached by a Hennepin County supervisor requesting a BULK case transfer script that can do the following:
1.  Allow the user to select certain criteria within the cases (post 60 month MFIP cases, immigration codes, sanction cases, etc)
2. Allow the user to select one or multiple users to transfer the cases to, and vice versa.
3. Create an Excel report of the cases transferred.

[2015-07-31 22:00] RobertFewins-Kalb commented on #956
Oo oo oo gimme gimme gimme!

Sent from my iPhone

On Jul 31, 2015, at 4:20 PM, Ilse Ferris <notifications@github.com<mailto:notifications@github.com>> wrote:

I was approached by a Hennepin County supervisor requesting a BULK case transfer script that can do the following:
1. Allow the user to select certain criteria within the cases (post 60 month MFIP cases, immigration codes, sanction cases, et

[2015-08-01 00:42] RobertFewins-Kalb commented on #954
If you use MonthName(x) where "x" is a number from 1 through 12

Sent from my iPhone

On Jul 31, 2015, at 3:39 PM, Gay Sikkink <notifications@github.com<mailto:notifications@github.com>> wrote:

idea for letters to clients - create function that will convert numeric date to text date. ie: 7/30/15 would read "July 30, 2015", or 7/15 = "July 2015"

-
Reply to this email directly or view it on GitHub

[2015-08-01 14:21] RobertFewins-Kalb commented on #956
Or... Monday Hackathon...?

[2015-08-03 12:03] ruthmaloney commented on #955
I like it!

Ruth Maloney

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Friday, July 31, 2015 4:12 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] SNAP CASE REVIEW enhancement (#955)

asked to add MFIP information such as;

~MFIP case review complete & app'd for 08/15 of $804 MFIP grant~

  *   MFIP Cash - $108, MFIP Food - $596, Housing Grant - $110

* MFIP case h

[2015-08-03 12:04] ruthmaloney commented on #956
Wish I would have had this when I was a supervisor. LOVE the idea!

Ruth Maloney

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Friday, July 31, 2015 4:20 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] BULK case transfer in MAXIS (#956)

I was approached by a Hennepin County supervisor requesting a BULK case transfer script that can do the following:
1. Allow the

[2015-08-03 13:24] GayS commented on #954
great - this can be closed out then.  - thanks

[2015-08-03 16:16] IlseFerris opened #957 "'informed client of recert period' checkbox added to CAF"

[2015-08-03 16:24] #954 closed

[2015-08-03 20:28] khiestand commented on #875
@Y-Lor-Y , do you need any help with this?  I looked at it and I think it looks great!

[2015-08-04 13:36] #943 closed

[2015-08-04 13:45] Y-Lor-Y commented on #875
I thought Robert found a functionality or something within the script that is causing this to not work as intended?  I tested it initially and it was able to case note.  Based on the idea from Ilse, it was going to be doing more than just case noting?  At least that was the thought I got when I first read the idea behind this script project, since I ran out of time I thought I put this up for othe

[2015-08-04 13:51] Y-Lor-Y commented on #875
Here's what Robert noted:

•  object spacing in the dialog
 •The TIKL check is not connected to logic to TIKL

[2015-08-04 13:56] khiestand commented on #875
@Y-Lor-Y , I think I actually know how to fix these things!  I will work on it!

[2015-08-04 14:05] theVKC commented on #875
I removed the source file from GitHub so as not to interfere with plans we have to dynamically create dialog files. If either of you require @Y-Lor-Y's file, I can email you a copy. :)

@Y-Lor-Y, because you changed your GitHub account name, you didn't get credit for your original contribution. :/ I may ask you to submit it again, but only after @khiestand is ready to install her fixes. So, we'll

[2015-08-04 14:09] Y-Lor-Y commented on #875
Thank you, All.

[2015-08-04 14:10] jasont35 opened #960 "LTC-Spousal Allocation FIATer script Issue"
Some of the Income Types on STAT/UNEA don't match the Income Types in ELIG/HC in the Spousal Allocation Gross Unearned Income section.

Example: If STAT/UNEA has Income Type 17 Other Retirement and the spousal allocation FIATer script is ran the ELIG/HC Spousal Allocationn Gross Unearned Income section Income Type 17 is not Other Retirement, it is FC child Requesting FS.

[2015-08-04 14:14] khiestand commented on #875
@theVKC , I think I do need the file again.  Will you send it to me?

[2015-08-04 14:25] IlseFerris commented on #960
Thanks for reporting this.  I have started mapping this out a bit, and will take the issue. @theVKC, go ahead and assign this to me.

[2015-08-04 16:33] RoyStearns opened #961 "MNSure memo enhancement"
![img1](https://cloud.githubusercontent.com/assets/10159949/9066226/f0a57f5a-3a9b-11e5-9d22-c49410798888.png)
When doing a memo for Maxis to apply in Mnsure the script is only looking at the top location for a waiting memo (07, 071). So in this case if you are in any footer month other than 9/1/15 it will fail and say that there is no waiting wcom because the location 07, 071 is populated w PRINTE

[2015-08-04 16:46] RoyStearns commented on #905
Thanks Charles. With our current workload I never seem to have time to get out here unless I am passing along a suggestion. :(

I think the reason that they were asking about moving the "findings" to the bottom is they will get a fraud finding emailed to them that is 3 pages long and it does not copy/paste in well and to get it to show up they would have to semicolon each line (which they are not

[2015-08-04 17:51] devonne01 commented on #957
Do you just want a check box added to the CAF that says that? If so, I can probably tackle that one. If it's more detailed let me know.. LOL

[2015-08-04 17:52] IlseFerris commented on #957
That's the gist of it.

[2015-08-04 17:52] IlseFerris commented on #957
Thanks @devonne01!

[2015-08-04 17:53] devonne01 commented on #957
Ok, I think I can handle that. ☺ Let’s hope anyways.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Tuesday, August 04, 2015 12:53 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Devonne R. Kent
Subject: Re: [DHS-MAXIS-Scripts] 'informed client of recert period' checkbox added to CAF (#957)

That's the gist of it.

—
Reply to this email directly or view it on GitHub<https://github.com/MN-S

[2015-08-04 21:05] IlseFerris commented on #955
I'll take this one @theVKC

[2015-08-04 21:06] IlseFerris commented on #928
Just as an FYI...this is done, I will be resolving it at the same time as Operation Doubtfire

[2015-08-04 21:08] IlseFerris opened #962 "FSET sanction MEMO for closed SNAP cases"
Hennepin County worker requested "Is there a way to develop a script that would send a sanction notice for cases where the client failed to attend orientation but the case has since closed?
in this instance we need to impose the sanction if the client reapplies, say they failed to attend during the time the case was open."

@ruthmaloney can you shed some light on this request?  Is this kosher?

[2015-08-04 22:36] theVKC commented on #953
If you want to make the change(s), be my guest. :)

[2015-08-04 22:38] theVKC commented on #956
Actually, this ties in to a thing I wanted to do in FuncLib. @RobertFewins-Kalb, would you mind if I took this one? If you already started I can let it slide.

[2015-08-04 22:40] theVKC commented on #957
You got it, @devonne01! I believe the last dialog has room to grow. If you run into problems in Dialog Editor, let me know!

[2015-08-04 22:40] theVKC commented on #960
You got it.

[2015-08-04 22:42] theVKC commented on #961
Why am I thinking @CDPotter did something on this?

[2015-08-04 22:44] #798 closed

[2015-08-05 04:31] theVKC commented on #533
@RobertFewins-Kalb, was this done? Why is this open?

[2015-08-05 13:35] RobertFewins-Kalb commented on #533
It is done. RE: Why it is open -- I have no idea. Shut it down.

[2015-08-05 13:37] RobertFewins-Kalb commented on #956
Take away. I haven't started this.

[2015-08-05 16:34] theVKC opened #963 "Critical enhancement for FSET memo: update Pine County E&T address"
They have moved recently, and require this to be updated. I'm on it.

[2015-08-05 16:36] IlseFerris commented on #963
Send me the address, and I'll update the spreadsheet too.

[2015-08-05 16:41] #963 closed

[2015-08-05 16:46] theVKC commented on #963
I BCC'd you on the response, @IlseFerris. :)

[2015-08-05 21:40] CDPotter commented on #961
I did indeed build a WCOM-er for MAGI renewal notices/case notes then @RobertFewins-Kalb and I beefed it up to become a WCOM-er menu for other HC scenarios searching for the correct waiting note. We can submit it for testing/review if you'd like?

[2015-08-05 22:14] theVKC commented on #961
Two things:

1. If your script you built isn't live statewide, we should go to there and get it live. :)
2. This is an enhancement to a much earlier script which predates your work, I believe. Care to enhance this script to include your great work?

[2015-08-06 19:17] CDPotter opened #970 "MA-EPD fiater bug"
When a job in the 2nd or 3rd spot of the jobs panel exists but may have ended it isn't replacing the _ with "" like it does for the first one. thus creating a script error. I am on the fix.

[2015-08-06 19:50] CDPotter commented on #961
1. Ok I will submit a folder with our current builds in there. We are a little unsure about what is still valid wording and what isn't.

2. Well the way out WCOM script works is you enter a case number, approval month, and worker signature. Then it asks what type of WCOM do you want to print. It then brings up HH memb dialog and you can select if you need the WCOM on  multiple people's notices. Th

[2015-08-06 20:30] IlseFerris opened #973 "SNAP SUBMITTED CASE FOR SNAP REVIEW"
Request from Henn Co workers for a companion case note to the SNAP CASE REVIEW.  HSR's have requested a case note template to use when submitting cases to be reviewed.

[2015-08-07 03:03] RobertFewins-Kalb opened #975 "NEW SCRIPT IDEA >>> BULK script for identifying panel update date on key panels"
New script idea emerged today -- a BULK script that allows the user to select specific caseloads, identify specific panels to check, and a time period criteria to check.

The time period criteria would be something like...
* Identify panels that have been updated within the past 30 days.
* Identify panels that have been updated within the past 6 months (180 days).
* Identify panels that are active

[2015-08-07 03:04] RobertFewins-Kalb commented on #975
What luck! @CDPotter  and I have begun work on just such a script!!

[2015-08-07 13:11] IlseFerris commented on #975
Your timing is impeccable then :)

[2015-08-07 14:18] Y-Lor-Y commented on #868
If you can give me access to the script, I can test it for you.  I have MA-EPD cases that I can run this through to see if it's functioning.

[2015-08-07 14:55] IlseFerris commented on #566
Custom functions and VBscript commands quicklist now on SIR.  The rest of the documentation to follow.

[2015-08-07 15:11] CDPotter commented on #961
Ok while looking through our WCOM menu I found that many of the scripts were outdated and related to the MAGI income policies of last fall. As such there is really only one script we'd like to salvage and bring statewide and thats the MA-EPD no initial premium paid wcomer. According to POLI/TEMP TE 04/02 page 7 there is specific verbiage that goes into denying someone for no initial premium page.

[2015-08-07 19:15] RobertFewins-Kalb commented on #868
I'll submit a fix today. The script is in GitHub, in with the BULK scripts...

[2015-08-07 19:24] Y-Lor-Y commented on #868
Ah, found it.  I was looking for BULK - MA-EPD, but it's under BULK - FINDING MA-EPD.

[2015-08-07 19:24] RobertFewins-Kalb commented on #868
As it happens, there's an issue with the MAXIS to MMIS and MMIS to MAXIS navigation functions...

I'm thinking about having the script just run in one window. Thoughts...?

[2015-08-07 19:29] IlseFerris commented on #714
I took care of this today.  Can you help walk me through merging my version with the most current version of this?

[2015-08-07 19:32] Y-Lor-Y commented on #868
I'm fine with that.  I'm not sure about other counties, but here at RC, worker has about 2 screens, so depending on the worker preferences, they may have it on the other screen/session from their production Maxis screen.  If we're to do that, maybe a text message informing them to open it on the same window/session would be good, too?  What you think?

[2015-08-07 19:33] RobertFewins-Kalb commented on #868
I think I have found the solution. Methinks the script was trying to navigate back to MAXIS too quickly. I think an EMWaitReady has fixed the problem. Testing the solution.

[2015-08-07 19:41] Y-Lor-Y commented on #868
Let me know if you need me to run it after you've made the changes.

[2015-08-07 20:15] RobertFewins-Kalb commented on #868
You will need to run this as you normally would, first executing the text in your global variables file, then executing the FuncLib, then executing the script (because of the variable "worker_county_code")...

https://raw.githubusercontent.com/RobertFewins-Kalb/DHS-MAXIS-Scripts/patch-28/Script%20Files/BULK/BULK%20-%20FIND%20MAEPD%20MEDI%20CEI.vbs

[2015-08-07 20:16] RobertFewins-Kalb commented on #868
Fix submitted #979

[2015-08-07 21:17] Y-Lor-Y commented on #868
My understanding is, at the end result I'm suppose to end up with a list of clients & cases that are eligible for reimbursement status.  The script itself ran fine, but I have no list.  It kept deleting the listing as it goes through them after it went from MMIS back to MAXIS, and as MAXIS runs each cases from the spreadsheet, it deleted/removed the case/client. I did not see it jotting down the r

[2015-08-07 21:18] RobertFewins-Kalb commented on #868
You don't have any clients on MA-EPD eligible for Medicare Part B reimbursement...

[2015-08-07 21:18] RobertFewins-Kalb commented on #868
It's supposed to be deleting records that are not relevant.

[2015-08-07 21:21] Y-Lor-Y commented on #868
Thanks for the clarification on function.

[2015-08-10 13:32] IlseFerris opened #981 "POLI/TEMP NAV bug"
If you select "INDEX OF TOPICS", script navigates you to POIL/TEMP - INDEX
If you select "TABLE OF CONTENTS", script navigates you to POLI/TEMP - INDEX

[2015-08-10 14:04] Farleight commented on #975
Done right, that actually could be a tool for workers to help verify mass changes went through properly (since, ya' know... they usually don't)... just sayin'.

[2015-08-10 22:07] #905 closed

[2015-08-10 22:10] #952 closed

[2015-08-10 22:13] #970 closed

[2015-08-10 22:16] #955 closed

[2015-08-10 22:23] #973 closed

[2015-08-10 22:28] #948 closed

[2015-08-10 22:34] theVKC commented on #961
@CDPotter, can you create a new issue around your WCOM script before you resubmit it?

[2015-08-10 22:35] #961 closed

[2015-08-10 22:39] #868 closed

[2015-08-10 22:43] #874 closed

[2015-08-10 22:45] #960 closed

[2015-08-11 15:42] khiestand opened #987 "Incarceration Notes Script"
I have an incarceration case noting script that I am working on.  Can you assign this issue to me?  Thanks!  Hoping to pull it in this week sometime.  Will case note details of incarceration and update STAT/FACI if necessary.

[2015-08-11 17:46] theVKC commented on #987
Love it! Woot!

[2015-08-11 17:47] theVKC commented on #981
Do you want it?

[2015-08-11 17:48] theVKC commented on #975
I assigned @CDPotter. If it's a joint effort, please try and cross-pull from a central branch, so as to assign credit to both of you. It may not be important to you, but it is to me and my superiors. :)

[2015-08-11 17:52] IlseFerris commented on #981
I can take it, unless one of the newer scriptwriters wants to take a crack at it.

[2015-08-11 20:44] IlseFerris opened #990 "Aitkin County address provided, SNAP E & T MEMO needs updating"
Done and done

[2015-08-12 13:14] CDPotter opened #991 "MA-EPD WCOM script"
I am uploading a script that will add POLI temp specific verbiage for no initial MA-EPD premium paid.

POLI/TEMP TE 04/02 page 7 this script enters that verbiage.

[2015-08-12 15:39] CDPotter opened #993 "CSES dail scubber not calculating right?"
I had a question about how the CSES dail scrubber calculates within the realm. After decoding it it looks like something must not be getting pulled through where it needs to be.

According to the worker her PIC was incorrect and she had to correct it. (case is privileged so I can't view it.)
Jun – was $709 and corrected to $756
Jul – was $756 and corrected to  $807
Aug – was $756 and corrected to

[2015-08-12 16:49] IlseFerris opened #994 "FuncLib enchancement for autofilling SWRK panel"
call autofill_editbox_from_MAXIS(HH_member_array, "SWKR", SWKR) does not exist.  Would be nice if it did.

[2015-08-12 20:35] IlseFerris opened #995 "Remove call create_panel_if_nonexistent from scripts"
Also remove from custom functions and FuncLib

[2015-08-13 18:35] courtrightd opened #997 "New script - NOTES - ES REFERRAL"
A case note template for use when referring someone to employment services. Includes fancy database - populated dropdowns for counties using the ES Database.  Currently in the project TPS REPORTS folder, I need to update for non-database counties and then move to main folder.

[2015-08-13 19:06] courtrightd opened #998 "NOTES - status update / employment plan broken"
actions / other notes fields appear to have issues in the dialog.  I'm on it

[2015-08-13 19:52] courtrightd commented on #998
Pull requested the fix.

[2015-08-13 19:52] #998 closed

[2015-08-13 21:38] CDPotter opened #1001 "Enhancment"
It was suggested at a monthly meeting that maybe in an effort to have people checking their notices a message box that contained the recently approved notice could pop up is someone runs an approved/denied/closed script.

This seemed a bit too much for me but maybe on that thought we could have scripts navigate to spec/wcom at the end of the scripts? We already have a message box reminding people

[2015-08-13 21:42] ruthmaloney commented on #1001
It does seem excessive… Although, we have a lot of errors surrounding notices.

Ruth Maloney

From: Charles P [mailto:notifications@github.com]
Sent: Thursday, August 13, 2015 4:39 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Subject: [DHS-MAXIS-Scripts] Enhancment (#1001)

It was suggested at a monthly meeting that maybe in an effort to have people checking their

[2015-08-14 04:14] MelissaFox-Stearns commented on #993
I work with CS Dails quite a bit and use this scrubber a lot.
Is she talking about the HC popup? because I'm pretty sure the scrubber doesn't update the FS PIC.
The only time its updating, that I can tell, is when the case is MFIP or there is a HC Review due for that month. In these situations it updates the retro and prospective sides (and maybe the HC popup?).

What would actually be SUPER helpf

[2015-08-14 15:19] theVKC commented on #993
FYI: CSES script _DOES NOT_ code the SNAP PIC. At all. EVER. If the worker updated it they did this on their own, which is what they are supposed to do. SNAP "within the realm" in the script is defined as 10% higher than the highest amount on PIC, and 10% lower than the lowest. Anything within that is "within the realm" (which I calculated using statistics on manual updates of the PIC a few years

[2015-08-14 15:21] #990 closed

[2015-08-14 15:25] theVKC commented on #994
Do you want to build this? Also, wrong repo. Can you re-enter in BZS-FuncLib?

[2015-08-14 15:25] #994 closed

[2015-08-14 15:26] theVKC commented on #995
Is this for you to take?

[2015-08-14 15:27] theVKC commented on #997
"non-database counties" :(

#IWishWeCouldGiveEveryoneTheTools

I presume you're taking this one. :)

[2015-08-14 15:27] IlseFerris commented on #995
yeppers

[2015-08-14 15:32] theVKC commented on #1001
What does "could pop up" mean? A MsgBox? A "navigate to recent notice"? I would think that auto-navigating EVERY SINGLE TIME could be excessive, and a system strain that may not be helpful. But, it could be helpful as an _option_.

[2015-08-14 15:36] IlseFerris commented on #994
Yep and yep

[2015-08-14 15:36] CDPotter commented on #1001
The idea was suggested that the notice's text be displayed in a message box. (naturally this would get complicated trying to find the right notice and for multiple programs and people)

I do like your idea of maybe adding a nav button on approved/denied/closed for spec/wcom?

[2015-08-14 15:43] courtrightd commented on #998
This was resolved with #1000

[2015-08-14 15:44] theVKC opened #1002 "CSR script: time to split into two dialogs"
I had a video-chat with MNPrairie today and confirmed that they are having issues viewing the CSR dialog. When I investigated it, they are using Windows 8.1 x64 Enterprise, instead of the Windows 7 x64 Enterprise that this has normally been tested on.

I tried it on my Windows 10 build, and that loaded just fine, but still... I think we need to concede defeat on the "spooky 65" issue, and just spl

[2015-08-14 15:46] CDPotter commented on #993
That's what I had started to decipher from the code. I guess the claim is that the CSES amount was $381 for 2 kids and the highest pic amount was 756 and lowest 709. The sup who reported this said the worker has been getting messages that the CS is within the range (I'm guessing they mean the case notes) so somehow they are getting:

IF 381>=638 and 381<=831.6 then true (within realm)

Could just

[2015-08-14 15:48] CDPotter commented on #1002
Just to add on to this two workers here are reporting the tabbing thing with the CAF script.

Off the top of my head I'm blanking on other scripts that use it...

[2015-08-14 16:45] courtrightd opened #1004 "BILS updater bug - not updating BILS"
Script appears to simply stop after entering new bills in the dialog and pressing ok.  Pretty sure I found the issue (panel not staying in edit mode), working on fix.

[2015-08-14 17:33] theVKC commented on #1004
Didn't we fix that? @IlseFerris?

[2015-08-14 17:34] CDPotter commented on #1004
Kirsten reported that issue this week as well. I hadn't had a chance to dig in quite yet.

[2015-08-14 17:35] theVKC commented on #1004
@IlseFerris, could this have anything at all to do with that issue you found yesterday with the order of the MAXIS_background_check being incorrect?

[2015-08-14 17:37] IlseFerris commented on #1004
This very well could be. I pulled in an updated version of the BILS Updater in with Op Doubtfire

[2015-08-14 17:38] theVKC commented on #1004
Hmmm. This is a critical bug. Can you pull the version out of Doubtfire and pull request separately?

[2015-08-14 17:40] IlseFerris commented on #1004
I'm on it!

[2015-08-14 17:44] theVKC commented on #1004
@courtrightd, can you hold off until Ilse pulls her work in?

[2015-08-14 17:54] courtrightd commented on #1004
Yep – I will wait.  The issue does seem to be from the second CHECK For MAXIS,  I have a temp fix working here by just adding a PF9 before it starts the loops to edit the panel.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, August 14, 2015 12:45 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] BILS updater bug - not updating

[2015-08-14 17:57] IlseFerris commented on #1004
I pulled it into all 3 branches.  The issue I had yesterday in testing was the MAXIS_background_check prior to STAT/BUDG.  I moved it, and no issues since.

[2015-08-14 19:27] IlseFerris opened #1008 "LTC MA approval bug"
if  case is S or B budget it is not case noting the header.  Also not navigating to the correct footer month.

[2015-08-14 20:48] #1004 closed

[2015-08-17 00:44] #875 closed

[2015-08-17 00:45] #1008 closed

[2015-08-17 16:04] IlseFerris opened #1016 "HCAPP script: "update MMIS" checkbox does not case note that MMIS was updated"
I can take a look at this as it was reported by Hennepin County

[2015-08-18 14:33] MelissaFox-Stearns opened #1017 "Cost Effective Script"
How about a script for all things CEHI? It could case note a determination (Approved, Denied or Pending verifications) and if a client is in Non-Coop. We had a macro for this in Stearns Co before scripts came out so I have some ideas of what type of fields it would cover.
Is this something that would be used for others? Any thoughts?

[2015-08-18 16:48] Farleight opened #1018 "Bulk Rept-Revs error"
The Cash coordinates are incorrect, causing Excel to error out on the Cash checks. Ln 206, Col 5 is coded as 35, but should be 34. I could probably handle this fix if somebody wants to talk me through this pull request/edit/post/etc nonsense that I've never had to deal with before.

[2015-08-18 16:51] Farleight commented on #1018
Actually, reviewing this, the issue may not be isolated to Rept - Revs.

[2015-08-18 16:56] courtrightd commented on #1018
It appears to me that the cash status is at col 35.  Is it always showing at 34 on yours?  If that is the case we will need a fix that reads  2 digits and then replace(cash_status, “ “, “”) or something.

From: Travis Farleigh [mailto:notifications@github.com]
Sent: Tuesday, August 18, 2015 11:51 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] Bulk Rept-Revs error (#1018)

[2015-08-18 16:59] Farleight commented on #1018
Oh, good... Yeah, it definitely shows 34 here.

[2015-08-18 18:41] IlseFerris opened #1019 "10/15 HEST changes"
New amounts will be
$454 Heat/AC
$141 electric
$38 phone (no change to phone)

scripts that will be affected by this change will be the NOTES - EXPEDITED SCREENING, ACTIONS - LTC SPOUSAL ALLOCATION.

Can anyone think of other scripts that need to be updated?

[2015-08-19 11:57] theVKC opened #1020 "REPT search needs better instructions on script wiki"
@CDPotter, looks like this was originally yours. Most of the instructions functionality is included in the image of the MsgBox: we need something more tangible in the actual instructions Wiki itself.

If @CDPotter isn't interested: anyone want to be the hero?

[2015-08-19 11:59] theVKC commented on #1017
I like it. We have a case noter in BULK scripts, but I don't recall that it's comprehensive as you're describing. Any idea if your idea has more ideas than my idea had?

Also: do you want this one?

[2015-08-19 12:00] theVKC commented on #1018
So... is this an issue or not? Shall I close it up?

[2015-08-19 12:19] theVKC opened #1021 "Update SIR Instructions links in MAIN MENU scripts"
I'll try and push this one through later today.

[2015-08-19 12:52] CDPotter opened #1022 "Odd error when running scripts"
So I've had two different workers report the same error on different scripts at different times. When they try to run a script they get this error. Happened Monday on the client conact, and Tuesday on check EDRS, CAF, and Approved progs

![2015-08-19 07_51_16-inbox - charles potter co anoka mn us - outlook](https://cloud.githubusercontent.com/assets/7841989/9356554/22113dd4-4647-11e5-9740-6725d5ea

[2015-08-19 13:03] IlseFerris commented on #1022
I had a worker report one of these yesterday too.  Only had one report, and thought it was a fluke or internal issue.  No other reports since.  They got it running the NOTES -SNAP CASE REVIEW script.

[2015-08-19 13:07] courtrightd commented on #1022
Is this possibly related to script_end_procedure trying to update the database and hitting a permission error or something weird?

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Wednesday, August 19, 2015 8:03 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] Odd error when running scripts (#1022)

I had a worker report one of these yesterday too. Only had one rep

[2015-08-19 13:18] CDPotter commented on #1022
Sounds like the error does happen after the script runs through so that would be script_end_procedure

[2015-08-19 13:31] Farleight commented on #1018
Well, it's an issue in Carlton, but if we're the only ones, I'll just update them for agency-use.

[2015-08-19 14:30] IlseFerris opened #1023 "'Script instructions' button needs the new script WIKI link"
Now that the long awaited script wiki is back up (it's epic, thank you @theVKC ), we need to update the link that brings us there.

ACTIONS: https://www.dhssir.cty.dhs.state.mn.us/MAXIS/blzn/Script%20Instructions%20Wiki/Actions%20scripts.aspx
BULK: https://www.dhssir.cty.dhs.state.mn.us/MAXIS/blzn/Script%20Instructions%20Wiki/Bulk%20scripts.aspx
DAIL scrubber:
https://www.dhssir.cty.dhs.state.mn.u

[2015-08-19 15:23] CDPotter commented on #1020
Can do!

[2015-08-19 15:49] CDPotter commented on #1020
And it has been beefed up!

[2015-08-19 15:54] CDPotter opened #1024 "enhancment suggestion docs rec'd"
A worker suggested that in the is this LTC or not message box could we make the No button the defaultly selected button instead of the yes? Save on keystrokes and mousing for a majority of workers who don't to LTC.

I GTS'd it and found that "vbYesNoCancel Or vbDefaultButton2" (2 being the No) will change to focus of it.

What are peoples thoughts on this?

[2015-08-19 19:58] MelissaFox-Stearns commented on #1017
Maybe this is something specific to Stearns. We have a seperate department that determines CE and mails the reimbursement checks etc and they do not case note in Maxis. The financial workers here refer a case to that department to determine CE eligibility. The CE worker then lets the financial worker know the determination, if there are verifications needed (OHI cards, CEHI forms, etc), and if the

[2015-08-19 20:08] #928 closed

[2015-08-19 20:09] #883 closed

[2015-08-19 20:11] theVKC commented on #769
Resolved by #1003.

[2015-08-19 20:11] #769 closed

[2015-08-19 20:13] theVKC commented on #550
Not quite resolved, new issues will be created.

[2015-08-19 20:13] #550 closed

[2015-08-19 20:14] theVKC commented on #549
New issues will be created around any stragglers.

[2015-08-19 20:14] #549 closed

[2015-08-19 20:15] theVKC commented on #548
Resolved by #1003, save for the fickle five (scripts that need additional updating and will have separate issues).

[2015-08-19 20:15] #548 closed

[2015-08-19 20:16] theVKC commented on #547
Resolved by #1003, save for the fickle five (scripts that need additional updating and will have separate issues).

[2015-08-19 20:16] #547 closed

[2015-08-19 20:16] theVKC commented on #546
Resolved by #1003, save for the fickle five (scripts that need additional updating and will have separate issues).

[2015-08-19 20:16] #546 closed

[2015-08-19 20:16] theVKC commented on #545
Resolved by #1003, save for the fickle five (scripts that need additional updating and will have separate issues).

[2015-08-19 20:16] #545 closed

[2015-08-19 20:17] #576 closed

[2015-08-19 20:18] theVKC commented on #576
Closing this issue because any remaining issues with burial assets should have their own issue numbers by now.

[2015-08-19 20:18] theVKC commented on #534
Resolved by #1003, save for the fickle five (scripts that need additional updating and will have separate issues).

[2015-08-19 20:18] #534 closed

[2015-08-19 20:32] IlseFerris opened #1025 "Burial asset script: overwriting over itself with the the removal of new_line function"
@CDPotter are you still willing to look at this?

[2015-08-19 20:34] theVKC commented on #995
Per @IlseFerris, 1503 and 5181 are scripts that are affected.

[2015-08-19 20:39] theVKC commented on #294
Hey @courtrightd!

Would you be interested in building a new CSES DAIL Scrubber? I got about 1/3 of the way done and DHS keeps happening. There's lots of opportunity for improvement and also glory. The project name was "Project Brooklyn". I don't remember why I named it that, I think I was lazy.

[2015-08-19 20:39] CDPotter commented on #1025
If it needs to happen quickly probably not. I will be away Thursday and Friday.

[2015-08-19 20:44] theVKC commented on #432
@CDPotter, @RobertFewins-Kalb, @ramonalisa1, @RoyStearns, @farleight, any inkling about if this is done, or if it can be done? I know @ramonalisa1 hasn't had a lot of time for scripts recently...

[2015-08-19 20:44] courtrightd commented on #294
I think you tagged me on this before and I ignored it.  ☺  Actually I would love to take this on, though I can’t make any timeline promises I will try to get it done soonish.  I’m only in it for the glory.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, August 19, 2015 3:39 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] DA

[2015-08-19 20:46] theVKC commented on #471
@RobertFewins-Kalb, did you do this????

[2015-08-19 20:46] #533 closed

[2015-08-19 20:47] theVKC commented on #561
@IlseFerris/@RoyStearns, do either of you know if the new function resolved this?

[2015-08-19 20:48] #566 closed

[2015-08-19 20:51] theVKC commented on #632
@RobertFewins-Kalb, I believe you finished this. Can you confirm? My SIR access is weird today.

[2015-08-19 20:52] theVKC commented on #694
@IlseFerris doesn't have loads of time for this at the moment. Any takers?

[2015-08-19 20:55] theVKC commented on #658
@courtrightd, bump. Is this coming along at all?

[2015-08-19 20:58] courtrightd commented on #658
Haven’t started it.  Per the discussion it isn’t going to do anything other than case note the dail, as there is a different PEPR for MEMB Turned 18 check grad date or something like that.  If someone else wants it they can have it.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, August 19, 2015 3:56 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject:

[2015-08-19 21:01] theVKC commented on #707
@IlseFerris has volunteered to take this on.

[2015-08-20 17:14] theVKC opened #1026 "appt letter: Add new address for Lake-Of-The-Woods county"
206 8th Ave SE, Suite 200, Baudette, MN 56623. On it.

[2015-08-21 14:57] RobertFewins-Kalb opened #1027 "BUG -- NOTES - Approved Progs"
Approved Progs is not writing the approval version number in the correct coordinates. It should be writing it at 20, 79 but it appears to be writing it on 20, 80. I will do some digging.

This is causing the script to fail on an MSA case.

[2015-08-21 16:03] IlseFerris commented on #1024
Sounds like a good idea to me.  Thanks for GTS'ing that so I didn't have to!

[2015-08-21 16:48] IlseFerris opened #1028 "HCAPP update: old functions to replaced, DO LOOP to be less convoluted"
One of the furious five that needs updating.  Here are the older functions that need to be removed from the scripts (these may or may not be in the script)

1. FuncLib block needs updating:
IF default_directory = "C:\DHS-MAXIS-Scripts\Script Files\" OR default_directory = "" THEN
instead of
IF default_directory = "C:\DHS-MAXIS-Scripts\Script Files\"
2. Functions to be replaced
a. write_TIKL (Call

[2015-08-21 16:49] IlseFerris opened #1029 "CAF update: old functions to replaced, DO LOOP to be less convoluted"
One of the furious five that needs updating.  Here are the older functions that need to be removed from the scripts (these may or may not be in the script)

1. FuncLib block needs updating:
IF default_directory = "C:\DHS-MAXIS-Scripts\Script Files\" OR default_directory = "" THEN
instead of
IF default_directory = "C:\DHS-MAXIS-Scripts\Script Files\"
2. Functions to be replaced
a. write_TIKL (Call

[2015-08-21 16:50] IlseFerris opened #1030 "5181 update: old functions to replaced, DO LOOP to be less convoluted"
One of the furious five that needs updating.  Here are the older functions that need to be removed from the scripts (these may or may not be in the script)

1. FuncLib block needs updating:
IF default_directory = "C:\DHS-MAXIS-Scripts\Script Files\" OR default_directory = "" THEN
instead of
IF default_directory = "C:\DHS-MAXIS-Scripts\Script Files\"
2. Functions to be replaced
a. write_TIKL (Call

[2015-08-21 16:51] IlseFerris opened #1031 "Transfer case update: old functions to replaced, DO LOOP to be less convoluted"
One of the furious five that needs updating.  Here are the older functions that need to be removed from the scripts (these may or may not be in the script)

1. FuncLib block needs updating:
IF default_directory = "C:\DHS-MAXIS-Scripts\Script Files\" OR default_directory = "" THEN
instead of
IF default_directory = "C:\DHS-MAXIS-Scripts\Script Files\"
2. Functions to be replaced
a. write_TIKL (Call

[2015-08-21 16:52] IlseFerris commented on #1025
Here's the other stuff that we're checking for---
One of the furious five that needs updating.  Here are the older functions that need to be removed from the scripts (these may or may not be in the script)

1. FuncLib block needs updating:
IF default_directory = "C:\DHS-MAXIS-Scripts\Script Files\" OR default_directory = "" THEN
instead of
IF default_directory = "C:\DHS-MAXIS-Scripts\Script Files\

[2015-08-21 18:07] RobertFewins-Kalb opened #1032 "Krabappel -- PARE must be written before ABPS"
Running Krabappel on a case with an ABPS requires that PARE be run first as the function to write the the child information on ABPS is taken from PARE.

[2015-08-21 20:12] RobertFewins-Kalb commented on #1027
For whatever reason, it looks like the field to change approval versions in ELIG/MSA and ELIG/GA is not at 20, 79 BUT is now at 20, 78.

I have a fix ready for submission.

[2015-08-24 12:27] IlseFerris opened #1036 "Change report form rec'd enhancement: call for input"
Just thinking about things and stuff this morning...

Should we have this case note template be updated to be used if a change is reported or if a CRF is rec'd.  Other option could be a check box added to the client contact script that if checked, the header would have "CHANGE REPORTED" in it.

Thoughts?

[2015-08-24 14:12] CDPotter commented on #1025
Are there any situations in which it writes over itself for sure? I just ran it with everything I could fill in and it worked great on training 211707

[2015-08-24 14:42] IlseFerris commented on #1025
It appears it happens in situations which all fields are not complete, which is most cases.  I just ran this again on 217751,. Cash advance items was overwritten by cash advanced items.  Burial space/burial space items are not there either and 2 were entered.

[2015-08-24 15:13] MelissaFox-Stearns commented on #1036
I think thats a great idea. It could be used when client reports a change over the phone, in person,  in writing , or with the CRF. The script could ask if there's verification or if it was requested.
I was also wondering if the type of change could be included in the header if the worker enteres something in its respective field. Example: if a worker enters information in the Jobs field, the head

[2015-08-24 16:18] IlseFerris opened #1037 "SNAP E & T letter manual address issue"
There was a missing IF in the conditional statement for the manual addr input dialog.

[2015-08-24 16:19] IlseFerris commented on #1037
#1038 pull request

[2015-08-24 16:22] IlseFerris commented on #1036
Heck yes it could! Do you want to take this one?

[2015-08-24 16:34] MelissaFox-Stearns commented on #1036
Sure! I'd love to :)

[2015-08-24 16:37] CDPotter commented on #1025
Weird... I keep trying different things and I can't seem to replicate it... you're running the one from Master? I've tried both one saved to my desktop and one running through the powerpad off of BETA

[2015-08-24 16:47] MelissaFox-Stearns opened #1039 "DWP Budget case note script- Script Error"
Got an error on this one this morning: Script Error at Line1, Column 1: Type mismatch: 'personal_needs'
I didn't put in a hhld number but it still tried to calculate the personal needs amount. The script should be updated with a safeguard for people like me (hehe). Could either make the personal needs hhld member a mandatory field - or - only do the calculation if a number is entered in this field

[2015-08-24 18:15] IlseFerris commented on #1036
@theVKC, you heard the gal :)

[2015-08-24 18:28] IlseFerris opened #1040 "Call for input: EXP SNAP question"
A member of my team asked this question:
I know this may not be possible, but we need to know when approving Expedited SNAP if the client is in actual possession of an EBT card.
The reason is, the funds should not be REId if they have to order a card to replace a lost one.
REIing costs more money as I understand, but I’m not sure if we want to add another step to the scripts, or if we can.
Here's

[2015-08-24 18:37] IlseFerris opened #1041 "CSR enhancement"
A member of my team today brought this up: Per CM, anyone who is not homeless, or a migrant or elderly/disabled needs a CSR. Example: GA clients need CSR for SNAP, but are IR exempt for HC.
*
SNAP units with earned, unearned, or no income who do NOT meet any of the criteria below are Six-Month Reporters:
●	Units in which all members are homeless. See HOMELESS in 0002.29 (Glossary: Gross RSDI...).

[2015-08-24 19:21] CDPotter commented on #1041
Would we really need to be case noting this? There isn't any work to process for an exempt SNAP CSR while for the HC one there is an approval to be done/noted about.

[2015-08-24 19:37] khiestand opened #1042 "CAF enhancement - how app was rec'd option"
A FW suggested adding "emailed" as a drop down option in the "How was application received?" drop down.

[2015-08-24 20:17] ALJ10 commented on #908
I rec'd notice from a financial worker that this script is doing that every time she uses the Asset Assessment script. Thought I'd mention that in case it is still on someone's "to do" list.  I will just have the worker remove the duplicate assets as an interim solution. Thank you!

[2015-08-24 20:40] CDPotter commented on #432
So this is across the BULk - REPT ACTV list through REVW list? I should be able to get that squared away today if nothing comes up.

[2015-08-25 14:45] IlseFerris commented on #1041
If someone is exempt from SNAP and HC, then yes, we should just used the 'cleared it' case note. But if someone is exempt from HC IR and is not exempt from SNAP, then the question is should they have the option to select that in the script.  Otherwise the other option is that we could put in a group box instructing/warning the worker that if the exempt IR checkbox is checked, that the 'cleared it'

[2015-08-26 13:18] ALJ10 opened #1045 "Closed Programs ~ Listing wrong date for "case becomes intake again on ...""
Per a few financial workers here:
Script: Closed Programs

I selected Cash but changed it to GA/GRH

The case note:

---Closed GA/GRH 8/31/2015---
 * Reason for closure: Client failed to file for other benefits SSI/RSDI,
                       GA/GRH closed for 09/15.
 ---
 * Last cash REIN date: 8/31/2015, after which a new CAF is required.
 * All programs closed. Case becomes intake again on 10/

[2015-08-26 18:33] CDPotter commented on #1041
Ah ok I totally misunderstood! (I forget that other counties don't have the paperless script) So in this situation they get the CSR and process both the SNAP CSR and the paperless IR and they shouldn't need to run the script twice to get the paperless IR clearing note.

I think the CSR is currently glutted with objects otherwise I'd suggest just adding a checkbox for it.

Maybe we could rework it

[2015-08-26 18:49] IlseFerris commented on #1041
That is exactly what I'm thinking ;D

Also we need to get the paperless IR out to the whole group soon.  Stupid red tape.

[2015-08-26 20:49] CDPotter commented on #1040
At least here at Anoka we have OSA's run the expedited screening script and I don't think we want them trying to determine the client's EBT card status.

I hadn't heard that it costs more to REI. I knew that it could cause issues if say you REI'd for someone who could have had their card issued in office in that they have to wait for the new card to be shipped. (learned this lesson early on!)

I'd

[2015-08-27 19:53] courtrightd commented on #773
This is coming along nicely, but I would like it to add language to the notice.  Per DHS 4412, "include comment on notice that household only needs to contact the agency to decline FS benefits"  I assume this would go on the SNAP approval notice and not the MFIP closure?  Any official wording to be used?
@theVKC  @ruthmaloney

[2015-08-27 23:33] IlseFerris commented on #1040
Yeah, I don't want to mess with the CAF unless we are doing a full CAF redux.  I put something together in the EXP screening script. Here’s how the script differs from the original:
If the client appears expedited, the script will go to the MONY/DISB screen and reads the MAXIS screen to see if the client has an EBT account open or not.

If the code is “N” then the following verbiage has been added

[2015-08-31 12:47] ruthmaloney commented on #773
I understand it to be that the comment goes on the SNAP eligibility notice and wording could be as simple as “If you would like to decline food benefits, please contact our office.”

Ruth Maloney

From: David Courtright [mailto:notifications@github.com]
Sent: Thursday, August 27, 2015 2:53 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Maloney, Ruth S (DHS) <Rut

[2015-08-31 14:02] CDPotter commented on #1045
Currently there is no code in the state supported script that would write "GA/GRH" into the case note, so either the agency is running custom code, or someone adjusted the case note to say that. If the script code has been manually modified then it would need to be adjusted by the agency that modified it, or a fix that would apply across all agencies submitted to github.

Typically for GA/GRH agen

[2015-08-31 17:24] theVKC commented on #73
Reassigned issue to @IlseFerris as Hennepin has some interest.

[2015-08-31 17:31] theVKC commented on #432
I believe the latter is to what we are referring. Do you think that's do-able?

[2015-08-31 17:55] theVKC commented on #658
Removing issue, there is no time at present to develop this.

[2015-08-31 17:55] #658 closed

[2015-08-31 17:56] theVKC commented on #694
Removed due to lack of interest.

[2015-08-31 17:57] #714 closed

[2015-08-31 17:58] theVKC commented on #749
@courtrightd, did you work on this?

[2015-08-31 18:01] courtrightd commented on #749
No, I guess I was waiting for policy clarification?  You can close it for now since we don't know if it is legit.

[2015-08-31 18:04] #779 closed

[2015-08-31 18:05] theVKC commented on #832
@courtrightd, any word on this one?

[2015-08-31 18:06] theVKC commented on #860
This is resolved by #1002's fix.

[2015-08-31 18:06] #860 closed

[2015-08-31 18:07] theVKC commented on #866
@GayS, can you give me an update on this one?

[2015-08-31 18:07] courtrightd commented on #832
Will be coming soon (next week?) This is in a group of family cash scripts that I am currently polishing / testing to utilize the new database function.

[2015-08-31 18:08] #867 closed

[2015-08-31 18:08] CDPotter commented on #432
That should be pretty doable. I'm finishing up some work for a report here at Anoka and I should be able to look at it this afternoon or Wednesday.

[2015-08-31 18:09] RobertFewins-Kalb commented on #432
@CDPotter  I am working on a PDED script that will include this information

[2015-08-31 18:10] CDPotter commented on #432
Ah well fantastic, take it away Mr Solo!

[2015-08-31 18:16] theVKC commented on #908
@IlseFerris is on this one. Thank you!

[2015-08-31 18:17] #953 closed

[2015-08-31 18:21] theVKC commented on #957
@devonne01, any update on this?

[2015-08-31 18:21] theVKC commented on #962
Can I bump this a bit? @IlseFerris, @ruthmaloney?

[2015-08-31 18:24] #975 closed

[2015-08-31 18:27] theVKC commented on #987
@khiestand, can you update me on this?

[2015-08-31 18:28] #991 closed

[2015-08-31 18:29] theVKC commented on #993
Assigned this to @courtrightd only to make you aware. Closing the issue as I'm not convinced it's an issue.

[2015-08-31 18:29] #993 closed

[2015-08-31 18:30] theVKC commented on #997
@courtrightd can I get an update?

[2015-08-31 18:30] theVKC commented on #1001
Closing due to lack of interest.

[2015-08-31 18:30] #1001 closed

[2015-08-31 18:31] IlseFerris commented on #997
@courtrightd do you make an ES referral upon approval?  If so, could we add this to the approved programs scripts?

[2015-08-31 18:31] courtrightd commented on #997
Almost ready to rock, in the same bunch that should be out next week.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Monday, August 31, 2015 1:30 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] New script - NOTES - ES REFERRAL (#997)

@courtrightd<https://github.com/courtrightd> can I get an update?

—
Reply to this email directly or

[2015-08-31 18:31] GayS commented on #866
Hi – this is still on my “to do” list.

[2015-08-31 18:32] theVKC commented on #1018
We could do a "if county = you then do something different", and that could make it work in the long term... I'd prefer to go that route. Are you in, @Farleight?

[2015-08-31 18:34] courtrightd commented on #997
ES referral is on approval with MFIP, but must be done before approval with DWP, so it makes sense to be standalone.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Monday, August 31, 2015 1:31 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] New script - NOTES - ES REFERRAL (#997)

@courtrightd<https://github.com/courtrightd> do you make an

[2015-08-31 18:36] theVKC commented on #1019
@IlseFerris has this.

[2015-08-31 18:36] khiestand commented on #987
@theVKC, working on this this afternoon!

[2015-08-31 18:37] #1020 closed

[2015-08-31 18:38] theVKC commented on #1022
Consider backing up your database and refreshing it with a blank table. Closing.

[2015-08-31 18:39] #1022 closed

[2015-08-31 18:40] #1023 closed

[2015-08-31 18:43] Farleight commented on #1018
I am. We got swamped with pesky college kids here, and it may be a bit before I can jump on it, but I'm happy to try it out.

[2015-08-31 18:47] theVKC commented on #1024
Can you do it, @CDPotter?

[2015-08-31 18:49] CDPotter commented on #1024
Absolutely.

[2015-08-31 18:52] theVKC commented on #1025
@IlseFerris, can you confirm this is still happening?

[2015-08-31 19:05] #1032 closed

[2015-08-31 19:13] #1037 closed

[2015-08-31 19:13] theVKC commented on #1039
Do you want it, @MelissaFox-Stearns?

[2015-08-31 19:25] #1040 closed

[2015-08-31 19:26] theVKC commented on #1041
I don't know that this policy as described above is correct. @ruthmaloney, care to weigh in?

[2015-08-31 19:30] #1042 closed

[2015-08-31 19:35] theVKC commented on #1045
@ALJ10, I'm tagging this as "won't fix" because your users manually modified the selection. If you'd like to ask that functionality be included to separate GA/GRH logic from the rest of the cash logic, we can do that, but it's a separate issue, really. Does that make sense? Closing this one because the user manually intervened after-the-fact.

[2015-08-31 19:35] #1045 closed

[2015-08-31 19:50] #1024 closed

[2015-08-31 19:51] ruthmaloney commented on #1041
It looks correct to me.

[2015-08-31 20:02] theVKC commented on #471
Resolved with #1050. Go @RobertFewins-Kalb!

[2015-08-31 20:02] #471 closed

[2015-09-01 02:26] IlseFerris commented on #1025
This is still happening in MASTER and RELEASE branches.  The services portion seem to be overwritten, and the rest seems fine.

[2015-09-01 13:28] devonne01 commented on #957
HI Veronica

I was out yesterday with a horrible MIGRAINE. I have been attempting to work on it inbetween things I haven’t done it for a couple weeks and was hoping to work on it at the hackathon that was cancelled. When I first started working on it I was having issues with the dialogue editor and even had Kelly come in here and sit with me to see if there was something wrong I was doing but we c

[2015-09-01 19:56] IlseFerris opened #1055 "SNAP E & T letter/WREG panel enhancement"
Request from Hennepin County:

We are revising the E & T referral process.  A couple of people working on this with me have asked if we can get the script to fill in the orientation date, rather than give the popup at the end that tells hsr to fill in the date on STAT/WREG.  Would this be possible?

I can take this, unless some other awesome scriptwriter wants to take it.

[2015-09-02 13:29] courtrightd opened #1056 "ACTIONS - CS DISREGARD FIAT would be nice to have now for 10/15 benefits"

[2015-09-02 17:41] MelissaFox-Stearns commented on #1039
I'll take it for sure!

[2015-09-02 20:18] CDPotter commented on #1056
It looks like it should be usable. Shame Maxis couldn't get updated in the 3 month delay.

[2015-09-02 20:44] theVKC commented on #1056
Anyone feel up to adding it back to the dialog? @RobertFewins-Kalb

[2015-09-02 20:46] CDPotter commented on #1056
Adding it to the ACTIONS menu? I can do that tonight. Do we need new instructions as well?

[2015-09-02 20:50] StormageddonDLOA opened #1058 "EVF received enhancements"
It was asked that we add a spot for the clients name that the EVF is for and the name of the empoyer. It was also asked if we could have the script set a TIKL if we fax it to an employer.

[2015-09-02 20:50] StormageddonDLOA commented on #1058
I got this.

[2015-09-02 21:31] CDPotter commented on #1056
Note we tested it once on one case here at Anoka. training case 226398

[2015-09-03 16:27] courtrightd opened #1062 "Enhancement request for NOMI"
It has been requested to add an optional field to the NOMI dialog / note called "Attempts to contact client:" so that the worker can document call attempts, etc.  If there are no objections, it can be assigned to me.

[2015-09-03 19:21] CDPotter opened #1063 "Enhancment MOF adding a last exam date field."
Been running this a few times and noticed that this might be a helpful field. I'll get on it.

[2015-09-04 15:29] CDPotter commented on #993
@MelissaFox-Stearns @courtrightd A mentor at our county suggested that whomever is working on this rework the way within the realm is decided. They fear that the a 0 might be entered into the PIC thus making the lower part of the range 0. She suggested that the range be 10% below and above the average of whatever is in the PIC.

[2015-09-04 17:26] MelissaFox-Stearns commented on #993
Some workers here at Stearns enter 0 on the PIC for one or more of the 3 months to get an average when a payment was skipped one month but then the client received a large amount in the next month. I've noticed we get quite a bit "Process Manually" messages when running the scrubber which could be the result of the script reading the 0 on the pic when determining within the realm.
Reading from the

[2015-09-04 17:46] RobertFewins-Kalb opened #1067 "KRABAPPEL -- Information on ELIG/FS is not where we left it..."
I have been hitting problems approving ELIG/FS. It appears that the approval pop ups within ELIG/FS are not where they were when Krabappel was created.

I have been working on a fix to replace EMReadScreens with more complex EMSearches to verify the script's location within ELIG/FS.

#ContinuousImprovement

[2015-09-05 17:47] #1019 closed

[2015-09-05 17:54] #1039 closed

[2015-09-05 18:02] #1056 closed

[2015-09-05 18:05] #1055 closed

[2015-09-09 21:46] IlseFerris commented on #294
I had a Hennepin county worker ask if we could have the DAIL scrubber deleted CS DAIL messages if the case is HC only.  I said that this is likely to not be kosher, but wanted to at least pose the question again.  Thanks!!

[2015-09-10 04:06] ALJ10 commented on #1045
Understandable! Here's the response I rec'd from the supervisor: I am reading this as they are not clear that the case becomes intake date should be 09/01/15 not 10/01/15, however CDPotter stated that most agencies hold the case for a month before transferring to CLS  so it sounds as though they have the wording that way because of that. I would be interested to know if they could enhance the scri

[2015-09-10 17:03] theVKC commented on #1045
Unfortunately this sort of additional checkbox may go against policy for non GA/GRH cash cases, and the script at present does not (as I recall) contain logic to flesh those out. So, folks could inadvertently use it in the wrong case (MFIP for instance) and cause headaches.

I think I mentioned this above, but if GA/GRH logic were separated out, I could clarify the preferred policy with DHS folks

[2015-09-10 17:05] theVKC commented on #1062
Good luck!

[2015-09-10 17:22] theVKC commented on #73
Closing issue. DHS is not currently capable of providing support for the so-called "paperless" script.

[2015-09-10 17:22] #73 closed

[2015-09-10 21:52] RobertFewins-Kalb commented on #884
Found it! Thank you, @TRISOR !!

[2015-09-11 13:55] RobertFewins-Kalb commented on #1027
This issue has been resolved. Closing.

[2015-09-11 13:55] #1027 closed

[2015-09-11 18:19] RobertFewins-Kalb opened #1079 "CRITICAL BUG -- syntax issue we haven't noticed before"
When the script is trying to work its way through MFIP results, there was a syntax problem that strangely has not surfaced before.

![image](https://cloud.githubusercontent.com/assets/7842016/9822728/9f40a36a-5887-11e5-8f95-105e4988bbd9.png)

Submitting a fix

[2015-09-11 20:02] IlseFerris opened #1083 "Project Mic Drop: add reviews cap"
Add max reviews cap functionality that limits the amount of cases per caseload that can be run.  This will only be applied through the testing period.

[2015-09-11 20:04] IlseFerris opened #1084 "Project Mic Drop: add multiple user functionality"
Currently, and during the testing phase, only one worker number or team number will be run at a time.  This will only be applied through the testing period to avoid a catastrophe(s).

[2015-09-14 14:10] theVKC commented on #294
Reassigned to @MelissaFox-Stearns! Good luck!

[2015-09-14 14:11] theVKC commented on #375
Reassigned to @MelissaFox-Stearns! Good luck!

[2015-09-14 14:12] theVKC commented on #407
@CDPotter now has our backs on this one.

[2015-09-14 14:13] theVKC commented on #432
Reassigned to @RobertFewins-Kalb. Status update would be welcome. :P

[2015-09-14 14:13] RobertFewins-Kalb commented on #432
BULK - PDED includes this information.

[2015-09-14 14:14] theVKC commented on #568
Reassigned to @MelissaFox-Stearns! Good luck!

[2015-09-14 14:14] RobertFewins-Kalb commented on #432
Correction, BULK - PDED LIST GEN reports the following information...

![image](https://cloud.githubusercontent.com/assets/7842016/9851908/0fe5ff76-5ac1-11e5-8194-c55b47db9244.png)

[2015-09-14 14:17] RobertFewins-Kalb commented on #432
If something's worth doing, it's worth over-doing :)

[2015-09-14 14:17] theVKC commented on #608
@C-Love has volunteered to take this one on. Booyah!

[2015-09-14 14:19] theVKC commented on #632
@RobertFewins-Kalb, status?

[2015-09-14 14:24] RobertFewins-Kalb commented on #632
No update. Not done. <frowny face>

[2015-09-14 14:24] RobertFewins-Kalb commented on #632
frowny face

[2015-09-14 14:46] #749 closed

[2015-09-14 14:51] theVKC commented on #773
@courtrightd can I bump this? How we doin'?

[2015-09-14 14:52] theVKC commented on #866
@GayS, I know you have soooooo much time, but wondering if I can get an update?

[2015-09-14 14:53] courtrightd commented on #773
This is really close to done, I’ve just been slammed with my normal job duties.  Coming very soon.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Monday, September 14, 2015 9:51 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] MFIP transitioning to SNAP case note (#773)

@courtrightd<https://github.com/courtrightd> can I bump this? Ho

[2015-09-14 14:55] theVKC commented on #962
Per @IlseFerris , shutting it down.

[2015-09-14 14:55] #962 closed

[2015-09-14 14:57] theVKC commented on #997
@courtrightd, can I bump this topic? How you doin'?

[2015-09-14 14:59] #1016 closed

[2015-09-14 15:03] theVKC commented on #1018
I cannot assign this to you, but... I will assign to me and when you submit it, you become someone who I can assign future issues to, so yay. :P

[2015-09-14 15:03] theVKC commented on #1018
So in other words, you do the work but it stays in my number here to prevent others from starting it.

[2015-09-14 15:06] courtrightd commented on #997
Same response as the last – I’m working on it.   I’ll try to get a script day this week.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Monday, September 14, 2015 9:58 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] New script - NOTES - ES REFERRAL (#997)

@courtrightd<https://github.com/courtrightd>, can I bump this topic? How you d

[2015-09-14 15:13] #1063 closed

[2015-09-14 16:09] #1021 closed

[2015-09-14 16:43] IlseFerris commented on #1025
Closing the issue. Since we are unable to recreate the issue, and no one else is reporting this we are closing.  Will open if this becomes an issue.

[2015-09-14 16:43] #1025 closed

[2015-09-14 16:47] CDPotter commented on #1025
@IlseFerris and I have decided to close the issue for now as we cannot track down what is causing it. It seems fairly localized and only 2 uses of the burial asset script have occured at Hennepin in 08/15. Please close issue

[2015-09-14 17:35] GayS commented on #866
If you want to close this you can.  The script works as a case note, we want to take it to the next level but it isn’t a priority at the moment. ☺

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Monday, September 14, 2015 9:52 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Sikkink, Gay
Subject: Re: [DHS-MAXIS-Scripts] Enhancement to NOTES - Good Cause Claimed (#866)

@GayS<https://g

[2015-09-14 18:09] Y-Lor-Y commented on #981
I've updated the script with drop list rather than radio.  I've tested it and it works to navigate to TEMP/INDEX and TEMP/TABLE.

[2015-09-14 19:28] theVKC commented on #866
Will close for now. We can reopen it at any time.

[2015-09-14 19:28] #866 closed

[2015-09-14 19:28] #1079 closed

[2015-09-14 19:40] GayS commented on #866
Thanks!

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Monday, September 14, 2015 2:28 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Sikkink, Gay
Subject: Re: [DHS-MAXIS-Scripts] Enhancement to NOTES - Good Cause Claimed (#866)

Will close for now. We can reopen it at any time.

—
Reply to this email directly or view it on GitHub<https://github.com/MN-Script-Team/DHS-MAXIS-Scripts

[2015-09-14 20:28] #832 closed

[2015-09-14 20:31] #884 closed

[2015-09-14 20:33] #1041 closed

[2015-09-14 20:33] #1067 closed

[2015-09-14 20:38] #1029 closed

[2015-09-14 20:39] #1028 closed

[2015-09-14 20:45] #1031 closed

[2015-09-14 20:47] #1030 closed

[2015-09-14 20:49] #407 closed

[2015-09-15 03:57] IlseFerris opened #1096 "BULK SNAP case approval for HEST changes"
Got a request from a Hennepin County worker to see if we can develop a BULK script for HEST changes for 10/15.  I want to say something like this was developed back in ANOKA WAAAAAYYYYY back in the day, but I'm not quite sure.  I would have been in Adult 2 still, so you know how long ago that was @theVKC

EXAMPLE DAIL MESSAGE: INFO 10 15 SNAP MASS CHANGE NOT AUTO-APPROVED

[2015-09-15 14:16] GayS opened #1097 "NOTES - HC Renewal & HCAPP footer month"
Staff are reporting that the case note scripts for HC Renewal & HCAPP  have stopped pulling in the footer month at the start of the script.

[2015-09-15 19:50] courtrightd opened #1099 "NOTES - MAIN MENU is out of space."
I went to add MFIP to SNAP transition note, and the M-Z menu is full at current size.  Do we want the whole main menu expanded?  Do we want to add a submenu to further break down the alphabet?  A button for MFIP scripts like the document noting button?  Other thoughts?

[2015-09-16 18:11] CDPotter commented on #1099
I would vote for cutting it into M-P and R-Z. They will be a little sparse but at least less cluttered?

[2015-09-16 20:07] courtrightd opened #1100 "CS Disregard FIATer bug"
Currently has an issue with PARE panels with members out of order, I have the fix, stand by for pull request.

[2015-09-16 20:49] CDPotter commented on #1097
I can confirm I've had this issue here at Anoka as well (both MASTER and BETA branches). Strangely I was looking at the code for the HCAPP and when run through bluezone directly it filled in the month.

[2015-09-16 21:56] CDPotter commented on #1097
So been doing a little testing this afternoon here are my results.

code in CDP branch is identical to DHS MASTER

Open notes on Power pad->NOTES beta & master-> hcapp = won't fill footer_month
play button-> hcapp(from master) on desktop = fills footer_month
play button -> redirect pointing to hcapp on CDP branch = fills footer_month
play button -> redirect pointing to notes menu on cdp branch ->

[2015-09-17 12:51] CDPotter commented on #1096
What would the bulk script do?

[2015-09-17 13:41] GayS commented on #1097
that is really weird - do you know if the footer_month autofill ever worked from the master branch?  Can the file/code be copied/pasted from an earlier version?

[2015-09-17 13:47] CDPotter commented on #1097
It seemed to be working last month as I recall. I did find this frustrating in testing this morning. When I define footer_month as "10" the line before the do it seems to work. I've asked Robert to take a peak at it since maybe I've been looking at it too long I'm missing something.

![hcapp](https://cloud.githubusercontent.com/assets/7841989/9934709/9a4b47ee-5d18-11e5-8f4b-a0b7f3ba0ea2.png)

[2015-09-17 13:55] GayS commented on #1097
Thanks for tackling this one!

From: Charles P [mailto:notifications@github.com]
Sent: Thursday, September 17, 2015 8:47 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Sikkink, Gay
Subject: Re: [DHS-MAXIS-Scripts] NOTES - HC Renewal & HCAPP footer month (#1097)

It seemed to be working last month as I recall. I did find this frustrating in testing this morning. When I define footer_month as "10" the

[2015-09-17 13:57] RoyStearns commented on #1097
Since I have no allotted script time I will make this short and sweet- I wonder if this is related to the fix on issue 561?

[2015-09-18 11:03] IlseFerris opened #1105 "SNAP E & T letter bug: users can schedule a past date"
Yep, that's an issue.

But hey look, it's been fixed #1104 pull request!

[2015-09-18 11:20] IlseFerris commented on #1096
Ideally APP SNAP cases for 10/15 for the mass change, but I don't think this is kosher.

[2015-09-18 13:04] CDPotter commented on #1096
Definitely not, as far as I'm aware scripts cannot ever APP. The only bulking of changes that we've ever done was case noting/deleting if no action was needed. The COLA script works on this principle.

https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/blob/master/Script%20Files/BULK/BULK%20-%20COLA%20AUTO%20APPROVED%20DAIL%20NOTER.vbs

[2015-09-18 15:25] courtrightd opened #1106 "CS Disregard FIAT issue with big households"
Does not return to the top screen of FMSL when switching members - I have a fix, pull coming.

[2015-09-18 20:21] CDPotter opened #1107 "Krabappel issue."
The ever hiding/moving REI approval boxes brought up another issue with our loop. We simplified it to only emsearch for (y/n) and tab a Y and transmit until it finds the "Package " from package approved. Basically mashing y and transmit until it's done approving. Fix incoming.

[2015-09-18 21:09] CDPotter opened #1109 "MASTER CSR bugs: Do...loop logic and double quotes issue"
Anyone on MASTER branch unable to open CSR?

[2015-09-18 21:23] CDPotter commented on #1109
Looks like one of the new text fields had Quotes in it and didn't have the double quotes EX
"This is the example ""Example text"" this is the end of sentence". It also looks like at some point the if statement around the check FS elig info was removed? The checkbox never gets used anywhere else. Should we revert this one or should I readd the IF logic and correct the Quote issue?

[2015-09-22 15:17] courtrightd commented on #1099
Working on the M-P / R-Z split now, unless someone objects.

[2015-09-22 16:24] IlseFerris commented on #881
OK, I'm going to reopen this.  How about a case note template similar to that of the CIT/ID where we can case note the eDRS action on HH members?  This has come up again at my county.

[2015-09-22 16:38] theVKC commented on #773
@courtrightd is amazing. Thank you!

[2015-09-22 16:47] theVKC commented on #1109
Is this happening for anyone else while working in MASTER branch? @RobertFewins-Kalb, @IlseFerris, @mldietz, @courtrightd?

Also, friendly reminder: bugs that are just in MASTER are NOT critical, because they only affect scriptwriters.

[2015-09-22 16:52] theVKC opened #1110 "Thoroughly test Krabappel, then release it and move on with our lives"
Any takers? Training case creator, anyone?

[2015-09-22 16:53] RobertFewins-Kalb commented on #1109
Whoa!

![image](https://cloud.githubusercontent.com/assets/7842016/10025173/8224acc6-6120-11e5-8d6d-f3a36aa5e616.png)

[2015-09-22 16:57] theVKC commented on #1109
Not sure what I'm looking at. Could this tie in to #1002? If so, @RobertFewins-Kalb, could you do the honor of splitting this into two dialogs, possibly with dynamic content? I'd want a fix to come out before tomorrow-ish.

[2015-09-22 16:58] theVKC commented on #1096
Not kosher. Closing.

[2015-09-22 16:59] #1096 closed

[2015-09-22 16:59] mldietz commented on #1109
I can't open the CSR script at all.  I get an error msg.  Charles looked at what I was getting last week and said he would look into it.

[2015-09-22 17:01] theVKC commented on #1109
This sounds like it's a separate issue from #1002, but one talented scriptwriter could kill both birds with one code-stone. I'm hoping @RobertFewins-Kalb could do me the honor, as I turn into a pumpkin (log off for the day) in only a half hour.

[2015-09-22 17:02] IlseFerris commented on #1096
Thanks for confirming.  My obligation was to ask.  Obligation complete. :)

[2015-09-22 17:07] IlseFerris commented on #1109
Also confirming the error on my end.

[2015-09-22 17:09] #1097 closed

[2015-09-22 17:10] #1100 closed

[2015-09-22 17:10] #1106 closed

[2015-09-22 17:13] #1105 closed

[2015-09-22 17:14] theVKC commented on #1099
I concur, @courtrightd. Good luck!

[2015-09-22 17:15] #1107 closed

[2015-09-22 17:44] RobertFewins-Kalb commented on #1109
On it. This will get me out of Compass Appointments!!

[2015-09-22 18:19] RobertFewins-Kalb commented on #1109
I have fixed the syntax issues, but I am not seeing a logic way of dividing the dialog into 2. The problem is that 24 of the objects in the dialog are navigation buttons (to be fair, I think we can get rid of the CASH navigation button).

[2015-09-22 18:20] RobertFewins-Kalb commented on #1109
(merged conversation with #1002 )

[2015-09-22 18:22] IlseFerris opened #1111 "Updated verbiage on the SNAP E & T letter description is needed"
from MEMO to SPEC/LETR. I can't tell you how many people report that the script isn't working because they go to SPEC/MEMO instead of SPEC/WCOM to see the correspondence.

Resolved with pull request #1103

[2015-09-23 13:54] RobertFewins-Kalb commented on #1002
How do people feel about this...

![image](https://cloud.githubusercontent.com/assets/7842016/10046853/c2eb9c78-61d0-11e5-8616-d43c3ce32b49.png)

[2015-09-23 13:55] RobertFewins-Kalb commented on #1002
(this brings the CSR dialog under 65 objects)

[2015-09-23 14:04] theVKC commented on #1002
Not sure what you got rid of... a description of what was removed would be helpful.

[2015-09-23 14:06] theVKC commented on #1002
I can see: it looks like you got rid of the panels. For our friends using v6.x, we can't do that: MAXIS navigation can be blocked while a dialog is running, so those buttons are quite valuable. Plus accessibility.

[2015-09-23 14:08] RobertFewins-Kalb commented on #1002
dislike

[2015-09-23 14:09] theVKC commented on #1002
Your objection is noted. We need to think of accessibility concerns and the fact that several users require these buttons for longer dialogs.

[2015-09-23 14:14] RobertFewins-Kalb commented on #1002
I don't like splitting the dialog. We would be requiring users to navigate through an additional dialog just to accommodate the nav buttons. When I fix the syntax errors in the dialog code, it works just fine. I would rather keep the CSR in tact, but add comments within the code instructing script writers how to effectively

[2015-09-23 14:15] StormageddonDLOA opened #1113 "Enhancement for the Sanction Case Note"
Could a line for the ES counselor and their phone number be added like is in the Employment Plan Received case note?

[2015-09-23 14:20] theVKC commented on #1002
What I'm saying is: it needs to be split. If you can't do it, I will. In this case, accessibility trumps other concerns.

[2015-09-23 14:21] courtrightd commented on #1113
If this is for NOTES – MFIP SANCTION  / DWP DISQUALIFICATION,  this was resolved in #832, enhanced script should be in the next release.

From: StormageddonDLOA [mailto:notifications@github.com]
Sent: Wednesday, September 23, 2015 9:16 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] Enhancement for the Sanction Case Note (#1113)

Could a line for the ES counselor and their pho

[2015-09-23 14:23] #1113 closed

[2015-09-23 14:23] StormageddonDLOA commented on #1113
Oh, perfect. Thanks for the heads up. I’ll close the issue.

Timothy DeLong, Financial Worker
Stearns County Human Services
705 Courthouse Square
St. Cloud, MN 56303
320-650-5842

From: David Courtright [mailto:notifications@github.com]
Sent: Wednesday, September 23, 2015 9:22 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: Re: [DHS-MAXIS-Scripts] Enhancement for the Sanction

[2015-09-23 18:37] IlseFerris opened #1115 "Asset Assessment received"
Request from LTC worker for an initial AA case note.  Here's what she has suggested:
"I think for the AA it would be nice to say it was rec’d, AA date, community and facility spouse info, faci info, verifs needed and and reported assets?  Also maybe something to select if it is for AC only."

This could be an enhancement to the current script, or a new script.

[2015-09-23 18:40] IlseFerris opened #1116 "BULK DAIL report option to use on multiple users (enhancement)"
Request rec'd from Hennepin County supervisor who would like to be able to pull information from several user's DAIL messages.

[2015-09-23 18:44] theVKC commented on #1115
Up to you.

[2015-09-23 18:45] #1111 closed

[2015-09-23 18:46] theVKC commented on #1116
@IlseFerris, do you want this one?

[2015-09-23 19:21] #981 closed

[2015-09-23 19:25] #773 closed

[2015-09-23 19:25] #1099 closed

[2015-09-23 19:27] #1002 closed

[2015-09-23 19:28] #1109 closed

[2015-09-23 20:32] courtrightd opened #1118 "NOTES - MFIP SANCTION DWP DISQUAL bug (SLC only)"
At the moment this only effects saint louis county, but...
There is an issue with the autofilling of counselor info when the case number isn't provided from maxis (not in a case when running script) Simply overlooked this issue before.  Pull request coming.

[2015-09-23 20:59] #1118 closed

[2015-09-24 02:26] IlseFerris commented on #1115
I'll take it, especially since I need to work on the AA anyways

[2015-09-24 02:30] IlseFerris commented on #1116
Sure thing!

[2015-09-24 15:29] IlseFerris opened #1121 "Burial assets enhancement: list in header which program assets were evaluated for"
Received request for this as the current burial assets scripts gives a breakdown of what is not counted/ counted, but since there are different rules for CASH programs vs. HC, a clear distinction should be made.

[2015-09-24 15:30] IlseFerris commented on #1121
Also could maybe use a message at the end with the HCPM and CM references, and a reminder that assets excluded for HC may not be excluded for CASH programs.

[2015-09-24 16:28] ALJ10 opened #1122 "BULK PND2 ~ Issue with worker number fill"
Workers are reporting the PND2 script is not functioning properly. After we enter the last 3 of the worker ID and select the programs, it looks like it's going to run. But once it gets into Excel, it's howing formula errors. Maxis shows unknown worker. I attached a screen shot to show errors.

![script bulk pnd2 errors in excel_maxis](https://cloud.githubusercontent.com/assets/10159901/10079330/02

[2015-09-24 16:30] RobertFewins-Kalb commented on #1122
I am working on a fix for writing the worker number.

Regarding Excel, that's not a formula error. That's the output when you try to divide by zero, which is what is happening in that picture.

[2015-09-24 16:49] RobertFewins-Kalb opened #1124 "CSES New Hire returning to SELF without case number"
A financial worker has reported that the CSES NEW HIRE DAIL Scrubber is backing out to SELF but not bringing the case number with it. I shall bypass the Council of Elrond and take the foul bug to Mordor for destruction myself, casting it to the firey pit from whence it came!

[2015-09-24 17:16] RobertFewins-Kalb commented on #1124
Found it

[2015-09-24 18:36] RobertFewins-Kalb commented on #1124
Submitting a fix

[2015-09-24 20:42] RobertFewins-Kalb opened #1126 "LTC Application received -- dialog bug reported"
Going to look into what is causing this...

![image](https://cloud.githubusercontent.com/assets/7842016/10086227/dafe172a-62d2-11e5-95a2-bc47e6595eed.png)

[2015-09-24 20:47] RobertFewins-Kalb commented on #1126
I believe I have found the problem and I am submitting a fix...

![image](https://cloud.githubusercontent.com/assets/7842016/10086353/8d160c60-62d3-11e5-8614-c8768bf7c66b.png)

[2015-09-25 13:54] theVKC commented on #1121
Do you want this one?

[2015-09-25 13:56] theVKC commented on #1115
Is it going to be a new script or an update of the existing?

[2015-09-25 14:01] theVKC commented on #1124
Is this doubtfire related?

[2015-09-25 14:01] RobertFewins-Kalb commented on #1124
Yep

[2015-09-25 14:02] theVKC commented on #1124
sounds vunderbar

[2015-09-25 14:02] RobertFewins-Kalb commented on #1124
It's also fixed

[2015-09-25 14:02] RobertFewins-Kalb commented on #1124
which is vunderbar

[2015-09-25 14:07] #1124 closed

[2015-09-25 14:18] theVKC commented on #1126
Resolved with #1127.

[2015-09-25 14:18] #1126 closed

[2015-09-25 14:21] IlseFerris commented on #1121
Of course!

[2015-09-25 14:22] IlseFerris commented on #1115
I haven't decided yet. We can brainstorm at hackathon on Monday.

[2015-09-25 14:25] theVKC commented on #881
If we could get consensus on what needs to be noted for eDRS (on a per-HH-memb-basis), I'm tentatively in favor of that move. @IlseFerris or @ruthmaloney or @asunderman, any ideas for what you might be looking for in your agencies?

[2015-09-25 14:35] courtrightd opened #1131 "SHELTER FORM RECEIVED - Dialog out of range error."
Happens whenever it is run from a menu (locally from agency custom or when running from github.)  Works when run directly (script->play).  That is as far as I got.

[2015-09-25 14:40] IlseFerris opened #1133 "Footer month not pulling into dialog on Combined AR script"
Pull requests submitted for both MASTER and BETA branches.

[2015-09-25 14:41] theVKC commented on #1131
Is this happening for anyone else using master or BETA branches? County folks who might have seen this bug:

@mldietz
@IlseFerris
@khiestand
@C-Love
@MelissaFox-Stearns

[2015-09-25 14:42] #1133 closed

[2015-09-25 14:45] theVKC commented on #1131
More folks who might have seen it:

@ALJ10
@CDPotter
@StormageddonDLOA

[2015-09-25 14:48] ALJ10 commented on #1131
I haven’t rec’d any report of issues with that script. But I sent out an email to my workers asking for feedback on if they’ve used that script recently. I will share that with you if I receive a response.

Amanda Jensen
Technology Coordinator/Onbase OCSA_OCWA Certified
Crow Wing County Community Services
P.O. Box 686, 204 Laurel Street
Brainerd, MN 56401
Office:  (218) 824-1235
Fax:     (218) 824

[2015-09-25 14:48] CDPotter commented on #1131
It looks like it's working for me through menu, strangely it took two clicks to get it to run. I opened menu, clicked r-z menu reloaded, clicked shelter form, menu reloaded, clicked shelter form, opened script.

[2015-09-25 14:51] #561 closed

[2015-09-25 14:53] theVKC commented on #1131
@courtrightd, is there a chance this is a local issue to the SLC?

[2015-09-25 14:53] theVKC commented on #1131
Perhaps @farleight has seen this one?

[2015-09-25 14:55] courtrightd commented on #1131
I feel like it shouldn’t be, since it is occurring for me when I use the same Beta branch that others are, but who knows.  I just finished an appt and will try to further diagnose.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, September 25, 2015 9:53 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] SHELTER FORM RECEIVED - Dia

[2015-09-25 14:58] ALJ10 commented on #1131
I actually just tested on a case. Same process as CharlesP (two clicks to open), but it ran successfully with no errors.

Amanda Jensen
Technology Coordinator/Onbase OCSA_OCWA Certified
Crow Wing County Community Services
P.O. Box 686, 204 Laurel Street
Brainerd, MN 56401
Office:  (218) 824-1235
Fax:     (218) 824-1141
www.crowwing.us<http://www.crowwing.us/>
[http://mn-crowwingcounty.civicplus.co

[2015-09-25 15:01] theVKC commented on #1131
Hmmmmmmmmmmmmmmmm. The two clicks thing does scare me a bit. @courtrightd, am I remembering correctly that you tweaked the NOTES MAIN MENU script this month? If so, perhaps there's something amiss all up in there?

[2015-09-25 15:04] courtrightd commented on #1131
Yeah – That was my worry too, but if I change my local copy of the menu script to call something else with that button it works fine, and if I call shelter form from a different button, it also works fine.  That doesn’t necessarily mean it isn’t something with the menu change, I’m just struggling to find it.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, September 25, 20

[2015-09-25 15:04] IlseFerris commented on #1131
When I click on it gives me a message box informing me a case number is required.  The dialog doesn't come up.  Tested about 12 times.

[2015-09-25 15:06] courtrightd commented on #1131
I think I found it.  Stand by.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Friday, September 25, 2015 10:05 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] SHELTER FORM RECEIVED - Dialog out of range error. (#1131)

When I click on it gives me a message box informing me a case number is required. The dialog doesn't come up. Tested about

[2015-09-25 15:06] ALJ10 commented on #1131
I forgot to mention that. Sorry! I had that too. But if I actually went into a case (ex. case/curr) and then ran the script, it worked (beside the two click issue).

Amanda Jensen
Technology Coordinator/Onbase OCSA_OCWA Certified
Crow Wing County Community Services
P.O. Box 686, 204 Laurel Street
Brainerd, MN 56401
Office:  (218) 824-1235
Fax:     (218) 824-1141
www.crowwing.us<http://www.crowwing

[2015-09-25 15:07] theVKC commented on #1131
I like how to @courtrightd "struggling to find it" can be resolved in under 3 minutes. #scriptmaster

[2015-09-25 15:16] courtrightd commented on #1131
“struggling to find it” meant I suspected the exact type of issue it was, but looked at the code like 16 times and didn’t see it.  In my defense, I have done two phone appts while working on this.  Pull request coming.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, September 25, 2015 10:08 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAX

[2015-09-25 15:24] #1131 closed

[2015-09-25 16:14] CDPotter opened #1139 "HCAPP footer month new issue"
Footer month is being calculated as CM+1. changed to current month.

[2015-09-25 21:31] theVKC commented on #1139
Say @CDPotter, have you considered that the HC pop-up might show blank in current month vs CM + 1? Do you think it matters? Just curious.

[2015-09-25 21:33] #1122 closed

[2015-09-25 21:33] CDPotter commented on #1139
I couldn't see why, before I took this out the script was still holding a variable in footer_month up until the point it had to display it in the dialog. If I remember I tried both 09 and 10 before submitting the Cstr and this fix.

[2015-09-28 15:29] #1139 closed

[2015-09-28 15:57] theVKC opened #1142 "Krabappel: inverse Krabappel"
Basically, creates the Excel spreadsheet from an existing case. Casey from Ramsey has offered to take this one on. Welcome to the Krabappel universe.

[2015-09-28 16:02] CDPotter commented on #1142
Awesome news! Yay for Side Op: Turnabout!

[2015-09-28 16:04] theVKC commented on #1142
Agreed! @C-Love has this on lock.

[2015-09-28 16:44] khiestand opened #1144 "Gas Cards Issued Enhancement"
I will be adding the total amt given today and the total amt given this year to the subject line of this script.  I will now read as *$$* GAS CARDS ISSUED $40/$100 *$$*

[2015-09-28 18:43] theVKC opened #1146 "The new APPL script will replace ApplyMN notes"
Just want to get the issue out there. @C-Love is taking this one.

[2015-09-28 18:59] khiestand commented on #987
This is complete, will be pull requesting to GitHub on 9/30/15.

[2015-09-28 19:01] khiestand commented on #1144
Enhancements are complete, will pull request on 9/30/15.

[2015-09-28 19:43] Y-Lor-Y opened #1147 "Notes - GRH - HRF"
The elig/grh button navigates to elig/mfip.

[2015-09-28 20:07] khiestand opened #1148 "MSQ Notes Script"
A new case note script that will note details of MSQ and update STAT/ACCI. You can assign this to me as it is already in the works.

[2015-09-28 20:53] Y-Lor-Y opened #1149 "Notes - MFIP Sanction"
The dialog box verbiage indicate that the sanction needs to be cured by 10 days cut-off date, however, per policy it's actually 10 days from the effective month.  So, end of month minus 10.  For more detail, refer to PQ # 9892 (1/21/11) for further references.

[2015-09-28 22:10] IlseFerris opened #1150 "Priv case handling for Project Mic drop"
@courtrightd A little bird told me that you were working on this?  Any truth to that/can you take a crack at it?

[2015-09-29 11:17] theVKC commented on #1149
Are you volunteering to take this, @Y-Lor-Y?

[2015-09-29 11:18] theVKC commented on #1147
Do you want this one, @Y-Lor-Y?

[2015-09-29 12:04] ruthmaloney commented on #881
It would be helpful to see something in a case note that it has been ran, for whom, and results.

Ruth Maloney

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, September 25, 2015 9:26 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Maloney, Ruth S (DHS) <Ruth.Maloney@state.mn.us>
Subject: Re: [DHS-MAXIS-Scripts] EDRS enhancement--case not

[2015-09-29 12:21] IlseFerris commented on #881
Thanks for the feedback Ruth.  @theVKC go ahead and assign this one to me

[2015-09-29 13:02] courtrightd commented on #1150
There is some truth to that – I did this for REPT/MONT, so it shouldn’t be hard to recreate it in other bulk scripts.  I’ll take it.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Monday, September 28, 2015 5:10 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: [DHS-MAXIS-Scripts] Priv case handling for Project Mic drop (#1150)

@courtrightd<https://github.com/court

[2015-09-29 13:07] Y-Lor-Y commented on #1149
Sure, I'll take a stab at it.  Note my time are limited, but if this is not a rush I would like to.

[2015-09-29 13:09] Y-Lor-Y commented on #1147
Sure, you can assign this to me.  I will work on this as much as possible.

[2015-09-29 13:50] theVKC commented on #1144
Thanks @khiestand!

[2015-09-29 13:53] theVKC commented on #1018
@Farleight, can I bump this? How's it going?

[2015-09-29 13:54] theVKC commented on #543
@suzchik19, I'm closing this issue for the moment due to lack of time on my part. If Dakota would like to train a scriptwriter to take a look, we may be offering training soon and I'd be happy to help arrange that.

[2015-09-29 13:54] #543 closed

[2015-09-29 13:54] RobertFewins-Kalb opened #1151 "Problem with benefit year"
I don't even know how to describe this...

![image](https://cloud.githubusercontent.com/assets/7842016/10166001/9dd1541c-6687-11e5-8ac8-96cbd67a2434.png)

[2015-09-29 13:54] RobertFewins-Kalb commented on #1151
A worker reported this while running NOTES - HCAPP. I will look into it.

[2015-09-29 13:55] RobertFewins-Kalb commented on #1151
Found it. I'm going to submit a fix. I'll pull into master and BETA

[2015-09-29 13:56] suzchik19 commented on #543
Thanks for the update.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, September 29, 2015 8:54 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Allen, Susie
Subject: Re: [DHS-MAXIS-Scripts] Enhancement Request for Bulk REPT Script - ACTV (#543)

@suzchik19<https://github.com/suzchik19>, I'm closing this issue for the moment due to lack of time on my part. If Dakota would like

[2015-09-29 14:03] Farleight commented on #1018
I was actually waiting on a reply from you to explain something to me. But to be fair, it was from while you were sick, so you may have missed it in your delirium.

I ultimately just went with Dave’s idea (above) of having it read both fields and removing the blank space because I discovered that it’s not county-specific. About half the people in Carlton have MAXIS screens where the cash field is

[2015-09-29 14:30] RobertFewins-Kalb opened #1154 "ACTIONS - PAYSTUBS RECEIVED possibly causing exception access violation"
I'm looking into this, but a worker reported that ACTIONS - PAYSTUBS RECEIVED caused an exception access violation. When I tested the script on a training case, I couldn't generate the error. I had the worker run the script with me there on the live case, and happened again. I am working on isolating the problem (it may be related to her machine).

I am also looking into any possible Doubtfire-rel

[2015-09-29 14:33] theVKC commented on #1154
[renamed "possibly" so as not to scare people]

[2015-09-29 14:34] theVKC commented on #1148
@khiestand, way back in the day, I had an MSQ script that went into MMIS and did stuff. Would you like me to dig it up and send it your way?

[2015-09-29 14:42] RobertFewins-Kalb commented on #1154
Yes. And for extra accuracy. Thanks!

[2015-09-29 15:17] RobertFewins-Kalb opened #1155 "NOTES - Expedited Screening is case noting that clients known to EBT can get a new card"
A couple of workers have reported a possible issue with NOTES - Expedited Screening. To our knowledge, clients that are already known to EBT cannot receive a new card but the script is case noting that they can.

[2015-09-29 15:44] IlseFerris commented on #1155
Yikes, that's embarrassing.  I left NOT out.  I'm on this unless @RobertFewins-Kalb already found my error.

[2015-09-29 15:45] RobertFewins-Kalb commented on #1155
You can take it. I was just wondering if that was correct.

[2015-09-29 15:45] RobertFewins-Kalb commented on #1155
I'm taking a look at ACTIONS - PAYSTUBS RECEIVED right now

[2015-09-29 15:45] RobertFewins-Kalb commented on #1155
Thanks, @IlseFerris

[2015-09-29 15:53] IlseFerris commented on #1155
No problem.  And good luck with Paystubs rec'd.  That's an impressively complex script.

[2015-09-29 17:32] khiestand commented on #1148
@theVKC Oh sure why not!  I am sure the workers would LOVE for it to update in MMIS.  Do we have other scripts that update in MMIS that I could look at too for examples of how that is done?  If I can't get the MMIS part going, I can at least pull request what I have done, and enhance it later too.

[2015-09-29 17:54] RobertFewins-Kalb commented on #1154
Closing this issue. I cannot recreate the problem on my computer or any other users computer. I am chalking this up to gremlins

[2015-09-29 17:54] #1154 closed

[2015-09-29 18:54] StormageddonDLOA opened #1157 "NOTES - Good Cause Claimed"
A request that we add DHS-3632 to the text box in with the DHS-3627 & DHS-3979.

[2015-09-29 18:54] StormageddonDLOA commented on #1157
I'll take this one.

[2015-09-29 19:06] StormageddonDLOA opened #1158 "NOTES - Verifications Needed"
Msg on the Bluezone discussion forum dated 9/24/15.

Problem with Verifications Needed script
Anyone else having trouble with this script? It’s not including details for TIKL and worker signature.

[2015-09-29 19:06] StormageddonDLOA commented on #1158
I'll take this one.

[2015-09-29 19:06] courtrightd commented on #1158
I just had this reported to me today but haven’t tested yet.  I can look at it.

From: StormageddonDLOA [mailto:notifications@github.com]
Sent: Tuesday, September 29, 2015 2:06 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] NOTES - Verifications Needed (#1158)

Msg on the Bluezone discussion forum dated 9/24/15.

Problem with Verifications Needed script
Anyone else having tro

[2015-09-29 19:07] StormageddonDLOA commented on #1158
I think I've already found the issues.

[2015-09-29 19:08] courtrightd commented on #1158
Then I’ll let you have it ☺

From: StormageddonDLOA [mailto:notifications@github.com]
Sent: Tuesday, September 29, 2015 2:08 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] NOTES - Verifications Needed (#1158)

I think I've already found the issues.

—
Reply to this email directly or view it on GitHub<https://github.com/MN-Script-Team/DHS-MAXIS-Scripts

[2015-09-30 01:13] #1155 closed

[2015-09-30 01:17] #1151 closed

[2015-09-30 01:20] theVKC commented on #1157
Good luck @StormageddonDLOA! :)

[2015-09-30 01:22] theVKC commented on #1158
Good luck!

[2015-09-30 01:43] theVKC commented on #370
I've got this function going, and will incorporate it into #186.

[2015-09-30 01:43] #370 closed

[2015-09-30 12:49] CDPotter opened #1164 "Script database error"
Anyone else getting this error message after running a script? Getting reports from BETA and Master users here. Just trying to determine if it's on our end or statewide.

![2015-09-30 07_48_48-s1 - anoka desktop - anoka scripted desktop - bluezone mainframe display](https://cloud.githubusercontent.com/assets/7841989/10193292/b6e5b220-6747-11e5-895b-67ae50c95a12.png)

[2015-09-30 12:54] CDPotter commented on #1164
Our database got corrupted. repair fixed it. Fasted open/closure of issue ever?

[2015-09-30 12:54] #1164 closed

[2015-09-30 13:31] IlseFerris opened #1168 "REIN_PROGS_button variable incorrect, critial bug"
pull requests 1165-1167 resolve the issue

script will not run.  Reported on SIR.

[2015-09-30 13:34] #1168 closed

[2015-09-30 13:35] theVKC commented on #1168
Pulled. @IlseFerris, care to be the hero and tell folks you fixed it?

[2015-09-30 13:36] theVKC commented on #1164
Thanks for closing, @CDPotter!

[2015-09-30 13:40] theVKC commented on #1018
You probably need to manually insert your own `worker_county_code` variable for testing purposes. bulk scripts use that code pretty frequently for stuff like determining what worker to actually go to. This is normally pulled from the Global Variables file, but if you don't call that block (look at your REDIRECT files for an example), you won't hit it.

Just remember to remove said declaration befo

[2015-09-30 13:41] theVKC commented on #1148
I don't think we have others. This one was done by me at the county, so I don't think it's live just yet. I'll dig around to see if I can find it.

[2015-09-30 14:08] IlseFerris commented on #1168
Posted on SIR.  Thanks for the fast pullin' @theVKC

[2015-09-30 14:29] Farleight commented on #1018
That worked remarkably well! Okay, I've tested this and it seems to be okay, causing no negative issues that I can see. Ready to move forward. I've never pull requested. How does one pull request?

[2015-09-30 14:38] theVKC commented on #1018
If you're ready, go ahead and issue a pull request into the master branch! You'll become lucky contributor number 20!

[2015-09-30 15:22] Farleight commented on #1018
I believe I've done that now. Let me know if something is glaringly incorrect.

[2015-09-30 15:29] theVKC commented on #1018
Looks great! Only thing I can think of is that this issue won't go live for non-scriptwriters until Monday when I release the beta scripts, and it won't go live statewide until a week after that. So, if your users need it in the meantime, might be smart to keep it on the agency custom for a week or so.

[2015-09-30 15:31] Farleight commented on #1018
Noted. Thanks much for your help! (Same kudos to David)

[2015-09-30 15:34] #1018 closed

[2015-09-30 15:45] #1144 closed

[2015-09-30 16:20] StormageddonDLOA opened #1173 "DAIL scrubber bug"
On CS REPORTED: NEW EMPLOYER FOR CAREGIVER REF NBR: 01 DAIL msgs the scrubber is creating the new JOBS panel but then gets stuck and is unable to finish it's other processes.

[2015-09-30 16:39] theVKC commented on #1173
Why am I thinking @CDPotter or @RobertFewins-Kalb worked on this one?

[2015-09-30 16:47] CDPotter commented on #1173
@RobertFewins-Kalb says he fixed it recently. Should be in all live branches

[2015-09-30 16:54] IlseFerris opened #1174 "CAF initial dialog enchancement, add Select one to CAF type"
Hennepin County worker reports that users are not updating this field in MANY cases.  Select one option here would be amazing!  What do you all think?

[2015-09-30 17:15] StormageddonDLOA commented on #1173
I tried it just before I posted the issue and it wasn’t working then.

Timothy DeLong, Financial Worker
Stearns County Human Services
705 Courthouse Square
St. Cloud, MN 56303
320-650-5842

From: Charles P [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 11:48 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: Re: [DHS-MAXIS-Scripts] DAIL scrubber bug (#1173)

[2015-09-30 17:43] theVKC commented on #1174
Let's do it. Do you want it?

[2015-09-30 17:46] RobertFewins-Kalb commented on #1174
Add err_msg handling?

[2015-09-30 17:51] theVKC commented on #1174
I'd think so, @RobertFewins-Kalb.

[2015-09-30 17:52] theVKC commented on #1173
How many cases did you try it on, @StormageddonDLOA? Could it be case-specific?

[2015-09-30 17:53] StormageddonDLOA commented on #1173
Just one but I tried it twice on that one case.

Timothy DeLong, Financial Worker
Stearns County Human Services
705 Courthouse Square
St. Cloud, MN 56303
320-650-5842

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 12:53 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: Re: [DHS-MAXIS-Scripts] DAIL scrubber bug (#1173)

How many ca