[2015-09-30 17:54] RobertFewins-Kalb commented on #1173
Could you email me the case number?

robert.kalb@co.anoka.mn.us

[2015-09-30 17:55] theVKC commented on #1173
Before reporting a bug, we should confirm that it's happening on multiple cases. Sometimes, circumstances in MAXIS can cause NAT errors and the like (especially from the DAIL for some reason). I'll leave it open for a bit while we investigate, but can you try this on multiple case numbers?

Also, @RobertFewins-Kalb, as reported to me by @MelissaFox-Stearns, Stearns uses a different version of Blue

[2015-09-30 17:55] StormageddonDLOA commented on #1173
1897406

Timothy DeLong, Financial Worker
Stearns County Human Services
705 Courthouse Square
St. Cloud, MN 56303
320-650-5842

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 12:54 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: Re: [DHS-MAXIS-Scripts] DAIL scrubber bug (#1173)

Could you email me the case number?

robert.kalb@co.a

[2015-09-30 17:56] theVKC commented on #1173
@StormageddonDLOA comment deleted. _Please do NOT post case numbers on GitHub or SIR._ Please send it in a separate email to Robert.

[2015-09-30 18:00] StormageddonDLOA commented on #1173
Unfortunately there were only 2 cases that had that type of message and on the second case the job was already known so it never got to the point where the first case got hung up.

Timothy DeLong, Financial Worker
Stearns County Human Services
705 Courthouse Square
St. Cloud, MN 56303
320-650-5842

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 12:56

[2015-09-30 18:01] RobertFewins-Kalb commented on #1173
Hmm...

RE: MAXIS Version... I would recommend testing it locally to try and isolate the problem.
RE: The case number that the pixies delivered to me, the DAIL message has been deleted. I cannot test.

I have no idea. I tested this up and down and it was working. The bug was originally reported by several workers, who have all since confirmed the script is working, in Anoka, at least.

[2015-09-30 18:02] StormageddonDLOA commented on #1173
Perhaps it’s just an isolated incident.

Timothy DeLong, Financial Worker
Stearns County Human Services
705 Courthouse Square
St. Cloud, MN 56303
320-650-5842

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 1:02 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: Re: [DHS-MAXIS-Scripts] DAIL scrubber bug (#1173)

Hmm...

RE: MAXIS Vers

[2015-09-30 18:02] RobertFewins-Kalb commented on #1173
Send out a message to your agency asking for case numbers. Try to test it on another worker's DAIL.

[2015-09-30 18:04] theVKC commented on #1173
@StormageddonDLOA, since you reported this bug, you can close it if you wish. If you'd like to leave it open while you confirm details, that's fine too. Whatever works!

[2015-09-30 18:25] StormageddonDLOA opened #1175 "Call check issue."
One of my co-workers is having an issue on the Verifications Needed case note script where it says she isn't connected to MAXIS when she is and won't write the case note.

I watched her go into STAT and then take about a min to populate the script and then she got the not connected to MAXIS popup.

She says she has been having this issue for a couple weeks and that whenever she gets that popup and

[2015-09-30 18:26] StormageddonDLOA commented on #1173
Working on an overpayment right now but will try to find some case numbers to test right afterwards.

Timothy DeLong, Financial Worker
Stearns County Human Services
705 Courthouse Square
St. Cloud, MN 56303
320-650-5842

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 1:03 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: Re: [DHS-MAX

[2015-09-30 18:36] RobertFewins-Kalb commented on #432
We can close this issue. The script is live.

[2015-09-30 18:40] RobertFewins-Kalb opened #1177 "HCAPP footer_year still not correct"
In my haste, I did not notice that footer_month was being determined from a blank variable, next_month. That's why it was creating -101 for the footer_year value (because, for whatever reason, the blue zone script host considers a blank value in a date variable to be 12/30/1899, and 1899-2000 equals -101).

I have submitted a pull request (#1176) to resolve. Mea culpa, team.

[2015-09-30 18:48] IlseFerris commented on #1174
yep, give it here!

[2015-09-30 18:49] #1175 closed

[2015-09-30 18:56] CDPotter opened #1180 "New script Postponed WREG verifs WCOMer"
Thoughts on a script to add the prescribed WCOM for postponed ABAWD exemption verifs?

POLI TEMP 02.05.70.01

[2015-09-30 19:05] courtrightd commented on #1180
I think this would be excellent.  Perhaps as an enhancement to the Approved progs dialog?  (since the needed information should be noted when approving in this circumstance.)  I could see it as standalone too.
From: Charles P [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 1:57 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] New script (#1180)

Thoughts o

[2015-09-30 19:14] StormageddonDLOA commented on #1173
I found another case that did the exact same thing as I ran into earlier. I’ll forward the case number to Robert.

Timothy DeLong, Financial Worker
Stearns County Human Services
705 Courthouse Square
St. Cloud, MN 56303
320-650-5842

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 1:05 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subjec

[2015-09-30 19:27] RobertFewins-Kalb commented on #1173
I think I see what might be causing the problem. Weird that nobody here reported it after the fix. When the script is back on SELF, doing nothing, it's stuck in a do-loop trying to get back to DAIL, which it's never going to do, because of navigate_to_MAXIS_screen.

I am going to go through this script and update the way it runs. This has some...let's say...legacy code in it.

Mea cupla, again, ev

[2015-09-30 19:32] RobertFewins-Kalb commented on #1173
I need someone to test this fix. Volunteers? @StormageddonDLOA ?

[2015-09-30 19:33] StormageddonDLOA commented on #1173
Sure I’ll try it again.

Timothy DeLong, Financial Worker
Stearns County Human Services
705 Courthouse Square
St. Cloud, MN 56303
320-650-5842

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 2:33 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: Re: [DHS-MAXIS-Scripts] DAIL scrubber bug (#1173)

I need someone to test this fix. Volun

[2015-09-30 19:38] RobertFewins-Kalb commented on #1173
The code is located here.

https://raw.githubusercontent.com/RobertFewins-Kalb/Anoka-Specific-Scripts/master/CS%20NEW%20JOB%20REPORTED.vbs

Just copy/paste it into BSZH.exe and run it like a stand alone script using Blue Zone. You will have to run it from the original DAIL message. Call me if you have questions 612-352-6895.

God speed.

[2015-09-30 19:46] StormageddonDLOA commented on #1173
It worked. ☺

Timothy DeLong, Financial Worker
Stearns County Human Services
705 Courthouse Square
St. Cloud, MN 56303
320-650-5842

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 2:33 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: Re: [DHS-MAXIS-Scripts] DAIL scrubber bug (#1173)

I need someone to test this fix. Volunteers? @Sto

[2015-09-30 19:47] RobertFewins-Kalb commented on #1173
![image](https://cloud.githubusercontent.com/assets/7842016/10204572/318c9c66-6782-11e5-8d2a-c3931805175b.png)

[2015-09-30 20:25] #1177 closed

[2015-09-30 20:27] theVKC commented on #1180
I agree in making this an enhancement. Might be better to remind folks to use it there. Do you want it @CDPotter?

(Also, small request @CDPotter, please provide a bit more detail in the title of these issues. When coming up with release notes, more description is always better.)

[2015-09-30 20:32] theVKC commented on #1173
Reopening issue, as I am still pulling the fix in. @StormageddonDLOA, if a pull request closes the issue, I like to chain those. If we decide an issue isn't an issue, you can close this. You didn't know, so it's OK.

[2015-09-30 20:33] #1173 closed

[2015-09-30 20:34] #432 closed

[2015-09-30 20:34] theVKC commented on #432
Thanks for catching it!

[2015-09-30 21:18] CDPotter commented on #1180
Whoops, too excited about the idea. Already working on it!

[2015-09-30 21:44] theVKC commented on #1180
Thanks! I did the release notes yesterday, so it's a bit of a sore subject for me at the moment. :P

[2015-09-30 22:03] CDPotter commented on #1180
Ok so I ignored my emails as I worked on it and built a separate script from the ma-epd wcom script.

So currently the functionality is as such:
worker enters case number, approval month/year into dialog
script created HH member array and limits it to only one entry via loop (the grammar in the verbiage gets wonky trying to account for multiple HH members with different postponed WREG exemptions,

[2015-09-30 22:08] theVKC commented on #1180
Your script seems like it does more than approved programs, possibly too much to lump into the same script. I'm in favor, and I'll change the tags on the issue.

[2015-09-30 22:10] CDPotter commented on #1180
Sounds good to me, the poli/temp verbiage required 4 variables for input. I just got a last minute HC renewal I gotta do so I will share tomorrow!

[2015-10-01 14:16] theVKC opened #1189 "Ooops, need a file extension on NOTES - APPLICATION RECEIVED"
It needs a ".vbs" in lower case on it. @C-Love, would you care to do the honors, so as to preserve your  code contributions?

[2015-10-01 14:17] C-Love commented on #1189
@theVKC  - Ooops - my bad - yeah I will fix it

[2015-10-01 14:20] theVKC commented on #1189
Resolved by #1190.

[2015-10-01 14:20] #1189 closed

[2015-10-01 14:26] #1146 closed

[2015-10-01 14:34] #987 closed

[2015-10-01 14:37] theVKC opened #1192 "FSET sanction is an ACTIONS script, not a NOTES script"
@IlseFerris pointed this out and took care of it, I'm just adding an issue because I'm geeky like that.

[2015-10-01 14:37] #1192 closed

[2015-10-01 15:38] devonne01 commented on #957
Hi.. I am trying to work on this script and I am getting a dialog editor box still. Not sure what I'm doing wrong?

[2015-10-01 17:45] RobertFewins-Kalb opened #1193 "BULK - REPT/INAC LIST not connected to powerpad."
When you try to run the script, you get the error that it cannot be found...

![image](https://cloud.githubusercontent.com/assets/7842016/10228780/3eedd75e-683a-11e5-9feb-9ee04beb6bdc.png)

[2015-10-01 17:48] RobertFewins-Kalb commented on #957
Count the number of objects in the dialog. You may have hit 64. If you do, the dialog editor stops working.

[2015-10-01 18:10] StormageddonDLOA opened #1197 "IEVS NOTICE"
Working on the issues with the original script. Will be completed today.

[2015-10-01 18:27] Farleight opened #1199 "Notes - CSR - BUSI income not pulling"
BUSI income is not auto-filling (at least for HC purposes). Methinks BUSI has been updated so Add_BUSI_to_variable is not working properly... (Methinks this mostly because Robert told me to) In any case, I'm guessing that will affect much more than this one script, and I'm not sure where one would find Add_BUSI_to_variable  to update it.

[2015-10-01 18:52] CDPotter commented on #1199
It would be in the function library https://github.com/MN-Script-Team/BZS-FuncLib

[2015-10-01 19:18] RobertFewins-Kalb opened #1200 "LTC/GRH LIST GEN is malfunctioning"
The script appears to be entering the worker number in REPT/ACTV (or REVS or REVW...) but ending right after that.

I'm on it

[2015-10-01 19:23] RobertFewins-Kalb commented on #1200
Found it. Submitting a fix.

[2015-10-01 19:29] RobertFewins-Kalb commented on #1200
Resolved with pull requests #1201 #1202 #1203

[2015-10-01 19:36] #1200 closed

[2015-10-01 20:07] Farleight commented on #1199
Thank you! Actually, reviewing that, everything seems to match up... unless I'm missing something, which is entirely plausible. Any thoughts, @RobertFewins-Kalb?

[2015-10-01 20:11] CDPotter opened #1204 "Combined AR footer month issue"
I noticed that the recert month field was getting filled with a / . doing research it looks like recently footer_month was changed to MAXIS_footer_month (and the year) but the veriable that was stored in the renewal_month was still just footer_month and footer_year. I fixed that but then noticed that the initial MAXIS footer month isn't populating either. Looking into that bit now.

[2015-10-01 20:28] CDPotter commented on #1199
Agreed, all of the reads are on point. The only thing I saw that might be causing confusion is the function checks twice which HC amount should be included. It looks like when it is creating the variable it asks if footer_month = current_month_for_hc_est then is the only place that adds the HCA and HCB amounts into the variable. Looks like it either needs that if removed or an else added, but it n

[2015-10-02 12:25] CDPotter commented on #1199
Submitted fix on funclib, this one can be closed one it is merged.

[2015-10-02 14:55] theVKC commented on #1193
Is this on master, or everywhere? I'm going through GitHub notifications right now, so if you already pulled it I'm sure I'll see it soon.

[2015-10-02 14:58] #1058 closed

[2015-10-02 15:01] #1158 closed

[2015-10-02 15:09] #1204 closed

[2015-10-02 15:11] theVKC commented on #1199
This issue actually doesn't belong here, because it's related to FuncLib. As such, I'm closing this now, but will check it out on FuncLib shortly.

[2015-10-02 15:11] #1199 closed

[2015-10-02 15:12] theVKC commented on #1199
Also, @Farleight, I don't think you could have known that Functions Library stuff goes on another repository. I should update my instructions to reflect that.

[2015-10-02 15:15] theVKC commented on #1180
This looks great. @ruthmaloney might be interested in this one!

[2015-10-02 15:15] #1180 closed

[2015-10-02 21:52] RobertFewins-Kalb opened #1207 "Update NOTES - SHELTER FORM RECEIVED to be an actions script with additional handling"
For the sake of ME reviewers, NOTES - SHELTER FORM RECEIVED should be case noting the date that the SF was received by the agency.

[2015-10-05 12:24] IlseFerris commented on #1207
Agreed.  We should also consider enhancing the ability to update ADDR, SHEL and HEST.

[2015-10-05 13:04] ruthmaloney commented on #1180
I like it and hope workers use it. Although, at this point, we do not review for verifications listed in WCOM on the postponed expedited auto-closure notice, I’m not sure if QC is reviewing that way. Now if we could just automate the 2919’s…  ;-)

Ruth Maloney

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, October 02, 2015 10:15 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <D

[2015-10-05 13:26] ruthmaloney commented on #1207
Nice

Ruth Maloney

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Friday, October 02, 2015 4:53 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Subject: [DHS-MAXIS-Scripts] ENHANCEMENT REQUEST -- NOTES - SHELTER FORM RECEIVED (#1207)

For the sake of ME reviewers, NOTES - SHELTER FORM RECEIVED should be case noting the date that the SF was received b

[2015-10-05 13:57] CDPotter opened #1208 "New Script ABAWD Screening tool (input?)"
Sometime last year we built a screening tool to count a client's ABAWD months. @IlseFerris had used it before she left.

It worked by selecting a member number/case number on a dialog, checking that member's counted months, then give a series of 2 dialogs with checkboxes for WREG exemptions and then ABAWD exemptions. It will case note any exemptions checked and follows a flowchart approach (So if

[2015-10-05 14:19] RobertFewins-Kalb commented on #1207
Also doable @IlseFerris . I'm also going to add err_msg handling.

Operation Wind Tunnel

[2015-10-05 14:43] TMBohm opened #1209 "Adding Certain pops app to HC app drop down menu"
CAF script - Could DHS 3876 be added to the list of Forms from the dropdown at :  If HC applied for (or re-certifying) ...?
The title of DHS 3876 could be shortened to DHS3876 Certain Pops.

[2015-10-05 16:06] IlseFerris commented on #1209
If a client has a recert for HC, then the NOTES - HC renewal should be used.

[2015-10-05 16:09] TMBohm commented on #1209
Thanks, Ilse.  Do you know why that option is on the CAF script?

Treva Bohm
Eligibility Worker
218.470.8452

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Monday, October 05, 2015 11:07 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Treva Bohm <treva.bohm@co.polk.mn.us>
Subject: Re: [DHS-MAXIS-Scripts] TMBohm (#1209)

If a client has a recert for HC

[2015-10-05 16:17] IlseFerris commented on #1209
Good question.  I think that is for cases that have both HC, and other programs.  Best practices question for the group.  Should users run both the CAF and HC renewal if they are open on HC and other programs? @CDPotter  @RobertFewins-Kalb @courtrightd

[2015-10-05 16:17] IlseFerris opened #1211 "MFIP to SNAP enhancement"
Error handling in case there is no MFIP active on the case?

[2015-10-05 16:17] IlseFerris commented on #1207
Awesome!

[2015-10-05 16:20] IlseFerris commented on #1208
I found it to be very helpful, especially as at the time I was very new to dealing with ABAWD exclusions and counted months.

[2015-10-05 16:21] CDPotter commented on #1209
Personally if I have a CAF renewal and a HC renewal I just run the CAF and use that drop down. I've never had a situation where someone applied with certain pops and a CAF though but I would think you can use it the same way. It's an editable box so you can enter any document you receive.

I would think we could add certian pops to it.

[2015-10-05 16:30] Farleight commented on #1211
I have nothing productive to say, but I like the word "enchancement."

[2015-10-05 17:03] RobertFewins-Kalb commented on #1207
I'm also going to add a field for actions taken.

[2015-10-05 17:08] TMBohm commented on #1209
We see quite a few Certain Pops Applications, so it would be nice to have Certain Pops added.

Thanks, Everyone!

Treva Bohm
Eligibility Worker
218.470.8452

From: Charles P [mailto:notifications@github.com]
Sent: Monday, October 05, 2015 11:21 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Treva Bohm <treva.bohm@co.polk.mn.us>
Subject: Re: [DHS-MAXIS-Scripts] T

[2015-10-05 17:12] IlseFerris commented on #1211
Don't judge me @Farleight
LOL!

[2015-10-05 17:14] IlseFerris commented on #1209
Ok, who wants the issue then?

[2015-10-05 17:31] CDPotter commented on #1209
I can knock it out easily enough.

[2015-10-05 17:33] Farleight commented on #1211
I'm not judging. It should legitimately be a word. An enhancement that makes a thing more enchanting. Like a Pygmalion enchancement.

[2015-10-05 17:46] RobertFewins-Kalb commented on #1207
And I'm going to change "cost per person" to "Client's share of rent"

[2015-10-05 18:03] RobertFewins-Kalb commented on #1207
This is turning into a major doing. @CDPotter  and I have discussed the fact that the SF has GRH information on it. There should be functionality to support the GRH side of things.

[2015-10-05 18:06] TMBohm commented on #1209
Thanks, Charles.  I appreciate that.

Treva Bohm
Eligibility Worker
218.470.8452

From: Charles P [mailto:notifications@github.com]
Sent: Monday, October 05, 2015 12:31 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Treva Bohm <treva.bohm@co.polk.mn.us>
Subject: Re: [DHS-MAXIS-Scripts] TMBohm (#1209)

I can knock it out easily enough.

—
Reply to this email dire

[2015-10-05 18:27] theVKC commented on #1180
AUTOMATE ALL THE 2919S!! :)

[2015-10-05 18:29] theVKC commented on #1207
I lean toward reinventing this as an actions script. Thoughts-es?

[2015-10-05 18:30] theVKC commented on #1207
Also: @RobertFewins-Kalb... please indicate more detail in your message header please. Thanks please.

[2015-10-05 18:31] theVKC commented on #1208
It has my support. @ruthmaloney, any thoughts from the ME/ABAWD side?

[2015-10-05 18:33] theVKC commented on #1211
@IlseFerris, why would it be used if there's no MFIP active on the case? Would this be "in case MFIP already closed and we're case noting after the fact?" I might be missing a thing, and I don't want to be.

[2015-10-05 18:47] courtrightd commented on #1211
I don’t have time to look at it today, but is this an issue where we get a script error that I didn’t account for if someone tries to run the script in the wrong situation?   If so, I can take it.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Monday, October 05, 2015 1:33 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] MFIP to SNAP enhancement (#1211)

[2015-10-05 19:10] RobertFewins-Kalb commented on #1207
RE: ACTIONS script. My thought is yes.

[2015-10-05 19:26] CDPotter commented on #1208
Digging through this script that we built over a year ago really help drive the point home that commenting is a MUST!

[2015-10-05 19:31] theVKC commented on #1211
@courtrightd, I'll assign it to you. Feel free to add it whenever, but note that the beta release goes out today (script freeze starts tomorrow). No big deal on this issue, just thought I'd let you know.

[2015-10-05 19:47] IlseFerris commented on #1211
Well it shouldn't be used if there's no MFIP, but this, as you know, may not stop people from using it, and then reporting an error.  Just thinking ahead on some error handling is all.  Not a super priority.

[2015-10-05 19:50] courtrightd commented on #1211
Makes perfect sense, I’ll get it fixed for the next release.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Monday, October 05, 2015 2:47 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] MFIP to SNAP enhancement (#1211)

Well it shouldn't be used if there's no MFIP, but this, as you know, may not stop people from using it, and then reporting

[2015-10-05 19:54] IlseFerris commented on #1207
I always hoped that this would turn into an actions script.  For the GRH side, are you thinking it's going to update FACI?  That's a slippery slope.

[2015-10-05 19:55] IlseFerris commented on #1208
@theVKC  = vindicated

[2015-10-05 19:55] RobertFewins-Kalb commented on #1207
A very slippery slope, and one that is fraught with peril. I would like to get more information about what GRH does with a shelter form to determine if that's angle is viable.

[2015-10-05 20:04] IlseFerris commented on #1207
Indeed!  If you need help on your quest I would be willing to help you.  #SamandFrodo #OneActionToRuleThemAll

[2015-10-05 20:53] theVKC commented on #1209
Resolved by #1212. @TMBohm, it'll be included in the next release. Thanks @CDPotter!

[2015-10-05 20:53] #1209 closed

[2015-10-05 20:55] ruthmaloney commented on #1208
I like it! And we need it due to the “clarifications” we’ve received since January. Also, it would be nice to have something for counties using “banked” ABAWD months for tracking. I’ve reviewed two counties these past couple of months that were using banked months and it was very confusing, hard to track, and caused issues for the counties surrounding these because of the lack of documentation.

I

[2015-10-05 20:59] RobertFewins-Kalb opened #1213 "Bulk Lists may not working with some multicounty agencies."
Worry not. I am on it.

[2015-10-05 21:17] RobertFewins-Kalb commented on #1213
#IGTS

[2015-10-05 22:20] Y-Lor-Y opened #1217 "Notes - Approved Programs - CS disregard wcom may have an old date"
The CS disregard fiated wcom note to client has the earlier release date of 07/01/2015.  So that we're align to when to start this disregard, DHS puts this back on the table effective 10/01/2015.  Should this date be changed to 10/01/2015 for the WCOM to not confuse the client?

I can take this one on.

[2015-10-05 23:42] theVKC commented on #1217
Anyone have any thoughts on this?

[2015-10-06 02:00] RobertFewins-Kalb commented on #1207
I think I have it all worked out... check it OUT!!!

![image](https://cloud.githubusercontent.com/assets/7842016/10298372/1f91f5a8-6ba4-11e5-9e0a-6bfb4ec6afab.png)

[2015-10-06 02:02] RobertFewins-Kalb commented on #1207
...and I know you see "Check here to have the script update ADDR, SHEL, and HEST...and, yes, it totally does that. I'm going to check to make sure all my procedures are kosher and then submit the code when the code freeze is lifted.

[2015-10-06 04:06] #1197 closed

[2015-10-06 04:15] theVKC commented on #1213
I added these three, @RobertFewins-Kalb. A couple of things:

1. Not a critical bug. Only affects a few people statewide.
2. Any more scripts affected? If so, please pull them to master and beta this week, as this is a bug fix.

[2015-10-06 13:10] courtrightd commented on #1217
Yeah – it definitely has an old date, and I’m worried we may have clients rather unhappy if they start receiving disregard in Oct.  but the notice says it was effective 7/1/15.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Monday, October 05, 2015 6:42 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] Notes - Approved Programs - CS disregard wcom may have

[2015-10-06 14:51] RobertFewins-Kalb commented on #1207
please check out case notes on training case 226398 for examples of the case note. I'm eager to get some input.

[2015-10-06 15:26] theVKC commented on #1217
@Y-Lor-Y, if you want to take this one on, be my guest. If you could pull it into both master and BETA, that'd be swell. I'm going to tag this as a bug, because the date is merky and probably considered incorrect.

[2015-10-07 15:26] RobertFewins-Kalb opened #1219 "Enhancement Request -- NOTES - APPROVED PROGS -- Add checkbox to indicate the approval of expedited SNAP with postponed verifs"
Thinking something like this...

![image](https://cloud.githubusercontent.com/assets/7842016/10342237/c59bc87c-6cdd-11e5-957e-5cfd2e40f105.png)

...the check box should modify the header to draw attention to the fact that the client's benefits are open FOR NOW but will not continue to remain unless the agency receives specific docs.

[2015-10-07 15:31] RobertFewins-Kalb commented on #1217
Additional problem!!!

The script is set up to write to a notice on WCOM row 7. But we originally built the WCOM to include a DO/LOOP to find the appropriate notice.

Whoever does this needs to make sure they are building a do...loop around this...
![image](https://cloud.githubusercontent.com/assets/7842016/10342398/823ee162-6cde-11e5-9c8e-02a067a7bf00.png)

...to make sure the script is finding t

[2015-10-07 15:32] RobertFewins-Kalb opened #1220 "BUG -- NOTES - APPROVED PROGS -- the script is not set-up to select the appropriate notice to write to"
I have referenced this bug in #1217

[2015-10-07 15:36] RobertFewins-Kalb commented on #1217
@Y-Lor-Y , can I tackle both issues? I know exactly what needs to get done.

[2015-10-07 15:38] MelissaFox-Stearns opened #1221 "Dail Scrubber scripts no longer direct navigating?"
Previously when we would run the dail scrubber and it finished doing its thing, we would PF3 and this would take us back to the Dails so it could be deleted and go onto the next one.
Now when the script ends,  the PF3 goes to the Self menu instead so the worker has to enter dail/dail each time. I have noticed this on the CS Dail and Bndx scrubbers so far.

Can we get this to go back to the Dail fo

[2015-10-07 16:25] Y-Lor-Y commented on #1217
@RobertFewins-Kalb @theVKC  I'm okay with that.  Take it on!  Also, I've just noticed, ontop of the date change:  row 470, that's where the case note to the spec/wcom - the date change from July to October.
Not that this is an error, but for the display of the case note, row 548, col 72, has an extra space.
There is also another minor typo:  Row 548, Col: 108,  "as" should be "has" right?

[2015-10-07 17:40] RobertFewins-Kalb commented on #1217
Also, APPROVED PROGRAMS is getting the Operation Wind Tunnel treatment for err_msg handling.

[2015-10-08 17:14] RobertFewins-Kalb opened #1222 "CRITICAL BUG -- url for NOTES - INCARCERATION is not valid in the NOTES main menu"
I will submit a fix.

Thunderbirds are go!

[2015-10-08 17:16] RobertFewins-Kalb commented on #1222
I'm going to pass the dutchy to @IlseFerris  on the left hand side

[2015-10-08 17:29] IlseFerris commented on #1222
Got it!  Resolved with pull requests #1223 and #1224

[2015-10-08 17:52] theVKC commented on #1222
A friendly reminder: please test new scripts and changes to the menu before pulling them, folks.

[2015-10-08 17:53] #1222 closed

[2015-10-08 17:54] theVKC commented on #1221
Hey @IlseFerris, wondering if this is Doubtfire related. Did you replace the "s" and "n" that was entered on the DAIL with direct navigation? That might have messed with the flow that workers normally do. Surprised nobody caught that in beta testing, it was out for a full week.

[2015-10-08 17:54] IlseFerris commented on #1222
In my measly defense, the script hadn't been pulled yet, so I wasn't able to test it...wah wah...

[2015-10-08 18:02] theVKC commented on #1219
Any thoughts @ruthmaloney?

[2015-10-08 18:06] IlseFerris commented on #1221
https://github.com/MN-Script-Team/DHS-MAXIS Scripts/commit/404483e5133ca17428f0ae4a5a88f23dcc61e793
Here's the link to the changes I made for Doubtfire.

BNDX: only change was the FuncLib line.

CS REPORTED NEW EMPLOYER: I replaced and ERRR message with a "navigate_to_MAXIS_screen("STAT", MEMB")"

CSES PROCESSING: only change was the FuncLib line

[2015-10-08 18:13] theVKC commented on #1193
@RobertFewins-Kalb, bump. Was this resolved?

[2015-10-08 19:07] RobertFewins-Kalb commented on #1193
I haven't done anything about it. I shall fix now.

[2015-10-08 20:54] RobertFewins-Kalb commented on #1219
We will submit a fix for everything but that checkbox. It's all written into the code but commented out so all we would need to do is remove 5 comment marker thingys.

[2015-10-08 21:38] RobertFewins-Kalb opened #1230 "NOTES - CSR -- notes on income not being case noted"
In my haste, I forgot that notes on income should actually be included in the case note. I will add it in.

[2015-10-09 02:44] theVKC commented on #1193
Resolved by #1225.

[2015-10-09 02:44] #1193 closed

[2015-10-09 13:31] theVKC commented on #1217
Resolved by #1227.

[2015-10-09 13:31] #1217 closed

[2015-10-09 13:31] theVKC commented on #1220
Resolved by #1227.

[2015-10-09 13:31] #1220 closed

[2015-10-09 14:11] RobertFewins-Kalb opened #1231 "New Script Idea -- FSET/ABAWD Double Checker Tool"
Here are the thoughts...
* The script would look for clients that are coded as needing to attend FSET and who are ABAWDs...
* The script would perform a maxis double check, looking at the EATS group, then checking the age and disability status of the people in the EATS group. Then it would check JOBS, UNEA, SCHL, PROG, PBEN and PREG to make sure that the client that is coded as an ABAWD and needs

[2015-10-09 14:29] RobertFewins-Kalb commented on #1231
The DAIL Scrubber could be run off the PEPR message informing the worker that the client had used their 3 months of ABAWD eligibility.

The ACTIONS script would be run one case at a time.

The BULK script would be run for an entire caseload or an entire agency. @CDPotter  and I are submitting a request for a report to identify all the clients that are coded 30/10 or 30/11 so we do not have to run

[2015-10-09 14:32] RobertFewins-Kalb commented on #1231
@ruthmaloney , do you have any thoughts on the matter?

[2015-10-09 14:52] jasont35 opened #1232 "New Script Idea-- Bulk case list for MAXIS cases that have a related MNsure case."
Is there a way to have a script check all active MAXIS cases in your county and then check MMIS for an affiliated active MNsure case and list those cases and the affiliated case numbers in excel?

Example spreadsheet fields:

Case Name        MAXIS case #        MNsure case #       Active programs

[2015-10-09 16:18] theVKC commented on #1232
I wouldn't be able to devote time to this, but I think it sounds wonderful. Perhaps Anoka has something like this, either from when I was there or after? @CDPotter? @RobertFewins-Kalb? @mldietz?

[2015-10-09 16:19] theVKC commented on #1231
I for one love this idea.

[2015-10-09 17:40] RobertFewins-Kalb commented on #1232
In Anoka County, we use the fabulous Web-I tool to track that information.

[2015-10-09 17:41] RobertFewins-Kalb commented on #1232
There's a report in the area for MNSure (New Eligibility System) that will give you a list of all members in your county that are active in both systems. The output includes their PMI, SMI, Maxis Case Number, and MNSure Integrated Case number.

[2015-10-09 17:42] RobertFewins-Kalb commented on #1232
I have a script built to clean up that list. It takes about an hour to run, but it finds the maxis worker's x1 number and their supervisor. Then we filter the results and send them out to each supervisor.

[2015-10-09 18:08] jasont35 commented on #1232
Thank you for the information Robert. Would I be able to use that script?

[2015-10-09 19:55] RobertFewins-Kalb commented on #1232
The code is right here...

https://raw.githubusercontent.com/RobertFewins-Kalb/Anoka-Specific-Scripts/master/UPDATE%20MAXIS%20MNSURE%20WEB%20I%20REPORT.vbs

A few things about it...

(1) You will need to update the file location and workbook names for it to work for you...
![image](https://cloud.githubusercontent.com/assets/7842016/10403974/34837a60-6e95-11e5-874e-c8d2bf85b6f8.png)

(2) The busine

[2015-10-09 20:05] jasont35 commented on #1232
Thank You @RobertFewins-Kalb

[2015-10-12 14:00] ruthmaloney commented on #1231
I love the idea also! We know there are a lot of cases that are not allowing the correct ABAWD exemptions. Commonly surrounding the most recent policy clarifications on WREG coding 21/04 (care of child <18) and 04/01 (care of an ill/incapacitated member). Our test samples also found issues with not allowing the exemptions for 22/01 (Applied/appealing SSI – related to PBEN) and 17/12 (RCA/GA recipi

[2015-10-12 14:08] theVKC commented on #1110
Assigned it to myself just so it doesn't show up as unassigned. @CDPotter and @C-Love and others have indicated a willingness to test, but more testers are welcome. :)

[2015-10-12 14:16] theVKC commented on #1230
@RobertFewins-Kalb, can we get a bump on this?

[2015-10-12 14:25] theVKC commented on #1232
@RobertFewins-Kalb, would you be willing to submit this version of the script: a version that does NOT generate a list of each MAXIS case, but rather uses WebI info to do it? Any thoughts on that?

[2015-10-12 14:29] theVKC commented on #1208
Per @CDPotter, this is done. Just waiting on script freeze to end. Also, please add a comment with the manual time to process for agencies estimating time savings. Thank you! :)

[2015-10-12 14:45] theVKC commented on #1017
Closing for the moment due to other priorities, per @MelissaFox-Stearns. Will reconsider opening it at a future date.

[2015-10-12 14:45] #1017 closed

[2015-10-12 14:46] IlseFerris opened #1233 "CSR exempt IR enhancement--remove signature portion"
Hennepin County worker requested enhancement. "When you run the CSR script for exempt review, it does not auto-pop your signature, it prompts you to sign your case note."

Worker signature could be moved to the initial dialog, and subsequent portion of the coding to add signature to exempt IR could be removed.

I can take this, unless someone at hackathon is looking for an easy win?

[2015-10-12 15:03] theVKC commented on #1233
@IlseFerris, couldn't the "sign your case note" just be set to worker_signature with a dialog? Wouldn't that solve the problem? Not everyone has the auto signature functionality...

[2015-10-12 15:04] theVKC commented on #1222
wah wah indeed.

[2015-10-12 15:05] C-Love opened #1234 "Interview completed script"
Create a script that can case note when an interview has been completed but STAT panels have not been completely updated. It would case note some essential portions of an interview and allow workers to note things.

The NOTES - CAF script could then be run later to fully document the CAF processing.

This is particularly useful when a worker has interviews stacked closely together and does not hav

[2015-10-12 15:17] C-Love opened #1235 "NOTES - Approved Programs - default the months of elig to case note to Current and Current + 1"
Currently the script requires the user to manually update that they want 2 months of elig results case noted. This would be an enhancement to have the 2nd month default to current footer month + 1.

[2015-10-12 15:17] IlseFerris commented on #1233
It could.  It's an extra step either way that I think can be streamlined by adding the worker signature field to the initial dialog.

[2015-10-12 15:22] IlseFerris commented on #1234
What about having an option in the CAF status be "Interview complete, processing not complete" (or something like that).  My county struggles already with "what script to use when", as I'm sure others do too.  Thoughts?  I'm trying to hackathon remotely here as best as I can :)

[2015-10-12 15:45] devonne01 opened #1238 "Enhancement-MMIS message box reminder"
Many times I've gotten HC renewals or CSR in late and MMIS has auto closed and I have updated my Maxis case and approved HC to continue only to forget to go into MMIS and re-open MMIS. Thinking about having a message box pop up that  if someone is processing HC that will remind them to update/check MMIS to make sure that it's active. Any input?

[2015-10-12 15:56] devonne01 opened #1239 "New Script Idea-County Burial Application"
I do county burial applications in Wright County and right now free hand the case note in Maxis would like a county burial script. I can start on it.

[2015-10-12 16:20] CDPotter commented on #1234
@IlseFerris  I would say that may not be the best idea. Say you run the CAF on a 3 year old case, it's gonna pull through any old panel that's still out there case noting old information. Seems like it would clutter up case notes to run the CAF twice.

I think I like the idea as something simple but it's hard to think of what should be required and what shouldn't.

To me an interview completed scr

[2015-10-12 16:25] theVKC commented on #1234
@IlseFerris: I agree with @CDPotter's interpretation. That's precisely why such a script makes sense.

@CDPotter: I don't think the WIF is currently in use, but it was not county specific; that was a DHS form.

[2015-10-12 16:26] theVKC commented on #1234
@C-Love, this script has my support. Go for it! :)

[2015-10-12 16:29] theVKC commented on #1238
I like it, but we'll leave it as a question/call for input.

[2015-10-12 16:51] #1230 closed

[2015-10-12 17:33] RobertFewins-Kalb commented on #1232
I will make some modifications, such as prompting the user to specify the location of the spreadsheet, but I will eventually get to it.

[2015-10-12 17:51] theVKC commented on #1232
Great! Thanks!

[2015-10-12 17:54] StormageddonDLOA opened #1247 "New Script Idea - SNAP ABAWD FIATer"
New script that will FIAT SNAP results when there is an adult in the home with a minor that they are NOT the parent of granting them an ABAWD exemption.

[2015-10-12 17:54] StormageddonDLOA commented on #1247
Working on it now.

[2015-10-12 18:13] MelissaFox-Stearns commented on #1233
I'll take this one! I could use an easy win :)

[2015-10-12 18:22] IlseFerris opened #1250 "DAIL scrubber: update MEMI panel with cit/id response"
Request from Hennepin County user: "It would also be nice if the (MEMI CIT/ID DAIL) scrubber (case noted) then went into memi maxis panel & changed Citizenship Ver to OT(other) for this DAIL message: “MEMI: CITIZENSHIP HAS BEEN VERIFIED THROUGH SSA”

[2015-10-12 18:32] MelissaFox-Stearns opened #1251 "Check EDRS- Run for all household members automatically"
I was thinking about enhancing the EDRS action script to automatically check for all household members instead of running it for each person. It could messagebox if there is a match to alert the worker before continuing onto the next member.

[2015-10-12 18:39] CDPotter commented on #735
I think I resolved this one with the #1206 script. (based on #1180 issue) The script provides the template found in poli/temp and allows the worker to enter the needed verification(s) (it will calc the dates based on the app date) and add it in a WCOM.

[2015-10-12 18:42] IlseFerris commented on #1234
Makes sense.  My initial thought was information that was pertinent could stay in the case note, rest could be redacted or updated manually to reflect what is known/updated at intake. Just wanted to throw my two cents in. Remember how I'm not there, sigh.....
I thought of a WIIF case note myself at one point, but the WIIF was been erased from all existence. I like this, it will really help with ou

[2015-10-12 19:30] IlseFerris opened #1252 "FMED: update the FMED panel, and case note the details of the medical expenses"
Basically can update the FMED panel, and case note the details of the medical expenses (following CM 0018.12).  Since this is a sticky area for a lot of people, a kick a** tool would be amazing.

[2015-10-12 19:55] RobertFewins-Kalb opened #1253 "New Script Idea -- Integrate the Web-I tool with scripts, enabling workers to double check their MAXIS cases against MNSure to determine if their client is active in both systems"
Anoka County is going to run something like this locally. The tool is quite crude -- it's just going to create a copy of the most recent master list (maintained manually) and the script will filter the entire spreadsheet according to the worker's search result, displaying the query criteria in the closing msgbox.

[2015-10-12 20:00] Y-Lor-Y commented on #1147
the panel navigation to ELIG_GRH_button currently not within the function lib.  I've added that just now to the library, so will wait until that's fixed before I post my fix for this issue.

[2015-10-12 20:53] CDPotter opened #1254 "Updating workforce center name"
Per sir discussion board "This is Sandy from Chippewa County, we need our spec/memo for FSET to say Montevideo Workforce Center instead of Chippewa Workforce Center."  I can knock this out quickly.

[2015-10-13 12:30] C-Love commented on #1234
I ended up with a pretty simple script. I tried to keep it something workers can run very quickly but still give some basic information. I have kind of highlighted the XFS portion as that seems to be the most urgent needs when interviews are completed on SNAP applications.

Other than HH Comp, it does not pull any information from STAT to autofill - so workers do not need STAT to be completely up

[2015-10-13 13:50] MelissaFox-Stearns commented on #1251
Done. This is super cool...
https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/pull/1257

[2015-10-13 15:12] MelissaFox-Stearns opened #1258 "Add household member name to Medical Opinion Form Received script"
I think it would be a good idea to put the household member name on this script so we can easily identify who the form is for.
This is an easy fix and I can update it if y'all are okay with this change :)

Mel

[2015-10-13 15:47] RobertFewins-Kalb opened #1259 "Krabappel Enhancement -- Create Macro to Copy Template, Add New Workbook to Front of List, and Prompt User for New Scenario Name"
We are finding that for more technologically challenged users, the process of copying the template, adding it to the front of the list, and renaming it would be simpler if there was a button to simplify the process.

[2015-10-13 15:48] RobertFewins-Kalb commented on #1259
Then we could hide the template workbook along with the controls workbook to preserve the integrity of the software (it's not a script at this point...this thing is a massive beast and its developers are hereby granted the title Beast Master)

[2015-10-13 15:56] theVKC commented on #1259
:)

Only thing I worry about is that macro-enabled documents can sometimes be impossible to email to each other. Plus, Office 2013 has a tendency to open macro-enabled documents in a restricted mode (a setting needs to modify to make it a "trusted document"). If you feel the risks of confusion from that outweigh the risks of confusion from copy/pasting, be my guest.

[2015-10-13 16:49] MelissaFox-Stearns opened #1260 "Interview No Show.. New script or Enhancement?"
I have heard from a lot of my co-workers here at Stearns that they would like a case note script for Interview No Show/ No answer when the client does not show or does not answer the phone for a scheduled interview.

I realize there is a NOMI Script, however this only applies to SNAP cases.
We also have the Lobby No Show script, however that indicates the worker paged the client. We don't page our

[2015-10-13 17:10] C-Love commented on #1260
We could certainly rework this to be more accommodating to other interview processes. We have a similar process where clients are scheduled to a worker and the worker is notified - but then occasionally they still leave. So - then the wording would just be adjusted.

I was thinking to keep this one pretty simple as the interview no show is typically separate from programs being pended or processed

[2015-10-13 17:21] C-Love commented on #1221
@theVKC I think I need to make a bit of an argument for this being a bug. Ramsey County users experienced a HUGE decrease in efficiency with this change. Processing the large number of CSES DAILS on the case loads slowed their work immensely with this navigation issue. There was a large outcry.

[2015-10-13 17:43] RobertFewins-Kalb commented on #1221
I can take on fixing this. I made the most recent update and I can have it navigate back to DAIL/DAIL for that client.

[2015-10-13 17:46] RobertFewins-Kalb commented on #1221
Brief synopsis of my update: Doubtfire update include a navigate_to_MAXIS_screen, but it was not gathering the case number so it did not work. Utilizing navigate_to_MAXIS_screen, however, also requires the script to go back to SELF, which is why it is going back to SELF when you PF3 from case note, whereas, before, the script was navigating through the case directly from DAIL/DAIL, which is why it

[2015-10-13 18:18] RobertFewins-Kalb commented on #1221
Or, I suppose, just this...

![image](https://cloud.githubusercontent.com/assets/7842016/10463929/e712a3e4-71ac-11e5-86d8-628dd6206164.png)

[2015-10-13 18:29] C-Love opened #1261 "CAF check if WREG exists for a minor child, throw error instead of script breaking"
I am not sure if this is something we want to write into the script or not. It is a bit of an oddity.
Some workers add WREG panels for children under the age of 16 - they then code it with '06 - Under Age 16' in the FSET Status and leave ABAWD Status blank. I have been told this is acceptable. (No idea why anyone would want to add WREG panels for children). The NOTES - CAF script Errors out when i

[2015-10-13 19:31] MelissaFox-Stearns commented on #1260
It's aight, we can keep your's the way it is. Just something I was noodling over.

I think then (at least here in Stearns) we need a script for when a client doesn't check in at the front desk for their In person interview or client doesn't answer their phone for their phone interview. And something that can be used for all program interviews.
So I'm going to write this script. I don't hear any ob

[2015-10-13 19:43] C-Love commented on #1221
@RobertFewins-Kalb That looks like it would fix it for the CS REPORTED NEW EMPLOYER.
Workers are saying the issue is when Processing Disbursements as well. In fact the worker says that she used to use the 'View/Pick Selection' function on DAIL to have only CS DAILs viewed and when the script finished that maintained the Selection she had.

I see on line 296 that there is a 'navigate_to_MAXIS_scree

[2015-10-13 19:45] C-Love commented on #1260
What if we had 2 paths for this script - so an initial dialog that the worker can select scheduled or sameday.? Then the scheduled one would lead to what you are thinking, and sameday would lead to the one that exists. That way there is more flexibility without loosing the speed.

[2015-10-13 19:47] C-Love opened #1262 "Approved Programs error when 2 cash programs have different outcomes"
Basically if a worker denies a cash program the same day they approve a different cash program, the NOTES - Approved Programs Script has difficulty. This might happen if Cash was pended on a family case that also has an SSI adult. Then MSA is denied and MFIP approved.

[2015-10-13 19:50] C-Love opened #1263 "Enhancement for Duplicate Assistance WCOM - available for MFIP"
Can we add functionality for this WCOM to work on an MFIP case when there is a duplicate assistance situation?

[2015-10-13 19:55] C-Love opened #1264 "Expedited Determination - Seperate Case Note"
It has been suggested that once a SNAP interview is completed a separate case note that details exactly why or why not a case is expedited would help with our XFS QC numbers. Essentially workers are not clear enough in terms of their final assessment for expedited.

I am thinking of this as a new script that will read some STAT panels and do some calculation - kind of a cross between CAF and Exped

[2015-10-13 20:09] ruthmaloney commented on #1264
When we look at expedited cases, we look for the following:

·         to see that the app was screened the same day it was received (within business hours),

·         whether the applicant was offered a same/next day interview,

·         whether the interview took place within 5 business days,

·         if a phone interview was offered,

·         if the worker requested more than just a form

[2015-10-13 20:36] MelissaFox-Stearns commented on #1260
Heck yeah,  I can get on board that train!
How about this... I'll work on the dialog and script for my end and then I'll connect with you about possibly putting them together?
In the meantime, I'm open for more feedback. Thanks Casey!

[2015-10-14 13:42] CDPotter commented on #1261
Typically when @RobertFewins-Kalb and I have run into these we've been telling people to just update the ABAWD code. I'm fairly sure that if you pf9 on the panel you will get an edit stating ABAWD code is missing and you can't save it until you code it as such. I think our logic for not fixing it was it brought attention to the incorrectly coded ones. We had issues with workers just pf10ing to get

[2015-10-14 13:43] Y-Lor-Y opened #1266 "MEMOS - Appointment Letter"
This is specifically for Ramsey County's location.  We have a 2nd location out in the hub, Community Action Building.  If we could have the addition with the Ramsey options in the dropdown box, please.
Address: 450 N. Syndicate, St. Paul, MN 55104.

Thanks.

[2015-10-15 13:53] MelissaFox-Stearns opened #1268 "HRF- Add case note grant info from Elig/FS for UHFS cases"
Coworker brought up today that the HRF has the option to check the box to case note grant info from Elig/Mfip, however if the HRF is for UHFS, it has no option to case note the elig results from SNAP.

I think it would be cool if we also made a check box for the SNAP (UHFS) to case note the amounts.

[2015-10-15 17:40] IlseFerris opened #1270 "New job reported cancel bug"
Footer month not autofilling, and looping issue with MAXIS Dialog navigation

pull request #1269 resolves this.

[2015-10-15 18:00] theVKC opened #1271 "Appt letter: Hubbard County intake address needs updating"
They are at 205 Court Ave, Park Rapids, MN 56470. Any takers? Easy win.

[2015-10-15 18:01] theVKC commented on #1266
Is there a room number for that?

[2015-10-15 18:02] theVKC commented on #1266
Also, see #1271. If someone works on this issue, please add #1271 to the list too.

[2015-10-15 18:03] theVKC commented on #1250
I'm actually not sure if this is policy correct. Why am I thinking we need the worker to do this manually? Anyone care to take it up with HC policy? It could be a bit before I can reach out.

[2015-10-15 18:06] theVKC commented on #1253
Because you made it an issue... do you want to take this to add it statewide?

[2015-10-15 18:08] theVKC commented on #1260
I like the idea of modifying the one script to do both things. @MelissaFox-Stearns, @C-Love, either of you feel like taking it?

[2015-10-15 18:10] theVKC commented on #1261
My vote would be to program the script to error out _with additional info to inform the worker._ Any thoughts? @ruthmaloney, have anything to say?

[2015-10-15 18:10] theVKC commented on #1262
Any ideas for a fix, @C-Love?

[2015-10-15 18:11] theVKC commented on #1263
Can we? Sure!
Should we? Do you feel like doing it, @C-Love?

[2015-10-15 18:12] theVKC commented on #1264
@C-Love, based on @ruthmaloney's point, do you want to leave the issue up?

[2015-10-15 18:13] theVKC commented on #1268
Do you feel like taking this on @MelissaFox-Stearns?

[2015-10-15 18:14] Y-Lor-Y commented on #1266
No, there's no room number.
I can try this.

[2015-10-15 18:21] Farleight commented on #1271
Never looked at that script before, but I'm assuming it only requires this?:

elseif worker_county_code = "x129" then
	agency_office_array = array("Hubbard")

ELSEIF worker_county_code = "x129" THEN
    agency_address.street = "205 Court Ave"
    agency_address.city = "Park Rapids"
    agency_address.zip = "56470"

If so, I can probably handle that.

[2015-10-15 20:27] RobertFewins-Kalb opened #1273 "NOTES - Expedited Screening is no longer providing a msgbox of results when it can't case note"
@CDPotter had fixed this, but I believe doubtfire reduced the script's functionality.

[2015-10-15 20:28] CDPotter commented on #1273
I'm looking into a fix.

[2015-10-15 22:39] RobertFewins-Kalb opened #1277 "The CS DISREGARD WCOM should be a stand alone script"
So that workers can tell the script which months to be putting the WCOM into the notice...for approvals of multiple months.

We have a stand alone script and can submit the pull.

[2015-10-15 23:10] IlseFerris commented on #1250
I'm checking into this. Standby...

[2015-10-16 10:58] IlseFerris opened #1278 "critical bug: BULK REPT INAC needs worker_county_code removed"
Not working in all branches except for the county of origin

[2015-10-16 11:09] IlseFerris commented on #1278
Pull requests #1279-#1281 resolves this

[2015-10-16 13:37] Y-Lor-Y commented on #1266
Sorry...I found out that that location do have a suite #.
Full address:  450 N Syndicate St. Suite 250 St. Paul, MN 55104.

[2015-10-16 15:31] C-Love commented on #1264
I guess I am conflicted on this point. We use the Expedited Screening script when an application is received and don't have anything but the CAF1 to go off of. More often than not this information is determined to be different once the interview is completed. The complicated cases and situations then seem to become a little unclear if something is screened as expedited but then in the course of th

[2015-10-16 15:33] C-Love commented on #1263
Yes, I can will take it.

[2015-10-19 13:41] #957 closed

[2015-10-19 13:45] theVKC commented on #1273
"Fixed" = enhancement. #ImNotStillBitterAtAll

Also, I think a better, more permanent solution to our woes would be to modify the function itself to provide some sort of doublecheck like this. That way, this sort of thing would be detected.

I think it also speaks to a need for scriptwriters to consider testing multiple scenarios when working on enhancements. Had we tested an out-of-county case, w

[2015-10-19 13:47] theVKC commented on #1277
Is this on Approved Progs now? If so, are you proposing it be removed? Chain run? Whacha thinking @RobertFewins-Kalb?

[2015-10-19 13:55] RobertFewins-Kalb commented on #1277
I wasn't thinking about chain loading, but just having a script that will dump the verbiage on the notice should someone forget to hit the checkbox, or should someone have notices from multiple months to add the WCOM.

[2015-10-19 15:10] #1219 closed

[2015-10-19 15:13] #1233 closed

[2015-10-19 15:16] #1239 closed

[2015-10-19 15:19] #1254 closed

[2015-10-19 15:20] #1234 closed

[2015-10-19 15:21] theVKC commented on #1251
(Reopening only because it's closed _by_ a pull request, I like order. :)

[2015-10-19 15:22] #1251 closed

[2015-10-19 15:27] theVKC commented on #1258
Resolved by #1265.

[2015-10-19 15:27] #1258 closed

[2015-10-19 15:29] #1270 closed

[2015-10-19 15:31] #1174 closed

[2015-10-19 15:37] #1278 closed

[2015-10-19 15:41] IlseFerris opened #1284 "Move Client Contact button"
Reported on SIR discussion board:
Is it possible to put the Client Contact button on the main power pad, instead of having to click Notes, then client contact?  This is probably the most used button, especially on intake days, and it would be nice to save a click.  Not sure if this can be customized without changing for everyone?  If so, please provide instructions.
Thanks!

[2015-10-19 15:48] #1273 closed

[2015-10-19 15:49] theVKC commented on #1284
No. This would require all counties to upgrade their scripts, just to move a button. Plus, you do that for one script, and what comes next? Can't open those floodgates.

[2015-10-19 15:50] #1284 closed

[2015-10-19 15:50] theVKC commented on #1271
@Farleight, any chance you can pound it out in an hour or so?

[2015-10-19 15:53] #1208 closed

[2015-10-19 15:53] Farleight commented on #1271
That depends if that was accurate or not. If so, yes, it's pretty much pounded. Do you assign now, or should I pull request?

[2015-10-19 15:57] theVKC commented on #1271
Go ahead and pull request, please and thank you!

[2015-10-19 16:10] Farleight commented on #1271
I did a thing... possibly even the correct thing, but we'll let that be a surprise.

[2015-10-19 16:11] #1271 closed

[2015-10-19 16:16] theVKC commented on #1026
This is already in there. Not sure why the issue still exists.

[2015-10-19 16:16] #1026 closed

[2015-10-19 17:38] theVKC commented on #1271
You're amazing, @Farleight! Thank you!

[2015-10-19 17:39] Farleight commented on #1271
I've always suspected so.

[2015-10-19 19:58] theVKC commented on #1278
So, we reverted @IlseFerris' commits and had @RobertFewins-Kalb add back county-determination pieces. :) That was #1287.

[2015-10-20 19:36] MelissaFox-Stearns commented on #1268
Yes! Assign away :)

[2015-10-20 19:40] MelissaFox-Stearns commented on #1260
I can take it. I'll connect with @C-Love to help as needed :)

[2015-10-20 20:55] IlseFerris commented on #1284
Works for me.  Thanks!

[2015-10-20 21:28] C-Love commented on #1110
I have run into an issue. Write_panel_to_MAXIS_SHEL has the wrong coordinated for some of the fields:
  Subsidized should write to: 6, 46
  Shared should write to: 6, 60
  Paid to should write to: 7, 50

[2015-10-20 21:55] C-Love commented on #1260
@MelissaFox-Stearns - Rock on! Let me know what I can do. I will be at the next Stearns hackathon so we could connect then as needed.

[2015-10-21 12:23] RobertFewins-Kalb commented on #1110
I have fixes all ready. There are also a couple of Krabappel fixes for the func lib that have been sitting out there for a while @theVKC

Sent from my iPhone

On Oct 20, 2015, at 4:28 PM, C-Love <notifications@github.com<mailto:notifications@github.com>> wrote:

I have run into an issue. Write_panel_to_MAXIS_SHEL has the wrong coordinated for some of the fields:
Subsidized should write to: 6, 46
S

[2015-10-21 14:55] RobertFewins-Kalb commented on #1110
@C-Love we have been testing the crap out of this over the past 2 weeks and have hit quite a few snags. @CDPotter  or I should be able to submit pull requests with all the results.

[2015-10-22 12:50] C-Love commented on #1110
Ok - I was having some issues but I wasn't sure how much was user error. I will keep working at it a bit. I think I am figuring out what I was doing wrong. @RobertFewins-Kalb I will keep a list but wait to post until the pull requests go through.

[2015-10-22 14:04] RobertFewins-Kalb commented on #1110
Here are a few places where I've had to make fixes...

DCEX -- we need to do more thorough data validation for the child number. In the interim, I have had the function convert the number to a 2 digit number should the length be 1.

MEDI -- the function is not pulling MEDI_apply_prem_to_spdn OR MEDI_apply_prem_end_date through as parameters and it is not writing the values in Maxis (causing stat e

[2015-10-22 15:25] RobertFewins-Kalb opened #1297 "CRITICAL BUG -- ACTIONS - CS DISREGARD FIAT is applying an incorrect amount b/c of scientific notation"
I have submitted a fix to master, beta, and release.

[2015-10-22 15:28] theVKC commented on #1297
How was this not caught? @RobertFewins-Kalb, I'll pull this in, but can you investigate why nobody flipping noticed this?!?

[2015-10-22 15:30] RobertFewins-Kalb commented on #1297
I have the same questions myself. We tested the hell out of this and it didn't dabble in the dark arts of scientific notation then. Thank the maker for those msgboxes.

[2015-10-22 15:30] theVKC opened #1298 "Add comments explaining your workaround, Robert"
@RobertFewins-Kalb, on the CS FIATer, please add comments explaining why you did a scientific notation workaround, and how it works. Not critical, but please do it for me. Thanks!

[2015-10-22 15:31] #1297 closed

[2015-10-22 15:31] RobertFewins-Kalb commented on #1297
If the script finds that the amount of disregard being applied is less than 0.01, it converts it to 0.

[2015-10-22 15:35] theVKC commented on #1259
@RobertFewins-Kalb, was this done? Also, did you want to take this?

[2015-10-22 15:37] theVKC commented on #1297
@RobertFewins-Kalb, please insert that into a comment in the actual script, per issue #1298. :)

[2015-10-22 15:38] theVKC commented on #1110
FYI: FuncLib pull requests will start being accepted again Monday at DHS hackathon. Just haven't had time to do it in the last few weeks. Now, I'm going to return to my vacation. :sunglasses:

[2015-10-22 18:20] CDPotter opened #1299 "Call for input Changing HCAPP verbiage"
The question has been tossed around here that the HCAPP verbiage in scripts like Closed Progs and Denied is misleading to support staff. The fear is they will advise the client of the incorrect method to reapply for HC benefits.

Do people think we should update mentions of HCAPP to be something like "New HC application"? or would it just make sense to explain to people that HCAPP just stands for

[2015-10-22 18:31] CDPotter opened #1300 "Enhancement CSR Next button"
CSR currently has an OK button on first panel. I'm thinking it might be a bit more clear if it was a next instead of an OK similar to the CAF. Submitting fix.

[2015-10-23 21:26] CDPotter opened #1302 "BUG Verifs needed checkboxes don't do anything"
Reported on SIR:

When box is checked for "DHS2919A -Verification A is sent" it is not carrying over into the case note.

Another issue with this script is it's not carrying over the Sent to AREP option to the case/note. Thought I'd mention that on this thread rather than creating a new thread since it's for the same script.

Submitting fix

[2015-10-26 15:12] theVKC commented on #1299
I like it!

[2015-10-26 17:22] RobertFewins-Kalb commented on #1231
This is live. I'm going to close the issue.

[2015-10-26 19:11] C-Love commented on #1110
I have not been able to redirect the path in the dialog box to a new filename. I fill in the new filename information and when I press 'reload details' I get a msgbox that says I must select a scenario. If I do that, the script moves forward instead of loading in new details from the alternate file I have saved. So basically I have to save the file as Krabappel template, in the same location for t

[2015-10-26 19:16] RobertFewins-Kalb commented on #1110
We need to add a condition to the do/loop like in NOTES - VERIFS REQUESTED where it exists the do/loop when buttonpressed = -1 to make sure it is not error checking when you try to update the file path. On it.

[2015-10-26 19:20] RobertFewins-Kalb commented on #1110
...and make sure it opens the Excel file AFTER the dialog.

[2015-10-26 19:30] RobertFewins-Kalb commented on #1110
I am going to test logic that does this...
DO
DO
DO
 IF ButtonPressed = reload_excel_file THEN
 * Close the Excel file that is already open (because Excel has to open in order to have an array with scenario names)
 * Reload the new file
LOOP UNTIL ButtonPressed <> reload_excel_path
LOOP UNTIL ButtonPressed = -1 AND scenario_dropdown <> "Select one..."
LOOP UNTIL final_check_before_running = vbYes

[2015-10-26 21:00] RobertFewins-Kalb commented on #1110
Alright...one custom function later and it's updated. Tested and working. I'll submit a fix.

[2015-10-26 21:00] RobertFewins-Kalb commented on #1110
@C-Love , thank you for testing!

[2015-10-26 21:17] RobertFewins-Kalb commented on #1110
Resolved in #1312

[2015-10-26 21:29] #1221 closed

[2015-10-26 21:51] #1300 closed

[2015-10-26 21:57] #1147 closed

[2015-10-27 18:19] ruthmaloney commented on #1261
I also don’t understand why a worker would add a WREG panel for a minor unless it prompts some sort of DAIL when the kid turns 16? I have no idea if MAXIS does that. I agree that if the workers are putting the panel in, the script should have an error message to fix it, not to ignore it – preferably delete it – I’m an advocate for no unnecessary panels. I’m pretty sure MAXIS will give an edit mess

[2015-10-27 18:23] RobertFewins-Kalb commented on #1261
It's not about blank WREG panels, the problem is when there is a WREG panel but no ABAWD status. We can't fathom why it would be allowed (other than it being a panel that was created at a time when ABAWD status wasn't a mandatory field). There is no inhibiting edit when the member is active on FS, is older than 16, but doesn't have an ABAWD status.

[2015-10-27 18:31] RobertFewins-Kalb opened #1315 "Bugs Reported on SIR -- NOTES - Application Received"
Application Received appears to have some bugs in the logic around the dialog, particularly as it applies to error checking and an ApplyMN being received.

[2015-10-27 18:35] ruthmaloney commented on #1261
If the script ignores it and MAXIS isn’t programed to produce an inhibiting edit, there will be additional errors as those children change to ABAWD age (assuming the case stays open and the worker continues using scripts). If the script continues to error out, the workers are forced to update the WREG panel or delete it if it’s unnecessarily in there, right?

Ruth Maloney

From: RobertFewinsKalb [

[2015-10-27 18:48] ruthmaloney commented on #1264
If the CAF script is used, the income and deductions reported on the script (and in MAXIS) should add the clarification needed to verify that the case is no longer expedited based on the interview and/or verifications. We don’t generally see these cases because we review cases that have been approved as expedited.

We frequently see the opposite situation – a case is screened as non-expedited (whe

[2015-10-27 19:43] Farleight opened #1316 "New Script - Bulk - EMPS List Generator"
Not my idea, but I saw it on the discussion board, and I don't see that anyone's working on it yet. Are they? If not, I have uncharacteristic full confidence in my ability to take this on... stemming mainly from the fact that I've already done it.

Basically just a copy of the SWKR generator script, but for EMPS. I could even throw extra EMPS related info in there if we so choose. (Currently just

[2015-10-27 20:09] courtrightd commented on #1316
Should be very similar to current stuff, but keep in mind the multiple caregiver problems you may have (the EMPS you are looking for might not be the first one.)   You may need to have it check elig to get the member numbers or something.  That’s the major issue I’ve had with pulling this info to my access database.  (And EMPS is seldom current, but this new script could fix that)

From: Travis Fa

[2015-10-27 20:17] Farleight commented on #1316
Valid point. I'll have to play around with that. I could just have it check every member in theory, but that would make the whole process take significantly longer... Geez Dave, I'm trying to do easy things here... Why do you gotta be all "logical" about it?

[2015-10-27 21:09] C-Love commented on #1315
So, I tried to write this to be fairly automated and I had some workers listing these same issues. The case needs to be pending first because the date of application and the programs pending are being read off of MAXIS instead of being entered by the worker. What I read on the discussion board is that the date of application and programs are not listing in the case note. This happens when it is no

[2015-10-27 21:23] C-Love commented on #1315
The problem would also exist if the case was in PND1 status since programs aren't listed.

[2015-10-28 15:26] IlseFerris opened #1318 "MFIP housing grant work around"
ACTION script to FIAT the $50 of counted HUD funds out of the MFIP budget (in FMBI?) to ensure that the housing grant is being added to the cases that are exempt from counting the subsidy income.  This would be similar to the Child support FIATer in nature, and maybe we should consider merging these since many MFIP cases need both FIATs.
I have a PDF from mentor meeting today that details out the

[2015-10-28 17:08] theVKC commented on #1315
@C-Love, are you working on this?

[2015-10-28 17:20] theVKC commented on #1318
Do you want it?

[2015-10-28 19:39] theVKC commented on #1302
Resolved by #1303. Not sure why it didn't close.

[2015-10-28 19:39] #1302 closed

[2015-10-28 19:48] #1062 closed

[2015-10-28 19:55] #1149 closed

[2015-10-28 20:01] theVKC commented on #735
@IlseFerris, based on @CDPotter's comments, are you thinking we can close this?

[2015-10-28 20:02] theVKC commented on #1250
Can I bump this @IlseFerris? How's it going? Care to share?

[2015-10-28 20:03] theVKC commented on #1266
Good luck @Y-Lor-Y!

[2015-10-28 20:04] theVKC commented on #1277
Would chain loading be better? You'd get to change one place and it'd change both? Gather better stats that way? Asking for a friend...

[2015-10-28 20:07] theVKC commented on #1110
Leaving issue open as we're still testing (thanks @C-Love you are amazing).

[2015-10-28 20:10] theVKC commented on #1261
@RobertFewins-Kalb, it kind of sounds like this gets to the heart of a few different issues we may be running into about philosophy of telling workers info vs. suggesting info. What do you think?

I propose we summit about this, and Project Gorbachev, Thursday, at Anoka.

[2015-10-28 20:11] Y-Lor-Y commented on #1266
I take it you'll also assign me #1271 too?  I'm fine with that, too.

[2015-10-28 20:11] theVKC commented on #1264
@ruthmaloney, do you think we should allow a list of "approved" reasons expedited wasn't processed? Think that might help?

[2015-10-28 20:12] theVKC commented on #1266
No, that's closed. @Farleight took care of it. :)

[2015-10-28 20:14] Y-Lor-Y commented on #1266
okay, thanks! @theVKC

[2015-10-28 20:14] RobertFewins-Kalb commented on #1261
Nayeth, Right Honourable @theVKC , for you see, I shall be leading a child support training in Dakota County, Thursday.

[2015-10-28 20:16] RobertFewins-Kalb commented on #1261
To your first question, however, I prefer that the script error out in this situation to do what Maxis _should_ be doing. That was how we first became aware of the issues with the ABAWD status. And, lo, tho tradition ought naught dictate the future, I like letting the script error out as a way of holding a torch under bottoms.

[2015-10-28 20:17] RobertFewins-Kalb commented on #1261
(I have no idea where this is coming from.)

[2015-10-28 20:26] Y-Lor-Y commented on #1277
I can see that worker may forget to click that checkbox...and wants to run that sole part of the wcom for the CS Disregard.  Chaining is good, but have that chain from another script, like processing a HRF and you want to chain it to the CS disregard...same with Approved program, but the question is, should the worker run approved program x2 to just get CS disregard on the WCOM.  I can see where R

[2015-10-28 20:28] IlseFerris commented on #735
@CDPotter resolved it. Shut it down...woo hoo!

[2015-10-28 20:31] theVKC commented on #1261
I think it should error out too, but it should error out with a message saying why it errored out. Does that make sense?

[2015-10-28 20:33] theVKC commented on #1277
Step 1. Make a separate script for it.
Step 2. Build functionality to allow Approved Programs to run the separate script.
Step 3. Collect statistics on both functions using the same metric.

[2015-10-28 20:36] RobertFewins-Kalb commented on #1261
Instead of a run time error. It makes perfect sense! Love it.

[2015-10-28 20:48] #735 closed

[2015-10-28 20:49] theVKC commented on #1261
Great! Now, can you build it, @RobertFewins-Kalb? That's my million dollar question.

[2015-10-28 20:50] IlseFerris commented on #1250
Last I heard was 9 days ago from a HC contact at DHS. I have a feeling this one might be in purgatory for a while until we hear an answer.  Go ahead and close the issue. I will manually track it for a response and re-post if applicable.

[2015-10-28 20:51] theVKC commented on #1250
Great!

[2015-10-28 20:52] theVKC commented on #186
OK, I'm closing this. I believe an upcoming project is going to supersede this request.

[2015-10-28 20:55] theVKC commented on #956
OK, I've removed this from my to-do, on advice of others, based on my upcoming schedule. Second chance at taking it! Could be a big one! @RobertFewins-Kalb? You had it before.

[2015-10-28 21:04] theVKC commented on #956
If @RobertFewins-Kalb doesn't want it, I think anyone from the @MN-Script-Team/5k-club could do it.

[2015-10-28 21:04] RobertFewins-Kalb commented on #1261
of course

[2015-10-28 21:05] RobertFewins-Kalb commented on #1261
million dollars, please

[2015-10-28 21:29] IlseFerris commented on #1318
If it's still help wanted on Monday, then yes. I'm going to try to knock out some of my other issues prior to committing.

[2015-10-28 21:47] theVKC commented on #1231
@RobertFewins-Kalb, not sure if we should close this since it's only the ACTIONS part.

[2015-10-28 22:57] IlseFerris opened #1319 "NOTES - APPROVED PROGRAMS bug when more than one cash approval exists"
Hennepin county user closed DWP, then opened MFIP. Since DWP was present, cdate was getting a TYPE MISMATCH error, and the script would not read any of the MFIP information. Be nice if this script could read that, especially for those DWP cases that many switch to MFIP. I could also see this coming up with CASH I/CASH II conversions for adult cash.

[2015-10-29 15:14] courtrightd commented on #1150
So, 30 days later I go to look at this, and maybe I'm losing it, but where is Project Mic Drop?

[2015-10-29 15:46] Y-Lor-Y opened #1321 "Action - CS Disregard Fiater"
I was running this script today and it did not seem to be working or something is off.
What happen is that the script would run just fine until it get to the parts where it checks for the UNEA panels - if found, it gives the message box that it found one of the three incomes type, to press ok to continue.  After it went through the UNEA panels checking and pressed OK to continue.  It then skips al

[2015-10-29 16:02] CDPotter commented on #1277
Question, will we need the WCOM anymore? It reads:

Starting October 1, 2015 a new law begins that allows us to not count some of the child support you get when determining your monthly MFIP/DWP benefit amount: ... Because of this change, you may see an increase in your benefit amount.

Seems like it's really only needed to inform people of the change when we started using it.

[2015-10-29 16:05] #997 closed

[2015-10-29 16:07] #1211 closed

[2015-10-29 16:09] theVKC commented on #1150
My fork of the main repo, in a branch called `REVS_scrubber_building`. That way it's less obvious. https://github.com/theVKC/VKC-Script-Changes/tree/REVS_scrubber_building

[2015-10-29 16:11] theVKC commented on #1321
Was it just for one case, @Y-Lor-Y? We aren't seeing widespread reports of this issue, are we? Seems like if it were either of those things, we'd have widespread reports of problems, when in actuality I'm not seeing any such reports.

[2015-10-29 16:12] theVKC commented on #1319
Do you want to take it, @IlseFerris?

[2015-10-29 16:12] theVKC commented on #1319
(Also, I'm calling it a bug since it's throwing a type mismatch error)

[2015-10-29 16:14] theVKC commented on #1277
No, I think we still need it in order to clarify that it's a break from the past. But I'm no expert, anyone want to reach out to an MFIP mentor? I'm wondering if @Y-Lor-Y or @C-Love would want to handle that for me, what-with-their connections and better understanding of these nuances. If not, I'll give it a whirl.

[2015-10-29 16:19] Y-Lor-Y commented on #1321
I tried it on one case only at this time.  I will test this out for cases that I can apply this script to test it out today and report back.

[2015-10-29 16:20] CDPotter commented on #1321
I've been emailing with Yang and it seems to be something to do with the MFIP_cash_status variable. The case is app close and the script will ignore cases where there's no MFIP and where the status is App close. According to the script the cash_status (from curr) must be <> "" AND <> "APP CLO"

This looks like an addition from #1294 by @RobertFewins-Kalb maybe he can shed some light? I wasn't invo

[2015-10-29 16:26] Y-Lor-Y commented on #1321
Thanks!  That explains it then.

[2015-10-29 16:40] Y-Lor-Y commented on #1277
I'm asking my connections...

[2015-10-29 17:02] courtrightd commented on #1321
I have seen this happen once as well, but haven’t had opportunity to narrow it down.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Thursday, October 29, 2015 11:11 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] Action - CS Disregard Fiater (#1321)

Was it just for one case, @Y-Lor-Y<https://github.com/Y-Lor-Y>? We aren't seeing widespread reports of th

[2015-10-29 17:15] theVKC commented on #1277
Thanks @Y-Lor-Y!

[2015-10-29 17:17] theVKC commented on #1321
Well, I know that @RobertFewins-Kalb is out until Monday. Anyone else want to take it on?

[2015-10-29 17:18] MelissaFox-Stearns opened #1324 "Check EDRS"
The variable name SSN_Number was incorrectly spelled SS_Number so it wasn't going through the SSN part of the check. This shouldn't have caused any problems because if there were any matches it would have caught the name. Anyway, the fix has been done and it seems to be working the way it's supposed to now.
I pulled the fix to Beta and Release branches also

Mel

[2015-10-29 17:18] courtrightd commented on #1321
I’ll look at it this afternoon.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Thursday, October 29, 2015 12:17 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Action - CS Disregard Fiater (#1321)

Well, I know that @RobertFewins-Kalb<https://github.com/RobertFewins-Kalb> is out until Monday. Anyone else want to take it on?

—
Reply

[2015-10-29 18:10] theVKC commented on #1324
#1317 resolved this. Thanks @MelissaFox-Stearns!

[2015-10-29 18:10] #1324 closed

[2015-10-29 18:13] theVKC commented on #1321
Wonderful. Thanks @courtrightd! Next time I'm in SLC I'm buying you lunch. Thanks for all your help!

[2015-10-29 18:47] C-Love commented on #1315
Yes please. I want it.

[2015-10-29 18:48] C-Love commented on #1264
I think that would be wonderful.

[2015-10-29 19:00] C-Love opened #1325 "Question on XFS Screening"
The question has come up regarding XFS Screening, when the client leaves one of the CAF1 questions blank we have insufficient information to determine XFS, is it then acceptable to screen the application as NOT Expedited? Maybe @ruthmaloney can clarify. I apologize if this has been addressed already. Our screeners are asking.

If we can screen them as not XFS, is there a way we can add an option f

[2015-10-29 19:05] theVKC commented on #1250
Reopened because @IlseFerris heard from DHS HC on this. She'll elaborate.

[2015-10-29 19:05] CDPotter commented on #1325
I've personally always operated on if it's blank it's a zero until stated otherwise. Seems better to err on the side of them being possibly expedited.

[2015-10-29 19:07] theVKC commented on #1325
We programmed it as "if it's blank, it's zero" to err on the side of caution. I'd love to hear if @ruthmaloney has any insight on this.

[2015-10-29 19:37] #1321 closed

[2015-10-29 19:53] Y-Lor-Y commented on #1266
I was ask to put this on hold, until the supervisors talked about how our internal scheduling system "CAFE" is going to play out before submitting the changes.  I've already completed the changes, just need to wait for final direction before submitting the changes. @theVKC

[2015-10-29 19:55] IlseFerris opened #1327 "Power pad enhancement: add eDocs link"
add eDOCS link to powerpad

[2015-10-29 19:57] ruthmaloney commented on #1325
It's best to treat as expedited until you find it's not. Feds don't care why we go over the expedited processing timeframes. We need to do everything possible to meet those timelines. Our leeway is for the apps that we've done everything we can to process timely but the client fails to comply (ex. Mailed in app for homeless person with no phone - there's only so much an agency can do). Counties th

[2015-10-29 20:19] theVKC commented on #1266
No problem, just tag the issue when you make the pull request!

[2015-10-29 20:20] theVKC commented on #1327
FYI: while this is a new button, it's not a script, but a Power Pad enhancement. Therefore, this doesn't break script freeze (just adding a button to an existing Power Pad).

[2015-10-29 20:21] theVKC commented on #1325
@C-Love, does that answer your question? Would you mind if we close the issue?

[2015-10-29 20:47] C-Love commented on #1325
Thank you, this is very helpful. I will advise our screeners.

[2015-10-29 20:47] #1325 closed

[2015-10-29 21:01] courtrightd commented on #1150
Ok, this should be done, but my testing has revealed no PRIV cases on REPT/REVS this month.  I will test it next month and then pull it in.

[2015-10-29 21:40] theVKC opened #1328 "DAIL - NEW HIRE: error out if there's five panels there"
It should notify the worker to delete one of those. Right now, it might be causing issues with breaking the functions.

Any takers?

[2015-10-29 21:43] CDPotter commented on #1328
I can do this.

[2015-10-29 21:53] theVKC commented on #1328
Thanks @CDPotter!

[2015-10-29 21:55] theVKC commented on #1150
Woot! I'll leave it up until you do pull it in, @courtrightd. And thank you!

[2015-10-29 21:57] #1328 closed

[2015-10-29 21:59] IlseFerris opened #1332 "BULK MA-EPD/Medi Part B CEI script needs instructions on SIR"
Pretty self-explanatory. Instructions are not there.

[2015-10-29 22:00] CDPotter commented on #1332
I could probably look at it tomorrow and write something up if you wanna assign it to me.

[2015-10-29 22:01] theVKC commented on #1332
Will do, and thank you!

[2015-10-29 22:05] IlseFerris commented on #1332
Thank you @CDPotter!

[2015-10-30 12:52] CDPotter commented on #1332
It has been submitted.

[2015-10-30 14:44] CDPotter opened #1333 "Enhancement PND2 interview status"
It was requested that the PND2 script be modified to document if a SNAP application has had an interview and what their expedited status is. I have made a modification and am testing it today. It will be slow testing due to the scope of the BULK script.

[2015-10-30 15:08] #1332 closed

[2015-10-30 15:08] theVKC commented on #1333
Thank you! @ruthmaloney might like this one. :)

[2015-10-30 16:10] IlseFerris opened #1335 "BULK - DAIL REPORT needs comments"
Comments, where are you? Trying to learn more about BULK scripts, and could use some comments on this script. @RobertFewins-Kalb can the gauntlet be passed to you?

[2015-10-30 16:29] RobertFewins-Kalb commented on #1335
I can and shall. Sorry aboot that.

[2015-10-30 16:30] IlseFerris commented on #1335
Thank you! I'm just trying to reverse engineer and could use the comments.

[2015-10-30 20:03] CDPotter opened #1337 "Bug LTC 1503 not using footer month variable"
Report from workers:

Just reporting that I noticed the 1503 script is not updating panels in the footer month I select initially for a 1503.  It updates in the month I have Maxis in but not the footer month it initially asks about.  So for instance- I select the footer month of September but Maxis is in October- it only updates panels in October. Maybe not such a big deal but a couple of us notic

[2015-11-02 14:52] theVKC commented on #608
This script went live a while ago.

[2015-11-02 14:52] #608 closed

[2015-11-02 14:58] theVKC commented on #908
#707 contains this basic concept and more. I'm closing this issue as duplicate per @IlseFerris.

[2015-11-02 14:58] #908 closed

[2015-11-02 15:10] theVKC commented on #1157
Closed by #1237.

[2015-11-02 15:10] #1157 closed

[2015-11-02 15:20] StormageddonDLOA opened #1338 "Locked out of MAXIS."
Bluezone version issues causing workers to get locked out of MAXIS.

[2015-11-02 15:22] theVKC commented on #1338
I'll try to find time next week to come up and check this out. Important bug. Possibly Stearns-specific.

[2015-11-02 15:27] MelissaFox-Stearns commented on #1238
That's a great idea! This happens often where people forget to update MMIS after approving or reinstating HC.

[2015-11-02 15:27] StormageddonDLOA commented on #1238
Good idea. I can take it if no one else wants it.

[2015-11-02 15:30] theVKC commented on #1259
@RobertFewins-Kalb, bumping again. Please respond.

[2015-11-02 15:32] theVKC commented on #1319
This is a duplicate of #1262.

[2015-11-02 15:32] #1319 closed

[2015-11-02 15:33] theVKC commented on #1262
@C-Love has volunteered. Thank you!

[2015-11-02 15:39] devonne01 commented on #1238
If Veronica says go ahead. I'll take it since I was the one that put it out there. Shouldn't be to hard to add message box. But will let others know if I need help :)

[2015-11-02 15:48] theVKC commented on #1299
@CDPotter, we're discussing this at hackathon and I've made the decision that this is wise, however, we should probably create separate issues for each affected script. As such, closing this question. Good luck!

[2015-11-02 15:48] #1299 closed

[2015-11-02 15:50] theVKC commented on #1238
Go for it, @devonne01!

[2015-11-02 15:54] theVKC commented on #1318
@StormageddonDLOA has volunteered to take this on. Thank you!

[2015-11-02 15:55] theVKC commented on #1337
@IlseFerris has volunteered. Thank you!

[2015-11-02 15:57] IlseFerris commented on #1318
New POLI/TEMP reference for this: TE02.10.100 HOUSING GRANT WITH SUBSIDIZED HOUSING

[2015-11-02 16:19] theVKC commented on #1318
[WORKAROUND FOR SPECIFIC MFIP UNITS RECEIVING SUBSIDIZED HOUSING.pdf](https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/files/25430/WORKAROUND.FOR.SPECIFIC.MFIP.UNITS.RECEIVING.SUBSIDIZED.HOUSING.pdf)

[2015-11-02 17:44] ruthmaloney commented on #1333
Yes, very much so! Anything to improve our expedited timeliness is appreciated!

Ruth Maloney

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, October 30, 2015 10:09 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Maloney, Ruth S (DHS) <Ruth.Maloney@state.mn.us>
Subject: Re: [DHS-MAXIS-Scripts] Enhancement PND2 expedited/interview status

[2015-11-02 17:46] RobertFewins-Kalb opened #1340 "Enhancement Request -- MEMOS - APPOINTMENT LETTER -- add field for additional information"
An LEP worker today requested that there be an additional field in MEMOS - APPOINTMENT LETTER for additional information for the client. She sets up a lot of interviews through interpreters and the appointment letter causes some confusion for her clients who are unaware of the interpreter service.

The idea would be to add these additional notes at the end of the appointment letter in those (rough

[2015-11-02 19:33] GayS opened #1341 "Statistical Data - Manual timing"
It would be really helpful if scripts included manual time to complete script as part of the "gathering stats" language as standard practice.  This would assist all data reports to be consistent when analyzing amount of time saved by using scripts.

[2015-11-02 22:04] theVKC commented on #1340
@ruthmaloney, do you see/foresee a problem with adding text to the appointment letter? I know it's quite prescribed from a policy perspective, and we've gotten in trouble in the past for writing notes-to-the-client on there.

[2015-11-02 22:05] theVKC commented on #1341
This will be an ongoing project. As such, I'm self-assigning it to track.

[2015-11-02 22:14] Y-Lor-Y commented on #1277
Here is my response from DHS - BA:
It is recommended that whenever the worker has fiatted the exclusion into the MFIP or DWP budget calculation, the resulting notice should include the worker comment.  This applies to all approvals done beginning in 10/15 and continuing until background has been updated to include the exclusion.  Once the system is automated, the worker comment will not be needed;

[2015-11-02 22:16] RobertFewins-Kalb commented on #1277
#AdNauseam

[2015-11-02 22:16] ruthmaloney commented on #1340
I think it’s fine to add information about interpreter services on the letter. If I understand this correctly, the worker wants to inform the client that they will be using an interpreter for the interview – seems to make sense to give them this information ahead of time.

Ruth Maloney

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Monday, November 02, 2015 4:04 PM
To: MN-Script

[2015-11-02 22:18] RobertFewins-Kalb commented on #1277
@Y-Lor-Y , thank you for looking into that.

[2015-11-02 23:04] Y-Lor-Y commented on #1340
Or could a check box be put into this so that way it's an option.  If it's checked then it'll put the additional verbiage that the interview will have an interpreter, both on the CASE NOTE and SPEC/MEMO.

[2015-11-03 15:53] RobertFewins-Kalb commented on #1259
I'll take a stab at it.

[2015-11-03 18:05] IlseFerris opened #1348 "Call for input on CAF/edrs update"
Hennepin County worker asked if there way to promote/reiterate checking eDRS when using the CAF. My thought is that we could add a check box to the case number dialog of the CAF "edrs was checked for all adult HH members". If SNAP is checked, and the CAF TYPE is an intake, reapplication, add program or addendum then the CAF script will stop, and a message box will come up informing the worker that

[2015-11-03 18:35] CDPotter commented on #1348
With talk of killing the CAF in it's current incarnation I'd say we hold off on enhancements. Plus there's already a checkbox for EDRS at the end.

[2015-11-03 19:00] IlseFerris commented on #1348
Normally I would say we should wait too, but this is an area we are seeing missed more and more at our county. The checkbox on the last dialog is only case noting, this would stop the worker from going forward until they confirmed that it was checked (and then it would case note that the check was completed.)

[2015-11-03 20:10] CDPotter commented on #1252
I'm not sure what you mean by following CM 08.12. What were you hoping the script do? My interpretation would be:

1: worker enters information into a dialog that mirrors the FMED panel
2: variables are entered into FMED panel.

My concern with my interpretation is it feels very 1:1 it would seem to be that everything entered into the dialog needs to be entered into MAXIS and the script wouldn't b

[2015-11-03 22:43] IlseFerris opened #1349 "Critial bug SNAP E & T --Hennepin County addr change effective immediately"
Not a lot of notice on this one, but 2 of the regional offices are moving E & T orientations effective immediately.

[2015-11-04 14:22] MelissaFox-Stearns commented on #1221
@theVKC @C-Love @RobertFewins-Kalb

CS Dails came out today. Am I the only one where it's still going back to Self instead of Dail/Dail?

[2015-11-04 14:30] RobertFewins-Kalb commented on #1221
It looks like it should always navigate back to SELF because of the navigate_to_MAXIS_screen function call

[2015-11-04 15:13] StormageddonDLOA opened #1354 "Bug when hitting cancel on a DAIL Scrubber Hire Match"
When ever I hit cancel on a Hire Match when running the DAIL Scrubber the script does some interesting things, that I'm not sure even how to explain, and I have to stop script to get it to stop bugging out.

[2015-11-04 15:15] CDPotter commented on #1354
I can confirm I ran into this today too when I hit the x button on the new hire message.

[2015-11-04 15:54] theVKC commented on #1354
Any chance MAXIS is to blame, @CDPotter or @StormageddonDLOA?

[2015-11-04 15:55] theVKC commented on #1221
I think @C-Love replaced that though. I pulled it in myself. Could you be on the beta branch?

[2015-11-04 15:56] CDPotter commented on #1354
Hard to say, just ran it on another person's dail (cleared mine already) and was able to reproduce it first try. I'd wager it's something with cancel confirmation?

[2015-11-04 15:57] StormageddonDLOA commented on #1354
Don’t know.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, November 04, 2015 9:55 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: Re: [DHS-MAXIS-Scripts] Bug when hitting cancel on a DAIL Scrubber Hire Match (#1354)

Any chance MAXIS is to blame, @CDPotter<https://github.com/CDPotter> or @StormageddonDLOA<https://github.com/StormageddonDLOA>?

—
R

[2015-11-04 15:58] CDPotter commented on #1354
Most likely doubtfire related. Those new functions require case_number and a lot of the dail scrubbers just hit S on the fail.

[2015-11-04 15:58] theVKC commented on #1354
But that was over two months ago. We would have seen it last month.

[2015-11-04 15:59] #1349 closed

[2015-11-04 15:59] StormageddonDLOA commented on #1354
Only if someone hit cancel.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, November 04, 2015 9:59 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: Re: [DHS-MAXIS-Scripts] Bug when hitting cancel on a DAIL Scrubber Hire Match (#1354)

But that was over two months ago. We would have seen it last month.

—
Reply to this email directly or view it on Gi

[2015-11-04 16:00] RobertFewins-Kalb commented on #1354
The problem is MAXIS_navigation function. There's no do/loop around the dialog. It looks like the script is trying to navigate_to_MAXIS_screen but it is not working with a case number...

![image](https://cloud.githubusercontent.com/assets/7842016/10943659/e57bb8a6-82da-11e5-883f-f7b1eae45150.png)

[2015-11-04 16:01] theVKC commented on #1354
But we should have seen this last month. Can someone create a local version and test? I'm still running the QC sample so I'm out of commission.

[2015-11-04 16:04] CDPotter commented on #1354
Only if someone hit cancel and thought to report it. I added a do loop and reordered cancel_confirmation and maxis_nav and it works perfectly locally. Submitting fix.

[2015-11-04 16:05] RobertFewins-Kalb commented on #1354
My guess is that user so infrequently cancel the new hire DAIL scrubber script that we haven't had a chance to hit that error.

[2015-11-04 16:32] #1354 closed

[2015-11-04 17:05] MelissaFox-Stearns commented on #1221
Somebody must have done something because it's working like a boss now!

[2015-11-04 17:20] #1121 closed

[2015-11-04 17:22] #1337 closed

[2015-11-04 17:22] CDPotter commented on #1333
@ruthmaloney and @theVKC in testing various methods to grab this information it seems like finding expedited cases is quite the task. I ran a version of the script on the Anoka agency and found 225 pending SNAP cases, of those there was 1 priviledge I couldn't look at, 45 cases where FSCR states the case isn't expedited, and 177 cases without ELIG results.

It seems like adding a useful/reliable c

[2015-11-04 17:23] theVKC commented on #1277
@RobertFewins-Kalb, do you still want this script?

[2015-11-04 17:25] theVKC commented on #1340
My concern is that a blank "other notes for client" section could be misused. Only thinking of that based on the ME review I was part of at Anoka. Thoughts on that @ruthmaloney? Basically, it's an "add a checkbox for some canned text" vs. "add an other notes section and let folks do with it as they want" situation. I could go either way.

[2015-11-04 17:27] #1315 closed

[2015-11-04 17:30] ruthmaloney commented on #1340
I agree with you Veronica, a blank “other notes” section could (and most likely would) be misused. I thought the intent was specific to using an interpreter for the interview. If this is still the case, I like the check box idea with text relating to the interpreter service.

Ruth Maloney

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, November 04, 2015 11:25 AM
To: MN

[2015-11-04 17:30] theVKC commented on #1348
I also vote for waiting. I reallllly don't want to add more on to this already confusing situation. Plus, this doesn't apply to all programs, and I don't want to get jumbled up in logic there. I'd prefer we close this issue and evaluate it on SNAP intake path instead.

[2015-11-04 17:32] theVKC commented on #1252
update panel + case note = time saved over doing both separately.

If you don't want the script, I'll open it up to folks that do. I see value in this.

[2015-11-04 17:33] theVKC commented on #1221
You-all are using the beta branch. I hadn't updated the beta branch. Hence, you didn't have the fix. I forget that there are counties where everyone uses beta.

[2015-11-04 17:34] theVKC commented on #1333
This was my concern too, @CDPotter. I think that a script as you suggest might be a good jumping off point, from which additional data points from supervisors and reviewers might uncover themselves.

[2015-11-04 17:36] theVKC commented on #1340
Well then, @RobertFewins-Kalb, I'm going to close this issue. Feel free to create a new one for the specific checkbox for interpreter info if you'd like. Link back to this issue if you do that, please. Thanks!

[2015-11-04 17:36] #1340 closed

[2015-11-04 17:36] CDPotter commented on #1252
I can still do it, I just wanted a bit of clarification on what the vision was.

[2015-11-04 17:37] theVKC commented on #1252
@IlseFerris suggested it. Care to weigh in?

[2015-11-04 17:37] courtrightd commented on #1333
Could the script check for the expedited screening script case note, and ignore the cases that don’t screen as expedited.  It would still list cases that didn’t have the expedited screen script run on them to be checked manually.  In our county, we try to make sure that script is run on every application received.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, Novembe

[2015-11-04 17:38] theVKC commented on #1333
There could be a column for "expedited screening case note status", where it could say "says expedited", "says not expedited", and "case note not found"...

[2015-11-04 17:40] #1335 closed

[2015-11-04 17:42] #1268 closed

[2015-11-04 17:44] theVKC commented on #1298
@RobertFewins-Kalb, can I bump this? Just need some comments from you explaining your clever workaround. Future generations depend on this.

[2015-11-04 17:45] theVKC commented on #53
Removed assignee, this is being tested by many at this point.

[2015-11-04 17:46] theVKC commented on #632
@RobertFewins-Kalb any word on this?

[2015-11-04 17:46] theVKC commented on #1213
@RobertFewins-Kalb, this is done, right?

[2015-11-04 17:56] RobertFewins-Kalb commented on #1213
I believe so. Looks like I updated BULK - INAC LIST as well, and I'm pretty sure the other BULK list scripts that needed multi-county handling already had it.

[2015-11-04 17:58] RobertFewins-Kalb commented on #632
Zero progress

[2015-11-04 17:58] RobertFewins-Kalb commented on #1298
I can do it right quick if'n you wants.

[2015-11-04 18:01] #1213 closed

[2015-11-04 18:01] theVKC commented on #1213
Thanks @RobertFewins-Kalb!

[2015-11-04 18:02] theVKC commented on #632
I think we're going to need this before we start Project Gorbachev. Perhaps you and I can work on it together sometime?

[2015-11-04 18:02] theVKC commented on #1298
I'n do

[2015-11-04 18:04] RobertFewins-Kalb commented on #1298
It's'n done... pull request #1360

[2015-11-04 18:05] theVKC commented on #1298
Thank'n you

[2015-11-04 18:06] RobertFewins-Kalb commented on #1298
Yes'm

[2015-11-04 18:06] #1298 closed

[2015-11-04 20:48] CDPotter commented on #1333
Hm I could see it being a bit unreliable due to out of county screenings or clients putting wrong info into CAF1,  but I can add it easily enough.

[2015-11-04 21:22] IlseFerris commented on #1252
Below is the part that I feel would be especially important information to be added to the functionality of the script and the case note. Very often a FMED panel exists, and there is NO documentation in case note re: budgeting of recurring and non-recurring medical expenses.
My though is that the dialog can have an option/field  to case note how these expenses have been budgeted, as well as a plac

[2015-11-04 22:16] theVKC commented on #1252
@IlseFerris, I like this. A lot.

[2015-11-04 22:17] theVKC commented on #1341
I'm removing the self-assignment. I decided that's messy to track.

[2015-11-04 22:19] theVKC commented on #657
So... this obviously didn't get done, @ALJ10. We have a couple of different options:

1. Either you, or another scriptwriter, tries to take it on.
2. We close the issue.

My vote is for 1. If you'd like scriptwriter refresher training, I might be able to try and set that up. Or, we can mark it as help wanted and hope another scriptwriter takes it.

[2015-11-04 22:20] theVKC commented on #956
OK, I tagged this a week ago, and nobody has taken it. As such, I'm closing the issue due to lack of interest.

[2015-11-04 22:21] theVKC commented on #1348
@IlseFerris, can we close this?

[2015-11-04 22:22] theVKC commented on #1253
@RobertFewins-Kalb, can I bump this? How's it going?

[2015-11-04 22:24] IlseFerris commented on #1348
Sure thing!

[2015-11-04 22:26] IlseFerris commented on #1252
@CDPotter if you still want it, go for it, otherwise I'd be more than happy to take it :)

[2015-11-04 22:26] theVKC commented on #1316
@Farleight, any update on this?

[2015-11-04 22:26] #1348 closed

[2015-11-04 22:28] RobertFewins-Kalb commented on #1253
bump away. There doesn't appear to be any interest.

[2015-11-04 22:28] theVKC commented on #1148
@khiestand, did I ever send that script to you? In any case, have you done any work on this? Just curious.

[2015-11-04 22:29] RobertFewins-Kalb commented on #1253
I haven't had any chance to make this more general (since the script relies on my input on the spreadsheet).

[2015-11-04 22:38] theVKC commented on #599
@CJOHNS356, any chance we can get an update on where this might be at?

[2015-11-04 22:38] theVKC commented on #599
(somehow writing that comment unassigned Chris, not sure how)

[2015-11-04 22:49] theVKC commented on #1253
Want I should close the issue?

[2015-11-04 22:50] theVKC commented on #1235
@C-Love, has anything come of this?

[2015-11-04 23:19] theVKC commented on #710
@IlseFerris, I'm taking you off of this as the assignee. This is clearly being worked on by a team, and I don't need it mucking up your task list. :)

[2015-11-04 23:20] theVKC commented on #1116
@IlseFerris, did we resolve this at hackathon Monday?

[2015-11-05 12:35] RobertFewins-Kalb commented on #1253
Yes

[2015-11-05 13:21] CJOHNS356 commented on #599
This is what I have so far

I need to add the room and part and figure out format currency

Christopher Johnson
Family Support and Assistance
Eligibilty Specialist
Olmsted County Family Support and Assistance
Phone: (507) 328-6311
Fax: (507) 328-7956

NOTICE: This e-mail communication is for the sole use of the intended recipients and may contain unclassified confidential information. Any unauthor

[2015-11-05 13:28] Farleight commented on #1316
Yes... I've spent some serious time thinking about it while doing other things. I soon hope to find time to do it while thinking about other things.

[2015-11-05 13:54] C-Love commented on #1235
I am working on it. There are 2 issues on this script that I am tackling at the same time. I made some progress - 2 steps forward - 1 step back kind of thing.

[2015-11-05 14:14] #1253 closed

[2015-11-05 14:15] theVKC commented on #599
@CJOHNS356, you are responding to a GitHub thread (so attachments don't work), and you typically can't send a script file (in any case). I just wanted to know where you were at with it. No rush, but I'd love to have this when you're done! If you need any help, let me know. :)

[2015-11-05 14:16] theVKC commented on #1316
Good deal. Let me know if you need anything!

[2015-11-05 14:16] theVKC commented on #1235
Good deal. Just thought I'd bump the issue, because I don't remember talking about it Monday. :)

[2015-11-05 14:19] CDPotter commented on #1252
If you're got a good idea got for it. I had only gotten as far as designing the dialog. Seemed like the best idea to me was to read FMED fill in a dialog with up to 12(max fmed entries) rows with any info on there already and then have blank rows for each blank fmed row. Then have a other notes so people can explain their processes and then actions taken. (possibly adding in text for CM references

[2015-11-05 14:27] RobertFewins-Kalb commented on #1277
We have the script, but we're in a script freeze. Shall I upload or withhold?

[2015-11-05 14:32] theVKC commented on #1277
Monday would be OK (after the beta freeze). The big script freeze relates to new scripts _not already on the issue list in GitHub._

[2015-11-05 14:33] RobertFewins-Kalb commented on #1277
Okum dokes

[2015-11-05 14:34] theVKC commented on #1252
@CDPotter @IlseFerris because this is a SNAP area, and reeeeeeally error prone, I might be able to help with the development as well, especially if we do that sometime after next week... if you'd like assistance I might be able to swing this.

[2015-11-05 14:35] theVKC commented on #1252
Also, @CDPotter, I assigned you just to prevent anyone else from starting it. If @IlseFerris wants it, I can reassign it.

[2015-11-05 14:41] theVKC commented on #1277
Wonderful. Thanks @RobertFewins-Kalb!

[2015-11-05 15:07] theVKC commented on #632
@RobertFewins-Kalb sent what he has to me, and I'm reassigning it to myself to complete.

[2015-11-05 15:49] ALJ10 commented on #657
If it can be reassigned to see if a scriptwriter can work their magic on it, that would be great. If it doesn’t pan out,  that’s ok. I appreciate you keeping it on the To Do list this long and for checking on this.

I wish I could get into the scriptwriting mode. But as you know very well since you are in the same boat, there’s too many other projects that I’ve been put in charge of. I just can’t

[2015-11-05 16:06] RobertFewins-Kalb commented on #1259
After consideration, I'm going to close this. The script we have requires a lot of user input on the back end. If there is considerable interest in this being more widely available, I am willing to revisit, but for now, it is dead.

[2015-11-05 16:06] #1259 closed

[2015-11-05 16:08] RobertFewins-Kalb commented on #1232
After consideration, I think this should be closed. The script we have requires regular user input on the back end to keep it current. If there is more interest, I am willing to revisit.

@theVKC, tear down this issue.

[2015-11-05 16:09] theVKC commented on #657
Sounds good. I'm going to keep this as help wanted for a week, and we'll see if there're any takers. After that, I'll close it.

[2015-11-05 16:20] theVKC commented on #1232
Closing issue per @RobertFewins-Kalb's request. Can reconsider later.

[2015-11-05 16:20] #1232 closed

[2015-11-05 16:26] Y-Lor-Y commented on #1277
Heard more from DHS on a related by different situation, cause I've encountered cases where notices are not being generated because due to the disregard fiated, it resulted in the same grants (no change) (though different CS amount rec'vd) for next month.  When MFIP approved after Fiating...no notice is generated.  Thus worker cannot comment on the SPEC/WCOM.  There is already a safety logic in pl

[2015-11-05 16:28] theVKC commented on #1277
Hmmm. MFIP approved after FIATing = no notice at all? Why doesn't that sound right to me?

[2015-11-05 16:29] Y-Lor-Y commented on #1277
If it's a 'No Change' from what was already approved previous month.

[2015-11-05 16:34] theVKC commented on #1277
But approving that "no change" generates NO notice? Why does that seem weird to me?

[2015-11-05 16:38] Y-Lor-Y commented on #1277
DHS-BA confirmed that that's an okay thing.  I did a PF11 requesting if this is a system issue or a long delay on the system.  The response I got back was, that is how it suppose to be.  /shrugs

[2015-11-05 16:41] RobertFewins-Kalb commented on #1277
We've noticed the same thing. Not sure why that's the case, shoulder shrug appears to be the actual answer.

[2015-11-05 16:46] theVKC commented on #1277
If I were a client, I'd want to know about my benefits being approved at no change. I come from the SNAP world, that doesn't fly in our place.

[2015-11-05 16:51] RobertFewins-Kalb commented on #1277
I wonder if this only applies to cases with cash only? Don't we audit the food portion the same as we do SNAP? Could it be that cases that are cash only do not get a notice when there is no change to the benefit?

[2015-11-05 16:51] RobertFewins-Kalb commented on #1277
So many questions, so few Jesse Venturas.

[2015-11-05 16:55] Y-Lor-Y commented on #1277
It is true for MFIP that the food portion gets audit the same as SNAP, however, due to the SNAP waiver in MN only, not sure how that affects system vs. policy.  This seems like a deja vu topic that was long forgotten and shut out of my mind for a reason.

[2015-11-05 17:16] theVKC commented on #1277
Uh oh... @ruthmaloney, have you ever heard of this? I figure since we review MFIP-food this might intersect us (thanks for pointing out that monkey-wrench @RobertFewins-Kalb)

[2015-11-05 17:49] IlseFerris commented on #1116
Not resolved yet, still working on this

[2015-11-05 18:02] theVKC commented on #1116
Want help? I know we're both at our respective sites, but perhaps I can use this as an opportunity to test iLinc again.

[2015-11-05 18:18] IlseFerris commented on #1083
@vkc do you want to assign this to someone else? Not sure I'll have the time to research and update this one timely. @CDPotter @courtrightd, any takers?

[2015-11-05 18:18] theVKC commented on #1083
Why am I thinking @CDPotter and @RobertFewins-Kalb already have something like this...

[2015-11-05 18:23] IlseFerris commented on #1116
Of course I want help, but let me take another look at it first. Also I'm working on another issue.
.

[2015-11-05 18:54] CDPotter commented on #1083
We do not have such a tool built already. Wasn't really needed here in Anoka as we don't case bank.

[2015-11-05 19:03] theVKC commented on #1116
Woot! I can take a few minutes out tomorrow for it, too. Let me know.

[2015-11-05 19:20] theVKC commented on #1083
I thought I saw @RobertFewins-Kalb say he capped the max appointments scheduled when doing stats? That sort of function goes beyond banking, IMO.

[2015-11-05 20:08] RobertFewins-Kalb commented on #1083
I capped the number of cases that I am holding for a control, but I am running the REVS Scrubber one case load at a time.

[2015-11-05 21:52] C-Love opened #1363 "Update NOTES - LTC COLA Summary 2015 for 2016"
User requested this update for LTC caseload. COLA processing is next month.

[2015-11-05 22:56] theVKC commented on #1083
OK, I'll do it. :)

[2015-11-05 22:56] theVKC commented on #1363
Would you like to do this one, @C-Love?

[2015-11-06 19:29] CDPotter opened #1364 "Enhancement New Jobs/dail scrubber"
It was suggested that maybe we include the name of the job in the tikl to make it more clear which job the tikl is about. Thoughts?  (for ACTIONS - New jobs and Dail scrubber for new hire)

[2015-11-07 03:57] theVKC commented on #1364
I like it in theory. Do you think we have enough room on the TIKL for this info? If there's enough room, I think it's a good'n.

[2015-11-09 15:04] RobertFewins-Kalb opened #1365 "ENHANCEMENT REQUEST -- ACTIONS - TRANSFER CASE -- new worker MEMO?"
A user in SIR has asked about adding the option to add a new worker MEMO to the in-county case transfer script. This was deliberately left off when the script was originally developed as it would be an annoyance to the worker to have to field calls about why the case was transferred.

Thoughts?

My vote is that if it is added, it should not be defaulted to checked.

[2015-11-09 15:29] IlseFerris commented on #1365
I don't love this as an option, but if this is something that counties could use, then ok with me. It should most definitely not be defaulted to checked.

[2015-11-09 15:30] IlseFerris commented on #1363
I can take this one if @C-Love doesn't have it started already

[2015-11-09 17:07] RobertFewins-Kalb opened #1366 "NOTES - HRF -- cancel does not cancel the script"
The maxis_navigation and cancel_confirmation function calls are out of order.

[2015-11-09 17:18] StormageddonDLOA opened #1367 "Enhancement for the Transfer Action script."
Add Health Care as an option to the drop down selection box for "Unit to transfer to:" so the case note is correct when transferring a case to a Health Care only unit.

[2015-11-09 17:18] StormageddonDLOA commented on #1367
I can take this one.

[2015-11-09 17:40] IlseFerris commented on #1366
@RobertFewins-Kalb I can take that if you haven't started already

[2015-11-09 17:42] RobertFewins-Kalb commented on #1366
I'm already working on it. I'm making a few other updates including err_msg handling.

I would like to make sure we correct this for all the scripts where the problem exists, however. Here are the lines of code in question...
![image](https://cloud.githubusercontent.com/assets/7842016/11041357/f45789e0-86d6-11e5-90d1-ffd645535068.png)

[2015-11-09 22:18] courtrightd opened #1370 "BUG - Button doesn't work for new ES referral script"
Fix on it's way!

[2015-11-09 22:27] IlseFerris commented on #1370
@courtrightd did you fully test this?

[2015-11-09 22:29] courtrightd commented on #1370
Yes, tested the fix locally to the best of my abilities.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Monday, November 09, 2015 4:27 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] BUG - Button doesn't work for new ES referral script (#1370)

@courtrightd<https://github.com/courtrightd> did you fully test this?

—
Reply to this email dire

[2015-11-09 22:31] IlseFerris commented on #1370
Thank you, thank you! I'm excited to see this one in action :)

[2015-11-09 22:37] IlseFerris opened #1373 "CSES dail enhancement, case note to include HC income is excluded."
Requested from a worker on SIR; CSES - scrubber case note In a case where there it is a HC ONLY case (and the script disregards the income anyway), can the case note add "HC only - income excluded" or something? ------------------------------------------ ::: 10/15 CSES messages ::: * No HC review due at this time. Case is HC only - income excluded. --- ABC, using automated script.

I don't know an

[2015-11-10 15:05] theVKC commented on #1365
I think we _could_ do this, but I would want really, really clear explanations as to what it does within the script (I'm thinking a Yes/No MsgBox with the text on it).

Even so, I'd call for input on this. I could see it being annoying for the receiving agency.

[2015-11-10 15:06] theVKC commented on #1363
Haven't heard from @C-Love on it. @IlseFerris, go for it if you want it!

[2015-11-10 15:07] theVKC commented on #1366
@RobertFewins-Kalb, a release is about to go out. Can I get an update on this?

[2015-11-10 15:10] theVKC commented on #1370
Because this means the script wasn't tested, I need someone to quick test it. @IlseFerris? @courtrightd?

[2015-11-10 15:11] #1370 closed

[2015-11-10 15:12] theVKC commented on #1373
I am nixing this, I want all HC handling removed for MAGI. I don't want it to do anything for MAGI-only HC at all.

[2015-11-10 15:12] #1373 closed

[2015-11-10 15:20] IlseFerris commented on #1370
Looks like it's working from my end of the world

[2015-11-10 15:22] theVKC commented on #1370
Can you ask one of the workers to test it @llseFerris?

[2015-11-10 15:53] courtrightd commented on #1370
The fix is working now for all users in SLC.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, November 10, 2015 9:23 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] BUG - Button doesn't work for new ES referral script (#1370)

Can you ask one of the workers to test it @llseFerris?

—
Reply to this email directly or view it on

[2015-11-10 15:57] theVKC commented on #1370
Thank you @courtrightd!

[2015-11-10 16:08] #1366 closed

[2015-11-10 16:13] theVKC opened #1375 "Remove stray "New!!!" notices from MAIN MENU scripts"
Easy win. We should leave the ones from October forward. Just need to look through each. Anyone want it?

[2015-11-10 17:01] courtrightd commented on #1370
I just set us back to a non-database agency, and retested, everything is working fine now with the button and the script.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, November 10, 2015 9:11 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] BUG - Button doesn't work for new ES referral script (#1370)

Because this means the s

[2015-11-10 17:13] CDPotter opened #1376 "Enhancements GRH HRF"
We had a few requests for updates to the GRH HRF.

It was requested to add the GRH DOC amount to the case note (in the calculation part). This one seems like a easy needed fix.

It was also requested that we alter the title to read the previous month rather than the retro month and previous month. Currently if run for an 10/15 HRF it will read August/October HRF. The worker stated that this isn't

[2015-11-10 17:31] #671 closed

[2015-11-10 17:33] #995 closed

[2015-11-10 17:34] theVKC commented on #1376
I do not recall precisely who came up with that wording, it may have been @ramonalisa1. Any thoughts?

[2015-11-10 17:35] CDPotter commented on #1363
There was a suggestion to add the UNEA amount in the title of the COLA script so the worker could easily view the new RSDI or SSI amount when looking at the title. Promised we'd pass it on. Thoughts?

[2015-11-10 17:35] theVKC commented on #1363
No. People can add it manually.

[2015-11-10 17:36] theVKC commented on #1363
(It gets realllllly tricky with multiple grant recipients)

[2015-11-10 17:37] CDPotter commented on #1363
Fair enough, thanks for the input!

[2015-11-10 18:20] IlseFerris commented on #1363
Agreed. A lot of these cases also have other UNEA besides just RSDI and SSI as well as multiple claim numbers.

[2015-11-10 19:42] Y-Lor-Y opened #1381 "NOTES - Approved Program & MFIP/DWP Sanction"
A worker ran both of these scripts one after another, and could not add the WCOM information for both situations on the same WCOM notice - and had to manually enter it in.  Even doing that was challenging due to space allowed.  She could run either WCOM notice, but then when running the other script asking it to write onto WCOM, it would respond saying that the script is not able to update the WCO

[2015-11-10 21:05] theVKC commented on #1381
I'm going to mark this as "question" because I think it warrants discussion... anyone at @MN-Script-Team/county-agency-scriptwriters have an opinion?

[2015-11-10 21:22] theVKC opened #1382 "Update the list of scripts for the redirect stuff (used by the installer)"
Need to drop the separate NOTES buttons. On it.

[2015-11-10 21:37] StormageddonDLOA commented on #1381
By looking at the MFIP Sanction - DWP Disqualification script I'd think it should be possible to remove the check box to write a SPEC/WCOM and move it to the approved programs script (and perhaps add a popup message box reminder to add WCOM info from the approved progs script) however if there are space issues when trying to do both WCOM messages on the approved progs script one or both parts of t

[2015-11-10 21:44] theVKC commented on #1381
Should we consider creating a stand-alone script for the WCOM and chain-loading them?

[2015-11-12 15:51] CDPotter opened #1384 "Enhancements Bils Updater"
There was a suggestion to have the BILS updater end back at the top of the list so adding a Transmit and possibly looping shift pf7 back to the start of bils. Small quality of life suggestion. Thoughts?

[2015-11-12 16:00] CDPotter commented on #1364
We've got 105 characters or about 2 empty lines on the TIKL to use. I think it should be able to work in conjunction with the TIKL function.

[2015-11-12 18:17] theVKC commented on #1364
Make it so!

[2015-11-12 18:53] IlseFerris opened #1385 "Closed programs dialog box for agencies who do not case note intake dates is wrong size"
I just submitted a pull request for this. Agencies that have case noting of intake dates set to false in their global variables are getting dialog box with cut off information from the CM.

[2015-11-12 19:00] IlseFerris commented on #1384
Was a reason given? I ask because the BILS panel can sort by Date, Ref Nbr, Service, Gross by hitting PF6.

[2015-11-12 20:25] CDPotter commented on #1384
Ok I have gotten clarification. The script currently navigates to BILS and opens edit mode(pf9). The dialog displays asking the worker to enter the BILS information. Here is where the workers would like it to show the most recent BILS so they can enter them into the updater dialog. Right now if you PF9 it will bring you to the end of the list which can be bills from many years ago meaning the work

[2015-11-12 20:28] IlseFerris commented on #1384
OK then that makes sense and is a good enhancement. I like it.

[2015-11-12 20:36] CDPotter commented on #1384
K, I'll get on it then!

[2015-11-12 21:21] IlseFerris opened #1387 "Citizenship/Identity verified enhancement/DAIL scrubber"
Request from worker wondering if one of the options under citizenship proof can be something like "client attested, not required for SNAP(or program)" or something like that (I suppose n/a might also work). Really just wondering if there's a policy reason NOT to do this. We think this could be a good way to reiterate that this script should be run for all cases, specifically SNAP cases for identit

[2015-11-12 21:24] ruthmaloney commented on #1387
Self-attestation is not an option for non-citizens for SNAP. Is there a way to ensure this isn’t missed for non-citizen applicants?

Ruth Maloney

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Thursday, November 12, 2015 3:21 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Maloney, Ruth S (DHS) <Ruth.Maloney@state.mn.us>
Subject: [DHS-MAXIS-Scripts] C

[2015-11-13 16:10] RobertFewins-Kalb opened #1389 "Bug -- BULK - GRH/LTC LIST GEN has option to run off REPT/REVS and REPT/REVW but there is no functionality to make that happen"
The script is able to run off REPT/ACTV just fine, but when prompted to run from the other two screens, there is no functionality.

[2015-11-13 16:11] RobertFewins-Kalb commented on #1389
Nevermind...I'm an idiot.

[2015-11-13 16:11] #1389 closed

[2015-11-13 16:39] RobertFewins-Kalb opened #1391 "CSR -- worker signature err_msg logic is out of place"
I have submitted a fix #1390

[2015-11-13 16:39] RobertFewins-Kalb commented on #1391
Sorry

[2015-11-13 17:08] CDPotter opened #1392 "Enhancements MA-EPD EI FIATer (make memb # do something)"
The script collects member number but it doesn't actually navigate to the proper jobs panel based off of it. Provides problems for non-memb 01 MA-EPD cases. I can tackle next week unless someone else wants it today.

[2015-11-13 17:10] CDPotter opened #1393 "Enhancements Postponed WREG WCOMer (add tikl)"
I want to add a tikl to remind the worker to close the case in 10 days if verif isnt returned. Since the approval is a work around the case won't automatically close for postponed verifs. I think after the WCOM is added a tikl could help the worker remember to close the case on time. I can do this next week.

[2015-11-13 17:17] CDPotter opened #1394 "Closed Progs intake date bug (adding checkbox to sanction case)"
Currently we are running into problems with workers using the closed progs script when sanctioning someone. The script adds a reinstate/intake date which is incorrect as my understanding is that if the client closes for non-coop and start their sanction they will have to serve out their sanction. I was thinking a checkbox and editbot (to enter how many months) to edit the verbiage would be good. T

[2015-11-13 18:36] theVKC opened #1395 "CSES: Case note and dialog CS amounts in grid"
Basically, create a grid of amounts that displays on a dialog and enters into the case note.

Dail message on Y axis, hh memb on X.

[2015-11-13 21:29] IlseFerris commented on #1318
@StormageddonDLOA any progress on this one?

[2015-11-13 21:31] #1338 closed

[2015-11-13 21:32] StormageddonDLOA commented on #1318
Yeah I’ve got it done and a couple of my co-workers are testing it. Checked with Veronica on a couple changes I made to bring it more in line with the CS exclusion and got her approval.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Friday, November 13, 2015 3:30 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: Re: [DHS-MAXIS-Scripts] MFIP housing grant work around

[2015-11-13 21:35] RobertFewins-Kalb opened #1397 "Enhancement -- IEVS Received needs validation around dialog"
A worker reported today an error where the header was IEVS Notice received: Select

It looks like it just needs validation for the value of "OPTIONS"

[2015-11-13 21:44] #1385 closed

[2015-11-13 21:47] #1384 closed

[2015-11-13 21:52] StormageddonDLOA opened #1399 "Baby Born/HHLD comp change script crossover"
The HHLD comp change script includes a dialog box if the client is reporting a baby being born. They are both incredibly similar making the baby born script redundant.

Screen shots of both dialog boxes are attached.

**The case number shown is a fake case number.**

![baby born script dialog box](https://cloud.githubusercontent.com/assets/13385361/11158483/1245a474-8a1e-11e5-8a78-6a95d5509797.PNG

[2015-11-13 21:53] theVKC commented on #1387
I don't think there's a way it can be missed... that's really hard to foolproof. I'd like to close this issue if that's OK with you @IlseFerris.

[2015-11-13 21:55] theVKC commented on #1391
@RobertFewins-Kalb, friendly reminder: please test all new script enhancements before deploying them, no matter how inane.

[2015-11-13 21:59] #1391 closed

[2015-11-13 22:03] theVKC commented on #1392
Just to be clear: we're talking about the MA-EPD EI FIATer, right?

[2015-11-13 22:04] theVKC commented on #1392
It's yours!

[2015-11-13 22:05] theVKC commented on #1393
What script is this for?

[2015-11-13 22:06] CDPotter commented on #1392
Correct, and thanks!

[2015-11-13 22:07] CDPotter commented on #1393
The script is a MEMO script that adds the WCOM for when we have to postpone WREG verifs like drug treatment and disability. The worker has to use a work around in MAXIS to approve SNAP but then remember to close the case properly since according to MAXIS nothing was actually postponed.

[2015-11-13 22:22] #1397 closed

[2015-11-13 22:27] theVKC commented on #1399
I'm in favor of a new optional first dialog that contains case number and "change reported" as a dropdown. If you select "baby born", it goes down the baby born path. Then, we get rid of the duplicate script. Thoughts?

[2015-11-13 22:29] theVKC commented on #1393
So, this is a new script? We're under a script freeze. Unless I'm missing something...

[2015-11-13 22:31] RobertFewins-Kalb commented on #1393
Enhancement to this'n

![image](https://cloud.githubusercontent.com/assets/7842016/11159295/f03f4078-8a23-11e5-8891-aef0c89b141e.png)

[2015-11-13 23:04] IlseFerris commented on #1318
Awesome!

[2015-11-16 12:40] ruthmaloney commented on #1394
I like the idea.

Ruth Maloney

From: Charles P [mailto:notifications@github.com]
Sent: Friday, November 13, 2015 11:17 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Maloney, Ruth S (DHS) <Ruth.Maloney@state.mn.us>
Subject: [DHS-MAXIS-Scripts] Enhancement Closed Progs (adding checkbox to sanction case) (#1394)

Currently we are running into problems with worker

[2015-11-16 13:51] theVKC commented on #1394
Do you want it, @CDPotter?

[2015-11-16 13:52] StormageddonDLOA commented on #1399
Sounds good to me.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Friday, November 13, 2015 4:28 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: Re: [DHS-MAXIS-Scripts] Baby Born/HHLD comp change script crossover (#1399)

I'm in favor of a new optional first dialog that contains case number and "change reported" as a dropdown. If you select "baby born", it g

[2015-11-16 13:53] theVKC commented on #1393
Aaah, I see. It's a new one, that's why I didn't remember it off the top of my head. Do you want it, @CDPotter?

[2015-11-16 14:27] CDPotter commented on #1393
Yes I do.

[2015-11-16 14:27] CDPotter commented on #1394
Yes I do.

[2015-11-16 19:00] theVKC commented on #1394
Also, I called this a bug because it's a policy issue. It can go through despite a beta freeze (it would go in master and beta at this time)

[2015-11-16 19:06] #1392 closed

[2015-11-16 19:20] CDPotter commented on #1394
Thoughts on verbiage? @theVKC @ruthmaloney

"SNAP is entering sanction for ## months. If client does not comply by closure date ##/##/## client will enter sanction for SNAP. Refer to worker for details on compliance."

[2015-11-16 19:32] theVKC commented on #1394
This is, of course, for the case note? (Just being clear.)

I'd rather see a date range _and_ an amount of months, but that's just me.

[2015-11-16 19:36] CDPotter commented on #1394
Yes this is just for a case note. I can totally manipulate the variable, figured I'd keep it simple at first then expand based on need. So maybe:

"SNAP is entering sanction for ## months MM/YY-MM/YY. If client does not comply by closure date ##/##/## client will enter sanction for SNAP. Refer to worker for details on compliance."

[2015-11-17 13:21] IlseFerris commented on #1381
Worker at Hennepin also reported the WCOM on MFIP sanction not working. It seems that a lot of the information that needs to be put into WCOM is mandatory. I think we should consider building it in instead of check boxes.

[2015-11-17 14:14] theVKC commented on #1381
Couldn't we add it into both fields with chain loading though? How hard is another dialog when it pops up for you after checking a box and pressing OK? That way, it's one script to edit/update/improve each time this process changes.

[2015-11-17 18:28] theVKC opened #1405 "Delete the beta counties list once the installer's been updated"
[11.2015 changes to beta group.pdf](https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/files/37034/11.2015.changes.to.beta.group.pdf)

See attached file for details. Counties without scriptwriters will be removed from the beta. The beta agency file decides details on beta status at installation.

[2015-11-17 19:45] theVKC commented on #1405
On second thought, I'm just going to delete the file.

[2015-11-17 20:00] courtrightd opened #1406 "Enhancement to REPT REVS for error reduction"
Adds two optional (with checkboxes) features to REPT/REVS pull data to excel to assist with auditing SNAP reviews for accuracy:
- Checks if an autoclose notice was sent, and enters info about the type of notice. (To assist supervisors with choosing cases to audit for timeliness and accuracy.)
- Checks for errors in updating STAT/REVW by going to case/note on cases that are coded with "N" and looks

[2015-11-17 20:07] courtrightd commented on #657
I would be willing to take this on - did either of you have a plan as to how to go about saving the data for comparison or the mechanics of the script?  My thought is to add a checkbox that saves the initial spreadsheet in the scripts directory, then a new script that lets a worker choose which spreadsheet to check after 1st of month and then looks up the  data from the sheet case by case.

[2015-11-17 20:11] theVKC commented on #1406
I LOVE THIS

[2015-11-17 20:12] theVKC commented on #657
That's what I had in mind.

[2015-11-17 20:13] theVKC commented on #1399
I still want other feedback. @MN-Script-Team/county-agency-scriptwriters?

[2015-11-17 20:16] courtrightd commented on #1399
I really like the initial dialog/dropdown, that leaves the door open to future enhancements without having to redo the whole script or add more new scripts.

[2015-11-17 20:18] theVKC commented on #1399
Completely agreed. This actually ties into an issue from @MelissaFox-Stearns's work:  #1036. I could totally see merging "change reported" and "household comp change" together as well. Thoughts?

[2015-11-17 20:19] theVKC opened #1407 "Remove agency address handling entirely from GlobVar"
It just isn't used anymore. On it.

[2015-11-17 20:21] devonne01 commented on #1399
I agree with David, it leaves the door open for future..

From: David Courtright [mailto:notifications@github.com]
Sent: Tuesday, November 17, 2015 2:16 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Devonne R. Kent <Devonne.Kent@co.wright.mn.us>
Subject: Re: [DHS-MAXIS-Scripts] Baby Born/HHLD comp change script crossover (#1399)

I really like the initial dialo

[2015-11-17 20:24] theVKC commented on #1399
Project Bowie? Ch-ch-ch-ch-changes! We could:

1. Create an initial dialog with all the "change reported" type scripts we can muster up.
2. User checks which changes they are dealing with.
3. The checkboxes chain load each new script in the chain. You could even include a selector for "number of times to run the script".

This would require a pretty sizable dialog upgrade to dynamic dialogs, but i

[2015-11-17 21:02] IlseFerris commented on #1399
Just for one day

[2015-11-17 22:06] ruthmaloney commented on #1406
Love it and thank you for thinking it out so well! Am I able to test it or not till it’s released? What types of errors/trends did you find?

Ruth Maloney

From: David Courtright [mailto:notifications@github.com]
Sent: Tuesday, November 17, 2015 2:01 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Maloney, Ruth S (DHS) <Ruth.Maloney@state.mn.us>
Subject: [DHS-MAX

[2015-11-17 23:47] theVKC commented on #1406
I can help you test it, Ruth!

[2015-11-18 06:25] theVKC opened #1408 "Update my title on README"
Because accuracy... on it.

[2015-11-18 14:12] Y-Lor-Y opened #1409 "CAF Script Error - check_for_MAXIS vs check_for_password"
There has been two reports that the CAF script is giving them an error at the end on SIR script discussion board.

" CAF SCRIPT ERROR
We are getting an error that says this when we get the the end of the CAF script and try to submit: Script Error at Line 1, Column 1: Type mismatch: 'check_for_password' This happened yesterday and is still happening today."

[2015-11-18 14:17] courtrightd commented on #1406
Current version is located on PATCH-1 in my repository, here:
https://github.com/courtrightd/MAXIS-BZ-Scripts-County-Beta/blob/patch-1/Script%20Files/BULK/BULK%20-%20REPT-REVS%20LIST.vbs

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, November 17, 2015 5:47 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Enhancement to REPT R

[2015-11-18 14:32] StormageddonDLOA opened #1411 "Returned Mail Script enhancement."
I received a request to make some additions to the case note on this script. The changes are in quotes below.

•	For mail with no forwarding address:

Returned mail received "from post office on"
"From address:"
*No forwarding address was indicated.
*Sending verification request to last known address. TIKLed for 10 day return.
(NOTE generated via BULK script)
Worker signature

•	For mail with a fo

[2015-11-18 14:32] StormageddonDLOA commented on #1411
I can take this one.

[2015-11-18 14:36] CDPotter commented on #1411
How detailed are we allowed to get with people's addresses in case notes? @theVKC

[2015-11-18 14:54] CDPotter commented on #1409
I haven't had a chance to run it too much but I haven't run into any errors when running on a test case this morning. I also haven't heard any complaints from any workers here. The comments on SIR are coming from Aikin and Brown counties if that helps any.

[2015-11-18 15:20] theVKC commented on #1411
I don't know that it's a problem, it's not FTI. What I'm wondering is how you'd get it to fill in the previous address? Right now, the beauty is that it's bulkified. If you need to add a lot more information in the dialog, is it making it more complex than it needs to be?

[2015-11-18 15:23] theVKC commented on #1409
This is weird. The check_for_password function is only in beta. Aitkin isn't a beta county: perhaps they are inadvertently running beta scripts.

@IlseFerris, your users are mostly not on the beta. Can you check with them to see if they are seeing this error?
@Y-Lor-Y or @C-Love: was this happening anywhere in Ramsey, beta users or otherwise?

[2015-11-18 15:36] theVKC commented on #1409
If someone can confirm this is happening in all cases on the CAF script for non-beta agencies, I have an idea for a quick fix. @MN-Script-Team/county-agency-scriptwriters

[2015-11-18 15:39] IlseFerris commented on #1409
No issue here. I'll see if I can get it to password out, and test that as well.

[2015-11-18 15:40] theVKC commented on #1409
Can someone ask the reporting counties to check their beta status in Global Variables? If they're set to beta, they should undo that.

[2015-11-18 15:40] theVKC commented on #1409
Never mind, I'll ask.

[2015-11-18 15:40] RobertFewins-Kalb commented on #1411
Two thoughts...
(1) Why would we need to case note the address?
(2) I think that makes it more complex than it needs to be. We have STAT/ADDR for checking the address and CASE/ADHI for checking the address history.

[2015-11-18 15:46] Y-Lor-Y commented on #1409
I've tested both the live region and beta region, no errors found on my end.

[2015-11-18 15:47] theVKC commented on #1409
I'm leaning toward a beta/release mixup. Another reason it's a good thing to go to scriptwriter-counties-only-on-the-beta if it ends up being the cause.

[2015-11-18 15:50] RobertFewins-Kalb commented on #1409
I'm confused by the type mismatch error. Why would we be getting a type mismatch error?

[2015-11-18 15:50] theVKC commented on #1411
My worry is that STAT/ADDR can itself be wrong, and CASE/ADHI itself can be tricky to accurately read. The best source of this information is from the mail itself, which isn't really script-able as of 2015.

[2015-11-18 15:51] theVKC commented on #1409
Because reasons. Functions are weird sometimes. I've seen this when a function doesn't exist. If you accessed the beta CAF script but the RELEASE funclib, for example.

[2015-11-18 15:56] CDPotter commented on #1409
Side note: Polled 5 workers here and no problems with the CAF.

[2015-11-18 15:56] theVKC commented on #1408
Pull request #1412 resolves this. But, I'll wait until the enhancement freeze is up on Monday.

[2015-11-18 15:57] theVKC commented on #1409
Because your folks are BETA, I don't suspect they'd run into it. Try running it as an Aitkin county worker, but manually setting your agency as beta. Perhaps that would yield a result?

[2015-11-18 15:57] theVKC commented on #1409
(They're x101)

[2015-11-18 16:04] StormageddonDLOA commented on #1411
Yeah I thought of that too so the enhancement wouldn’t actually check the ADDR or try to pull anything into the case note. All this would be doing is adding those lines to the case note so the worker can manually add the address.

It was asked if we could add those lines because that is information that our process specialists are entering in here now per our guidelines on returned mail.

If this

[2015-11-18 16:08] theVKC commented on #1411
@StormageddonDLOA I'm inclined to close the issue, and I'd encourage your staff to reconsider the policy. There is a gray area here with data privacy, and also (in my humble opinion) the benefits of the BULK functionality for returned mail far outweigh the need to case note specifics (you could just as easily store the info in an Excel spreadsheet, bypassing both issues).

[2015-11-18 16:08] #1411 closed

[2015-11-18 16:10] CDPotter commented on #1409
So I changed the worker_county_code to x101 and left BETA as True on my local globvar and got this message:
![2015-11-18 10_09_59-bluezone script host _ msgbox](https://cloud.githubusercontent.com/assets/7841989/11246260/8cfaf84c-8ddc-11e5-829c-c301d0819273.png)

[2015-11-18 16:12] RobertFewins-Kalb commented on #1409
...working with @CDPotter on a solution...

[2015-11-18 16:18] RobertFewins-Kalb commented on #1409
Found it

[2015-11-18 16:18] RobertFewins-Kalb commented on #1409
Wait...no...poo

[2015-11-18 16:26] courtrightd commented on #1409
I can recreate the type_mismatch by forcing a local copy of BETA to look at the release functions library, but I can’t spot where one could get to the Beta/Master repository but still have Funclib on release, unless it is something with the IsEmpty(Funclib_URL) = FALSE in the funclib header block.  (somehow they are switched to BETA or master, but still have an old release Funclib loaded?)

From:

[2015-11-18 16:27] RobertFewins-Kalb commented on #1409
I wonder if it's because the value for beta_agency is stored as a string instead of a Boolean expression... "true" <> true

[2015-11-18 16:30] CDPotter commented on #1409
When I changed my beta_agency to "true" it let me open notes 0-G (but I didn't get the error when running the CAF)

[2015-11-18 16:38] RobertFewins-Kalb commented on #1409
Could they be running locally as an agency?

[2015-11-18 16:40] theVKC commented on #1409
Where in the code is it a string?

[2015-11-18 16:40] RobertFewins-Kalb commented on #1409
It's not. But if someone is monkeying with the code and puts it in as a string...

[2015-11-18 16:42] courtrightd commented on #1409
Could we get a copy of their global variables file to look at?

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, November 18, 2015 10:40 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] CAF Script Error - check_for_MAXIS vs check_for_password (#1409)

Where in the code is it a string?

—
Reply to this email directly or view it

[2015-11-18 16:42] RobertFewins-Kalb commented on #1409
I'm just going to call the user that reported the error

[2015-11-18 16:42] theVKC commented on #1409
I doubt they're running locally.

Feel free to ask them via SIR or email. I'm working on a time sensitive report, and have been asked not to investigate this.

[2015-11-18 16:45] Y-Lor-Y commented on #1409
I downloaded scripts file into a local folder as x101 county...Ran it with Beta = False, I did not encounter any error as far as running the CAF script.  When I change Beta = True, I encountered what Charles stated above of the MsgBox error statement when pressing the "NOTES" button on the Power Pad.

[2015-11-18 16:46] RobertFewins-Kalb commented on #1409
on the phone with Kaycie...

[2015-11-18 16:47] theVKC commented on #1409
And that MsgBox @CDPotter reported is intentional error-reduction for me. It's shutting out users without beta. But, it's easy for a scriptwriter to override it.

I am suspecting `IsEmpty(Funclib_URL) = FALSE` might have something to do with it. Perhaps it's missing from their GlobVar.

[2015-11-18 17:02] RobertFewins-Kalb commented on #1409
Has check_for_password been added to anything else?

[2015-11-18 17:07] RobertFewins-Kalb commented on #1409
I think I found the problem for Aitkin County...

![image](https://cloud.githubusercontent.com/assets/7842016/11248027/8f3cbc00-8de4-11e5-8ca9-ee9cbf56956d.png)

I am working with the agency to resolve and test.

[2015-11-18 17:26] RobertFewins-Kalb commented on #1409
So...

Aitkin County's beta_agency value is FALSE, but the code is backward and points the agency to the BETA repository. When the FuncLib is called, it is pointing to the RELEASE FuncLib. The BETA version of the CAF calls the function in question, but that function doesn't exist in RELEASE FuncLib.

We updated the agency's GlobVar. Now it reads IF beta_agency = TRUE THEN ...
It appears that solve

[2015-11-18 17:29] theVKC commented on #1409
Is anyone else's in reverse? That could inform the source of our problem.

And thank you @RobertFewins-Kalb! Above and beyond the call of duty here.

[2015-11-18 17:32] theVKC commented on #1409
I just checked, and the default is set to TRUE. Which works. So, I have a theory.

Months back, I fixed that BETA issue so that non-BETA agencies would be denied access to scripts if they were incorrectly accessing the BETA: this was done to prevent this very issue.

I issued instructions saying to update `beta_agency = True` to `beta_agency = False`. Perhaps instead of just updating it in the one

[2015-11-18 17:33] theVKC commented on #1409
(And no, `check_for_password` is limited to just CAF at present. I sent an email to all contributing scriptwriters about this Monday.)

[2015-11-18 17:34] theVKC commented on #1409
Also, I'm going to close this issue, as the script is fine. @RobertFewins-Kalb, can you sum up your screenshot and suggested fix, and add it to the SIR post on the subject? Thank you! You all were quite helpful with this!

[2015-11-18 17:34] #1409 closed

[2015-11-18 19:55] IlseFerris opened #1413 "DAIL scrubber NEW HIRE enhancement"
Request from Hennepin Co worker: Now that HC can be closed when a recipient doesn't respond to a new hire, can the script also update the HC pop up in CM + 1

[2015-11-18 22:02] khiestand commented on #1148
@theVKC No I don't think you ever did send it.  No worries though, I haven't had any time recently to dedicate to scripts so no rush.

[2015-11-18 22:25] CDPotter commented on #1376
So it looks like there's a function in the script to autofill from FACI however the variable it autofills to isn't used anywhere.

Would it make more sense to write in code to just check DOC or edit the function in the funclib to check for DOC and add back a possibly missing editbox for FACI information.

Also any word on the header anyone who deals with GRH HRFS?

[2015-11-18 23:35] theVKC commented on #1413
I'm hesitant because it would require the script to navigate ahead to the next month, which is really hard. Plus, I think policy might disagree with updating the pop-up right away, as it stops the stat edit that prohibits results (and we need to give time for this, I believe). I could be wrong about that last point, but the next month stuff is a huge thumbs down from me.

[2015-11-18 23:36] theVKC commented on #1376
What is "DOC"?

[2015-11-18 23:37] ramonalisa1 commented on #1376
DOC stands for “Difficulty of Care” which is added on to the basic GRH rate.

Lisa M.
Financial Assistance Supervisor

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private or protected information should not be sent over a public (non-secure)

[2015-11-19 13:29] CDPotter commented on #1413
Agreed, I know we've had it requested in the past but policy concerns and difficulty of making sure that the job carried over to the next month (sometimes stat panels don't carry forward for whatever reasons) always proved to be road blocks.

[2015-11-19 15:26] theVKC commented on #1148
OK, I'll see what I can do today! :)

[2015-11-19 16:29] StormageddonDLOA opened #1415 "Verifs needed bug."
From the SIR discussion form:

"When running the script, it notes that forms were sent to the AREP, even when the box was not selected."

Just checked it and the bug still exists.

[2015-11-19 16:30] StormageddonDLOA commented on #1415
I'll work on it.

[2015-11-19 16:33] CDPotter commented on #1415
100% my fault. It's triggering IF verif_A_check = checked THEN write_variable_in_CASE_NOTE("* Forms sent to AREP.")

[2015-11-19 16:38] StormageddonDLOA commented on #1415
Yep. Nice easy fix. ☺

From: Charles P [mailto:notifications@github.com]
Sent: Thursday, November 19, 2015 10:34 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: Re: [DHS-MAXIS-Scripts] Verifs needed bug. (#1415)

100% my fault. It's triggering IF verif_A_check = checked THEN write_variable_in_CASE_NOTE("* Forms sent to AREP.")

—
Reply to this email directly or view it on GitH

[2015-11-19 17:44] IlseFerris commented on #1413
Sounds good. Thanks for the input. Closing the issue.

[2015-11-19 17:44] #1413 closed

[2015-11-19 17:55] CDPotter commented on #1376
Had a few more suggestions for the overhaul.

-The opening dialog asks for GRH and HC checkboxes. The variables don't do anything. I want to incorporate the checkboxes into the header "November GRH/HC HRF Rec'd 11/1/15: Complete"
-The case note from GRH elig just grabs whatever is currently in ELIG for that month. I'm adding a check to not grab info that wasn't approved. (similar to approved progs

[2015-11-19 20:00] #1415 closed

[2015-11-19 20:09] RobertFewins-Kalb opened #1417 "Krabappel bug with SNAP CSRs"
Can anything think of any reasons why cases appl'd 10/13/15 (app date of 6/6/15) wouldn't show up on REPT/REVS for 12/15? However cases appl'd 10/16/15 (app date 6/5/15) do show up.

-STAT/REVW was coded same for each case.
-Script was run after 5pm in most cases.
-Script was run by two different workers.
Below is my chart of things We've looked at:

CASE 1: Has job, appl'd 10/13/15 19:32, app dat

[2015-11-19 20:13] theVKC commented on #1376
I wish I had more opportunity to work with GRH folks.

So, shall I assume you're taking this issue then?

[2015-11-19 20:16] theVKC commented on #1417
I don't know... the training region is weird.

[2015-11-19 20:16] ruthmaloney commented on #1417
6/6/15 is a Saturday?

Ruth Maloney

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Thursday, November 19, 2015 2:09 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Subject: [DHS-MAXIS-Scripts] Krabappel bug with SNAP CSRs (#1417)

Can anything think of any reasons why cases appl'd 10/13/15 (app date of 6/6/15) wouldn't show up on REPT/REVS for 12/15?

[2015-11-19 21:15] RobertFewins-Kalb commented on #1417
Not sure, but thinking that something happened to the training region on 10/13/15.

[2015-11-19 21:20] theVKC commented on #1417
Feel free to close this if you're done.

[2015-11-19 21:21] theVKC commented on #1375
I'm removing all the ones from October and back. By the time the release goes out, November will almost be a distant memory.

[2015-11-19 21:26] #1417 closed

[2015-11-19 21:30] theVKC commented on #1417
Thanks @RobertFewins-Kalb!

[2015-11-19 21:40] theVKC opened #1418 "Replace "beta" concept in GlobVar with "use_master_branch""
And... scriptwriters can simply update this manually if they want to test the new scripts.

This will remove traces of the beta from Global Variables.

[2015-11-19 21:45] theVKC opened #1419 "Replace "beta" concept in FuncLib call with "use_master_branch", publish new FuncLib call in main directory"
On it.

[2015-11-19 21:47] theVKC opened #1420 "Replace old FuncLib call with BETA-less call in ACTIONS scripts and test each script"
Opportunity for lines of code here!

[2015-11-19 21:47] theVKC opened #1421 "Replace old FuncLib call with BETA-less call in BULK scripts and test each script"
Opportunity for lines of code here!

[2015-11-19 21:49] CDPotter commented on #1376
Yes I am already working on it.

[2015-11-19 21:51] theVKC opened #1422 "Replace old FuncLib call with BETA-less call in DAIL scripts and test each script"
Lines of code opportunity here!

[2015-11-19 21:52] theVKC opened #1423 "Replace old FuncLib call with BETA-less call in MEMOS scripts and test each script"
Any takers? Good opportunity for your code count!

[2015-11-19 21:53] theVKC opened #1424 "Replace old FuncLib call with BETA-less call in NAV scripts and test each script"
Any takers? Plenty of lines here!

[2015-11-19 21:55] theVKC opened #1425 "Replace old FuncLib call with BETA-less call in NOTES scripts and test each script"
LOTS AND LOTS of lines here...

[2015-11-19 21:56] theVKC commented on #1376
Beautiful!

[2015-11-19 22:01] IlseFerris commented on #1425
I can take these issues, and work on them on Monday (since I've already done something very similar with the 1st update).

[2015-11-20 13:42] IlseFerris opened #1429 "Main Menu MEMOS MAEPD no initial premium script not accessable"
file extension not present so script cannot be accessed. Submiting a fix to all branches.

[2015-11-20 15:29] theVKC commented on #1429
@MN-Script-Team/county-agency-scriptwriters

A reminder to all folks building and testing scripts: it's vital that when we release new scripts into the master/beta branch for testing (and you-all get a copy of my release notes), that several of us try the new scripts to make sure that at the very least, the buttons work and no fatal flaws are detected.

Lately, I haven't had as much time to test d

[2015-11-20 15:40] theVKC commented on #1425
I am breaking this up into sections, unlike doubtfire which was wayyyyy too many scripts to update. I'll give you the NOTES section, but I want to see others try the others if possible.

[2015-11-20 15:42] #1429 closed

[2015-11-20 15:42] IlseFerris commented on #1425
Works for me. We can work on this at hackathon on Monday if some attendees want to take a crack at the others.

[2015-11-20 15:52] IlseFerris commented on #1425
no trouble :)

[2015-11-20 16:50] theVKC opened #1433 "Deleted unused folders from main project folder"
Just cleaning things up. On it.

[2015-11-20 18:04] RobertFewins-Kalb opened #1434 "Standardize use of 7 digit (x1##### or PW#####) worker numbers across bulk scripts"
Misc Non-MAGI HC deductions is not properly dumping the user's x1 number In REPT/ACTV...
![image](https://cloud.githubusercontent.com/assets/7842016/11307396/6e028750-8f7d-11e5-967c-a66cbdb7bf7c.png)

However, we have noticed that the script does the exact same thing as BULK>> PDED (PDED came second...).

Proposal >> Fix position of worker_number dump in REPT/ACTV and update Misc Non-MAGI HC Deduc

[2015-11-20 18:25] theVKC commented on #1434
You're talking about two separate issues: a bug and an enhancement.

Re: the bug: This logic needs to match the logic used in the other BULK scripts. I don't particularly care how the problem is solved (and I support solving it), so long as the logic all matches. If you've devised a new method, I want to hear it, but remember that some users of the script work across counties (so that same logic a

[2015-11-23 15:51] #1364 closed

[2015-11-23 15:57] #1393 closed

[2015-11-23 16:04] #1367 closed

[2015-11-23 16:13] C-Love commented on #956
@theVKC - I will take this. I will be able to get the dedicated time for it. Yay!!!

[2015-11-23 16:16] #1408 closed

[2015-11-23 16:18] #1418 closed

[2015-11-23 17:12] #1231 closed

[2015-11-23 17:21] #81 closed

[2015-11-23 17:29] theVKC commented on #956
Go @C-Love!

[2015-11-23 17:39] #1266 closed

[2015-11-23 17:48] CDPotter commented on #1399
GIST of our ideas from Hackathon today

https://gist.github.com/CDPotter/8fab998bbe4b048db135

[2015-11-23 17:58] RobertFewins-Kalb opened #1441 "BUG -- paystubs received skips over job 01 when the member is not 01"
@CDPotter is working on it

[2015-11-23 18:09] #1441 closed

[2015-11-23 18:26] #1419 closed

[2015-11-23 20:28] #1423 closed

[2015-11-23 21:02] #1421 closed

[2015-11-23 22:21] #1424 closed

[2015-11-23 22:21] #1422 closed

[2015-11-23 22:30] theVKC commented on #1425
Resolved by @IlseFerris!

[2015-11-23 22:30] #1425 closed

[2015-11-23 22:37] #1420 closed

[2015-11-24 17:25] #1406 closed

[2015-11-25 15:36] IlseFerris opened #1456 "Critical bug LTC COLA script"
users cannot access this script due to function error.

[2015-11-25 16:02] IlseFerris opened #1460 "SNAP E & T contact phone number for Hennepin County needs to be updated"
Employment services has requested the contact phone number be changed from the EZ info number to 612-596-7411.

[2015-11-25 16:07] CDPotter opened #1462 "enhancement BULK menu swap"
I've been thinking for an end user it might make more sense for the OTHER BULK scripts to be the default menu rather than the LIST Gen scripts. Seems like people are more likely to use the OTHER BULK scripts rather than the LIST ones.

[2015-11-25 16:13] #1363 closed

[2015-11-25 16:13] #1456 closed

[2015-11-25 16:15] theVKC opened #1463 "COLA 2016 needs button to be updated on NOTES menu"
Can you take this one @IlseFerris?

[2015-11-25 16:16] IlseFerris commented on #1463
On it!

[2015-11-25 16:18] theVKC commented on #1462
I disagree. From what I hear the list ones are more popular. But, I'm open to other scriptwriters from other agencies weighing in. @MN-Script-Team/county-agency-scriptwriters?

[2015-11-25 16:19] #1460 closed

[2015-11-25 17:20] #1463 closed

[2015-11-25 19:50] CDPotter opened #1467 "BUG LTC Asset assessement writing assets multiple times"
A worker reported that the script is writing the same assets over and over again. Looking at the code it seems at line 239 it is looking for “NO MORE ASSETS TO DISPLAY” however when I go to the affected case and pf8 it displays “THERE ARE NO MORE ASSETS” at 19, 7.

If anyone wants to tackle and test this one feel free. I don't think I will be able to tackle it this afternoon as I'm leaving shortly

[2015-11-27 23:18] theVKC commented on #1467
Any ideas @IlseFerris?

[2015-11-30 14:28] CDPotter commented on #1467
I was able to get a few cases to verify that the verbiage in MAXIS has changed. I'll work on it today and do some testing.

[2015-11-30 14:36] IlseFerris commented on #1467
I started on this, so I can keep going. Unless you're deep into the rabbit hole already.

[2015-11-30 14:38] CDPotter commented on #1467
Ah nope I am not. Do you want me to email a few case numbers with multiple pages of asset assessments for testing?

[2015-11-30 14:38] IlseFerris commented on #1467
That would be amazing! Thanks @CDPotter

[2015-11-30 15:22] IlseFerris commented on #1467
MAXIS ASET function in training and production are different from each other, but only slightly. Just so everyone knows who dares goes in there. #MAXISFAIL

[2015-11-30 15:47] theVKC commented on #1467
Hmmm. Weird. When you're all wrapped up with this one, can you write up a description of exactly what's different, and send it my way? I might forward it to some folks here. We try to keep those areas in sync, so this sounds weird to me.

[2015-11-30 15:57] CDPotter opened #1468 "New Script idea (for post freeze) Adding adult kids WCOM(input needed)"
While doing a training a few weeks back it was suggested that maybe we could have a WCOM for when you have to add an adult child to a SNAP family HH if they meet a caretaker exemption. Apparently there is a FAIT procedure and prescribed WCOM that goes along with this.

Is anyone more familiar with this procedure?

[2015-11-30 16:11] ruthmaloney commented on #1468
It’s listed in POLI TEMP ABAWD STAT/WREG Coding – child under 18   TE02.05.70.03, starts on page 8

Ruth Maloney

From: Charles P [mailto:notifications@github.com]
Sent: Monday, November 30, 2015 9:57 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Subject: [DHS-MAXIS-Scripts] New Script idea (for post freeze) Adding adult kids WCOM(input needed) (#1468)

While doing

[2015-11-30 16:21] IlseFerris commented on #1467
Will do

[2015-11-30 16:32] theVKC commented on #1468
Thanks for the idea! FYI: I'd prefer to keep new script ideas off of GitHub for the time being. I would prefer to see current issues reduced before we add new ones that can't be worked on.

I tagged this as "POST FREEZE ONLY" and we can reevaluate it after the new scripts freeze ends. I'll now close the issue, we can reopen it after the freeze.

[2015-11-30 19:38] #1467 closed

[2015-11-30 21:29] theVKC opened #1472 "run_locally should default to 'true' (the installer will set it to false manually)"
Scriptwriters testing scripts will be instructed on how to use this feature. Spoiler alert: clone both the DHS-MAXIS-Scripts and BZS-FuncLib repos to C:\.

[2015-11-30 21:33] theVKC opened #1473 "Scripts should default to multicounty use"
This allows scriptwriters to test. No more Anoka primacy on GlobVar. :P

[2015-11-30 21:35] #1407 closed

[2015-11-30 22:18] theVKC commented on #1472
This should only be done once the installer is updated.

[2015-11-30 22:24] theVKC opened #1475 "Create new script and redirect (and Power Pad button) for "UTILITIES - INFO""
It's meant to give the user info about their last updated date, and links to script info in SIR and elsewhere.

I am using executive authority to provide this simple script even though we're in the script freeze: I only have so many opportunities to update the Power Pad and adding this script now reduces the amount of times folks will have to update the Power Pad.

[2015-11-30 23:32] theVKC opened #1476 "Oversight issue: there was never a NAV - GRH button"
I will be adding one and setting up a redirect/button for it.

[2015-12-01 18:53] StormageddonDLOA opened #1477 "MFIP Sanction case note."
It was reported that the MFIP sanction case note is giving an edit that 01/01/2016 is not a valid date of sanction.

[2015-12-01 18:54] courtrightd commented on #1477
I just had the same issue reported.  I can take it, I have time this afternoon.

From: StormageddonDLOA [mailto:notifications@github.com]
Sent: Tuesday, December 01, 2015 12:54 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] MFIP Sanction case note. (#1477)

It was reported that the MFIP sanction case note is giving an edit that 01/01/2016 is not a valid date of sanction.

—
R

[2015-12-01 18:56] IlseFerris commented on #1477
My email was down all day until about 2 minutes ago. We've had 2 reports with the same issue here.

[2015-12-01 19:22] theVKC commented on #1477
Please pull the fix into master, beta, and release branches. Note the FuncLib block is different for master than beta and release. Thanks @courtrightd!

[2015-12-01 19:24] #1477 closed

[2015-12-01 19:51] khiestand opened #1482 "Appt letter Looping issue with cases in PND1 and month incorrect"
I have a worker that is trying to use the Appointment letter script and it just keeps looping, she clicks ok and then it runs but she has to click the stop button to get it to stop.  I verified she is in S1 and she has opened and closed Bluezone a few times.  Anyone else having any issues?? @devonne01   I am leaving for the day at 2pm so tagged Devonne on this.

[2015-12-01 20:30] courtrightd commented on #657
I need some help on this.  I'm working on a dialog to choose the Excel file to look at after the 1st of the month. I was trying to create an FSO to look at the contents of a folder, pull all .xlsx files into array, and populate them into a dropdown using the convert_array_to_droplist function.  It works great everywhere except the obvious place for this folder; "my documents".  Windows prevents th

[2015-12-01 20:40] theVKC commented on #1482
I would think this would be largely reported as it's a popular script. Anyone in @MN-Script-Team/5k-club see it?

[2015-12-01 20:41] theVKC commented on #657
I believe there is a reserved keyword for My Documents, as modern Windows lets you map it to several locations. I don't recall how @RobertFewins-Kalb did it for the worker signature script, but perhaps he can shed some light?

[2015-12-01 20:54] RobertFewins-Kalb commented on #1482
No complaints in x102 and when I test it, all it well.

[2015-12-01 20:55] RobertFewins-Kalb commented on #1482
*is well...

[2015-12-01 20:55] IlseFerris commented on #1482
My county does not use this script, so no input from the x127. Sorry.

[2015-12-01 20:56] RobertFewins-Kalb commented on #1482
scandal!!

[2015-12-01 20:57] IlseFerris commented on #1482
We're always causing trouble :)

[2015-12-01 21:04] theVKC commented on #1482
#StateOfHennepin #x127 #theydontbreaktherulestheyjustmakenewones

[2015-12-01 21:25] IlseFerris commented on #1482
LOL! It's funny because it's true

[2015-12-01 22:23] StormageddonDLOA commented on #1482
No issues when I used it earlier today. X173

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, December 01, 2015 2:40 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] Appt letter Looping issue?? (#1482)

I would think this would be largely reported as it's a popular script. Anyone in @MN-Script-Team/5k-club<https://github.com/orgs/MN-Script-Team/tea

[2015-12-02 14:18] courtrightd commented on #657
So, I think I have a solution - it works fine in subfolders, so either there is some corrupted file in my My Documents folder, or I can just place the files in their own subfolder.

[2015-12-02 15:49] CDPotter opened #1483 "BULK COLA auto approved 2016"
Is this on anyone's radar to update for this year? @RobertFewins-Kalb

[2015-12-02 16:17] CDPotter opened #1484 "bug BULK TIKLer"
Contains old cancel confirmation logic that is causing script errors when clicked. On it.

[2015-12-02 16:39] #1484 closed

[2015-12-02 16:52] devonne01 commented on #1482
I think I have figured out but not sure why it is happening. It seems to happen in PND1 status for the appointment letter but can do other scripts. I moved one case to pnd2 and ran the appointment script and it worked then. That’s why I’m thinking it’s if the case is still in PND1 status? Any ideas?

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Tuesday, December 01, 2015 3:05 P

[2015-12-02 16:55] theVKC opened #1488 "We need a redirect-notes file, and the list of scripts needs to reflect it"
This is part of "Operation Get-Rid-Of-The-Alpha-Split-On-The-Power-Pad". On it.

[2015-12-02 16:56] theVKC commented on #1482
Hmmm. Is there a function in the script that checks PND2? If there is, perhaps we need to include logic to detect a case in PND1 and cancel that specific function?

[2015-12-02 16:58] theVKC opened #1489 "STAT/PROG navigation button for the Power Pad? Thoughts?"
Looking for feedback. It's easy enough and I'm finishing the new Power Pad today (I was out yesterday).

@MN-Script-Team/county-agency-scriptwriters?

[2015-12-02 17:00] devonne01 commented on #1489
I don’t know that answer. I usually move all mine to pnd2 right away and then send out the appointment via the script.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, December 02, 2015 10:59 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Devonne R. Kent <Devonne.Kent@co.wright.mn.us>
Subject: [DHS-MAXIS-Scripts] STAT/PROG navigation

[2015-12-02 17:01] courtrightd commented on #1482
I just ran it in training on a PND1 case without issue.

From: devonne01 [mailto:notifications@github.com]
Sent: Wednesday, December 02, 2015 10:52 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Appt letter Looping issue?? (#1482)

I think I have figured out but not sure why it is happening. It seems to happen in PND1 status for the appointment letter

[2015-12-02 17:03] devonne01 commented on #1482
Hmm.. I did both cases that my coworker had in pnd1 and I had issues on my computer. I then moved one to pnd2 and ran the appointment script again and had NO issues.

From: David Courtright [mailto:notifications@github.com]
Sent: Wednesday, December 02, 2015 11:01 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Devonne R. Kent <Devonne.Kent@co.wright.mn.us>
Subje

[2015-12-02 17:06] theVKC commented on #1482
@devonne01 and @courtrightd: can you tell me what version of BlueZone you're running? (Help menu>About BlueZone)? The standard deployment is v5.1c2.

[2015-12-02 17:08] CDPotter commented on #1489
Seems unnecessary to me.

[2015-12-02 17:09] devonne01 commented on #1482
Does this help?

[cid:image001.png@01D12CF1.B4CBA340]

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, December 02, 2015 11:06 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Devonne R. Kent <Devonne.Kent@co.wright.mn.us>
Subject: Re: [DHS-MAXIS-Scripts] Appt letter Looping issue?? Cases in PND1 status? (#1482)

@devonne01<https://gith

[2015-12-02 17:10] courtrightd commented on #1482
V5.1 Build 1266

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, December 02, 2015 11:06 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Appt letter Looping issue?? Cases in PND1 status? (#1482)

@devonne01<https://github.com/devonne01> and @courtrightd<https://github.com/courtrightd>: can you tell me what version of BlueZon

[2015-12-02 17:12] Y-Lor-Y commented on #1489
In situation such as MFIP closed and SNAP needs to be open, client requesting EA, and etc.  I would support it being added.  Compare to ACCT button that is currently up, I'd say this one is often use less or equally then a PROG navigate.  I'd say if there are room, I'd support it.  If you're cutting for more room...not having it is fine, too.

[2015-12-02 17:43] devonne01 commented on #1489
The worker said that she thinks it has to do with footer month? She got the application on 11/30/2015 and tried to do appointment letter in December and it didn’t work, went back to footer month 11 and it worked?

From: Yang Lor [mailto:notifications@github.com]
Sent: Wednesday, December 02, 2015 11:13 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Devonne R. Ke

[2015-12-02 18:40] theVKC commented on #1482
@devonne01, I can't see that because this is on GitHub. You're responding via email so I can't see attachments here on GitHub.

[2015-12-02 18:45] devonne01 commented on #1482
OOPS sorry LOL
Bluezone mainframe display v5.1 build 1266

[2015-12-02 18:55] theVKC commented on #1482
@devonne01 and @courtrightd: v5.1, or v5.1c2? There is a difference, and I need to confirm something.

[2015-12-02 18:58] courtrightd commented on #1482
My version is identical – V5.1 build 1266.   No c2 anywhere that I can see.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, December 02, 2015 12:56 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Appt letter Looping issue?? Cases in PND1 status? (#1482)

@devonne01<https://github.com/devonne01> and @courtrightd<https://gith

[2015-12-02 18:59] RobertFewins-Kalb commented on #1482
I'm curious what logic is looping. Are we talking about the script generating new case notes and appointment letters on a constant loop? We're not really working with a lot of information.

[2015-12-02 19:03] theVKC commented on #1489
@devonne01, this is the wrong thread for this reply. I think you meant to send that to the other thread. This is about adding a STAT/PROG button.

[2015-12-02 19:04] theVKC commented on #1489
@IlseFerris, your idea is hanging by a thread. Care to defend it?

[2015-12-02 19:07] devonne01 commented on #1482
I see any v5.1c2 it just says v5.1

[2015-12-02 19:08] devonne01 commented on #1482
I have a coworker that has two cafs that she wanted to send out an appointment letter for in case notes. it's looping and I thought maybe it was because it was in pnd1 status because I tried one of hers and I had the same issue but when I moved it to pnd2, it let me make the appointment letter. She thinks it has to do with the footer months. She states she got applications in November and tried to

[2015-12-02 19:26] C-Love commented on #1489
I would say that this navigation is used heavily by screeners. For counties that have people dedicated to screening/appling this makes a lot of sense.

[2015-12-02 19:50] IlseFerris commented on #1489
Super helpful to see application dates of multiple programs and status while staying in STAT

[2015-12-02 20:10] theVKC commented on #1482
Any ideas as to why that would be the case? Why would the footer month matter?

[2015-12-02 20:12] #1263 closed

[2015-12-02 20:14] theVKC commented on #1489
If Ramsey and Hennepin want it, that's good enough for me.

[2015-12-02 20:15] theVKC commented on #1489
Oh, and I can break freeze on this because it's a nav script and updating the Power Pad over and over again isn't fun or desirable.

[2015-12-02 20:15] courtrightd commented on #1489
Lets just bend the rules for Hennepin once again.  ☺

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, December 02, 2015 2:15 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] STAT/PROG navigation button for the Power Pad? Thoughts? (#1489)

Oh, and I can break freeze on this because it's a nav script and updating the Power Pad

[2015-12-02 20:16] theVKC commented on #1489
x127 + x162 = lots of persuasion

[2015-12-02 20:16] theVKC commented on #1489
(besides, because it takes a Power Pad update, most workers won't see it until at least January)

[2015-12-02 20:18] courtrightd commented on #1482
Apparently they do matter, I just recreated the issue in training once I did the footer month.  Stand by while I dig into this.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Wednesday, December 02, 2015 2:11 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Appt letter Looping issue?? Cases in PND1 status? (#1482)

Any ideas as to why

[2015-12-02 20:27] courtrightd commented on #1482
The issue is the maxis_background_check function.  If the script is run from 12/15 on a PND1 case and 11/15 is appl month, maxis generates an error message: “benefit month must equal application month for CAF I cases 11/15”  Stuck on the self screen, it becomes an infinite loop.  I’m thinking potential solution is to put the code for maxis background check directly into the script, add a check for

[2015-12-02 21:16] khiestand commented on #1482
I knew something was "looping" infinitely! :-) I am so proud of myself for using the correct terminology!

[2015-12-02 21:19] devonne01 commented on #1482
Good job. Kelly :)

[2015-12-02 22:28] C-Love opened #1491 "Bug in NOTES - Application Received"
The script no longer errors when case is not in PND2 BUT the footer month and year need to be defined if there is no date of application from REPT/PND2. Bug discovered with additional testing. I have a fix already.

[2015-12-02 22:58] IlseFerris commented on #1489
Hey now @courtrightd, I resemble that remark...:)

[2015-12-02 23:45] theVKC commented on #1482
@courtrightd: I like your solution. Comment it well. :)

[2015-12-02 23:47] #1491 closed

[2015-12-02 23:49] theVKC commented on #1472
I need to make sure the installer actually does this before changing it.

[2015-12-03 00:06] #1327 closed

[2015-12-03 00:06] #1475 closed

[2015-12-03 00:06] #1476 closed

[2015-12-03 00:06] #1488 closed

[2015-12-03 00:06] #1489 closed

[2015-12-03 15:42] courtrightd opened #1494 "EditBoxes on ACTIONS - TRANSFER are sized differently (master only)"

[2015-12-03 15:44] theVKC commented on #1494
Can you expound on this a bit, @courtrightd? Is this a question, a bug, an enhancement?

[2015-12-03 15:46] courtrightd commented on #1494
Just a consistency issue – looks like when HC got added to the dropdown, the editbox sizes changed from 15 to 20, so the in-county dialog looks different from the out-of county dialog.

From: Veronica Kahl Cary [mailto:notifications@github.com]
Sent: Thursday, December 03, 2015 9:44 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] EditBoxes on ACTIONS -

[2015-12-03 15:47] RobertFewins-Kalb commented on #1494
There's also an orientation issue. The bottom of the text needs to align with the bottom of the edit box...

![image](https://cloud.githubusercontent.com/assets/7842016/11565296/ed2e3018-99a2-11e5-8847-b6c54aafc24f.png)

[2015-12-03 16:00] courtrightd commented on #1494
It's all cleaned up now - I just copied the existing version of the dialog from BETA and added HC to the dropdown.

[2015-12-03 16:11] #1494 closed

[2015-12-03 17:22] CDPotter opened #1496 "BUG (funclib) Write to note functions"
Anyone else running into overwriting problems on the CAF? Looks like SHEL, COEX/DCEX, ACCT, and other assets wrote over the header and notes on income and budget.

![2015-12-03 11_16_46-s1 - anoka desktop - anoka scripted desktop - bluezone mainframe display](https://cloud.githubusercontent.com/assets/7841989/11568119/f915c280-99af-11e5-92a1-0b6b2a6f10cf.png)

[2015-12-03 17:42] theVKC commented on #1496
The pattern here is weird. Typically with an overwrite you would see things in a sequence. The overwriting itself goes in order.

[2015-12-03 17:42] theVKC commented on #1496
This, though, has shel/hest at the top and coex toward the bottom.

[2015-12-03 17:44] CDPotter commented on #1496
Yeah that's why I'm leaning towards fluke but just wanted to throw it out there in case.

[2015-12-03 18:54] IlseFerris commented on #1496
It's running fine in Hennepin

[2015-12-04 15:55] #1482 closed

[2015-12-04 15:58] theVKC commented on #1496
One thing that happens sometimes is people enter or home or something while it's running. I'm blaming that (or just some random fluke) and closing the issue.

[2015-12-04 15:58] #1496 closed

[2015-12-04 16:02] IlseFerris opened #1500 "SNAP E & T enhancement for banked ABAWD months"
If a HH member is using counted ABAWD months, a manual referral will be needed. I will take this.

[2015-12-04 16:02] IlseFerris commented on #1500
I'm #1500 !!!!!!!!

[2015-12-04 16:05] theVKC commented on #1500
Woo Goo!

[2015-12-04 16:07] IlseFerris opened #1501 "MEMOS main menu NOMI for Henn County enhancement"
Disabled the coding to prevent Henn Co users from using the NOMI.

[2015-12-04 16:08] IlseFerris opened #1502 "MEMO - NOMI enhancements"
Added Hennepin County specific information

See pull request #1498

[2015-12-04 16:09] IlseFerris commented on #1501
See pull request #1499

[2015-12-04 16:11] #1502 closed

[2015-12-04 16:12] #1501 closed

[2015-12-04 16:33] IlseFerris commented on #1500
Hey now...

[2015-12-04 18:35] theVKC commented on #1500
It'll never go away, @IlseFerris.

[2015-12-04 18:39] IlseFerris commented on #1500
Dang auto-correct

[2015-12-04 19:47] RobertFewins-Kalb opened #1503 "NOTES >> APPLICATION RECEIVED is not working in RELEASE"
The issue was reported in SIR and it looks like it's still brokes. It is working in MASTER but not RELEASE.

[2015-12-04 19:47] RobertFewins-Kalb commented on #1503
Sorry... the footer month is being erased when you run the script on a case that is not yet in REPT/PND2.

That's the issue.

[2015-12-04 19:57] theVKC commented on #1503
Basically, #1491 needs to be copied over into RELEASE. @RobertFewins-Kalb, are you on it?

[2015-12-04 19:57] RobertFewins-Kalb commented on #1503
yarp

[2015-12-04 19:59] RobertFewins-Kalb commented on #1503
Pull request merged...

[2015-12-04 19:59] #1503 closed

[2015-12-04 20:00] theVKC commented on #1503
This was a duplicate of #1491, that due to the extra-long time between releases wasn't released from master as quick as we'd like. Generally, any critical bugs (that prevent the script from working entirely) should go to both master and release branches.

[2015-12-04 20:01] RobertFewins-Kalb commented on #1503
I'm not going to bother pulling to BETA since that is going extinct.

[2015-12-04 20:40] RobertFewins-Kalb opened #1505 "BUG >> CSES PROCESSING DAIL"
This appears to be a fluke, BUT we have still discovered a deficiency. A worker has reported two cases ( @CDPotter  and I have confirmed) that the script is accepting a generic last name, picking the first person from the list in PESE instead of the client.

When we were looking through the code, we found that the script is not erasing the last name on PESE (should be an emwritescreen "

[2015-12-04 20:46] RobertFewins-Kalb commented on #1505
Proof of concept... We built a dumb little EMSendKey script to test whether the script will move to the next command before it finishes writing. We have now observed the script performing a command before the EMSendKey is finished. See case notes on training case 226398.

The case note (header "PROOF OF CONCEPT") should end like this...
![image](https://cloud.githubusercontent.com/assets/7842016/1

[2015-12-04 21:50] CDPotter commented on #1394
So I've had it sitting on my desktop for a while now in working form. I'm going to submit what I have.

[2015-12-04 22:53] CDPotter commented on #1376
Issue was resolved with pull #1455 Closing.

[2015-12-04 22:53] #1376 closed

[2015-12-05 01:50] theVKC commented on #1503
Agreed

[2015-12-08 12:45] IlseFerris opened #1510 "Readme "intro" file has outdated info re: BETA"
Resolved with #1509

[2015-12-08 21:00] theVKC commented on #1510
Love it!

[2015-12-08 21:01] #1510 closed

[2015-12-08 21:03] #1505 closed

[2015-12-09 15:56] theVKC opened #1513 "New ABAWD Banked months process FIATER"
This overrides script freeze because MAXIS isn't doing what it needs to do in any capacity for the ABAWD banked months. Also, it isn't coming out until January, so there's that.

@courtrightd, @IlseFerris, @C-Love, and I are working on it.

[2015-12-09 16:02] theVKC opened #1514 "JOBS panel gets updated Jan for Feb potentially"
We need to insert logic into Boardwalk to facilitate this.

[2015-12-09 17:19] RobertFewins-Kalb opened #1515 "Enhancement Request NOTES >> GRH HRF, footer month"
The script is being used for case noting post-pay GRH, which is retro.We have already updated the case note header to be the retro month, so a worker has requested that the footer month default to the retro month as well.

I can take this one.

[2015-12-09 17:54] CDPotter opened #1519 "NOTES burial assets"
Had a question on why the policy number is required on this script. Per the PC's investigation into policy a policy number isn't required. Should we remove this requirement?

[2015-12-09 18:08] IlseFerris commented on #1519
If new information shows it's not mandatory, then yes, we should remove it.

[2015-12-09 21:39] theVKC opened #1527 "Boardwalk: add support for RBIC income to the script"

[2015-12-09 21:40] theVKC opened #1528 "Boardwalk: add earned income types other than W to the script"
Let's also include subsidized income types to the script.

[2015-12-09 22:57] kaleykobber opened #1532 "DAIL scrubber enhancement - CSES"
Is it possible to have a case note script available for when the script cannot be used to process the child support DAIL message(s)? So, the worker runs the DAIL scrubber script, the script can't process the DAILs, and the worker receives an error message to process them manually. Then, the worker processes the child support DAILs manually, and then could run a case note script following manual pr

[2015-12-10 19:20] RobertFewins-Kalb opened #1534 "Bugs >> Footer Month & Year are still wonky in CAF"
Footer month is still not showing up (I think it's because of string vs. numeric).

I will submit a fix.

[2015-12-10 20:12] CDPotter commented on #1519
It's not a field on the OTHR panel so I'd say it's safe to go. I'm going to submit a pull with it commented out (yay err message handling making this super easy!). Due to the way the case note works I'm going to add a bit to if "" then = "not provided"

[2015-12-10 20:33] theVKC commented on #1532
@RobertFewins-Kalb, I was thinking you had something like this being worked on in your present work on CS.

[2015-12-10 20:36] RobertFewins-Kalb commented on #1532
That was the plan. However, during development, we hit an exception access violation -- making me think the array (storing CSES and UNEA classes is too large for the script host to handle).

We will revise our approach to the CSES DAIL Scrubber, but we will make sure we are case noting thoroughly.

[2015-12-10 20:36] #1534 closed

[2015-12-10 20:37] theVKC commented on #1519
Is it conditionally required? Like, if there's a policy we should include the number?

[2015-12-10 20:39] theVKC commented on #1532
I have some ideas for that, BTW. I think we can (and should) still do it as an array. I may have mentioned that many agencies are moving to cloud-based Microsoft Office solutions, and these don't necessarily include the OLE automation for Excel. So, eventually, we must either stop supporting the script or move it into array handling.

In any case, should I remove this as a "question", and add it a

[2015-12-10 20:39] CDPotter commented on #1519
Yes it's part of the ERR_MSG handling.

Looking through the code and going to the source of the suggestion we learned a few things. 1: the script already defaults policy_number to "none" 2: the worker must have deleted this default thus causing her problems with mandatory verification.

Since the script already defaults and answer of "none" in there I think this can be closed.

[2015-12-10 20:39] #1519 closed

[2015-12-10 20:40] RobertFewins-Kalb commented on #1532
I think close it. The plan from day 1 included a more thorough case note.

[2015-12-10 20:48] theVKC commented on #1532
Right, but if you're including the issue as @kaleykobber described, it still makes it a trackable issue on GitHub for people other than you. :)

Also, technically @kaleykobber is asking for a separate case note, and I don't know that we've addressed that. A "you updated this manually" case note template. @kaleykobber, would you see value in a separate case note IF the DAIL scrubber started noting

[2015-12-10 20:49] theVKC commented on #1519
Good deal, thanks @CDPotter!

[2015-12-10 20:58] RobertFewins-Kalb commented on #1532
Whichever. You can leave it at enhancement request. I just don't know how quickly this will get done (it's a beast) and I don't want to have a bunch of open projects hanging out there.

[2015-12-10 21:46] kaleykobber commented on #1532
I like the idea of the DAIL scrubber case noting each case, but this would be for cases where the script stops and is not able to process the child support. So, would it still case note in that scenario? The DAILs may be within the realm or may be outside of the realm, but for whatever reason, couldn't be updated by the script. Maybe it needs to be a separate NOTES script that just follows the sam

[2015-12-10 21:54] IlseFerris opened #1536 "Critital bug: NAV button & INFO ABOUT BLUEZONE SCRIPTS button issue"
Not sure if anyone else is getting this issue, and it also doesn't seem to be effecting the other new scripts. Getting the "something has gone wrong" message, followed by this message when you hit OK

"script error at line 32, column 5/Type mismatch: 'script_end_procedure"

[2015-12-10 21:56] RobertFewins-Kalb commented on #1536
If the script is not successfully loading the FuncLib, the script host will not know what "script_end_procedure" means and will give you a type mismatch error.

[2015-12-10 21:59] courtrightd commented on #1536
This is not an issue here.

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Thursday, December 10, 2015 3:57 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] Critital bug: NAV button & INFO ABOUT BLUEZONE SCRIPTS button issue (#1536)

If the script is not successfully loading the FuncLib, the script host will not know what "script_end_procedure" means and wil

[2015-12-10 22:02] theVKC commented on #1536
@IlseFerris, did you download and set-up the redirect files?

[2015-12-10 23:06] CDPotter opened #1538 "BUG GRH FACI OP memo"
variables got out of whack on this script. There were two different variables being used for total overpayments. I've fixed it to 1 variable and added in extra logic in case worker doesn't enter in a total (script will calculate total if worker doesn't enter a value now) Submitting fix shortly.

[2015-12-11 13:35] CDPotter commented on #1483
So looking through the code this morning it looks like it doesn't have any month of year specific data points. So I'm going to close this. If we get information that there are dail messages that have changed (though maybe we won't get anything since there's no change this year)

[2015-12-11 13:35] #1483 closed

[2015-12-11 13:35] CDPotter commented on #1462
Anyone else have any thoughts? If not I'm gonna close the list and we can make local adjustments.

[2015-12-14 14:43] #1536 closed

[2015-12-14 14:50] theVKC commented on #1375
Can we remove them from November forward? So only scripts that are new as of November or December would be included in this thing.

[2015-12-14 15:17] theVKC commented on #758
Closing because this is sort-of duplicated from the ABAWD checker from @CDPotter and @RobertFewins-Kalb. Can re-evaluate if we decide to add actions (like updating WREG).

[2015-12-14 15:17] #758 closed

[2015-12-14 15:23] theVKC commented on #1250
Marking this as help-wanted because @IlseFerris may not have a lot of time in the near future to work on it.

[2015-12-14 15:26] theVKC commented on #599
@CJOHNS356: any chance you've wrapped this one up? We'd love to have it, considering COLA is on us again. :)

[2015-12-14 15:38] #1387 closed

[2015-12-14 15:39] theVKC commented on #1434
@RobertFewins-Kalb: are you working on this? I'm at hackathon and we can look at it if it hasn't been evaluated.

[2015-12-14 15:42] #1462 closed

[2015-12-14 15:48] theVKC commented on #1532
@kaleykobber: is it OK if we change this to "adding an other notes section to the case note"? I ask because feedback at hackathon indicates that workers usually update the SNAP info manually, and then simply re-run the script (and changing that process might be more difficult than amending the existing script)?

The new title would read "CSES: add 'other notes' section to script".

[2015-12-14 16:41] #1538 closed

[2015-12-14 16:45] #1515 closed

[2015-12-14 17:18] RobertFewins-Kalb commented on #1434
I have not.

[2015-12-14 17:35] StormageddonDLOA commented on #1375
I believe they should all be updated now. Please let me know if I missed any.

[2015-12-14 18:47] StormageddonDLOA commented on #1247
Closing this as there are new ABAWD rules coming out and another ABAWD script being worked on that may cover this.

[2015-12-14 18:47] #1247 closed

[2015-12-14 18:50] kaleykobber commented on #1532
Yes, I think that would be fine.
Maybe the issue of what to do when child support falls outside the realm needs to be a county process, then? It does not appear that this can be addressed through the script (even as a case note scenario)?

[2015-12-14 19:21] #1500 closed

[2015-12-14 20:25] #1318 closed

[2015-12-14 20:27] CDPotter opened #1550 "Denied progs enhancement:code cleanup"
The TIKL checkbox logic at the end could be a little cleaner. Cleaning up now.

[2015-12-14 20:29] #1375 closed

[2015-12-14 20:36] theVKC commented on #1532
I think we can give people a space to talk about it, but right now it's kind of weird.

[2015-12-14 20:42] theVKC commented on #1532
* weird to address with a script, because things can be so county-specific.

[2015-12-14 21:32] CDPotter commented on #1434
I was going to update the worker number bug on each script standardizing to a 7 digit format on all of them. Would you like that submitted script by script or in one big pull?

[2015-12-14 21:45] #1550 closed

[2015-12-14 22:19] theVKC commented on #186
Reopening this issue. I want to get the script out there, in advance of Project Gorbachev getting to chainload stuff.

[2015-12-15 17:44] theVKC commented on #1434
Whatever easiest for you at this point. :)

[2015-12-15 17:45] theVKC commented on #1434
I've renamed the issue to reflect the new scope.

[2015-12-15 19:21] theVKC opened #1553 "Incarceration script won't load"
Looks like there may be an issue with the URL. On it.

[2015-12-15 19:30] theVKC commented on #1553
On comparison, the dash character doesn't appear to be the proper ASCII dash character. Screenshots pending my investigation.

[2015-12-15 19:41] theVKC commented on #1553
This appears to have been broken since before October 8, but on October 8, @IlseFerris updated the file to correct the issue. It appears that the dash character between NOTES and INCARCERATION doesn't match the normal standard, which is weird for multiple reasons.

1. This should have been caught when testing the fix (it sure looks like it's never been working, which means it was never once tested

[2015-12-15 19:42] theVKC commented on #1553
Original commit which started this: https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/commit/615ae38e7dbfa8f6546626a693507861cc5309b9

[2015-12-15 19:45] #1553 closed

[2015-12-15 21:28] CJOHNS356 commented on #599
Sorry I don’t

I am having are hard time keeping up with my current work load I expect to have time to work on this but not until after the 1st of the year.

I have most of it done, I can email what I have if you like

Christopher Johnson
Family Support and Assistance
Eligibilty Specialist
Olmsted County Family Support and Assistance
Phone: (507) 328-6311
Fax: (507) 328-7956

NOTICE: This e-mail c

[2015-12-16 15:34] theVKC commented on #599
I think @IlseFerris might be interested in taking this on. But, I'd much rather have you pull request it in than email it. It should only take a few minutes, and a pull request would ensure you receive credit for your work (it also gets you on the formal email list for scriptwriters).

@IlseFerris: I'm thinking we create a branch, @CJOHNS356 pull requests to that branch (it would be copying your c

[2015-12-16 15:38] IlseFerris commented on #599
Sounds like a plan to me!

[2015-12-16 16:47] CJOHNS356 commented on #599
I did up load the script to GitHub I don’t know if I did it right please let me know

Thanks

Christopher Johnson
Family Support and Assistance
Eligibilty Specialist
Olmsted County Family Support and Assistance
Phone: (507) 328-6311
Fax: (507) 328-7956

NOTICE: This e-mail communication is for the sole use of the intended recipients and may contain unclassified confidential information. Any unauth

[2015-12-16 18:12] IlseFerris commented on #599
https://github.com/IlseFerris/DHS-MAXIS-Scripts/blob/Method-B/Script%20Files/MEMOS/MEMOS%20-%20METHOD%20B%20WCOM.vbs

[2015-12-16 18:13] IlseFerris commented on #599
@CJOHNS356 I made a new branch for your file. Can you click on the link above, put the file into edit mode and copy and paste your code into the file? Then you'll be able to get the credit, and I'll be able to work on it.

[2015-12-16 18:48] CJOHNS356 commented on #599
Done

[2015-12-16 21:31] CDPotter commented on #1394
Merged 12/14/15

[2015-12-16 21:31] #1394 closed

[2015-12-16 22:12] IlseFerris commented on #599
@CJOHNS356 did you copy and paste your code into the link I sent? I don't see it

[2015-12-17 13:43] CDPotter commented on #1250
I'll work on this.

[2015-12-17 13:53] CJOHNS356 commented on #599
I tried it again hopefully I did it right this time

Christopher Johnson
Family Support and Assistance
Eligibilty Specialist
Olmsted County Family Support and Assistance
Phone: (507) 328-6311
Fax: (507) 328-7956

NOTICE: This e-mail communication is for the sole use of the intended recipients and may contain unclassified confidential information. Any unauthorized disclosure, copying or disseminati

[2015-12-17 14:21] RobertFewins-Kalb opened #1557 "Enhancement -- NOTES - LTC - MA Approval, Add elig type AX"
Turns out, AX folks can get LTC but LTC MA Approval does not account for that.

[2015-12-17 15:03] RobertFewins-Kalb opened #1559 "Enhancement -- Paystubs received should default to update PIC, HC Inc, and case note"
Why are we still giving people the option?

[2015-12-17 15:12] CDPotter commented on #1250
Alright, changed this one rather radically so before I pull I wanted to get opinions. While thinking things out I had trouble figuring out how the script would find the correct person's memi panel to update. The worker has the ability to change the names in the dialog and then there's also the problem of people with the same name in the HH(a problem I know all to well). It just seemed difficult an

[2015-12-17 15:21] RobertFewins-Kalb commented on #1559
This is an easy enhancement and I can take it if the opinion is that there's no reason to not case note, and update all months...

[2015-12-17 16:36] Farleight commented on #1316
I've been relegated to MNSure duty at the county here, so I won't lie; it's going to be a long time before I get a chance to look at this again. If anyone else wants to take a stab at it, go ahead. If not, it's still on my future roster, but you can feel free to close the issue for now if you'd like. I can always bring it back later (whenever new scripts are being accepted).

[2015-12-17 17:20] courtrightd commented on #1528
This can be assigned to me.

[2015-12-17 17:27] courtrightd opened #1560 "Boardwalk - add handling for expedited / delayed verif"
I have been working on handling for verifications marked ?.   They should be budgeted on expedited cases, but should give the current not handled message on all others.
Proposed solution:
a function run after each read of a "?_" verif that brings up a vbYesNo msgbox asking the worker whether they want to count this income or deduction.  Click yes, and it reassigns the verif variable from "?_" to "

[2015-12-17 20:01] Y-Lor-Y opened #1561 "DAIL Scrubber - other counties experiencing errors"
Reporting item on SIR: Are any other counties beside Goodhue, Aitkin, and Winona, plus another (not sure which County Jennifer is from) county are experiencing errors with their DAIL Scrubber?  According to SIR th

One of the error noted: (from SIR)
*All of our staff is getting the following error on PRISM:
*
* Script Error at Line 1, Column 1:
* Type mismatch: 'case_amount_check'

***
According t

[2015-12-17 20:02] Y-Lor-Y commented on #1561
sorry forgot to #theVCK

[2015-12-17 20:07] RobertFewins-Kalb commented on #1561
It would be nice to know what DAIL message they're running on. case_amount_check is not a function.

[2015-12-17 20:17] RobertFewins-Kalb commented on #1561
nevermind...CSES Processing

[2015-12-17 20:17] courtrightd commented on #1561
This variable is on line 804 of the cses processing script.   I did a quick look at PRISM, and it is at least reading from the right spot.   I can’t find any dails to test further currently.

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Thursday, December 17, 2015 2:08 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] DAIL Scrubber - other counties experien

[2015-12-17 20:17] RobertFewins-Kalb commented on #1561
I'm in communication with the worker that reported it.

[2015-12-17 20:18] Y-Lor-Y commented on #1561
Not sure why I closed it.  Had me going crazy not able to find it.  Sorry, it's re-opened.