[2016-03-16 13:48] CDPotter commented on #2013
I was looking at it cause I could have sworn certain pops was already on there and it is, but it's the Combined Annual Renewal for Certain pops (which has it's own script), the one is question is a certain pops application (rather than renewal) which could be used to renewal someone's HC.

Should be a quick change, though I've never seen that HC Application form used for a HC renewal before most p

[2016-03-16 13:53] theVKC commented on #2008
Only thing I want to add to this before making it official is a method to pass a file-type parameter. But, I want it to be optional. Need to do some research into how to do that both with VBScript and with the HTML app functionality.

[2016-03-16 13:57] theVKC commented on #2013
Since this is a fillable dropdown field, my vote would be to not do it (because anyone can fill anything in). If it's a rare circumstance I think folks should just add it manually (otherwise why would we use a fillable field for anything?). Any thoughts from scriptwriters?

[2016-03-16 13:58] CDPotter commented on #2013
That would be Anoka's gut since it's an application form rather than a renewal form so it would be a rare occurrence where a person got that form instead of a renewal form.

[2016-03-16 14:00] courtrightd commented on #2012
Yep, I’ll take it.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, March 16, 2016 8:41 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] NOTICES - MFIP Orientation not entering user entered addresses into memo (#2012)

Hmmm. Issue with the variables, perhaps? Want to take it?

—
You are receiving this because you authored the thre

[2016-03-16 14:02] IlseFerris opened #2014 "BULK - REPT REVS not moving past SELF menu"
![image](https://cloud.githubusercontent.com/assets/10836829/13814746/77d694ea-eb55-11e5-8a31-3f912ed5c07f.png)

REPT REVS not moving past SELF screen for current month +2 is marked yes and no. This is occurring in the release branch. Anyone else having issues?

[2016-03-16 14:05] theVKC commented on #2014
What script is REPT REVS? That's a MAXIS screen.

[2016-03-16 14:07] theVKC commented on #2012
Excellent. Think it can be done by next Friday? Ideally sooner for testing?

[2016-03-16 14:07] IlseFerris commented on #2014
It's the BULK REPT REVS script. It won't navigate into REPT/REVS, it's just getting stuck on the the SELF meun. I can look at this later, but wanted to know if others are having the same issue.

[2016-03-16 14:07] courtrightd commented on #2012
I’ll have it done this morning.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, March 16, 2016 9:07 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] NOTICES - MFIP Orientation not entering user entered addresses into memo (#2012)

Excellent. Think it can be done by next Friday? Ideally sooner for testing?

—
You are receiving thi

[2016-03-16 14:09] theVKC commented on #2014
Is this happening with multiple users, x1 numbers, etc? Also, if it hasn't been confirmed with multiple x1s and users, it shouldn't be on GitHub just yet.

[2016-03-16 14:10] CDPotter commented on #2014
I can poke at it, what settings were you using? (progs, users, month, etc)

[2016-03-16 14:13] theVKC commented on #2013
@suzchik19: I'm going to close this. Because it's a fillable field, and we already have the Combined AR script, I think this would be overly redundant (and possibly confusing since Combined AR isn't commonly used in this context). The CAF script is challenging to update because of it's size, and I'm hesitant to incorporate a lot more features into that field.

[2016-03-16 14:13] #2013 closed

[2016-03-16 14:14] theVKC commented on #2014
Did someone insert the footer month the wrong way? Perhaps an extra slash? This seems really weird.

[2016-03-16 14:15] theVKC commented on #2012
Booyah!

[2016-03-16 14:23] suzchik19 commented on #2013
So where do the little people request changes or fixes?

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, March 16, 2016 8:40 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Allen, Susie
Subject: Re: [DHS-MAXIS-Scripts] CAF script - add HC form option (#2013)

Hi Susie! GitHub isn't exactly a "request it and we do it" system. It's more of a discussion forum, and if there is inter

[2016-03-16 14:25] suzchik19 commented on #2013
Okay thanks for the info. I’ll pass it along -

Thanks,
Susie

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, March 16, 2016 9:14 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Allen, Susie
Subject: Re: [DHS-MAXIS-Scripts] CAF script - add HC form option (#2013)

@suzchik19<https://github.com/suzchik19>: I'm going to close this. Because it's a fillable field, and we already ha

[2016-03-16 14:28] IlseFerris commented on #2014
It is happening to multiple workers here in release. Master appears to have same code so I'd imagine it's an issue there too. Thanks @CDPotter for taking a look. I'm out in the community today presenting SNAP.

[2016-03-16 14:30] CDPotter commented on #2014
Do you happen to know if they were checking "Check here to read info from case notes to help locate cases with STAT/REVW errors" and/or "check here to have the script read info from SNAP autoclose notices"?

I was able to break things by going into CM+2 and checking these boxes. (MASTER BRANCH) I've gotta look what that first checkbox even does but the 2nd one shouldn't be an option if you're in C

[2016-03-16 14:35] theVKC commented on #2013
@suzchik19: this is where ideas are requested. But, requesting a change doesn't guarantee it takes place. If you had a scriptwriter, you could always ask them to do it (and if the enhancement was already completed, it'd merely be a conversation of merging the versions, not adding new code).

Please note that the county collaborators and myself have limited time to build enhancements, and we don't

[2016-03-16 14:36] suzchik19 commented on #2013
Thanks for the info -

Are we still able to report problems with scripts on github?

Susie

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, March 16, 2016 9:36 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Allen, Susie
Subject: Re: [DHS-MAXIS-Scripts] CAF script - add HC form option (#2013)

@suzchik19<https://github.com/suzchik19>: this is where ideas are requested. But, requ

[2016-03-16 14:37] theVKC commented on #2014
If it's based on a checkbox, I don't know if it's critical. I'm open to discussing that, though.

[2016-03-16 14:39] theVKC commented on #2013
Yes, @suzchik19. You can report a bug, but first make sure it's happening with multiple users in your agency, on multiple case numbers and/or x1 numbers (depending on context). As we had with SIR, client data shouldn't be posted here.

Please read the project README for more info. https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/blob/master/README.md

[2016-03-16 14:43] CDPotter commented on #2014
What it appears to me is:

1: users are picking they want to check CM+2 05/16
2: they are asking the script to check for rec'd/approved renewals. Impossible for CM+2, I can't think of any reason why a renewal would be received/approved for 05/16 in 03/16.
3: they are asking the script to check for SNAP autoclose notices. Also impossible for CM+2.

So we can either chalk it up to people using the s

[2016-03-16 16:02] IlseFerris commented on #2014
The users I had test selected current month + 2 yes, and selected HC, CASH and SNAP programs to add to Excel list. No other options.

[2016-03-16 16:24] CDPotter commented on #2014
So running it here with those parameters I don't have any issues.

The script goes back to self in between each user, then clears footer_month and footer_year variables, then writes left two of date and right two of date. So it must be grabbing 3/ instead of 03

@IlseFerris is going to get back to me on how her date constant displays but if other agencies wouldn't mind making a quick test script a

[2016-03-16 16:33] courtrightd commented on #2014
I’m getting the same issue with the script when just checking SNAP and saying NO for cm+2.  Date display is 3/16/2016 NOT 03.

From: Charles P [mailto:notifications@github.com]
Sent: Wednesday, March 16, 2016 11:24 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] Critical bug: BULK - REPT REVS not moving past SELF menu (#2014)

So running it here with those parameters I don

[2016-03-16 16:36] CDPotter commented on #2014
Perfect,from the aspect of I know how to correct it! Fix incoming.

[2016-03-17 13:07] C-Love commented on #1978
@theVKC  this script is still available in release.

[2016-03-17 13:44] courtrightd opened #2018 "Bug - banked month FIATER error with UNEA panels with end dates"
The script either tries to read the pic and errors because nothing is there, or attempts to count income that it shouldn't.

[2016-03-17 13:45] courtrightd commented on #2018
I have this, will submit pull soonish.

[2016-03-17 15:28] StormageddonDLOA commented on #2011
I can take it.

[2016-03-17 18:08] LaLarson commented on #1939
Working on this! Dialog box is updated/done, but I can't test the script because I don't have access to the training region yet! (Horns... Wahhh, wahhhhhhhhh.) I will test as soon possible! :)

[2016-03-17 18:52] LaLarson commented on #1939
Okay... Just kidding! I just got training region access, I tested it, and it looks good! Now, I'm having github lack of knowhow issues. :S Making progress though!

[2016-03-18 13:07] IlseFerris commented on #2001
This needs to be updated to the April release. I won't be able to finish before script freeze.

[2016-03-18 15:32] IlseFerris opened #2022 "NOTICES - NOMI, Hennepin County enhancements (several)"
The following enhancements have been requested by several users:
* Northwest office hours end time change from 5:00 - 4:30
* Add checkbox/memo verbiage for if HH has applied for MFIP/DWP, and requires a face-to-face interview
* Add a button to link to the internal HSR manual NOMI page
* Add automatic TIKLs to follow up on the NOMI's sent
* Add handling for sending the MEMOS to SWKR's and AREP's in

[2016-03-18 15:33] IlseFerris opened #2023 "NOTICES - NOMI: handling for sending SPEC/MEMO to SWKR/AREPS needed"
script should have handling for sending the MEMOS to SWKR's and AREP's in addition to the applicant/recipient if they have a SWKR and/or AREP that receives notices.

I've got this.

[2016-03-18 18:10] theVKC commented on #2014
I've decided not to consider this critical, in an effort to prevent merge conflicts. As this is a list script, which doesn't directly impact cases, I think we can stretch it until the formal release.

[2016-03-18 22:05] C-Love commented on #393
I am still working on this but won't have it ready for March release - can we move it to April?

[2016-03-21 15:05] #1982 closed

[2016-03-21 15:11] theVKC opened #2031 "NOTES - GOOD CAUSE RESULTS: name_of_script needs to be in caps"
@GayS, do you want this one? It's tagged for April because it's not critical enough to break freeze.

[2016-03-21 15:13] #1962 closed

[2016-03-21 15:13] #1985 closed

[2016-03-21 15:14] #2012 closed

[2016-03-21 15:16] #2014 closed

[2016-03-21 15:17] #2018 closed

[2016-03-21 15:19] #2011 closed

[2016-03-21 15:23] #2022 closed

[2016-03-21 15:23] #2023 closed

[2016-03-21 15:25] #2006 closed

[2016-03-21 15:26] #1939 closed

[2016-03-21 15:28] #1940 closed

[2016-03-21 15:39] courtrightd opened #2032 "bug in NOTICES - NOMI missing END IF statement"
This renders it unusable, looks like it happened with last change.  Master branch only, fix inbound.

[2016-03-21 15:41] #1977 closed

[2016-03-21 15:42] theVKC commented on #1730
@Y-Lor-Y: because I haven't received/reviewed this one yet, and script freeze starts today, I'm going to have to move it to the April release.

[2016-03-21 15:43] #2032 closed

[2016-03-21 15:44] theVKC commented on #2032
@IlseFerris: you mentioned this was tested. Can you take a look at the script (I just pulled @courtrightd's update into master) and confirm that the script we have looks like the one you tested?

[2016-03-21 15:54] Y-Lor-Y commented on #1730
Sorry about that.  I planned on last Friday, but last Thursday I went over the script with our GRH unit, and found few items needs to move around a bit.  So I had to swap coding in my script.

I was not in the office Friday so didn’t have time to update this in GitHub or work on the script, so couldn’t inform you.

I understand.  After do a few last minute testing, then I should be able to submit

[2016-03-21 19:35] #53 closed

[2016-03-21 19:39] theVKC commented on #2008
Can we get folks to test Krabappel now that it's in master, and see how this holds up? If it works well I'll throw it into FuncLib and we can update the other scripts.

[2016-03-21 19:39] theVKC commented on #2008
("this" being the new function that I added in Krabappel)

[2016-03-21 19:56] CDPotter commented on #2008
I was able to make 3 Beasleys and drop em into Robert's X#. Browse for the file on my desktop.

[2016-03-21 19:57] theVKC commented on #2008
Fantastic. It'd be great to hear from folks outside of BlueZone 5.1c2. So Stearns, St. Louis, Hennepin, and Ramsey folks...

[2016-03-23 15:02] MelissaFox-Stearns opened #2035 "NOTES- Significant Change- Denial reason update"
One of the denial reasons for Significant change was "income didn't decrease by 50%". Well, in October they changed the policy to decrease $65 and 50%.
I want to change to update the denial reason to be something like.... "Income didn't decrease enough"
so we don't have to update it every time they make a change to policy. :)

[2016-03-23 16:36] MelissaFox-Stearns opened #2037 "Function Autofill_editbox_from_MAXIS.... ACCT Panel limit"
Gay and I discovered that there is a error when the script is gathering data from the panels to enter in the edit boxes if there are over 9 ACCT Panels.
It appears that the Function is reading the number of panels and looping once it hits 10 panels because it is only reading 1 digit (which happens to be 0) and creates an endless loop. :)

 Elseif panel_read_from = "ACCT" then
	For each HH_member i

[2016-03-23 17:03] jasont35 opened #2038 "Memos - Appointment Letter Script - Add Interview Location."
Worker requested to have "In-Home" added as an Interview location as there are situations to where a worker may go to the clients home for the interview.

[2016-03-23 17:22] theVKC commented on #2035
@MelissaFox-Stearns: what do you think? Is this a "bug" in the sense that the policy could be considered _wrong_? Or is it more of an enhancement? I ask because this is script freeze.

[2016-03-23 17:25] theVKC commented on #2037
@MelissaFox-Stearns: First, if this is related to a function, it belongs in the FuncLib repo. :)
Second, @CDPotter just fixed this, I think. Or am I wrong? Charles, can you elaborate?

[2016-03-23 17:26] theVKC commented on #2038
I like the idea. We're on an enhancement freeze until March 28, so it can't be pulled in until after that time. @jasont35, any interest in doing this one? You could likely just add the code into the dialog directly.

[2016-03-23 17:41] CDPotter commented on #2037
This sounds like the issue I fixed. Testing it on my 96 account case it does seem to have gotten stuck for some reason...Looks like I missed adjusting a few numbers. This should only affect cases with more than 9. I'll submit a fix.

[2016-03-23 17:42] theVKC commented on #2037
@CDPotter: I'm closing this issue. Just set this up with the original issue on FuncLib, which I'll reopen.

[2016-03-23 17:42] #2037 closed

[2016-03-23 18:00] CDPotter commented on #2037
Side note, I tested it with the CAF just now after the fix and it worked.fake case 226545 if anyone wants to see a 96 account(max) CAF case note. It really shows that the overflow function for case notes works!

[2016-03-23 19:15] jasont35 commented on #2038
Wish I could Veronica, but I currently do not have any time to devote to scripts.

[2016-03-23 19:33] CDPotter commented on #2038
Side note, the notice will probably need to be tweaked a bit, maybe even reading the ADDR panel? I don't think we do a lot of in home interviews so I'm not entirely sure how it works.

Would it be safe to write the address in ADDR in the notice as the location?

[2016-03-23 20:46] jasont35 commented on #2038
I talked to the worker who suggested this and he thinks this would work for most cases. The only thing he did mention is if there was the possibility of being able to select whether it was the residential address or the mailing address that was used. It would be a rare occasion that a worker would be visiting the client at their mailing address but it could happen. Maybe we add 2 new interview loc

[2016-03-24 15:43] theVKC commented on #2038
Well, I'm wondering if any scriptwriters who do this process could take this one? Since most agencies don't address in-home's, I probably can't prioritize this over my existing issue list.

We'll keep it on the list until the first April hackathon. If nobody has taken the issue I'll close it. Perhaps one of the scriptwriter agencies does this process?

[2016-03-24 18:35] theVKC commented on #2008
Moved this to April, since I haven't heard back from any other agencies using non 5.1c2 BlueZone. We'll test into next month and then tackle this for the next release.

[2016-03-24 18:41] CDPotter opened #2039 "New Scripts Banked Month WCOMS"
(FOR POST FREEZE)

Anyone interested in some WCOM scripts for:

All banked months used = "You have been receiving SNAP banked months. Your SNAP is closing for using all available banked months. If you meet one of the exemptions listed above AND all other eligibility factors you may still be eligible for SNAP. Please contact your financial worker if you have questions."

Banked months notifier = "Y

[2016-03-24 19:08] IlseFerris commented on #2039
Very interested, and thank you!

[2016-03-24 19:19] theVKC commented on #2039
Do you want this one, @CDPotter?

[2016-03-24 19:22] CDPotter commented on #2039
We have them build in a master script, just gotta pull them out and make them their own things.

[2016-03-25 14:36] courtrightd opened #2040 "NOTES - EMPLOYMENT PLAN needs ES database functionality added"
Effects SLC only, just an oversight on my part never putting it there.  I will pull in after freeze.

[2016-03-28 16:37] theVKC commented on #2038
FYI: if this script were to be done, I'd want it done with a global variable, which should default to "off" (don't want to freak out financial workers in agencies that won't offer this option to most financial workers).

[2016-03-28 18:16] theVKC opened #2042 "Merge the stats block that loads after FuncLib with the stats info from prior-to FuncLib block"
Basically, making it one block. I got this.

[2016-03-28 18:17] theVKC commented on #1964
Sounds like @CDPotter is taking this on.

[2016-03-28 19:05] CDPotter opened #2044 "bug fix: Training case gen MSA/SNAP approval needs to slow down"
MSA and SNAP get approved too quickly back to back causing the first month of SNAP to not have the very recently approved MSA budgeted into it.

I'll take a crack at this.

[2016-03-28 20:45] C-Love commented on #1999
To better address case noting information about income, we should enhance Explanation of Income Budgeted. Basically, the dialog for Explanation of Income Budgeted should loop for every income panel that exists on a case. We need to mandate workers to add comments about income (including date range and verifs used). Currently the CAF script does not require the 'Notes on Income' field to be complet

[2016-03-28 21:41] ruthmaloney commented on #1999
I love this one!!! ☺

Ruth Maloney

From: C-Love [mailto:notifications@github.com]
Sent: Monday, March 28, 2016 3:46 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-MAXIS-Scripts] Project Gorbachev: break up the CAF script into smaller chunks (#1999)

To better address case noting information about income, we should enhance Explanatio

[2016-03-29 16:08] IlseFerris opened #2045 "SNAP E & T letter: Hennepin county has a new E & T office"
The Hennepin county Northwest region has a new E & T location to be added. Please assign this to me  to be released on the April release.

[2016-03-29 18:56] theVKC commented on #2045
You got it, champ!

[2016-03-29 19:14] khiestand opened #2046 "Dail Scrubber - Postponed Verifs Script"
New Script Idea from a Sherburne Co Worker:

Dail scrubber.  If we have an expedited case and we approve it and request verifications. If the client does not return the verifications the case will auto-close and a dail message will pop up and saying  something about case auto closed due to not turning in postponed verifs.  If the script could put that into a case note and state the policy for when

[2016-03-29 19:16] jasont35 opened #2047 "Shelter Expense Verif Recv'd Issue - Room and Board"
A worker used this script and selected the "Check here if this is for Room and Board" and finished the rest of the fields. When she selected "OK" a pop up window opened informing her that she would need to enter in the information into the SHEL panel manually. The script then created 2 separate case notes. One case note had the correct title, how much the rent was ($0 in this case), and the worker

[2016-03-29 19:23] CDPotter commented on #2046
I really like that one! Much better than the generic Closed Progs (if the worker even uses it). Pulling the guts out of Closed Progs would be a good start for determining dates.

[2016-03-30 20:01] C-Love commented on #2046
I love this! I want it

[2016-03-30 20:02] kennyasalee commented on #2046
cool

[2016-03-30 20:03] theVKC commented on #2046
Boom @C-Love! Ha ha @kennyasalee.

[2016-03-30 20:45] LaLarson opened #2051 "DISQ Generator"
Initially I would like to create a script that creates IEVS DISQ panels (for all programs and all assistance unit members), and then case notes them.

[2016-03-30 20:46] CJOHNS356 opened #2052 "New script idea update address"
A script that would update all the information on the ADDR panel and write a case note

I would like to work on this

[2016-03-30 20:52] kennyasalee opened #2053 "Script Idea to have a script that generates OUT OF STATE VERIFICATION form"
we have a OUT OF STATE Contact information from http://www.dhs.state.mn.us/main/groups/economic_support/documents/pub/dhs16_143156.pdf

Idea: A OUT OF STATE inquiry script. Worker can select a STATE, have the (HH_memb) Select the client you want to inquirer about, and have the script generate a out of state inquiry Word Doc request form. The Script will pull info such as: the X16XXX contact info a

[2016-03-30 20:54] asunderman opened #2054 "New Script Idea- Actions- Date of Death"
Actions script with a dialog box for case #, DOD, place of death, lien "yes" or "no", surviving spouse check box, note to check CFR & confirm either x-fer to CFR or  refer file for possible estate collection.  Create case note for all these things.

would update STAT MEMB with a DOD & transmit

reminder to check HC elig and approve as needed

I'll attempt this.  :)

[2016-03-30 20:55] KateiMartini opened #2055 "New script idea- Actions- PACT Panel/Returned mail"
I would like to create an action script for returned mail and/or other reasons (refused to file, request case closure)  using the Pact panel to close.

Returned mail**following poli/temp guidelines.

I would like to work on this project.

[2016-03-30 20:59] MulvaneyDani opened #2056 "New Script: Unea panel"
I would like to write a script for a unea panel for direct spousal support. This could eventually be enhanced for other sources of unea/ HH members.

[2016-03-30 21:02] mxiong1 opened #2057 "New Script idea - HC Fiater for Earned Income for LTC- ICF-DD clients"
Some  Long-term care clients that are in ICF-DD facilities active on health care works & receives earned income, however, they are allowed the following deductions of $80 special personal allowance from earned income & FICA taxes withheld, if a FIATER can be created it'll be helpful.

Policy exist: HCPM 23.15.10

[2016-03-30 21:02] senhorc opened #2058 "NOTES - Vendoring Information"
Script will read vendor type(s), vendor name, vendor number, phone number, account number, dollar amouint owed by the client and the budgeted amount, input from dialog by user, will write to casenote

I would like to use for DHS classroom scripting practice

[2016-03-30 21:04] theVKC commented on #2047
Has this been able to be duplicated, @jasont35? I don't mean to sound dismissive, but sometimes MAXIS just messes up sometimes. I don't think we've been seeing this in our testing. Any chance you can duplicate the error?

[2016-03-30 21:13] theVKC commented on #2054
Go @asunderman!

[2016-03-30 21:16] theVKC commented on #2055
@ruthmaloney, you might like this one. :) Go @KateiMartini!

[2016-03-30 21:16] theVKC commented on #2056
Yay! Good luck!

[2016-03-30 21:18] theVKC commented on #2058
Accidentally assigned the wrong person. Removed assigned person.

[2016-03-30 21:28] ruthmaloney commented on #2055
Yesssssss! Reviewing cases today with PACT errors. Too common!

Ruth Maloney

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, March 30, 2016 4:17 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Maloney, Ruth S (DHS) <Ruth.Maloney@state.mn.us>
Subject: Re: [MN-Script-Team/DHS-MAXIS-Scripts] New script idea- Actions- PACT Panel/Returned mail

[2016-03-30 22:16] ALJ10 opened #2059 "NOTES/Good Cause Results ~ Error message (can't open case note. are you in inquiry?)"
The supervisor that handles our Good Cause cases received an error while she attempted to run the Good Cause Results script. She selected Denied; filled in the information; and clicked on OK. Once she did that, she received an error that said "The script can't open a case note. Are you in inquiry? Check MAXIS and try again". She was in S1 production. Also, when she clicked on Ok on the message box

[2016-03-31 13:43] jasont35 commented on #2047
I had the worker show me while I was watching and seen the 2 case notes that it created. I don't have a live case example but I used a training case I had to run the script and it created both of the case notes. I ran it 3 times. I will send you the training case number in SIR if you would like to check it out.

First time it had an error and wasn't able to go to the SHEL screen. One case note was

[2016-03-31 14:04] LaLarson opened #2060 "STILL NEEDED - MEMO/CN"
When several verifications are received (AFTER 2919 has been sent), but some are outstanding this will CN what is left, and send a MEMO to the client letting them know what is still needed. Will be useful to bank counties when a worker picks up a case after another worker processed a pending application, incomplete renewal, incomplete HRF, etc... In the future it may be useful to connect it to the

[2016-03-31 16:21] theVKC commented on #2059
@ALJ10: any chance this is a fluke? Sometimes MAXIS just needs a good restart when this pops up.

In any case, if you get this a lot, consider closing and reopening your inquiry window.

I'm going to close this since it doesn't sound like a script issue, but more of a BlueZone/connectivity issue.

[2016-03-31 16:21] #2059 closed

[2016-03-31 16:22] theVKC commented on #2047
If you can email me with screenshots and case numbers, I'd be happy to take a look sometime next week.

[2016-03-31 16:26] theVKC commented on #1999
We're going to tear down this wall April 11-12. :)

[2016-03-31 16:47] RobertFewins-Kalb opened #2061 "Enhancement Request -- Add supervisor name to BULK report scripts that can be run agency wide"
A request has been made to add the supervisor name to BULK - CHECK SNAP FOR GA/RCA. For scripts like this, though, that can be used for quality assurance, I'm thinking we could expand that to other BULK report scripts to make distribution of lists easier.

I have a couple of ideas for this and would happy to take it on.

[2016-03-31 16:53] theVKC commented on #2061
I like it. Thanks @RobertFewins-Kalb!

[2016-03-31 17:50] RobertFewins-Kalb commented on #2061
RE: CHECK SNAP FOR GA/RCA, I am going to add a manual time for looking up the worker's supervisor for those folks doing Stats Plus Plus. The process is going to REPT/USER, entering the worker ID, finding the supervisor ID, and then entering that to find the supervisor name. I have that process timed at 25 seconds.

Testing now, but initial results are looking good. I will have a pull request for C

[2016-03-31 20:56] RobertFewins-Kalb opened #2065 "Bug -- Paystubs received is jumping ahead one employer."
I suspect the checking for password out modification is what is causing this.

Staff are reporting that the script is putting the information on the wrong panel. I think the transmit in check_for_password is doing it.

I'm looking into it

[2016-04-01 13:43] theVKC opened #2070 "Appointment letter: update intake address for Carver County"
Here it is: 602 E 4th St, Chaska, MN 55318

Anyone want it? It needs to be done by April 15 so it can go out for testing. Should be as easy as adding a couple of lines to the script, and if you're newer I'd be happy to walk you through it.

[2016-04-01 13:43] theVKC commented on #2065
Weird, I'd have hoped we'd catch that in testing.

[2016-04-01 13:53] theVKC commented on #393
I've moved this to @KateiMartini's plate, per her request at training this week. @KateiMartini: it's on the list for the April release, but we can easily put it out there for the May release if you don't think it'll be ready by April 15 for testing. Just let me know!

[2016-04-01 14:10] RobertFewins-Kalb commented on #393
@KateiMartini, if you are interested, we have a GA fiater in Krabappel. Check out lines 2279-2482. Unless you already have it done, in which case, great success!

[2016-04-01 15:48] theVKC commented on #2065
Reopening because this is still up in master. Can someone running master test this for me? @RobertFewins-Kalb? @CDPotter?

[2016-04-01 15:49] theVKC commented on #2065
*up in release, not master

[2016-04-01 15:54] CDPotter commented on #2065
I ran it on a fake case with 2 jobs panels, it appears to be working the correct job (job 01) was updated.

[2016-04-01 15:56] theVKC commented on #2065
Great. @RobertFewins-Kalb: I'll close it in release.

[2016-04-01 15:58] #2065 closed

[2016-04-01 18:51] asunderman commented on #2070
I'll bite.  Sounds like it might not be a bad place for a newbie to start.

[2016-04-04 14:08] theVKC commented on #2070
Great! @asunderman: if you want me to walk you through the process, perhaps we can set up a phone meeting for later this week. It's an easy fix, you might be able to tell how to do it just by looking at the code.

[2016-04-04 14:33] asunderman commented on #2070
I think I'll try it first and see if I can figure it out.  If I need help, I'll send up the white flag.

[2016-04-04 15:57] JonesPat opened #2071 "Enhancement- NOTES - LTC - RENEWAL"
Looking for the custom household array to be added to the NOTES- LTC- Renewal script. Some workers have clients with 2 members in the house hold but also have CADI cases with 4 or 5 members. Supervisors are looking for specific client.

[2016-04-04 16:40] CDPotter commented on #2071
So there's two sections to this script, I don't use it in gen work so I'm not too familiar with it.

1: Pulling data from stat panels, I'm assuming this one needs to be narrowed to specific HH members.

2: Pulling elig data for memb 01 and 02. Would it be good to make this section specific to HH members as well?

[2016-04-04 16:50] RobertFewins-Kalb commented on #2071
Follow up question (b/c I'm here in Dakota with @JonesPat) is whether this is appropriate script for CADI renewals.

It sounds like the enhancement request is to make the LTC renewal more similar to the HC renewal. Is there CADI-specific information that NOTES - HC RENEWAL is missing that is included in NOTES - LTC - RENEWAL?

[2016-04-04 16:57] JonesPat commented on #2071
Attached is the breakdown request for what was requested. The request combines different parts between the NOTES - HC RENEWAL and NOTES - LTC - RENEWAL and adds the HH members box for LTC renewals with 2 members or CADI renewals

[ScriptRequest.pdf](https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/files/202917/ScriptRequest.pdf)

[2016-04-04 18:58] RobertFewins-Kalb commented on #2071
Speaking with Dakota Co folks. Going to request some state guidance on the issue. Wondering if this is waiver-specific? @IlseFerris? Any thoughts? Should we be case noting more for LTC/waiver renewals?

[2016-04-04 21:05] theVKC commented on #2071
I'm bowing out of this for now. My HC contact has recently left the agency and I don't currently have a replacement. I'll support whatever decision is made by the group on this one, but I don't have resources here to provide/determine direction (not for a bit while I await a new contact).

[2016-04-04 21:09] #2035 closed

[2016-04-04 21:11] #1964 closed

[2016-04-04 21:13] theVKC commented on #2061
Can we create a checklist for these so we know when the issue is complete, @RobertFewins-Kalb?

I'll start:

- [ ] CHECK SNAP FOR GA RCA
- [ ] FIND PANEL UPDATE DATE

[2016-04-04 21:14] theVKC commented on #2061
@RobertFewins-Kalb: I suppose you should add the checklist to the top, since this is your issue and not mine that I created.

[2016-04-04 21:15] #2061 closed

[2016-04-04 21:19] #2054 closed

[2016-04-04 21:22] #2060 closed

[2016-04-04 21:23] theVKC opened #2072 "Add two new scripts to main menu files"
This is NOTES - DECEASED CLIENT SUMMARY and NOTICES - VERIFICATIONS STILL NEEDED. Any takers on this? Otherwise I'll try and do it this week.

[2016-04-04 22:00] theVKC commented on #2072
On second thought, I'll take it.

[2016-04-04 22:09] #2072 closed

[2016-04-05 13:34] asunderman commented on #2070
A question @theVKC - in looking at the script file I see there are a couple other counties with no address listed.  I was thinking about contacting them, getting the appropriate addresses for them and updating them ALL at once.  Can I do that?

[2016-04-05 13:38] theVKC commented on #2070
If you want to, be my guest! My last attempt was likely a year ago.

[2016-04-05 14:36] RobertFewins-Kalb opened #2074 "New script -- PRISM screen finder for MAXIS users"
Hows abouts a script that helps MAXIS users navigate through PRISM?

@levesswe, care to takes? You can has.

[2016-04-05 18:30] Y-Lor-Y opened #2076 "NOTES - CLOSED Program - Dialog Modifications"
A staff brought to my attention about the notes - closed program script.  It asked her to input the last date of elig (which is the last day of the month before closure month).  However, when you input that date in there.  The case note generated by the script still shows that the last day to REIN would be that same date of closure as entered in the dialog.  An example below, so that you can see w

[2016-04-05 18:47] theVKC commented on #2076
Do you have a policy citation for the month + 1? I believe we had policy confirm some time ago that they don't get an extra month, and it's considered a new application without a REIN period.

Can you get that citation, @Y-Lor-Y?

[2016-04-05 21:45] Y-Lor-Y commented on #2076
Maybe the example I gave above is a poor example.  However, for MFIP if client is auto-closed for situation such as no HRF/ER completed for review month of 04/2016, the last active date is 3/31/2016.  Client still have that window within 04/2016 until last date of 04/30/2016 for the case to be REIN back to 04/01/2016.  I think this is what the staff was getting at.  This is where the +1 comes into

[2016-04-06 00:59] theVKC commented on #2076
I think (if I'm not mistaken) we phrased it that way for clerical/coverage staff who might not know that the client can't be reinstated. By putting a firm date in, we were able to accurately convey to the non-worker staff that the client needed a new application.

I am open to tweaking the wording, but I don't want to add +1 month unless we have a policy citation. :)

[2016-04-06 13:51] Y-Lor-Y commented on #2076
SIR message issued on 12/30/14 - expired 01/30/15 -
* Effective Feburary 1, 2015 a 30-day reinstatement period will be allowed for these cash programs.

CM: 0007.03.06 - Processing a Late HRF - states that you can reinstate the MFIP back once the HRF process is consider complete.  References to TE02.08.188.

Bulletin# 14-69-05 :  30-day reinstatements.
Effective February 1, 2015. A 30-day reinstat

[2016-04-06 16:47] ALJ10 opened #2077 "BULK / Update EOMC list ~ Script error at Line 1, Column 1"
First, I have to say THANK YOU for creating this script. It will be very helpful to us!
NOTE FROM SUPERVISOR: I did save the report without changing anything on the spreadsheet on 3/30. Then tried to run the update on 4/2 using the report that was not changed. I saved it multiple ways. Did one with all three programs - HC, SNAP, CASH. Then saved each individually unchanged. I got the error on ever

[2016-04-06 16:51] courtrightd commented on #2077
What version of Bluezone are you running?  There may be a compatibility problem that we are working on a fix for.

[2016-04-06 16:51] theVKC commented on #2077
@courtrightd - any insight for Amanda? Runtime error seems like maybe BrowseForFile bug?

[2016-04-06 16:52] courtrightd commented on #2077
That's what I'm thinking - is your new version tested on v.6 yet

[2016-04-06 16:53] theVKC commented on #2077
I think @C-Love might have tested my new function on 6. Casey, is this true?

[2016-04-06 16:54] ALJ10 commented on #2077
Thank you for the quick responses! We're running v5.1C2 Build 1325

[2016-04-06 16:54] IlseFerris commented on #2077
Casey's offline today, can someone from Stearns county confirm?

[2016-04-06 17:00] theVKC commented on #2077
Well, if you're running v5x, I'm a bit confused by this.

We noticed a bug in the BrowseForFile function (bug is #2008) which I've fixed in the new training case creator script, and I'm awaiting confirmation that it's working before fixing this bug in other scripts, including this one.

@ALJ10: are you able to select the Excel file in your script? Or does it error-out on startup?

[2016-04-06 17:03] ALJ10 commented on #2077
Per the supervisor, she was able to select the spreadsheet. It opens and adds the column (case active?). Looks like it's going to run, but then it stops and gives her the error.

[2016-04-06 17:14] courtrightd commented on #2077
Any chance you could send me the excel file, or at least a screenshot of the first 20 lines or so?

[2016-04-06 17:28] theVKC commented on #2077
Via email, please. #DataPrivacy

[2016-04-06 17:30] ALJ10 commented on #2077
Yes, I can send it via email. To whom should I email it to?

[2016-04-06 17:30] courtrightd commented on #2077
courtrightd@stlouiscountymn.gov I'll work on it this afternoon.

[2016-04-06 17:33] ALJ10 commented on #2077
Just sent it. Thank you!

[2016-04-06 17:38] #2074 closed

[2016-04-06 17:40] #2040 closed

[2016-04-06 17:43] theVKC commented on #2076
I don't know. I'm not sure if you actually "REIN" in these situations. "Reinstate" (the policy term) versus "REIN" the system term are two different things.

Perhaps we can weigh in with MFIP/HC policy folks? Alternatively, I'm just going to remove the functionality entirely. I spend too much time thinking about it.

[2016-04-06 17:46] theVKC commented on #1714
Just proactively going to move this to the May release, because there's no way I can work on it in the next two weeks.

[2016-04-06 17:48] theVKC commented on #710
@IlseFerris: did we fix the date issue?

[2016-04-06 17:49] theVKC commented on #2053
@kennyasalee: do you think you can get this done by the 15th? If not, I'm going to set it out for the May release instead of the April release.

[2016-04-06 17:51] theVKC commented on #2051
@LaLarson: do you think you'll have time to complete this before Friday April 15? If not, I'll move it to the May release.

[2016-04-06 17:53] theVKC commented on #2056
@MulvaneyDani: do you think you'll have this completed by Friday the 15th? No worries if not, but I'll move it off of the April release track and into the May release track.

[2016-04-06 17:53] theVKC commented on #2076
Perhaps any other @MN-Script-Team/county-agency-scriptwriters have any opinions on it?

[2016-04-06 18:07] GayS commented on #2077
we also encountered the error at Stearns.

[2016-04-06 18:15] Farleight commented on #2076
I've been eying this one. I'm curious what you mean by Reinstate versus REIN being two different things. Is this a thing that people know about that I don't know about? Because I've always considered them pretty synonymous. I can't think of a reinstate situation in which you wouldn't REIN.

In terms of policy, he's absolutely right. There should be an extra month in the situations he has presented

[2016-04-06 18:17] courtrightd commented on #2077
I'm seeing it now, it has to do with not finding a value in HC / GRH cols, I'll work on a fix this afternoon.

[2016-04-06 18:27] C-Love commented on #2076
I am a bit confused about the issue here. I think part of the problem is a general understanding of when to Reinstate policy and Reapplication policy. I have seen many workers REIN when they should be APPLing. I think maybe it would be helpful if we had the policy references and had it all mapped out we could build the explanations into the script so that we can help workers advance their understa

[2016-04-06 18:30] theVKC commented on #2077
@courtrightd: would this count as critical? Can this be bypassed in any way? Or will this happen each time it's run?

[2016-04-06 18:30] C-Love commented on #2008
I have been using this new functionality in Training Case Creator and also in the Banked Months reporting script that we are working on. Seems fine with V6.

[2016-04-06 18:30] Farleight commented on #2076
I wanted to make that point about auto-closures too, which is what led me to the script instructions... but I didn't see anything in there that would have set people away from that course, so while I agree that they probably shouldn't run this script for auto-closures, I don't know that I'd feel comfortable saying they're not.

[2016-04-06 18:32] theVKC commented on #2076
@Y-Lor-Y: could these issues be stemming from not using the checkboxes @Farleight outlined correctly?

[2016-04-06 18:32] courtrightd commented on #2077
It can’t be bypassed, so I would say critical.  It will happen most times it is run. (it currently only works on spreadsheets with a GRH column)

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, April 06, 2016 1:30 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [MN-Script-Team/DHS-MAXIS-Scripts] BULK / Update EOMC list ~ Script error at Line 1, Colu

[2016-04-06 18:36] theVKC commented on #2077
OK, it's now critical. Can you pull to release as well?

[2016-04-06 18:37] theVKC commented on #2008
Gorgeous. I'll try and get this updated next week.

[2016-04-06 18:39] LaLarson commented on #2076
Boom... Totally agree with @C-Love! I think that the misunderstanding of policy that she is referencing is all the more reason that getting this locked down, and perhaps getting more info on the dialog box, is a great thing! Let me know if I can help in any way.

Also, I can confirm that when a case closes for no HRF they do have until the last day of the month it closed to turn it in/complete it.

[2016-04-06 18:41] theVKC commented on #2076
@LaLarson: I know of no-one more qualified to properly convey complex info on a dialog than you. Would you want to take the lead on this one?

[2016-04-06 18:45] LaLarson commented on #2076
@theVKC Potentially?! When does this need to be done by? I don't have immediate time I don't think, but if it's by May release I might be able to?

[2016-04-06 18:48] theVKC commented on #2076
It's not super critical. I'm comfortable with May release, @LaLarson. Thank you! Boom!

@Y-Lor-Y: if you can confirm whether-or-not existing checkboxes were utilized, that'd be wonderful.

[2016-04-06 18:59] Farleight commented on #2076
This is one of those things that would actually make a nice little side-script... no functionality inside of, or connection to, MAXIS... just a thing that you run that asks you a series of questions. "6 Month or Annual?" "Was Paperwork Received prior to closure?"  "What programs are we looking at?" "Why does the caged bird sing?" And then it compiles that and just tells you if it's REIN or not...

[2016-04-06 19:30] IlseFerris opened #2081 "New ACTION script: MFIP housing grant MONY/CHCK issuance"
THE SCRIPT WILL DO THE FOLLOWING:
1.	Navigates to MONY/INQX and creates a list of MFIP issuances within the current year.
2.	Searches the MFIP issuances for Housing grant issuances that match the footer month/year selected by the user. If an issuance is not found, the script will continue to step 3.
3.	Navigates to ELIG/MFIP and reads the EMPS status, member code, cash portion and state portion co

[2016-04-06 19:35] theVKC commented on #2076
Hmmm. I actually kind of like it, @Farleight. Could be a good add-on for Closed Progs.

[2016-04-06 19:36] theVKC commented on #2081
By chance have you been testing this in the State of Hennepin, @IlseFerris?

[2016-04-06 19:41] IlseFerris commented on #2081
Oh I have, and not to toot my own horn, but it's pretty awesome. Average time savings per issuance is over 4 minutes.

[2016-04-06 21:30] IlseFerris opened #2083 "Housing grant fiater needs to be removed"
Assign to me to be complete for the April release.

[2016-04-06 21:51] theVKC commented on #2047
Fake case 232968 shows this one. But, sadly, I won't have time to look at it until a couple of weeks from now at least. It's definitely a bug and definitely there. Any takers?

[2016-04-06 21:55] CDPotter commented on #2047
I'll start digging.

[2016-04-06 22:03] CDPotter commented on #2047
I think I've spotted the goofiness, submitting pull to Master.

[2016-04-06 22:13] theVKC commented on #2008
These are the identified scripts:

- [ ] CASE NOTE FROM LIST
- [ ] MEMO FROM LIST
- [ ] TIKL FROM LIST
- [ ] UPDATE EOMC LIST

[2016-04-06 22:23] #2039 closed

[2016-04-06 22:24] #2077 closed

[2016-04-06 22:29] #2047 closed

[2016-04-06 22:30] theVKC commented on #1998
Opening this up. Any takers?

[2016-04-06 22:32] theVKC commented on #2071
Can we get a decision on this one made by hackathon Monday (04/11)? At least, progress made? If I hear nothing else, I'll close it then.

[2016-04-06 22:34] theVKC commented on #2058
@senhorc, a couple of things.

1. I don't think you've accepted the invitation to formally join the script team for assignments. I sent this a month ago or so, you can accept at https://github.com/MN-Script-Team. Please do this so I can properly assign you this issue (it appears unassigned from my admin area).
2. Do you think you can have this done by April 15? That's the deadline for new scripts

[2016-04-06 22:35] theVKC commented on #2057
Hi @mxiong1! Think this can be done by the April 15 deadline for new scripts for April? If not, no worries, I'll just kick it back to the May release.

[2016-04-07 12:29] mxiong1 commented on #2057
Hi Veronica,

The script was already completed, but I believe Ilse was going to help me enhance the script.

Thanks,

May C. Xiong | AFAW Unit 1- Financial Worker
Financial Assistance | Community Human Services
160 East Kellogg Boulevard, Saint Paul, MN  55101
Fax: 651-266-3933
may.xiong@co.ramsey.mn.us<mailto:may.xiong@co.ramsey.mn.us>

[cid:image001.jpg@01D0F463.0A6BF010]

From: Veronica Cary [m

[2016-04-07 12:34] IlseFerris commented on #2057
@mxiong1, Let's coordinate next week to get your script done!

[2016-04-07 12:41] CDPotter commented on #1998
Sure I can do this one.

[2016-04-07 12:45] CDPotter commented on #1998
Question do we want to lump utilities as it's own sub-menu or keep it separate?

[2016-04-07 12:46] theVKC commented on #1998
Utilities is just a redirect. Agencies using the current supported Power Pad have a utilities button.

[2016-04-07 12:49] mxiong1 commented on #2057
@IlseFerris sounds good.

[2016-04-07 12:51] CDPotter commented on #1998
Got it, last question should I alpha split in anticipation of getting more scripts or leave it mailable to alpha split later?

[2016-04-07 13:01] CDPotter commented on #2083
I'm working on modernizing actions main menu so I can knock this out as part of it.

[2016-04-07 13:06] theVKC commented on #1998
Don't alpha split. My advanced final function should do that for us.

[2016-04-07 13:35] theVKC commented on #2057
Fantastic! @IlseFerris, since I can't directly assign ownership of issues to @mxiong1 (since she doesn't have an accepted pull request yet), I'm going to assign this issue to you, since you're providing leadership on next steps with the script. @mxiong1, when the script goes live, you'll get all the credit. :)

[2016-04-07 13:35] theVKC commented on #2083
@IlseFerris, I'm reassigning to @CDPotter,

[2016-04-07 13:40] IlseFerris commented on #2057
Works for me!

[2016-04-07 13:40] IlseFerris commented on #2083
Good deal, thanks @CDPotter!

[2016-04-07 13:44] theVKC opened #2087 "TRAINING CASE CREATOR: Remove file dialog function from functions list"
This function has been added to FuncLib. I'll handle this!

[2016-04-07 13:52] IlseFerris commented on #710
I thought @CDPotter submitted a fix on the date, but I could be mistaken.

[2016-04-07 13:55] CDPotter commented on #710
Things I've fixed since 2/18/16:

-changed logic to prevent issues where MS and ACTV renewals were being assessed as MF and ACTV thus not deleting them if there was a SNAP CSR or renewal in 12 more months.

- max_reviews_per_worker is getting ABS'd which causes type mismatch error: Made conditional based on if it's entered

- the text for the maximum interviews is getting cut off: Fixed

Which dat

[2016-04-07 14:44] ALJ10 commented on #2077
I just ran the script and it worked. Thank you for resolving the issue so quickly! Much appreciated!

[2016-04-07 15:18] Y-Lor-Y commented on #2076
@theVKC @LaLarson   I asked the staff and she said, yes, they used the checkboxes.

More detail info on how or when to use this script would be great, if it's not intended for auto-close cases.

Initially that's what I thought - that it was not for auto-close cases.  But the more I look at it the script, and how the case note is lay out...I thought maybe it's for all situations.  That a case note

[2016-04-07 15:23] theVKC commented on #2076
For the record: "REIN" and "reinstatement" aren't the same. One's a MAXIS procedure while another is a policy guideline. There are instances where you do one without the other.

If the checkboxes had been used, they should get the spare month. I've tested this recently and that works. If that functionality was broken recently, we should fix it.

REVW/MONT Closures is for autoclose cases. @LaLarson

[2016-04-07 15:25] C-Love commented on #2076
agreed @theVKC - REVW/MONT Closure should be used for autoclose. Took the words out of my mouth.

[2016-04-07 15:28] theVKC commented on #2076
Also, I'm making this issue specifically about dialog modifications to clear up misconceptions and language. @LaLarson, thank you for agreeing to take this on.

Since this appears to also be a bit of a policy discussion, I'm going to ask that any new discussion about the policy take place in Slack. This thread has become really long.

If any bugs are found in the actual script itself (i.e. checkbo

[2016-04-07 16:16] StormageddonDLOA opened #2088 "Add manual run time to the returned mail notes script."
The returned mail notes script needs to have the manual run time added in.

I'll take it.

[2016-04-07 18:09] Y-Lor-Y commented on #1730
I've put this out for Agency Custom for our GRH staff to use to see if any last minute items may have been missed or tweak.  I'm shooting to have this submitted for April release.

[2016-04-07 18:41] CDPotter commented on #2044
After trying to work on this for the day I'm hitting a solid wall. I was able to get it most of the way there, however it just seems like this is too much for MAXIS to handle.

After much experimentation (see all the Francis Underwoods in training region.) I was operating on; If MSA had been approved then the script would force it's way into background so SNAP could have MSA budgeted into it for t

[2016-04-07 18:55] mxiong1 commented on #2057
Awesome:)

[2016-04-07 20:13] theVKC commented on #1730
Thanks for the update!!

[2016-04-07 20:17] theVKC commented on #2044
I agree, this doesn't seem like a big enough problem to worry more about.

Can I request that Krabappel be updated to indicate this, perhaps on the main dialog? Something like: "note: MSA/SNAP cases might not have the MSA budgeted onto SNAP for first month due to system limitations"? This (in my opinion, at least) would "resolve the issue" in that folks would know not-to-do-that.

@CDPotter, can y

[2016-04-07 20:25] #2001 closed

[2016-04-07 20:30] #1998 closed

[2016-04-07 20:30] #2083 closed

[2016-04-07 20:31] #2088 closed

[2016-04-07 20:33] theVKC opened #2091 "NOTES - RETURNED MAIL RECEIVED: needs dialog item variables renamed"
@StormageddonDLOA: the dialog items are "Check1", "Check2", etc.. Those should be renamed to follow standards (something like `something_something_checkbox`), as well as any other dialog variables.

Can you work on this for Monday's hackathon really quick? That'd be greatly appreciated.

[2016-04-07 20:35] #2044 closed

[2016-04-08 12:59] StormageddonDLOA commented on #2091
Sure.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, April 07, 2016 3:34 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Delong, Timothy <Timothy.Delong@co.stearns.mn.us>
Subject: [MN-Script-Team/DHS-MAXIS-Scripts] NOTE - RETURNED MAIL RECEIVED: needs dialog item variables renamed (#2091)

@StormageddonDLOA<https://github.com/StormageddonD

[2016-04-08 18:12] courtrightd opened #2093 "New Script - BULK - TARGETED SNAP REVIEW SELECTION"
This is a new script that will allow agencies to select SNAP cases for internal review based on specific criteria for "Targeted Review".   Selects both PAR (ACTIVE) and CAPER (closed/denied) cases for review.  The script collects cases off rept/actv and rept/inac and adds those cases meeting selection criteria to a spreadsheet.  Once the lists have been built, it selects at random the specified nu

[2016-04-08 18:16] courtrightd opened #2095 "Bulk main menu needs Targeted SNAP review added."
assign to me

[2016-04-08 20:29] RobertFewins-Kalb commented on #2071
I'll poke around with the script if no one else wants. It's still slightly vague about what is wanted other than -- please make mind meld NOTES - LTC RENEWAL and NOTES - HC RENEWAL

Possibly something to consider with scripts consolidation (I'm forgetting the op name...Brooklyn?) rather than now.

[2016-04-08 20:55] theVKC commented on #2071
Project Bowie is for ch ch ch ch changes.
Project Gorbachev breaks up the biggest script in town, the CAF script.

Both use chain-loading functionality to reduce the number of buttons folks need to click to find/use a new script.

Project Brooklyn is a play on the Manhattan Project. It's the CSES scrubber modifications.

#TheMadnessHasBeenExplained

[2016-04-08 20:56] theVKC commented on #2071
Do you want me to target this for April, or May?

[2016-04-08 20:56] RobertFewins-Kalb commented on #2071
May at the earliest

[2016-04-08 20:57] #2091 closed

[2016-04-08 20:59] #2093 closed

[2016-04-08 20:59] #2095 closed

[2016-04-08 21:00] theVKC commented on #2071
I'll add it for May, we can always revisit. Let me know if it becomes unattainable and I'll close it.

[2016-04-11 14:18] IlseFerris opened #2097 "Add REVW dates to the LTC-GRH list gen"
Hennepin County supervisor has asked for a REVW date column be added to the LTC-GRH List gen. I think it would be helpful to those users, so I can take this unless someone else wants it.

[2016-04-11 14:19] theVKC commented on #2097
Tagging this with the May release since April is a shorter release month. If someone can get it done by Friday we can add it to the April release instead. Marked as help wanted. Thanks @IlseFerris!

[2016-04-11 14:27] theVKC commented on #1879
@CDPotter: any chance this will be done this week? It's tied to the April release. No worries otherwise.

[2016-04-11 14:28] theVKC commented on #2052
Hi @CJOHNS356! Any chance you'll be completing this before Friday? No worries if not, but I need to know whether-or-not it needs to be moved to the May release target instead of the April release target. It's no big deal if not, but I'd like to know in order to keep the issue list up-to-date.

Thank you!

[2016-04-11 14:52] CDPotter commented on #1879
I believe the Pnd2 part is working as expected. The checking notices/elig screen part I haven't worked on yet. I could upload and we could add that as an enhancement down the line if people still want it? It got a little complicated.

[2016-04-11 14:57] CJOHNS356 commented on #2052
Veronica,
No I don't think I would be able to complete this by Friday
please move to May

Thank you

[2016-04-11 15:08] CDPotter opened #2098 "Bug Dail scrubber REVS scrubber verbiage/inquiry handling"
Notices two things today.

One I accidentally ran it in inquiry and it got into an infinite loop trying to pf9 on case note.

Two the verbiage on this seems contradictory to me. I had a client who didn't contact and didn't send in CAF so it seems according to the sentence send a nomi but according to "press no" statement click no?

![nomi](https://cloud.githubusercontent.com/assets/7841989/1443185

[2016-04-11 15:30] theVKC commented on #1879
Your call.

[2016-04-11 15:36] theVKC commented on #2053
Assigning to Casey because @kennyasalee is not a formal contributor just yet. Once he submits a script somewhere he can be directly assigned tasks. It's a sometimes clumsy system.

[2016-04-11 15:36] theVKC commented on #2056
@MulvaneyDani, since I haven't heard from you, I'm moving this to May.

[2016-04-11 15:40] CDPotter commented on #1879
I think I'll upload what I have, integrating reading notices/elig is quite the undertaking at the moment. Plus this will give us a bit of feedback on how people work with the changes in requirements of running the script.

[2016-04-11 15:42] courtrightd commented on #1879
I would be happy to work on the notices end of this in the future some time.

From: Charles P [mailto:notifications@github.com]
Sent: Monday, April 11, 2016 10:40 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [MN-Script-Team/DHS-MAXIS-Scripts] New script Withdrawn Progs (#1879)

I think I'll upload what I have, integrating reading notices/elig is quite the undertaking a

[2016-04-11 15:42] theVKC commented on #2038
Closing issue due to lack of interest from scriptwriter agencies. Anyone can re-review the issue if they'd like, if they have time to devote to it.

[2016-04-11 15:42] #2038 closed

[2016-04-11 15:46] CDPotter commented on #1879
Feel free! I feel like you had a better vision for it anyway!

[2016-04-11 16:23] IlseFerris commented on #1954
Can you change this to May? With the IAA clarifications at mentor meeting we still need to talk this one out. Thanks!

[2016-04-11 17:33] Farleight commented on #2098
Yes. No, I would agree. That isn't not confusing.

[2016-04-11 17:34] theVKC opened #2101 "New script: UPDATE SCRIPTS"
Here's what it should do:
- Check if you have read/write access to Global Variables
- If you have read/write, show a dialog with all of the Global Variables settings
- Based on user selection, update Global Variables file
- Encourage user to test scripts
- Allow users to add new variables (variable name) and the default value(s) for that variable.
- Grabs newest Power Pad if a new one is available

[2016-04-11 17:38] RobertFewins-Kalb commented on #2101
Ooooooooo...I like this. A lot. This would come in very handy for Child Support as we develop our GlobVar. Request:

- [ ] Allow users to add new variables (variable name) and the default value(s) for that variable.

[2016-04-11 17:40] theVKC commented on #2098
I'm confused by this.

* Issue 1: don't be in inquiry. :P Pretty sure the DAIL scrubber stuff navigates to case note differently because of folks' desires to go back to the DAIL message when it's done. If anything, something should check for inquiry earlier, but that might be hard to do. I'm open to suggestions.
* Issue 2: I'm open to updating this. Do you have better wordsmithing in mind?

[2016-04-11 17:42] theVKC commented on #2101
I like it.

[2016-04-11 17:46] Farleight commented on #2098
To be clear... Is there any updated info on this from what's in Poli/Temp? It suggests a MEMO (not a NOMI) for recerts, and lists this stipulation:

NOTE:  This SPEC/MEMO text should only be used for situations
where a FS Recertification is due, the county contacts
the client OR the client contacts the agency, schedule
an interview in person or by phone, the client misses
the scheduled interview a

[2016-04-11 17:54] theVKC commented on #2098
That's what this does, actually. At least, I'm pretty sure. We just call it a NOMI because it is a "Notice Of Missed Interview", same as the SPEC/LETR. I'm open to changing the name.

[2016-04-11 17:55] CDPotter commented on #2098
1: yes that was entirely my fault but any other user might not understand immediately what went wrong. Strangely enough it already has a start_a_blank_case_note in there.

2: My gut would say we send Nomi if we get CAF but they don't complete interview. So the change I would add would be "A NOMI is needed when a client has not completed interview but has turned in Recertification paperwork."

[2016-04-11 18:01] Farleight commented on #2098
I would say that is consistent with Temp then, Mr Pottehr (I'm hoping you imagine me pronouncing that like they do in Welcome Back, Kotter) As for the NOMI/MEMO issue, the "name" of the script is not either of those things, so I don't think a change is required there. Maybe just list it as either/or in the dialog.

[2016-04-11 18:17] bblomer opened #2103 "PA VERIF - add some verbiage on the dialog warning users not to share FTI from SSA"
We received information during the Maxis Mentor call 2/24/16 from Brian Shields stating we are not allowed to verify information regarding income from other sources such as SSI/RSDI, VA benefits, income form a job.  However, this script pulls that information.  Our understanding is that this is from an FTI rule.  Can you clarify if we:
1. Can include that information?
2. Are supposed to take that

[2016-04-11 18:39] Farleight commented on #2103
They did just recently clarify that any SSI info received from Social Security rather than from a client, is NOT able to be shared. I have not heard of this applying to other sources, but then with wages, etc, it almost always comes from the client in some form, or we don't technically have it "verified" anyway.

[2016-04-11 19:23] IlseFerris commented on #2098
Ok I'll add my two cents...

The verbiage is not great (this is coming from the person who wrote it), and now looking at it, I don't think it's necessary. Since this DAIL message is created by the REVS scrubber (which sends out an appointment letter), it fulfills the criteria that the county has made contact with the client to schedule an interview. If they did not complete the interview at the ti

[2016-04-11 20:14] theVKC commented on #2103
Can I get some feedback from the other scriptwriters out there? @MN-Script-Team/county-agency-scriptwriters, any thoughts on this?

Also @ruthmaloney, if you can check on this when you get back, that'd be great. :) :)

[2016-04-11 20:19] IlseFerris commented on #2103
I agree with @Farleight, SSA information cannot be shared, nothing mentioned about other income from other sources were mentioned at mentor meeting

[2016-04-11 20:19] courtrightd commented on #2103
First, I'll take on modifying the script if we decide it's needed.  As for the policy end - this script was meant to be used when a signed release to share is provided, so I think @Farleight  is correct that we are good on anything provided by client.  I hesitate to remove it completely since all the Hud forms we receive have a line specifically for other income, and the client has released us to

[2016-04-11 20:27] C-Love commented on #2103
Here is my understanding:
1.True - we cannot verify for other agencies information that was received from a source other than MAXIS programs. Such as SSI/Jobs
2. When the script edit box comes up this information can be changed before the word document is written. So amounts could be removed but job name could be left in. So this could just be deleted by the script user.
3. If I recall correctly,

[2016-04-11 20:27] Farleight commented on #2103
This is a bit more complicated, but you could pull from the Verif Source on UNEA, and use the code to determine whether or not we can include that info. That would obviously require the panels to be coded correctly, which is probably asking too much.

[2016-04-11 21:47] RobertFewins-Kalb opened #2104 "Enhancement -- Modify display in GA/RCA into SNAP report"
Check SNAP for GA/RCA currently reads the GA amount from the "Grant Amount" field. A request has been made the to split the output into 4 columns (currently 1). I think the original idea to pull from Grant Amount had to do with catching adjudicated fraud (the only time we would not budget net). I have been informed that adjudicated fraud with GA is not frequent.

The four columns for the output wo

[2016-04-11 22:04] Y-Lor-Y commented on #2103
My two cents:
1) SSI/RSDI amount that are provided from the client: documented in UNEA panel and case noted - these are not consider FTI information - as @Farleight  mentioned above.

2) Income - maybe I've skipped this from the updated PDF that DHS just sent out back beginning of this year 2016.  But, I've not heard any changes on income.

3) The script itself mainly and mostly allow the script u

[2016-04-12 14:34] theVKC commented on #2058
Assigning to @IlseFerris just for tracking: @senhorc is doing the work. @senhorc, if you can accept the invitation to formally join MN-Script-Team, that'd be swell. https://github.com/MN-Script-Team

[2016-04-12 14:47] GayS commented on #2042
I have moved all the stat collection blocks to follow start timer in the ACTIONS scripts.  Do you want me to send a pull request?

[2016-04-12 15:08] IlseFerris opened #2105 "Snap E & T letter manual referral case notes 'select one' when no manual referral is made"
This was my bad, pulling in a fix with issue #2045

[2016-04-12 15:11] theVKC commented on #2042
If they're all done, go for it. And thank you @GayS!

[2016-04-12 15:12] theVKC commented on #2104
Is this getting done by Friday, @RobertFewins-Kalb?

[2016-04-12 15:36] RobertFewins-Kalb commented on #2104
yes

[2016-04-12 15:37] theVKC commented on #2104
Wonderful! Thank you!

[2016-04-12 15:49] IlseFerris opened #2108 "NOTICES - NOMI: Hennepin County office hour for NW region needs to be udpated"
assign to me for the April release please

[2016-04-12 16:51] bblomer commented on #2103
Thanks Yang.  Now that I have re-read the guide it’s clear to me what we can release and what we can’t.  I think the script is fine and we can just take off information if it’s FTI…

The modifications are you suggesting look good too but I’ll leave that up to the group.

Thanks,

Bridget Blomer
Financial Assistance Supervisor
Scott County Health & Human Services
792 Canterbury Rd So
Shakopee, MN

[2016-04-12 19:32] theVKC opened #2109 "New script: ACTIONS - ASSET PANEL UPDATER"
This new script should update asset panels, based on changes reported or new information at intake. This is part of the ongoing Project Bowie.

Any takers? Could be a simple way to add some ACTIONS scripts to your repertoire!

[2016-04-12 20:41] theVKC commented on #2103
Anyone want to make changes to this script? If not, I'll close the issue.

[2016-04-12 20:45] courtrightd commented on #2103
I think I will add some verbiage on the dialog warning users not to share FTI from SSA.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, April 12, 2016 3:42 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [MN-Script-Team/DHS-MAXIS-Scripts] Action Script - PA Verification request (#2103)

Anyone want to make changes to this script? If not, I'll close t

[2016-04-12 20:48] theVKC commented on #2103
Think you can have it done by Friday for the release?

[2016-04-12 20:48] courtrightd commented on #2103
Yes, should be quick and easy.  I’ll try for tomorrow AM

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, April 12, 2016 3:48 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [MN-Script-Team/DHS-MAXIS-Scripts] PA VERIF - add some verbiage on the dialog warning users not to share FTI from SSA (#2103)

Think you can have it done by Friday for the release

[2016-04-12 20:51] theVKC commented on #1938
I am going to move this to May to coincide with our work in Project Bowie.

[2016-04-12 21:12] C-Love opened #2110 "Dialog Name Change for Project Bowie"
Review all of the following scripts:

- [x] Actions - New Job Reported
- [x] Actions - Send SVES
- [x] Notes - AREP Form Receivied
- [x] Notes - Baby Born
- [ ] Notes - Change Report Form Received
- [x] Notes - Deceased Client Summary
- [x] Notes - HH Comp Change
- [x] Notes - Incarceration
- [x] Notes - LTC - 1503
- [x] Notes - LTC - 5181
- [x] Notes - Pregnancy Reported
- [x] Action - ABAWD FSET

[2016-04-12 21:15] LaLarson commented on #2051
Could you move this one to May? :)

[2016-04-12 21:16] theVKC commented on #2051
Sure thing. Thank you!

[2016-04-13 16:21] CDPotter commented on #2098
So maybe change the question to:

A NOMI is not to be used when SNAP recipient never contacts agency and no renewal form is received.

Then worker can click YES send, NO don't send CANCEL cancel

[2016-04-13 17:23] ramonalisa1 opened #2112 "New Bulk Script - MAXIS HC Non-MAGI Persons/Cases"
With the migration of MAXIS cases into METS starting with July 2017 HC ERs, we are looking at moving some cases around.  I would love a script that could be run on X1 numbers that would go through a caseload, check if the person is active on MA, coded as AA, AX, CB, CK or CX and check that the person has no spenddown.  If so, it would push that info to a bulk Excel spreadsheet so that we can deter

[2016-04-13 17:27] LaLarson commented on #2112
@RobertFewins-Kalb Could you send Lisa the information you sent Meridee?

[2016-04-13 17:28] theVKC commented on #2098
I think if you ask that question, you should cite TE02.05.15.

Tagged it for May, calling it an enhancement. Do you want it, @CDPotter? If you can get it done sooner, let's take it.

[2016-04-13 17:28] theVKC commented on #2098
(or at least reference TE02.05.15)

[2016-04-13 17:32] #1879 closed

[2016-04-13 17:32] CDPotter commented on #2098
I can do it this afternoon quickly enough.

[2016-04-13 17:33] RobertFewins-Kalb commented on #2112
It sounds like there's a lot of demand for the script. How's about I just submit a new script to the BULK list menu?

[2016-04-13 17:35] ramonalisa1 commented on #2112
Whatever you can do would be great!!  We can find no way or not report that exists currently that will pull this specific information from MAXIS.

Lisa M.
Financial Assistance Supervisor

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private o

[2016-04-13 17:38] #2045 closed

[2016-04-13 17:38] #2105 closed

[2016-04-13 17:55] #2081 closed

[2016-04-13 17:59] #2104 closed

[2016-04-13 18:01] theVKC commented on #2112
@RobertFewins-Kalb: want to try and release it in April? Or should we wait until May?

[2016-04-13 18:09] RobertFewins-Kalb commented on #2112
I'll get it done this week

[2016-04-13 18:11] CDPotter opened #2114 "Enhancement: Denied Progs 30 day reinstate check box verbiage"
We are again getting users checking this box for cases where interviews weren't conducted. It currently reads:

Check here if proofs were not provided and this case pended the full 30 day period (or 45/60 days for HC). Applies a 30 day reinstate period.

Maybe we could adjust it to:

Check here if requested progs were not provided, interview was completed and the case pended for the full 30 day pe

[2016-04-13 18:27] theVKC commented on #2114
Sounds fine to me. Want it?

[2016-04-13 18:31] ramonalisa1 commented on #2112
You rock!!  Thanks, Robert! ☺

Lisa M.
Financial Assistance Supervisor

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private or protected information should not be sent over a public (non-secure) Internet unless it is encrypted pursuant to DH

[2016-04-13 18:32] CDPotter commented on #2114
Sure, I can knock it out quickly.

[2016-04-13 19:24] IlseFerris opened #2116 "HG MONY CHCK issuance enhancement: add case noting for non-exempt cases"
MONY/CHCK's can be issued for both non-exempt and exempt cases. I will pull this in.

[2016-04-13 21:25] RobertFewins-Kalb commented on #2112
@theVKC, this is going to be a single pull request with multiple commits. I'll let you know when I have it all ready.

[2016-04-13 21:26] ramonalisa1 commented on #2112
Thanks again!

Lisa M.
Financial Assistance Supervisor

P
Please consider the environment before printing this email.

CAUTION:  This e-mail and attached documents, if any, may contain information that is protected by state or federal law.  E-Mail containing private or protected information should not be sent over a public (non-secure) Internet unless it is encrypted pursuant to DHS standards.  Th

[2016-04-13 23:24] #2116 closed

[2016-04-13 23:24] #2098 closed

[2016-04-13 23:27] #2114 closed

[2016-04-14 13:19] ramonalisa1 commented on #2112
Robert, in thinking about this script, there are two MAGI elig types that DHS is still unsure when/how will migrate into METS.  Those are PX and 11.  We will need to run this report at some point, but I am wondering if in the dialog box we should give an option of checking which elig types for which we would like to run the report, i.e. check boxes for PX, 11, AA, AX, CB, CK, CX so we can customiz

[2016-04-14 14:17] StephanieW7 opened #2118 "LTC 5181"
Hi,
We are noticing an error on the LTC 5181 Script under the NOTES Script section.  On the third dialog box - where you check the box for Sent 5181 back to Case Manager.  When this box is checked it does not add into the case note the 5181 was sent back to the Case Manager.
Thanks,
Stephanie W
X171601

[2016-04-14 14:26] theVKC commented on #2118
Hi @StephanieW7! Is this happening for more than one user?

Any LTC scriptwriters want to take a look at this?

[2016-04-14 14:30] IlseFerris commented on #2118
Confirmed as an issue. I can submit the fix.

[2016-04-14 14:51] theVKC commented on #2118
Think you can get it for the April release, @IlseFerris?

[2016-04-14 14:57] IlseFerris commented on #2118
Yes pull I will pull it in momentarily

[2016-04-14 15:18] theVKC commented on #1730
Moving this to the May release.

[2016-04-14 15:35] #2070 closed

[2016-04-14 15:36] #2103 closed

[2016-04-14 15:37] #2118 closed

[2016-04-14 15:43] #2087 closed

[2016-04-14 15:52] theVKC commented on #2108
@IlseFerris: I thought that pull request I brought in fixed this. Can you confirm this is fixed in master?

[2016-04-14 15:57] IlseFerris commented on #2108
It was confirmed that it changed again. I will submit this update this morning.

[2016-04-14 16:04] CDPotter opened #2123 "enhancement: Postponed wreg verif WCOM"
It has come to my attention that TIKLing to close for the verif due date may lead to cases staying open longer than needed. Per TE02.05.70.01 for cases where client's have used all their abawd months we need to close them on the appropriate date (to me this originally meant the 10 day return date) which appears to be close the case for the 1st of the 2nd month if application date is before 15, and

[2016-04-14 16:47] CDPotter opened #2125 "bug non-critical: actions main menu dialog title is incorrect"
My mistake! Fix incoming! Dialog says "NOTICES Scripts" instead of ACTIONS

[2016-04-14 17:05] theVKC commented on #2108
Are they changing it a bunch? Or just giving incorrect info?

[2016-04-14 17:09] theVKC commented on #2123
* Calculating cutoff dates is a non-starter, I think. Too complicated and error prone.
* Changing TIKL to occur based on application date could be error prone too, I'd think, because there are days where there is a shorter or longer 10-day period. I could see it getting confused.

I think it's time...

`next_cutoff_date` could be a variable which determines itself based on a cutoff list on FuncLib

[2016-04-14 17:11] #2108 closed

[2016-04-14 17:12] RobertFewins-Kalb commented on #2123
I think absolutely yes to  next_cutoff_date being added to FuncLib. That information is available well in advance in SIR and could be easily updated.

[2016-04-14 17:13] #2125 closed

[2016-04-14 17:34] CDPotter commented on #2123
Agreed, I think a list makes the most sense. I agree calculating is too error prone, and something we'd never catch or something went wrong.

[2016-04-14 18:18] CDPotter commented on #2123
Oh random thought! What about a function:

Function cutoff_date_calc(footer_month, cutoff_date)
  if footer_month = "04" THEN cutoff_date = "04/20/16"
  ETC
end function

Though the draw back to this being more writer input/higher change to miss remembering to change it when the year changes.

[2016-04-14 18:23] RobertFewins-Kalb commented on #2123
/\ /\ /\
Yes please.

[2016-04-14 18:41] IlseFerris commented on #2108
The office hours on the website were wrong. They don't change often at all.

[2016-04-14 20:58] CDPotter opened #2127 "Enhancement: Modernize NOTES - LEP SAVE"
Had a user today report he got a message instructing him to navigate to case note and PF9 before this script could case note. Looking at code this script needs a face lift. If anyone wants to get their feet wet in modernizing a script let me know by tomorrow otherwise I'll tackle this one and submit.

[2016-04-14 21:17] CDPotter commented on #2127
Pre-funclib!!! It's like an archeological dig!

![subs](https://cloud.githubusercontent.com/assets/7841989/14543985/52eed4f8-025c-11e6-96ee-f6482b42e009.png)

[2016-04-15 00:54] theVKC commented on #2127
Oh, 2011 Veronica. The things I wish I could tell you.

[2016-04-15 13:02] CDPotter commented on #2127
Added safety measures, error message handling, and still cut 30 lines of code! Want me to pull or wait for next release?

[2016-04-15 20:13] C-Love commented on #2046
@theVKC - I have to push this back to the May release.

[2016-04-18 13:51] theVKC commented on #2127
Kicked this back to April since @CDPotter pulled it in and I haven't finalized the release just yet. Doing that now.

[2016-04-18 13:56] #1958 closed

[2016-04-18 13:57] #2127 closed

[2016-04-18 14:03] theVKC commented on #2123
@CDPotter: here's what I'm thinking...

1. We create a FuncLib issue, tie it to May release, and create the new function/constant first.
2. We update this issue description with a list of scripts that could benefit from this
3. We do the updating in step 2
4. Everyone is happy

Thoughts?

[2016-04-18 14:06] theVKC commented on #1938
Removing #2042, it is now a duplicate of this issue now that I've expanded the scope of this one.

[2016-04-18 14:07] theVKC commented on #2042
This is now a duplicate of #1938. Removing.

[2016-04-18 14:07] #2042 closed

[2016-04-18 14:18] CDPotter commented on #2123
Sure that works for me. Want me to throw the issue up?

[2016-04-18 14:19] theVKC commented on #2123
Please do.

[2016-04-18 15:45] IlseFerris opened #2130 "FIND UPDATE PANELS enhancement"
Hennepin County supervisors have requested that PARE and PBEN panels be updated to the list of case criteria to search. This enhancement will help improve inconsistencies in CASH programs, and target cases for review that have recently been updated.

[2016-04-18 15:47] RobertFewins-Kalb commented on #2130
Add AREP and SWKR as well?

[2016-04-18 16:32] theVKC opened #2131 "Enhancement for REPT/ARST generator"
This was an older request from Dakota County that I have had on my plate for a long time, and it needs to get done sometime soon.

"is there a way the REPT/ARST list generator can also export the number of total cases per worker, not broken down by program?"

Any takers? Seems like it should be easy enough.

[2016-04-18 16:34] theVKC commented on #2130
@IlseFerris: do you want this one?

[2016-04-18 16:40] IlseFerris commented on #2130
We could add AREP and SWKR if there is a need. Has this been requested?
Also I can take it unless someone else has a burning desire.

[2016-04-18 16:44] CDPotter commented on #2130
Yes It's been on Robert and I's plate for sometime but kept getting pushed aside. WREG was also included on that request if it's not already an option.

[2016-04-18 16:48] rhondahines opened #2132 "Note - PND MSA"
It is our understanding when someone is approved for GA and applying for SSA benefits we are supposed to ‘PEND MSA’ by entering a case note.  So, if/when SSA benefits approved, if other elig criteria is met, MSA can be issued back to that date.
*
Could a script be done to make this easier for financial workers to remember to do this?

[2016-04-18 16:49] IlseFerris commented on #2130
WREG is not an option yet. I'll add it.

[2016-04-18 16:51] theVKC commented on #2132
Anyone interested? @MN-Script-Team/county-agency-scriptwriters?

[2016-04-18 16:51] CDPotter commented on #2132
It's for sure not a practice we do here at Anoka. Wouldn't that mean issuing MSA and GA overlapping?

[2016-04-18 16:58] theVKC commented on #2132
@rhondahines, can you confirm a policy citation for this, perhaps POLI/TEMP or a PQ? I only represent SNAP policy, my info on MSA is admittedly outdated.

[2016-04-18 17:04] Farleight commented on #2132
I have no policy citation, but there are definitely instructions out there for how to do a GA/MSA conversion, which include going back 10 months to issue MAXIS benefits and manually calculating anything beyond that time. Seems to me if we're supposed to be pending MSA, those instructions wouldn't really exist, or would at least make reference to "this is what you do in the case of complete failure

[2016-04-18 17:06] KateiMartini commented on #2132
I actually have a manual on this topic.  Wash Co. is huge on Interim Assistance.  I am not in the office today but I can share a copy of the manual tomorrow once I am back in office.

[2016-04-18 17:12] theVKC commented on #2132
I'm leaving the issue up for now, I'd love if someone could get a definite citation for this process one way or another.

[2016-04-18 17:12] theVKC commented on #2132
If there's no definite citation in one week (April 25), I'll close the issue.

[2016-04-18 19:01] rhondahines commented on #2132
According to the MSA workbook posted in the Training Toolkit (MSA Library) on SIR

Page 77 it says:

GA with MSA Pending

The last system piece that needs to be covered is the process of opening a pending MSA case.

When GA is opened under the category of permanent disability MSA is pended. This is not initially done on CASH II on the PROG panel. To pend MSA in this situation a case note is entere

[2016-04-18 19:07] KateiMartini commented on #2132
[IAA Conversion Processing 4.15.docx](https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/files/224536/IAA.Conversion.Processing.4.15.docx)

[2016-04-18 19:11] theVKC commented on #2132
"To pend MSA in this situation a case note is entered. It is from this case note that we can determine the begin date of eligibility for MSA once SSI has been approved."

Seems pretty clear to me.

@KateiMartini: I glanced through your document and saw your document says to use the GA date? Or was I missing something. It's pretty long and I just used a Ctrl-F on it. :)

[2016-04-18 19:12] Farleight commented on #2132
Oh, interesting. I must have read the initial post incompletely. So all we're doing is a case note.That's logical, I guess. Not sure why it's necessary, but if the state says it, it must be true!

[2016-04-18 19:28] theVKC commented on #2132
If I'm remembering back to my adult-cash days... we did this because cash i/ii doesn't always stay consistent enough for tracking, MSA/GA gets putsy, and MAXIS doesn't track it well otherwise (there isn't an "MSA pending" field that I know of). The case note was the best bet. I remember doing it years ago. I didn't know it was still the process! Good to see it's consistent. :P

[2016-04-18 19:45] courtrightd opened #2133 "Approved Progs needs error handling on banked months dialog"
Leaving number of months blank results in type mismatch error, stopping script.  I've got this after freeze is lifted.

[2016-04-18 20:09] theVKC commented on #2133
Could this be considered critical? It seems like it's a major inconvenience.

[2016-04-18 20:11] courtrightd commented on #2133
I suppose so, it does cause the script to break.  I didn't really consider it so simply because no one noticed it until now.  I'll work on it asap.

[2016-04-18 20:14] CDPotter commented on #2133
The script autofills in the month/year so the unless if something went goofy with that the users have to remove/alter the dates to hit this bug.

[2016-04-18 20:39] courtrightd commented on #2133
The problem is with the little box to the right of the initial month/year for number of months approved.  It defaults blank.  It looks like there is error handling there for month/year.

[2016-04-18 20:42] CDPotter commented on #2133
Aaaahhh! Got it! I missed that this was the banked month portion! Thanks for clarification!

[2016-04-19 12:06] tdahl21 opened #2134 "Enhancement - Approved Programs script ending at SPEC/WCOM"
Hey Everyone,

Since a lot of errors have been linked to incorrect notices, could we have the Approved Programs script leave a worker at SPEC/WCOM after the casenote has been ran?  Almost like when the Case Transfer script is ran and it leaves you at SPEC/XFER.  This would hopefully help people to double check notices more often.

Thanks for checking this idea out!

[2016-04-19 20:41] theVKC commented on #2134
I like the idea. Does anyone out there have any thoughts on it?

[2016-04-19 21:07] theVKC commented on #2133
@courtrightd, any movement on this?

[2016-04-19 21:08] courtrightd commented on #2133
ETA tomorrow AM.

[2016-04-19 21:08] theVKC commented on #2133
Thank you!!

[2016-04-19 21:24] courtrightd commented on #2133
Should this be pulled to release as well?

[2016-04-19 21:25] theVKC commented on #2133
No, the new release is coming in a few days.

[2016-04-20 11:50] IlseFerris opened #2136 "BULK - DAIL report enhancement: add option to select DAIL types"
Hennepin County supervisor requested to have users be able to select the DAIL type for the report. Turns out that Ramsey was looking for the DAIL report to filter out the IEVS notices.
Assign to me for the May release.

[2016-04-20 12:24] RobertFewins-Kalb commented on #2136
Are we assuming that filtering an Excel file is beyond the capacity of most users?

NOTICE: Unless restricted by law, email correspondence to and from Anoka County government offices may be public data subject to the Minnesota Data Practices Act and/or may be disclosed to third parties.

[2016-04-20 12:52] IlseFerris commented on #2136
Yes, users can filter the list, but I think having options for the users encourages the use of the BULK scripts.

[2016-04-20 13:00] theVKC commented on #2136
@RobertFewins-Kalb, I said the same thing initially, but I came around. It's like a nav script... Not everyone will need it, but those who do will love it.

[2016-04-20 13:05] RobertFewins-Kalb commented on #2136
Just being snarky :)

NOTICE: Unless restricted by law, email correspondence to and from Anoka County government offices may be public data subject to the Minnesota Data Practices Act and/or may be disclosed to third parties.

[2016-04-20 13:32] asunderman commented on #2134
I'll take a stab at this.

[2016-04-20 13:36] theVKC commented on #2134
Yay! Thanks @asunderman!

We're on a script freeze through Monday, so no new pull requests until Monday, unless they fix critical bugs in the new/updated scripts.

[2016-04-20 13:43] #2133 closed

[2016-04-20 14:21] JonesPat commented on #2059
We are having reports of this same issue at Dakota County. Verified session as well and it is correct.

[2016-04-20 14:32] IlseFerris commented on #2059
Confirmed as an issue. I'll submit a fix.

[2016-04-20 14:33] theVKC commented on #2059
@IlseFerris, since this is a closed issue, please provide a reason it's been confirmed as an issue before we reopen this.

[2016-04-20 14:36] tdahl21 commented on #2134
Thank you!

[2016-04-20 14:44] IlseFerris commented on #2059
OK, so I was able to replicate the issue once, but not since. The script wasn't able to move past the SELF menu screen using CALL start_a_blank_case_note. Could have been a connection issue. I was able to stopscript, and run it again.

This can stay closed.

[2016-04-20 14:51] theVKC commented on #2059
Users should check their API settings in Settings>API to see if it matches the settings indicated in "How to Install BlueZone Scripts". If inquiry and production are getting cris-crossed, this is often the reason. Again, not a script issue, but a BlueZone settings issue.

[2016-04-20 14:54] RobertFewins-Kalb commented on #2059
I just tried the script and it did the same thing for me that @IlseFerris is talking about.

Another problem, when I hit the OK button, it asks if I want to cancel.

[2016-04-20 15:02] RobertFewins-Kalb commented on #2059
It appears to be malfunctioning only from SELF. When the script is run from inside a case, it works. I'm thinking the problem might have to do with the script not writing the case number anywhere.

Also, my _worker_signature_ is not auto-filling.

[2016-04-20 15:17] IlseFerris commented on #2059
I've been testing it from SELF, CASE/NOTE and STAT without issue for the last 10 minutes. @RobertFewins-Kalb are you still running into issues?

[2016-04-20 15:21] RobertFewins-Kalb commented on #2059
I still get the _cancel_confirmation_ msgbox when I press OK.

I was able to force it through. When I get the warning about not being in production, I navigate to CASE/NOTE for the case (because it's still not entering the case number from SELF) and then it works.

I've also noticed that the script uses _case_number_ instead of _maxis_case_number_.

[2016-04-20 15:28] courtrightd commented on #2059
I noticed this exact behavior with using subroutines for chainloading, because it messes up the variable scope.  Any chance it has to do with the Dimming of variables in this one?

[2016-04-20 15:32] IlseFerris commented on #2059
I think you're right @courtrightd

[2016-04-20 15:54] IlseFerris commented on #2059
The case number variables are also not identical. Some are Case_Number and some are case_number. I think this issue should be reopened. It can be assigned to me.

[2016-04-20 16:51] theVKC commented on #2059
OK, there's a lot going on here! Was this script tested? Seems we should have caught this stuff.

I don't know how `Case_Number` could be behaving differently from `case_number`.

https://blogs.technet.microsoft.com/heyscriptingguy/2005/06/22/how-can-i-compare-two-string-values-regardless-of-letter-case/

In any case, I will reopen the issue only if @IlseFerris (or someone else) can find and demon

[2016-04-21 16:10] IlseFerris commented on #2059
I won't be able to work on this in the next few working days. If anyone else is willing, that would be amazing.

[2016-04-22 21:23] theVKC opened #2138 "MFIP orientation memo: Goodhue County had an address change"
They have moved from 469 12th Street to their old (now permanent) address of 426 West Ave, Red Wing, MN.

Any takers??

[2016-04-22 21:24] LaLarson commented on #2138
I shall try! It seems only fitting! Can I do it on Monday at Hackathon? :)

[2016-04-22 23:52] theVKC commented on #2138
Fantastic!

[2016-04-25 14:29] theVKC commented on #2132
@LaLarson is going to seek clarification formally. If this comes back as the current policy, she has volunteered to create the case note. Thanks @LaLarson!

[2016-04-25 14:33] IlseFerris commented on #2097
So my bad, made this an issue before looking into the issue myself. Users of the LTC GRH list have the option to select to create the list from REPT/REVW which would eliminate the need to have this option. #CalmDown

[2016-04-25 14:33] #2097 closed

[2016-04-25 15:46] LaLarson commented on #2138
This is resolved... I emailed Goodhue and they are going to need to manually update their global variables. :)

[2016-04-25 15:47] #2138 closed

[2016-04-25 15:55] courtrightd opened #2140 "NOTICES - MFIP ORIENTATION needs address list added"
Currently pulls address info from Global Variables, which is no longer supported.  An address list will be added to the script itself similar to current Appointment letter script.  I have this.

[2016-04-25 15:56] theVKC commented on #1714
I got a pretty good start on this, but could use some help getting it to update. Time is an issue for me at the moment. Anyone interested?

[2016-04-25 15:57] theVKC commented on #2140
It actually pulls from Global Variables, not FuncLib. Good luck!

[2016-04-25 16:00] RobertFewins-Kalb opened #2141 "Bug -- NOTES >> DENIED PROGRAMS duplicating note"
So here's a fun one...

It was reported this morning that NOTES >> DENIED PROGRAMS was duplicating the CODING FOR DENIAL field. I have tested and can verify that for each time the dialog is loaded, the script case notes the coding reason. So when I loaded the dialog the first time, then used the pushbutton to autofill from a previous case note and then hit an err_msg, the script wrote the reason t

[2016-04-25 16:09] RobertFewins-Kalb commented on #2141
By reseting _coded_denial_ before calling _check_pnd2_for_denial_, the bug has stopped.

[2016-04-25 19:51] #2141 closed

[2016-04-25 19:53] #2076 closed

[2016-04-25 20:38] LaLarson opened #2144 "BULK - Determine INAC Date & Reason"
Please assign to the LaLa!

[2016-04-25 21:59] theVKC opened #2145 "GlobVar - remove county_name variable, it is depreciated"
FuncLib now contains logic to determine this dynamically when `worker_county_code_determination(x, y)` (soon to be `get_county_code`) is invoked. This allows scriptwriters to use the master branch using `run_locally` and GitHub Desktop, and still be able to send proper memos and case notes.

I have this.

[2016-04-26 21:24] C-Love opened #2146 "New Script - Banked Months Report to DHS"
New Utilities script that will take an initial list of clients and create the DHS report as requested. This script will do some checking of possible exemptions and check elig. It will then create the list for DHS based on the spreadsheet that were provided by DHS. It will also create a separate list of clients that were not added to the DHS report and why. These reports and month checking will all

[2016-04-26 21:32] theVKC commented on #2146
I think this sounds like a bulk script and not a utilities script. Utilities scripts don't work with real data.

[2016-04-27 15:58] CDPotter opened #2148 "New Script MA Inmate Application WCOM"
Per ONESource http://hcopub.dhs.state.mn.us/onesourcestd/Process_DHS_6696_Incarceration_No_Sup.htm #7 first bullet first sub bullet.

We should be adding "MA Begins (release date), the date you are released from the correctional facility."

The issue came about because a worker wanted the HCAPP to note the correctional facility FACI panels with end dates (currently if it finds end dates it ignored

[2016-04-27 18:52] StephanieW7 commented on #2071
Is this script working?  We have tried it lately and we are receiving this error...."A 05/2016 span could not be found.  Try this again.  You may need to run the case through background."
There is an approved HC version for 05/2016 and now an unapproved version for 05/2016.

[2016-04-27 18:54] RobertFewins-Kalb commented on #2071
@StephanieW7 can you create a new issue for that?

![image](https://cloud.githubusercontent.com/assets/7842016/14864461/96cbcf50-0c7f-11e6-92ae-f733cf5e7a76.png)

[2016-04-27 18:56] StephanieW7 commented on #2071
Can do – Thanks, Stephanie

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Wednesday, April 27, 2016 1:55 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Stephanie Wiley; Mention
Subject: Re: [MN-Script-Team/DHS-MAXIS-Scripts] Enhancement- NOTES - LTC - RENEWAL (#2071)

@StephanieW7<https://github.com/StephanieW7> can you create a new issue for that?

[image]<https://cloud.githubuserco

[2016-04-27 19:15] theVKC opened #2149 "`BANKED MONTH WCOMS` vs `BANKED MONTHS WCOMS`"
@CDPotter, we're getting reports that this button isn't working on release. Was this tested in the MAIN MENU?

@RobertFewins-Kalb, Charles might be out today... if he is, any chance you can look at this one for me? It's critical if it's happening in RELEASE, the script can't be used.

[2016-04-27 19:25] CDPotter opened #2150 "Bug Typo in Notices main menu"
Unable to open banked month WCOM due to type. Fix incoming.

[2016-04-27 19:28] #2150 closed

[2016-04-27 19:28] CDPotter commented on #2150
duplicate

[2016-04-28 15:14] #2149 closed

[2016-04-28 15:22] theVKC commented on #2148
Thanks @CDPotter!

[2016-04-28 15:26] CDPotter opened #2153 "New script idea Other program eligibility MEMO (call for input)"
MEMO script where worker  can notify client of potential eligibility for SNAP, CASH, MSA, MA. So for example you're doing a MA renewal and you spot a client with $733 living alone and you want to send a letter letting them know they may be eligible for SNAP/MSA.

Only downfalls I see are, why wouldn't we just send it on letter head alongside an application? and we'd probably have to put a generic

[2016-04-28 16:27] C-Love commented on #2153
I really appreciate this idea. It happens a lot to me where I am trying to alert clients to other programs. I do really wish there was a 'Send CAF' option in SPEC/LETR to support this but it would be a good start.

[2016-04-28 16:29] CDPotter commented on #2153
Agreed on the CAF things! Sadly we can just look longingly over the fence into PRISM land and their document generation abilities.

[2016-04-28 16:36] RobertFewins-Kalb commented on #2153
It's turbo great

[2016-04-28 18:18] Y-Lor-Y commented on #2153
I like the idea.  Some clients may not want to apply for the  other benefits and etc, that not sending a CAF might overall be a better option.  But having resources within the memo would be great.  Such as online option, phone request info if they're interest, in-person request info, other sites info, or generic info sites of these programs for them.

[2016-04-28 18:23] Y-Lor-Y opened #2154 "Notes - Expedited Determination error encounter"
Hi, One of my staff on the floor encounter this error when using the expedited determination error:

Script Error at line 1, column 1:
Type mismatch: '[string: ""]'

Looking at where/when this error prompt, during when it runs the PNLP (if I remember correctly, either the incomes or abps).

If this is already a known error (somehow I have a feeling this is a known issue with string value " ").

Th

[2016-04-28 18:34] CDPotter commented on #2154
Do you know what they were doing when they hit the error? Where in the script did it occur, what variables did they enter/not enter?

[2016-04-28 18:49] C-Love commented on #2154
I just got an error report on this on Tuesday and I have it on my list to look at. I am pretty sure the issue is in looking at PNLR after the case number dialog happens. I will look now.

[2016-04-28 19:00] C-Love commented on #2154
Found it! That was totally my bad - no clue how I missed it. Basically I hardcoded in a number for a row to read on a loop. Yikes. I am testing the fix right now, then I will pull it in.

[2016-04-28 19:04] courtrightd commented on #2153
Should it have language reminding of the importance of CAF1 to set application date?

[2016-04-28 19:07] CDPotter commented on #2153
I like that! So maybe something like "When applying for SNAP and/or CASH you can submit the first page of the paper application to set your date of application. Your first month's benefit will be determined based on your application date."

[2016-04-28 21:12] #2154 closed

[2016-04-28 21:14] #2146 closed

[2016-04-29 12:27] CDPotter opened #2156 "Bug Bulk main menu missing object declaration"
Object declaration missing when new button was added.

[2016-04-29 13:10] CDPotter opened #2158 "Enhancement: BULK REVW/MONT closures Add GRMR?"
So apparently there's a REPT/GRMR screen that contains GRH HRF renewals (basically MONT for GRH) the script currently misses all these renewals if they are incompleted (apparently very rare as most facilities like to be paid).

I was thinking it would be a simple enhancement to add this screen. The case note would probably be the same as the MONT one? Anyone with more GRH experience want to help c

[2016-04-29 13:21] #2156 closed

[2016-04-29 15:52] theVKC opened #2159 "Add "list of scripts" vbs file and update main menus to use it"
This is related to workflow scripts. I've got this.

Update: here are the steps I'm taking:

- [x] Script class: add URL property which is self-generating
- [x] Script class: add instructions URL property which is self-generating
- [x] Script class: add category property
- [x] Script class: add subcategory property
- [x] Script class: add workflows property
- [x] Script class: add category propert

[2016-04-29 15:55] RobertFewins-Kalb commented on #2000
Enhancement: Add capability for users/agencies to build custom (_favorite_) workflows.

@CDPotter and I have built the ability for users to select specific scripts to run based on selection of scripts from all scripts list and then saving that selection to txt file on specified network location. I'm thinking we could handle that along with the dynamicization of the workflow dialog to handle the cu

[2016-04-29 15:56] RobertFewins-Kalb commented on #2000
Then the user could access their custom workflows like this...

![image](https://cloud.githubusercontent.com/assets/7842016/14921666/ee3c5d52-0df8-11e6-948d-8118b02e0268.png)

[2016-04-29 15:57] theVKC commented on #2000
Boom. Let's get it done.

[2016-05-02 19:23] RobertFewins-Kalb opened #2163 "BUG -- DAIL ABAWD FSET Exemption Check does not display MsgBox"
Rather minor-ish oversight on my part...

![image](https://cloud.githubusercontent.com/assets/7842016/14965154/62733612-1071-11e6-8fdf-fff8f23e18f9.png)

[2016-05-02 19:48] CDPotter opened #2165 "Enhancement: NOTES - LEP SAVE allow multiple runs"
A worker commented it was a bit annoying to be unable to run the scripts for multiple users. Since we could see this getting resolved by the workflow we thought maybe a temporary solution would work.

The solution being adding a custom HH dialog so workers can select what users to note/TIKL and then wrap the noting/tikling in a for/next.

Thoughts?

[2016-05-02 20:06] theVKC commented on #2165
I think we should avoid this because workflow potentially makes it obsolete. I'd really rather not spend time or resources changing it just to potentially change it back.

[2016-05-02 20:08] theVKC commented on #1687
OK, I'm just not going to have time to get this done. Anyone out there with Access experience want to build some tool to display the time savings? @courtrightd?

[2016-05-02 20:10] CDPotter commented on #2165
Fair enough, closing it!

[2016-05-02 20:10] #2165 closed

[2016-05-02 20:14] courtrightd commented on #1687
Time is likely an issue for me in the near term, but I would be willing to look at it in the future.  Definitely would not happen for May release.

[2016-05-02 20:25] theVKC commented on #1687
Wonderful. As you can see I've delayed it a few times myself.

[2016-05-03 20:19] #2148 closed

[2016-05-03 20:19] #2153 closed

[2016-05-03 20:21] #2163 closed

[2016-05-03 20:26] #2145 closed

[2016-05-03 21:09] courtrightd opened #2167 "New pseudo-script: a template for scriptwriters to create their own custom bulk scripts."
I have this, it is done, I just need to know where to put it.

[2016-05-04 11:10] IlseFerris opened #2168 "Hennepin Co NW office office hours update on NOMI and SEND NOMI needed"
The NW office's hours were incorrect on the website, so were incorrect on the scripts. This affects NOTICES - NOMI and DAIL - SEND NOMI.

Assign to me for May release.

[2016-05-04 13:57] CDPotter opened #2171 "Notices main menu typo on description"
I misspelled a word on the description for the elig notifier. Submitting fix.

[2016-05-04 14:05] IlseFerris commented on #2158
I can help out with this one. It's been a while since I've been in GRH, and haven't necessarily used REPT/GRMR, but I'll help however I can :)

[2016-05-04 16:10] CDPotter commented on #2158
@theVKC Also do you have any info on when GRH HRFs will be going away?

[2016-05-05 12:20] IlseFerris opened #2174 "SNAP E & T enhancement: add 'other manual referral' option"
Hennepin County QI team has requested that an 'other manual referral' option be added to the script. I think it's a good enhancement, especially for this team, since they are heavily reviewing SNAP.

Assign to me for May release.

[2016-05-05 15:27] courtrightd opened #2177 "ABAWD Banked Months Fiater BUG - Unea with $0 causes error"
The script attempts to read income from the PIC, with $0 it is a blank space, so throws a type-mismatch when attempting to perform maths with a string.   Seems to be a very rare circumstance.  I'll take this.

[2016-05-05 16:17] theVKC commented on #2167
There's a NEW SCRIPT TEMPLATE in the main directory, that seems like a good place (BULK SCRIPTS TEMPLATE)

[2016-05-05 16:18] theVKC commented on #2158
None.

[2016-05-05 16:20] theVKC commented on #2174
Are you thinking county-specific? Seems like it could be logical to include for everyone.

[2016-05-05 16:21] theVKC commented on #2177
Eeek! Thanks for taking it.

[2016-05-05 17:25] IlseFerris commented on #2174
Agreed, I created the option for all users (Hennepin, automated and manual). It's in the pull request :)

[2016-05-06 21:38] #2168 closed

[2016-05-06 21:39] #2136 closed

[2016-05-06 21:40] #2171 closed

[2016-05-06 21:43] #2174 closed

[2016-05-06 21:48] #2057 closed

[2016-05-06 21:53] #2130 closed

[2016-05-09 14:21] theVKC commented on #1730
Can I get an update on this @Y-Lor-Y? Do you think it'll be done by Friday (the due-date for the May release enhancements)? Thanks!

[2016-05-09 14:22] CDPotter opened #2179 "New Hire message (new hire name <> MAXIS name)"
So a coworker and myself both had issues this month where we failed to notice that the newhire message was for someone with a different name than the MAXIS name of the person with that SSN. My case was a switch of the SSN number (likely the new employee's mistake) while someone else had completely different SSN numbers.

I was thinking it might be good to compare the two strings and prompt the use

[2016-05-09 14:24] theVKC commented on #2052
Can I get an update on this @CJOHNS356? Do you think it'll be done by Friday (the due-date for the next release enhancements)? Thanks!

[2016-05-09 14:25] theVKC commented on #2053
Can I get an update on this @kennyasalee?  Do you think it'll be done by Friday (the due-date for the next release enhancements)? Thanks!

[2016-05-09 14:25] theVKC commented on #2055
Can I get an update on this @KateiMartini? Do you think it'll be done by Friday (the due-date for the next release enhancements)? Thanks!

[2016-05-09 14:27] theVKC commented on #2056
Can I get an update on this @MulvaneyDani? Do you think it'll be done by Friday (the due-date for the next release enhancements)? Thanks!

[2016-05-09 14:27] theVKC commented on #2071
Can I get an update on this @RobertFewins-Kalb? Do you think it'll be done by Friday (the due-date for the next release enhancements)? Thanks!

[2016-05-09 14:28] theVKC commented on #2112
Can I get an update on this @RobertFewins-Kalb? Do you think it'll be done by Friday (the due-date for the next release enhancements)? Thanks!

[2016-05-09 14:31] theVKC commented on #2123
Can I get an update on this @CDPotter? Do you think it'll be done by Friday (the due-date for the next release enhancements)? Thanks!

[2016-05-09 14:31] theVKC commented on #2131
Can I get an update on this @C-Love? Do you think it'll be done by Friday (the due-date for the next release enhancements)? Thanks!

[2016-05-09 14:32] theVKC commented on #2134
Can I get an update on this @asunderman? Do you think it'll be done by Friday (the due-date for the next release enhancements)? Thanks!

[2016-05-09 14:33] CDPotter commented on #2123
Waiting on cutoff constants, then I can start.

https://github.com/MN-Script-Team/BZS-FuncLib/pull/212

[2016-05-09 14:34] theVKC commented on #2140
Can I get an update on this @courtrightd? Do you think it'll be done by Friday (the due-date for the next release enhancements)? Thanks!

[2016-05-09 14:41] theVKC commented on #2179
I like the idea of a prompt. Go for it! Do you think it'll be done and tested by Friday? I suppose we're out of new hires.

[2016-05-09 14:42] theVKC commented on #2123
I see. Want me to kick it to the June release?

[2016-05-09 14:44] CDPotter commented on #2179
I've actually cracked it already just poking at it a bit.

Indeed we are, but I was able to test it on all of my case notes (luckily the new hire message portion I needed is copied over into the case note).

[2016-05-09 14:52] CDPotter commented on #2123
Well if it gets pulled I can start work as early as Wednesday afternoon after my interviews are over, but if it's not getting pulled soon then we should bump it.

[2016-05-09 14:57] theVKC commented on #2179
You may have been able to test it, but I'm worried statewide we won't have enough testers. Please pull it in after release this month, so we can test it in early June. Thank you!

[2016-05-09 16:28] #2031 closed

[2016-05-09 16:32] theVKC commented on #1730
@Y-Lor-Y, my apologies, you ended up falling off of this script assignment because you left the MN-Script-Team group. You are still assigned this issue. I just can't do that in GitHub because of GitHub settings.

[2016-05-09 16:33] #2179 closed

[2016-05-09 16:38] ALJ10 opened #2181 "BULK / Update EOMC List ~ Discrepencies in accuracy of ACTIVE column"
A supervisor ran this script after the first of the month. She said she checked accuracy of the report and said it's about 50% compared to the actual program status in MAXIS. I ran it to see if I had the same results. I did not check all of them. But out of the first six cases that were listed as active, two of them were closed in MAXIS. If you would like some case #s to research, let me know who

[2016-05-09 16:54] theVKC commented on #2181
@courtrightd, I believe this was your script. Can you take a look?

[2016-05-09 16:59] AimeePaxton opened #2182 "FosterCare HCAPP Issue"
We are having some issues with the foster care scripts. When our workers go into Foster Care HCAPP, everything comes across that they type in, but the Actions Taken Line. We have tried taking scripts off of bluezone and then re-establishing scripts and  completed the file save, but it is still not working. Any suggestions? We were told, a potential bug?

[2016-05-09 17:08] RobertFewins-Kalb commented on #2182
It looks like the actions taken variable was never written into the case note

[2016-05-09 17:09] RobertFewins-Kalb commented on #2182
Scratch that...it was renamed actions_taken in the dialog but not updated in the case note

[2016-05-09 17:18] courtrightd commented on #2140
Yes, I'll be finishing it up tomorrow.

[2016-05-09 17:21] courtrightd commented on #2181
I will take a look.  If you emailed me some case numbers to courtrightd@stlouiscountymn.gov that would be great.

[2016-05-09 17:33] RobertFewins-Kalb commented on #2112
Yes but probably not with consideration for the issues raised by @ramonalisa1. I could simply include the eligibility bases to the output and let users filter the Excel spreadsheet based on that.

https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=filtering%20excel%20spreadsheet

This is where the comment section is going to turn into a Country Time Lemonade commercial...

[2016-05-09 17:33] AimeePaxton commented on #2182
What do we need to do here? I am new to all of this. Sorry & Thank you.

[2016-05-09 17:35] RobertFewins-Kalb commented on #2182
If you can gather the following ingredients, we can perform a sacred pull request ritual and pray the computer spirits will look favorably upon our request...

- [ ] bat's wing
- [ ] chicken's foot
- [ ] strand of curly, red hair
- [ ] garlic salt

[2016-05-09 17:37] AimeePaxton commented on #2182
Thanks! That made my Monday! I will see what I can do, but I am a little limited on the garlic salt…everything else maybe.

Aimee Paxton
Eligibility Worker
Mille Lacs County CVS
525 2nd Street S.E.
Milaca, MN 56353
P. 320-983-8208
F. 320-983-8306

From: RobertFewinsKalb [mailto:notifications@github.com]
Sent: Monday, May 09, 2016 12:36 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@nor

[2016-05-09 17:38] rhondahines opened #2185 "Closing script - HC 4 month renewal"
Hi!
We're wondering, since HC has the 4 month reconsideration period, does the closing script need to be updated to reflect that?

[2016-05-09 17:43] theVKC commented on #2185
I think this script may have been worked on recently. @LaLarson, do you know if you added this at all? If not, we'll keep this issue out there and look for someone to take it.

[2016-05-09 17:44] CDPotter commented on #2185
The BULK - REVS/MONT Closure script does have this ability. (to my knowledge the 4 month reinstate period only applies to MAGIs who close for no/incomplete renewals)

If the case is MAGI only it adds 4 months to the closure date for reinstating

If the case is non-magi then it adds 1 month to the closure date for reinstating

If the case is MIXED then it adds this verbiage(it would be difficult fo

[2016-05-09 17:47] LaLarson commented on #2185
We actually decided to remove the HC reinstate dates from the Closed Progs script because of exactly what Charles had described (the whole MAGI vs Non MAGI vs MIXED thing). Maybe some of the functionality and verbiage from BULK-REVS/MONT could be used to update Closed Progs??

[2016-05-09 17:49] theVKC commented on #2182
In all seriousness @AimeePaxton: Robert pulled in a fix, but it goes through our release cycle process, so you won't see it live for two weeks. That avoids a sticky situation called a "merge conflict" where too many changes in one area break the ability to send newly-tested-scripts live to everyone statewide.

Now, I need to see an alchemist about a bat wing.

[2016-05-09 17:49] CDPotter commented on #2185
I wasn't aware we started applying the 4 month reinstate to cases that closed for reasons OTHER than no/incomplete renewal.

[2016-05-09 17:50] RobertFewins-Kalb commented on #2182
Sounds like @AimeePaxton has everything but the garlic salt. I can provide that.

[2016-05-09 17:50] AimeePaxton commented on #2182
Thank you! That is greatly appreciated! You guys & gals are the best!

[2016-05-09 17:51] theVKC commented on #2185
I recall now that we removed the HC reinstate dates from the script entirely. @rhondahines, because those dates have been removed entirely in the latest version, this issue won't be tracked further.

[2016-05-09 17:51] #2185 closed

[2016-05-09 17:55] #2182 closed

[2016-05-09 18:52] CDPotter commented on #2158
Closing as GRH is reported to move to 6 month reporting very shortly. Per worker who suggested it was a very small subset who appeared on this last at the end of the month anyway.

[2016-05-09 18:52] #2158 closed

[2016-05-09 18:58] theVKC commented on #2158
Thanks @CDPotter!

[2016-05-09 19:06] ALJ10 commented on #2181
David, I just emailed you a variety of case #s (SNAP, GA, MSA). Thank you!

[2016-05-09 19:20] #2008 closed

[2016-05-09 19:28] #2177 closed

[2016-05-09 19:44] rhondahines commented on #2185
We questioned if this applied to MAGI folks only and were informed (from DHS) that the policy applies to all cases.
I have included the verbiage below

This policy is for all cases including cases in MAXIS.

The policy is that a late renewal is complete if the client returned both the renewal form and any information or verifications that a worker requested during the renewal process. A late renew

[2016-05-09 19:45] theVKC commented on #2185
Again, we opted to simply remove this language entirely from the script. So, it's no longer an issue, it just won't do any case noting of it anymore period. @rhondahines @CDPotter

[2016-05-09 19:47] CDPotter commented on #2185
@rhondahines This is the first I've heard about expanding it to non-magi clients. Could you email me your sources? I should probably share that with policy people here. Charles.potter@co.anoka.mn.us

[2016-05-09 20:14] CJOHNS356 commented on #2052
Veronica,

The script is about 80 % done it has a few bugs I need to work out and the case noting part of the script still needs to be written.  I am currently way behind in my regular work and I am not sure I would be able to complete this by Friday. I think it would be better to wait until the next release.

Christopher Johnson
Family Support and Assistance
Eligibilty Specialist
Olmsted County F

[2016-05-09 20:25] RobertFewins-Kalb commented on #2052
For the sake of simplicity, is it worth considering opening up ACTIONS >> SHELTER EXPENSE VERIF RECV'D? That script will update ADDR and case note. I think there's a requirement that some shelter expense be entered but we could modify err_msg handling to allow this script to be more generally a shelter info updater

[2016-05-09 20:52] theVKC opened #2189 "Remove script class from MAIN MENU scripts"
The following scripts need this removed:

- [ ] ACTIONS - MAIN MENU
- [ ] BULK - MAIN MENU
- [ ] NOTES - MAIN MENU
- [ ] NOTICES - MAIN MENU

This should only be done AFTER https://github.com/MN-Script-Team/BZS-FuncLib/issues/210 is resolved. I've got this.

[2016-05-09 21:14] #2189 closed

[2016-05-10 12:37] CJOHNS356 commented on #2052
Thank you I will check that out

Christopher Johnson
Family Support and Assistance
Eligibilty Specialist
Olmsted County Family Support and Assistance
Phone: (507) 328-6311
Fax: (507) 328-7956

NOTICE: This e-mail communication is for the sole use of the intended recipients and may contain unclassified confidential information. Any unauthorized disclosure, copying or dissemination of this communica

[2016-05-10 13:11] Y-Lor-Y commented on #1730
Sorry Veronica,

Yes.  I’m tuning the scripts to per your comments last time.  I look to have it enter back up on GitHub asap…hopefully before this Friday.

Yang T. Lor | FCM Resource Trainer
Financial Assistance Services |  Ramsey County CHS
160 Kellogg Boulevard East, Saint Paul, MN  55101
P: 651-266-3621  |  Fax: 651-266-3705
E: yang.tou.lor@co.ramsey.mn.us
Schedule: M to Th, 7:45 AM to 6:00 PM

[2016-05-10 14:14] lisaholker opened #2192 "Actions- Case Transfer"
Several workers have questioned if this script sends the Spec/memo to the AREP or Social Worker on the case.
When a manual spec/memo is done you can select who you want to send it to but the script doesn't give that option.
When we go back in after it's been done on cases that have AREP's it doesn't appear the spec/memo is being sent to the AREP.
Can this feature be added?  To select multiple reci

[2016-05-10 14:51] theVKC commented on #2192
I believe this script originally came courtesy of @CDPotter and @RobertFewins-Kalb. Do either of you have a sense of this idea, and whether-or-not it is implemented? Why am I thinking it was asking?

[2016-05-10 14:55] #2167 closed

[2016-05-10 15:36] courtrightd commented on #2192
It looks like this functionality isn't here in this script, but I put it into NOTES - APPOINTMENT LETTER, so could be added here.  Or maybe we should create a open_MAXIS_spec_memo(swrk, arep) function that would allow the desired outcome in all scripts.  Though that would be more work than copy / pasting into this script.

[2016-05-10 15:39] RobertFewins-Kalb commented on #2192
We could add that functionality to the out-of-county transfer MEMO. @courtrightd built that functionality for other scripts.

[2016-05-10 15:40] RobertFewins-Kalb commented on #2192
Hey, speaking of @courtrightd!

[2016-05-10 15:40] theVKC commented on #2192
I presume you mean NOTICES - APPOINTMENT LETTER. #SticklerForTheDetails :)

I don't think a function is really all that necessary at this junction. I'm open to suggestions on that. In any case, @courtrightd, am I assuming you're volunteering for this righteous task?

[2016-05-10 15:46] courtrightd commented on #2192
Yes, I will take this righteous task!  And skip the function for now.  I plan to just copy in just like the (insert category here) - APPOINTMENT LETTER script does it with automatically sending to arep / swkr if found (and marked to receive notices in stat), no user input.

[2016-05-10 15:57] theVKC commented on #2192
When might you have it done @courtrightd? Before Friday?

[2016-05-10 15:58] courtrightd commented on #2192
I'll shoot for that.

[2016-05-10 15:59] theVKC commented on #2192
Boom! @lisaholker, we're targeting our releases for the fourth Monday of each month. This means if Dave gets it built by Friday, it will be tested next week and will go out Monday, May 23.

[2016-05-10 16:02] lisaholker commented on #2192
Awesome- thanks so much for the quick response everyone! ☺

Lisa Holker
Financial Assistance Supervisor
Sherburne County Health & Human Services
13880 Business Center Dr.
Elk River, Mn. 55330
Phone: 763-765-4021 Fax: 763-765-4096
Sherburne County Health and Human Services values customer service and would like to hear from those who receive services from us about your most recent experience.  Plea

[2016-05-10 16:30] theVKC opened #2193 "Add note to old MAIN MENU scripts instructing users to update their scripts"
Three old MAIN MENU files are depreciated and should be deleted soon:

- [ ] NOTES 0-G
- [ ] NOTES H-Z
- [ ] MEMOS

We need to put in a `MsgBox` with a warning to users that these files will be obsoleted after the June release, so users should update their scripts.

Hennepin updates their Power Pad this week (hopefully Thursday). I'd like to time this update right after that point.

Scriptwriting

[2016-05-10 16:32] theVKC opened #2194 "Delete old MAIN MENU scripts during the June release cycle, in time for the June release"
- [x] NOTES 0-G
- [x] NOTES H-Z
- [x] MEMOS

This will be after the #2193 goes live, obviously.

[2016-05-10 16:37] asunderman commented on #2134
No, we’re in the process of scanning all our paper files and moving back to the courthouse from the barn.  No time for script writing right now.  Sorry…

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, May 09, 2016 9:33 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Sunderman, Ann; Mention
Subject: Re: [MN-Script-Team/DHS-MAXIS-Scripts] Enhancement - Approved Programs script endin

[2016-05-10 18:14] theVKC commented on #2134
No worries @asunderman. I think I'll take this issue and pound it out, just to decrease the list by one more. :)

[2016-05-10 19:38] theVKC opened #2195 "Removing more depreciated functions from MAXIS scripts"
Here are the scripts that need to be checked and updated:

`ERRR_screen_check`
- [x] BULK - CHECK SNAP FOR GA RCA
- [x] BULK - FIND MAEPD MEDI CEI
- [x] UTILITIES - TRAINING CASE CREATOR

`maxis_check_function`
- [x] ACTIONS - TRANSFER CASE
- [x] BULK - INAC SCRUBBER

`navigate_to_screen`
- [x] ACTIONS - ABAWD SCREENING TOOL
- [x] ACTIONS - TRANSFER CASE
- [x] BULK - ADDRESS REPORT
- [x] BULK - CH

[2016-05-10 20:48] GayS commented on #2193
If we don't have a power pad with "utilities" button on the top-right, do we need to rerun the installer?

[2016-05-10 20:51] Farleight commented on #2193
Rerun the most current installer. I had an old version on my desktop, but just updated today with the one on Github here and it worked fine... except that I had to reset some Global Variables that I had previously changed. (You may want to back up anything you think you may have manually updated like that)

[2016-05-10 20:54] theVKC commented on #2193
Precisely @Farleight! Yes @GayS, you should update. I saw your Power Pad yesterday and it needs to be updated again. This should be the last update until workflow scripts come in a few months.

[2016-05-10 21:01] #2195 closed

[2016-05-10 21:17] GayS commented on #2193
is v1.4 the current installer?

[2016-05-10 21:28] theVKC commented on #2193
Use whatever's on the link in SIR at the bottom of the page.

[2016-05-10 21:29] GayS commented on #2193
@theVKC thanks

[2016-05-11 14:30] theVKC commented on #1730
Closing this issue and marking it as a sleeper. The script as written doesn't match our formatting or structural guidelines (it doesn't behave like our other scripts). It was buggy on my runs and will need to be rewritten. With GRH HRF-related-procedures being updated in the coming months, I would like to hold on this issue for a while and let policy catch-up.

[2016-05-11 14:42] theVKC commented on #2000
Well folks, I wanted to target this for the May release but now I fear we won't have enough time to test this in the master branch. Considering my script-wide updates needed (see all yesterday's pull requests), I'm making the executive decision to switch this to the June release. This way we can focus on cleaning up any errors caused by yesterday's and today's work.

[2016-05-11 14:57] theVKC commented on #1954
@IlseFerris, where are we at with this? I expected to see it by now.

[2016-05-11 14:58] theVKC commented on #2058
@senhorc and @IlseFerris, this issue has been inactive for some time without anyone working on it. I'm going to mark this as a sleeper issue, and close it. If you get it built locally and you're comfortable, please please please tag me in this issue and ask me to reopen it.

[2016-05-11 14:58] #2058 closed

[2016-05-11 15:00] theVKC commented on #393
@KateiMartini do you have any update on this issue?

We described this as being a sort-of "hot potato". Well, I'm willing to close the issue and mark it as a sleeper issue if you don't think you'll be able to prioritize it soon. Then, if anyone wants to pick it back up we can.

Thoughts?

[2016-05-11 15:01] theVKC commented on #2046
@C-Love I'm going to push this back to June because you've been out. If you get it done, great. Otherwise, we'll push it back. If you won't have time for it we can close it.

[2016-05-11 15:02] theVKC commented on #2051
Think this will be done by Friday @LaLarson? Still interested in it? Want me to close it?

[2016-05-11 15:02] KateiMartini commented on #393
Yes, I think putting it as a sleeper issue for now would be fine.  I wish I had the time to work on it cause I think it would be great, but at this time I don't have the time for it.

[2016-05-11 15:03] LaLarson commented on #2051
Yeah, that one will definitely not be done by Friday… ☹

I would say you can close it for now, and I’ll make a new issue later if we need to. ☺

Laura Larson
Eligibility Specialist, FSA

PH: 507-328-6182
FX: 507-328-7956

From: Veronica Cary [mailto:notifications@github.com]
Sent: Wednesday, May 11, 2016 10:03 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Larso

[2016-05-11 15:03] theVKC commented on #2053
I've moved this to the June release. @kennyasalee, please reply to comments on GitHub when we ask for updates. This is how I manage the project.

[2016-05-11 15:04] theVKC commented on #2055
I haven't heard yet, so I'm moving this to June.

[2016-05-11 15:05] theVKC commented on #2056
I haven't heard from @MulvaneyDani, so I am moving this to the June release and opening it up for other scriptwriters. Anyone want it? @MN-Script-Team/county-agency-scriptwriters?

[2016-05-11 15:05] KateiMartini commented on #2055
Sorry, for the delay in responding.  Yes if you could move it to June that would be great.  I have been working on it this week but I don't think I will get it done in time.

[2016-05-11 15:07] theVKC commented on #2109
Moving this to the June release @StormageddonDLOA to go along with the update to Project Bowie (which was also moved to June).

[2016-05-11 15:08] theVKC commented on #2112
Well want I should close it, Robert? We can call it a sleeper or move it to the June release. I'm trying to reduce the issue list here. Poking all the bears.

[2016-05-11 15:09] theVKC commented on #2123
@CDPotter, FYI we pulled those functions in. Good luck!

[2016-05-11 15:10] theVKC commented on #2132
@LaLarson, since this is an ongoing policy question, and hasn't been resolved yet, I'm going to mark the issue as a sleeper issue and close it. If you get clarification back in about the policy, let's reopen it and do something about it.

[2016-05-11 15:10] #2132 closed

[2016-05-11 15:11] theVKC commented on #2159
This is now tied to the June release as Bowie was moved to June.

[2016-05-11 15:12] theVKC commented on #2193
@GayS, have you completed the update? If so, I'll get this one done right away. I have to do it tomorrow but would like to do it today.

[2016-05-11 15:13] theVKC commented on #2071
This might be addressed through Bowie or other upcoming projects. Closing and marking as a sleeper issue. We can pursue at a different time if there's interest.

[2016-05-11 15:13] #2071 closed

[2016-05-11 15:14] RobertFewins-Kalb commented on #2112
I've been working on it. I'm thinking about releasing what we have and then working on an update for June. This has proved to be quite useful with conversion looming...

[2016-05-11 15:14] IlseFerris commented on #1954
Let's move it to June. I've started on it, but it keeps getting bumped for other priorities.

[2016-05-11 15:15] IlseFerris commented on #2058
Works for me. @senhorc should be back to work soon so we'll be able to take care of it then.

[2016-05-11 15:16] GayS commented on #2193
@theVKC  - Yes I updated the installer last night so we are good to go! Thanks

[2016-05-11 15:17] #393 closed

[2016-05-11 15:17] #2051 closed

[2016-05-11 15:18] theVKC commented on #2055
Done. No problem! Thanks for doing it! It'll be a hit!

[2016-05-11 15:18] theVKC commented on #2112
I agree. Go forth, please and thank you!

[2016-05-11 15:19] theVKC commented on #1954
Let me know if you want me to close it entirely and we can start it up again if it becomes important.

[2016-05-11 15:19] theVKC commented on #2193
Wonderful! Yay!

[2016-05-11 15:26] theVKC commented on #1684
I've decided to try and get this done today. #issuereduction

[2016-05-11 15:46] theVKC opened #2208 "REDIRECT - NOTES H-Z still exists and shouldn't"
On it.

[2016-05-11 15:46] #2208 closed

[2016-05-11 16:02] #2193 closed

[2016-05-11 16:04] #2140 closed

[2016-05-11 16:16] #2134 closed

[2016-05-11 16:16] theVKC commented on #2134
@tdahl21: this is now live in the test branch. Expect to see it for real the Monday after next!

[2016-05-11 17:20] #2123 closed

[2016-05-11 18:11] theVKC commented on #2181
FYI @courtrightd, I just updated the BULK scripts with the new FuncLib block. If you've been working on this you might want to fetch upstream.

[2016-05-11 18:11] theVKC commented on #2192
I've also updated all of the ACTIONS scripts with the new FuncLib block, @courtrightd. :)

[2016-05-11 18:57] theVKC opened #2217 "NAV - PRISM SCREEN FINDER: need stats details"
This script was courtesy of @levesswe and @RobertFewins-Kalb. Can one of you update the stats block with numbers from how much time this script might save?

Tagging for the June release.

[2016-05-11 19:43] CDPotter opened #2219 "bug NOTICES - MA inmate app determining date wrong."
I incorrectly built this to compare HCRE dates to find the FACI exit date. Policy says that the HCRE start date is the appl month NOT the release month. I need to find a new way to compare FACI end dates and find the correct FACI.

Assign to me.

[2016-05-12 00:17] #2219 closed

[2016-05-12 00:23] #2181 closed

[2016-05-12 00:30] IlseFerris opened #2222 "Find panel update date update in master: remove person-based handling for PACT"
PACT is the only case-based panel. Doesn't need all the HH member handling, it just slows it down.
Assign to me.

[2016-05-12 00:30] IlseFerris commented on #2222
I got #2222!

[2016-05-12 00:30] theVKC opened #2223 "Get county code is needed in a few scripts"
The circumstances which require this function are:

* Any scripts using the `county_name` or `worker_county_code` variables
* Any scripts with the `navigate_to_MMIS` function need this for figuring out how to navigate to MMIS (the MMIS code is based on your county code).

I haven't determined exactly which scripts need updating. I'll be doing that after I finish #1938.

VKC update 05/12/2016... he

[2016-05-12 00:30] theVKC commented on #2222
Go you!

[2016-05-12 00:31] theVKC commented on #2222
Also, can you do this by end-of-day tomorrow?

[2016-05-12 00:42] IlseFerris commented on #2222
Done and done :)

[2016-05-12 02:27] #2222 closed

[2016-05-12 02:45] #1938 closed

[2016-05-12 15:14] courtrightd opened #2228 "NOTES - MFIP to SNAP transition needs MAXIS_footer_year"
I have this.

[2016-05-12 17:35] #2192 closed

[2016-05-12 17:38] #2228 closed

[2016-05-12 17:50] KateiMartini opened #2230 "Notices-Method B WCOM"
There is a wording issue and a typo in this script.
"Although your spenddown is $xxx your recipient amount the amount, or the amount"
"This is how the recipient amount is determined"  Recipient is spelled wrong.

[2016-05-12 18:05] theVKC opened #2231 "NOTES - CLIENT TRANSPORTATION: update worker_county_code reference"
It looks like it says `clientworker_county_code`, which doesn't do anything. I'll take care of this while I'm doing #2223.

[2016-05-12 18:09] theVKC commented on #2230
Want it @KateiMartini?

[2016-05-12 18:10] KateiMartini commented on #2230
Yes, I can try it.  It should be easy enough for me.

[2016-05-12 18:10] theVKC opened #2232 "BULK - Find MAEPD MEDI CEI needs navigate_to_MMIS removed"
This is in FuncLib now. I'll do it as part of #2223.

[2016-05-12 18:11] theVKC commented on #1684
#2223 is taking too long. This is going to have to be delayed until next month again.

[2016-05-12 18:15] IlseFerris commented on #2232
navigate_to_MAXIS can get removed too

[2016-05-12 18:15] theVKC commented on #2232
On it.

[2016-05-12 18:22] #2232 closed

[2016-05-12 18:27] theVKC opened #2234 "BULK - FIND MAEPD MEDI CEI needs more comments"
@RobertFewins-Kalb, it looks like you pulled this script in and didn't include much for comments. Please bulk up the comments a bit on this for me for the June release.

[2016-05-12 18:28] theVKC commented on #2230
Wonderful. Think you can get it done by tomorrow's release? If not, we'll make it a June issue.

[2016-05-12 18:33] #2231 closed

[2016-05-12 18:38] CDPotter commented on #2234
Want me to knock this out?

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, May 12, 2016 1:28 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Subject: [MN-Script-Team/DHS-MAXIS-Scripts] BULK - FIND MAEPD MEDI CEI needs more comments (#2234)

@RobertFewins-Kalb<https://github.com/RobertFewins-Kalb>, it looks like you pulled this script in and did

[2016-05-12 18:43] #2223 closed

[2016-05-12 18:48] theVKC commented on #2112
Per @RobertFewins-Kalb this isn't going to be live this month. Moving to the June release.

[2016-05-12 19:32] ALJ10 commented on #2059
Just a follow up that we're still experiencing the issues with this script. I had the supervisor try the workarounds that were mentioned the above comments, but to no avail. Let me know if there's anything else we can try until the script issue has been resolved. Thank you!

[2016-05-12 19:33] theVKC commented on #2059
You aren't on the master branch so you won't see the fix until the release date Monday after next.

[2016-05-12 19:38] theVKC commented on #2059
Updated comment: nobody has been able to demonstrate an actual bug with this script. That pop up is supposed to show up when you're in inquiry and it's not duplicatable otherwise.

I recommend your supervisor reinstall BlueZone, and ensure api settings are correct for this user. There is no other reason we can see that would explain this issue.

[2016-05-12 19:40] theVKC commented on #2059
In any case I renamed the variables yesterday, so if dim ing was responsible that should resolve it next release.

[2016-05-13 15:02] #2234 closed

[2016-05-16 19:28] CDPotter opened #2239 "BUG NOTES burial assets, skipping breakdown if NONE is selected/requiring input it none is selected."
Ran into a few issues with the burial assets script today:

1: if NONE is selected on the asset dialog 01 (dialog after opening dialog) the user is required to complete all of the fields on the dialog even though they selected NONE.

2: there is no option for "other" or write your own there.

Fix being pulled shortly.

[2016-05-17 15:24] #2239 closed

[2016-05-17 19:31] GayS opened #2241 "ACTIONS - Transfer Case"
We are getting an error indication that we are not in production exact wording: "You are not able to go into update mode. Did you enter in inquiry by mistake?  Please try again in production".  This was first reported last Thursday and others are reporting same issue today.

[2016-05-17 19:35] courtrightd commented on #2241
Are these users on master or release?  And what is the scenario (in county / out of county / memo to client, etc.)

[2016-05-17 19:37] GayS commented on #2241
They are on the master and transferring out of county.

[2016-05-17 20:08] courtrightd commented on #2241
I've been digging, but I can't replicate here, and the issue isn't obvious.  I made a bunch of updates on Thursday, but working here.  Any chance you can see what maxis looks like when the error happens? It has to be on SPEC/MEMO, but there may be an error msg on bottom missing case number, etc.

[2016-05-18 13:24] GayS commented on #2241
Hey Dave @courtrightd  I will try to sit with the staff that reported the issue on Thursday (5/19) and let you know what I see happening on this end.  Thanks for your help.

[2016-05-18 21:01] CDPotter opened #2242 "BUG actions transfer case"
The script currently is designed to be run by a  worker who is sending the case to someone else. The SPEC/MEMO was updated to say:

"... You case has been transferred.
I will be your new case worker.  ..."

Now if this MEMO is being generated by the old worker who is doing the transferring the old worker's information will appear on that MEMO.

I would suggest we find the X# entered to transfer to

[2016-05-18 21:28] courtrightd commented on #2242
If it waits to send memo until after transfer, it causes an error on PRIV cases.  We will probably need to at least add a check for this to avoid this.

[2016-05-18 21:29] CDPotter commented on #2242
Ah I never thought about that! I will amend my pull!

[2016-05-19 15:32] GayS commented on #2241
Dave @courtrightd , the script seems to run through and update panels, but I didn't see it go into SPEC/MEMO - although they move so fast it's hard to be sure!!

[2016-05-19 18:25] CDPotter opened #2245 "Enhancement: burial assets more clarification about where BFE is applied"
Currently if someone checks the "used $1500 exclusion" checkbox it seems to just add a line about it.

I was looking at an old case note template from a state HC training (5/27/10) where it had people write next to each item if it was applied to the BFE.

This way the case note will reflect specifically what was applied towards the BFE and if any portion remains to be used for future items.

The f

[2016-05-19 18:37] lisaholker opened #2246 "Bulk Script- Case Tranfer"
I can get it to run until I try to put the new workers to transfer to in.
It errors out and says "Servicing Worker is Missing or Invalid" on the spec/xfer screen.
The worker number is showing correctly on the screen though.
I've tried with x171xxx as Script states several times with several different worker numbers, also tried with just the 6 digits and last 3 digits to see if that made a differen

[2016-05-20 12:51] C-Love opened #2247 "Bulk - Banked Months Report is sometimes counting ABAWD months wrong"
For subsequent months of running the report some cases are having the previous banked months counted as a regular ABAWD month.

I have a fix for this.

[2016-05-20 13:42] GayS opened #2249 "BUG NOTE - HC Renewal Year error"
When the NOTE-HC Renewal script is run from SPEC/MEMO, the script enters a "/" in place of the year in the Case Number and Footer Month dialog box.

[2016-05-20 14:36] CDPotter commented on #2249
Looks like it's a problem with the function MAXIS_footer_finder it's finding Month: but on MEMO there's a second spot where Month: exists causing it to read "/ ".

Would it make sense to program and IF for if the function is run on MEMO to read differently?

[2016-05-20 17:55] GayS commented on #2249
@CDPotter sounds logical to have an IF function for running on MEMO.

[2016-05-23 13:31] kennyasalee commented on #2053
Wow I am so out of date on this one. I started on this and have a version I am testing on right now. 06/16 release is possible

[2016-05-23 14:08] kennyasalee commented on #2053
so I do commit to this? @CDPotter ??

[2016-05-23 14:26] theVKC commented on #2249
After talking with Charles this sounds like a FuncLib issue. He's going to move this over to FuncLib and I'm closing it here. It will get resolved soon though, @GayS!

[2016-05-23 14:26] #2249 closed

[2016-05-23 14:33] theVKC commented on #1714
@C-Love has agreed to take this on! Woot!

[2016-05-23 14:37] theVKC commented on #2056
Marking as a sleeper and closing it. We will reopen if anyone is interested.

[2016-05-23 14:37] #2056 closed

[2016-05-23 14:44] theVKC commented on #2241
See #2059. This does not appear to be a script bug _per se_, but a BlueZone configuration issue. Please check to make sure Options>API settings match those recommended by the installation instructions in SIR.

[2016-05-23 14:44] #2241 closed

[2016-05-23 14:47] theVKC commented on #2246
@lisaholker, @C-Love of Ramsey County is going to contact you about this script.

[2016-05-23 15:27] GayS commented on #2241
Hi - @theVKC .  We have confirmed correct session TLSv1 and API settings (DDE enabled).  We are using version 61c7.  The script worked after the security upgrade but stopped functioning after 5/12.  Further suggestions?

[2016-05-23 16:20] CDPotter opened #2251 "SNAP panel is a' changin'"
HC income estimator will be at 19, 48
GRH income estimator (new) will be at 19, 71
SNAP income estimator is in the same spot.

scripts affected:

- [ ] ACTIONS - Paystubs rec'd
- [ ] ACTIONS - MA-EPD FIATer

[2016-05-23 16:41] #2242 closed

[2016-05-23 16:59] theVKC commented on #2241
Is Production in Screen 1 (S1)? If the button is selected in the wrong screen, or production is not on screen one (per the FAQ on SIR), these issues may occur.

It is recommended that users always ensure production is S1 and inquiry/MMIS (if not used within S1 and toggled with MDHS) is S2. When shutting down production, users should also shut down inquiry.

[2016-05-23 17:14] #2247 closed

[2016-05-23 17:16] theVKC commented on #2217
Can I bump this one? @RobertFewins-Kalb or @levesswe, I really need stats block numbers updated. I need to keep this consistent with the other scripts. If I don't hear from either one of you by June 13 (next hackathon at Stearns), I might remove the script or try and find someone else to estimate.

[2016-05-23 17:34] GayS commented on #2241
Yes – they are in S1 when running scripts – with no other scripts open in the background.  It runs through the panels and errors out at the end.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, May 23, 2016 12:00 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Sikkink, Gay <Gay.Sikkink@co.stearns.mn.us>; Author <author@noreply.github.com>
Subj

[2016-05-23 17:48] theVKC commented on #2241
But is another screen open? That seems to be the issue, the other screen. If they only have a single session up, with no other sessions running (which can be confirmed by task manager or restarting the pc), then there's a misbehavior in the script (or more likely the Functions Library). But that hasn't been able to be confirmed by anyone who can duplicate the issue. Hence why I'm hesitant to call

[2016-05-23 18:36] #2251 closed

[2016-05-23 19:00] GayS commented on #2241
I have confirmed - on more than one sample – no other screens are open and we continue to get the error.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, May 23, 2016 1:07 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Sikkink, Gay <Gay.Sikkink@co.stearns.mn.us>; Author <author@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-MAXIS-Script

[2016-05-23 19:10] theVKC commented on #2194
This is complete here: https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/tree/VKC-deleting-old-main-menus

It needs to be pulled in sometime after Wednesday when the release goes live.

[2016-05-23 19:17] theVKC commented on #2241
Is this after a fresh restart though? That's the thing that tells me where the issue might be.

[2016-05-23 19:19] theVKC commented on #2241
Also, can you confirm if MDHS access is used (i.e. user runs MDHS) or if CICS... access is used?

Also also, as I said previously, this is a FuncLib issue and not a script issue. Please create a new issue on FuncLib. I'm going to lock this conversation, feel free to Slack or email me for more details.

[2016-05-23 19:50] C-Love commented on #2246
I was able to take a look at this. This is a MAXIS issue, where sometimes (randomly) the transfer operation in MAXIS does not work if all of the letter characters in the worker number are not upper case. Craziness.

I have a fix for the script that I will push through to help accommodate this MAXIS issue.

@lisaholker - if you could please do a PF11 on this as well, so we can report this issue to

[2016-05-23 20:03] GayS opened #2253 "FuncLib - Actions-Transfer Case"
Actions-Transfer Case is giving an error message indicating user is in inquiry vs. production.  Users are in production, only one session running, happens after restarting computer, API setting is set to DDE enabled, BlueZone session manager is configured to 61c7, TLSv1.

[2016-05-23 20:10] lisaholker commented on #2246
I’ll submit the PF11 on the xfer screen today.

Thanks,

Lisa Holker
Financial Assistance Supervisor
Sherburne County Health & Human Services
13880 Business Center Dr.
Elk River, Mn. 55330
Phone: 763-765-4021 Fax: 763-765-4096
Sherburne County Health and Human Services values customer service and would like to hear from those who receive services from us about your most recent experience.  Please

[2016-05-24 13:53] theVKC commented on #2253
@GayS, please put this on the FuncLib repository, not here. https://github.com/MN-Script-Team/BZS-FuncLib

[2016-05-24 13:53] #2253 closed

[2016-05-24 14:13] theVKC commented on #1687
@courtrightd, in light of recent events, I am going to mark this issue as a sleeper and close it for now. We can always reopen.

[2016-05-24 14:13] #1687 closed

[2016-05-24 14:14] theVKC commented on #1687
(basically, we can reopen it when we're ready to actually work on it, but neither of us appear to have time at the moment and I don't want it cluttering GitHub because most of us don't have requisite Access experience)

[2016-05-24 14:15] theVKC commented on #1945
@MelissaFox-Stearns, can I get an update on this issue? It's been delayed a few times. I'm hoping to either push it out this month or close it (trying to reduce issues on the list).

[2016-05-24 14:18] theVKC commented on #2112
Can I get an update on where this is at @RobertFewins-Kalb? Looking to close a few issues in the next week. If you don't think this will be doable we can mark it as a sleeper issue and we can revisit it at a later date.

[2016-05-24 14:20] theVKC commented on #2159
Update: this is successfully creating an array of scripts-as-script-objects, which can be iterated through and modified when needed.

I just need to add all of the content at this point. Then it should be ready for deployment, and the issue should be closed. I have other work going on this week but I am hoping to squeak it by (since it's primarily just a list of scripts).

[2016-05-24 14:23] theVKC commented on #710
"Research why on-the-hour appointment scheduling in Outlook does not schedule out for the time period selected (e.g.: 30 minute appt only scheduled from 800-800)"...

I have done a bit of research on this. It appears to be only happening with the very first appointment, and I think it has something to do with an array and determining the actual length of the first appointment. As this is my functi

[2016-05-24 18:34] jasont35 opened #2254 "Denied Programs Script - Incorrect case note wording possibly?"
This was brought to my attention by my supervisor and a co-worker. I am not trained in the Cash program so am not sure on this but here is what was stated.

**Case note created -**

----Denied cash----
* cash denial date: 5/18/2016
* Application date: 5/18/2016
* Reason for denial: Client withdrew application.
---
* Last cash REIN date: 6/17/2016, after which a new CAF is required.
* All programs

[2016-05-24 18:38] theVKC commented on #2254
@jasont35, I'm not sure that policy you're citing is correct. Any chance you can find a citation which supports this?

Also, there are checkboxes which alter these dates. Can you confirm the checkboxes were used correctly? I.e. I want you to try multiple checkboxes and see if that alters the date.

I will leave this issue open for one week, then I will close it if no further action is taken from y

[2016-05-24 19:10] courtrightd commented on #2254
I think the REIN wording is used in this script whenever a new CAF would not be needed, regardless of whether correct procedure is to REIN or enter as a new app.  I feel the script should be left as is, workers still need to determine proration / application dates on a case by case basis, but noting the dates in the way the script does helps give workers a reminder on the timelines for each progra

[2016-05-24 19:32] theVKC commented on #2254
One thing I'm looking for is comment about the value of the REIN dates. I know one very, very large county opted to simply remove them from the case notes. @courtrightd, I assume your comment is in favor of keeping them. I'd be interested to hear what others think.

[2016-05-24 20:36] jasont35 commented on #2254
The CM talks about when a complete application is needed (CM 0005.09.03) and when a complete application is not needed (CM 0005.09.06. It also addresses the issue one of our county EWs had: What happens when a client withdraws their application and the application is denied? The actions that can be taken are address in CM 0005.12.21.

I think the confusion comes into play when using the term “REIN

[2016-05-24 20:42] theVKC commented on #2254
That makes sense. We do have checkboxes for withdrawal which modify the date. I assume those checkboxes were not used?

Essentially, what my question boils down to is:

* Is the date being challenged? Or
* Is the wording of "REIN" being challenged?

Wording varies from agency to agency. Updating wording on a script can be very very challenging, because while one agency questions the existing wordi

[2016-05-25 18:09] jasont35 commented on #2254
The worker did use the check boxes but the only check box for a date is the one to put the denial date not the REIN date or Intake date. She did enter the denial date under the Cash check box.

It is mostly the wording of "REIN", but the date would also be incorrect for a withdrawn application at least as per the previous mentioned Combined Manual references.

I would say we can close this issue f

[2016-05-25 18:10] CDPotter commented on #2254
To the discussion above Anoka would like to keep the dates. They are extremely helpful for OSAs and a lot of our workers would be disappointed/upset if they disappeared.

[2016-05-25 18:46] theVKC commented on #2254
OK @jasont35, I'll close the issue. For the record, I am open to considering modifying the text "REIN" to be something else, so long as we have good support for it from scriptwriters, and solid reasoning to explain it to staff statewide.

[2016-05-25 18:46] #2254 closed

[2016-05-25 19:32] #2245 closed

[2016-05-25 19:34] #2194 closed

[2016-05-25 19:36] theVKC commented on #1937
@MelissaFox-Stearns, any chance you think this could be done by the June or even July release? I am trying to organize the issues and target dates for them.

[2016-05-25 19:56] theVKC commented on #1714
I added this to the July release because it's coming into discussion here at DHS now, so it's becoming a bigger priority than it once was. @C-Love, let me know if you want to schedule some time to work through it next month.

[2016-05-25 19:56] Farleight opened #2258 "Bulk Rept Lists (PND1, REVS, REVW) content error"
The Rept Lists each check to see if a user "has_content" prior to carrying info to Excel. There seems to be little consistency in which content is checked for between these, but all seem okay except the above three. These three use the 2nd coordinate of the case number field and assume no case exists if it is blank. It misses cases of 5 or fewer numbers, and in doing so, misses entire caseloads if

[2016-05-25 19:57] theVKC commented on #2258
Ooops, my finger slipped. :)

[2016-05-25 21:23] #2258 closed

[2016-05-26 14:54] courtrightd opened #2262 "BULK - Targeted SNAP Review Selection review month enhancement"
Currently, script will pull active cases with any approval date, so if users are reviewing cases for a specific month there may have been no action taken.  After enhancement it will only pull active cases with an approval in current month - 1, to align with caper cases.

[2016-05-26 15:34] Kolbwalt opened #2263 "Claims Script"
A question was asked regarding claim notes.  Often times Eligibility Workers will just copy and paste the case notes for the claim into the claims note section.  Staff are wondering if they could get a script to put the same note into two different areas, CASE notes and CLAIM Notes.  Is that an option or does it already exist?

[2016-05-26 19:27] theVKC commented on #2263
I don't believe it's an option yet. I have built some functionality for writing in various claims-based screens, though.

@Kolbwalt: are you thinking something like a "copy this case note to claim note" option? Or a specific claims-based case note?

Also, any @MN-Script-Team/county-agency-scriptwriters interested in it?

[2016-05-26 20:04] CDPotter opened #2264 "Enhancement: Notes closed progs sanction date clarifier"
Currently the sanction case note writes something like this:

![sanc date](https://cloud.githubusercontent.com/assets/7841989/15588364/292faabc-2353-11e6-9153-3302cbb3cdca.png)

I think it would be more helpful it it wrote 3/1/16-5/31/16 instead as some people may interpret 3/16-6/16 as a 4 month period.

If others think this clarification would be good I can get started on it (or if someone wants

[2016-05-26 20:10] Kolbwalt commented on #2263
I was thinking of having a box where if they check it, it will automatically be entered into the claims notes.  It saves them time.  ☺  I highlighted the section.
Thanks!!

From: Veronica Cary [mailto:notifications@github.com]
Sent: Thursday, May 26, 2016 2:28 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Kolb, Karrie (CO-Isanti); Mention
Subject: Re: [MN-Script-Team/DHS-MAXIS-Scripts] Claims Script

[2016-05-26 20:58] theVKC commented on #2263
@Kolbwalt, since this went into GitHub, I can't see the option you highlighted. Can you log into GitHub and upload the file into a comment? Or feel free to email it to me directly. :)

[2016-05-26 21:00] theVKC commented on #2264
This is always a funny debate. I have always been in favor of the actual days with it ending on the final day of the last ineligible month. But, I'm open to debate. Any @MN-Script-Team/county-agency-scriptwriters have an opinion?

[2016-05-26 21:03] Farleight commented on #2264
Yes... the change.

[2016-05-26 21:32] theVKC commented on #2263
OK, we talked through email. Here's what we're thinking:

1.       The user uses a regular case note, like they currently do. No extra checkboxes or other features.
2.       After the user uses a regular case note, the user starts a new utilities script: “copy this case note to a claims note”.
3.       That script does the work on whatever case note the user wants.

So, who wants it? Anyone?

[2016-05-27 13:42] CDPotter opened #2265 "Bug REVW/MONT Closures not reading MAGI close"
Someone moved the read for the MAGI code to after it navs to STAT/REVW rather than when it's on REPT/REVW. Moving it back and submitting. Non-critical.

[2016-05-27 19:00] #2265 closed

[2016-05-27 19:02] #2262 closed

[2016-05-27 19:13] theVKC commented on #710
Say @IlseFerris, I'm starting to think it might be easier to simply remove the Outlook functionality for now, and add it as an enhancement request sometime down the road. This is buggy and I worry it won't work right on other versions of Outlook. Calendar seems to behave differently on 2016 vs 2013.

[2016-06-01 14:52] theVKC opened #2268 "Remove UTILITIES from the ACTIONS main menu"
I'm on it. Users should have updated their scripts by now to get this on the Power Pad.

[2016-06-01 16:03] IlseFerris commented on #710
Agreed. I will update the script to remove the function. This script should be good to go for the June release then (woot woot!)

[2016-06-01 16:38] theVKC opened #2269 "ACTIONS - TRANSFER CASE: needs to yell when you don't have SPEC/MEMO access"
This comes courtesy of Stearns County. See #2241 for the previous discussion of this.

Right now, it looks like it'll tell you you don't have CASE/NOTE access if you don't have SPEC/MEMO access. I think it should tell you the right thing here!

What I want is for the script to get to SPEC/MEMO and check to make sure you have read-write access to the screen. If you can't start a new MEMO it should

[2016-06-01 17:44] theVKC commented on #710
Yay yay yay yay yay!!!

[2016-06-01 19:18] CDPotter opened #2270 "Enhancement ACTIONS FSET CHECKER rewording"
For the 30 hours or equivolent message it says:

appears to be earning equivalent of 30 hours/wk at federal minimum wage. Please review for ABAWD and SNAP E&T exemptions.

I want to change to:

appears to be working 30 hours or earning equivalent of 30 hours/wk at federal minimum wage. Please review for ABAWD and SNAP E&T exemptions.

As well as add "and SNAP E&T exemptions." to the line about wor

[2016-06-02 15:21] theVKC commented on #2270
Is this in CM @CDPotter? The part about "working 30 hours or..."? I believe you're correct on it but a citation might help clarify things with users who might question it.

[2016-06-02 15:23] CDPotter commented on #2270
CM 0028.06.12

● Employed or self-employed and meets 1 of the provisions below:
   -Working at least 30 hours per week (regardless of wage level).

   - Receiving earnings at least equal to 30 hours a week at the federal minimum wage.

[2016-06-02 15:26] theVKC commented on #2270
Thank you!!! Do you see a place in the script to put that citation so workers can see it? Also, make sure your blip includes it.

[2016-06-02 15:31] theVKC commented on #2110
@C-Love, can I get an update on this one? I'm holding up on my remaining Bowie work waiting for this to be wrapped up.

[2016-06-02 19:06] #2270 closed

[2016-06-02 19:25] CDPotter commented on #2263
I'll take this one. I want to make it more function like so we can put case notes in other places like memos or wcoms in addition to claim notes.

[2016-06-02 19:27] Kolbwalt commented on #2263
Thank you!

From: Charles P [mailto:notifications@github.com]
Sent: Thursday, June 02, 2016 2:25 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Kolb, Karrie (CO-Isanti); Mention
Subject: Re: [MN-Script-Team/DHS-MAXIS-Scripts] Claims Script (#2263)

I'll take this one. I want to make it more function like so we can put case notes in other places like memos or wcoms in addition to claim notes.

—
You a

[2016-06-02 19:55] theVKC commented on #2263
Thanks @CDPotter! Think it can be done by June release?

[2016-06-02 19:56] CDPotter commented on #2263
That's due by 6/17? I think I should be able to.

[2016-06-03 15:51] theVKC commented on #2230
Can I get an update on this one @KateiMartini? It looks like you added your commit to your branch but didn't do the pull request step.

[2016-06-03 17:38] ALJ10 opened #2273 "BULK/ DAIL ~ Possibility of adding an alpha split search within the worker ID"
Here's a suggestion from a financial worker. Thoughts?
***
I’m wondering what your thoughts would be on looking at a script enhancement for the DAIL script under BULK. Currently, it will pull DAIL messages for a specific worker (in our work it would be the case bank ex: X118ADL) I’m wondering if this script could be enhanced to have an option to pull alpha split DAILs from a case bank.

Example: I

[2016-06-03 17:58] ALJ10 opened #2274 "BULK / REVW/MONT Closures ~ 4 month extension for MAGI pops..."
A supervisor utilized the REVW/MONT Closures script toward the end of May. She indicated to me that she did not see the "4 month extension for MAGI pops" included on the script. She was thinking maybe that policy was no longer in effect. But she determined it's still in effect. So she's wondering why she wouldn't have seen that on the script itself. Unfortunately, I don't have a screen shot of wha

[2016-06-03 18:01] CDPotter commented on #2274
The code was in there but someone adjusted something causing it to read incorrectly. I fixed this on the MASTER branch last week. https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/pull/2266

[2016-06-03 18:03] theVKC commented on #2273
Hi! I would think an end user could simply sort the list alphabetically (it is Excel after all) and then disburse/delete the unneeded fields, right? Is that a viable option?

I'm open to considering this for a bit, and if any scriptwriters are interested in it, please feel free to take it and run with it. But, I don't currently have time to pursue this enhancement.

I'll leave it up until next hac

[2016-06-03 18:04] theVKC commented on #2274
Looks like this will go live later this month for the June release. Closing this issue.

[2016-06-03 18:04] #2274 closed

[2016-06-06 13:19] CDPotter opened #2276 "BUG: LTC COLA Summary"
Looking at 01/16 still not 07/16. Submitting fix.

[2016-06-06 14:32] theVKC commented on #2276
Shouldn't this be either a selector or somehow determined by logic? We normally don't condone manual updating of a script as time goes on, save for policy standards.

I don't think we should keep updating this in this manner, I'd prefer to have a field to select the January or July COLA processing. Can you do that, @CDPotter?

At that point, this might be considered critical because LTC can't use

[2016-06-06 14:38] IlseFerris commented on #2276
Making this as hands free as possible would be the best option. This is critical if users can't use the script. I believe the COLA DAIL messages came out today.

[2016-06-06 16:46] CDPotter commented on #2276
Probably won't have time to build in that new feature today (tomorrow is flex and I'm out Wednesday morning, then Thurs/Fri is recert interviews.) If someone can get to it sooner by all means go for it. I was just submitting a temp fix.

[2016-06-06 20:50] IlseFerris opened #2278 "REPT MONT Bulk script"
Hennepin County supervisor requested a REPT/MONT list be created. Pretty much the same thing as REPT/REVW, just for the MONT panel.
I can take this unless anyone has a burning desire to take this issue.

[2016-06-06 21:24] RobertFewins-Kalb opened #2279 "Bug >> INAC Scrubber includes reference to X102CLS"
![image](https://cloud.githubusercontent.com/assets/7842016/15838266/b176d848-2c02-11e6-9e80-2c9674e4383c.png)

So this is a thing. I am concerned that there are agencies that are transferring cases to X102CLS. This is in both master and release.

[2016-06-06 21:25] theVKC commented on #2279
Is this just on the four extra months path?

[2016-06-06 21:27] RobertFewins-Kalb commented on #2279
It is indeed.

[2016-06-06 21:33] theVKC commented on #2279
This explains why it hasn't been discovered. I believe Anoka is the only county using that path. It hasn't been worked into the installer yet.

We should certainly fix the issue, regardless! I'd prefer to replace the two long paths with a single unified process which keeps them for the four months anyway. Pretty sure that's now a pretty firmly established procedure.

[2016-06-07 14:40] C-Love commented on #2110
I am getting this up today. I am determined.

[2016-06-07 18:03] C-Love opened #2281 "New Script - IEVC Report"
Bulk report that will pull some detail about information on REPT/IEVC. Will not include source data. Will highlight overdue instances.

This is already done and I am ready to pull request.

[2016-06-07 18:42] theVKC commented on #2110
I believe in you!! :)

[2016-06-07 21:00] kaleykobber opened #2284 "Scriptwriter Update: Utilities Button"
We have an update to our scriptwriter contact information at Ramsey:

You can remove Yang Lor from the list of scriptwriters.
Please add Kenny Lee to the list of scriptwriters.

Let me know if any additional information is needed.

[2016-06-08 14:11] IlseFerris commented on #2278
@theVKC go ahead and assign this one to me.

[2016-06-08 14:42] theVKC opened #2285 "NOTES - ASSET ASSESSMENT has a typo"
`EMReadScreen` is spelled `EMReadScreacen` on line 271. This is causing an impassable type mismatch error.

@IlseFerris of Hennepin has volunteered to get this done. Originally reported by Aitkin County.

@IlseFerris, please pull into both master and RELEASE, as this is critical and impassable.

[2016-06-08 14:46] IlseFerris commented on #2285
Ready to go in release and master!

[2016-06-08 14:49] #2285 closed

[2016-06-08 15:25] theVKC commented on #2279
@RobertFewins-Kalb, do you want this one? We can dispose of the multi-paths at the same time and make short work of the entire issue.

[2016-06-08 15:26] theVKC commented on #2284
Can you take this one @C-Love?

[2016-06-08 15:29] #2110 closed

[2016-06-08 15:32] #2246 closed

[2016-06-08 15:35] #2112 closed

[2016-06-08 16:59] theVKC opened #2288 "ACTIONS still says NOTICES in a couple of places"
See issue #2125. I'm going to fix this as part of my work with Bowie (I'm dynamically building the dialog now).

[2016-06-08 19:36] theVKC opened #2290 "ACTIONS - COPY PANELS TO WORD: this should be a utilities script"
Since it isn't taking an action on a case _per se_, but merely copying case information for easier review by case reviewers (and supervisors and others), I believe this is a utilities script and not an actions script.

Any thoughts @MN-Script-Team/county-agency-scriptwriters?

[2016-06-08 19:46] theVKC opened #2291 "ACTIONS - HOUSING GRANT MONY CHCK ISSUANCE: needs shorter title"
It's too long for the new unified button settings for workflow and main-menu autocreation:

![image](https://cloud.githubusercontent.com/assets/5701751/15908485/95b245e4-2d87-11e6-866b-e673b41e52bc.png)

We could save space by calling it "HG", but perhaps @IlseFerris has other ideas.

Also, I'll ask you to take this one to preserve your history as the primary scriptwriter.

[2016-06-08 20:01] RobertFewins-Kalb commented on #2279
I can take it

[2016-06-08 20:02] RobertFewins-Kalb commented on #2279
I have an issue that I think should be considered on this script. Going to create a new issue.

[2016-06-08 20:22] theVKC commented on #2291
Note that when we update the name of this file we will also need to update the instruction file on SIR.

[2016-06-08 20:39] RobertFewins-Kalb opened #2292 "Enhancement/Input Needed >> INAC Scrubber mode for users without MMIS access"
Anoka Co has users that will not be given MMIS access but will have a MAXIS caseload. As cases convert to METS, more caseloads are going to be MAXIS CASH & SNAP only. We would like a way to bypass MMIS for those users.

I am hoping there is a way to determine user permissions in REPT/USER (if you sort by Supervisor, it looks like it displays user permissions, but it doesn't make a whole lot of sen

[2016-06-08 21:53] theVKC commented on #2292
I like the idea, especially if it can be determined dynamically. An alternative would be to simply see if MMIS is running and if not, ask the user if they want to bypass (instead of now, in which it just shuts down). That might be simpler and accomplish the same goals, n'est-ce pas?

[2016-06-09 12:43] CDPotter opened #2293 "Bug mic drop sent paperwork to wrong case"
Had a case with MSA/MA renewal due 07/16 and SNAP closed for no CSR 12/31/16. However the renewal date for SNAP was still 07/16 and as such it sent a interview letter. It needs to look for ACTV on prog for SNAP as well.

I can take this one.

[2016-06-09 13:10] CDPotter commented on #2276
Side question, script name is LTC - COLA SUMMARY 2016. Want me to remove the date?

[2016-06-09 13:40] theVKC commented on #2293
Can we close Mic Drop issues and just tag the original issue with a comment and in the pull request please? Since this isn't live the separate issue here isn't necessary.

[2016-06-09 13:41] #2293 closed

[2016-06-09 13:41] theVKC commented on #2276
Please do!

[2016-06-09 14:01] IlseFerris commented on #2293
Awesome @CDPotter thank you!

[2016-06-09 14:02] C-Love commented on #2278
@IlseFerris I am talking to one of our supervisors here and I want to clarify - would this be a report from MONT or MRSR? The difference being - when a HRF is completed on MONT it falls off of the report, but completed HRFs are still listed on MRSR. MONT is beneficial for workers because they can edit a case from that screen but does not seem as useful for generating a report.

[2016-06-09 14:06] IlseFerris commented on #2290
Makes sense to move this to utilities. POLI - TEMP is similar to this script, and that is also a utilities script.

[2016-06-09 14:08] IlseFerris commented on #2278
The supervisor that requested this wanted REPT/MONT, but it makes sense to have both then (just like REVW and REVS). I can certainly make a REPT/MRSR as well.

[2016-06-09 14:20] C-Love commented on #2278
Should I make another issue for you?

[2016-06-09 14:23] IlseFerris commented on #2278
Yes please :)

[2016-06-09 14:25] theVKC commented on #2290
If none are opposed by Monday's hackathon, I will proceed.

[2016-06-09 14:31] #2281 closed

[2016-06-09 14:43] theVKC commented on #2276
@CDPotter, @IlseFerris... I'm guessing the script as it's currently written isn't usable for the current COLA, right? Can we confirm that, then I'll mark it as critical?

@CDPotter, can you send this to RELEASE as well just to be safe?

[2016-06-09 14:44] CDPotter commented on #2276
Correct is it currently hard coded to look at ELIG/HC 01 16 only.

[2016-06-09 14:45] IlseFerris commented on #2276
Fact. This is critical.

[2016-06-09 14:46] theVKC commented on #2276
Reopening and marking as critical. Please pull into RELEASE if you haven't done so already @CDPotter. Thank you!

[2016-06-09 15:17] #2276 closed

[2016-06-09 15:17] theVKC commented on #2276
Closed by #2295.

[2016-06-09 15:21] C-Love opened #2296 "REPT MRSR Bulk Script"
Create a report list script to pull information from REPT MRSR for information about monthly reporters.

I do not have time for this at this point. @IlseFerris is working on REPT MONT and might be willing.

[2016-06-09 15:23] IlseFerris commented on #2296
I am, assign to me for June.

[2016-06-09 15:47] IlseFerris commented on #2291
Will do, and thanks for being a purist ;D

[2016-06-09 17:30] RobertFewins-Kalb commented on #2000
Update: The workflow view has been expanded to accommodate a new button group. At the top is a link to the Create/Update Workflows script (thinking that would be a Utilities script) that borrows heavily from Anoka County's Favorites Menu.

![image](https://cloud.githubusercontent.com/assets/7842016/15937056/0c683af8-2e33-11e6-8831-e9d68aa66a18.png)

When you click to Update/Create WF, you are redi

[2016-06-09 17:36] theVKC commented on #2000
I think `default_directory` should be OK for now. This looks really really really good @RobertFewins-Kalb!

[2016-06-09 17:45] theVKC opened #2299 "BULK list scripts: let's merge/bulk them all together"
I think we could do this differently. Perhaps a checklist where you select the areas you want to search.

I worked on something like this at Anoka. @CDPotter and @RobertFewins-Kalb, I believe the two of you have enhanced this since I came to DHS... is there a chance you could share it? I view this as a great button-reduction process.

[2016-06-09 17:51] #2131 closed

[2016-06-09 17:56] theVKC commented on #2299
Here are the scripts indicated:

- REPT/ACTV
- REPT/EOMC
- REPT/INAC
- REPT/MFCM
- REPT/PND1
- REPT/PND2 (also breaks down PND2 data by worker)
- REPT/REVS
- REPT/REVW

Also, @IlseFerris, does this mean we already have an MFCM script?

[2016-06-09 18:02] theVKC commented on #2299
Also, probably the new IEVS report.

[2016-06-09 18:25] #2288 closed

[2016-06-09 18:25] #2268 closed

[2016-06-09 18:38] RobertFewins-Kalb commented on #2299
The most recent version of what we have is here...

https://raw.githubusercontent.com/RobertFewins-Kalb/Anoka-Specific-Scripts/master/ANOKA%20REPORT%20GEN.vbs

[2016-06-09 18:41] theVKC commented on #2299
@RobertFewins-Kalb, would you be willing to state-ify this one for me? Looks like we'd primarily need to restore access to FuncLib (I did warn you-all about that in January of 2015) and add statistical tracking.

[2016-06-09 18:59] theVKC opened #2301 "Splitting "OTHER NAV" between "NAV" and "UTILITIES""
So, I'm completing #2159. Creating a large list of scripts, and functionality to automatically determine URLs, subcategories, and SIR instruction URLs for both Main Menu and Workflow scripts.

OTHER NAV is located inside the NAV folder. This presents challenges in my functionality as I have to handle these few scripts completely differently:

- Look up MAXIS case in MMIS
- Look up MMIS PMI in MAXI

[2016-06-09 19:25] C-Love commented on #2299
@theVKC we have an MFCM report which lists the MF participating cases but does not indicate Monthly reporting status or the status of the current months HRF. REPT MRSR and REPT MONT do those.

Also, I have a supervisor here who was just talking with me this morning about having these together. So, great timing!

[2016-06-10 13:12] C-Love commented on #2301
I agree that the top 4 could be easily classified as Utilities. View INFC seems very much a Nav script - though with it buried in a menu - not sure how much it is being used.

Is there any possibility this type of issue would be presented in another area of scripts as well, where you would have to work out the functionality anyway? (personally I can think of any place) Hate to make a bunch of chan

[2016-06-10 13:18] C-Love opened #2304 "Training Case Creator Enhancements"
Additional functionality to pend cases up to CM-11, coding HC revw for an ER only, have IMIG-28 people added with a blank SSN and Alien ID number. Updates to the spreadsheet to support these changes.

Also some little fixes. School grad date formats to a single digit month and it needs the leading 0. Sometimes the script is too fast for the HC fiating and errors out - so a quick run through backgr

[2016-06-10 13:22] CDPotter commented on #2301
I can't remember the last time I used view INFC because of the new way to get that info. (though I know of some workers who probably don't remember how to do it manually anymore.)

At Anoka we have most of these script buttons still on our personal powerpad rather than behind Other NAV. I really enjoy having easy access to MAXIS to MMIS personally. Since we have our own powerpad Anoka doesn't have

[2016-06-10 13:27] C-Love opened #2306 "Excel Templates for Banked Months Report"
The files need to be in the correct format for the script to operate. Files available for download.

[2016-06-10 17:18] IlseFerris commented on #2301
These scripts could move to utilities and I'd be ok with that. That said, having access to MAXIS to MMIS by not going into a sub menu would be ideal.

[2016-06-10 18:35] IlseFerris commented on #2299
I will be working on my BULK lists between now and Tuesday, just as an FYI to whomever takes this issue.

[2016-06-10 21:24] C-Love opened #2309 "Bulk DAIL List errors when worker has no DAILs"
Occasionally, workers have no DAILs. If a worker is selected that has no DAILs the script gets stuck.

I have the fix.

[2016-06-13 13:56] theVKC commented on #2046
Moving to July per @C-Love at meeting.

[2016-06-13 14:03] theVKC commented on #1945
Closing due to lack of time to get this one done. Will revisit if interest from any scriptwriters (and time) permits.

[2016-06-13 14:03] #1945 closed

[2016-06-13 14:12] theVKC commented on #2273
Closing due to lack of interest from scriptwriters. Can pursue if a scriptwriter comes forward and wants to work on it.

[2016-06-13 14:12] #2273 closed

[2016-06-13 14:18] theVKC commented on #2299
@MN-Script-Team/county-agency-scriptwriters: I'm going to get separate hackathon space for this sometime in July. I should also have WebEx access by then, so we can do a remote session. Does anyone want to join the coalition of the willing?

[2016-06-13 14:28] theVKC opened #2313 "Move Excel files to new folder: "Excel files for script usage""
On it.

[2016-06-13 14:28] theVKC commented on #2217
@levesswe is taking care of it. Thank you!!!

[2016-06-13 14:51] #2304 closed

[2016-06-13 14:53] #2306 closed

[2016-06-13 15:06] #2313 closed

[2016-06-13 15:08] CDPotter commented on #2299
I could probably help with that.

[2016-06-13 15:09] #2291 closed

[2016-06-13 15:11] #2309 closed

[2016-06-13 15:12] #2278 closed

[2016-06-13 15:17] #2217 closed

[2016-06-13 15:18] theVKC commented on #2299
Woot @CDPotter!

[2016-06-13 15:32] #2269 closed

[2016-06-13 15:42] theVKC commented on #2052
Hi @CJOHNS356! Any chance this will be done Friday for testing for the June release? We've moved this quite a few times and if it isn't going to be ready I will close the issue until you're ready to release it. If it's ready and you just need GitHub help, let me know and I can help there this week. I'm about to issue new instructions for adding a script to GitHub.

[2016-06-13 15:46] theVKC commented on #2055
@KateiMartini, can I get an update on this? Do you think it'll be done by Friday?

If not, I may close the issue if you don't think you'll have time in the next month-or-so to work on it. I need to try and keep the issue list up-to-date and if it isn't being worked we can mark it as a "sleeper" issue (something to be worked on when time allows) and close it from the active list. That's no big deal

[2016-06-13 15:46] kennyasalee commented on #2053
Possibly by this Friday 06/17/16 or by 06/24/16...

[2016-06-13 15:47] LaLarson commented on #2052
Hi V! Chris is actually out of the office for the week.

[2016-06-13 15:48] theVKC commented on #2144
@LaLarson, we have this marked for June. I need to keep the issue list up-to-date.

If you don't think you can get it done by Friday (the deadline for new June scripts) but you think it can be done by next month, I'll keep the issue open. If it can be done by Friday, I'll keep it tied to the June release. If you can't give an ETA (or if I don't hear by Friday), I'll mark the issue as a sleeper iss

[2016-06-13 15:48] theVKC commented on #2230
@KateiMartini, I need an update on this one as well. :)

[2016-06-13 15:49] theVKC commented on #2263
@CDPotter, can I get an update on this one? Think it'll be done by Friday for the release deadline?

[2016-06-13 15:49] theVKC commented on #2279
@RobertFewins-Kalb, think this will be done by Friday's release? If not I can mark it for July.

[2016-06-13 15:50] theVKC commented on #2292
Same as the other issue @RobertFewins-Kalb, think this should be a June or July release?

[2016-06-13 15:51] LaLarson commented on #2144
Hi!

Okay, this is that one that turned very cash/Olmstedy-ish... I would say lets move it to July, and give me one more chance to make it more universal again. I would try to work on it before Friday, but I was sick last week, and now I'm buried in my other work.

[2016-06-13 15:52] theVKC commented on #2053
Wonderful, I'll keep it here in June and if it doesn't happen by Friday let me know and I'll bump it to July. Thanks for the update!

[2016-06-13 15:53] theVKC commented on #2052
Thanks @LaLarson! I'll move it to July then. @CJOHNS356, when you get back, an update would be greatly appreciated.

[2016-06-13 15:55] theVKC commented on #2144
No worries @LaLarson, thanks for the update!

[2016-06-13 16:02] CDPotter commented on #2263
I don't think I'll be able to get it done by then. We've been a bit short handed and I'm out on Friday. If I do get it done I will submit it.

[2016-06-13 16:07] IlseFerris opened #2318 "REPT MAMS BULK list needed"
Creating BULK list as stand alone script until the merging of the BULK lists happens.
Assign to me for June release.

[2016-06-13 16:07] IlseFerris opened #2319 "REPT GRMR BULK list is needed."
Creating BULK list as stand alone script until the merging of the BULK lists happens.
Assign to me for June release.

[2016-06-13 16:09] theVKC commented on #2264
@CDPotter, do you want this one?

[2016-06-13 16:11] CDPotter commented on #2264
If everyone likes it yes I can work on it.

[2016-06-13 16:23] theVKC commented on #2264
Approved! Do you think it can be done by Friday's release deadline?

[2016-06-13 16:24] CDPotter commented on #2264
Since this should be a small fix I could probably get this done by Friday.

[2016-06-13 16:30] theVKC commented on #2301
Here's what I think we should do.

1. Update the Power Pad to move **Look up MAXIS case in MMIS**, **Look up MMIS PMI in MAXIS**, and **View INFC** to the Power Pad. This also requires creating new REDIRECT files and updating the installer. The files would be moved to the NAV folder, sans "OTHER NAV".
2. Update **Move Production Screen to Inquiry**, **Phone Number or Name Lookup**, and **PRISM Scr

[2016-06-13 16:39] RobertFewins-Kalb commented on #2292
I'll get it done this week

[2016-06-13 16:39] RobertFewins-Kalb commented on #2279
I'll get it done this week

[2016-06-13 16:42] RobertFewins-Kalb commented on #2000
What branch should I pull into?

[2016-06-13 16:56] theVKC commented on #2292
Thank you!

[2016-06-13 16:56] theVKC commented on #2279
Thank you!!

[2016-06-13 16:57] theVKC commented on #2000
The VKC-Gorbachev branch (we had started doing Gorbachev then pivoted to Bowie).

[2016-06-13 16:58] #2279 closed

[2016-06-13 18:27] #2318 closed

[2016-06-13 19:07] #2264 closed

[2016-06-13 19:09] #2296 closed

[2016-06-13 19:09] #2319 closed

[2016-06-13 19:24] IlseFerris commented on #2290
I'll take it.

[2016-06-13 19:27] #2230 closed

[2016-06-13 19:29] #2284 closed

[2016-06-13 19:36] theVKC commented on #2301
@IlseFerris is going to be helping me with moving the scripts to the utilities menu since she's already updating it for #2290.

[2016-06-13 19:40] theVKC commented on #1684
I'm going to have to close this one for now. It's just too hard to find time and I don't want it taking up space.

[2016-06-13 19:40] #1684 closed

[2016-06-13 20:24] courtrightd opened #2325 "BULK - Targeted SNAP Review select cases for audit bug"
It sometimes fails to select cases to be audited, getting stuck in a loop or creating an error.  I think both issues are fixed, just doing further testing.

[2016-06-13 21:08] theVKC commented on #2290
@IlseFerris pulled this (by my own request) into my branch for #2301. Closing this issue.

[2016-06-13 21:08] #2290 closed

[2016-06-13 21:36] theVKC opened #2328 "HCPM and IAPM are retired, replaced with MHCP EPM"
I'm updating Power Pads in #2301. I'll modify this for the health care folks. :)

[2016-06-13 21:37] CDPotter commented on #2263
WCOM is proving to be difficult...Also for STATS should I time it based on manually re-writing a case note or copy and pasting a case note?

[2016-06-13 21:45] #2301 closed

[2016-06-13 21:45] #2328 closed

[2016-06-13 21:45] theVKC commented on #2263
Copy and pasting.

[2016-06-14 14:01] IlseFerris opened #2330 "BULK main menu can't even right now (it's become too small)"
With all the additions of the BULK scripts yesterday, the MAIN MENU has become far too small. Submitting a fix. This will be a temporary measure since we are merging a bunch of BULK lists.

[2016-06-14 16:05] RobertFewins-Kalb commented on #2292
Update >> Unless anyone else is aware, there is no way to to easily check for a user's permissions in MAXIS. Going to REPT/USER and sorting based on supervisor gives you a list of permissions, but it's not really straight forward. @theVKC I like the option to bypass if the user cannot get in. I'll go ahead and make that the way it does.

[2016-06-14 17:12] bblomer opened #2332 "Find Updated panels"
On the Bulk Lists - Find Updated panels - can we add the DFLN panel to this current script so we can quickly run a report to see who needs to go to random drug testing.

[2016-06-14 20:14] bblomer opened #2333 "Closed Programs - Case/note script"
Our workers have been using the Closed Program script when eSNAP has been approved for the initial month and is closing for the following month.  Currently, the case/note indicates that they have until the end of the month to turn in verifications.  This is not correct.  They only have 30 days from the date of application.  The client would need to reapply and turn in the missing verifications whe

[2016-06-15 15:51] RobertFewins-Kalb commented on #2332
That sounds like you need a different script. Find Updated Dates would be used when you want to see which DFLN panels have been updated within a certain date criteria. That wouldn't really be a good match for what you are looking for. This sounds like something that would fall within the scope of #2299 ...definitely something to keep in mind.

[2016-06-15 16:00] IlseFerris commented on #2332
Agreed, I this would be it's own script. @bblomer can you update the title of the issue to reflect that you are requesting a new BULK script for DFLN/drug testing recipients. Can you also elaborate on any other information you'd want the script to include?

Any takers on this one?

[2016-06-15 16:02] IlseFerris commented on #2333
I don't think we should dissuade user from using the script, but we could update it so that the case note informs the user that the client has 30 days. Also once the 30 days has passed, they would still have an additional 30 days to provide information needed for the original application without needing to reapply again.

Any takers on this one? If not, I can take it for the July release.

[2016-06-15 16:03] courtrightd commented on #2332
I have a bulk script to find every actv case with a DFLN panel in the county and build a spreadsheet.  I can get it cleaned up and shared (but not until next month).

[2016-06-15 16:04] IlseFerris commented on #2332
@courtrightd for the win!

[2016-06-15 16:26] CDPotter commented on #2333
We found some PI's related to this questions 10654 and 15920.

My summary of PIs:

client applies 6/5/16, case closes for no postponed verifs 7/1/16, verifs rec'd 7/17/16 client must reapply since verification were not received within 30 days of application

alternatively, client applies 6/20/16, their case can be reinstated for 08/16 as long as postponed verifications are provided prior to 7/31/1

[2016-06-15 16:31] RobertFewins-Kalb commented on #2000
I'm thinking that before I can work the agency custom workflows option to the dialog, it has to be a dynamic dialog. The Changes Reported workflow script has the scripts in the workflow hard-coded, which isn't going to work with what I have been working with...

![image](https://cloud.githubusercontent.com/assets/7842016/16088419/9e273ac6-32ec-11e6-947a-8659afd3ff30.png)

I can pull in the "Create

[2016-06-15 16:36] ruthmaloney commented on #2333
Yes, the PQ’s Charles listed both state that expedited is different from a regular application and how you handle is dependent on the date of application.

If an expedited application is received before the 15th of the month, the client has until the end of the month to submit verifications without needing a new app.

If the expedited application is received after the 15th of the month, the client

[2016-06-15 16:46] IlseFerris commented on #2333
Thanks for the clarification @ruthmaloney! @CDPotter Would you have time before Friday to update this by any chance?

[2016-06-15 16:48] CDPotter commented on #2333
I should be able to this afternoon.

[2016-06-15 16:49] IlseFerris commented on #2333
Awesome, thank you! There is also an associate issue that I am about to create. There are HCPM and IAPM manual buttons, and those have now been retired. A new button is needed. Can you take that too? I'll add the new link.

[2016-06-15 16:54] CDPotter commented on #2333
So it should link to just EPM?

[2016-06-15 16:55] IlseFerris opened #2334 "Closed Programs enhancement - HC program manuals button update"
HCPM and IAPM manuals are not outdated. Users need to use the MHCP-EPM manual.
Closed Programs has buttons for each of these program manuals, and will need to be updated to remove the old buttons and add a MHCP-EPM button that links to: http://hcopub.dhs.state.mn.us/epm/#t=index_1.htm

[2016-06-15 16:57] IlseFerris commented on #2333
Pretty much :)
I just created the issue #2334

[2016-06-15 17:41] CDPotter commented on #2333
@ruthmaloney just so I'm 100% certain.

Appl date is ON or BEFORE the 15th of the month. The client gets to end of calendar month to turn in postponed verifs. (PQ says they get 30 days from application so that's where I'm getting confused.)
appl 6/3/16, last day to turn in verifs 6/30/16 or 7/3/16?

Appl date is after 15th of the month. The client gets to end of 2nd calendar month to turn in postp

[2016-06-15 18:02] ruthmaloney commented on #2333
My bad, you are correct

Ruth Maloney

From: Charles P [mailto:notifications@github.com]
Sent: Wednesday, June 15, 2016 12:42 PM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Maloney, Ruth S (DHS) <Ruth.Maloney@state.mn.us>; Mention <mention@noreply.github.com>
Subject: Re: [MN-Script-Team/DHS-MAXIS-Scripts] Closed Programs - Case/note script (#2333)

@ruthmaloney

[2016-06-15 18:03] CDPotter commented on #2333
No worries! Just wanted to make sure I got everything right, thank you!

[2016-06-15 18:43] RobertFewins-Kalb opened #2336 "Enhancement -- Add err_msg handling to INAC Scrubber"
on it

[2016-06-15 19:30] CDPotter opened #2339 "BUG ACTIONS CHECK EDRS: check_for_MAXIS not early enough."
the function needs to be moved before and/or just after the dialog. Currently it is after the HH_array function with will cause passwording out. On it.

[2016-06-16 13:02] IlseFerris commented on #1954
Let's close this for now. The priority just keeps getting pushed back. I will still work on it, and test it locally as time permits.

[2016-06-16 14:03] #2330 closed

[2016-06-16 14:05] theVKC commented on #2332
I concur with my fellow scriptwriters. We should make this a separate script since it's a bit outside of scope. I also think it might fit well into #2299's process.

@courtrightd, if I made a unified "Pull Data to Excel" style script, think you could add this function? If so, I might close this issue and defer into #2299.

[2016-06-16 14:08] theVKC commented on #2000
I am hoping to make it dynamic today or tomorrow, @RobertFewins-Kalb. Admittedly that doesn't give us much time though. It's dependent on some other issues with FuncLib getting fixed first.

If I get it dynamicized ASAP (this morning or early afternoon perhaps), think you can work your logic in? Otherwise we could certainly make it a utilities script for now.

[2016-06-16 14:09] theVKC commented on #2334
"not outdated" or "now outdated"? My understanding is they are "now outdated". @IlseFerris, can you confirm?

[2016-06-16 14:17] #2325 closed

[2016-06-16 14:19] CDPotter commented on #2334
My understanding is they're still usable for cases processed before 06/16 but everything forward is EPM

[2016-06-16 14:25] #2339 closed

[2016-06-16 14:25] #1954 closed

[2016-06-16 14:27] RobertFewins-Kalb commented on #2000
That doesn't give us much time, indeed. What's the deadline for my pull request -- EOD Friday?

Related: If individual workflows are saved as individual files that the script then calls up, I could get the logic put in rather quickly. I built the dashboard (see above) to call up and jump between individual workflow files. If that's the case, then I could (easily) give users the ability to jump bet

[2016-06-16 14:32] IlseFerris commented on #2334
The previous manuals ARE outdated. My bad.
Also I believe @CDPotter resolved this with #2341. Can you reassign to him?

[2016-06-16 14:32] theVKC commented on #2333
If I'm not mistaken (and it's been a bit since I built it), I intended on folks using "denied progs" for this functionality. As a worker, I usually entered a short little case note (1-2 lines) about closing for expedited, and didn't use this script (which back then was combined with denied progs into "closed/denied progs").

With our current understanding and process of "closing" vs "denial", it d

[2016-06-16 14:45] theVKC commented on #2000
EOD Friday, or alternatively we delay by another month. I'm open to that to allow more time for development and testing. I've been working on dynamicism in existing main menus and reducing non-instruction errors by locking in instructions processes with script files.

If end of day Friday is too soon, I think I'll delay it another month. No harm there, I'd rather deliver a dynamite project with lo

[2016-06-16 14:53] #2333 closed

[2016-06-16 14:54] #2334 closed

[2016-06-16 14:56] RobertFewins-Kalb commented on #2000
Sounds grrrrrrrrrrrreat.

[2016-06-16 15:15] IlseFerris opened #2342 "Call for input: Removal of the NOTES - REIN script"
I've had a request from a Hennepin County supervisor to have this script removed. Users are using this script instead of applicable renewal scripts, and important information about the case are being left out.
I know this seems like an extreme measure, but since the script does not auto-fill, or do any other action it's my vote as well. Thoughts?

[2016-06-16 15:16] RobertFewins-Kalb commented on #2000
I will also wait on UTILITIES - CUSTOM WORKFLOW BUILDER until after I see how your dynamicalizationing (C) goes down. I'm sure I will need to add a field for `help_url` at the very least.

[2016-06-16 15:17] theVKC commented on #2342
I disagree strongly. We should improve the script to be more clear. Not remove it based on confusion in a single county.

[2016-06-16 15:25] RobertFewins-Kalb commented on #2342
It gets some use in X102. My vote goes to improving it.

`err_msg` handling & more thorough data validation are needed

[2016-06-16 15:29] CDPotter commented on #2342
I'm looking at stats for it here and it has been used 16 times in last 30. Looking at the script I think we need to think about what it should do and if there's already a script for that.

To me it looks like it's designed to be run when someone submits something that makes them eligible for REIN. Since we aren't supposed to enter information in MAXIS until the program can actually be APP'd I coul

[2016-06-16 15:31] theVKC commented on #2000
You'll see it, it's pretty slick. It assumes the file name for the wiki page is identical to the script name and then dumps a URL based on that.

[2016-06-16 15:36] theVKC commented on #2342
I am going to close this issue. Removing scripts should be restricted to only the following circumstances:

1. A script is completely superseded by another, newer script.
2. A policy change has made the script completely unnecessary.

In all other instances, the work should be toward the improvement and augmentation of our scripts.

[2016-06-16 15:36] CDPotter opened #2343 "Enhancement: Burial assets, adding preview, dynamic calculator, better control"
After the last update to burial assets we got another request to make it a bit more powerful. This time we've been taking it slow and testing things to make sure this latest update is nice and thorough. Our additions this time include:

 A dynamic calculator that displays current totals for counted assets and things applied to the BFE. When the user hits a button the calculator will refresh, it wi

[2016-06-16 15:36] theVKC commented on #2342
If anyone has specific enhancements to make or suggest, please create separate issues for them.

[2016-06-16 15:37] #2342 closed

[2016-06-16 15:37] theVKC commented on #2343
Sounds great @CDPotter! I'll tag it for July.

[2016-06-16 15:40] theVKC opened #2344 "Update README.md with explanation of when to remove a script"
On it.

[2016-06-16 15:53] #2344 closed

[2016-06-16 15:54] theVKC commented on #2342
I've updated the README to codify this criteria.

https://github.com/MN-Script-Team/DHS-MAXIS-Scripts#when-to-remove-a-script-from-the-project

[2016-06-16 15:56] theVKC commented on #2299
@RobertFewins-Kalb: do you want in on this party? You did reference it in #2332 and I know Anoka's discussed this a bit. We'd love to have you.

@CDPotter and @RobertFewins-Kalb: have you been adding any updates from the existing lists (PND1/PND2/etc) to the Anoka-specific version? We've made minor changes which I don't want to lose if we borrow heavily from your work.

[2016-06-16 15:57] theVKC opened #2346 "New utilities script: "what scripts are new?""
This came from a message @C-Love sent me. I love this idea. It goes through the script_array and returns all of the new scripts in a list. On it. Unless of course @C-Love has already started it.

[2016-06-16 16:01] IlseFerris opened #2347 "DAIL - SEND NOMI policy clarification"
If a CAF was not rec'd in agency, and an appt letter was not sent, then you would not send the NOMI, otherwise the NOMI should be sent.
Since contact is made with the client via appt letter sent when using the REVS scrubber, and this DAIL scrubber only works with TIKL messages created by the REVS scrubber, additional logic and verbiage regarding weather or not a CAF rec'd in agency needs to be rem

[2016-06-16 16:04] theVKC commented on #2347
Luckily this is so tied to #710, which isn't live, that it shouldn't be affecting many agencies.

[2016-06-16 16:05] #2347 closed

[2016-06-16 16:09] theVKC commented on #2101
I've improved the scope to include updating Power Pads and redirect files. This means the script will now simply be called "UPDATE SCRIPTS". This enhanced scope is likely beyond the June release, but I will try.