[2015-12-17 20:47] RobertFewins-Kalb commented on #1561
I wonder if the problem is this seemingly sporadic issue that the BZSH has with assigning both a numeric and string characteristic to a number that it reads from Blue Zone.

The variable in question reads the number of CS cases the individual is a part of. That value (at 7, 17) is a number, but if the script thinks it's a string, the numeric comparison would not work.

[2015-12-17 21:27] theVKC commented on #1561
Sorry, I've been working on reports all day.

Could we convert the value to a numeric every time, somehow? Perhaps add some error handling around it?

@LaLarson: are you seeing this?

[2015-12-17 22:02] RobertFewins-Kalb commented on #1561
I think that's what we do. We had to do that with the footer_month issues (only in reverse). I'm not sure why, but sometimes BZSH gets wonky when we read numbers off the screen.

[2015-12-17 22:03] RobertFewins-Kalb commented on #1561
@LaLarson have talked about it, beeteedubs

[2015-12-17 23:36] theVKC commented on #1561
Good to know. Do you want it @RobertFewins-Kalb?

[2015-12-18 15:37] CDPotter opened #1562 "Critical BUG NOTES 5181 FP9 VS PF9"
Script is FP9ing if worker selects for script to update SWKR panel. Fix incoming.

[2015-12-19 15:43] IlseFerris opened #1566 "Project Boardwalk: Function is looping indefinitely"
Added exit do if the initial month is CM + 1

Pull request #1565 resolves this

[2015-12-19 15:46] IlseFerris opened #1567 "SNAP E & T letter needs inhibiting logic to stop exempt counties from using the script"
per TE02.05.69 several counties have rec'd a wavier from participation for E & T from FNS.

[2015-12-21 17:26] CDPotter opened #1569 "Enhancement BULK consolidation."
We have created 3 scripts here at Anoka that incorporate the function of 3 other scripts. Each script does a different action, TIKLs(replaces bulk TIKler), Memos, Case notes(replaces case note from excel list).

So it allows the user to select from entering case number manually, gathering case numbers from an excel list(with functionality to allow users to browse their system rather than typing a

[2015-12-21 21:48] theVKC commented on #1560
Make it so.

[2015-12-21 22:11] RobertFewins-Kalb opened #1570 "CRITICAL BUG -- POSTPONED WREG VERIF"
MEMOS, POSTPONED WREG VERIF is not dumping the benefit year in the correct spot on SELF. As a result, this is causing the script to look back to January 2015 when looking for approvals for the future month.

I have this.

[2015-12-21 22:19] RobertFewins-Kalb commented on #1570
Pulled into both master and release

[2015-12-21 22:20] #1434 closed

[2015-12-21 22:24] #1570 closed

[2015-12-21 22:25] theVKC commented on #599
@IlseFerris: can I assign this to you?

[2015-12-21 22:26] #1557 closed

[2015-12-21 22:29] theVKC commented on #1250
I'd rather automate the HH member selection if we could.

Couldn't we scan MEMB for the right HH member? If I'm not mistaken, we have some "identification" stuff in the DAIL message that could be useful (details of which I don't want to share on GitHub).

[2015-12-21 22:31] theVKC commented on #1559
*Why we don't want to always update the PIC*: not everyone is on SNAP.
*Why we don't want to always update the HC popup*: not everyone is on HC.
*Why we don't want to always case note*: the PIC updater case notes. Didn't want to force two case notes on people.

Thoughts? I'd rather leave it as is and just yell at you if you don't pick at least one option (an "are you sure? this is weird" would suf

[2015-12-21 22:33] theVKC commented on #1316
I'll leave it open for a week or so. If nobody comments on it, I'll close it. :)

[2015-12-21 22:34] RobertFewins-Kalb commented on #1559
It doesn't hurt to have the information on the PIC or the HC Inc. UNLESS we want to have the script determine if SNAP and HC are active or pending to determine which areas should be updated automatically...

[2015-12-21 22:40] theVKC commented on #1559
Actually, it can hurt. Especially in the SNAP world, we see folks not updating PICs with new information on a new application because the old info is still there. We also see oververification because the old info is there. Generally, we try to avoid unnecessarily updating it where possible.

[2015-12-21 22:42] #1562 closed

[2015-12-21 22:47] theVKC commented on #1569
I'm a bit confused by your first sentence. What three scripts of DHS' would you be consolidating, exactly? Keep in mind Anoka's not on the standard Power Pad, so your names might be different than ours.

[2015-12-22 14:37] CDPotter commented on #1569
BULK - BULK TIKLer
BULK - CASE NOTE FROM EXCEL LIST
and it looks like there isn't a BULK MEMOer stateside yet.

So 2/3 are enhancements while 1 is technically a new script.

[2015-12-22 20:42] Farleight commented on #1567
Maybe this is a dumb question, but... why are exempt counties trying to use the script?

[2015-12-23 15:45] CDPotter opened #1574 "Enhancement HRF Add GA or generic Cash checkbox."
From SIR:
"One of our singles workers asked that the HRF script also have a check box for GA cash.  (It currently lists MFIP, SNAP & HC.)  She has monthly reporters who are getting cash."

I don't see why not, I could knock it out quickly unless someone else wanted to tackle it.

[2015-12-23 15:52] CDPotter commented on #1574
Actually, the check boxes don't do anything... So we have options

1: Remove the checkboxes
2; Add GA and make the checkboxes do something.

Thoughts?

[2015-12-28 14:40] IlseFerris commented on #1567
Well they shouldn't be, so we're just going to make sure that the exempt counties cannot use it :)

[2015-12-28 15:08] IlseFerris commented on #599
Yes please do

[2015-12-30 15:47] IlseFerris commented on #599
It worked, thank you Chris!

[2015-12-30 15:52] IlseFerris commented on #1553
tested this on separate 10 key, 10 key on keyboard and on general keyboard. Could not replicate the error (glad it wasn't me...whew!)

[2015-12-30 20:10] theVKC commented on #1574
I agree. Solution 2! Do you want it?

[2015-12-30 20:12] CDPotter commented on #1574
What luck! I did exactly that already! I will submit after this drop in.

[2015-12-30 20:17] theVKC commented on #1574
#FASlife

[2015-12-30 21:49] theVKC commented on #1261
@RobertFewins-Kalb, can I get an update on this?

[2015-12-30 21:55] #1561 closed

[2015-12-30 21:58] #1250 closed

[2015-12-30 22:00] #1567 closed

[2015-12-30 22:09] theVKC commented on #1333
Remove commented out functionality in order to pull script into master, save commented out functionality for later. It's in a new branch here. @CDPotter, you can probably close your branch now (but leave the issue because I want to add it to master without the unnecessary functionality).

[2015-12-30 22:11] #1574 closed

[2015-12-30 22:13] #711 closed

[2015-12-30 22:20] theVKC commented on #342
Hi @LaLarson!

I hear you're moving to adult programs. Would you like to remove this issue from your to-do list? If nobody takes it in a week or two, I'll close it.

[2015-12-30 22:22] #1566 closed

[2015-12-30 22:36] #1316 closed

[2015-12-30 22:41] theVKC commented on #186
@IlseFerris has volunteered to take this on. Boom!

[2015-12-31 15:06] RobertFewins-Kalb commented on #1261
none progress

[2016-01-02 22:13] IlseFerris commented on #1514
I was snooping around the jobs panel today in the footer month of 02/16. I cannot detect any changes to the JOBS panel at this point.

[2016-01-03 01:56] theVKC commented on #1514
Thanks for snooping, Ilse!

[2016-01-03 01:56] #1514 closed

[2016-01-04 14:57] RobertFewins-Kalb opened #1582 "BUG (critical?) -- CSES Processing DAIL Scrubber"
Several users are reporting a problem with the CSES DAIL Scrubber. It appears to be happening around line 800 in the script... Type Mismatch Error: case_amount_check

I'm looking into it.

[2016-01-04 15:04] GayS opened #1583 "Agency Custom button"
the agency custom button isn't "finding" and auto building the agency custom scripts.

[2016-01-04 15:20] IlseFerris commented on #1514
My pleasure!

[2016-01-04 15:20] RobertFewins-Kalb commented on #1582
Direct quote from a member of staff: "It appears to be running correctly when there is CMS/CMI in Prism, but giving me the error when there is not. I’m manually checking all those that I get the error on, and I have not had any with the medical support."

[2016-01-04 20:26] RobertFewins-Kalb opened #1584 "Critical Bug? -- NOTES LTC COLA SUMMARY 2016 not available"
If this script is supposed to be available then we need to update the date check...
![image](https://cloud.githubusercontent.com/assets/7842016/12099608/247cb84a-b2ef-11e5-8a38-9d531784f6a5.png)

...currently, users are getting this error...
![image](https://cloud.githubusercontent.com/assets/7842016/12099596/1be4583c-b2ef-11e5-8756-5d0976e611bc.png)

[2016-01-04 20:29] RobertFewins-Kalb commented on #1584
Also, how are we not getting a type mismatch error?

[2016-01-05 15:43] courtrightd opened #1587 "Boardwalk - needs to enter proration dates in FIAT"
I will take this - but beware if anyone is using this thing that it currently does not prorate!!!!

[2016-01-05 17:44] RobertFewins-Kalb opened #1589 "NOTES - MOF- Comment out the diagnosis field"
The case note script for a medical opinion form received includes a field for "Diagnosis." While we aren't requiring that it is completed and workers are completely free to omit that field, I am concerned that workers may feel prompted to provide information related to a client's medical history into case notes since the dialog includes a field for that information.

My thought is we remove that e

[2016-01-05 21:16] Farleight commented on #1589
Completely agree. I like HIPAA Violations as much as the next guy, but let's at least try to be subtle about it.

[2016-01-05 21:39] theVKC commented on #1589
I agree in theory. I feel like we addressed this once before and it was considered OK. But, if folks agree it should be removed as a CYA thing, I support it.

[2016-01-05 21:46] lpshanley commented on #1589
The only people that could look at those notes legally are people that are bound by HIPAA. Including somewhere to enter the information is in no way shape or form a violation. We could place “optional” or “If provided” near the field so the worker knows that It can be omitted however this wouldn’t a violation if its left alone. Legally, while I’m not a lawyer, I see no issues. I agree with Veronic

[2016-01-05 21:53] Farleight commented on #1589
The client can request them at any point, and they are not bound by HIPAA. Granted, it seems ridiculous to say that the client wouldn't be allowed to view their own paperwork, but in the case of multiple person HHs, or next of kin sorts of things, it's actually a legitimate argument. HIPAA wasn't designed for logical thought. The prime directive of the whole thing is "If you don't need to, don't."

[2016-01-05 22:00] RobertFewins-Kalb commented on #1589
My concern is also about whether or not we have a legitimate business reason for case noting that information. We are really only concerned about the "how long will the client be unable to work" bit on the MOF. Methinks we should remove the field.

[2016-01-06 15:01] #1559 closed

[2016-01-06 15:47] courtrightd commented on #657
Before you ask @theVKC , I have been working on this, and will get it wrapped up once boardwalk is finished.

[2016-01-06 15:47] #1587 closed

[2016-01-06 15:48] #1560 closed

[2016-01-06 16:51] theVKC opened #1590 "MA-EPD EI FIAT: needs new FuncLib block"
Ooops.

[2016-01-06 16:57] RobertFewins-Kalb opened #1593 "Critical Bug -- NOTES - Approved Progs DWP/MFIP transition"
I feel like we've talked about this (maybe it was for Krabappel), but today, a worker reported that Approved Progs was not working on his DWP/MFIP transition case.

When the script goes to ELIG/SUMM, it finds a version of both DWP and MFIP and goes off to check both programs for that month. When the script tries to get into ELIG/DWP, MAXIS pops up a warning message "This version of DWP was auto-cl

[2016-01-06 16:58] CDPotter opened #1595 "BUG dail cit/id datepart hates 1 digit numbers"
emwritescreen datepart of date is writing 1 instead of 01. Will fix shortly.

[2016-01-06 20:15] IlseFerris opened #1601 "Merge BULK scripts MISC NON MAGI and PDED list together"
much of the 2 scripts are duplicated. They should be merged to create a SUPER BULK list (one bulk script to rule them all).

[2016-01-06 21:38] MelissaFox-Stearns opened #1602 "Significant Change script should be moved to NOTES"
Significant Change script is currently under the MEMOS type of script. I believe this script would be better under the NOTES script because the Spec/Memo is only sent when Sig Change is being denied but it case notes in every instance.

[2016-01-06 21:43] IlseFerris opened #1603 "Merge phone number look up and REPT SEARCH scripts together"
Make them one script to rule them all :)

[2016-01-06 22:14] RobertFewins-Kalb commented on #1207
I'm going to submit a pull request for this to close the issue (the script is finished) and wait to see what, if any, interest there is from the GRH peeps.

[2016-01-06 22:25] C-Love opened #1604 "Error checking for old CAF dates on Interview Completed"
Add an error check to not accept CAF dates if they are too old (over 60 days). This currently is autofilling and workers are not checking it. We need to make sure case notes do not carry in old data.

[2016-01-07 10:59] IlseFerris opened #1606 "tab order in county burial application is out of order"
users cannot navigate sequentially.

[2016-01-07 15:03] IlseFerris opened #1609 "Merge the gas cards and mileage reimbursement scripts into "NOTES - CLIENT TRANSPORTATION COSTS.vbs""
Do it!

[2016-01-07 15:54] #1584 closed

[2016-01-07 15:58] theVKC commented on #1593
Duplicate of #1262

[2016-01-07 15:58] #1593 closed

[2016-01-07 16:02] #1595 closed

[2016-01-07 16:04] #1590 closed

[2016-01-07 16:07] #1606 closed

[2016-01-07 16:12] theVKC commented on #1582
Folks here at hackathon aren't seeing this. Why am I thinking either you or @CDPotter just pulled something in that addresses it? Maybe?

[2016-01-07 16:16] RobertFewins-Kalb commented on #1582
We were finding the problem on case 287247 (I doubt the DAILs are still there). I haven't pulled something because it seemed like an isolated incident. I did add some code to a version I haven't pulled.

After turning Excel visible, I could see where the problem was coming from. When the script would go back through and check the SSNs in PRISM, it would get to a point where the SSN field in Excel

[2016-01-07 16:17] RobertFewins-Kalb commented on #1582
Whoops. I can submit a pull request after I get rid of the MsgBox

[2016-01-07 16:34] theVKC commented on #1583
Can you give me a bit more detail as to why? Perhaps we can work on that Monday if we don't have time today.

[2016-01-07 16:35] theVKC commented on #1582
Why am I thinking @CDPotter just did something about this, though?

"CSES Processing - Script was incorrectly writing SSN by 1 digit. This has been resolved. Built by Charles Potter (Anoka County)."

[2016-01-07 16:42] RobertFewins-Kalb commented on #1582
That was just about the coordinates of where the SSN was being written.

[2016-01-07 16:42] RobertFewins-Kalb commented on #1582
No. That changed the EMSendKey to an EMWriteScreen to make it go faster.

[2016-01-07 17:32] theVKC commented on #391
The statistics database needs to be updated for this. Reopening issue, will pull and close soon.

[2016-01-07 18:58] theVKC opened #1612 "ACTIONS - UPDATE WORKER SIGNATURE should be a "UTILITIES" script"
Because, if you think about it, it's really more of a utility than an action.

@RobertFewins-Kalb: since this was primarily your baby, are you interested in taking it? That way it saves you as the author (for history purposes).

[2016-01-07 19:25] theVKC opened #1615 "Needs STATS_enhanced_db variable in global variables"
It should be set to `false` if you're not running the new database, and `true` if you are. Folks running stats for their caseloads will want to take note.

* @RobertFewins-Kalb or @CDPotter - Anoka
* @IlseFerris - Hennepin
* @GayS - Stearns
* @courtrightd - St. Louis

Anyone else?

[2016-01-07 21:03] courtrightd opened #1617 "Boardwalk dialog issue - need help."
For some reason, when the dialog comes up with the budget information, any edits made do not stick with the variables.  It doesn't matter what you enter in the dialog, the original variable value is entered in the budget.  Additionally, if you click one of the navigation buttons, all the values in the dialog become 100.  Any insight would be helpful.

[2016-01-07 21:15] theVKC opened #1618 "May be a bug: appointment letter"
Just letting folks know, a possible bug on the appointment letter has been found related to an array issue. @IlseFerris is looking into it.

[2016-01-07 21:27] #391 closed

[2016-01-07 21:27] #1615 closed

[2016-01-07 22:08] #1618 closed

[2016-01-07 22:30] theVKC commented on #1341
@MelissaFox-Stearns, @C-Love , @IlseFerris, and @StormageddonDLOA just updated each script, and I updated FuncLib. @GayS is monitoring the results in Stearns and will let me know when things look stable, in the next few days.

[2016-01-08 14:26] courtrightd opened #1623 "ACTIONS - CHECK EDRS critical bug on master"
Invalid character error from yesterday's pull, I have the fix, pull coming.

[2016-01-08 15:21] CDPotter commented on #1615
So we should add STATS_enhanced_db = True to globvar locally?

[2016-01-08 15:46] theVKC commented on #1615
Only after modifying your scripts database to match the enhanced database (the new usage statistics file I pulled in yesterday). Formal instructions are pending, but I just want folks to be aware that it's coming.

[2016-01-08 15:47] #1623 closed

[2016-01-08 17:11] RobertFewins-Kalb commented on #1612
I can get it done

[2016-01-08 18:24] theVKC commented on #1617
Could this be where it's dimming? Would some strategically placed dims prior to the dialog itself help?

[2016-01-08 21:16] courtrightd commented on #1617
After messing with dims and anything else I could think of, it seems that dialogs and classes in an array is not a workable combination under BZSH.  I made it work by using the standard variables from the panels in the dialog, then assigning to the class properties after the dialog is run.  I'll be cleaning this solution up on Monday.

[2016-01-11 15:03] theVKC commented on #1589
We just talked about this at hackathon. We made the following decision:

* We'll comment out the diagnosis field and replace it with a text field that says "The diagnosis field has been removed from this script pending review"
* Stearns County will send a PQ requesting additional clarification.

Thinking that should address the issue. :)

[2016-01-11 15:06] theVKC commented on #1589
@MelissaFox-Stearns has agreed to take this on, so yay!

[2016-01-11 15:16] theVKC commented on #1142
Marking this as help wanted for a week, as @C-Love does not presently have time.

[2016-01-11 15:18] theVKC commented on #1115
Marking as help wanted, will remove if not completed by next week.

[2016-01-11 15:18] theVKC commented on #707
Marking as help wanted, will remove if not completed by next week.

[2016-01-11 15:21] theVKC commented on #1036
Closing as this has become a separate project/milestone.

[2016-01-11 15:21] #1036 closed

[2016-01-11 15:33] theVKC opened #1625 "Build formally supported scenarios for Krabappel"
2-3 from each major county involved ought to cover it. I believe Anoka is good, so that would leave:

* St. Louis (@courtrightd)
* Hennepin (@IlseFerris)
* Ramsey (@C-Love @Y-Lor-Y)
* Stearns (@GayS @MelissaFox-Stearns @StormageddonDLOA)

Can we get some fake documents from each agency?

[2016-01-11 15:35] theVKC opened #1626 "Update Krabappel for time savings"
Need per-item savings based on time it takes to update a panel. Average it out to 40 sec per panel.

[2016-01-11 15:36] RobertFewins-Kalb commented on #1625
Anoka Program Coordinators build 16. Pro Tip: If you're going to build a scenario with a CARS panel, it MUST have HC Benefit Y/N even if the case is not a health care case.

[2016-01-11 15:40] theVKC commented on #1399
@StormageddonDLOA has volunteered for this one. Thank you!

[2016-01-11 15:43] theVKC commented on #1527
Assigning this as a sleeper issue, will close it and it can be reconsidered at any time.

[2016-01-11 15:43] #1527 closed

[2016-01-11 15:57] theVKC commented on #1603
What type of script should this be? What should it be named?

[2016-01-11 15:59] theVKC commented on #1609
@IlseFerris:  what would you propose we call the new script?

[2016-01-11 16:00] #1589 closed

[2016-01-11 16:08] RobertFewins-Kalb commented on #1603
What if we took a page from the Child Support peeps and expanded REPT Search to include phone number and client address?

[2016-01-11 16:15] IlseFerris commented on #1609
NOTES - client transportation costs?

[2016-01-11 16:24] GayS commented on #1583
I am closing this issue.  Agency Custom scripts need to be in the DHS-MAXIS_Scripts\Script Files\AGENCY CUSTOMIZED folder for the button to work properly (ours were located in a different folder).

[2016-01-11 16:24] #1583 closed

[2016-01-11 16:31] RobertFewins-Kalb opened #1629 "CRITICAL BUG -- Invalid Character in BILS Updater"
Looks like there are a bunch of these guys: ` where there should be these guys '

We have users reporting the problem. Going to submit a fix to both MASTER and RELEASE.

[2016-01-11 17:10] theVKC commented on #1629
Can you close and pull these again? Just finished the script release.

[2016-01-11 17:12] theVKC commented on #1629
See #1623

[2016-01-11 17:14] #1629 closed

[2016-01-11 18:49] Y-Lor-Y commented on #1602
agree.

[2016-01-11 19:18] theVKC commented on #1261
@MelissaFox-Stearns wants it!

[2016-01-11 19:23] RobertFewins-Kalb commented on #1261
do it to it

[2016-01-11 19:43] MelissaFox-Stearns commented on #1261
So...I'm not even able to put in a Wreg panel for a minor child without also putting in an ABAWD status. Has anyone had success faking this? Or does anyone have a real case I can reference?

[2016-01-11 19:47] RobertFewins-Kalb commented on #1261
Sorry. Finding one has been a total crap shoot. You'll have to find one in Production or Inquiry because WREG has been updated since 2013 to create an inhibiting edit wherein you cannot create or edit a WREG panel with FS = "Y" and ABAWD Status = "__".

[2016-01-11 19:54] RobertFewins-Kalb commented on #1261
I might have a way of getting one for you. Standby...

[2016-01-11 20:04] MelissaFox-Stearns commented on #1261
Sounds good Robert. I'm confused how the script can even break because the function "call autofill_editbox_from_MAXIS" has this:
If read_abawd_status = "__" THEN  abawd_status = "ABAWD = blank"

So it looks like it's already looking for a blank ABAWD. I mean I suppose the worker should still be notified that it needs updating but are we sure this is still causing problems?

[2016-01-11 20:11] theVKC commented on #657
Thank you!

[2016-01-11 20:34] theVKC commented on #1609
Mel has volunteered to take this on. Thank you!

[2016-01-11 20:34] theVKC commented on #1609
Also, not really Bowie as it has nothing to do with changes.

[2016-01-11 20:35] theVKC commented on #1617
This seems weird to me, since I'd done it the other way. But I'm interested in your workable solution.

[2016-01-11 20:36] theVKC commented on #1625
I think your 16 means Anoka's earned a pass on contributing to this. :)

[2016-01-11 20:37] theVKC commented on #1603
That was kind of what I was thinking.

Also, as this doesn't have to do with changes, it isn't a Bowie script. Anyone want it?

[2016-01-11 20:38] theVKC commented on #1261
I'm not convinced this is worth working on. @RobertFewins-Kalb: last dibs on doing it (otherwise I'm planning on closing the issue).

[2016-01-11 20:39] CDPotter commented on #1261
Robert and I are (just checked with him) fine with leaving it the way it is. The script error will bring attention to it.

[2016-01-11 20:42] theVKC commented on #1261
Agreed. Thanks all!

[2016-01-11 20:42] #1261 closed

[2016-01-11 20:44] theVKC commented on #294
@RobertFewins-Kalb: any ETA on when you could get time to work on this? If not, I might ask for you to pull request your work into a side-branch and I might take it over (in the interest of issue reduction). This month is a better month to do it for me than December or February.

[2016-01-11 20:45] theVKC commented on #1601
Not Bowie, since this isn't a change reported script.

[2016-01-11 20:52] RobertFewins-Kalb commented on #1261
Update: I finally found a case, single adult, FS only, FSET Status = 16 (age 50-59), ABAWD Status = __. Panel update date = 03/26/2014. No error... Glad this is closed because I am more confused.

[2016-01-11 22:06] #1399 closed

[2016-01-11 22:09] RobertFewins-Kalb commented on #294
I won't be able to dedicate time to this any time soon. I was hoping to knock it out before the end of the previous calendar year but it did not happen. I can submit a pull request with what I have -- although it's still a bit of a discordant mess -- and let you run with it from there.

[2016-01-11 22:09] theVKC commented on #1603
@StormageddonDLOA has this!

[2016-01-11 22:14] #1365 closed

[2016-01-11 22:23] #1260 closed

[2016-01-11 22:24] theVKC commented on #294
I'd appreciate that. I'll create a DAIL-CSES-WORK branch and I'll ask you to pull it there, and not master.

[2016-01-11 22:26] theVKC commented on #294
If you can pull it here, I'd be thankful. https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/tree/CSES-WORK

[2016-01-11 22:28] MelissaFox-Stearns opened #1643 "MOF Received notes script needs to Msgbox err_msg"
It appears Notes- Medical Opinion Form received doesn't have the msgbox to notify the worker of the err_msg. Needs to be put into the loop.

It can be assigned to me for a quick fix.

[2016-01-11 22:29] theVKC opened #1644 "Add UTILITIES main menu (script, redirect, Power Pad)"
Right now, all I can think of is ACTIONS - UPDATE WORKER SIGNATURE. But, others could go here too.

[2016-01-11 22:42] RobertFewins-Kalb commented on #1207
Going to create a new pull request with ACTIONS - SHELTER EXPENSE VERIF RECEIVED, and an update to the ACTIONS main menu. Manual processing time has been included.

[2016-01-12 18:24] theVKC commented on #364
Reopening issue. In an effort to bring this to more counties (and reduce "non-supported" script use in counties), I think we should build this in.

* A new global variable for MAGI_cases_closed_four_month_TIKL_no_XFER, which is set to false (I'm open to other names)
* INAC scrubber gets the new logic on a "IF variable = "" or variable = false than...else..." concept (that way it defaults to the ol

[2016-01-12 18:24] theVKC commented on #364
(I'll do the installer updates after this is finished)

[2016-01-12 22:26] GayS commented on #1341
Stat collection continues to look like they are working properly.  However, we have only used two BULK scripts and a few MEMOS.

[2016-01-12 23:44] theVKC commented on #1341
I'm going to close this issue, and we can just create new individual issues if any trouble should occur. Thanks for monitoring it, @GayS!

[2016-01-12 23:44] #1341 closed

[2016-01-13 20:21] RobertFewins-Kalb opened #1651 "CRITICAL BUG -- invalid character on ACTIONS >> ABAWD FSET EXEMPTION CHECK"
![image](https://cloud.githubusercontent.com/assets/7842016/12306739/f6dc3d48-ba00-11e5-8ee2-68c32d8b8976.png)

I'm on it

[2016-01-13 20:37] RobertFewins-Kalb opened #1653 "CRITICAL BUG -- invalid character in COPY PANELS TO WORD"
![image](https://cloud.githubusercontent.com/assets/7842016/12307144/1a07a3e6-ba03-11e5-8e8e-2eab007c5114.png)

On it

[2016-01-13 20:49] #1651 closed

[2016-01-13 20:50] #1653 closed

[2016-01-14 15:10] #1643 closed

[2016-01-14 15:33] CDPotter opened #1655 "Critial bug MEMO GRH OP"
Script is hard coded to select OTHER on memo screen however OTHER Isn't always at 6 10. Writing do loop to find OTHER.

Script will currently put a X over a AREP, SWKR, VENDOR, and then write the FACI address into the memo then to have the memo written over it making for a odd MEMO to read.

[2016-01-14 17:43] #1655 closed

[2016-01-14 20:49] khiestand opened #1661 "D-F Notes Button Out of Range"
Everyone in Wright County is getting a "Dialog ID 252 is Out Of Range" error message and a "Dialog ID 44 is Out of Range" message when trying to click on the Notes D-F button.  Pressing the stop script button is the only want to cancel out of it.  Help please.

[2016-01-14 20:51] CDPotter commented on #1661
It was an error from a merge earlier today. I emailed @theVKC but haven't heard back yet.

[2016-01-14 20:54] theVKC commented on #1661
I'm off site away from my machine. @IlseFerris just pulled something a bit ago.

[2016-01-14 20:56] MelissaFox-Stearns commented on #1661
We are getting the same message here at Stearns except Stopscript doesn't work. We need to restart our computers to get the error message to go away.

[2016-01-14 20:57] asunderman commented on #1661
It seems to be working as it should here in Le Sueur County.

From: Mel Fox [mailto:notifications@github.com]
Sent: Thursday, January 14, 2016 2:57 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] D-F Notes Button Out of Range (#1661)

We are getting the same message here at Stearns except Stopscript doesn't work. We need to restart our computers to get the error message to

[2016-01-14 21:02] CDPotter commented on #1661
The stop script button may not work but you can try this for the time being

![stop script](https://cloud.githubusercontent.com/assets/7841989/12337459/dd30c560-bacf-11e5-83ca-9579bef40dbb.png)

[2016-01-14 21:04] MelissaFox-Stearns commented on #1661
Silly me. I assumed Stopscript would close the error by itself. It looks like we can close with stopscript just have to hit the button then go to the dialog and press OK.  Sorry for the derp. ;)

[2016-01-14 21:24] #1661 closed

[2016-01-14 21:28] CDPotter commented on #1661
Can people take a look and see if that worked on their end? Looks like it's good for me.

[2016-01-14 21:29] MelissaFox-Stearns commented on #1661
All clear on my end! :)

[2016-01-14 21:31] khiestand commented on #1661
Good to go in Wright Co!

[2016-01-14 22:16] C-Love opened #1663 "Adding Banked Month Data to NOTES - APPROVED PROGRAMS"
Adding a separate dialog, case note, tikl to Approved Programs.
Allows to be expanded to tracking.

[2016-01-14 22:19] C-Love commented on #1262
@theVKC  Can we reopen this? The fix doesn't seem to address situations other than DWP/MFIP transition.

[2016-01-15 03:30] #1602 closed

[2016-01-15 14:46] theVKC opened #1667 "Remove commented out "diagnosis" code from MOF, and adjust size of dialog"
Easy win. See PQ #16506. Any takers?

[2016-01-15 14:47] theVKC commented on #1667
(Also, I think we should maybe amend the dialog to reflect: "do not case note the diagnosis per PQ #16506)

[2016-01-15 15:51] CDPotter commented on #364
On it, been testing this morning!

[2016-01-15 16:10] Farleight commented on #1667
I have time for an easy one today. You're thinking just a general text box on the dialogue itself that says something like, "Don't violate HIPAA, you heathen!"? Or some other such verbiage that is less confrontational...

[2016-01-15 16:23] theVKC commented on #1661
@asunderman: this should only be affecting the master branch (scriptwriter branch). Just making sure here: did you experience the issue as described in @CDPotter's original post? That would imply we have a crossed wire somewhere.

[2016-01-15 16:36] Farleight commented on #1667
I haven't done enough of these to know for sure if I can pull prior to being assigned, but I tried and the Propose File Change thing isn't popping up. It just says "waiting for fork." I can relate. I've gone to restaurants with inaccesible silverware before.

[2016-01-15 16:40] CDPotter commented on #1667
You should be able to. I just go to the MASTER and RELEASE branches and find the file directly and click edit then after deleting the old file and replaces it with the revised one I commit then pull.

![edit file](https://cloud.githubusercontent.com/assets/7841989/12358748/695066d2-bb74-11e5-88ed-4c97eab2c4a5.png)

[2016-01-15 17:21] Farleight commented on #1667
Chrome worked. Took a stab at the wording. If you had something else in mind, let me know. Gratzi for the tech assistance CDP.

[2016-01-15 17:22] CDPotter commented on #1667
No problem, glad we got it working!

[2016-01-15 17:38] theVKC commented on #1667
Only need it in master, we disabled the function in release manually on Monday.

[2016-01-15 17:38] theVKC commented on #1667
And thanks @Farleight!

[2016-01-15 19:01] theVKC commented on #1262
Does your new script fix this, @C-Love?

[2016-01-15 19:04] #956 closed

[2016-01-15 19:10] #1667 closed

[2016-01-15 19:14] CDPotter commented on #1582
Update: two reports of this on SIR.

[2016-01-15 19:19] theVKC commented on #1663
Is this resolved by your pull request #1664, @C-Love?

[2016-01-15 19:21] theVKC commented on #1582
Hmmm. @RobertFewins-Kalb, did you ever submit a pull request on this (your comment 8 days ago makes me think you worked on it).

[2016-01-15 19:23] #1207 closed

[2016-01-15 19:29] RobertFewins-Kalb commented on #1582
I did not pull anything. I built something but it did not seem like that common a problem until we just now did some SIR sleuthing. Working on a pull request right now

[2016-01-15 19:30] #1582 closed

[2016-01-15 19:38] theVKC commented on #1110
Can I assume this has been tested and we believe it's working sufficiently for wide release?

* @C-Love
* @RobertFewins-Kalb
* @CDPotter
* @courtrightd

Assuming it's working, we really just need instructions (on SIR), scenarios (#1625) and time savings (#1626). If you-all believe it's been well tested for our purposes, I'm ready to close this issue.

[2016-01-15 19:40] theVKC commented on #1142
Assuming nobody wants this, I'm closing it Monday.

[2016-01-15 19:40] theVKC commented on #1115
Assuming nobody wants this, I'm closing it Monday.

[2016-01-15 19:40] theVKC commented on #707
Assuming nobody wants this, I'm closing it Monday.

[2016-01-15 19:41] theVKC commented on #186
Resolved by #1656. Boom! Thanks @IlseFerris and @LaLarson!

[2016-01-15 19:41] #186 closed

[2016-01-15 19:41] theVKC commented on #1084
I'm taking this one back, @IlseFerris. :)

[2016-01-15 19:42] CDPotter commented on #1110
It's been in use for 3+ training groups in our agency over the past half year.

[2016-01-15 19:42] theVKC commented on #1116
@IlseFerris: I'm taking this one unless you've gotten work done on it.

[2016-01-15 19:43] theVKC commented on #1277
Can I get a status update @RobertFewins-Kalb? If no progress has been made I'll close the issue.

[2016-01-15 19:44] RobertFewins-Kalb commented on #1277
I'll add it

[2016-01-15 19:46] theVKC commented on #632
This is not a script. It's documentation. I wrote it down on my to-do list, so I'm closing it here.

[2016-01-15 19:46] #632 closed

[2016-01-15 19:47] theVKC commented on #1333
Closing for now, will re-evaluate later.

[2016-01-15 19:47] #1333 closed

[2016-01-15 19:49] theVKC commented on #1110
And (just to be clear for everyone): "in use" does mean "non scriptwriters could run it and it worked"?

[2016-01-15 19:51] theVKC commented on #1238
Any update on this, @devonne01? If you haven't had time to do it, I might open it up to other scriptwriters. Trying to take down the issue list today.

[2016-01-15 19:52] theVKC commented on #1148
Any update on this, @khiestand? Just looking to clean up the issue list. If you haven't had much time to work on it, I might open it up to others.

[2016-01-15 19:53] theVKC commented on #1150
Resolved by @courtrightd via side-pull. Thank you!

[2016-01-15 19:53] #1150 closed

[2016-01-15 19:54] khiestand commented on #1148
Yes, please open it up to others!  I have had no time, so would love it others wanted to jump on it.

[2016-01-15 19:54] theVKC commented on #1381
Closing this. I'm thinking it's a duplicate of #1262 which is assigned to @C-Love for a fix.

[2016-01-15 19:54] #1381 closed

[2016-01-15 19:54] CDPotter commented on #1110
Correct we provided our program coordinators with documentation a blank template and they have created and implemented their own training scenarios. Any issues were usually down to coding excel wrong. Any programming issues were worked out and submitted months ago. Correct @RobertFewins-Kalb?

[2016-01-15 19:55] theVKC commented on #1381
Maybe it's a duplicate? I don't know. Thinking @Y-Lor-Y or @C-Love should enlighten me. :)

[2016-01-15 19:56] devonne01 commented on #1238
No, unfortunately I haven't had time. I was hoping to work on it at a hackathon but haven't been to one. I will be at the one in Stearns County in February but if you want to have someone else work on it; go ahead. I understand I'm sorry.

[2016-01-15 19:58] #1277 closed

[2016-01-15 19:59] theVKC commented on #1612
Any update on this one? I feel like we talked about adding it to the script info button. Not sure where we landed.

[2016-01-15 20:00] theVKC commented on #1238
If you're coming to the hackathon to work on it, I'll hold it for now. It's your only outstanding script issue, so no worries.

[2016-01-15 20:03] devonne01 commented on #1238
Awesome.. Thank you. Yes Kelly and I are planning on attending on 02/08/2016!! I'll let you know if that changes..

[2016-01-15 20:06] #364 closed

[2016-01-15 20:07] RobertFewins-Kalb commented on #1612
I can update that script if'n that's the decision.

[2016-01-15 20:33] theVKC commented on #1612
I think it should be both. Link to it from the info button, and a separate UTILITIES button (which we can expand in the future to include other utilities scripts, such as a script reset link like a zmd reset...)

[2016-01-15 20:34] theVKC commented on #1148
Will do! I'll leave it open until next hackathon at DHS. If nobody wants it, I'll close it then (and you can feel free to take it on at any time, and we can just reopen the issue).

[2016-01-15 20:35] theVKC commented on #1238
Great! Can you send an email with that, too? All this gets tracked with a calendar that's tied to my Outlook.

[2016-01-15 21:16] theVKC commented on #1528
Resolved by #1573.

[2016-01-15 21:16] #1528 closed

[2016-01-15 21:18] theVKC commented on #1617
@courtrightd: I assume your pull request #1573 resolved this, and I'm closing the issue.

[2016-01-16 06:05] Y-Lor-Y commented on #1381
What was assigned to Casey was to fix the Approved program.

Issue on #1381 is for current situation when a worker have to run both
scripts - the approved program with the spec/memo of the CS disregard note &
to run the sanction script - to impose sanction, but also want/need to note the wcom
informing client of the sanction.

So, if what was assigned to Casey will fix the spec/wcom notation then

[2016-01-19 11:36] IlseFerris opened #1674 "Boardwalk error handling for RBIC, gross income & exempt counties"
error handling needed for cases that:
* Have RBIC income
* Are over the gross income limits for the program
* Users are from exempt counites

[2016-01-19 13:02] IlseFerris opened #1676 "SNAP E & T letter needs HH member error handling"
If HH member is not valid, needs to stop script.
Also needs to update WREG for HH member selected.

[2016-01-19 14:01] IlseFerris opened #1678 "Boardwalk: array not is doubling income, not reading multiple job panels"
SNAP PIC is left open, so it's reading it twice

[2016-01-19 14:03] IlseFerris opened #1679 "Boardwalk: SHEL panel costs error"
All SHEL panel deductions are not pulling into the dialog, and the OTHER shelter costs are not being written into the SNAP budget.

[2016-01-19 14:58] theVKC commented on #1676
Want it?

[2016-01-19 15:11] IlseFerris commented on #1676
Yep, already have a pull request for it

[2016-01-19 15:31] courtrightd commented on #1679
THIS IS MY FAULT.  Sorry, I was really sloppy last week.  I will pull the fix in a moment.

[2016-01-19 15:43] courtrightd commented on #1678
Looks like a quick PF3 fixes this, I can pull it in with the SHEL fix if you haven't already done it.

[2016-01-19 16:03] CDPotter opened #1680 "Bug Shelter expense rec'd subsidy transition"
Script will error out if someone has subsidy in their retro but not pro because it writes an N for subsidy based on what's in PRO.

Fix incoming.

[2016-01-19 16:25] theVKC commented on #1674
@IlseFerris, your email on the subject confused me. I'll wait on pulling your work in until you're back and can discuss. :)

[2016-01-19 16:26] theVKC commented on #1679
@courtrightd: Ilse's out for the moment. Any chance you can fill me in on what's going on?

[2016-01-19 16:30] #1680 closed

[2016-01-19 17:35] #1674 closed

[2016-01-19 18:08] IlseFerris commented on #1679
I just submitted the fix. I was just waiting for my pull request from earlier to get accepted. No worries @courtrightd I had a rough week last week myself :)

[2016-01-19 18:28] theVKC commented on #1678
Resolved by #1683.

[2016-01-19 18:28] #1678 closed

[2016-01-19 18:28] theVKC commented on #1679
Resolved by #1683.

[2016-01-19 18:28] #1679 closed

[2016-01-19 18:30] theVKC commented on #1513
What do we think, folks! Based on all of the work we've done, do we think it's ready to pull in to master?

@IlseFerris @courtrightd @C-Love: if it's good, someone also needs to update the main menu script... I'd do it but I'm working on a report.

[2016-01-19 18:32] IlseFerris commented on #1513
I think it's good to go. I have instructions on the ready as well. I will update the main menu button as well.

[2016-01-19 18:37] #1676 closed

[2016-01-19 18:38] theVKC opened #1684 "Create utilities script for creating fake CS messages"
Because testing is hard. On it.

[2016-01-19 18:41] theVKC opened #1685 "Update main menu script for Boardwalk"
@IlseFerris volunteered.

[2016-01-19 18:41] theVKC commented on #1663
Technically... this isn't part of Boardwalk. It's related, but not really dependent on the new script. Removing milestone indicator.

[2016-01-19 19:03] #1433 closed

[2016-01-19 19:06] #707 closed

[2016-01-19 19:06] #1115 closed

[2016-01-19 19:09] theVKC opened #1687 "usage statistics.accdb: it needs a front-end"
I'm taking it. Someday this will be done. Someday soon, I hope.

[2016-01-19 19:15] theVKC commented on #1644
Also needs a redirect script. I'm updating the title now.

[2016-01-19 19:19] theVKC opened #1688 "Resolved: that Krabappel should be a UTILITIES script"
Anyone want to debate this? :) (No, I wasn't just listening to NPR, why do you ask?)

I think it belongs as a utility script owing to its nature as a training case builder. It doesn't work with real-world data at all. So, let's hide it.

Thoughts?

@CDPotter
@RobertFewins-Kalb
@courtrightd
@lpshanley
@IlseFerris
@C-Love
@GayS
@StormageddonDLOA
@MelissaFox-Stearns

[2016-01-19 19:22] IlseFerris commented on #1688
Works for me

[2016-01-19 19:24] courtrightd commented on #1688
Did we all log our responses before the debate starts, and the winner will be the team that changes the most opinions?
That being said, my response is yes, before and after the debate.

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Tuesday, January 19, 2016 1:23 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Resolved: that Krabappel should

[2016-01-19 19:30] RobertFewins-Kalb commented on #1688
It doesn't really work with the current actions-bulk-notes split.

[2016-01-19 19:33] theVKC commented on #1688
^^^Exactly. It isn't bulk because it's only doing one case (although across multiple case numbers). It isn't actions because it isn't doing an action on an existing case, really, and it doesn't really note anything.

[2016-01-19 19:47] courtrightd commented on #1513
So I was testing the version that just got pulled in, and realized there are some issues that I fixed last week that I never got pulled in, so I’ve been discussing this based on the version we’re running locally not the version everyone else has. Namely, the dialog info doesn’t carry into the budget when it is changed.  Additionally, some issues with multiple jobs panels on multiple members not be

[2016-01-19 19:51] theVKC commented on #1513
Good catch, @courtrightd. If you can create new issues as you pull them in, that'd be wonderful.

[2016-01-19 19:57] GayS commented on #1688
makes sense to me - helps keep power pad organized and clutter free

[2016-01-19 20:07] #1617 closed

[2016-01-19 20:17] IlseFerris commented on #1513
Good deal, thanks @courtrightd

[2016-01-19 20:22] theVKC commented on #1513
Did #1690 fix it, @courtrightd?

[2016-01-19 20:38] courtrightd commented on #1513
I think it is ready to pull into master at this point.  I'm tracking down an unconfirmed issue with BUSI, but I will make a new issue for that if I confirm it.

[2016-01-19 20:43] theVKC commented on #1513
Good deal.

[2016-01-19 20:49] IlseFerris commented on #1513
YAY! Go team go!

[2016-01-19 20:54] #1513 closed

[2016-01-19 20:55] #1685 closed

[2016-01-19 21:02] theVKC commented on #1688
Anyone want to be responsible for moving it? Perhaps we should each take turns to reflect our contributions? :P

[2016-01-19 21:06] theVKC commented on #1513
Yup. This wraps for Boardwalk (although I'll leave the milestone up until it goes live in case of bugs). Seriously, you all are amazing @IlseFerris, @courtrightd, @C-Love.

[2016-01-19 21:07] theVKC commented on #1569
@CDPotter: did you work on this?

[2016-01-19 21:08] courtrightd opened #1692 "Boardwalk - errors with BUSI income"
A missing transmit / bad variable name at one point.  Pull coming.

[2016-01-19 21:10] #1692 closed

[2016-01-19 21:32] theVKC opened #1694 "agency_code_from_installer should default to "SCRIPTWRITER""
...because the script installer sets it. On it.

[2016-01-19 21:34] theVKC opened #1695 "CLS_x1_number should default to """
On it.

[2016-01-19 21:50] #1382 closed

[2016-01-19 21:50] #1405 closed

[2016-01-19 21:50] #1472 closed

[2016-01-19 21:50] #1473 closed

[2016-01-19 21:50] #1644 closed

[2016-01-19 21:50] #1694 closed

[2016-01-19 21:50] #1695 closed

[2016-01-19 21:56] CDPotter commented on #1569
I do have these ready.

[2016-01-19 22:24] StormageddonDLOA commented on #1688
Works for me!

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, January 19, 2016 1:20 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Delong, Timothy
Subject: [DHS-MAXIS-Scripts] Resolved: that Krabappel should be a UTILITIES script (#1688)

Anyone want to debate this? :) (No, I wasn't just listening to NPR, why do you ask?)

I think it belongs as a utility script owing to its natu

[2016-01-20 00:44] theVKC commented on #1569
Go ahead and pull it in! :)

[2016-01-20 01:16] theVKC opened #1698 "Mic drop: needs new FuncLib block"
Want it, @IlseFerris?

[2016-01-20 01:23] theVKC commented on #1110
I'm going to say it's been "tested thoroughly" based on your report @CDPotter, and I'm going to close the issue.

[2016-01-20 01:23] #1110 closed

[2016-01-20 02:55] theVKC commented on #1468
The freeze is lifted! The freeze is lifted!

@CDPotter: do you still want this one?

[2016-01-20 13:44] theVKC opened #1699 "Mic Drop: add link to a flowchart with the scripts' logic in the main dialog"

[2016-01-20 13:46] theVKC opened #1700 "Mic Drop: Add link to instructions page on SIR"

[2016-01-20 15:57] CDPotter commented on #1468
I'm going to check with PCs at Anoka to see if it is still wanted and how it should be handled, but you can assign to me for the time being.

[2016-01-20 16:31] IlseFerris opened #1701 "Project Mic drop: add appointment confirmation"
Adding a vbOKCancel will allow users to review the appointments for accuracy of the scheduled appointments prior to the MEMO, TIKL and case note.

[2016-01-20 16:50] theVKC opened #1702 "BULK DAIL report has weird spacing issue"
It's occasionally writing large amounts of spaces in the Excel sheet. On it.

[2016-01-20 17:38] #1116 closed

[2016-01-20 17:38] #1702 closed

[2016-01-20 18:17] theVKC commented on #1688
Since I'm not getting volunteers, I'll just plan on moving it over. :)

[2016-01-20 18:25] #1698 closed

[2016-01-20 18:25] #1701 closed

[2016-01-20 18:28] theVKC opened #1706 "Mic drop: shore up all comments, lots and lots of comments everywhere"

[2016-01-20 18:36] theVKC opened #1707 "Mic drop: needs time savings"

[2016-01-20 19:13] CDPotter opened #1708 "New script idea AREP Case note"
An idea was brought up to have an AREP case note template. This would be something that would bring attention to changes in AREPs and possibly serve as a reminder for what can be shared (possible functionality to TIKL to get new AREP forms if needed.)

Thoughts?

[2016-01-20 19:15] theVKC commented on #1708
Personally, I like it.

[2016-01-20 20:25] theVKC commented on #1708
Do we have any scriptwriters interested in working on this? Could be a good opportunity for a newer scriptwriter...

[2016-01-20 20:56] #1706 closed

[2016-01-20 21:28] theVKC commented on #1699
#1700 should cover this just fine.

[2016-01-20 21:28] #1699 closed

[2016-01-20 21:47] theVKC opened #1709 "Mic Drop: needs error handling around mandatory fields in first dialog"
On it

[2016-01-20 21:48] theVKC opened #1710 "Mic Drop: needs to wait to display Excel until final dialog"
To match how other scripts do it. On it.

[2016-01-20 21:51] #1700 closed

[2016-01-20 21:59] #1710 closed

[2016-01-20 22:10] #1709 closed

[2016-01-20 22:54] theVKC opened #1711 "Mic drop: create_calendar function needs rebuilding"
The comments are minimal, and variables not descriptive enough for this to be considered user-friendly.

The new function will be called `create_dynamic_calendar_dialog`, and will borrow heavily from the existing function (but will export all selected dates, and can accept as an independent parameter dates to be blocked, such as weekdays, holidays, etc).

The existing function is too challenging t

[2016-01-21 16:14] courtrightd opened #1712 "Banked month fiater - proration dates"
There is an issue with not handling proration dates correct every time, apparently I didn't test enough the first time.  Sometimes 12 <> 12. Easy fix, pull coming.

[2016-01-21 16:25] #1712 closed

[2016-01-21 18:06] theVKC opened #1714 "New version of the old scene: DAIL - CSES scrubber"
I am replacing the myriad CSES "enhancements" with a brand new script called the "CSES scrubber". This should be cleaner (as it'll be one big pull, and I don't want that pull to resolve [at least] 5 issues).

The new CSES scrubber should have:

- [x] Handling to tell you're in training, working on a TIKL (if run on a TIKL, it'll ask for confirmation before proceeding)
- [x] An always-visible Excel

[2016-01-21 18:07] #294 closed

[2016-01-21 18:07] #375 closed

[2016-01-21 18:07] #568 closed

[2016-01-21 18:07] #1395 closed

[2016-01-21 18:07] #1532 closed

[2016-01-21 18:20] #1625 closed

[2016-01-21 18:20] #1688 closed

[2016-01-21 18:22] theVKC commented on #53
Replaced many issues with functions...

Can I get an update on official scenarios? 2-3 from Stearns, Ramsey, Hennepin, Anoka, and St. Louis ought to do it. Should we set up a call to discuss how to proceed there?

* @IlseFerris
* @courtrightd
* @RobertFewins-Kalb
* @CDPotter
* @C-Love
* @MelissaFox-Stearns
* @GayS
* @StormageddonDLOA

Yay for being so close to finished!!!

[2016-01-21 18:26] theVKC commented on #1612
@RobertFewins-Kalb: any update on this? I'm willing to take it as part of the new Power Pad plans.

[2016-01-21 18:27] theVKC commented on #1612
(Also, as folks won't be updating to the new Power Pad with a UTILITIES button right away, we'll cross list it in ACTIONS for a while)

[2016-01-21 18:32] GayS commented on #53
My vote is for a conference call. :)

[2016-01-21 18:39] CDPotter commented on #53
Where does the current version live again?

[2016-01-21 18:42] RobertFewins-Kalb commented on #1612
I have what I emailed you ready to roll. If that will work, I'll pull it in as an update to the scripts info button. Otherwise, I haven't worked on anything else. You can has if'n you wants.

[2016-01-21 18:46] IlseFerris commented on #53
I can do a conference call. I wasn't working on any official scenarios, but I could reach out to our training unit if we want some from Hennepin.

[2016-01-21 18:50] GayS commented on #53
We reached out to our trainers for scenarios at Stearns - not sure when we will get them (1-2 weeks?)

[2016-01-21 19:04] courtrightd commented on #53
I believe we have scenarios in SLC, but they were set up for a different version of Krabappel and I will need to reconfigure the spreadsheets and test.  Sometime in the next couple weeks is possible.

From: Gay Sikkink [mailto:notifications@github.com]
Sent: Thursday, January 21, 2016 12:50 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Training case

[2016-01-21 19:08] theVKC commented on #53
I'm comfortable waiting for the official scenarios. Do we think we should release the script as-is for now, sans scenarios? Any thoughts?

[2016-01-21 19:08] theVKC commented on #1612
Please pull it into the info button. I'll take the rest from there.

[2016-01-21 19:08] RobertFewins-Kalb commented on #53
Don't release. I'm testing our scenarios and I found an error. I'm going to fix and submit.

[2016-01-21 19:15] theVKC commented on #1626
@GayS: are you working on this? If not, I might take it.

[2016-01-21 19:18] Y-Lor-Y commented on #53
Casey might have more info on this than I, but last I heard…our training unit is creating a listing of scenarios for this.

Yang T. Lor | FCM Resource Trainer
Financial Assistance Services |  Ramsey County CHS
160 Kellogg Boulevard East, Saint Paul, MN  55101
P: 651-266-3621  |  Fax: 651-266-3705
E: yang.tou.lor@co.ramsey.mn.us
Schedule: M to Th, 7:45 AM to 6:00 PM
www.ramseycounty.us<http://www.r

[2016-01-21 19:28] theVKC commented on #710
Task list update allows me to close #1083, #1084, and #1711.

[2016-01-21 19:30] #1083 closed

[2016-01-21 19:30] #1084 closed

[2016-01-21 19:30] #1711 closed

[2016-01-21 19:38] RobertFewins-Kalb commented on #53
@CDPotter is going to test the scenarios we have put together and check for bugs. He is also going to submit a pull request for the bug we found.

[2016-01-21 19:42] theVKC commented on #53
Thanks @RobertFewins-Kalb and @CDPotter!

[2016-01-21 20:59] GayS commented on #1626
I have it on my “to-do list” but if you want to get it done sooner – ok w/me.

[2016-01-21 21:09] theVKC commented on #1626
I'll be in the script soon to move it into the UTILITIES folder, so I might as well. #OneLessHandoff

[2016-01-21 21:13] GayS commented on #1626
Ok – I will take it off my list – thank you. #simplify

[2016-01-21 21:48] IlseFerris opened #1716 "Method B WCOM button needed on MEMOS main menu"
I got this

[2016-01-21 22:18] CDPotter commented on #53
The fruits of today's testing have been added, more to come!

[2016-01-22 00:00] IlseFerris opened #1721 "NOTES -EDRS DISQ MATCH FOUND script needs main menu button"
I've got this

[2016-01-22 00:06] theVKC commented on #1721
This isn't really an issue if the script isn't live... We'd just call this part of the initial new script issue.

(And please pull all changes in one branch, but multiple commits)

[2016-01-22 00:07] #1721 closed

[2016-01-22 00:07] theVKC commented on #1716
Closing this since it's not a live script (therefore it isn't an issue). @IlseFerris: no need to make issues for this unless it's a live script and we missed it.

[2016-01-22 00:07] #1716 closed

[2016-01-22 16:28] CDPotter commented on #53
Ok! We have resolved all of our training case and the issues that have popped up while doing so.

(save for rewriting code to adjust for HCRE's removal,)

Types of cases we have:
2 only Fam SNAP
2 GA/adult SNAP
1 adult SNAP
1 MFIP only
1 fam HC/SNAP

[2016-01-22 18:29] theVKC commented on #53
Woot! Sounds wonderful!

[2016-01-22 19:01] theVKC commented on #53
So, non-Anoka counties: could you review the new Excel file's scenarios? If these work for your counties, that's fine and we'll take them. If anyone wants to add more, we can do that.

[2016-01-22 19:04] CDPotter commented on #53
There's only one example(not quite sure how it got in there...) in the excel file I uploaded. (currently) I can upload a new version with all of the ones we vetted?

[2016-01-22 19:09] theVKC commented on #53
Yeah, I think so. Let's just put it out there to see what people think.

[2016-01-22 19:25] CDPotter commented on #53
Ok they have been pulled in.

[2016-01-22 19:33] theVKC commented on #53
Thanks @CDPotter! I'd love it if non-me people could evaluate them! :)

[2016-01-22 19:47] CDPotter commented on #53
One thing for others to note, Copy and pasting scenarios from one excel file to another causes them to lose their validation. So we may just have to keep manually adding onto this file if we add more examples.

[2016-01-23 04:22] theVKC opened #1728 "Bowie idea: we can chain load scripts using an array"
Basically:

[code]

I'll try to test it...

[2016-01-25 15:25] theVKC commented on #1707
Closing (as this is now crosslisted in #710).

[2016-01-25 15:25] #1707 closed

[2016-01-25 15:59] Y-Lor-Y opened #1730 "NOTES - PostPay GRH Non-HRF"
Our GRH unit asking if we can build a script that would run for the non-HRF cases.  I have met a few time to go over what was needed and started building one.  I will share with the rest once done, and will be asking for help.

Thanks,

[2016-01-25 20:18] #1569 closed

[2016-01-25 20:45] #1235 closed

[2016-01-25 20:45] #1262 closed

[2016-01-25 20:45] #1663 closed

[2016-01-25 20:47] CDPotter opened #1734 "Create SNAP WCOM menu"
We had an idea to create submenu in MEMOs for SNAP related WCOM scripts. Assign to me.

[2016-01-25 20:57] #1604 closed

[2016-01-25 21:01] #1468 closed

[2016-01-25 21:28] CDPotter opened #1735 "Changing name of MEMOS to NOTICES"
There was discussion at the most recent hackathon about considering changing the name of the MEMOs button as there are LETRs and WCOMs in there. Here are some ideas that were floated around but please feel free to offer up alternatives as we wanna find a good word that will make sense for everyone.

1: Notices
2: MEMO/WCOM
3: (your idea here!)

---

VKC edit: we're going with NOTICES. Each MEMOS s

[2016-01-25 21:41] theVKC commented on #1735
My vote is for "notices". I think "NOTICES - SCRIPT NAME GOES HERE.vbs" jives well with "ACTIONS - SCRIPT NAME GOES HERE.vbs".

[2016-01-25 21:43] C-Love commented on #1735
I like NOTICES

[2016-01-25 21:43] IlseFerris commented on #1735
Notices is my vote. There I said it.

[2016-01-25 21:45] Y-Lor-Y commented on #1735
I'm for the "Notices" button.  It does flow well with the other categories.

[2016-01-25 22:46] #881 closed

[2016-01-25 22:56] CDPotter opened #1738 "fixing notes main menu visual bug"
group box is missing and county burial application description is missing pulling fix to release.

[2016-01-25 23:13] #599 closed

[2016-01-26 03:42] theVKC commented on #393
So, something funny happened with this one, @LaLarson... we discovered (I believe @CDPotter found it) a case in which the GA income was already present on the SNAP budget. It was a training case as I recall, but it has my attention, because maybe this script isn't necessary anymore.

So, here's what I want to do:

1. @CDPotter: can you tell me if you can confirm this is true? That the GA benefit i

[2016-01-26 03:49] #1738 closed

[2016-01-26 03:54] theVKC commented on #342
@LaLarson: any chance we can set up a time to work on this script/any others that might have come up?

[2016-01-26 03:56] theVKC commented on #1612
Issue not quite "resolved" as the script file itself still lives in the ACTIONS folder. It should be renamed "UTILITIES - UPDATE WORKER SIGNATURE" and should live in the utilities folder with it crosslinked on ACTIONS until the new Power Pad comes out.

[2016-01-26 03:57] theVKC commented on #1612
And I'll take that on...

[2016-01-26 03:59] theVKC commented on #1264
Removed "question" and added it to the to-do for the Feb release. Is that cool, Casey?

[2016-01-26 04:02] theVKC commented on #657
Hey @courtrightd! Any update on this one?

[2016-01-26 13:05] theVKC commented on #1730
Would you estimate you could have this ready by mid-February? If so, I'll target it for the v2016.02 release.

[2016-01-26 13:05] theVKC commented on #1609
Would you estimate you could have this ready by mid-February, @MelissaFox-Stearns? If so, I'll target it for the v2016.02 release.

[2016-01-26 13:06] theVKC commented on #1603
Would you estimate you could have this ready by mid-February, @StormageddonDLOA? If so, I'll target it for the v2016.02 release.

[2016-01-26 13:06] theVKC commented on #1601
Would you estimate you could have this ready by mid-February? If so, I'll target it for the v2016.02 release.

[2016-01-26 13:07] theVKC commented on #1148
Would you estimate you could have this ready by mid-February? If so, I'll target it for the v2016.02 release.

[2016-01-26 13:21] C-Love commented on #1264
Yes - sounds good

[2016-01-26 13:25] theVKC commented on #53
What do we think of targeting this release for v2016.02? @IlseFerris @courtrightd @CDPotter @C-Love @RobertFewins-Kalb @GayS do any of you have any objections with me adding it to the planned February release?

[2016-01-26 13:29] C-Love commented on #53
I have 6 Ramsey scenarios from our training unit. I will get them krabappleized and tested. I have a feeling there will be some overlap. Our training unit does not train any cash so our scenarios are SNAP/HC only

And I think Feb release is a good plan.

[2016-01-26 13:30] theVKC commented on #53
"Krabappelized" = word of the century

[2016-01-26 13:52] Y-Lor-Y commented on #1730
That’s the plan.

Yang T. Lor | FCM Resource Trainer
Financial Assistance Services |  Ramsey County CHS
160 Kellogg Boulevard East, Saint Paul, MN  55101
P: 651-266-3621  |  Fax: 651-266-3705
E: yang.tou.lor@co.ramsey.mn.us
Schedule: M to Th, 7:45 AM to 6:00 PM
www.ramseycounty.us<http://www.ramseycounty.us>

The information included in this email message, including any attachments, is intended on

[2016-01-26 13:53] theVKC commented on #1730
Great! Thanks!

[2016-01-26 13:55] Y-Lor-Y commented on #1148
I will try very hard to get it done.  It’s just that as much as I’m trying to create time at work to work on scripts…in the nature of my position as a trainer, I’m bombarded with new staffs, Q&A, and etc.

I might as well just buy an enclosed doorway and close it off with a top house/umbrella…to close off visitors.  LOL.

But I really want the GRH postpay done first.  I’m half way through with my

[2016-01-26 13:57] StormageddonDLOA commented on #1603
I believe so, yes.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, January 26, 2016 7:06 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Delong, Timothy <Timothy.Delong@co.stearns.mn.us>
Subject: Re: [DHS-MAXIS-Scripts] Merge phone number look up and REPT SEARCH scripts together (#1603)

Would you estimate you could have this ready by mid-Fe

[2016-01-26 14:03] C-Love commented on #53
YIKES! I am getting an error when trying to create a case with HC. The 'write_panel_to_MAXIS_HCRE' function has either the wrong number of arguments or invalid property assignment. I have tried this on the Beasly scenario as well as my own. (Line 581). @RobertFewins-Kalb @CDPotter @theVKC   Sorry I don't have more detail, I have to run to a meeting and am not very familiar with that function. I th

[2016-01-26 14:04] theVKC commented on #53
@CDPotter: any ideas on Casey's issue?

[2016-01-26 14:05] theVKC commented on #1148
Sounds good. I'll leave this off for now and we can see where you end up with the other script. I can always add it later if you think you'll have time. No worries. :)

[2016-01-26 14:14] theVKC commented on #1626
@CDPotter is working on this, but I'm removing the issue as it's cross listed with #53 now.

[2016-01-26 14:14] #1626 closed

[2016-01-26 14:15] IlseFerris commented on #1601
I plan on having this one done this week.

[2016-01-26 14:59] IlseFerris opened #1744 "ABAWD banked months FIATer needs time savings determined & added"
I've got this

[2016-01-26 16:08] RobertFewins-Kalb commented on #53
Something is amiss. I thought we removed that function call in the script. It should just be transmitting through HCRE.

[2016-01-26 16:35] theVKC commented on #53
I don't think I touched it. Hmmmmm.

[2016-01-26 16:43] #1744 closed

[2016-01-26 17:16] RobertFewins-Kalb commented on #53
OK...so I looked over our pull request. I think we replaced the wrong function. I'm going to test locally to verify.

[2016-01-26 17:47] IlseFerris opened #1746 "banked months FIATer in master critical bug"
For some reason the code I entered caused an error, replaced the code, and now it works. Pulling now.

[2016-01-26 21:18] MelissaFox-Stearns opened #1748 "Baby Born and Change Reported scripts not opening? --Critical Bug--"
These two scripts won't open for me and kick me back out to the main menu. Is anyone else having issues?

[2016-01-26 21:25] RobertFewins-Kalb commented on #1748
Yep... when I click either script, I get this message...

![image](https://cloud.githubusercontent.com/assets/7842016/12595459/04842506-c441-11e5-892b-d70319dd922a.png)

But when I click it again, it case notes in MAXIS showing only...
"---"
worker_signature

[2016-01-26 21:26] RobertFewins-Kalb commented on #1748
(not going to paste pictures of MAXIS on GH)

[2016-01-26 21:43] MelissaFox-Stearns commented on #1748
Yep me too!

[2016-01-26 21:47] RobertFewins-Kalb commented on #1748
It looks like there are issues with the dialog names and the dialog calls. The values in the first dialog are never being established so the script skips them.

I don't really see why it's looping and making you push the button twice, however...

...digging

[2016-01-26 21:48] RobertFewins-Kalb commented on #1748
(To elaborate, the first dialog in NOTES - CHANGE REPORTED is not being called so the value "List1" is never being assigned a value.)

[2016-01-26 22:01] RobertFewins-Kalb commented on #1748
I'm working on it

[2016-01-26 22:10] RobertFewins-Kalb commented on #1748
Soon to submit a fix

[2016-01-26 22:11] RobertFewins-Kalb commented on #1748
@MelissaFox-Stearns, can you rename this issue to highlight that this is a critical bug?

[2016-01-26 22:18] RobertFewins-Kalb commented on #1748
@theVKC, I'm concerned that the Baby Born script is dumping Social Security Numbers in case notes. The New Hire DAIL Scrubber specifically edits out the client's SSN. Should we update this one? (Separate issue)

[2016-01-27 14:32] CDPotter opened #1750 "Approved programs grabbing unapproved"
So I was approving a change to a SNAP case that also has MSA. MSA wasn't changing so I didn't approve the result. However the new approved programs grabbed and case noted "* MSA for 02/16: $0.00"

@C-Love did you change it so it doesn't check approval dates and look for "approved"?

[2016-01-27 15:26] courtrightd commented on #1750
I had a report this morning as well of this possibly looking at pending cash when only snap was checked, I am on phones so can’t look further into it right now.

From: Charles P [mailto:notifications@github.com]
Sent: Wednesday, January 27, 2016 8:33 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: [DHS-MAXIS-Scripts] Approved programs grabbing unapproved (#1750)

So I was approving a change to a

[2016-01-27 15:33] CDPotter commented on #1750
Well the script was changed so you no longer have to pick programs (this threw me off too when I opened it.) so I'm guessing it checks all progs somehow (I'm still catching up from Mon/Tues)

[2016-01-27 15:58] courtrightd commented on #1750
So that’s maybe causing a problem when you approve SNAP but cash is still pending, it may not always even have an unapproved version of cash to look at.  I’ll try and look into it more later.

From: Charles P [mailto:notifications@github.com]
Sent: Wednesday, January 27, 2016 9:34 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] Approved programs grabbi

[2016-01-27 16:02] courtrightd commented on #657
Uggh.  Sometimes I think I looked at something 2 days ago, and in reality it was 2 months.  I have it mostly done, so I better finish it rather than have you close it.  Won’t make February release though.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, January 25, 2016 10:02 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] EOMC enha

[2016-01-27 16:22] CDPotter commented on #393
Strangely enough I can’t seem to get it to happen outside of Krabappel… even using the case in krabappel and manually doing it I can’t seem to get it to work. Maybe it’s just a weird krabappel thing with the year change (which is resolved now by clearing out the fiat field.)

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, January 25, 2016 9:42 PM
To: MN-Script-Team/DHS-MAXIS-S

[2016-01-27 17:02] MelissaFox-Stearns opened #1752 "NOTES- Employment Plan/Status Update script- Receiving a message when choosing school as primary activity."
When I choose the Employment Plan- High School/ GED as the Primary Activity and then fill in the edit box with the school information, I am given a message box that says I did not complete the school information field even though I have.
I haven't come across this message for any of the other primary activities so it appears to just be this one area.
Does this happen with anyone else?

[2016-01-27 17:39] MelissaFox-Stearns opened #1753 "NOTES Main Menu- EDRS DISQ match found- explanation of script is cut off on the dialog box"
ON the D-F Notes Sub Menu. The new script for EDRS DISQ Match found looks like it the explanation didn't fit all onto 1 line so it cuts off after "per"

[2016-01-27 19:09] CDPotter opened #1754 "TYMA TIKLer"
Ok bit of history on this one! I was approached by a worker to create a TYMA TIKLer that TIKLed/Case noted certain events. These events being:

TIKL to send 1st quarter report form month 3 day 20
TIKL to send 2nd quarter report form month 6 day 20 (also case note that 1st quarter form was sent)
TIKL for return of 2nd quarter report form month 7 day 21 (also case note that 2nd quarter form was sent

[2016-01-27 19:10] CDPotter commented on #1753
I fixed it in my pull today along with another one on the interview script.

[2016-01-27 19:14] courtrightd opened #1755 "boardwalk - writing phone deduction on wrong line"
Don't know how I missed this before.

[2016-01-27 19:25] IlseFerris opened #1757 "Shelter form rec'd needs to be removed from NOTES main menu"
Can anyone take care of this? Otherwise I can do it in the morning.

[2016-01-27 19:26] RobertFewins-Kalb commented on #1757
I removed it when I submitted my pull request to create it as an actions script. Has it been added back to the menu?

[2016-01-27 19:28] IlseFerris commented on #1757
It's live on master and release, so I it looks like that may be the case

[2016-01-27 19:37] RobertFewins-Kalb commented on #1757
Crap stick. I'm looking over my pull request and I did in fact NOT remove it from the NOTES main menu even though I made other updates to the NOTES main menu. Mea culpa. Looks like I updated the NOTES main menu to include the explanation of income.

[2016-01-27 19:44] IlseFerris commented on #1757
Crap stick indeed...LOL! If you could fix that stick that would be great. BAHAHAHAHAHA!
Also thank you :)

[2016-01-27 20:49] CDPotter commented on #1750
We also had a report that when DWP is pending the script errors out with this error. Seems like even though the script finds an unapproved version it is still doing the actions after it.
![script error](https://cloud.githubusercontent.com/assets/7841989/12627753/3563cb08-c505-11e5-84cd-1721b19c89c9.png)

[2016-01-27 21:48] MelissaFox-Stearns commented on #1753
Oops! Thanks I'll close this

[2016-01-28 13:41] CDPotter opened #1759 "Critital BUG REVW/MONT closures unable to get to case note"
The script is having issues for some workers trying to get into a new case note. Script is getting hung up on  PROG PF9ing and dumping case note onto PROG.

Looks like a Start_a_blank_case_note fixes it. uploading fix.

[2016-01-28 13:59] C-Love commented on #1750
Was anyone able to take a look at this? Any ideas? I was out yesterday and things are a bit hectic around here today. The looking for 'APPROVED' part of the code was not changed. I am wondering if there is some weird variable carry over, I think I would start blanking that variable out at the end of the loop. I only checked it out briefly this morning and couldn't see anything glaring.

As soon as

[2016-01-28 14:05] CDPotter commented on #1750
We just threw an older version in county customized for now. The issue we spotted was because the script was reading a date then trying to Cdate it. However if it finds an unapproved version (we saw it happen when someone approved initial SNAP but not initial CASH) it reads something that can't be Cdate'd and breaks.

Personally I think it could use a bit more testing and I miss the functionality

[2016-01-28 14:44] CDPotter opened #1761 "Bug Paystubs rec'd future paystub"
If you get lucky enough to get a payroll summary that includes a future paystub and you enter said paystub into the script it will try to write it and error out. I'm going to add a error check to prevent this.

[2016-01-28 15:03] C-Love commented on #1750
I think it is redundant to select the programs twice, once at the top and once where you pick the autofill. We could add logic to use those check marks to determine which programs are being case noted, if we like. However, the only time it should be in there is if the approval was on the same date and the only way that would happen is a denial and approval at the same time, in which case there sho

[2016-01-28 15:22] CDPotter commented on #1750
I'll send some screenshots.

[2016-01-28 18:52] C-Love opened #1764 "BUG - Bulk Case Transfer is not stopping at the specified number of cases"
Basically the script will just keep on transferring until it gets through all of the cases, completely ignoring the number put entered in the second dialog. It doesn't happen every time.

I have the fix (convert a string to a number so math will happen).

[2016-01-28 22:45] CDPotter commented on #53
Swapped the clauses back in #1766 Checked it on BURNS(HC) and BEASLY(SNAP) and it worked.

[2016-01-28 22:54] C-Love commented on #53
I made the changes you just sent in @CDPotter  and that fixes the HCRE issue. Yay!

However now there is some issue with writing to the JOBS and UNEA panel - everything is all cattywampus, the PIC doesn't open. Codes are being put in the wrong places.

[2016-01-28 23:02] CDPotter commented on #53
What scenarios?

[2016-01-28 23:25] C-Love commented on #53
I tried it on one of mine and then I tried it on Beasley

[2016-01-29 13:19] CDPotter commented on #53
Hmm.. I'm not sure what is happening there. I just made 4 beasleys and it seemed to be working fine on our end.

[2016-01-29 14:04] C-Love commented on #53
I figured some things out. First my Git Hub did not correctly load the new spreadsheet - so that causes some problems -eek - so I manually pulled the new one off and that fixed the JOBS and UNEA.

I am running in to 2 more problems that you might have some insight on

For UNEA, starting in 01/16  the script stops because the COLA line is slightly insistent. I could not find another scenario with a

[2016-01-29 14:23] CDPotter commented on #53
The COLA thing makes sense and should probably be pulled in.

We did hit the BURNS FIAT issue (it happened when I looked away for a moment) where the script got hung up mid FIAT. Not sure why it happened and then we ran it again on 3 BURNS cases (at one time) and it worked fine for all of them so we weren't able to repeat it.

[2016-01-29 16:57] #1746 closed

[2016-01-29 17:02] theVKC commented on #1748
@RobertFewins-Kalb: any issues with SSNs should be addressed on a separate issue from the critical fix.

Also, this needs to be fixed in release too, I believe. @RobertFewins-Kalb: can you pull it in there (if you haven't already)?

[2016-01-29 17:02] #1748 closed

[2016-01-29 17:05] theVKC commented on #1759
Is this happening in RELEASE too?

[2016-01-29 17:08] CDPotter commented on #1759
Unsure, I can pull just to be sure?

[2016-01-29 17:11] #1759 closed

[2016-01-29 17:13] RobertFewins-Kalb commented on #1748
I shall (create a new issue and a new pull request for release)

[2016-01-29 17:17] theVKC commented on #1750
@CDPotter: please don't suggest that scripts in master "could use a bit more testing": this is why we have the master branch and why I've suggested to most agencies that they limit master branch access to select individuals. The master branch is not designed to be the only available branch to an entire agency.

[2016-01-29 17:19] #1750 closed

[2016-01-29 17:20] RobertFewins-Kalb opened #1768 "Remove SSN field from baby born in Change Reported"
In DAIL - NEW HIRE, we are x'ing out the client's SSN. In reviewing the baby born section in NOTES >> CHANGE REPORTED, I found that the dialog includes a field for the child's SSN and that it's a mandatory field. I move that the field be removed entirely.

Thoughts...?

[2016-01-29 19:33] CDPotter commented on #1750
My apologies @C-Love.

[2016-01-29 20:20] Farleight commented on #1768
I would concur; if it's not editing the Memb panel, it doesn't need it. This falls under my "don't ask; don't tell" policy.

[2016-01-29 22:23] C-Love commented on #53
I ran mine with 3 cases at once and it worked! Fun times in MAXIS training region.

This script is amazing and gets more so every time I run it.

[2016-01-29 22:43] C-Love commented on #1750
Thanks @CDPotter  - It's all good.

[2016-02-01 09:31] IlseFerris commented on #53
Excellent! I was given some case scenarios from our Onboarding team, so I'll be able to get those submitted in the next day or two.

[2016-02-01 13:45] theVKC commented on #657
Sounds good. Just keep me posted.

[2016-02-01 13:47] theVKC commented on #393
OK, we'll leave it up for now. Weird...

[2016-02-01 13:48] theVKC commented on #1752
Sounds weird, like we should fix it. Is it happening elsewhere in Stearns? Also: do you want it? :)

[2016-02-01 13:55] theVKC commented on #1754
I have no say in this as I'm a SNAP person, but my vote would be that everyone does it the same, most efficient way (TIKL all at once). Lots of things leave TIKLs out unnecessarily long, and worrying about TIKLing too much "in case a case closes" is a slippery slope ("we shouldn't TIKL for 60 days in case the client doesn't stay open"). But, that's just my two cents.

Also, we can build a "show me

[2016-02-01 13:55] theVKC commented on #1754
Now, can we get input from other @MN-Script-Team/county-agency-scriptwriters?

[2016-02-01 13:57] theVKC commented on #1755
@courtrightd: should this also be pulled into release? Is this a big enough deal to warrant such action?

[2016-02-01 14:14] Y-Lor-Y commented on #1754
I’m part of the Ramsey County vote above noted by CDPotter.  I will say this.  In my opinion, but methods isn’t very different from one another.

One method you done all your TIKL’ing from the front end.

The other, you do them as you go or at the back end.

If I’m reading the DHS supported TYMA Guide powerpoint in Trainlink (at about slides #92?)  My take away from that was…to ensure there is a ‘

[2016-02-01 14:18] Farleight commented on #1754
I'm also part of the aforementioned counties, so my opinion is known. I will add though, to your "most efficient way" comment, that with TYMA, people RARELY make it to the end of the year before there is a change that either makes them eligible under standard limits again, or closes them completely. That is why I believe all at once TIKLing would be the least efficient way to go... but that said,

[2016-02-01 14:29] CDPotter commented on #1754
Just for transparency it has been decided here at Anoka that they will only support the "as you go" method. If it is decided that the state supported script is the one to TIKL all at once Anoka will use the "as you go" in our county customized. I should still be able to upload the "All at once" so this can stay assigned. (I am also willing to share the as you go with any agencies that are complete

[2016-02-01 14:37] theVKC commented on #1753
Not sure this should have closed, because it's still an open issue that hasn't yet been resolved with a pull request. Unless it's a duplicate or a question, please don't close your own issues if the issue hasn't been resolved. :)

[2016-02-01 14:47] CDPotter commented on #1753
I added this small fix along with another one that was cut off in this update.

[2016-02-01 14:54] RobertFewins-Kalb opened #1771 "BUG -- Multiple bugs with Approved Progs related to GA, MSA, and MFIP"
It's a matter of the wrong array position being case noted. I'm working on a fix.

[2016-02-01 15:09] #1761 closed

[2016-02-01 15:10] theVKC commented on #1764
Do you think this is critical enough to warrant sending to RELEASE as well, @C-Love?

[2016-02-01 15:13] theVKC commented on #1759
I would. Thanks @CDPotter!

[2016-02-01 15:35] CDPotter commented on #1759
#1769

[2016-02-01 15:53] corinne-stearns commented on #1754
In Stearns we do this as we go vs. all up front.   Also, may not want to be setting for a complete year at this time - All MAGI cases are planned to be converted by 9/1 to MNSure anyway?

[2016-02-01 16:01] Y-Lor-Y commented on #1754
I believe I heard back in 2013 that by 2015 all HC would be on CURAM.  ☺

Yang T. Lor | FCM Resource Trainer
Financial Assistance Services |  Ramsey County CHS
160 Kellogg Boulevard East, Saint Paul, MN  55101
P: 651-266-3621  |  Fax: 651-266-3705
E: yang.tou.lor@co.ramsey.mn.us
Schedule: M to Th, 7:45 AM to 6:00 PM
www.ramseycounty.us<http://www.ramseycounty.us>

The information included in this

[2016-02-01 16:13] theVKC commented on #1768
If it has no action (i.e. updating a non-CASE/NOTE panel in MAXIS), I agree completely. If it updates a panel in MAXIS, it should remain (but obviously not case note).

Any takers to investigate? Could be an easy win, @MN-Script-Team/county-agency-scriptwriters!

[2016-02-01 16:18] #1755 closed

[2016-02-01 16:22] theVKC commented on #1771
@C-Love, you might want to review this in case you're working locally at all.

[2016-02-01 16:25] #1708 closed

[2016-02-01 16:25] #1753 closed

[2016-02-01 16:25] #1757 closed

[2016-02-01 16:35] theVKC commented on #1754
We could certainly make it a global variable, which would be my vote if it's so evenly split. I'm working on the installer right now, so it's a good time to make such a change if we so choose. :)

[2016-02-01 16:36] theVKC commented on #1754
...or we could just let workers decide too. Thoughts?

[2016-02-01 16:40] CDPotter commented on #1754
Hmm... letting workers decide might be complicated if someone's case gets transferred to a worker who processes the other way. I'd vote global variable if we're gonna roll with both.

[2016-02-01 16:44] courtrightd commented on #1754
Global variable.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, February 01, 2016 10:37 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] TYMA TIKLer (#1754)

...or we could just let workers decide too. Thoughts?

—
Reply to this email directly or view it on GitHub<https://github.com/MN-Script-Team/DHS-MAXIS-Scripts/issues/1754#issu

[2016-02-01 16:45] RobertFewins-Kalb commented on #1771
I have tested the GA and MSA bits and they are working (the benefit month/year fields on ELIG/GASM are different than they are on other programs... 20,54 and 20,57 on GA, 20,56 and 20,59 for SNAP, MFIP, DWP and MSA...I have adjusted the coordinates). I have heard no complaints from family cash workers and I have no family cash programs to test it on, but I went through the code where the script re

[2016-02-01 16:49] courtrightd commented on #1752
I'm seeing the same error.  This can be assigned to me if you want.

[2016-02-01 16:51] theVKC commented on #1752
You got it!

[2016-02-01 17:31] RobertFewins-Kalb commented on #1771
HALT

[2016-02-01 17:33] RobertFewins-Kalb commented on #1771
A bug was reported with MFIP. It appears the script is not accounting for the MFIP significant change determination page in ELIG/MFIP. I'm going to modify my pull to account for this as the writing coordinates are not the same on ELIG/MFSC as they are with ELIG/MFIP

[2016-02-01 17:33] CDPotter opened #1774 "INAC scrubber not working when more than 1 INAC screen"
Is anyone else having troubles running the INAC scrubber when the worker has more than 1 page of INAC cases?

We're trying to figure out why Ucase(worker_number_check) <> Ucase(worker_number) and I'm hitting a wall. (specially since we've gotten it to work locally with identical code to github.)

[2016-02-01 17:45] RobertFewins-Kalb commented on #1771
OK.

[2016-02-01 17:50] CDPotter commented on #1774
Found it submitting fix!

[2016-02-01 18:23] theVKC commented on #1771
I think that second thing is a separate issue. Can you create a separate issue for it please @RobertFewins-Kalb?

@C-Love: I'm leaving the pull request out so that you can test it. Want to make sure we avoid any merge conflicts (also want your approval on this since this overhaul was your work).

[2016-02-01 18:26] RobertFewins-Kalb commented on #1771
I do not have time. This works.

[2016-02-01 18:32] CDPotter commented on #1771
It does appear to be working better as the version live in MASTER right now is writing the SNAP amount for MSA and GA.

[2016-02-01 18:41] #1774 closed

[2016-02-01 19:05] theVKC commented on #1771
That's weird @CDPotter because I haven't pulled it. Any ideas?

[2016-02-01 19:06] theVKC commented on #1771
@RobertFewins-Kalb thanks for updating the title. In the future, I expect unrelated bugs to get separate issues. If they are related enough to be on one issue, I expect a comment explaining why. GitHub issues are used for tracking purposes beyond scriptwriters' convenience, and procedure must be maintained for the sake of that tracking. A second bug that "shows up" further down the comment chain o

[2016-02-01 19:08] theVKC commented on #1771
@RobertFewins-Kalb alternatively, one can use the newer GitHub issue task list tracking, but I would prefer to relegate that to major ongoing projects, not unrelated issues.

[2016-02-01 19:19] CDPotter commented on #1771
I've used his fixes locally and it auto-filled properly, that's what I was referring to.

I've run the one that was live 3 times.

Once last week on a SNAP/MSA case where I didn't approve a new version of MSA as it wasn't needed. The new version of the script case noted that MSA was 0.00

Casey then submitted a fix.

I then ran it Friday once on a GA reapplication case and it was again wrote 0.00

[2016-02-01 19:22] theVKC opened #1777 "When FuncLib #163 is complete, update NOTES - MAIN MENU in both branches"
This will avoid a merge conflict. The RELEASE version should probably be pushed to both branches first, then separately the master version can be updated with new scripts for this release.

#AvoidingMergeConflictsFTW

[2016-02-01 19:25] theVKC commented on #1771
@CDPotter that's totally cool for the pull request (1 pull request solving 2 issues), but for consistency we need unrelated issues on separate issue numbers. It's better for folks who rely on RSS or email notifications to know what's up so they can alert team members.

[2016-02-01 19:30] theVKC opened #1778 "Update README with some procedural guidelines"
- [x] Master branch use guidelines/suggested use
- [x] Link to the issue list
- [x] Master branch users are expected to contribute feedback
- [x] Link to the release notes draft
- [x] Absolutely no client data or complete screenshots on GitHub (make it bold)
- [x] Pay attention to the milestone to see the "due date" for any issues before volunteering
- [x] When is an issue "critical"
- [x] Search

[2016-02-01 20:48] IlseFerris opened #1779 "SNAP E & T letter needs manual referral for eligible students"
per CM0011.18 eligible students need manual referral, not just our banked month folks.

On it.

[2016-02-01 21:56] IlseFerris opened #1781 "SNAP E & T manual run needs updating"
Done it's 280 now

[2016-02-01 21:57] IlseFerris opened #1782 "SNAP E & T needs TIKL for verif of compliance with E & T"
on it

[2016-02-02 05:08] #1778 closed

[2016-02-02 14:54] StormageddonDLOA commented on #1768
I can take this.

[2016-02-02 15:00] courtrightd opened #1785 "NOTES - APPROVED PROGS needs banked month database section updated."
I have this, pull coming soon.

[2016-02-02 15:13] theVKC commented on #1768
Thanks @StormageddonDLOA!

[2016-02-02 15:13] courtrightd opened #1787 "New script - banked month database maintenance"
This would be a utility that checks all cases in the access database.  It steps through all cases/members coded as using a banked month in the month selected, goes to ELIG/FS, finds the most recent approved version, and checks that the member remains active, if not, it reassigns the database value so that an accurate list can be submitted to DHS.
I propose calling it a UTILITY because it updates a

[2016-02-02 15:18] theVKC commented on #1787
First of all: yes to it being a utility.
Second: I think it sounds wonderful.
Third: I don't think it should be inserted into usage statistics.accdb: I propose a separate folder and database (as I don't want to force current usage statistics.accdb users to have to update any schema or other Access pieces if they don't want to).

Thoughts on that?

[2016-02-02 15:18] courtrightd commented on #1785
Blip: Adds functionality to NOTES - Approved Programs to allow counties to track ABAWD Banked Month usage by case number and member using an MS-Access database.

[2016-02-02 15:22] courtrightd commented on #1787
I’m fine with that, just needs a new global variable for banked_month_database_path and edit a couple lines of code.   Counties can assign the path however they wish.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Tuesday, February 02, 2016 9:18 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] New script - banked month database maintenance

[2016-02-02 15:54] theVKC commented on #1787
Sounds great, and thanks!

[2016-02-02 16:00] theVKC commented on #342
Marking this as help wanted. If nobody wants it by hackathon Monday, I'll close it.

[2016-02-02 16:00] theVKC commented on #393
Marking this as help wanted. If nobody wants it by hackathon Monday, I'll close it.

[2016-02-02 16:51] #1779 closed

[2016-02-02 16:51] #1781 closed

[2016-02-02 16:51] #1782 closed

[2016-02-02 17:36] C-Love commented on #1771
Thank you for keeping a close eye on this @CDPotter  & @RobertFewins-Kalb.

[2016-02-02 17:59] IlseFerris opened #1789 "SNAP E & T student info updates needed"
Needs following information to be updated:
* Eligible student needs to be student
* Directions to include sending a verification request form for E & T contact
* Informative message that a 30 day TIKL is automatically made when a manual referral is made.

[2016-02-02 18:03] theVKC commented on #1789
@IlseFerris: there isn't a lot of info on your issue. In the future, please try to add more detail about what's missing. For example, "what verbiage actually needs to change?" or "what instructions are missing?" I'm trying to make sure we all provide more detail about the work we do as we're doing the work.

[2016-02-02 19:28] IlseFerris commented on #1789
I'm in meetings all day, I'll be able to expand on this in a couple hours. Sorry for the quick issue/pull.

[2016-02-02 20:03] C-Love commented on #1764
It is fairly critical so that would probably be good.

[2016-02-02 20:11] #1764 closed

[2016-02-02 20:13] #1771 closed

[2016-02-02 20:19] #1785 closed

[2016-02-02 20:26] theVKC commented on #1728
I'm closing this. I can track ideas for enhancements (that haven't been tested) elsewhere. I'm now thinking it's wise to keep the GitHub issue list to actual issues/enhancements for new scripts, but experimental (untested) code ideas can go elsewhere.

[2016-02-02 20:26] #1728 closed

[2016-02-02 20:27] theVKC commented on #1764
Sounds good. If you could do that @C-Love, that'd be much appreciated.

[2016-02-02 20:28] theVKC commented on #1754
I think we're decided... global variable, counties decide. @CDPotter: once your pull goes through, I'll add a global variable to the installer. If you can add a global variable to globvar, that'd be swell.

[2016-02-02 22:46] C-Love commented on #53
I just ran in to a problem with IMIG. The function for writing to the IMIG panel has a different number of arguments in the script vs FuncLib. I tried just commenting out the extra arguments in the script but then I ran into a problem with 'Actual Date' on IMIG - it defaulted to the current date - which is not allowed when working on a panel in a past month.

[2016-02-03 01:01] theVKC commented on #53
Hmmm. Think you can fix it @C-Love?

[2016-02-03 16:05] CDPotter commented on #1754
Ok, I'll get to work making it a dual version.

[2016-02-03 16:45] CDPotter commented on #1754
Also are we going with the Dual version only(meaning run the main script on the message), or the dual version + dail scrubber enhancement?

[2016-02-03 17:47] theVKC commented on #1754
I don't know. You tell me! What are you thinking with it? :)

[2016-02-03 17:51] theVKC commented on #657
I'm tagging this for the March release. If that doesn't end up working, let me know. :)

[2016-02-03 17:53] theVKC commented on #1148
@Y-Lor-Y: have you started this one yet? Just curious because @khiestand is coming to hackathon Monday, and if she's coming perhaps she wants her issue back! :)

[2016-02-03 17:59] #1768 closed

[2016-02-03 18:02] #1789 closed

[2016-02-03 18:06] Y-Lor-Y commented on #1148
I have not yet started on it.  If she wants it back, please do so.  At this point, I just got 4 new staff to train, so my time may be pushed out for the MSQ.

Yang T. Lor | FCM Resource Trainer
Financial Assistance Services |  Ramsey County CHS
160 Kellogg Boulevard East, Saint Paul, MN  55101
P: 651-266-3621  |  Fax: 651-266-3705
E: yang.tou.lor@co.ramsey.mn.us
Schedule: M to Th, 7:45 AM to 6:00

[2016-02-03 18:07] theVKC commented on #1148
OK, it's "help wanted" again. @khiestand, if you want it, it's yours!

[2016-02-03 18:49] CDPotter commented on #1754
It would probably make more sense to do the later as people are used to using the dail scrubber. If we told people to use the script like the dail scrubber we'd probably get questions to make the enhancement later anyways.

[2016-02-03 18:54] theVKC commented on #1754
So you'd be thinking the two scripts then? A DAIL scrubber enhancement to work with the TIKLs and the source script itself? (I like that)

[2016-02-03 18:59] CDPotter commented on #1754
Yup, so the source script will either TIKL "all at once" or just the first one based on county preference then the counties who do "as you go" can use the dail scrubber to work on the TIKLs.

[2016-02-03 19:20] theVKC commented on #1754
I think that makes sense. Counties who don't TIKL wouldn't ever need to worry about that extra DAIL scrubber script.

Can you make a separate issue for the DAIL scrubber script please?

[2016-02-03 19:28] CDPotter opened #1792 "New Script Dail Scrubber for TYMA TIKL handling"
Adding a TYMA TIKler script for those that will use the dail scrubber to TIKL as you go for TYMA.

[2016-02-03 19:58] theVKC commented on #1792
Related to #1754. That script should be complete before this one is started.

@CDPotter: do you expect completion before February 16 for the script freeze?

[2016-02-03 19:59] theVKC commented on #1792
Also, updated title. "New script dail scrubber" isn't very clear, as it requires the end user to click it to see details about the script. Please try to add more detail in the future, @CDPotter. :)

[2016-02-03 20:02] theVKC commented on #1684
I'm pushing this back to next month... I'm not sure it's a high enough priority for me to spend time on it at the moment.

[2016-02-03 20:06] CDPotter commented on #1792
RE: previous comment, they are all completed, tested, and pulled.

[2016-02-03 20:12] theVKC commented on #1792
Yup, you were fast! :) Thanks!

[2016-02-03 20:19] theVKC commented on #1777
Pushing this one out until March. I have other projects coming up and don't think I can get it done this month. We'll see though.

[2016-02-03 21:45] CDPotter opened #1794 "Update GLOBVAR with TYMA variable"
Global variables needs to be updated with TYMA_TIKL_ALL_AT_ONCE (TRUE/FALSE)

[2016-02-03 22:02] #1754 closed

[2016-02-03 22:02] #1792 closed

[2016-02-03 22:03] theVKC commented on #1794
I'll take it. I'll also need to modify the installer to work with this.

[2016-02-04 13:03] C-Love commented on #53
I think I have an idea of what it needs. I will take a look today.

[2016-02-05 13:28] CDPotter opened #1795 "CRITICAL Enhancement Dail scrubber new hire (new dail message)"
Apparently the new hire messages have been revamped. Here is what I've found so far.

![mn jobs](https://cloud.githubusercontent.com/assets/7841989/12847592/0b251da2-cbda-11e5-9c93-00d9fc0a2ec5.png)

They even include out of state jobs.

![out of stat jobs](https://cloud.githubusercontent.com/assets/7841989/12847595/0e544746-cbda-11e5-8aa6-089c3ebb412d.png)

[2016-02-05 13:38] CDPotter commented on #1795
My gut is start reading at job details instead of the beginning of the message since the states can vary. If we wanna go with this method I can pull whenever.

![fix](https://cloud.githubusercontent.com/assets/7841989/12847744/f7433688-cbda-11e5-8456-4b728aacb100.png)

I'm reviewing the new hire script as there are some changes to what to read as well. Yay friday!

[2016-02-05 13:47] IlseFerris commented on #1795
Good catch @CDPotter! It looks like JOB DETAILS is static, so it looks like it would work to me.

[2016-02-05 13:50] CDPotter commented on #1795
Uh oh.. maybe not...?
![uh oh](https://cloud.githubusercontent.com/assets/7841989/12848066/20a404e2-cbdd-11e5-9a50-9d1585d07088.png)

[2016-02-05 13:55] CDPotter commented on #1795
And I just got word that someone had two HIRE messages for the same job.

HIRE 01 16    NEW MI JOB DETAILS FOR SSN
HIRE 02 16    NEW JOB DETAILS FOR SSN #4

She deleted the MI one before I could look at it but I think we need clarification of how these new messages work and if they will replace the old ones. @theVKC Is there any digging you can do into this? There's nothing on SIR about a change.

[2016-02-05 14:00] CDPotter commented on #1795
Turn of events. SIR posted at 7:51 (moments after I checked). This is gonna be a weird one. I'm assuming we are getting these out of state/duplicate ones because of out of state HQs for companies.

[2016-02-05 14:11] MelissaFox-Stearns commented on #1795
Yeah I've noticed it appears to go by corporate headquarters. Like a Walmart job will show up as AR.

[2016-02-05 14:27] MelissaFox-Stearns commented on #1795
Have we come across  any of the normal New Hire messages that are NOT duplicates? Sir says to delete the duplicate ones that are not from the National Directory of New Hires (NDNH) so maybe we can have something that checks for duplicates and proceeds with the NDNH one?

[2016-02-05 14:38] C-Love commented on #1795
I have a user with some that are the older, normal version that do NOT have a duplicate with the new version.

I vote for 2 different scripts.

[2016-02-05 14:44] MelissaFox-Stearns commented on #1795
Yep me too.

[2016-02-05 14:52] theVKC commented on #1795
Wow, this is funny. Just emailed you all about it. This group is amazing.

My vote is for two scripts. @CDPotter: I assume you want this!

[2016-02-05 14:52] theVKC commented on #1795
Also, I don't think it's critical if it's only affecting a new DAIL message. If the old ones still work, it's an enhancement and not a critical bug fix.

[2016-02-05 14:53] theVKC commented on #1795
(But of that last comment, I'm open to suggestions otherwise, as I'm not processing them)

[2016-02-05 15:01] MelissaFox-Stearns commented on #1795
It's not a bug, but from the chaos surrounding me this morning... I would say it's critical.
It's funny how we forgot how we had to do all of this manually not that long ago.

[2016-02-05 15:04] theVKC commented on #1795
If this is causing a mild panic with counties, I'll mark it as a (somewhat rare) "critical enhancement".

[2016-02-05 15:10] CDPotter commented on #1795
Doing my Friday Intake but once I'm done I can upload.

[2016-02-05 15:21] theVKC commented on #1795
Excellent. Thank you @CDPotter!!

[2016-02-05 15:22] MelissaFox-Stearns commented on #1795
He da real VP!

[2016-02-05 15:28] theVKC commented on #1795
@CDPotter: earning MAJOR kudos right now. :100:

When completed and tested, can you pull this into both master and release, @CDPotter?

[2016-02-05 15:35] theVKC opened #1796 "Readme: modify "critical" to reflect admins have some discretion"
Today's issue (#1795) has made me want to review the "critical" definition in the readme. New language coming shortly.

[2016-02-05 15:38] #1796 closed

[2016-02-05 16:29] CDPotter commented on #1795
Question on pulling to release. TYMA TIKLer isn't there. Will that cause problems?

[2016-02-05 16:35] CDPotter commented on #1795
(my gut says pull the dail scrubber script along with the NDNH script then leave the TYMA one behind but keep the code in the dail scrubber script to avoid merge conflicts?)

[2016-02-05 16:47] #1795 closed

[2016-02-05 16:49] theVKC commented on #1795
I'd just copy the NDNH related code and pull that. Yes there might be a merge conflict, but I have a way around that using a force push.

[2016-02-05 17:07] theVKC commented on #1795
Instructions are updated. Thanks all! Go team, and especially go @CDPotter!

[2016-02-05 18:53] theVKC commented on #1714
OK folks, I have some big new priorities I need to prepare for. I'm moving this back to next month. I feel bad, but I can't devote the time this month to working on it (and I should have dedicated script time in March).

[2016-02-05 20:54] IlseFerris opened #1801 "Denied programs has colons that duplicate"
In some of the case note lines in this script there are colons after the initial case note line text, and the "write_bullet_and_variable_to_case_note" function are being used.

Hennepin Charles (Senhorc) is submitting a fix momentarily.

[2016-02-05 21:37] theVKC commented on #1801
Go @senhorc!

[2016-02-05 21:40] theVKC commented on #1801
Self assigning so I process it when I switch PCs shortly. @senhorc has this on lock! Woot!

[2016-02-05 22:07] IlseFerris commented on #1801
Woot indeed! @senhorc is here!

[2016-02-05 22:10] CDPotter commented on #1801
I feel like we almost need a introduction section for new people.

[2016-02-05 22:53] theVKC commented on #1801
I suppose I can always shoot out an email with info each time a new contributor joins in...

[2016-02-06 13:02] IlseFerris commented on #1801
An intro would be awesome! We should all do a little into piece too. It would be fun.

[2016-02-08 15:03] devonne01 opened #1804 "Enhancement-Combined AR script-interview date box"
HC and MSA do no require interviews. Can we make the interview box not a mandatory field?

[2016-02-08 15:30] C-Love opened #1805 "NOTES - CAF add checkbox - 'Clt willing to participate w/ E&T'"
User recommended we have this wording available on the CAF script so this can be established at interview. This will cover in case the client needs to access Banked Months as processing continues. No additional functionality, just a checkbox to add a line to the case note.

[2016-02-08 15:36] C-Love opened #1806 "NOTES - Explanation of Income Budgeted: Specify OT budgeting"
To improve error rates, workers need to be very specific about how OT is budgeted. Add some functionality to make assessment of OT income complete.

[2016-02-08 15:48] CDPotter commented on #1804
It isn't mandatory. The only loop untils are "Loop until worker_signature <> "" and review_status <> "Select one..." and actions_taken <> "" and recert_datestamp <> """

Has the error been happening to you?

[2016-02-08 17:33] courtrightd opened #1807 "banked month db updater needs a menu button on utilities"
assign to me of course.

[2016-02-08 17:43] devonne01 commented on #1804
You are correct. I was wrong..

[2016-02-08 17:43] #1804 closed

[2016-02-08 17:51] CDPotter opened #1810 "BUG CS disregard FIATER: unmarried parents with one shared kid and one non shared kid"
So we ran into a case that didn't work properly with the CS disregard FIATER because of the odd HH composition:

Memb 01: mom
Memb 03: mom and unrelated’s child
Memb 20: unrelated
Memb 21: unrelated’s child

(the script doesn't FIAT for memb 21 because it only looks at applicant's PARE)

I tend to lean towards this might just be one of those rare cases that needs to be processed manually but I wan

[2016-02-08 19:33] #1238 closed

[2016-02-08 19:37] #1801 closed

[2016-02-08 19:41] devonne01 opened #1812 "New Script idea"
foster care health care review received

Devonne will take

[2016-02-08 19:42] devonne01 commented on #1812
Looks like I pulled it before I put it on the issue list and it looks like it's #1811 so closing 1812

[2016-02-08 19:48] theVKC commented on #1810
We're at hackathon today. Here's a tag for all MAXIS attendees:

@MelissaFox-Stearns
@GayS
@StormageddonDLOA
@devonne01
@khiestand
@Y-Lor-Y
@C-Love
@IlseFerris

[2016-02-08 19:54] #1807 closed

[2016-02-08 19:54] CDPotter commented on #1804
No worries! Just wanted to make sure we didn't have any version/location issues.

[2016-02-08 20:06] Y-Lor-Y commented on #1810
I can reasonably say that there are quite enough amount of cases out there that this will be a common thing.  Some county may have it specialized where all of these cases are localized to one worker.

This might be more additional work, but could we have it where it does the following:

If PMI (from CS DAIL) = memb (the child rec’ving CS Incomes) = counts elig membs if elig membs under 18 (is this

[2016-02-08 20:44] devonne01 opened #1815 "Foster Care HCAPP-NOTES SCRIPT"
this will be for when a foster care health care application is received.

Devonne will take

[2016-02-08 20:45] khiestand opened #1816 "New Script - HC ICAMA Notes script"
Basic case noting script that details Adoption HC ICAMA.

Kelly will take this one.

[2016-02-08 21:05] Farleight commented on #1810
I won't be at the Thon, but Yang is correct, that sort of HH comp is not even remotely "rare." So if you're questioning the merit of fixing for it... there's merit. 267% sure on this one.

[2016-02-08 21:22] RobertFewins-Kalb commented on #1810
I like the approach of going to ELIG/MFIP, grabbing the reference numbers of all people that are eligible, then going to MEMB for each person to grab their age, then grabbing the cs amounts, then going back to ELIG to FIAT the results.

[2016-02-08 21:24] #1148 closed

[2016-02-08 21:34] MelissaFox-Stearns opened #1821 "Dail - New Hire- Have script check jobs panel carries through to next footer month"
When New Hire script adds a jobs panel in, often times it does not carry through to the next month.
It seems it would not be possible to have the script go into the next footer month to add or check for the jobs panel because it could cause a duplicate jobs panel to be entered.
What I am proposing is to have the New Hire script check for the "This data will expire on ...." when Jobs panel is enter

[2016-02-08 21:37] #1752 closed

[2016-02-08 21:46] theVKC commented on #1821
Love it. Good luck!

[2016-02-08 21:53] #1609 closed

[2016-02-08 21:59] #1812 closed

[2016-02-08 22:15] #342 closed

[2016-02-09 15:32] theVKC commented on #1810
+1 to all of you. @CDPotter: would you like to take this one?

[2016-02-09 16:37] #1603 closed

[2016-02-09 16:45] theVKC opened #1825 "NAV - PHONE NUMBER OR NAME LOOKUP: Stats concern in last name lookup"
It looks like it's saying just 10 seconds, period, regardless of how many screens it searches through. I'd think that 10 seconds is per REPT/* screen.

Thoughts? If other @MN-Script-Team/county-agency-scriptwriters agree that the name lookup should be more than 10 total seconds, we'll need someone to volunteer to take this one this week. :)

[2016-02-09 18:20] theVKC opened #1827 "How about a simple script called "New script template""
I can't believe I didn't think of this before. On it.

[2016-02-09 20:07] #1815 closed

[2016-02-09 20:12] #1787 closed

[2016-02-09 20:12] #1805 closed

[2016-02-09 20:30] #1816 closed

[2016-02-09 20:31] theVKC commented on #1734
Hey @CDPotter: think this will be done this week? Otherwise I don't want to include it in the v2016.02 release.

[2016-02-09 20:32] theVKC commented on #1252
@IlseFerris: think this will be done by Friday? Script freeze starts Tuesday.

[2016-02-09 20:32] theVKC commented on #1264
@C-Love: think this will be done by Friday? Script freeze starts Tuesday.

[2016-02-09 20:32] theVKC commented on #1601
@IlseFerris: think this will be done by Friday? Script freeze starts Tuesday.

[2016-02-09 20:33] theVKC commented on #1730
@Y-Lor-Y: think this will be done by Friday? Script freeze starts Tuesday.

[2016-02-09 21:05] theVKC opened #1828 "Update NOTES main menu with all new NOTES scripts"

[2016-02-09 21:06] #1827 closed

[2016-02-09 21:33] IlseFerris commented on #1252
This one's going to have to be March I'm afraid

[2016-02-09 21:33] IlseFerris commented on #1601
This will be ready prior to the freeze

[2016-02-09 21:38] Y-Lor-Y commented on #1730
I cannot promise by Friday.  I need to test some cases out internally with it, so see if there are any bugs.  I’m at the last part, where I am writing the case notes codes.

I’m thinking of spending sometime today on it after 4:30, to have that done then check in with a few GRH workers to test it.

*finger crosses* to see if it works well, then I’ll let you know.  But for sure you’ll have an answe

[2016-02-09 22:01] C-Love commented on #1264
Yes! I have a good start and time on Thursday. I want to get this done by then

[2016-02-10 14:07] theVKC commented on #1730
Sounds good, thank you!

[2016-02-10 14:07] theVKC commented on #1264
Beautiful. Thank you!!

[2016-02-10 16:29] IlseFerris opened #1830 "CAF bug: script does not navigate to footer month selected in initial dialog"
The script currently does not navigate to the selected footer month from the initial dialog that is inputted by the user. I will fix this once the FuncLib gets updated, as this will be fixed with the function I just created/pulled.

[2016-02-10 16:50] CDPotter commented on #1734
It's interview day today so I may have time to knock it out tomorrow?

[2016-02-10 16:56] theVKC commented on #1734
Great. I'm going to get the MEMOS changed over to NOTICES today, then. That needs to happen before the installer goes out. Oy.

[2016-02-10 16:56] CDPotter commented on #1810
Sure I can poke at it tomorrow after SNAP WCOM.

[2016-02-10 16:57] theVKC commented on #1810
Wonderful! I'll mark it for Feb release, but know you can always kick it back to March if you'd like.

[2016-02-10 20:26] theVKC commented on #1825
OK, I'm making the call and will add a counter to register each page it searches.

[2016-02-10 20:49] mldietz commented on #1825
I know it definitely takes more than 10 seconds to run. 10 seconds per page sounds about right.

[2016-02-10 20:57] GayS commented on #1825
agreed - thanks for fixing it @theVKC .

[2016-02-10 22:05] CDPotter commented on #1734
Question does CS disregard (MFIP which kinda has snap?) count as a SNAP related WCOM?

[2016-02-10 22:07] courtrightd opened #1831 "ABAWD BANKED MONTH FIATER bug"
apparently it is failing to write shelter deductions into the budget sometimes.  I have the fix.

[2016-02-10 22:24] StormageddonDLOA opened #1833 "phone number look up not working on all searchs"
Found an issue with the unified client search script where the phone number search didn't always work. Already have a fix and will put in a pull request.

[2016-02-10 22:24] CDPotter commented on #1734
Also, are we thinking make it in BULK/OTHER BULK's image?

[2016-02-11 00:40] #1831 closed

[2016-02-11 00:50] theVKC opened #1835 "UTILITIES scripts: need a temporary redirect"
I'll place it in the ACTIONS main menu. This will allow folks who haven't updated their Power Pads to get to use it.

[2016-02-11 00:59] #1794 closed

[2016-02-11 01:22] #1835 closed

[2016-02-11 01:46] #1612 closed

[2016-02-11 01:51] theVKC opened #1839 "UTILITIES - INFO: update worker signature getting ubound error"
Not sure what's going on with it. For now, I'm going to revert to the old version. @RobertFewins-Kalb: if you have time and want to debug this, please feel free. Otherwise, let me know, and I'll just close this issue as I've reverted to the old code.

[2016-02-11 03:25] #1735 closed

[2016-02-11 13:39] CDPotter commented on #1810
Since I don't know much about MFIP/DWP I may be asking a lot of questions.

If we go with pulling ref numbers of eligible people off of MFIP/DWP ELIG is it safe to then use anyone 18 and under (or is it up to 18th bday?) to count kids?

Is it possible to have someone unrelated who is under 18 who is eligible for MFIP/DWP? (say someone else's child staying with the applicant family)

Also any other

[2016-02-11 13:42] IlseFerris opened #1845 "CAF enhancement: include to option to select 6696 as HC doc"
Several users at Hennepin County have asked for this option to be added to the CAF dialog part 1 dialog.

I've updated this, pulling in this morning.

[2016-02-11 13:52] Farleight commented on #1810
They can remain on MFIP up to 19, assuming they're still in school.

I can't think of anyone unrelated who would be on the Cash portion of the grant without some kind of special custodial arrangement... potentially Uncle Harry... but it's been awhile since I've had an MFIP caseload, so wait for additional response on that one.

Relative Care MFIP happens often, but that's not really "odd" in the w

[2016-02-11 14:42] Y-Lor-Y commented on #1810
Let me put some scenarios up, hope it’ll help you.  I’ve put my response under your questions below…I welcome any inputs to my answers below and/or corrections.

****

If we go with pulling ref numbers of eligible people off of MFIP/DWP ELIG is it safe to then use anyone 18 and under (or is it up to 18th bday?) to count kids?

My response:
I also went back and review the CM 17.15.03 – it reference

[2016-02-11 15:14] RobertFewins-Kalb commented on #1839
I wouldn't be able to look at it this week. Although, I'm thinking that adding the Updated Signature button to the menu threw off the buttonpressed count further down in the script (where the email buttons are). I am not 100% about that though, since I tested the email buttons and they all worked fine.

Either way, I think we should just leave the update signature button off the INFO script. Maybe

[2016-02-11 15:54] RobertFewins-Kalb commented on #1810
@theVKC, do we know if the promised MAXIS enhancement is on the horizon? I worry about dedicating a bunch of time to correct a problem that is supposed to be resolved through MAXIS. We're looking over a game plan to enhance the script and it's not a simple one. Popcorn, @CDPotter!!

[2016-02-11 15:59] CDPotter commented on #1810
So we've had a few thoughts about how to restructure things:

1; use an excel file (not preferred method) to organize things and determine what kids should be eligible.

2: Use a HH member dialog to have workers select kids. This would create an array and we would bypass the PARE panel (resolving the unrelated parents with shared kid and non shared kid issue), then check UNEA and ELIG as it curren

[2016-02-11 16:15] courtrightd opened #1847 "Bulk CASE/NOTE from list button not working"
file name is wrong in main menu file.  I can pull it.

[2016-02-11 16:27] theVKC commented on #1839
Mine seemed to work OK on it's own, but failed when connected via GitHub. That's making me think you're right about the count.

I'll close the issue. We can always reopen it.

[2016-02-11 16:27] #1839 closed

[2016-02-11 16:27] Y-Lor-Y commented on #1810
I like option #2, and it  put a little incentive on the worker, too!  However, option #3 may be more effective in error reduction and time saving.

I think whichever of the two you choose, I’m fine with it.  Both process are a lot better than having the script stop, and telling the worker to review and process it manually.

Yang T. Lor | FCM Resource Trainer
Financial Assistance Services |  Ramsey

[2016-02-11 17:12] theVKC commented on #1810
I support option 2, @CDPotter and @RobertFewins-Kalb. I am inquiring as to the status of this issue with MN.IT, though. I vote to hold off until I know more (for obvious reasons @RobertFewins-Kalb touched on).

[2016-02-11 17:28] theVKC opened #1849 "Update "Statistics" folder: "Databases for script usage""
- [x] Update file path
- [x] Add @courtrightd's ABAWD database to it
- [x] Update GlobVar to reflect the actual factual database path
- [x] Add @courtrightd's ABAWD database path to GlobVar

On it.

[2016-02-11 17:40] #1833 closed

[2016-02-11 17:45] #1734 closed

[2016-02-11 17:53] courtrightd commented on #1847
I missed changing the DIM for the filename when I pulled it, so it doesn't work yet.  Sorry. @theVKC   Reopen issue if you want or let me know if I should make a new issue, but I'll drop a pull in a moment

[2016-02-11 17:54] #1830 closed

[2016-02-11 17:54] #1845 closed

[2016-02-11 17:55] #1847 closed

[2016-02-11 18:22] #1825 closed

[2016-02-11 18:44] #1849 closed

[2016-02-11 18:47] theVKC commented on #1810
Also, @CDPotter or @RobertFewins-Kalb: thoughts on dropping this from February release and targeting March instead? We have a day to complete it for February.

[2016-02-11 19:08] RobertFewins-Kalb commented on #1810
Yeah...March at the absolute earliest.

[2016-02-11 19:43] theVKC commented on #1264
FYI, I'm waiting on #1828 for this update. If you can let me know when it's done (or if it won't be done this month), that would be super!

[2016-02-11 19:43] theVKC commented on #1730
@Y-Lor-Y: I'm moving this to March. No pressure. Thanks for doing it!

[2016-02-11 20:03] theVKC commented on #1810
Closing this. Can re-evaluate in the future.

[2016-02-11 20:03] #1810 closed

[2016-02-11 20:39] theVKC opened #1853 "Very minor typo on NOTES - CAF"
NOTES – CAF  has the following format error on line 530:

IF E_and_T_checkbox = checked THEN CALL write_variable_in_CASE_NOTE("*Client is willing to participate with E&T")

There should be a space between * and Client to be consistent with the rest of the note.

I am not taking this, but I have a scriptwriter in the wings who might want this one.

[2016-02-11 21:15] #1853 closed

[2016-02-11 21:23] theVKC commented on #1853
@KateiMartini fixed this one for us. Thank you! #WashingtonCountyOnTheBoard

[2016-02-11 22:23] IlseFerris commented on #1853
Nice, and welcome Washington county!

[2016-02-11 23:31] Y-Lor-Y commented on #1730
Alrighty.  I won’t get it done, tested out live cases and it’s giving me some errors so I need to relook at my scripting.

Yang T. Lor | FCM Resource Trainer
Financial Assistance Services |  Ramsey County CHS
160 Kellogg Boulevard East, Saint Paul, MN  55101
P: 651-266-3621  |  Fax: 651-266-3705
E: yang.tou.lor@co.ramsey.mn.us
Schedule: M to Th, 7:45 AM to 6:00 PM
www.ramseycounty.us<http://www.ra

[2016-02-11 23:33] theVKC commented on #1777
I'm actually going to close this. #1828 is somewhat of a duplicate, and the actual solution for this is more complex than I'd like. It might actually be easier just to correct for the merge conflict. Oh well.

[2016-02-11 23:33] #1777 closed

[2016-02-12 01:57] theVKC opened #1856 "NOTES - FOSTER CARE REVIEW: issue with dialog ID"
@devonne01: looks like when you created this one, you inadvertently pulled in the version (which I saw you fix) that had the dialog name as county_burial_application_received. I saw you do it right, so I don't know exactly what happened.

All I know is: I'll fix it. :)

[2016-02-12 02:01] #1828 closed

[2016-02-12 02:01] #1856 closed

[2016-02-12 17:37] IlseFerris opened #1858 "SNAP E & T letter needs new manual referral option to be added"
People working with CBO's also need to have a manual referral made, along with a SPEC/LETR sent.

I'm on this!

[2016-02-12 19:08] CDPotter opened #1860 "BUG CAF no longer writing MM/YY in header for recerts"
CAF is writing ***/ recert: incomplete" looks like variable was changed to MAXIS_footer_month above but not below. On it.

[2016-02-12 19:17] CDPotter commented on #1860
NOTE: not an issue in release as release still has footer_month and footer_year.

[2016-02-12 19:20] CDPotter opened #1862 "SCRIPTING RELATED ONLY: Type mismatch MAXIS_footer_month_confirmation"
Has anyone else had any issues with testing the CAF offline? I keep getting a type mismatch for MAXIS_footer_month_confirmation. When I was testing a recent fix I couldn't test it with this function not commented out. Looking at the function it doesn't change any variables nor does the find_variable function it uses.

Anyone else hitting this?

[2016-02-12 19:22] theVKC opened #1863 "GAS CARDS ISSUED: Somehow this is still on the notes menu"
On it.

[2016-02-12 19:24] theVKC commented on #1860
Curious @CDPotter: why shouldn't we change all instances of `footer_month` to `MAXIS_footer_month`? I believe I might have initially suggested that to @IlseFerris when she was working on this. Seems more descriptive and jives well with other systems which use that terminology. Thoughts?

[2016-02-12 19:25] theVKC commented on #1862
If your "use_master_branch" isn't set to "true", I could see this happening. @IlseFerris' new function is only in the master branch, because it's under testing...

@CDPotter, can you confirm this so we can close the issue?

[2016-02-12 19:26] CDPotter commented on #1860
I know @RobertFewins-Kalb was on board with this since they use this convention in PRISM-land. I think it would be a good change.

[2016-02-12 19:27] theVKC commented on #1862
I don't know about you, but I know that @IlseFerris and I test with `run_locally` and GitHub Desktop, and this closely emulates the GitHub experience (of which branch goes where), but offline. This has allowed much greater flexibility in development.

[2016-02-12 19:27] CDPotter commented on #1862
That's the ticket! Closing!

[2016-02-12 19:27] #1862 closed

[2016-02-12 19:36] theVKC commented on #1860
One issue I could see with that approach (to contradict myself) is that we use footer_month in FuncLib for some logic:

![image](https://cloud.githubusercontent.com/assets/5701751/13018101/660931c8-d18d-11e5-84d5-31e97048c722.png)

So, if we go that route (which I support wholeheartedly), we need to apply it across the board.

I also support doing this with case_number. I think MAXIS_case_number i

[2016-02-12 19:40] CDPotter commented on #1860
Indeed, it would be quite the overhaul!

[2016-02-12 19:41] theVKC commented on #1860
I think we should talk about that with others at DHS hackathon next Monday (not this Monday).

[2016-02-12 19:46] CDPotter commented on #1860
Sounds like a plan, I can add a new issue to prompt discussion? (so we can resolve and close this one for now)

[2016-02-12 19:47] theVKC commented on #1860
Add it to FuncLib, actually. Seems that's the first place we'd need to evaluate, right?

[2016-02-12 19:48] CDPotter commented on #1860
On it.

[2016-02-12 20:04] #1601 closed

[2016-02-12 20:06] #1858 closed

[2016-02-12 20:08] #1860 closed

[2016-02-12 20:15] #1863 closed

[2016-02-12 22:45] IlseFerris commented on #1860
I updated many footer_month/footer_year in to MAXIS_footer_month and MAXIS_footer_year during Operation Doubtfire. This probably would be too bad in the script files, but it will be time consuming in the FuncLib.

[2016-02-13 19:34] #1264 closed

[2016-02-15 18:32] theVKC commented on #53
FYI all: I'm targeting this for the March release. I will be formally closing the Krabappel milestone today.

[2016-02-15 18:33] theVKC commented on #710
FYI all: I'm targeting this for the March release. I will be formally closing the Mic Drop milestone today.

[2016-02-16 13:35] theVKC opened #1866 "README.md: the link to the future release notes needs updating"
I'll wait until after freeze just to be safe, because this is a housekeeping update.

The old link was to a GitHub gist on my personal account. The new link is here: https://github.com/MN-Script-Team/Release-Notes.

[2016-02-16 14:57] IlseFerris opened #1867 "BULK MEMO FROM LIST, stats counter only counting as one"
@CDPotter, I was looking over your script to update the script list w/ time savings, and it looks like the stats counter is only counting the usage of the script as one instance, instead of it counting each instance within the script. Can you take a look at this one?

[2016-02-16 15:02] CDPotter commented on #1867
On it, I'll double check the other two.

[2016-02-16 15:04] IlseFerris commented on #1867
Awesomeness, and thank you! Take a look at BULK NON MAGI HC INFO if you need an example :)

[2016-02-16 15:34] CDPotter commented on #53
Ok regarding adding timesavings to this one (finally have time to sink my teeth into this) We want to:

A: count the time for each panel (should I make a new manualtime for each panel?)
B: count time appling/approving

This will be done partly in funclib(for each write_panel function) and the script right?

Since I was out for the timesavings rebuild it looks like the script end procedure writes o

[2016-02-16 17:14] courtrightd opened #1871 "NOTICES - SNAP E&T LETTER doesn't send letter if a single digit hour is entered for appointment time"
This prompts an error message, and the following two PF3s then cancel the letter.  Easy fix, pull coming.

[2016-02-16 17:15] courtrightd opened #1872 "NOTICES - SNAP E&T LETTER doesn't work for Duluth only"
Weird issue, but I have the fix.  Pull inbound.

[2016-02-16 18:14] #1871 closed

[2016-02-16 18:14] #1872 closed

[2016-02-16 18:29] IlseFerris opened #1875 "Doc noting menu & mileage reim NOTES scripts need to be removed"
NOTES - DOCUMENT NOTING MENU and NOTES - MILEAGE REIMBURSEMENT REQUEST scripts are either outdated, not used, replaced with other scripts or all of the above. @theVKC, assign this to me.

[2016-02-16 18:39] #1875 closed

[2016-02-16 18:43] #1867 closed

[2016-02-16 19:07] IlseFerris opened #1877 "NAV REPT SEARCH & PHONE # LOOK UP need to be removed"
Both scripts have been incorporated into new scripts, and need to be deleted. @theVKC, please assign to me.

[2016-02-16 19:21] CDPotter opened #1879 "New script Withdrawn Progs"
Would anyone be interested in a withdrawn programs script that works similar to denied progs? If so assign to me and I can update for statewide use and pull in.

[2016-02-16 22:15] #1877 closed

[2016-02-16 22:17] theVKC commented on #1879
I don't know if I like this idea... I think an action script to properly update panels (i.e. not just "whatever people want to put on PACT") might be better. I worry this would contribute to button overload, as it fairly neatly fits inside closing or denying a program.

My vote would instead to be special editboxes on both denied and closed progs. But, I'm open to suggestions from other @MN-Script

[2016-02-17 14:13] CDPotter commented on #1879
Makes sense, that was my original though but the people who suggested it thought it would be helpful to have some of the specifics (plus it calculates the rein days better than denied, but that could be fixed with withdraw specific boxes)

Here is the screens for the script I built and have running for our county.

![dlg](https://cloud.githubusercontent.com/assets/7841989/13111911/1773b88e-d54e-11

[2016-02-17 14:44] CDPotter opened #1880 "bug TIKL/MEMO from list buttons don't work"
I named them the variable name for the filepath in the initial commit. Fixing now.

[2016-02-17 14:47] CDPotter commented on #1880
Looks like we also lost the text for ADDR again and it displays OTHER BULK text 15. I'll fix that as well.

[2016-02-17 16:08] CDPotter opened #1882 "Bug case note/tikl from list"
Found another issue while creating instructions. Looks like in my copy and pasting I left in the wrong dialog call for the excel portion of these two scripts meaning the script defaults to the last dialog build and displays that. (interesting bug though!) Fix incoming.

[2016-02-17 20:51] IlseFerris opened #1884 "DAIL send NOMI needs update for release for Mic Drop"
A few enhancements are needed in preparation for Mic Drop's release on Monday. These include:
* MEMO sending to AREP and SWKR if client has AREP and/or SWKR
* Navigation back to the DAIL once actions are completed
* Comments
* last day for recert variable to be adjusted by user if necessary

@theVKC, assign this to me. I've got this.

[2016-02-17 22:33] ruthmaloney commented on #1879
I don't see anything wrong with it. We don't want people using PACT when they can complete the action using other panels (in this case the REPT/PND2), which this appears to do/promote. Is there anything out there that incorporates all of the PND2 actions that can be taken into one script? We see many cases where the applicant failed to interview, yet the worker fails STAT panels instead of changin

[2016-02-18 15:57] IlseFerris opened #1887 "Housing grant FIAT: FIAT multiple months"
I've had several requests for this enhancement. DHS sends out a list (I believe monthly) on cases that need to the Housing grant FIATed into the case. This would be a huge win for all counties. The ABAWD Banked MONTHS FIATer has this functionality so it should be pretty easy to replicate.

[2016-02-18 16:05] IlseFerris opened #1888 "Exempt county handling for SNAP E & T letter & ABAWD banked months FIATer"
x144 - Mahnomen is now exempt from E & T per SIR announcement. The other counties that are exempt have been blocked from using this script, so this county will need to be updated.

@theVKC, Assign this one to me.

[2016-02-18 16:07] courtrightd commented on #1879
Perhaps the pnd2 issues could be helped with an enhancement to denied progs along the lines of:
Check here to have the script deny from REPT/PND2 if the applicant did not complete the interview and NOMI was sent.
Check here to have the script deny from REPT/PND2 if the applicant withdrew their application.

From: ruthmaloney [mailto:notifications@github.com]
Sent: Wednesday, February 17, 2016 4:34

[2016-02-18 16:08] ruthmaloney commented on #1888
Aitkin and Mahnomen were both approved to be exempt

Ruth Maloney

From: Ilse Ferris [mailto:notifications@github.com]
Sent: Thursday, February 18, 2016 10:05 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Subject: [DHS-MAXIS-Scripts] Exempt county handling for SNAP E & T letter & ABAWD banked months FIATer (#1888)

x144 - Mahnomen is now exempt from E & T per SIR a

[2016-02-18 16:12] #1880 closed

[2016-02-18 16:12] IlseFerris commented on #1888
Good to know, adding x101 to the issue. Thanks @ruthmaloney!

[2016-02-18 16:13] theVKC commented on #1882
This is interesting. I also discovered some interesting stuff about dialogs and buttonpressed functionality. Remind me to play with it on Monday.

[2016-02-18 16:15] #1882 closed

[2016-02-18 16:15] CDPotter opened #1889 "Update NOTICES and BULK menus to follow new NOTES conventions"
The new NOTES MAIN MENU conventions are less error prone than the current dynamic dialogs in NOTICES and BULK. They should be updated to all be the same convention.

[2016-02-18 16:20] theVKC commented on #1887
How would you propose to do this programmatically? Just curious what your steps would be.

[2016-02-18 16:20] theVKC commented on #1887
Also, do you want it?

[2016-02-18 16:23] theVKC commented on #1879
How about a prompt that asks the worker details, and then it does the right thing PND2-wise, turning this "withdrawal note" into a more comprehensive actions script around "properly deny this case"?

[2016-02-18 16:26] IlseFerris commented on #1887
It doesn't look like I have a choice now...LOL!
I'm thinking that we give a start date option, then FIAT through current month + 1. Basically go in and create a FOR..NEXT loop starting with the initial month selected, making and saving the FIAT, and repeating until CM + 1.

[2016-02-18 16:35] theVKC commented on #1888
I've assigned this for March as it isn't a bug. The workers should simply refrain from using the script, right? Unless someone can give me a compelling reason to elevate it to a bug-to-be-fixed.

[2016-02-18 16:37] theVKC commented on #1889
Good call. See FuncLib 163: https://github.com/MN-Script-Team/BZS-FuncLib/issues/163.

Want this one? Once the NOTES function is proved to be working I'll move a version to FuncLib that will also allow automatic alpha-splitting.

[2016-02-18 16:44] ruthmaloney commented on #1879
I like it

Ruth Maloney

From: David Courtright [mailto:notifications@github.com]
Sent: Thursday, February 18, 2016 10:07 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Maloney, Ruth S (DHS) <Ruth.Maloney@state.mn.us>
Subject: Re: [DHS-MAXIS-Scripts] New script Withdrawn Progs (#1879)

Perhaps the pnd2 issues could be helped with an enhancement to denied progs a

[2016-02-18 16:46] theVKC commented on #1887
That could work. Perhaps...

[code]

Whatcha think? Objects maybe?

[2016-02-18 16:47] theVKC commented on #1879
Thoughts @CDPotter? @courtrightd? Anyone else paying attention to this thread? :)

[2016-02-18 16:52] devonne01 commented on #1879
I like it too ☺

From: ruthmaloney [mailto:notifications@github.com]
Sent: Thursday, February 18, 2016 10:44 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Devonne R. Kent
Subject: Re: [DHS-MAXIS-Scripts] New script Withdrawn Progs (#1879)

I like it

Ruth Maloney

From: David Courtright [mailto:notifications@github.com]
Sent: Thursday, February 18, 2016 10:07 AM
To: MN-Script-Team/DHS-MAXIS-Scripts

[2016-02-18 16:54] CDPotter commented on #1879
Sorry case work was calling.

So the thoughts are:

1: to add to denied progs to adjust the rein dates and case note when things are denied off of PND2 and with what code

or

2: Rework the withdrawn progs draft into an actions script that updates PND2 based on what code you entered into an edit box?(or what checkbox you pick)

My only fear with option 2 is having the script take a denial action f

[2016-02-18 17:01] Y-Lor-Y commented on #1879
Just piggy back on the option 2 Charles mentioned…Could we do it where, it’ll give them an option (dialog or msgbox) to choose (check box) or an edit box to put the info in, when it gets to that part (so the incentive is still on the worker’s taking action).  So the script will still be running from start to end, up to prior to APP’ing.  Though, this might take a bit more work.

Yang T. Lor | FCM

[2016-02-18 17:05] theVKC commented on #1879
Personally I like both options 1 and 2. But I'm a jerk sometimes. :P

I don't think updating the PND2 code via script is on the same realm as APPing with a script, as APPing immediately triggers many, many additional actions and I don't think updating PND2 does that right away (could be wrong). @ruthmaloney: any thoughts on that?

[2016-02-18 17:05] courtrightd commented on #1879
I support enhancing denied progs purely for the sake of having less total scripts.  Another possibility to avoid the script taking the action would be to have denied progs check REPT/PND2 before the dialog pulls up, and autofill the denial reason editbox with the reason if it found a PND2 denial.  That way a worker incorrectly using PND2 would have to erase the “interview not completed, NOMI was s

[2016-02-18 17:07] theVKC commented on #710
@IlseFerris: see #1889 about a planned upgrade to the BULK Main Menu... Perhaps that step should come before adding this script?

[2016-02-18 17:08] theVKC commented on #1879
Ooooh, I like that @courtrightd. A MsgBox could explain why it's filling in what it did, and that would be a good alert-without-telling-the-worker-exactly-how-to-do-their-job...

[2016-02-18 17:09] CDPotter commented on #1879
@courtrightd I like that idea a lot.

[2016-02-18 17:11] ruthmaloney commented on #1879
When the code on PND2 is updated to an “I” (incomplete) or “R” (withdrawal), it will auto-deny during the overnight batch. When it’s changed from the “P” to an “A” (Agency delay) or “C” (Client delay), it will continue pending and only change what is stated as the delay cause on the pending notice that is sent on the 30th day.

Ruth Maloney

From: Veronica Cary [mailto:notifications@github.com]
Se

[2016-02-18 17:12] RobertFewins-Kalb commented on #1879
@courtrightd, that has my vote as well, especially if it is identifying which programs are being withdrawn from the coordinates of the R.

[2016-02-18 17:20] ruthmaloney commented on #1879
I’m torn… We need workers to be aware of the PND2 codes and understand how to get correct notices to go out to the client and when to use STAT panels.

Is there a way to have check boxes for why the case is being denied, ex: missing verifications, no interview, app withdrawn, etc… then some type of prompt to ask/say how/what panels/method they should use to deny. So if they check “no interview”, i

[2016-02-18 17:25] CDPotter commented on #1879
So to sum, this will be an enhancement to DENIED PROGS that will now

1: Head to rept/pnd2 and read the program and code
2: If the program code is I or R write that program and reason in the "Denial reason" edibox (EX: SNAP: withdrawn on PND2)
3: Inform the worker if this information is found via a message box (EX: SNAP was coded with an R on PND2. This information was automatically entered on you

[2016-02-18 17:26] devonne01 commented on #1879
I like that idea

From: ruthmaloney [mailto:notifications@github.com]
Sent: Thursday, February 18, 2016 11:21 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Devonne R. Kent
Subject: Re: [DHS-MAXIS-Scripts] New script Withdrawn Progs (#1879)

I’m torn… We need workers to be aware of the PND2 codes and understand how to get correct notices to go out to the client and when to use STAT panels.

Is there

[2016-02-18 17:27] theVKC commented on #1879
As this is purely informative, I'm guessing @CDPotter's proposal supports @ruthmaloney's concern?

From my end, I like it.

[2016-02-18 17:29] CDPotter commented on #1879
(Sorry @ruthmaloney missed your comment while I was typing that)

My proposal might miss some of the points Ruth was getting at with regards to reminding workers when to code what.

Personally what we did here at Anoka was to create a small cheat card that we asked people to put at their desk. It specific when you're allowed to use PACT/PND2/STAT to deny for SNAP

[2016-02-18 17:44] courtrightd commented on #1879
Okay, so to address those concerns, what if there are 3 checkboxes added, 1 for verifs, 2 for the pnd2 reasons, and the denial reason editbox becomes “other reason:”   (Then there is a visible reminder to use PND2 correctly)There is existing code in the script that I put there to check notices to see if verifs needed was the reason (and edit them if requested).  What if we modify it so that it che

[2016-02-18 17:49] ruthmaloney commented on #1879
Charles – will you email me that please? I’d love to be able to share it with agencies this year.

Ruth Maloney

From: Charles P [mailto:notifications@github.com]
Sent: Thursday, February 18, 2016 11:29 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Maloney, Ruth S (DHS) <Ruth.Maloney@state.mn.us>
Subject: Re: [DHS-MAXIS-Scripts] New script Withdrawn Progs (#187

[2016-02-18 17:52] ruthmaloney commented on #1879
I think I love it!

Ruth Maloney

From: David Courtright [mailto:notifications@github.com]
Sent: Thursday, February 18, 2016 11:44 AM
To: MN-Script-Team/DHS-MAXIS-Scripts <DHS-MAXIS-Scripts@noreply.github.com>
Cc: Maloney, Ruth S (DHS) <Ruth.Maloney@state.mn.us>
Subject: Re: [DHS-MAXIS-Scripts] New script Withdrawn Progs (#1879)

Okay, so to address those concerns, what if there are 3 checkboxes a

[2016-02-18 18:24] theVKC commented on #1887
I should clarify, this would be objects plus arrays.

[2016-02-18 18:38] IlseFerris commented on #1887
Looks doable to me

[2016-02-18 18:45] IlseFerris opened #1891 "Pay stubs rec'd- case noting the PIC all wonky"
Has anyone gotten reports of the SNAP PIC is not case noting correctly?
![image](https://cloud.githubusercontent.com/assets/10836829/13154241/b4441b50-d63d-11e5-8617-414a6e553303.png)

This seems to be happening in both branches.
This is from release branch:
![image](https://cloud.githubusercontent.com/assets/10836829/13154296/ed5e15b2-d63d-11e5-9400-decb33a2a146.png)

[2016-02-18 18:53] theVKC commented on #1891
You'd think this would be fairly widely reported. I'd be curious to know if it's happening elsewhere.

[2016-02-18 19:08] CDPotter commented on #1891
Hmmm... worked properly for me.. I see you were able to repeat it. Anything odd about the data entered?
(I ran it on a case with a job, with 3 checks paid weekly, and only asked it to case note the PIC)

![test](https://cloud.githubusercontent.com/assets/7841989/13154874/b951caae-d640-11e5-8009-0a460525048d.png)

[2016-02-18 19:12] asunderman commented on #1891
From one of my co-workers….
I’ve noticed that sometimes it will use old information.  As in, I am processing a 3/16 renewal but the check amounts case noted for the PIC are from previous months.  I can’t say for sure that I wasn’t in a different footer month but I don’t feel like that should matter when you tell the script what month the review is for.  Does this make any sense to you? ☺

From: Ch

[2016-02-18 19:13] theVKC commented on #1891
@IlseFerris: is it possible the footer_month confirmation deal from the CAF script could also affect this?

[2016-02-18 19:13] CDPotter commented on #1891
@asunderman that's happening when you run paystubs rec'd or a renewal script?

[2016-02-18 19:21] CDPotter commented on #1891
Initial assessment: looks like it's reading the base jobs panel rather than the PIC. So the script is having some kind of issue getting into PIC to read it. Could be PIC isn't open long enough to read, could be PIC isn't getting opened, could be connection issues?

@IlseFerris Maybe putting a waitready in front of the part where it reads the PIC might help? Since I can't seem to replicate it I can

[2016-02-18 19:25] IlseFerris commented on #1891
I used 5 pay stubs each time. this might be throwing the error.
I am going to test with 3, 4, 5 pay stubs after my very late lunch :(

[2016-02-18 19:26] CDPotter commented on #1891
Ok, go eat first! Gotta fuel the brain before tackling weird things like this!

[2016-02-18 19:27] theVKC commented on #1891
Go eat @IlseFerris.

[2016-02-18 19:29] IlseFerris commented on #1891
current_status = "eating"

[2016-02-18 19:36] asunderman commented on #1891
renewal

From: Charles P [mailto:notifications@github.com]
Sent: Thursday, February 18, 2016 1:14 PM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Sunderman, Ann
Subject: Re: [DHS-MAXIS-Scripts] Pay stubs rec'd- case noting the PIC all wonky (#1891)

@asunderman<https://github.com/asunderman> that's happening when you run paystubs rec'd or a renewal script?

—
Reply to this email directly or view it on

[2016-02-18 19:40] CDPotter commented on #1891
Ah well that would be a separate issue than this one with the paystubs rec'd. Could you create a new issue and detail what has been happening with what scripts?

[2016-02-19 03:14] theVKC opened #1892 "use_master_branch should default to "true""
This is critical as a new installer is being tested that expects this. The installer manually changes it to false. This should help scriptwriters who often run into problems with functions-not-yet-pulled-to-release (@CDPotter, eh?).

[2016-02-19 03:16] #1892 closed

[2016-02-19 13:42] IlseFerris commented on #1891
Thanks @CDPotter for troubleshooting with me :)

Looks like the issue is isolated to case noting the PIC for 5 pay stubs (or more pay stubs). The functionality of updating the PIC and JOBS is still in tact. I'll work on a fix this morning.

[2016-02-19 15:02] MelissaFox-Stearns commented on #1891
I have had this issue happen to me before but when I tried to replicate it a second time, it worked fine.

[2016-02-19 15:08] MelissaFox-Stearns opened #1893 "HH Comp/Baby Born script doesn't case note from Other Notes field."
A co-worker just brought this to my attention. When you click Notes- HH Comp Change- Baby Born. The Other Notes field in the dialog box doesn't case note.

I think it would be an easy fix but I can't find the script on the master branch...

[2016-02-19 15:10] IlseFerris commented on #1893
It's been replaced by NOTES - CHANGE REPORTED.

[2016-02-19 15:34] theVKC commented on #1893
We should probably remove the script from the NOTES MAIN MENU if it's still showing up.

[2016-02-19 15:35] theVKC commented on #1893
Anyone want it? I'm in a meeting but have GitHub up. I can quick complete a pull request if needed.

[2016-02-19 15:37] IlseFerris commented on #1893
Baby born looks like it's already been removed, just HH comp is still there in the Master branch.

[2016-02-19 15:45] MelissaFox-Stearns commented on #1893
Yeah it's the hhld comp script that's running the same script as change reported.
I can fix the Change Reported script so it case notes the "Other Notes" field. I can probably get to it some time today.

[2016-02-19 16:08] IlseFerris opened #1894 "Spelling error on the SNAP E & T letter"
ABAWD not AWAWD, whoops!
Assign to me to update.

[2016-02-19 16:23] #1894 closed

[2016-02-19 16:37] courtrightd commented on #657
This is finally working.  Does it belong in BULK or UTILITIES?

[2016-02-19 16:45] theVKC commented on #657
I'd call it BULK like a list. FYI, we'll be rebuilding the BULK MAIN MENU to utilize my new automatic-dialog-generation functionality from NOTES. You may want to wait on uploading it until after hackathon when we've worked this stuff out.

[2016-02-19 16:46] CDPotter opened #1896 "Possible bug appt letter writing last day to complete interview 12/31/1899"
Anyone else hitting this bug? I had it reported by one user on one case and I haven't been able to repeat it.

![appt letter](https://cloud.githubusercontent.com/assets/7841989/13182162/07ae686e-d6f6-11e5-97c0-059842206c82.png)

[2016-02-19 16:48] theVKC commented on #1896
Seems like a looping error or something.

[2016-02-19 16:51] courtrightd commented on #657
I will do that.

From: Veronica Cary [mailto:notifications@github.com]
Sent: Friday, February 19, 2016 10:45 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: David Courtright
Subject: Re: [DHS-MAXIS-Scripts] EOMC enhancement or variation ~ Compare initial EOMC data to actual closed cases on or after 1st of the month (#657)

I'd call it BULK like a list. FYI, we'll be rebuilding the BULK MAIN MENU to ut

[2016-02-19 16:52] IlseFerris commented on #1896
Hennepin has this script disabled, so nothing on this end (obviously) :)

[2016-02-19 16:54] theVKC commented on #1896
Is there a chance the date functionality reading a date incorrectly? As in it's dividing 02 by 11 then by 2016?

[2016-02-19 16:56] CDPotter commented on #1896
Not sure... Here is where it's generated.
![code](https://cloud.githubusercontent.com/assets/7841989/13182413/30760742-d6f7-11e5-874f-8678fc2dc156.png)

I couldn't be a leap year thing right? Since I've been having a hard time replicating it I'm thinking maybe it's just a fluke but I wanted to check with others.

[2016-02-19 17:03] theVKC commented on #1896
Ooooooh, that might be it.

[2016-02-19 17:46] CDPotter opened #1898 "Question: Approved Progs, not grabbing results if version is from yesterday but approval today"
The script seems to go to ELIG SUMM and bases if it will continue on is date of the last version matches current date. Had a worker who ran things through background last night before closing and then approved those results from 2/18/16 on 2/19/16.

Should we leave it this way to encourage people to not use old results?

[2016-02-19 18:57] IlseFerris opened #1899 "SIR instructions buttons error"
When NOTICES is pressed, it goes to the BULK instructions
Link to notices: https://www.dhssir.cty.dhs.state.mn.us/MAXIS/blzn/Script%20Instructions%20Wiki/Notices%20scripts.aspx
When NOTES is pressed, nothing happens
Link to notes: https://www.dhssir.cty.dhs.state.mn.us/MAXIS/blzn/Script%20Instructions%20Wiki/Notes%20scripts.aspx

[2016-02-19 18:58] IlseFerris commented on #1889
Just as an FYI: the current NOTICES menu still says "MEMOS" in the dialog header and within the text of the dialog box. I'm sure this will be totally redone, but in case this doesn't get released into the RELEASE branch right away, this may be it's own issue.

[2016-02-19 19:52] CDPotter commented on #1899
We should be able to fix this Monday if we revamp the menus (otherwise if we don't get to it a quick update should be able to resolve them in Master and Release)

[2016-02-19 19:55] IlseFerris opened #1900 "NOTES R-Z scripts are out of order"
There's some creative alphabetizing that occurred here :)
![image](https://cloud.githubusercontent.com/assets/10836829/13187394/617b365a-d710-11e5-8355-6d7639f1429c.png)

[2016-02-19 19:55] IlseFerris commented on #1900
We can also take care of this on Monday

[2016-02-19 19:57] IlseFerris commented on #1899
Agreed, we should try to do all the updates to the main menus on Monday

[2016-02-20 17:31] C-Love commented on #1879
You guys are amazing! (I've been following along but busy with interviews and such) I think this will help us SO much! This is a huge area of errors for us. I think putting the wording for the notice in the way @courtrightd is saying will help workers be way more aware of the issues around these denials.

Go team!

[2016-02-20 17:33] C-Love commented on #1898
This would be an easy enough fix but personally I am hesitant. I don't know how often this would come up and am inclined to say we encourage people not to use old ELIG results. A BGTX takes less than a minute.

[2016-02-20 17:35] C-Love opened #1902 "Bug on Expedited Determination - Gathering asset information error"
I have found some situations in which the gathering asset information from PNLR errors out. I have a fix - going to pull it in.

[2016-02-20 18:15] C-Love opened #1904 "Bulk Case Transfer - worker number entry is only 3 digits"
For the sake of consistency! Bulk case transfer currently asks for only the last 3 of the x-number. All scripts should request the worker numbers in the same format

[2016-02-20 18:21] C-Love opened #1905 "Bug on bulk case transfer - TANF_months error"
Script errors out when requesting programs other than MFIP AND requesting MFIP to have a certain number of TANF months. The logic around comparing the TANF Months ends up with a string being compared to a number for the non-MFIP cases.

Fix is done - I will pull it in.

[2016-02-21 20:49] #1893 closed

[2016-02-21 20:51] theVKC commented on #1898
I agree with @C-Love: better to encourage a BGTX. You never know what can change in a day... what if the income standards or HEST standards changed in that day? Better safe than sorry.

[2016-02-21 20:51] #1898 closed

[2016-02-21 20:52] #1902 closed

[2016-02-21 20:52] theVKC commented on #1904
Agreed!

[2016-02-21 20:55] theVKC commented on #1904
Normally I wouldn't do this (technically we're breaking freeze here), but since @C-Love added this minor housekeeping enhancement with a bug fix, I will pull it through on v2016.02.

[2016-02-21 20:56] theVKC commented on #1896
@CDPotter: let me know if you confirm the solution works. If that's the fix I'll call it critical and we'll push it through to release as well.

[2016-02-21 21:04] #1904 closed

[2016-02-21 21:04] #1905 closed

[2016-02-22 00:47] theVKC opened #1908 "Add GlobVar "last updated date" file for installer"
If we set that up correctly, the installer can check to see if Global Variable updates were made (or perhaps the INFO button could do this too), and recommend an update.

[2016-02-22 00:49] theVKC commented on #710
Now that this is close to finished, we need to formalize a multi agency test plan. I believe the following have shown interest in the past:

* @courtrightd
* @GayS / @MelissaFox-Stearns / @StormageddonDLOA
* @C-Love / @Y-Lor-Y / @kaleykobber
* @LaLarson

@IlseFerris: I think we should find a few teams at Hennepin to pilot this for the upcoming month.

[2016-02-22 15:19] Y-Lor-Y commented on #1887
Am I thinking the same processing...These notes from DHS is referring to retro months.
If that's the case, that might work along then line with what @C-Love and I were talking about from Ramsey County about going back to retro months and approved via Mony/Check for the housing grants.

OR is this something totally different?

[2016-02-22 15:33] CDPotter commented on #1896
After a day I was unable to replicate this error in any fashion. Closing for now.

[2016-02-22 15:33] #1896 closed

[2016-02-22 17:44] #1899 closed

[2016-02-22 17:44] #1900 closed

[2016-02-22 17:45] #1884 closed

[2016-02-22 17:47] #1891 closed

[2016-02-22 19:51] #1888 closed

[2016-02-22 20:18] courtrightd opened #1911 "Actions - paystubs received has troubleshooting msgbox's"
In master branch only, someone forgot to remove a few msgbox's that don't belong before they pulled on Friday.

[2016-02-22 20:20] IlseFerris commented on #1911
I'm the someone @courtrightd, pick me! And thanks for cleaning up my MsgBoxes :)

[2016-02-22 21:26] #1911 closed

[2016-02-22 21:31] #1908 closed

[2016-02-22 21:35] theVKC commented on #710
Made the decision to move this to the April release to allow Anoka, Ramsey, and Hennepin a month of testing pre-master release.

[2016-02-22 21:39] StormageddonDLOA opened #1915 "Over-payment case note script not going to the next page."
Co-worker reported that the over-payment case note script she entered didn't advance to the next page and ended up overwriting on page 1.

[2016-02-22 21:39] #1866 closed

[2016-02-22 21:40] theVKC commented on #1915
Is this duplicate-able? This happens on occasion because MAXIS hangs up and it isn't a "script issue" as much as a MAXIS issue...

[2016-02-22 21:42] StormageddonDLOA commented on #1915
I'll start testing and see what I can come up with.

[2016-02-22 21:43] theVKC commented on #1915
Generally speaking, we don't consider it a bug if we can't duplicate it... it might just be a MAXIS hiccup.

[2016-02-22 21:50] StormageddonDLOA commented on #1915
looks like it was just a hiccup as I can't duplicate it. I'll see if the worker can duplicate it.

[2016-02-22 22:06] #1915 closed

[2016-02-22 22:10] StormageddonDLOA commented on #1915
just a hiccup - closing issue

[2016-02-23 22:13] courtrightd opened #1916 "Training Case Creator bug with Unea"
Needs a Warning message check for COLA, pull request coming

[2016-02-23 22:14] courtrightd commented on #1916
Belongs in Funclib.  OOps.

[2016-02-23 22:14] #1916 closed

[2016-02-24 15:24] IlseFerris opened #1917 "Explanation of Income Budgeted: Add info about Self employment income"
At mentor meeting this morning, self employment income was reviewed and clarified. Since it's an error prone area, maybe self employment should be added to the 'explanation of budgeted income' script. Or maybe it's better as it's own script. Thoughts?

[2016-02-24 16:06] courtrightd commented on #1917
My vote is for add it to the current income budgeted script, as It is more likely to become habit to note income using 1 script.  What about a dynamic dialog system, where the dialog that comes up is split in 3 sections: Busi, Jobs, Unea;  and which sections appear is dependent on which panels are found?  That way if there is a BUSI panel, it gets it’s own description box as well as checkboxes for

[2016-02-24 16:12] theVKC commented on #1917
I agree, add to the existing script.

[2016-02-24 17:43] theVKC commented on #1917
I'm thinking we should try and get this out this month. Does anyone want it? Or do we still want a debate?

[2016-02-24 17:45] theVKC opened #1918 "README.md: reference our Slack team"

[2016-02-24 17:59] IlseFerris commented on #1917
My vote is one script as well. @C-Love was working on adding overtime information to Explanation of Income Budgeted too, just as an FYI. Whoever takes this should coordinate with her.

[2016-02-24 18:02] CDPotter opened #1919 "Bug NOTES 1503, unable to update HCMI"
The 1503 script doesn't PF9 or NN when editing a HCMI panel. Adding this functionality.

(also changing where script checks for MAXIS after dialog)

[2016-02-24 18:15] theVKC commented on #1919
As this is a notes and not an ACTIONS, this might not be critical enough for RELEASE. The user can still take care of it manually and I'm guessing it's pretty clear the HCMI wasn't updated (so they won't exactly miss that it didn't happen, right)?|

Thoughts?

Critical criteria: https://github.com/MN-Script-Team/DHS-MAXIS-Scripts#critical-issues

[2016-02-24 18:42] CDPotter commented on #1919
Well it's impossible to use the checkbox to edit HCMI without this fix. It just does nothing. I don't know how important it is to add the DP and if you click the checkbox the end user would assume it did it and thus not check.

[2016-02-24 19:13] IlseFerris opened #1922 "Add "MMIS Updated" checkbox to NOTES - HC RENEWAL"
This could be nice. I'm on it.

[2016-02-24 19:14] IlseFerris opened #1923 "HC renewal doesn't allow user to change footer month"
Date is set to CM + 1, when the user should able to select the applicable month. I got this.

[2016-02-24 19:14] theVKC commented on #1919
I think since it's primarily for noting (it isn't an ACTIONS script) I wouldn't call it critical. So, I'll close the RELEASE version. The more pull requests I accept on RELEASE directly, the more merge conflicts I risk. The February release was challenging (1-2 hours instead of 10 minutes), so I'd like to minimize this risk in the future.

[2016-02-24 19:15] theVKC commented on #1923
But... doesn't the autofill only work in CM+1?

[2016-02-24 19:16] CDPotter commented on #1919
Sounds good, Anoka is on Master so it won't affect us.

[2016-02-24 19:20] CDPotter commented on #1923
They can already change the footer month and it should affect which month the script autofills from. It just defaults to CM+1 since most renewals are for CM+1.

[2016-02-24 19:43] IlseFerris commented on #1923
Users can already change the footer month, but the issue is if the client is in the footer month of 0/16, and the script defaults to footer month 03/16, the information from 01/16 is still inputted into the dialog boxes/case note, and that is no good.
In theory, if a user has updated a current renewal for CM + 1, the CM + 1 footer month/year will be read off of MAXIS. I stand by my update.

[2016-02-24 19:47] CDPotter commented on #1923
I see I wasn't understanding what the issue was. So if someone is in stat in 03/16 and the run the script and enter 02/16 it won't back out to self and switch to 02/16?

[2016-02-24 19:48] theVKC opened #1925 "HC Renewal: add "cost effective insurance availability" editbox"
This came from a user in Ottertail County. @IlseFerris, any chance you can add this to your existing pull request?

[2016-02-24 19:51] IlseFerris commented on #1923
Yes, that's correct. The CAF had the same issue, but I already updated the CAF. We might have to research this in a few other scripts as well.

[2016-02-24 19:52] IlseFerris commented on #1925
Since it was assigned to me, yes...LOL!

[2016-02-24 19:53] theVKC commented on #1925
I predicted you'd jump at the chance.

[2016-02-24 19:54] IlseFerris commented on #1925
You know me well :)

[2016-02-24 19:59] theVKC commented on #1917
Well I think she's out today, but perhaps @C-Love wants to take this one?

[2016-02-24 22:28] IlseFerris opened #1926 "DAIL send NOMI office hours incorrect for NW region"
NW regional office closes at 430, not 5. I got this.

[2016-02-25 13:39] C-Love commented on #1917
I was out (Wednesdays are my day off for anyone who is tracking my schedule). I will take it. I do like Self Employment

I will take a look at the Mentor Meeting notes on SIR.

[2016-02-25 14:34] CDPotter commented on #1889
Do we want to alpha split BULK/NOTICES or keep the them same as they currently are?

[2016-02-25 15:46] IlseFerris commented on #1889
I was thinking that I would create category buttons (similar to the NOTES main menu), except that the scripts would be separated by category. Are you taking the NOTICES menu @CDPotter? Either way, we should probably make them each their own issue. I was planning on taking BULK

[2016-02-25 15:49] CDPotter commented on #1889
Oh I was just going to tackle both of them since it's basically just converting NOTES MAIN MENU into BULK and NOTICES. Can you elaborate more on your ideas on how to split them?

[2016-02-25 16:05] IlseFerris commented on #1925
Done and done

[2016-02-25 17:44] CDPotter opened #1928 "BUG BULK COLA Auto approved noter error line 1,1"
Missing ) somewhere. Investigating. Not critical as these notices haven't been around since 06/15.

[2016-02-25 19:26] CDPotter commented on #1889
Per sidebar with Ilse we decided to keep the current split for BULK and NOTICES

[2016-02-25 19:27] theVKC commented on #1889
I was thinking we could add to the function an ability to have other splits. Perhaps as an additional item on the class (`.alpha_split_override`). That way we could maintain separate splits for LTC, List Gens, et al.

[2016-02-25 20:10] #1919 closed

[2016-02-25 20:12] #1922 closed

[2016-02-25 20:12] #1923 closed

[2016-02-25 20:12] #1925 closed

[2016-02-25 20:15] #1926 closed

[2016-02-25 20:17] #1928 closed

[2016-02-25 20:22] #1889 closed

[2016-02-25 20:29] theVKC commented on #1821
@MelissaFox-Stearns: have you started on this? Just curious about an ETA... I've heard info about possible New Hire procedure changes and I'm wondering if it would make more sense to close this.

[2016-02-25 20:30] MelissaFox-Stearns commented on #1821
Oh really? I'm done with it I just haven't pulled it yet. Should I hold off?
What kind of changes are they making?

[2016-02-25 20:34] IlseFerris commented on #1252
I'm going to close this for now. My March is looking really fierce, and this has been getting the backseat for months now. Shut it down, Ferris. Shut it down.

[2016-02-25 20:34] #1252 closed

[2016-02-25 20:37] theVKC commented on #1821
Nothing affecting the main running of the script, as far as I know, but you never really know. If you've already done it, I think we're OK to pull it.

[2016-02-25 20:51] #1918 closed

[2016-02-25 21:01] IlseFerris opened #1932 "APPT letter needs restriction for Hennepin Co users"
The APPT letter was restricted for Hennepin users in the MEMOS - main menu. With the main menu updates, it makes sense that this moves to the script itself. I got this.

[2016-02-26 14:26] #1821 closed

[2016-02-26 14:40] CDPotter opened #1935 "Bug, approved progs DWP pends SNAP approved, type mismatch"
Getting another type mismatch error on a case where SNAP was approved but DWP pends for 02/16.

I tried running it from self with 03/16 as the month, only SNAP selected, and the requested start month of 02/16. Not sure why it's trying to go to 00/11...  Looking into it but has anyone else hit this?

![2016-02-26 08_38_17-inbox - charles potter co anoka mn us - outlook](https://cloud.githubusercont

[2016-02-26 14:41] theVKC commented on #1935
Is there a chance footer_month is getting an extra zero? I.e. it's "001" instead of "01"?

[2016-02-26 14:46] CDPotter commented on #1935
ELIG coordinates might have moved....

[2016-02-26 14:47] theVKC commented on #1935
If this is the case it should be happening very frequently and should be easy to replicate.

[2016-02-26 14:47] CDPotter commented on #1935
scratch that. it couldn't get to elig DWP and got stuck on just elig where its 55 and 57. Still investigating...

[2016-02-26 14:48] courtrightd commented on #1935
I had that error reported, but didn’t get a case number so couldn’t track it.  Pretty sure it was a pending DWP case as well.

From: Charles P [mailto:notifications@github.com]
Sent: Friday, February 26, 2016 8:46 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Subject: Re: [DHS-MAXIS-Scripts] Bug, approved progs DWP pends SNAP approved, type mismatch (#1935)

ELIG coordinates might have moved....

—
Repl

[2016-02-26 16:07] C-Love commented on #1935
@CDPotter  - I have a thought. I think it tries to navigate to elig DWP first and THEN change footer months - so if elig/dwp doesn't exist in the first month of the package it gets all wonky - so it could change to elig/sum first and then change the footer month and THEN go to the right elig program - I think that would fix it

[2016-02-26 16:11] CDPotter commented on #1935
I just added a new condition to each ELIG section read that the appropriate program must be selected to even try to look for results. It seemed to be working when I tested it on the offending case and an mfip case and a snap only case.

[2016-02-26 18:25] theVKC commented on #1935
I can't imagine a situation in which @CDPotter's solution doesn't work. @C-Love, are you OK with this solution? Does that sound like it'd do the job?

[2016-02-26 18:33] CDPotter commented on #1935
Only situation I can think of is if someone checked the program box but there weren't results causing a deailing (in which case that's user error)

[2016-02-26 18:34] C-Love commented on #1935
Sounds good @CDPotter - best of all worlds I think.

[2016-02-26 18:35] theVKC commented on #1935
Wonderful. Thanks team!

[2016-02-26 18:37] #1935 closed

[2016-02-26 21:20] MelissaFox-Stearns opened #1937 "New Script- Interview Scheduled"
this is something I've wanted to work on for a long time but I've been holding off for some reason. I would like to create a comprehensive Interview Scheduled script that includes CAF information, eDRS check, expedited screening, and the Appointment Letter memo.  Maybe even an action script to update Type and Prog?

I started an idea list of things that I would like to see in the script.

- [ ] Ph

[2016-02-26 22:12] theVKC commented on #1937
1. I love it.
2. Sounds like it fits into Project Bowie pretty well. Chainlinking FTW.
3. I'd like to hear from @ruthmaloney on any SNAP-specific pieces that we might be interested in incorporating.

[2016-02-26 22:13] theVKC commented on #1937
(Tagged as both ACTIONS and NOTES, but the actual scope may vary)

[2016-02-27 02:21] #1932 closed

[2016-02-27 02:23] theVKC opened #1938 "Assorted updates needed across all scripts"
We should time this for a Monday hackathon, especially one in which there's a release (next DHS hackathon).

- [x] Update FuncLib block to remove the term "Alpha Users" and shorten the MsgBox (IT folks don't need to be involved, errors seldom come up and I am not hearing of HTTP errors)
- [x] Update all instances of `case_number` to read `MAXIS_case_number`
- [x] Update all instances of `footer_mo

[2016-02-27 19:12] LaLarson opened #1939 "NOTES - Foster Care HCAPP (Add instructions and script info to dialog.)"
Similarly to the MTAF script I would like to enhance the dialog for this script to include a little more information/instruction as well as tighten up a few areas so that it displays better on small screens. If you could assign this to me, that would be great! I would like to work on this when I get to my new job at Olmsted!

[2016-02-27 19:13] theVKC commented on #1939
I like it! Go forth!

[2016-02-27 19:53] theVKC opened #1940 "UTILITIES - INFO: Update @LaLarson's contact info once she gets to her new position"
Just to make sure it stays consistent. @LaLarson: do you want to take this one?

[2016-02-29 15:06] CDPotter opened #1941 "BUG CAF not reading WREG months"
We changed the variable footer_month to MAXIS_footer_month in the CAF but the autofill functions all still use footer_month. Should we just change CAF back to footer_month? PRISM doesn't use footer_months so we don't need to differentiate.

[2016-02-29 15:07] theVKC commented on #1941
Yes for now. We can transition them later. Pick a standard and do a massive find-replace across all scripts.

[2016-02-29 15:07] theVKC commented on #1941
Do you want it?

[2016-02-29 15:08] CDPotter commented on #1941
On it. Release as well?

[2016-02-29 15:09] theVKC commented on #1941
Do you think it matches the critical criteria? It doesn't sound critical to me... can't workers manually fill them in?

[2016-02-29 15:10] CDPotter commented on #1941
They can, depends on if they notice. I'll pull to Master.

[2016-02-29 15:10] RobertFewins-Kalb commented on #1941
I have to ask why we're bothing with "MAXIS_footer_month." You can't tell PRISM what month to work in.

[2016-02-29 15:53] theVKC commented on #1941
I'm wanting to move toward MAXIS-specific variables having MAXIS_* at the front, for starters. Something that can be used in multiple scripts/functions should be globally defined and standardized, and this sets a good precedent for instances where there is a difference (i.e. MAXIS_case_number vs PRISM_case_number). If all MAXIS-specific cross-functional variables are predefined somewhere, it's cle

[2016-02-29 16:04] #1941 closed

[2016-02-29 17:35] theVKC commented on #1938
OK, updating this to reflect a lot more work that should be done.

I'd like to do the following:
- [ ] Update FuncLib block to remove the term "Alpha Users" and shorten the MsgBox (IT folks don't need to be involved, errors seldom come up and I am not hearing of HTTP errors)
- [ ] Update all instances of `case_number` to read `MAXIS_case_number`
- [ ] Update all instances of `footer_month` to read

[2016-02-29 20:47] courtrightd opened #1943 "Notes - Approved Progs bug w/ banked month db"
Script has an error when attempting to update banked month database for less than 3 months.  I believe this would only effect SLC at this time, assign to me please.

[2016-03-01 18:57] Kolbwalt opened #1945 "HCAPP and HC Renewal script: new editbox for "Collateral Contact for Verification info"."
We recently had a Health Care Audit and in the audit we received an error due to not case noting our collateral contact information for verification.  It is in policy that we are to case note the collateral contact information for Health Care and it’s stated in the combined manual to enter a description in the case file regarding the collateral contact.  During our Whole Unit Meeting, it was asked

[2016-03-01 20:07] IlseFerris opened #1946 "New inhibiting errors for WREG panel"
This is from the SIR announcement dated today. Can anyone think of any script that this could effect?

 EXISTING DJ13 WREG EDIT & NEW DJ19 WREG EDIT
Body EXISTING DJ13 WREG Inhibiting Background Edit, “FS WORK REG STATUS SHOWS AGE 50-59 BUT MEMB AGES DOES NOT”:

SNAP E&T policy states that SNAP unit members age 50-59 are EXEMPT from SNAP E&T participation.  This policy includes unit members who tu

[2016-03-01 20:07] IlseFerris opened #1947 "New inhibiting errors for WREG panel"
This is from the SIR announcement dated today. Can anyone think of any script that this could effect?

 EXISTING DJ13 WREG EDIT & NEW DJ19 WREG EDIT
Body EXISTING DJ13 WREG Inhibiting Background Edit, “FS WORK REG STATUS SHOWS AGE 50-59 BUT MEMB AGES DOES NOT”:

SNAP E&T policy states that SNAP unit members age 50-59 are EXEMPT from SNAP E&T participation.  This policy includes unit members who tu

[2016-03-01 20:07] #1947 closed

[2016-03-01 20:07] IlseFerris commented on #1947
Somehow (because technology hates me) a second issue was made.

[2016-03-01 20:42] StormageddonDLOA opened #1948 "adding the WCOM not working on Notes-MFIP Sanction DWP Disqualification script"
Option when checking to add a WCOM to the approved elig notice not working.

Found the issue and will be putting in a fix.

[2016-03-02 13:52] CDPotter commented on #1945
What do you mean by collateral contact information?

[2016-03-02 13:56] CDPotter commented on #1946
Nothing jumping to mind STAT edits like this would only affect someone trying to get to elig results. with a script (for example if someone coded a case wrong in Krabappel and tried to approve inhibited nonexistent results). I think any issue would be chalked up to worker error.

Also yay for finally adding these edits! Let's hope they keep adding the rest.

[2016-03-02 14:00] Kolbwalt commented on #1945
If there could be a “collateral Contact for verification” section added to case notes.  Example would be, I called the employer and spoke to Terri and verified that they make $12 per and will be working 20 hours per week.  We wouldn’t have any paperwork in the file to support this, just the phone call that was made.  If it isn’t case noted how to do we know where we got this information.  (This ho

[2016-03-02 14:55] CDPotter commented on #1945
Ah ok, that makes sense. I've always just used/instructed people to use NOTES - Client Contact anytime contacting someone outside of the agency.

[2016-03-02 17:24] IlseFerris commented on #1946
I was thinking the same thing. I'll close the issue.
And yay for inhibiting edits!!!!

[2016-03-02 17:24] #1946 closed

[2016-03-02 17:50] theVKC commented on #1947
#1946 was the duplicate.

[2016-03-02 17:51] theVKC commented on #1946
I feel like we might have helped make this happen, team.

[2016-03-02 17:53] #1943 closed

[2016-03-02 18:00] IlseFerris opened #1952 "Utilities script idea: POLI/TEMP list"
Hennepin county keeps a list of POLI/TEMP topics on an excel spreadsheet, and has made this available to users in the HSR manual. This has been very valuable since it can be searched easily. I have this one in the hopper already, and have been using it locally.
Thoughts on it's usefulness to other counties?

[2016-03-02 18:01] IlseFerris opened #1953 "Combined AR enhancement: add check eDRS checkbox"
Received a request to have the combined AR script include an eDRS checkbox. I think it's a great reminder, and should be added.

[2016-03-02 18:04] IlseFerris opened #1954 "Interim Assistance Agreement script idea"
Request from Hennepin County: We are wondering if there is a GA/GRH IAA Blue Zone case note.  One that can take the worker to the following steps
1.	Update the PBEN panel
2.	Entering a case note
3.	Dail writ the case if the IAA is not returned in 30 days

This should also include an option to case note if it's for a new application or renewal. Thoughts?

[2016-03-02 18:05] theVKC commented on #1945
I like it in the case note because it reminds people to do it. I'm pretty strongly in favor. Anyone want it?

[2016-03-02 18:06] IlseFerris opened #1955 "Change reported enhancement: reminder to add baby born to mom MHC plan"
Request from worker to have a checkbox/line in case note that the newborn's managed health care plan was updated to the same as mom's carrier.

 Could be a good reminder/nudge in the right direction for workers.

[2016-03-02 18:14] #657 closed

[2016-03-02 18:15] theVKC commented on #1952
How would it be worked into a script?

[2016-03-02 18:15] theVKC commented on #1952
Also, I'm only assigning management of the question to you. :P

[2016-03-02 18:16] theVKC commented on #1953
Seems easy. Anyone looking for an easy win?

[2016-03-02 18:16] theVKC commented on #1954
Sounds like an ACTIONS script if it's updating PBEN each time. Any thoughts on that?

[2016-03-02 18:17] theVKC commented on #1955
Seems easy. Any takers?

[2016-03-02 18:20] #1948 closed

[2016-03-02 18:24] IlseFerris opened #1956 "Transfer case enhancement: add reminder to send electronic file"
Requested by Hennepin county worker:

Add a reminder in the script_end_procedure message to send the electronic case file to the next county.

[2016-03-02 18:25] theVKC commented on #1956
This should be easy. Who wants it?

[2016-03-02 18:28] IlseFerris commented on #1952
Thanks for the clarification of the issue assignment ;P

It just creates a list of the POLI TEMP topics, reference # and date updated. Users can search the document for keywords, topic title, or most updated.
Run time is 13 seconds, so it can save users time fooling around looking for what they need in POLI/TEMP.

![poli temp](https://cloud.githubusercontent.com/assets/10836829/13470533/396e2486-e

[2016-03-02 18:32] IlseFerris commented on #1954
Agreed, I think ACTION is appropriate

[2016-03-02 18:32] CDPotter commented on #1956
I can knock it out quickly.

[2016-03-02 18:35] IlseFerris opened #1958 "Proof of relationship enhancement: handling for multiple HH members"
Request from Hennepin County user:
Is there a was the relationship proof script can look like this when there are multiple household members instead of it only being able to log one child at a time …

I think it's a good idea.

[2016-03-02 18:39] CDPotter commented on #1945
@theVKC are you seeing this as a brand new script? or an enhancement to NOTES - client contact?

[2016-03-02 18:41] theVKC commented on #1952
Oh, so it's a script that generates this Excel sheet? Or just links to it? Does it look in POLI/TEMP or does it just bring up a link?

[2016-03-02 18:42] theVKC commented on #1954
Anyone want it?

[2016-03-02 18:42] theVKC commented on #1958
Not sure at all what this is doing. You don't have much info in this comment and a misspelling in the title, @IlseFerris. :P

[2016-03-02 18:44] IlseFerris opened #1959 "Call for input: new script to enter spenddown info into MMIS"
Request from Hennepin county user:
Is there a way we could create a spenddown script, where it would take the excess income portion off of BSUM in Maxis and then update RSPD in MMIS?

I'm hesitant about this one since:
1. MMIS is a real challenge to input into manually, let alone trying to code in.
2. SD vs. recipient amounts can be vastly different from each other.
3. MMIS has about a thousand in

[2016-03-02 18:44] theVKC commented on #1945
Neither. Not on NOTES - CLIENT CONTACT at all. I think we want it on the HCAPP and HC Renewal script as a new editbox called "Collateral Contact for Verification".

Any takers?

[2016-03-02 18:46] theVKC commented on #1959
I think it might be beyond scope without a formal MMIS scriptwriter. That's my take on it. If a county wants to champion it I could see it, but I would worry it'd be super error prone.

Any other thoughts, team?

[2016-03-02 18:46] theVKC commented on #1959
Also, these "call for input" things might be better suited for Slack. :P

[2016-03-02 18:46] CDPotter commented on #1959
I'd err on the side of it's too error prone to program.

[2016-03-02 18:48] #1956 closed

[2016-03-02 18:52] IlseFerris commented on #1952
Yes, it generates the list in Excel from POLI/TEMP. No link, just grabbing what is currently in POLI/TEMP.

[2016-03-02 18:53] theVKC commented on #1952
Love it. I'll remove "question". Can't wait to see it.

[2016-03-02 19:04] IlseFerris commented on #1959
I agree, too much to support at this time. I'll close the issue. Thanks team!

[2016-03-02 19:04] #1959 closed

[2016-03-02 19:19] IlseFerris commented on #1958
The current script only allows one HH member to be case noted at a time. Worker has requested that the script be able to case note proof of relationship on multiple household members in a single case note.

And apologies for the sloppy issue verbiage #TooManyBallsInTheAir

[2016-03-02 19:21] theVKC commented on #1958
Much better. Any takers?

[2016-03-02 19:27] Y-Lor-Y commented on #1952
Also this is something that is very helpful especially for SNAP.

Known Problems Affecting SNAP Elig.  TE02.06.02

[2016-03-02 19:59] #1952 closed

[2016-03-02 20:08] IlseFerris opened #1962 "Add "sent 5181 to case manager" checkbox on LTC scripts"
This enhancement came from Stearns Count.
Request to have a check box/ case note line for "sent 5181 to case manager"

Scripts included in this would be:
NOTES - LTC - 1503
NOTES - LTC - ASSET ASSESSMENT
NOTES - LTC - MA APPROVAL
NOTES - LTC - RENEWAL

[2016-03-02 20:18] IlseFerris commented on #1954
I can take it unless someone else is interested

[2016-03-02 20:20] theVKC commented on #1962
Anyone want it?

[2016-03-03 20:52] #1887 closed

[2016-03-03 21:08] theVKC opened #1964 "Training Case Creator: needs an MSA case"
Spinning this off as a separate issue from #53, because it is unlikely this will be done by the March deadline I set.

@courtrightd has taken this on, and we'll time it for the April release. Yay!

[2016-03-03 21:09] theVKC commented on #53
FYI all: if everything goes right I will be pushing this out. Tonight. Eeek.

[2016-03-03 22:25] CDPotter commented on #53
Noticing a problem with Bdays, Any non-Anoka ones have had the dates converted by excel from 01/12 to Jan-12.

[2016-03-03 22:37] theVKC commented on #53
Can we add that to the validation?

[2016-03-03 22:40] CDPotter commented on #53
Possibly? Can you restrict something to MM/DD format? I know you can do date but that would include YYYY and the script isn't set to handle that.

[2016-03-03 22:53] theVKC commented on #53
Maybe. Maybe the format for the cell can just be customized?

[2016-03-03 22:58] CDPotter commented on #53
Looks like I can make a custom one. I'll update the file on github. @IlseFerris I'll update the file you're working off of as well and email it back to you. @theVKC can I email the file to you to upload to github?

[2016-03-03 22:59] theVKC commented on #53
Sure thing.

[2016-03-04 01:20] theVKC opened #1965 "Global Variables: run_locally script_repository needs another slash to match logic for non-local users"
Basically, the run_locally script_repository directory doesn't have a slash at the end. This messes with DAIL scrubber testing. On it.

[2016-03-04 01:31] #1965 closed

[2016-03-04 12:12] IlseFerris commented on #53
@CD you're amazing!

[2016-03-07 16:22] RobertFewins-Kalb opened #1967 "Enhancement -- DAIL >> Citizenship Verified"
A case reviewer in Anoka has noticed a common error on cases involving the citizenship verified DAIL scrubber. The user has been allowing the script to put "OT" as the verif code for all persons in the household when we have a specific verif on file for the client's citizenship. The assumption is that the user did not double check who needed to be updated and had the script update for all peeps. A

[2016-03-07 16:28] CDPotter opened #1968 "Enhancement: REVW/MONT Closure reapply verbiage."
We were wondering if we could change the verbiage from

"* Client needs to reapply for HC after (intake date)"

to

"Client needs to turn in new application for HC after (intake date)"

We've been getting some concerns about the verbiage. For example on a HC renewal that closed the client can turn in a HC renewal form after closure and the case would be reapplied in the renewal month rather than r

[2016-03-07 16:33] CDPotter commented on #1968
NOTES: Closed progs has this "(intake date) after which a new HCAPP is required."

[2016-03-07 20:07] CDPotter commented on #1879
Ok! So after some wrestling with the denied progs dialog (that intake dates bit makes it a pain!) Here is what I have for a revamp so far:

If intake dates = TRUE
![2016-03-07 13_52_09-denied progs dialog](https://cloud.githubusercontent.com/assets/7841989/13581538/f537266a-e46c-11e5-9113-cbccb34453fa.png)

If intake dates = FALSE
![2016-03-07 13_59_01-denied progs dialog alt](https://cloud.github

[2016-03-07 20:14] IlseFerris commented on #1879
That is awesome! Great looking dialogs too

[2016-03-07 21:43] CDPotter commented on #1879
Hitch in the plan, HC doesn't allow for PND2 denials/withdraw. Maybe change "Other Reasons" to "Other/Health Care" reasons?

[2016-03-08 14:55] theVKC commented on #1968
Works for me. Do you want it, @CDPotter?

[2016-03-08 14:56] theVKC commented on #1879
Agreed, @CDPotter.

[2016-03-08 15:03] #1967 closed

[2016-03-08 18:30] GayS commented on #1962
I can take issue #1962  to work on at the 3/14 hack a thon.

[2016-03-09 13:28] theVKC commented on #1962
Woohoo! Thanks @GayS!

[2016-03-09 13:29] IlseFerris commented on #1962
Looking at my notes it looks like Christine wanted this added to the NOTES - CLOSED PROGRAMS script and NOTES - INTAKE APPROVAL (although it may already be on that script)

[2016-03-09 13:31] CDPotter commented on #1968
Sure assign it to me. I probably can't get to it today (interview day) but I will knock it out when I've got a chance.

[2016-03-09 13:39] theVKC commented on #1962
For closed programs, it would make sense to have it in a groupbox labeled "For LTC cases", right?

[2016-03-09 14:21] GayS commented on #1962
got it -

[2016-03-09 16:04] CDPotter opened #1970 "BUG: DAIL - SEND NOMI not entering dates right"
I was running the dail scrubber on my revs scrubber messages (granted I don't remember if we used a local version of revs scrubber) and the client didn't turn in CAF so I selected don't sent nomi option. It entered this as the case note.

![2016-03-09 10_03_20-s1 - anoka desktop - anoka scripted desktop - bluezone mainframe display](https://cloud.githubusercontent.com/assets/7841989/13641484/2fff9

[2016-03-09 16:05] theVKC commented on #1970
Because this script isn't live yet, I am closing this issue. Please report it on issue #710.

[2016-03-09 16:06] theVKC commented on #1970
Wait! I take it back, this is for the DAIL portion!

[2016-03-09 16:06] theVKC commented on #1970
@CDPotter or @IlseFerris: either of you want to fix it?

[2016-03-09 16:08] CDPotter commented on #1970
Taking the moment of the missed interview to look at code it looks like the dail message is still the same in the REVS scrubber as what I got. So It looks like the DAIL scrubber portion is just truncating things oddly.

I could probably look at it tomorrow, today is a wash for scripting. @IlseFerris if you can knock it out today go for it.

[2016-03-09 16:10] theVKC commented on #1970
I'm guessing the TIKL from REVS Scrubber should have a standard MM/DD/YYYY format. This one didn't, so it broke the SEND NOMI function? That's my hunch. If we standardize the date length at MM/DD/YYYY and not M/D/YYYY I bet it'll work.

[2016-03-09 16:11] IlseFerris commented on #1970
I'm tied up for the next 2 days straight. If you can tackle this one @CDPotter  that would be amazing!

[2016-03-09 16:12] CDPotter commented on #1970
I'll look at it tomorrow then.

[2016-03-09 16:13] theVKC commented on #1970
In any case, I think the REVS TIKL should always follow a standard MM/DD/YYYY format. I'll add that to the Mic Drop to-do.

[2016-03-10 15:06] CDPotter opened #1972 "Enhancement: notes acronym expansion"
I noticed that on NOTES there were a few acronyms people may not know. I was thinking I could update the descriptions to include the full name since in many case it says things like Template for the CSR and has plenty of room.

Examples I found were CSR MTAF OHP and ICAMA

Thoughts or suggestions for others?

[2016-03-10 15:09] theVKC commented on #1972
I like the idea just fine. Less acronyms reduces confusion, generally. :)

Only concern about the NOTES menu structure (at this point) is that the function I created enters everything in one line. Obviously we have troubles with word-wrapping those text fields in the function as-written.

Perhaps this should also dynamically reconfigure the text fields to a new size if x-many characters are presen

[2016-03-10 15:14] CDPotter commented on #1972
Well the ones I listed have plenty of room to expand but that is definitely something we could look at. Though it might make things unnecessarily complicated?

[2016-03-10 15:18] theVKC commented on #1972
Maybe for this issue we skip it, but I want to try and add this feature to the function.

[2016-03-10 15:19] CDPotter commented on #1972
Sounds good. Definitely something to keep in the back of our minds!

[2016-03-10 20:10] RobertFewins-Kalb opened #1975 "Bug -- LEP Sponsor Income income standards have changed"
An Anoka LEP worker has notified me that the income standards have changed and the script is not up to date. See: CM 19.06

What are peeps' thoughts on adding constants like this to the FuncLib? That way, during COLA, we are able to catch all the changing income standards at once instead of updating scripts piecemeal.

[2016-03-14 13:37] StormageddonDLOA commented on #1953
I can take it.

[2016-03-14 14:08] MelissaFox-Stearns opened #1977 "Update Check_for_password function in scripts"
Update all or most scripts to add the check_for_password function since more counties are moving to Bluezone version 6.
The following is the prioritized list:

- [ ] ACTIONS - ABAWD Screening Tool
- [ ] ACTIONS - New Job Reported
- [ ] ACTIONS - Paystubs Received
- [ ] NOTES - Approved Programs
- [ ] NOTES - Change Report Form Received
- [ ] NOTES - Change Reported
- [ ] NOTES - Client Contact
- [

[2016-03-14 14:20] IlseFerris opened #1978 "Remove CS disregard fiater from existence"
MAXIS has now been updated to handle this. It needs to be removed since running it over the cases since 10/15 will cause the disregard to be duplicated.

[2016-03-14 14:24] MelissaFox-Stearns opened #1979 "Add "used interpreter" check box to Client Contact and CAF script"
Add a checkbox to client contact script and CAF script for when an interpreter is used.

[2016-03-14 14:27] theVKC commented on #1977
We need to identify scripts that are affected, and seek out a BlueZone customization solution if possible. @C-Love: I hear you have a script list?

[2016-03-14 14:29] theVKC commented on #1978
This is critical as it's a major policy issue if the script is duplicating a benefit.

[2016-03-14 14:32] theVKC commented on #1979
Do you want this one, @MelissaFox-Stearns?

[2016-03-14 14:35] CDPotter commented on #1978
We also gotta remove the WCOM(s) for it. I know approved progs has it in there.

[2016-03-14 14:38] theVKC commented on #1978
I think the WCOMs would not be considered critical (avoiding merge conflicts). Separate issue might be helpful just to distinguish.

[2016-03-14 14:39] IlseFerris opened #1980 "Remove CS disregard WCOM from scripts"
MAXIS also updated the notice so this is no longer needed.

[2016-03-14 14:41] CDPotter commented on #1978
Sounds good, I can tackle that one as I have a chance at the moment.

[2016-03-14 14:41] CDPotter opened #1981 "Remove CS disregard WCOM from Approved Progs"
CS disregard WCOM is added to notice by MAXIS. Removing WCOM option from Approved Progs.

[2016-03-14 14:43] C-Love opened #1982 "Add error handling to NOTES - CAF for TIKL checkbox"
Currently if the 'TIKL to deny at 30/45 days' is checked and the CAF is more than 30 days old, the script errors out. We should add error handling so that the information in the CAF script is not lost.

[2016-03-14 14:48] MelissaFox-Stearns commented on #1979
Yes please!

[2016-03-14 14:49] C-Love opened #1984 "New Hire DAIL Scrubber - Hire date is 'UNKNOWN'"
New wording on the new hire messages say 'DATE HIRED: UNKNOWN' instead of 'DATE HIRED:   -  -   '.

![date hired - unkknown - redacted](https://cloud.githubusercontent.com/assets/13418322/13748242/f750f996-e9c9-11e5-84b5-672d2977c547.JPG)

[2016-03-14 14:55] C-Love commented on #1958
I will take this - for April release

[2016-03-14 14:57] StormageddonDLOA commented on #1955
I'll take it.

[2016-03-14 15:00] GayS opened #1985 "Notes - Good Cause Results"
add a case note for the determination of good cause claimed.

[2016-03-14 15:02] GayS commented on #1985
I have this #1985 completed and will upload to master branch.

[2016-03-14 15:09] theVKC commented on #1945
@Kolbwalt: @MelissaFox-Stearns is going to be contacting you for more info on this. Yay!

[2016-03-14 15:41] theVKC opened #1987 "Goodhue County address updates"
Goodhue County has moved:

Needs updating in Appointment Letter.

[2016-03-14 16:20] Kolbwalt commented on #1945
Awesome!  ☺

From: Veronica Cary [mailto:notifications@github.com]
Sent: Monday, March 14, 2016 10:10 AM
To: MN-Script-Team/DHS-MAXIS-Scripts
Cc: Kolb, Karrie (CO-Isanti)
Subject: Re: [DHS-MAXIS-Scripts] HCAPP and HC Renewal script: new editbox for "Collateral Contact for Verification info". (#1945)

@Kolbwalt<https://github.com/Kolbwalt>: @MelissaFox-Stearns<https://github.com/MelissaFox-Stearns>

[2016-03-14 16:34] StormageddonDLOA opened #1993 "New script idea - detailed returned mail scipt"
This wouldn't be a bulk script but would be a case specific script that would go into much greater case note detail for the counties that like that info.  I'll take it.

[2016-03-14 16:36] #1970 closed

[2016-03-14 16:37] #1968 closed

[2016-03-14 16:38] #1972 closed

[2016-03-14 16:40] #1981 closed

[2016-03-14 16:43] #1975 closed

[2016-03-14 17:11] #1979 closed

[2016-03-14 17:13] theVKC opened #1998 "Update ACTIONS main menu to have the new look/feel"
This will give me a chance to test my function, so I'll take it.

[2016-03-14 17:14] theVKC opened #1999 "Project Gorbachev: break up the CAF script into smaller chunks"
The smaller chunks should be able to run other scripts as needed. For example, pulling up the NOTICES menu for sending some notices. This will require updates to script_end_procedure and run_from_github functions.

[2016-03-14 17:15] theVKC opened #2000 "Project Bowie: turn "changes reported" into a dashboard that can run other change-reported scripts"
It's time.
- [x] Create dialog which displays "change reporting" scripts (@theVKC)
- [x] Make dialog have the ability to select multiple scripts to run (i.e. a workflow) (@theVKC)
- [x] Dialog should allow a script to run multiple times, and that functionality should actually factually work (@theVKC)
- [x] Dialog should link back to SIR instructions for each script (@theVKC)
- [x] All change repor

[2016-03-14 17:16] IlseFerris opened #2001 "MFIP housing grant finder"
BULK list that will assist in identifying cases that are eligible for housing grant because they meet an exemption. Script will pull cases into Excel that meet an exemption/potential exemption, and that are coded as "Y" for sub housing on the SHEL panel. The script will also pull in the payments issued over the rolling 12 months so that supplements/overpayments can be identified with ease.

[2016-03-14 17:53] #1980 closed

[2016-03-14 17:55] #1978 closed

[2016-03-14 17:56] #1987 closed

[2016-03-14 17:59] #1953 closed

[2016-03-14 18:02] #1955 closed

[2016-03-14 18:06] #1984 closed

[2016-03-14 18:12] theVKC commented on #1714
I wasn't able to test this well enough, so I'm moving it to the April release. @courtrightd: if you're holding messages, don't. But, I may want more messages next month if you're willing to oblige.

[2016-03-14 18:43] #1806 closed

[2016-03-14 18:43] #1917 closed

[2016-03-14 18:50] theVKC commented on #1879
Any update on this, @CDPotter? Think we should delay it until the April release?

[2016-03-14 18:52] CDPotter commented on #1879
May as well. I've got the dialog working, but gotta rethink the way HC works. What do people there think of the format?

[2016-03-14 20:08] C-Love commented on #1879
I like the layout. I think it adds an additional level of detail about denials. I think the additional logic around connecting to the notices will be wonderful.

[2016-03-14 20:24] StormageddonDLOA opened #2006 "Housing Grant FIATer update"
Make the HAG FIATer able to only FIAT a single month OR multiple months.

I'll take it.

[2016-03-14 20:46] theVKC opened #2008 "Bug with BrowseForFile"
So I discovered an issue with BrowseForFile as indicated in the EOMC script and elsewhere.

If your computer defines the default folder in a space that isn't "Computer" (i.e. "My Computer", "HS#######", etc.)

I discovered (via Googling) a new method which seems to call up HTML (and by extension, Javascript) which loads the a proper save/load dialog and exports it as a variable. Confirmed to be wo

[2016-03-14 20:49] CDPotter commented on #2008
If my memory is correct BULK MEMO/TIKL/CASE NOTE FROM LIST are the only 3 that use it currently that I added. So those 3 and the EOMC one.

[2016-03-14 20:54] RobertFewins-Kalb commented on #2008
That sounds about right, unless any other script writer snuck the function into another script that we don't know about.

[2016-03-14 21:00] #1993 closed

[2016-03-14 21:06] RobertFewins-Kalb opened #2009 "Enhancement -- Add an additional check_for_MAXIS in Paystubs Received"
A worker reported they took too long to enter pay information in the Paystubs received script and when they hit OK, MAXIS had timed out. In the resulting chaos, they were suspended from MAXIS.

Looking through the code, I can see where the check_for_MAXIS should go.

I got this.

[2016-03-14 21:06] RobertFewins-Kalb commented on #2009
I'll put this only in MASTER unless you want me to put it in release as well, @theVKC.

[2016-03-14 21:11] theVKC commented on #2008
This new one is slick-as-all-get-out, folks.

[2016-03-14 21:28] theVKC commented on #2008
Here it is with some comments:

[code]

[2016-03-14 21:35] theVKC commented on #2009
I'm closing this as a wontfix, @RobertFewins-Kalb. See #1977. There are v6 issues with check_for_MAXIS and as agencies are upgrading their BlueZone more are seeing this. The way we should resolve this issue should be with that new function.

[2016-03-14 21:35] #2009 closed

[2016-03-14 21:37] Y-Lor-Y commented on #1730
FYI - Update:

I'm basically done with the script.  I need to finish the instruction, which is almost done, too...then will need to submit the script and instruction one go.  Shooting to have it complete this coming Friday 3/18/16.  Thanks.

[2016-03-14 21:49] CDPotter commented on #2009
What new function?

[2016-03-15 03:59] theVKC commented on #2009
check_for_password

[2016-03-15 13:58] RobertFewins-Kalb commented on #2008
Hell yeah! That is slick.

[2016-03-15 17:03] MelissaFox-Stearns opened #2011 "NOTES- Changes Reported/ HH Comp- Doesn't case note Actions Taken"
Just found out that the Changes Reported script under HH Comp Change does not case note the Actions Taken part of the dialog.

[2016-03-15 20:28] courtrightd opened #2012 "NOTICES - MFIP Orientation not entering user entered addresses into memo"
If the user uses the dropdown, the address updates, but if they then change it, the original address is printed on the memo.  If they enter an address without using the dropdown, nothing prints on the memo.

[2016-03-16 13:00] suzchik19 opened #2013 "CAF script - add HC form option"
Hello -
Please add the DHS 3727 (Certain Pops renewal) to the Drop-down list for HC recert documents.
Thanks,
Susie - Dakota County

[2016-03-16 13:40] theVKC commented on #2013
Hi Susie! GitHub isn't exactly a "request it and we do it" system. It's more of a discussion forum, and if there is interest from scriptwriters (and their agencies), we modify scripts with ideas posted here.

That having been said, any interest from scriptwriters in adding this?

[2016-03-16 13:41] theVKC commented on #2012
Hmmm. Issue with the variables, perhaps? Want to take it?

[2016-03-16 13:42] theVKC commented on #2011
Want to fix it, @MelissaFox-Stearns?

[2016-03-16 13:47] theVKC commented on #1999
Targeting this major piece for the May release.

[2016-03-16 13:47] theVKC commented on #2000
Targeting this for the May release.